Repository JuliaLang/julia, changes with the labels that .github/labeler.yml gives for each.
All labels: compiler, runtime, base, stdlib, arrays, strings, io, math, sorting, threading, gc, loading, reflection, tests, ci, docs, deps, build, jll, windows, macos, linux, performance, llvm, blas, breaking

Propagate Addrspaces: fix lift of memset
  src/llvm-propagate-addrspaces.cpp
Labels: runtime, llvm

remove a testset from MMAP that might cause CI to now fail on Windows (#59062)
  stdlib/Mmap/test/runtests.jl
Labels: stdlib

Small change to docs for module import syntax
  doc/src/manual/modules.md
Labels: docs

Debug tests
  test/trimming/Makefile
  test/trimming/trimming.jl
Labels: tests

debug windows failure
  stdlib/REPL/test/bad_history_startup.jl
Labels: stdlib

Remove project
  test/trimming/Makefile
Labels: tests

Add comment back
  base/scopedvalues.jl
Labels: base

Update base/scopedvalues.jl
  base/scopedvalues.jl
Labels: base

updated the labeler yml
  .github/workflows/LabelCheck.yml
  .github/workflows/labeler.yml
Labels: ci

.github/labeler.yml:

# Configuration for automatic PR labeling based on file paths
# See: https://github.com/actions/labeler

# Core system components
"compiler":
  - changed-files:
    - any-glob-to-any-file:
      - 'Compiler/**/*'
      - 'src/julia-parser.scm'
      - 'src/julia-syntax.scm'
      - 'src/flisp/**/*'

"runtime":
  - changed-files:
    - any-glob-to-any-file:
      - 'src/**/*.c'
      - 'src/**/*.cpp'
      - 'src/**/*.h'
      - 'cli/**/*'

"base":
  - changed-files:
    - any-glob-to-any-file: 'base/**/*'

"stdlib":
  - changed-files:
    - any-glob-to-any-file: 'stdlib/**/*'

# Specific functional areas
"arrays":
  - changed-files:
    - any-glob-to-any-file:
      - 'base/array*.jl'
      - 'base/abstractarray*.jl'
      - 'base/broadcast.jl'
      - 'base/multidimensional.jl'
      - 'base/subarray.jl'
      - 'base/reshapedarray.jl'
      - 'base/reinterpretarray.jl'
      - 'base/permuteddimsarray.jl'
      - 'base/views.jl'

"strings":
  - changed-files:
    - any-glob-to-any-file:
      - 'base/strings/**/*'
      - 'base/regex.jl'
      - 'base/char.jl'

"io":
  - changed-files:
    - any-glob-to-any-file:
      - 'base/io*.jl'
      - 'base/stream.jl'
      - 'base/filesystem.jl'
      - 'base/file.jl'

"math":
  - changed-files:
    - any-glob-to-any-file:
      - 'base/math*.jl'
      - 'base/special/**/*'
      - 'base/float*.jl'
      - 'base/int*.jl'
      - 'base/rational.jl'
      - 'base/complex.jl'
      - 'base/rounding.jl'

"sorting":
  - changed-files:
    - any-glob-to-any-file:
      - 'base/sort.jl'
      - 'test/sorting.jl'

"threading":
  - changed-files:
    - any-glob-to-any-file:
      - 'base/thread*.jl'
      - 'base/lock*.jl'
      - 'base/condition.jl'
      - 'base/channels.jl'
      - 'base/asyncmap.jl'
      - 'base/partr.jl'

"gc":
  - changed-files:
    - any-glob-to-any-file:
      - 'base/gcutils.jl'
      - 'src/gc*.c'
      - 'src/gc*.h'

"loading":
  - changed-files:
    - any-glob-to-any-file:
      - 'base/loading.jl'
      - 'base/precompilation.jl'
      - 'base/sysimg.jl'

"reflection":
  - changed-files:
    - any-glob-to-any-file:
      - 'base/reflection.jl'
      - 'base/methodshow.jl'
      - 'base/show.jl'

# Testing and CI
"tests":
  - changed-files:
    - any-glob-to-any-file: 'test/**/*'

"ci":
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*'
      - '.buildkite/**/*'
      - 'contrib/**/*'

# Documentation
"docs":
  - changed-files:
    - any-glob-to-any-file:
      - 'doc/**/*'
      - '**/*.md'
      - 'base/docs/**/*'

"doctests":
  - changed-files:
    - any-glob-to-any-file:
      - 'doc/**/*.md'
      - 'base/**/*.jl'
    - all-globs-to-all-files:
      - '**/*jldoctest*'

# Dependencies and build system
"deps":
  - changed-files:
    - any-glob-to-any-file:
      - 'deps/**/*'
      - 'stdlib/**/deps/**/*'

"build":
  - changed-files:
    - any-glob-to-any-file:
      - 'Makefile*'
      - 'Make.inc'
      - '**/*.mk'
      - 'contrib/build*.sh'

"jll":
  - changed-files:
    - any-glob-to-any-file: 'stdlib/*_jll/**/*'

# Platform specific
"windows":
  - changed-files:
    - any-glob-to-any-file:
      - '**/*win*.c'
      - '**/*win*.h'
      - '**/*windows*'

"macos":
  - changed-files:
    - any-glob-to-any-file:
      - '**/*darwin*'
      - '**/*macos*'
      - '**/*osx*'

"linux":
  - changed-files:
    - any-glob-to-any-file:
      - '**/*linux*'
      - '**/*unix*'

# Performance related
"performance":
  - changed-files:
    - any-glob-to-any-file:
      - 'base/simdloop.jl'
      - 'base/fastmath.jl'
      - 'base/optimized_generics.jl'

# External libraries
"llvm":
  - changed-files:
    - any-glob-to-any-file:
      - 'src/llvm*.cpp'
      - 'src/codegen*.cpp'
      - 'deps/llvm.mk'

"blas":
  - changed-files:
    - any-glob-to-any-file:
      - 'stdlib/LinearAlgebra/**/*'
      - 'deps/*blas*'
      - 'deps/*lapack*'

# Breaking changes (manual assignment recommended)
"breaking":
  - changed-files:
    - any-glob-to-any-file:
      - 'base/exports.jl'
      - 'base/public.jl'
