Repository JuliaLang/julia, pull requests merged in 2018-11, with the labels that each got.

#29867 manually deconstruct and reconstruct subarray when throwing boundserror
  base/subarray.jl
Labels: arrays, performance

#29814 Couple missing tests for BitArray
  test/bitarray.jl
Labels: test

#29878 Reinstate statically computed log event ids
  base/logging.jl
  stdlib/Logging/docs/src/index.md
  stdlib/Logging/test/runtests.jl
  test/logging.jl
Labels: backport pending 1.0, bugfix, embarrassing-bugfix, logging, priority

#29600 Add Base.fieldtypes.
  base/exports.jl
  base/reflection.jl
  doc/src/base/base.md
  test/reflection.jl
Labels: triage

#29407 Fix printing of InetAddr
  stdlib/Sockets/src/IPAddr.jl
  stdlib/Sockets/test/runtests.jl
Labels: display and printing, minor change

#28373 add colno to invalid-char parse error
  src/flisp/iostream.c
  src/julia-parser.scm
  src/support/ios.c
  src/support/ios.h
  test/strings/basic.jl
Labels: error handling, parser

#29865 Avoid slow fallback Matrix constructor when converting Q from QR,
  stdlib/LinearAlgebra/src/hessenberg.jl
  stdlib/LinearAlgebra/src/lq.jl
  stdlib/LinearAlgebra/src/qr.jl
Labels: backport pending 1.0, linear algebra

#29895 Treat zero-dimensional views as contiguous SubArrays
  base/subarray.jl
  test/subarray.jl
Labels: arrays

#29899 Fix minor typo in print_range docs
  base/range.jl
Labels: backport pending 1.0, doc

#29892 avoid expensive runtime div in parse for common bases
  base/parse.jl
Labels: backport pending 1.0, performance, strings

#27357 Fix doc README link
  doc/README.md
Labels: doc

#29854 Optimize aliasing detection for isbits arrays
  base/abstractarray.jl
Labels: arrays, performance

#29881 Update devdocs on inlining for API changes
  doc/src/devdocs/inference.md
Labels: doc

#29908 Fix isvalid for 3-byte overlong encoded UTF-8 sequences
  src/support/utf8.c
  test/strings/basic.jl
Labels: backport pending 1.0, bugfix, strings

#29715 Fix #29713 (ldiv! overwrites arguments)
  stdlib/LinearAlgebra/src/factorization.jl
  stdlib/LinearAlgebra/test/qr.jl
Labels: backport pending 1.0, bugfix, linear algebra

#29910 Update old reference to Base.REPL
  stdlib/REPL/docs/src/index.md
Labels: REPL, backport pending 1.0, doc

#29843 broadcast cleanup
  base/broadcast.jl
  base/tuple.jl
  doc/src/base/arrays.md
  doc/src/manual/interfaces.md
  test/broadcast.jl
Labels: broadcast

#29721 fixes for the runtime (interpreted intrinsics)
  base/compiler/ssair/ir.jl
  base/compiler/typeinfer.jl
  base/docs/basedocs.jl
  src/builtins.c
  src/cgutils.cpp
  src/interpreter.c
  src/runtime_intrinsics.c
  test/compiler/interpreter_exec.jl
  test/compiler/ssair.jl
  test/core.jl
Labels: backport pending 1.0, bugfix

#29738 Prepend a version number too in source tarballs
  Makefile
Labels: backport pending 1.0, build

#29928 Tests for WeakRef and missing
  test/missing.jl
Labels: missing data, test

#29942 Xref in docs and more tests for SecretBuffer
  base/secretbuffer.jl
  test/secretbuffer.jl
Labels: doc, test

#29891 speed up Float16 conversions a bit
  base/float.jl
Labels: performance

#29948 Add missing devdoc pages to make.jl
  doc/make.jl
Labels: backport pending 1.0, doc

#29933 Add missing backslashes in LaTeX syntax in the document of binomial function
  base/intfuncs.jl
  doc/src/manual/documentation.md
Labels: backport pending 1.0, doc

#29940 Add Float16 and sincos tests
  test/fastmath.jl
Labels: maths, test

#29905 add support/*.h to flisp build dependencies
  src/flisp/Makefile
Labels: bugfix, build

#29961 Add backticks around som JL_* words in the manual
  doc/src/devdocs/gc-sa.md
  doc/src/devdocs/ssair.md
Labels: backport pending 1.0, doc

#29898 WIP: deploy docs to JuliaLang/docs.julialang.org
  doc/make.jl
Labels: backport pending 1.0, docsystem

#29973 [gh-pages] Remove CNAME from JuliaLang/julia:gh-pages.
  CNAME
Labels: docsystem

#29992 Update supported platforms in the README
  README.md
Labels: doc

#29990 mkpath should always return the path (fix #29989)
  base/file.jl
  test/file.jl
Labels: backport pending 1.0, filesystem

#24987 Remove keyword argument performance tips
  doc/src/manual/performance-tips.md
Labels: doc, keyword arguments, performance

#29994 file creation tests: check path existence before & after
  test/file.jl
Labels: backport pending 1.0

#29888 Faster findall for bitarrays
  base/bitarray.jl
  test/bitarray.jl
Labels: performance

#29935 inference: remove ability to infer `f(svec(a, b, c)...)`
  base/compiler/abstractinterpretation.jl
  test/compiler/compiler.jl
Labels: inference

#29819 Add IteratorSize for Char
  base/char.jl
  test/char.jl
Labels: minor change

#30012 Use at-DIR instead of Sys.BINDIR to find UnicodeData.txt in doc build.
  doc/src/manual/unicode-input.md
Labels: backport pending 1.0, docsystem

#30000 Include stdlib tarballs in light-source-dist.
  Makefile
Labels: backport pending 1.0, build, stdlib

#30021 Misc missing tests for CartesianIndex
  test/arrayops.jl
Labels: test

#29238 Change `Zip` data structure to a flat one
  base/iterators.jl
  test/iterators.jl
Labels: potential benchmark

#30029 Move Markdown docs to the Markdown stdlib
  doc/src/manual/documentation.md
  stdlib/Markdown/docs/src/index.md
Labels: backport pending 1.0, doc, stdlib

#30015 Added note to highlight that some variables can't be set in `startup.jl`
  doc/src/manual/environment-variables.md
Labels: backport pending 1.0, doc

#29986 fix #29955, intersection bugs involving triangular constraints
  src/jltypes.c
  src/subtype.c
  test/subtype.jl
Labels: backport pending 1.0, bugfix, types and dispatch

#30033 Work around a llvm-config bug by creating a versioned symlink to libLLVM
  deps/llvm.mk
Labels: build, mac, regression

#30036 Make generated code for rational constructor and gcd slightly smaller
  base/intfuncs.jl
  base/rational.jl
Labels: backport pending 1.0, codegen

#30017 Catch InterruptException in fallback REPL.
  base/client.jl
Labels: REPL

#29522 Run `fixup-libgfortran` at the `make` stage
  Makefile
Labels: build

#30011 Fix backtrace line numbers following macros
  src/julia-syntax.scm
  test/backtrace.jl
Labels: backport pending 1.0, bugfix, macros

#29978 Decouple InteractiveUtils from LinearAlgebra
  stdlib/InteractiveUtils/Project.toml
  stdlib/InteractiveUtils/src/InteractiveUtils.jl
  stdlib/LinearAlgebra/docs/src/index.md
  stdlib/LinearAlgebra/src/LinearAlgebra.jl
  stdlib/LinearAlgebra/test/generic.jl
Labels: stdlib

#30051 fix #30048, lowering gc_preserve of closure variables
  src/julia-syntax.scm
  test/syntax.jl
Labels: backport pending 1.0, bugfix, lowering

#29157 Make precision a keyword argument, improve handling of rounding mode.
  NEWS.md
  base/deprecated.jl
  base/irrationals.jl
  base/mpfr.jl
  base/parse.jl
  base/sysimg.jl
  doc/src/base/numbers.md
  stdlib/Random/src/generation.jl
  test/mpfr.jl
Labels: bignums

#29921 Update the Regex section of strings.md.
  doc/src/manual/strings.md
Labels: backport pending 1.0, doc

#30060 Three missing abstractarray tests
  test/abstractarray.jl
  test/ranges.jl
Labels: arrays, test

#29167 Update arrays.md for element-wise assignment
  doc/src/manual/arrays.md
Labels: backport pending 1.0, doc

#30045 fix #30030, assignment expr as named tuple element value
  src/julia-syntax.scm
  test/syntax.jl
Labels: backport pending 1.0, bugfix, lowering

#29462 CHOLMOD cleanup
  stdlib/SuiteSparse/src/cholmod.jl
  stdlib/SuiteSparse/src/cholmod_h.jl
  stdlib/SuiteSparse/test/cholmod.jl
Labels: linear algebra, sparse, triage

#29976 Clarify the role of pivoting in QR factorization
  stdlib/LinearAlgebra/src/qr.jl
Labels: doc, linear algebra

#30106 Update typo in julia-syntax.scm
  src/julia-syntax.scm
Labels: backport pending 1.0, error handling

#30112 Fix deadlock caused by REPL blinking
  stdlib/REPL/src/LineEdit.jl
Labels: REPL, backport pending 1.0

#30130 varinfo() has been moved to `InteractiveUtils`
  doc/src/manual/parallel-computing.md
Labels: backport pending 1.0, doc

#30075 stdlib-git: improve integration with git-external
  Make.inc
  Makefile
  base/sysimg.jl
  deps/checksums/Pkg-d305e82fd353cb67e8a064800b9972ee1cb7b5e0.tar.gz/md5
  deps/checksums/Pkg-d305e82fd353cb67e8a064800b9972ee1cb7b5e0.tar.gz/sha512
  deps/checksums/Pkg-f9180e48b27a843aeee864db814dce57cb296b9b.tar.gz/md5
  deps/checksums/Pkg-f9180e48b27a843aeee864db814dce57cb296b9b.tar.gz/sha512
  deps/tools/common.mk
  deps/tools/git-external.mk
  doc/make.jl
  stdlib/.gitignore
  stdlib/Makefile
  stdlib/Pkg.version
Labels: stdlib

#30147 document tab completion for dictionary keys
  stdlib/REPL/docs/src/index.md
Labels: backport pending 1.0, doc

#30098 inference: add missing limit-cycle poisoning
  base/compiler/abstractinterpretation.jl
  base/compiler/inferencestate.jl
  base/compiler/typeinfer.jl
  test/compiler/compiler.jl
Labels: backport pending 1.0, bugfix

#30159 Set TimeZones as scalars for broadcasting
  stdlib/Dates/src/arithmetic.jl
  stdlib/Dates/test/arithmetic.jl
Labels: dates, minor change, stdlib

#26392 Fix Matrix(QRSparseQ) constructor
  stdlib/LinearAlgebra/src/qr.jl
  stdlib/LinearAlgebra/test/qr.jl
  stdlib/SuiteSparse/src/spqr.jl
  stdlib/SuiteSparse/test/spqr.jl
Labels: backport pending 1.0, bugfix, linear algebra, sparse

#30102 Fix findmin/findmax to return cartesian indices for BitMatrix
  base/bitarray.jl
  stdlib/LinearAlgebra/src/LinearAlgebra.jl
  stdlib/LinearAlgebra/src/bitarray.jl
  test/arrayops.jl
  test/bitarray.jl
Labels: bugfix, minor change, search & find, triage

#30149 Use ReshapedArray for isbitsunion arrays (fixes #28611)
  base/array.jl
  base/reshapedarray.jl
  doc/src/devdocs/isbitsunionarrays.md
  test/arrayops.jl
Labels: minor change

#30128 [AllocOpt] Track deleted instructions
  src/llvm-alloc-opt.cpp
Labels: backport pending 1.0, bugfix

#30158 Do not allow THIN SPACE U+2009 as an operator suffix
  src/flisp/julia_opsuffs.h
Labels: bugfix, minor change, parser, unicode

#30069 fix #30062, need front-end error for invalid multiple update lhs
  src/julia-syntax.scm
  test/syntax.jl
Labels: bugfix, lowering, minor change

#29997 Allow boolean parsing of strings containing 0 and 1
  base/parse.jl
  test/parse.jl
Labels: minor change, needs news

#29907 fix #29885, make grisu digit buffer task-local
  base/grisu/grisu.jl
  base/printf.jl
  test/grisu.jl
Labels: I/O, bugfix, needs news

#30179 inference: fix a mistake with ssa_def_expr usage
  base/compiler/abstractinterpretation.jl
  test/compiler/compiler.jl
Labels: bugfix, inference

#30180 don't print `Type{Vararg}` in type errors, since that expr is invalid
  base/errorshow.jl
  test/errorshow.jl
Labels: error handling

#29670 Make randperm and randcycle use the argument's type.
  stdlib/Random/src/misc.jl
  stdlib/Random/test/runtests.jl
Labels: RNG, minor change, needs news

#30181 fix #29968, qualify macro names in parsing int literals and cmds
  NEWS.md
  base/boot.jl
  base/sysimg.jl
  src/julia-parser.scm
  test/syntax.jl
Labels: minor change, parser

#30182 fix #29781, disallow spaces in broadcast calls
  NEWS.md
  src/julia-parser.scm
  test/syntax.jl
Labels: minor change, parser

#30153 Update libosxunwind to v0.0.4
  deps/Versions.make
  deps/checksums/libosxunwind-0.0.3.tar.gz/md5
  deps/checksums/libosxunwind-0.0.3.tar.gz/sha512
  deps/checksums/libosxunwind-0.0.4.tar.gz/md5
  deps/checksums/libosxunwind-0.0.4.tar.gz/sha512
Labels: backport pending 1.0, build, external dependencies, mac

#30193 Tests for prev/this/nextind with Integer args
  test/strings/basic.jl
Labels: strings, test

#30020 Tests for float conversions with many leading zeros
  test/numbers.jl
Labels: test

#30195 Fix issue with Git Credential Manager for Windows
  stdlib/LibGit2/src/gitcredential.jl
  stdlib/LibGit2/test/libgit2.jl
Labels: backport pending 1.0, bugfix, libgit2, windows

#30184 fix #29429, make local-sparam conflict an error instead of warning
  NEWS.md
  src/julia-syntax.scm
  src/method.c
  test/syntax.jl
Labels: minor change

#30164 Use only safe axis types for Broadcast.combine_axes
  base/broadcast.jl
  test/offsetarray.jl
Labels: broadcast

#30049 Two documentation updates
  base/loading.jl
  doc/src/devdocs/object.md
Labels: doc

#30214 Tests for size(Zip) and countfrom()
  test/iterators.jl
Labels: iteration, test

#30213 Test for first/lastness of reversed iterators
  test/iterators.jl
Labels: iteration, test

#30199 fix #21233, start REPL when script run with `-i` throws an error
  NEWS.md
  base/client.jl
Labels: minor change

#30215 Fix reverse with empty StepRangeLen
  base/range.jl
  test/ranges.jl
Labels: bugfix
