Repository JuliaLang/julia, pull requests merged in 2018-07, with the labels that each got.

#27850 fix printing of arrays when :compact => false is specified
  base/arrayshow.jl
  test/show.jl
Labels: bugfix, display and printing

#27884 fix [map]reduce deprecations
  base/deprecated.jl
Labels: deprecation

#27883 make the compiler a bit easier on itself
  base/abstractset.jl
  base/array.jl
  base/bitset.jl
  base/compiler/optimize.jl
  base/compiler/ssair/inlining.jl
  base/compiler/ssair/passes.jl
  base/compiler/ssair/slot2ssa.jl
  base/compiler/tfuncs.jl
  base/compiler/typelimits.jl
  base/compiler/typeutils.jl
  base/compiler/utilities.jl
Labels: latency

#27808 document Grisu
  base/grisu/grisu.jl
Labels: doc

#27852 Upgrade MPFR to 4.0.1
  deps/Versions.make
  deps/checksums/mpfr-4.0.0.tar.bz2/md5
  deps/checksums/mpfr-4.0.0.tar.bz2/sha512
  deps/checksums/mpfr-4.0.1.tar.bz2/md5
  deps/checksums/mpfr-4.0.1.tar.bz2/sha512
Labels: external dependencies

#27515 Fix handling of missing values in median and quantile and improve docs
  stdlib/Statistics/src/Statistics.jl
  stdlib/Statistics/test/runtests.jl
Labels: doc, missing data

#27894 make internal calls to `require` use a fixed world
  src/toplevel.c
Labels: latency

#27891 keyword `dims` argument for `extrema`
  base/deprecated.jl
  base/multidimensional.jl
  base/reduce.jl
  doc/src/base/collections.md
  test/reduce.jl
Labels: arrays, deprecation

#27887 fix printing of arrays containing KeySet (fix #26881)
  base/abstractdict.jl
  test/show.jl
Labels: bugfix, display and printing

#27888 use the typeinfo property when printing NamedTuple and fix #27747
  base/namedtuple.jl
  test/show.jl
Labels: bugfix, display and printing

#27916 svd for Adjoint and Transpose
  stdlib/LinearAlgebra/src/svd.jl
  stdlib/LinearAlgebra/test/svd.jl
Labels: linear algebra

#27886 Better printing of Pair and Dict using typeinfo
  base/arrayshow.jl
  base/dict.jl
  base/show.jl
  test/show.jl
Labels: display and printing

#27927 fix bug in stringmime
  stdlib/Base64/src/Base64.jl
  stdlib/Base64/test/runtests.jl
Labels: bugfix

#27913 fix #27896, restore warning for assigning to static parameter
  src/julia-syntax.scm
  test/syntax.jl
Labels: bugfix, lowering

#27898 some fixes for compilation
  base/generator.jl
  src/codegen.cpp
  src/dump.c
  src/gf.c
Labels: codegen

#27919 fix #27914, parsing juxtaposition of more than two factors
  src/julia-parser.scm
  test/syntax.jl
Labels: breaking, bugfix, parser

#27935 avoid more conversions to `Any` in default constructors
  src/julia-syntax.scm
Labels: latency, lowering

#27869 Deprecate findnz(::AbstractArray)
  stdlib/SparseArrays/src/abstractsparse.jl
  stdlib/SparseArrays/src/deprecated.jl
  stdlib/SparseArrays/src/sparsematrix.jl
  stdlib/SparseArrays/test/sparse.jl
Labels: deprecation, search & find, sparse

#27824 Bump Pkg
  stdlib/Pkg/docs/src/index.md
  stdlib/Pkg/src/API.jl
  stdlib/Pkg/src/GitTools.jl
  stdlib/Pkg/src/Operations.jl
  stdlib/Pkg/src/Pkg.jl
  stdlib/Pkg/src/Pkg2/types.jl
  stdlib/Pkg/src/REPLMode.jl
  stdlib/Pkg/src/Types.jl
  stdlib/Pkg/src/versions.jl
  stdlib/Pkg/test/pkg.jl
  stdlib/Pkg/test/repl.jl
  stdlib/Pkg/test/test_packages/BigProject/Project.toml
  stdlib/Pkg/test/test_packages/BigProject/RecursiveDep/Project.toml
  stdlib/Pkg/test/test_packages/BigProject/RecursiveDep/src/RecursiveDep.jl
  stdlib/Pkg/test/test_packages/BigProject/RecursiveDep2/Project.toml
  stdlib/Pkg/test/test_packages/BigProject/RecursiveDep2/src/RecursiveDep2.jl
  stdlib/Pkg/test/test_packages/BigProject/SubModule/Project.toml
  stdlib/Pkg/test/test_packages/BigProject/SubModule/src/SubModule.jl
  stdlib/Pkg/test/utils.jl
Labels: packages

#27948 fix #27933, don't `eval` value of global vars in cluster deserializer
  stdlib/Distributed/src/clusterserialize.jl
  stdlib/Distributed/test/distributed_exec.jl
Labels: bugfix, parallel

#27743 Add optimized mapreduce implementation for SkipMissing
  base/missing.jl
  test/missing.jl
Labels: missing data, performance

#27736 Avoid broken kind type handling when compiling `isa`
  base/compiler/abstractinterpretation.jl
  base/compiler/tfuncs.jl
  base/compiler/typeutils.jl
  src/cgutils.cpp
  src/julia.h
  src/subtype.c
  test/compiler/compiler.jl
  test/sets.jl
Labels: bugfix, codegen, inference

#27746 randjump: deprecate the array version?
  NEWS.md
  doc/src/manual/parallel-computing.md
  stdlib/Random/docs/src/index.md
  stdlib/Random/src/RNGs.jl
  stdlib/Random/src/deprecated.jl
  stdlib/Random/test/runtests.jl
Labels: RNG, deprecation, stdlib

#27823 Add cholesky(::Diagonal), with tests.
  stdlib/LinearAlgebra/src/cholesky.jl
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/LinearAlgebra/test/cholesky.jl
Labels: linear algebra

#27942 Test: unexport guardsrand
  stdlib/Random/test/runtests.jl
  stdlib/SparseArrays/test/sparse.jl
  stdlib/Statistics/test/runtests.jl
  stdlib/Test/src/Test.jl
  stdlib/Test/test/runtests.jl
  test/error.jl
Labels: RNG

#27968 restore use of `ismissing` in `in`
  base/operators.jl
Labels: missing data

#27967 fix #27959, regression in location info inside macro expansions
  src/julia-syntax.scm
  test/backtrace.jl
Labels: bugfix

#27956 Deprecate unused startswith(::Vector{UInt8}, ::Vector{UInt8})
  base/deprecated.jl
  base/strings/util.jl
Labels: deprecation

#27928 Fix make error message
  Makefile
Labels: build

#27946 don't add inference backedges for call sites that infer to `Any`
  base/compiler/abstractinterpretation.jl
Labels: inference, latency

#27857 some updates and fixes to inlining cost
  base/array.jl
  base/compiler/abstractinterpretation.jl
  base/compiler/optimize.jl
  base/compiler/ssair/inlining.jl
  base/compiler/tfuncs.jl
  base/compiler/validation.jl
  base/deprecated.jl
  base/strings/string.jl
  test/compiler/compiler.jl
  test/show.jl
Labels: optimizer

#27985 Pkg: small refactor to avoid keeping a LibGit.GitRepo open
  stdlib/Pkg/src/Display.jl
  stdlib/Pkg/src/Types.jl
  stdlib/Pkg/test/repl.jl
Labels: packages

#26930 Support context module in replcompletions
  stdlib/REPL/src/REPL.jl
  stdlib/REPL/src/REPLCompletions.jl
  stdlib/REPL/test/replcompletions.jl
Labels: REPL

#27979 fix displaying arrays of pairs containing an array as first member
  base/show.jl
  test/show.jl
Labels: bugfix, display and printing

#27991 Fix dump in the presence of nothing
  base/show.jl
  test/show.jl
Labels: bugfix, display and printing

#27859 Deprecate v0 in accumulate in favor of init keyword
  NEWS.md
  base/accumulate.jl
  base/deprecated.jl
  stdlib/Random/test/runtests.jl
  test/arrayops.jl
Labels: collections, deprecation

#28005 fix LOAD_PATH for doc building
  doc/Project.toml
  doc/make.jl
Labels: docsystem

#28008 Allow all Integer indices in broadcasting
  base/broadcast.jl
  test/broadcast.jl
Labels: broadcast, bugfix

#27953 Logging: print full filepath
  base/path.jl
  stdlib/Logging/src/ConsoleLogger.jl
  stdlib/Logging/test/runtests.jl
  test/path.jl
Labels: logging

#27990 fix #27964, spurious error about local name conflicting with argument
  src/julia-syntax.scm
  test/syntax.jl
Labels: bugfix, lowering

#27756 Random: introduce gentype, instead of punning on eltype
  stdlib/Random/src/Random.jl
  stdlib/Random/test/runtests.jl
Labels: RNG

#28010 Random: define Sampler from types, not objects
  stdlib/Random/src/RNGs.jl
  stdlib/Random/src/Random.jl
  stdlib/Random/src/generation.jl
Labels: RNG

#28004 typeinfo: require no more that Base types handle typeinfo
  base/arrayshow.jl
Labels: display and printing

#27678 Improve performance of generic dot products
  stdlib/LinearAlgebra/src/generic.jl
  stdlib/LinearAlgebra/test/matmul.jl
Labels: linear algebra, performance

#28032 Small doc touchups and doctests for mv
  base/essentials.jl
  base/file.jl
  base/loading.jl
  base/path.jl
  base/stat.jl
Labels: doc, filesystem

#28033 More doc touchups and some doctests
  base/strings/io.jl
  base/strings/util.jl
Labels: doc, strings

#28017 fix #26335: _file and _module kwarg for logging macros
  base/logging.jl
  test/logging.jl
Labels: bugfix, logging

#28048 fix #28044, collision between global and `where`-bound var
  src/jlfrontend.scm
  test/syntax.jl
Labels: bugfix, lowering

#28057 More xrefs and some small wording touchups for Strings manual
  doc/src/manual/strings.md
Labels: doc, strings

#28061 Document CompositeException and add more xrefs
  base/task.jl
  doc/src/base/base.md
  doc/src/manual/control-flow.md
  doc/src/manual/types.md
Labels: doc

#28060 Fix broadcast style resolution docstring
  base/broadcast.jl
Labels: broadcast, doc

#28062 Doc the at-cmd macro
  base/process.jl
Labels: doc

#28036 Mini touchups for Interfaces manual
  doc/src/manual/interfaces.md
Labels: doc

#28051 Rework constructors for LinearAlgebra
  stdlib/LinearAlgebra/src/bidiag.jl
  stdlib/LinearAlgebra/src/deprecated.jl
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/LinearAlgebra/src/hessenberg.jl
  stdlib/LinearAlgebra/src/ldlt.jl
  stdlib/LinearAlgebra/src/lq.jl
  stdlib/LinearAlgebra/src/lu.jl
  stdlib/LinearAlgebra/src/qr.jl
  stdlib/LinearAlgebra/src/svd.jl
  stdlib/LinearAlgebra/src/symmetric.jl
  stdlib/LinearAlgebra/src/triangular.jl
  stdlib/LinearAlgebra/src/tridiag.jl
  stdlib/LinearAlgebra/test/bidiag.jl
  stdlib/LinearAlgebra/test/diagonal.jl
  stdlib/LinearAlgebra/test/tridiag.jl
Labels: linear algebra

#27999 Add methods for dividing triangular by diagonal matrices.
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/LinearAlgebra/test/diagonal.jl
Labels: linear algebra

#28053 Make `blockdiag` return a 0×0 `SparseMatrixCSC{Union{},Int}`
  stdlib/SparseArrays/src/sparsematrix.jl
  stdlib/SparseArrays/test/sparse.jl
Labels: sparse

#28040 Add a little note about combining dot-ops and function chaining
  doc/src/manual/functions.md
Labels: doc

#24129 codegen: sizeof optimizations
  src/cgutils.cpp
  src/codegen.cpp
Labels: codegen

#27987 Turn unspecified defaults in at-kwdef into required kwargs
  base/util.jl
  stdlib/LibGit2/src/types.jl
  stdlib/LibGit2/test/libgit2.jl
  stdlib/Pkg/src/GitTools.jl
  test/misc.jl
Labels: keyword arguments

#28082 Bump Pkg
  stdlib/Pkg/docs/src/index.md
  stdlib/Pkg/src/API.jl
  stdlib/Pkg/src/GitTools.jl
  stdlib/Pkg/src/Operations.jl
  stdlib/Pkg/src/REPLMode.jl
  stdlib/Pkg/src/Types.jl
  stdlib/Pkg/test/pkg.jl
  stdlib/Pkg/test/repl.jl
  stdlib/Pkg/test/utils.jl
Labels: packages

#28084 Define promotion and conversion for CartesianIndices and LinearIndices
  base/indices.jl
  base/multidimensional.jl
  test/abstractarray.jl
Labels: arrays

#28074 Allow inference of _apply(_apply, ...)
  base/compiler/abstractinterpretation.jl
  test/compiler/compiler.jl
Labels: inference

#28081 Materialize adjoint(Givens) since Givens is immutable
  stdlib/LinearAlgebra/src/givens.jl
  stdlib/LinearAlgebra/test/givens.jl
Labels: linear algebra

#28108 restore some additional function references
  src/codegen.cpp
Labels: latency

#28035 Remove type assertion hack in mapreduce for skipmissing
  base/missing.jl
Labels: missing data

#28114 clarify docs on parallel code loading
  doc/src/manual/parallel-computing.md
Labels: doc, parallel

#28080 Document DenseArrays and Dims
  base/array.jl
  base/indices.jl
  doc/src/base/arrays.md
Labels: arrays, doc

#28109 speed up initialization of LinearAlgebra
  stdlib/LinearAlgebra/src/blas.jl
Labels: latency, linear algebra

#28113 lazy LibGit2 initialization
  base/precompile.jl
  stdlib/LibGit2/src/LibGit2.jl
  stdlib/LibGit2/src/blame.jl
  stdlib/LibGit2/src/blob.jl
  stdlib/LibGit2/src/callbacks.jl
  stdlib/LibGit2/src/commit.jl
  stdlib/LibGit2/src/config.jl
  stdlib/LibGit2/src/consts.jl
  stdlib/LibGit2/src/diff.jl
  stdlib/LibGit2/src/error.jl
  stdlib/LibGit2/src/index.jl
  stdlib/LibGit2/src/merge.jl
  stdlib/LibGit2/src/oid.jl
  stdlib/LibGit2/src/rebase.jl
  stdlib/LibGit2/src/reference.jl
  stdlib/LibGit2/src/remote.jl
  stdlib/LibGit2/src/repository.jl
  stdlib/LibGit2/src/signature.jl
  stdlib/LibGit2/src/status.jl
  stdlib/LibGit2/src/tag.jl
  stdlib/LibGit2/src/tree.jl
  stdlib/LibGit2/src/types.jl
  stdlib/LibGit2/src/walker.jl
Labels: latency, libgit2

#28142 delay DSFMT jump poly initialization
  stdlib/Random/src/DSFMT.jl
Labels: latency

#28140 delay part of Distributed's initialization to improve startup time
  stdlib/Distributed/src/Distributed.jl
  stdlib/Distributed/src/cluster.jl
Labels: latency

#28115 Doc missing range exports
  base/abstractarray.jl
  base/range.jl
  doc/src/base/collections.md
Labels: collections, doc

#28151 fix O(n^2) loop in `lambda-optimize-vars!`
  src/julia-syntax.scm
Labels: latency, lowering

#28097 Handle nothing in logging
  base/logging.jl
  stdlib/Logging/src/ConsoleLogger.jl
  stdlib/Logging/test/runtests.jl
  test/logging.jl
Labels: logging

#28146 use `checkbounds` instead of `in` in copyto!
  base/abstractarray.jl
Labels: needs benchmark, performance

#28164 add pairs for Core.Svec
  base/iterators.jl
  test/iterators.jl
Labels: performance

#28137 add note to FAQ how to check if a file is executed using julia file.jl
  doc/src/manual/faq.md
Labels: doc

#28153 fix bug in interpreting top-level expressions with `--compile=min`
  src/toplevel.c
Labels: interpreter

#28167 don't allow U+0387 (·) in identifiers
  src/flisp/julia_extensions.c
Labels: breaking, parser, unicode

#28166 make simd loop over ranges perform better
  base/range.jl
Labels: performance, simd

#28163 use inbounds in generic matvecmul
  stdlib/LinearAlgebra/src/matmul.jl
Labels: linear algebra, performance

#28174 add type parameter to `AbstractChannel`
  base/channels.jl
Labels: needs news

#27932 RFC allow packages to fall back to finding UUID in project if not in deps of manifest
  base/loading.jl
Labels: packages

#28149 Specialize string and repeat for SubString{String}
  base/strings/string.jl
  base/strings/strings.jl
  base/strings/substring.jl
  base/sysimg.jl
  test/strings/basic.jl
Labels: strings

#28186 fix unicode shift-selection in REPL
  stdlib/REPL/src/LineEdit.jl
  stdlib/REPL/test/lineedit.jl
Labels: REPL, bugfix

#28065 performance: mark REPL and Doc code as non-specializeable
  NEWS.md
  base/client.jl
  base/compiler/ssair/show.jl
  base/compiler/tfuncs.jl
  base/docs/Docs.jl
  base/docs/basedocs.jl
  base/docs/core.jl
  base/essentials.jl
  base/exports.jl
  base/precompile.jl
  doc/src/base/base.md
  src/ast.c
  src/ast.scm
  src/dump.c
  src/gf.c
  src/interpreter.c
  src/julia-syntax.scm
  src/julia.h
  src/julia_internal.h
  src/method.c
  src/module.c
  stdlib/REPL/src/LineEdit.jl
  stdlib/REPL/src/REPL.jl
  stdlib/REPL/src/docview.jl
Labels: latency

#28200 fix #28159, better field reflection functions for NamedTuple
  base/reflection.jl
  src/builtins.c
  test/namedtuple.jl
  test/reflection.jl
  test/show.jl
Labels: bugfix

#28195 correct AST show regressions, fix formatting around pending nodes
  base/compiler/ssair/ir.jl
  base/compiler/ssair/show.jl
  base/show.jl
  doc/src/devdocs/reflection.md
  stdlib/InteractiveUtils/src/codeview.jl
  stdlib/Test/src/Test.jl
  test/show.jl
Labels: display and printing

#28170 improve variable promotion in closure conversion
  src/julia-syntax.scm
  test/compiler/compiler.jl
Labels: lowering, performance

#28214 add some fast paths to subtyping to help loading ApproxFun
  src/subtype.c
Labels: latency, types and dispatch

#28197 allow re-importing the same module from different owners
  src/toplevel.c
  test/loading.jl
Labels: modules

#28199 handle round(x; base=...)
  base/floatfuncs.jl
  test/rounding.jl
Labels: triage

#28246 Add special case in verification for trailing statements after :enter
  base/compiler/ssair/verify.jl
Labels: bugfix, optimizer

#28248 Allow .V to be null in emit_unionmove
  src/cgutils.cpp
  test/core.jl
Labels: bugfix, codegen

#28239 allow 24:00 DateTime
  stdlib/Dates/src/types.jl
  stdlib/Dates/test/io.jl
  stdlib/Dates/test/types.jl
Labels: bugfix, dates

#28247 fix #28244, segfault on `@macroexpand` with macro returning an invalid expr
  src/ast.c
  src/jlfrontend.scm
  src/macroexpand.scm
  test/syntax.jl
Labels: bugfix, macros

#28257 LineEdit: revert accidental rename of endofline to lastindexline
  stdlib/REPL/src/LineEdit.jl
Labels: REPL

#28262 fix #28256, subtyping bug where `simple_meet` failed to check egal
  src/subtype.c
  test/subtype.jl
Labels: bugfix, types and dispatch

#28250 fix #27529, generator exprs should turn off space-sensitive after `for`
  src/julia-parser.scm
  test/syntax.jl
Labels: breaking, parser

#28265 deprecate `:body` expression head
  base/expr.jl
  base/show.jl
  src/julia-syntax.scm
  src/rtutils.c
  stdlib/InteractiveUtils/src/macros.jl
  stdlib/REPL/src/LineEdit.jl
  test/core.jl
  test/inline.jl
Labels: deprecation, lowering

#27949 Doc base macros
  base/expr.jl
  base/int.jl
  base/irrationals.jl
  base/math.jl
  doc/src/base/base.md
  doc/src/base/numbers.md
Labels: doc

#28259 RFC Revert "Enable PCRE UTF-8 validity string checks (#26731)"
  base/regex.jl
  test/regex.jl
Labels: performance, strings, triage

#28209 Remove explicit message handling for easier log macro behaviour overriding
  base/logging.jl
  test/TestHelpers.jl
  test/enums.jl
  test/logging.jl
Labels: logging

#28271 fix #27907, inference not detecting some cycles during constant prop
  base/compiler/abstractinterpretation.jl
  base/compiler/typeinfer.jl
  base/tuple.jl
  test/compiler/compiler.jl
Labels: bugfix, inference

#28266 support Unicode 11 via utf8proc 2.2
  NEWS.md
  deps/checksums/utf8proc-97ef668b312b96382714dbb8eaac4affce0816e6.tar.gz/md5
  deps/checksums/utf8proc-97ef668b312b96382714dbb8eaac4affce0816e6.tar.gz/sha512
  deps/checksums/utf8proc-d688ac122660e465dc65c8eb7b1c2444fcd52829.tar.gz/md5
  deps/checksums/utf8proc-d688ac122660e465dc65c8eb7b1c2444fcd52829.tar.gz/sha512
  deps/utf8proc.version
Labels: triage, unicode

#28253 use a type parameter for stream in EachLine, improves performance
  base/io.jl
Labels: needs benchmark, performance

#26527 Update parallel-computing.md according to #19579
  doc/src/manual/parallel-computing.md
Labels: doc

#28216 improve specificity rule for typevars
  src/subtype.c
  test/specificity.jl
Labels: types and dispatch

#28288 fix #28277, replace `type` with `struct` in docs
  doc/src/manual/calling-c-and-fortran-code.md
  doc/src/manual/constructors.md
  doc/src/manual/faq.md
  doc/src/manual/noteworthy-differences.md
Labels: doc

#28292 split out TestHelpers into separate parts
  stdlib/LibGit2/test/libgit2.jl
  stdlib/LinearAlgebra/test/adjtrans.jl
  stdlib/LinearAlgebra/test/triangular.jl
  stdlib/REPL/test/lineedit.jl
  stdlib/REPL/test/repl.jl
  stdlib/Random/test/runtests.jl
  stdlib/Statistics/test/runtests.jl
  test/Makefile
  test/arrayops.jl
  test/enums.jl
  test/logging.jl
  test/math.jl
  test/offsetarray.jl
  test/ranges.jl
  test/reduce.jl
  test/reinterpretarray.jl
  test/sets.jl
  test/testhelpers/FakePTYs.jl
  test/testhelpers/Furlongs.jl
  test/testhelpers/MacroCalls.jl
  test/testhelpers/OffsetArrays.jl
  test/testhelpers/PhysQuantities.jl
Labels: test

#28289 Improve performance of logging macros
  base/loading.jl
  base/logging.jl
Labels: logging, performance

#28296 fix #15722, support BigInts in precompiled modules and sysimg
  src/dump.c
  src/julia_internal.h
  src/staticdata.c
  test/precompile.jl
Labels: bignums, precompile

#28298 fix #28297, deserializing structs with compact Union-typed fields
  src/dump.c
  test/precompile.jl
Labels: bugfix, precompile

#27983 Random: document the Sampler machinery
  stdlib/Random/docs/src/index.md
Labels: RNG, doc

#28118 WIP: generate precompile as part of build process
  Makefile
  base/options.jl
  base/precompile.jl
  base/sysimg.jl
  contrib/add_license_to_files.jl
  contrib/fixup_precompile.jl
  contrib/generate_precompile.jl
  contrib/precompile_replay.jl
  src/gf.c
  src/jloptions.c
  src/julia.h
  stdlib/REPL/src/REPL.jl
  stdlib/REPL/test/fake_repl.jl
  stdlib/REPL/test/repl.jl
  test/precompile.jl
Labels: latency, precompile

#27939 use 5 chars for loading slugs
  base/loading.jl
  stdlib/Pkg/src/Operations.jl
  test/depot/packages/Baz/81oLe/src/Baz.jl
  test/depot/packages/Foo/I05Qq/src/Foo.jl
  test/loading.jl
Labels: packages

#28303 Rename squeeze -> dropdims
  NEWS.md
  base/abstractarraymath.jl
  base/deprecated.jl
  base/exports.jl
  doc/src/base/arrays.md
  stdlib/SparseArrays/src/SparseArrays.jl
  stdlib/SparseArrays/test/sparse.jl
  test/arrayops.jl
  test/offsetarray.jl
  test/subarray.jl
Labels: arrays, deprecation

#28309 Bump Pkg
  stdlib/Base64/Project.toml
  stdlib/CRC32c/Project.toml
  stdlib/Dates/Project.toml
  stdlib/DelimitedFiles/Project.toml
  stdlib/Distributed/Project.toml
  stdlib/FileWatching/Project.toml
  stdlib/Future/Project.toml
  stdlib/InteractiveUtils/Project.toml
  stdlib/LibGit2/Project.toml
  stdlib/Libdl/Project.toml
  stdlib/LinearAlgebra/Project.toml
  stdlib/Logging/Project.toml
  stdlib/Markdown/Project.toml
  stdlib/Mmap/Project.toml
  stdlib/OldPkg/Project.toml
  stdlib/Pkg/Project.toml
  stdlib/Pkg/docs/make.jl
  stdlib/Pkg/docs/src/index.md
  stdlib/Pkg/src/API.jl
  stdlib/Pkg/src/Display.jl
  stdlib/Pkg/src/Operations.jl
  stdlib/Pkg/src/Pkg.jl
  stdlib/Pkg/src/PlatformEngines.jl
  stdlib/Pkg/src/REPLMode.jl
  stdlib/Pkg/src/Types.jl
  stdlib/Pkg/src/generate.jl
  stdlib/Pkg/test/pkg.jl
  stdlib/Pkg/test/repl.jl
  stdlib/Pkg/test/test_packages/BigProject/Project.toml
  stdlib/Pkg/test/test_packages/BigProject/SubModule/Project.toml
  stdlib/Pkg/test/test_packages/BigProject/SubModule2/Project.toml
  stdlib/Pkg/test/test_packages/UnregisteredWithProject/Project.toml
  stdlib/Pkg/test/utils.jl
  stdlib/Printf/Project.toml
  stdlib/Profile/Project.toml
  stdlib/REPL/Project.toml
  stdlib/Random/Project.toml
  stdlib/SHA/Project.toml
  stdlib/Serialization/Project.toml
  stdlib/SharedArrays/Project.toml
  stdlib/Sockets/Project.toml
  stdlib/SparseArrays/Project.toml
  stdlib/Statistics/Project.toml
  stdlib/SuiteSparse/Project.toml
  stdlib/UUIDs/Project.toml
  stdlib/Unicode/Project.toml
Labels: packages

#28302 Rename realmin/max -> floatmin/max
  NEWS.md
  base/complex.jl
  base/deprecated.jl
  base/exports.jl
  base/float.jl
  base/mpfr.jl
  base/special/cbrt.jl
  base/twiceprecision.jl
  doc/src/base/base.md
  stdlib/LinearAlgebra/src/givens.jl
  stdlib/LinearAlgebra/test/pinv.jl
  stdlib/Statistics/test/runtests.jl
  test/grisu.jl
  test/math.jl
  test/mpfr.jl
  test/numbers.jl
  test/ranges.jl
  test/rational.jl
Labels: deprecation, maths

#28251 Add a special GC AS for array ptrs
  doc/src/devdocs/llvm.md
  src/ccall.cpp
  src/cgutils.cpp
  src/codegen.cpp
  src/codegen_shared.h
  src/jitlayers.cpp
  src/llvm-gc-invariant-verifier.cpp
  src/llvm-late-gc-lowering.cpp
  test/llvmpasses/gcroots.ll
Labels: GC, bugfix

#28295 Rename srand to Random.seed!
  NEWS.md
  doc/src/devdocs/subarrays.md
  doc/src/manual/parallel-computing.md
  doc/src/manual/performance-tips.md
  stdlib/LinearAlgebra/test/bidiag.jl
  stdlib/LinearAlgebra/test/blas.jl
  stdlib/LinearAlgebra/test/bunchkaufman.jl
  stdlib/LinearAlgebra/test/cholesky.jl
  stdlib/LinearAlgebra/test/dense.jl
  stdlib/LinearAlgebra/test/diagonal.jl
  stdlib/LinearAlgebra/test/eigen.jl
  stdlib/LinearAlgebra/test/generic.jl
  stdlib/LinearAlgebra/test/hessenberg.jl
  stdlib/LinearAlgebra/test/lapack.jl
  stdlib/LinearAlgebra/test/lq.jl
  stdlib/LinearAlgebra/test/lu.jl
  stdlib/LinearAlgebra/test/pinv.jl
  stdlib/LinearAlgebra/test/qr.jl
  stdlib/LinearAlgebra/test/schur.jl
  stdlib/LinearAlgebra/test/special.jl
  stdlib/LinearAlgebra/test/svd.jl
  stdlib/LinearAlgebra/test/symmetric.jl
  stdlib/LinearAlgebra/test/triangular.jl
  stdlib/LinearAlgebra/test/tridiag.jl
  stdlib/LinearAlgebra/test/uniformscaling.jl
  stdlib/Pkg/test/NastyGenerator.jl
  stdlib/Random/docs/src/index.md
  stdlib/Random/src/RNGs.jl
  stdlib/Random/src/Random.jl
  stdlib/Random/src/deprecated.jl
  stdlib/Random/src/misc.jl
  stdlib/Random/test/runtests.jl
  stdlib/SparseArrays/src/sparsematrix.jl
  stdlib/SparseArrays/test/sparse.jl
  stdlib/SparseArrays/test/sparsevector.jl
  stdlib/Statistics/test/runtests.jl
  stdlib/SuiteSparse/test/cholmod.jl
  stdlib/Test/src/Test.jl
  stdlib/Test/test/runtests.jl
  test/error.jl
  test/sorting.jl
  test/testdefs.jl
Labels: RNG, deprecation

#28329 fix #28317, precompile saving wrong union selector byte
  src/dump.c
  test/precompile.jl
Labels: bugfix, precompile

#28327 fix incorrect show for Pair
  base/show.jl
  test/show.jl
Labels: bugfix, display and printing

#28323 mention terse functor syntax form in doc manual
  doc/src/manual/methods.md
Labels: doc

#28236 added methods of istriu and istril for Transpose and Adjoint arguments
  stdlib/LinearAlgebra/src/triangular.jl
  stdlib/LinearAlgebra/test/triangular.jl
Labels: linear algebra, performance

#28155 Deprecate ordschur() methods two methods where the individual components are passed
  NEWS.md
  stdlib/LinearAlgebra/src/deprecated.jl
  stdlib/LinearAlgebra/src/schur.jl
Labels: deprecation, linear algebra

#28358 update devdocs on keyword arguments
  doc/src/devdocs/functions.md
Labels: doc

#28287 RFC: rename UVError to IOError
  base/deprecated.jl
  base/error.jl
  base/event.jl
  base/file.jl
  base/filesystem.jl
  base/initdefs.jl
  base/libuv.jl
  base/process.jl
  base/stat.jl
  base/stream.jl
  stdlib/FileWatching/src/FileWatching.jl
  stdlib/FileWatching/test/runtests.jl
  stdlib/Mmap/test/runtests.jl
  stdlib/Sockets/src/PipeServer.jl
  stdlib/Sockets/src/Sockets.jl
  stdlib/Sockets/src/addrinfo.jl
  stdlib/Sockets/test/runtests.jl
  test/file.jl
  test/read.jl
  test/spawn.jl
  test/stress.jl
Labels: I/O, deprecation, triage

#28352 Fix dict replcompletion error without key
  stdlib/REPL/src/REPLCompletions.jl
  stdlib/REPL/test/replcompletions.jl
Labels: bugfix

#28332 Implement sortslices, deprecate sortrows/sortcols
  NEWS.md
  base/deprecated.jl
  base/exports.jl
  base/multidimensional.jl
  base/sort.jl
  doc/src/base/sort.md
  test/arrayops.jl
  test/offsetarray.jl
  test/testhelpers/OffsetArrays.jl
Labels: arrays, deprecation

#28304 Deprecate nextpow2/prevpow2
  NEWS.md
  base/deprecated.jl
  base/exports.jl
  base/gmp.jl
  base/intfuncs.jl
  doc/src/base/math.md
  stdlib/Random/src/misc.jl
  test/intfuncs.jl
  test/numbers.jl
Labels: deprecation, maths

#28359 Fix arrayref nothrow predicate for undef-able arrays
  base/compiler/tfuncs.jl
  test/core.jl
Labels: bugfix

#28353 added tip for shell mode and package in ?help
  base/docs/basedocs.jl
Labels: doc

#28310 add pathof(::Module)
  NEWS.md
  base/exports.jl
  base/loading.jl
  doc/src/base/base.md
  stdlib/Pkg/src/API.jl
  test/loading.jl
Labels: packages, triage

#28365 Add deprecations to the old iteration protocol shims
  base/essentials.jl
  test/core.jl
  test/deprecation_exec.jl
  test/iterators.jl
Labels: deprecation, iteration

#28372 deps/curl: build without libidn2
  deps/curl.mk
Labels: build, external dependencies
