Repository JuliaLang/julia, pull requests merged in 2018-02, with the labels that each got.

#25969 move `peakflops` to InteractiveUtils
  base/sysimg.jl
  stdlib/InteractiveUtils/Project.toml
  stdlib/InteractiveUtils/src/InteractiveUtils.jl
  stdlib/LinearAlgebra/src/LinearAlgebra.jl
  stdlib/LinearAlgebra/src/generic.jl
Labels: deprecation, stdlib

#25864 yet more dict tests
  test/dict.jl
Labels: collections, test

#25976 fix getindex(::HermOrSym, i, j) when i == j
  stdlib/LinearAlgebra/src/symmetric.jl
  stdlib/LinearAlgebra/test/symmetric.jl
Labels: bugfix, linear algebra

#25956 Move TerminalMenus.jl into a submodule of REPL
  stdlib/REPL/docs/src/index.md
  stdlib/REPL/src/REPL.jl
  stdlib/REPL/src/TerminalMenus/AbstractMenu.jl
  stdlib/REPL/src/TerminalMenus/LICENSE.md
  stdlib/REPL/src/TerminalMenus/MultiSelectMenu.jl
  stdlib/REPL/src/TerminalMenus/RadioMenu.jl
  stdlib/REPL/src/TerminalMenus/TerminalMenus.jl
  stdlib/REPL/src/TerminalMenus/config.jl
  stdlib/REPL/src/TerminalMenus/util.jl
  stdlib/REPL/test/TerminalMenus/multiselect_menu.jl
  stdlib/REPL/test/TerminalMenus/radio_menu.jl
  stdlib/REPL/test/TerminalMenus/runtests.jl
  stdlib/REPL/test/runtests.jl
Labels: REPL, stdlib

#25940 Make fetch/wait on Task more like Future/RemoteChannel
  NEWS.md
  base/asyncmap.jl
  base/deprecated.jl
  base/event.jl
  base/task.jl
  examples/embedding/embedding-test.jl
  stdlib/Distributed/src/cluster.jl
  stdlib/Distributed/src/macros.jl
  stdlib/Distributed/src/process_messages.jl
  stdlib/Distributed/test/distributed_exec.jl
  stdlib/FileWatching/test/runtests.jl
  stdlib/REPL/test/repl.jl
  stdlib/Serialization/test/runtests.jl
  test/channels.jl
  test/cmdlineargs.jl
  test/meta.jl
  test/misc.jl
  test/read.jl
  test/show.jl
  test/socket.jl
  test/spawn.jl
  test/test_sourcepath.jl
  test/worlds.jl
Labels: parallel

#25914 clarification in maxintfloat docs
  base/floatfuncs.jl
Labels: doc

#25938 disallow extra lines between a docstring and the documented object, special parsing for `@doc`
  base/int.jl
  base/libc.jl
  base/statistics.jl
  base/sysinfo.jl
  doc/src/manual/documentation.md
  src/julia-parser.scm
  stdlib/LibGit2/src/consts.jl
  stdlib/Libdl/src/Libdl.jl
  stdlib/LinearAlgebra/src/blas.jl
  stdlib/LinearAlgebra/src/lapack.jl
  test/choosetests.jl
  test/docs.jl
  test/syntax.jl
Labels: breaking, docsystem, parser

#25975 eltype for eachindex(string)
  base/strings/basic.jl
  test/strings/basic.jl
Labels: bugfix, strings

#25985 testsetify a little more
  test/int.jl
  test/socket.jl
Labels: test

#25062 upgrade API to target libuv 2
  Makefile
  base/Makefile
  base/deprecated.jl
  base/filesystem.jl
  base/libc.jl
  base/precompile.jl
  base/process.jl
  base/socket.jl
  base/stat.jl
  base/stream.jl
  deps/checksums/libuv-80caa0b133fbadd322dad52bcddd2933b3b803f7.tar.gz/md5
  deps/checksums/libuv-80caa0b133fbadd322dad52bcddd2933b3b803f7.tar.gz/sha512
  deps/checksums/libuv-d8ab1c6a33e77bf155facb54215dd8798e13825d.tar.gz/md5
  deps/checksums/libuv-d8ab1c6a33e77bf155facb54215dd8798e13825d.tar.gz/sha512
  deps/libuv.version
  src/Makefile
  src/init.c
  src/jl_uv.c
  src/julia.h
  src/julia_internal.h
  src/staticdata.c
  src/support/Makefile
  src/support/dtypes.h
  src/support/strtod.c
  src/support/wsasocketpair.c
  src/sys.c
  src/threading.c
  src/uv_constants.h
  stdlib/FileWatching/src/FileWatching.jl
  stdlib/FileWatching/test/runtests.jl
  stdlib/Mmap/src/Mmap.jl
  stdlib/REPL/test/repl.jl
  test/channels.jl
  test/read.jl
  test/show.jl
  test/socket.jl
  test/spawn.jl
Labels: external dependencies

#25987 fix typo in markdown rendering of SVG images
  stdlib/Markdown/src/render/rich.jl
Labels: backport pending 0.6, bugfix, docsystem

#24750 Use JuliaLibm log functions in Main.Math.
  base/deprecated.jl
  base/math.jl
  test/math.jl
Labels: maths

#26002 break some stdlib dependencies
  stdlib/SharedArrays/Project.toml
  stdlib/SharedArrays/src/SharedArrays.jl
  stdlib/SuiteSparse/Project.toml
  stdlib/SuiteSparse/src/cholmod.jl
  stdlib/SuiteSparse/test/cholmod.jl
Labels: stdlib

#25991 missing @inbounds in copyto!
  base/abstractarray.jl
Labels: performance

#25859 Two improvements to replace()
  base/set.jl
  test/sets.jl
Labels: missing data

#26029 more discussion of x ≈ 0 in isapprox docs
  base/floatfuncs.jl
Labels: doc, maths

#26035 clarify that eps(T) is dimensionless
  base/float.jl
Labels: doc

#25980 rationalize some of the latex-ish tab completions
  NEWS.md
  stdlib/REPL/src/latex_symbols.jl
Labels: REPL

#26012 Simplify the definition of StridedArray; remove third type param
  base/sysimg.jl
Labels: arrays, breaking

#26042 fix static_show of empty named tuples
  src/rtutils.c
Labels: collections, display and printing

#26032 Adjustable tolerance for nullspace
  stdlib/LinearAlgebra/src/dense.jl
  stdlib/LinearAlgebra/test/dense.jl
Labels: linear algebra

#25805 Use promote_typejoin() to choose type parameters in Dict constructor
  base/dict.jl
  base/promotion.jl
  test/core.jl
  test/dict.jl
Labels: missing data

#25998 Change indexin() to return first rather than last matching index
  NEWS.md
  base/array.jl
  test/arrayops.jl
Labels: breaking, collections

#26025 Faster conversion from `NamedTuple` to `Tuple`
  base/namedtuple.jl
Labels: performance

#26009 Deprecate slicedim(…) to copy(selectdim(…)); always return a view
  NEWS.md
  base/abstractarraymath.jl
  base/deprecated.jl
  base/exports.jl
  doc/src/base/arrays.md
  test/arrayops.jl
  test/bitarray.jl
Labels: arrays, deprecation

#26039 absorb `repmat` into `repeat` and deprecate it
  base/abstractarraymath.jl
  base/deprecated.jl
  base/exports.jl
  doc/src/base/arrays.md
  doc/src/manual/arrays.md
  doc/src/manual/performance-tips.md
  examples/ndgrid.jl
  stdlib/Dates/test/accessors.jl
  stdlib/Dates/test/arithmetic.jl
  stdlib/SHA/test/runtests.jl
  stdlib/Serialization/test/runtests.jl
  test/arrayops.jl
  test/examples.jl
  test/perf/kernel/getdivgrad.jl
  test/perf/kernel/simplex.jl
  test/statistics.jl
Labels: arrays, deprecation

#24159 Add Julia ports of hyperbolic (including inverse) functions from openlibm.
  LICENSE.md
  base/math.jl
  base/special/hyperbolic.jl
  test/math.jl
Labels: maths, needs benchmark

#26057 loading: install at packages/$name/$slug instead of no names
  base/loading.jl
  base/sysimg.jl
  base/util.jl
  test/depot/packages/Baz/81oL/src/Baz.jl
  test/depot/packages/Foo/I05Q/src/Foo.jl
  test/loading.jl
Labels: packages

#25896 Fold linspace into range, add keyword arguments, deprecate logspace
  NEWS.md
  base/abstractarray.jl
  base/deprecated.jl
  base/exports.jl
  base/float.jl
  base/range.jl
  base/show.jl
  base/twiceprecision.jl
  doc/src/base/arrays.md
  doc/src/manual/arrays.md
  doc/src/manual/noteworthy-differences.md
  doc/src/manual/parallel-computing.md
  examples/lru_test.jl
  stdlib/Dates/src/deprecated.jl
  stdlib/Dates/test/ranges.jl
  stdlib/LinearAlgebra/src/dense.jl
  stdlib/LinearAlgebra/test/diagonal.jl
  stdlib/LinearAlgebra/test/generic.jl
  stdlib/LinearAlgebra/test/lapack.jl
  stdlib/LinearAlgebra/test/qr.jl
  test/arrayops.jl
  test/compiler/compiler.jl
  test/euler.jl
  test/hashing.jl
  test/ranges.jl
  test/reduce.jl
  test/specificity.jl
  test/statistics.jl
Labels: collections, deprecation

#26066 Fix duplicated colon symbol
  doc/src/manual/integers-and-floating-point-numbers.md
Labels: doc

#26061 test-cmdlineargs: avoid dependence on posix programs
  base/process.jl
  test/cmdlineargs.jl
Labels: priority, test

#26067 Add a NEWS entry for find* sentinel change
  NEWS.md
Labels: doc

#24933 RFC: For `readdlm`, change default value of `comments` argument to `false`
  stdlib/DelimitedFiles/src/DelimitedFiles.jl
  stdlib/DelimitedFiles/test/runtests.jl
Labels: I/O, triage

#26063 Move fallback methods for atan, exp, and exp10 to the float method locations
  base/math.jl
  base/special/exp.jl
  base/special/exp10.jl
  base/special/trig.jl
Labels: maths

#26060 Split some tests out of numbers
  test/choosetests.jl
  test/numbers.jl
  test/rational.jl
  test/rounding.jl
Labels: test

#26059 Fix compiler warning and update Makefile
  Makefile
  base/namedtuple.jl
Labels: build

#26068 CurrentEnv(create=true): return non-existent project file in pwd()
  base/loading.jl
Labels: packages

#26069 Rename remove_destination to force in cp, mv, and cptree
  NEWS.md
  base/deprecated.jl
  base/file.jl
  contrib/build_sysimg.jl
  doc/make.jl
  test/file.jl
Labels: deprecation, filesystem

#25922 Avoid creating a closure for each log message
  base/logging.jl
Labels: logging

#26073 fix lowering of `<:` to handle `...` correctly
  src/julia-syntax.scm
  test/syntax.jl
Labels: bugfix, lowering

#26056 Move signif tests to appropriate file and grab one last one
  test/floatfuncs.jl
  test/numbers.jl
Labels: maths, test

#26076 call `realpath` on `/etc/alternatives/editor` so we can tell which editor it is
  stdlib/InteractiveUtils/src/editless.jl
Labels: linux

#26074 parse `:` like other operators, instead of lowering to `colon`
  NEWS.md
  base/broadcast.jl
  base/deprecated.jl
  base/essentials.jl
  base/exports.jl
  base/range.jl
  base/show.jl
  base/twiceprecision.jl
  doc/src/base/math.md
  doc/src/base/punctuation.md
  doc/src/manual/functions.md
  src/ast.scm
  src/julia-parser.scm
  src/julia-syntax.scm
  stdlib/Dates/src/deprecated.jl
  test/ranges.jl
  test/show.jl
  test/syntax.jl
Labels: deprecation, lowering, parser

#26087 put Pkg.dir last in LOAD_PATH
  examples/embedding/embedding.c
  stdlib/Pkg/src/Pkg.jl
Labels: packages

#26036 Document that V also changes shape in thin SVDs
  stdlib/LinearAlgebra/src/svd.jl
Labels: doc, linear algebra

#26062 RFC: Faster methods for tuple comparison and hash
  base/tuple.jl
  test/tuple.jl
Labels: performance

#25990 RFC: move stringmime to Base64, rename reprmime -> repr
  NEWS.md
  base/deprecated.jl
  base/exports.jl
  base/loading.jl
  base/multimedia.jl
  base/strings/io.jl
  base/sysimg.jl
  doc/src/base/io-network.md
  doc/src/base/strings.md
  stdlib/Base64/docs/src/index.md
  stdlib/Base64/src/Base64.jl
  stdlib/Base64/src/encode.jl
  stdlib/Base64/test/runtests.jl
  stdlib/Markdown/Project.toml
  stdlib/Markdown/src/Markdown.jl
  stdlib/Pkg/src/entry.jl
  stdlib/REPL/docs/src/index.md
  test/docs.jl
  test/enums.jl
  test/errorshow.jl
  test/misc.jl
  test/ranges.jl
  test/reflection.jl
  test/show.jl
Labels: display and printing

#26081 regenerate precompile statements
  base/precompile.jl
  contrib/fixup_precompile.jl
  stdlib/REPL/src/REPL.jl
  stdlib/REPL/src/precompile.jl
Labels: precompile

#26095 Drop support for non-indexable iterators in find* functions
  base/array.jl
  test/arrayops.jl
Labels: search & find

#26120 require: factor out method taking a PkgId argument
  base/loading.jl
Labels: packages

#26114 Make note of the required cast when using jl_apply_array_type
  doc/src/manual/embedding.md
Labels: doc, embedding

#26052 RFC: print time to require stdlibs and a summary of sysimg build in the end
  base/sysimg.jl
  base/util.jl
Labels: build

#26085 Array docs: Clarify DenseArray vs. "strided"
  doc/src/manual/arrays.md
Labels: arrays, doc

#26055 stop calling `supertype` in type trait functions
  base/abstractarray.jl
  base/abstractdict.jl
  base/array.jl
  base/set.jl
  stdlib/LinearAlgebra/src/factorization.jl
  stdlib/Random/src/Random.jl
Labels: traits, types and dispatch

#26123 Move embedding test into the test directory
  .circleci/config.yml
  .freebsdci.sh
  .travis.yml
  Makefile
  appveyor.yml
  test/Makefile
  test/embedding/.gitignore
  test/embedding/LocalModule.jl
  test/embedding/Makefile
  test/embedding/embedding-test.jl
  test/embedding/embedding.c
Labels: embedding, test

#26089 rename mimewritable to showable
  base/deprecated.jl
  base/exports.jl
  base/multimedia.jl
  doc/src/base/io-network.md
  stdlib/Markdown/src/render/rich.jl
Labels: display and printing

#26124 Test show_nd for empty n-dim array
  test/show.jl
Labels: arrays, display and printing, test

#26136 fix `deepcopy` of `IdDict`. same issue as #19921.
  base/deepcopy.jl
  test/copy.jl
Labels: bugfix, collections

#26071 Deprecate matchall
  NEWS.md
  base/deprecated.jl
  base/exports.jl
  base/regex.jl
  doc/src/base/strings.md
  stdlib/Markdown/src/render/plain.jl
  stdlib/REPL/src/REPLCompletions.jl
  test/regex.jl
Labels: deprecation, search & find

#25815 use `Char` replacement function for `Char`pattern
  NEWS.md
  base/strings/util.jl
  test/strings/util.jl
Labels: breaking

#26160 doctestsetup for stdlib
  stdlib/Base64/docs/src/index.md
  stdlib/Dates/docs/src/index.md
  stdlib/DelimitedFiles/docs/src/index.md
  stdlib/Distributed/docs/src/index.md
  stdlib/InteractiveUtils/docs/src/index.md
  stdlib/IterativeEigensolvers/docs/src/index.md
  stdlib/LibGit2/docs/index.md
  stdlib/LinearAlgebra/docs/src/index.md
  stdlib/Mmap/docs/src/index.md
  stdlib/Mmap/src/Mmap.jl
  stdlib/Pkg/docs/src/index.md
  stdlib/Printf/docs/src/index.md
  stdlib/Random/docs/src/index.md
  stdlib/SparseArrays/docs/src/index.md
  stdlib/Test/docs/src/index.md
  stdlib/Test/src/Test.jl
  stdlib/UUIDs/docs/src/index.md
  stdlib/Unicode/docs/src/index.md
  stdlib/Unicode/src/Unicode.jl
Labels: doc, stdlib

#26157 Accumulated small fixes
  base/broadcast.jl
  base/docs/basedocs.jl
  base/iobuffer.jl
  base/operators.jl
  base/stat.jl
  doc/src/manual/documentation.md
  stdlib/DelimitedFiles/src/DelimitedFiles.jl
  stdlib/LinearAlgebra/docs/src/index.md
  stdlib/LinearAlgebra/src/matmul.jl
  stdlib/LinearAlgebra/test/dense.jl
Labels: doc

#25989 make `dims` (previously sometimes called `region`) a keyword argument
  base/array.jl
  base/bitarray.jl
  base/deprecated.jl
  base/exports.jl
  base/multidimensional.jl
  base/reduce.jl
  base/reducedim.jl
  base/sort.jl
  base/statistics.jl
  base/twiceprecision.jl
  stdlib/SparseArrays/src/linalg.jl
  stdlib/SparseArrays/test/sparse.jl
  test/arrayops.jl
  test/bitarray.jl
  test/broadcast.jl
  test/offsetarray.jl
  test/reduce.jl
  test/reducedim.jl
  test/statistics.jl
Labels: arrays, deprecation

#26143 Fix for #25847 (leaking Futures)
  stdlib/Distributed/src/remotecall.jl
  stdlib/Distributed/test/distributed_exec.jl
Labels: backport pending 0.6, bugfix, parallel

#26169 rm ZeroOffsetVector
  stdlib/LinearAlgebra/src/tridiag.jl
Labels: linear algebra

#26173 Move Dates docs
  doc/make.jl
  doc/src/base/index.md
  doc/src/index.md
  doc/src/manual/dates.md
  stdlib/Dates/docs/src/index.md
Labels: dates, doc, stdlib

#26186 Fix std(::AbstractArray{<:AbstractFloat})
  base/statistics.jl
  test/statistics.jl
Labels: arrays, bugfix, maths

#26117 mul!(α, A, x, β, y) -> mul!(y, A, x, a, b) in SparseArrays.jl (#23919)
  stdlib/SparseArrays/src/deprecated.jl
  stdlib/SparseArrays/src/linalg.jl
  stdlib/SparseArrays/src/sparsevector.jl
  stdlib/SparseArrays/test/sparsevector.jl
Labels: linear algebra, sparse

#25588 Fix mod1, fld1 issues.
  base/operators.jl
  test/operators.jl
Labels: maths

#26196 precompile: skip small functions
  src/precompile.c
Labels: build, precompile

#26172 RFC: Allow inference of recursion on a decreasing integer type parameter
  base/compiler/typelimits.jl
  test/compiler/compiler.jl
Labels: inference

#26188 fixes #24330 : documentation explain that isless is lexicographic
  base/tuple.jl
Labels: doc

#26195 documented function return type declaration #25718
  doc/src/manual/functions.md
Labels: doc

#26154 RFC: fix #26137, change parsing of unary ops on parenthesized expressions
  NEWS.md
  src/ast.scm
  src/julia-parser.scm
  src/julia-syntax.scm
  test/syntax.jl
Labels: breaking, parser

#26214 Remove outdated reference to embedding Makefile
  examples/Makefile
Labels: bugfix, build

#25890 More thorough aliasing detection in nonscalar copy, broadcast and assignment
  base/abstractarray.jl
  base/array.jl
  base/broadcast.jl
  base/multidimensional.jl
  base/reinterpretarray.jl
  base/reshapedarray.jl
  base/subarray.jl
  stdlib/LinearAlgebra/src/adjtrans.jl
  stdlib/LinearAlgebra/test/adjtrans.jl
  stdlib/Serialization/src/Serialization.jl
  stdlib/SparseArrays/src/higherorderfns.jl
  stdlib/SparseArrays/src/sparsematrix.jl
  stdlib/SparseArrays/src/sparsevector.jl
  stdlib/SparseArrays/test/higherorderfns.jl
  test/arrayops.jl
Labels: arrays

#25912 Add notes for package maintainers
  README.md
Labels: build, doc, external dependencies

#26213 also backport sover patch to LLVM 4.0
  deps/llvm.mk
Labels: external dependencies

#26088 make `.=` return its right hand side. fixes #25954
  src/julia-syntax.scm
  stdlib/LinearAlgebra/src/diagonal.jl
  test/broadcast.jl
  test/subarray.jl
Labels: broadcast

#26233 mention axes in docs instead of size
  base/abstractarray.jl
  base/generator.jl
  doc/src/devdocs/offset-arrays.md
Labels: arrays, doc

#26231 Describe three-valued logic in docstrings
  base/bool.jl
  base/int.jl
  base/operators.jl
  base/reduce.jl
  doc/src/manual/documentation.md
Labels: doc, missing data

#26239 fix unary-related parsing regressions caused by #26154
  src/julia-parser.scm
  test/syntax.jl
Labels: bugfix, parser

#26218 Breath life back into PowerPC backend support
  deps/llvm.mk
  deps/patches/llvm-D30114.patch
  deps/patches/llvm-PPC-addrspaces.patch
  src/jitlayers.cpp
Labels: power
