Repository JuliaLang/julia, pull requests merged in 2018-12, with the labels that each got.

#30135 Update libgfortran name matching to include SOVERSION
  Makefile
Labels: build

#28941 Detangle Slice and fix mixed-dimension in-place reductions
  base/indices.jl
  base/multidimensional.jl
  base/reducedim.jl
  base/show.jl
  base/sort.jl
  base/subarray.jl
  stdlib/LinearAlgebra/test/adjtrans.jl
  test/arrayops.jl
  test/offsetarray.jl
  test/reducedim.jl
  test/reinterpretarray.jl
  test/testhelpers/OffsetArrays.jl
Labels: arrays

#30224 Remove incorrect return in load_path_expand
  base/initdefs.jl
  test/loading.jl
Labels: backport pending 1.0, bugfix

#30046 update libuv
  Make.inc
  deps/checksums/libuv-2348256acf5759a544e5ca7935f638d2bc091d60.tar.gz/md5
  deps/checksums/libuv-2348256acf5759a544e5ca7935f638d2bc091d60.tar.gz/sha512
  deps/checksums/libuv-ed3700c849289ed01fe04273a7bf865340b2bd7e.tar.gz/md5
  deps/checksums/libuv-ed3700c849289ed01fe04273a7bf865340b2bd7e.tar.gz/sha512
  deps/libuv.mk
  deps/libuv.version
  src/jl_uv.c
  src/uv_constants.h
  stdlib/Sockets/src/addrinfo.jl
  test/runtests.jl
Labels: external dependencies

#30231 Update libosxunwind to v0.0.5
  deps/Versions.make
  deps/checksums/libosxunwind-0.0.3.tar.gz/md5
  deps/checksums/libosxunwind-0.0.3.tar.gz/sha512
  deps/checksums/libosxunwind-0.0.5.tar.gz/md5
  deps/checksums/libosxunwind-0.0.5.tar.gz/sha512
Labels: backport pending 1.0, build, external dependencies, mac

#29749 Row and Column Iterator for Matrices
  base/abstractarraymath.jl
  base/exports.jl
  test/arrayops.jl
Labels: arrays

#29211 make use of scientific notation for BigFloat consistent with other types
  NEWS.md
  base/int.jl
  base/math.jl
  base/mpfr.jl
  base/number.jl
  base/strings/io.jl
  test/mpfr.jl
Labels: bignums, display and printing, minor change

#30242 Add C-linkage to gc extensions for correct compiling in C++
  src/julia_gcext.h
  test/gcext/gcext.c
Labels: backport pending 1.0

#30237 doc: fix typo for named regex capture group
  doc/src/manual/strings.md
Labels: backport pending 1.0, doc

#25278 add rand(::Tuple)
  NEWS.md
  stdlib/Random/src/Random.jl
  stdlib/Random/src/generation.jl
  stdlib/Random/test/runtests.jl
  stdlib/SparseArrays/src/linalg.jl
Labels: RNG, performance

#30257 Bump Pkg to 1.1-beta(ish)
  deps/checksums/Pkg-193e494c22f7ce8b5956829286c6212133edcbf1.tar.gz/md5
  deps/checksums/Pkg-193e494c22f7ce8b5956829286c6212133edcbf1.tar.gz/sha512
  deps/checksums/Pkg-f9180e48b27a843aeee864db814dce57cb296b9b.tar.gz/md5
  deps/checksums/Pkg-f9180e48b27a843aeee864db814dce57cb296b9b.tar.gz/sha512
  doc/make.jl
  stdlib/Pkg.version
Labels: external dependencies, packages, stdlib

#30221 speed up (de)serialization of Base bits types in abstract containers
  stdlib/Serialization/src/Serialization.jl
Labels: backport pending 1.0, performance

#30261 fix formatting in bullets for simdloop
  base/simdloop.jl
Labels: backport pending 1.0, doc

#30244 Tests for UUID conversion methods
  test/loading.jl
Labels: test

#30254 fix #30234, don't resolve bindings when tab-completing `using`
  stdlib/REPL/src/REPLCompletions.jl
  stdlib/REPL/test/replcompletions.jl
Labels: REPL, backport pending 1.0, bugfix

#30251 codegen,coverage: handle inlining info
  src/codegen.cpp
Labels: codegen

#30248 perf: optimize append_any function
  base/compiler/abstractinterpretation.jl
  base/compiler/inferenceresult.jl
  base/compiler/tfuncs.jl
  base/compiler/typeinfer.jl
  base/compiler/typelattice.jl
  base/essentials.jl
  src/cgutils.cpp
Labels: backport pending 1.0, performance

#30230 News and compatibility annotations for Julia 1.1
  CONTRIBUTING.md
  NEWS.md
  base/abstractarray.jl
  base/channels.jl
  base/char.jl
  base/error.jl
  base/locks.jl
  base/mpfr.jl
  base/multidimensional.jl
  base/namedtuple.jl
  base/parse.jl
  base/path.jl
  base/process.jl
  base/range.jl
  base/reflection.jl
  base/some.jl
  base/sort.jl
  base/util.jl
  doc/src/assets/julia-manual.css
  doc/src/devdocs/ast.md
  doc/src/manual/getting-started.md
  doc/src/manual/stacktraces.md
  stdlib/Dates/src/types.jl
  stdlib/Future/src/Future.jl
  stdlib/InteractiveUtils/src/InteractiveUtils.jl
  stdlib/InteractiveUtils/src/editless.jl
  stdlib/LinearAlgebra/docs/src/index.md
  stdlib/LinearAlgebra/src/LinearAlgebra.jl
  stdlib/LinearAlgebra/src/dense.jl
  stdlib/LinearAlgebra/src/uniformscaling.jl
  stdlib/Random/src/Random.jl
  stdlib/Random/src/misc.jl
  stdlib/SparseArrays/src/sparsematrix.jl
  stdlib/Statistics/src/Statistics.jl
  stdlib/UUIDs/src/UUIDs.jl
Labels: doc

#30249 Add Sys.is* for all recognized kernels
  NEWS.md
  base/sysinfo.jl
  doc/src/base/base.md
  doc/src/manual/handling-operating-system-variation.md
  test/osutils.jl
Labels: minor change

#30265 fix #30122, bad type intersection involving NTuple and Vararg
  src/subtype.c
  test/subtype.jl
Labels: backport pending 1.0, bugfix, types and dispatch

#30267 implement #30151, accept filename in (de)serialize
  NEWS.md
  stdlib/Serialization/src/Serialization.jl
  stdlib/Serialization/test/runtests.jl
Labels: enhancement

#30282 Bring back NEWS to the manual
  NEWS.md
  doc/make.jl
  doc/src/index.md
Labels: doc

#30262 Backport libgfortran Makefile changes (#29522 and #30135) to 1.0
  Makefile
Labels: build

#30274 fix #29829, better error for passing wrong type of keyword arg
  base/boot.jl
  base/errorshow.jl
  src/julia-syntax.scm
Labels: error handling, keyword arguments

#30272 fix #29828, make use of TypeError more consistent
  base/boot.jl
  base/reflection.jl
  src/builtins.c
  src/ccall.cpp
  src/cgutils.cpp
  src/codegen.cpp
  src/interpreter.c
  src/intrinsics.cpp
  src/jltypes.c
  src/method.c
  src/rtutils.c
  src/runtime_intrinsics.c
  src/toplevel.c
  test/core.jl
Labels: error handling, minor change

#29926 Add relative and absolute tolerance for rank.
  stdlib/LinearAlgebra/src/deprecated.jl
  stdlib/LinearAlgebra/src/generic.jl
  stdlib/LinearAlgebra/test/generic.jl
Labels: linear algebra, stdlib

#30280 reorg compiler tests
  test/choosetests.jl
  test/compiler/codegen.jl
  test/compiler/inference.jl
  test/compiler/inline.jl
Labels: test

#30281 fix #28673, error for trying to allocate e.g. `Array{3}`
  base/compiler/tfuncs.jl
  src/array.c
  test/core.jl
Labels: arrays, error handling

#29274 ArgumentError("stream is closed or unusable") -> IOError
  base/stream.jl
  test/spawn.jl
Labels: minor change, needs news, needs pkgeval

#30092 Document more details on array assignment
  doc/src/manual/arrays.md
Labels: doc

#30287 fix deleteat! for 0-length arrays
  base/array.jl
  base/bitarray.jl
  test/arrayops.jl
  test/bitarray.jl
Labels: bugfix, minor change

#30285 fix forwarding of lowering errors in generated function code
  src/method.c
  test/staged.jl
Labels: bugfix

#30270 `get(A::AbstractArray, (), default)` should get `A[]`
  NEWS.md
  base/abstractarray.jl
  test/abstractarray.jl
Labels: minor change

#30295 make `Vector{UInt8}(::String)` copy as documented
  base/strings/string.jl
  test/strings/basic.jl
Labels: strings

#30289 Create new sparse matrix for R factor in sparse least square solve
  stdlib/SuiteSparse/src/spqr.jl
Labels: backport pending 1.0, linear algebra, performance, sparse

#30291 Use standard interface for Test.GenericArray
  stdlib/Test/src/Test.jl
Labels: test

#30278 spawn/IO: supercharge the API
  NEWS.md
  base/process.jl
  base/stream.jl
  src/init.c
  src/jl_uv.c
  stdlib/Sockets/src/Sockets.jl
  test/spawn.jl
  test/testhelpers/FakePTYs.jl
Labels: I/O

#30297 Some more compat annotations
  base/set.jl
  stdlib/LinearAlgebra/src/generic.jl
Labels: backport pending 1.1, doc

#30304 fix #30303, escaping $ when showing Symbols
  base/show.jl
  test/show.jl
Labels: backport pending 1.0, backport pending 1.1, bugfix, display and printing

#30059 Fix Makefile not removing debug julia lib on windows
  Makefile
Labels: backport pending 1.0, backport pending 1.1, build, windows

#30311 Add LinearAlgebra as test dependency to Distributed.
  stdlib/Distributed/Project.toml
Labels: backport pending 1.1, stdlib

#30253 src/task.c: Use `b` instead of `br` instruction on armv7l
  src/processor_arm.cpp
  src/task.c
Labels: 32-bit, arm, backport pending 1.1

#30286 Make `unique(f, itr)` and `unique!(f, itr)` faster
  base/set.jl
Labels: backport pending 1.1

#30316 Unexport catch_stack
  NEWS.md
  base/error.jl
  base/exports.jl
  doc/src/manual/control-flow.md
  doc/src/manual/stacktraces.md
  test/exceptions.jl
Labels: backport pending 1.1

#30324 Use `JL_AArch64_crc` instead of `HWCAP_CRC32`
  src/crc32c.c
Labels: arm, backport pending 1.0, backport pending 1.1

#30302 NEWS edits for 1.1
  NEWS.md
Labels: backport pending 1.1

#30243 Test for islocked(::ReentrantLock)
  test/misc.jl
Labels: test

#30228 oneunit of sparse matrix should return sparse matrix
  stdlib/SparseArrays/src/sparsematrix.jl
  stdlib/SparseArrays/test/sparse.jl
Labels: minor change, needs news, sparse

#28883 [WIP] Optimizing {+,-,*} for structured matrices
  stdlib/LinearAlgebra/src/bidiag.jl
  stdlib/LinearAlgebra/src/special.jl
  stdlib/LinearAlgebra/src/triangular.jl
  stdlib/LinearAlgebra/test/special.jl
  stdlib/SparseArrays/src/SparseArrays.jl
Labels: linear algebra

#30342 Upgrade Pkg to version 1.1.
  NEWS.md
  deps/checksums/Pkg-193e494c22f7ce8b5956829286c6212133edcbf1.tar.gz/md5
  deps/checksums/Pkg-193e494c22f7ce8b5956829286c6212133edcbf1.tar.gz/sha512
  deps/checksums/Pkg-dacd88b50aca09406c98aa9d418ee2716940d9c4.tar.gz/md5
  deps/checksums/Pkg-dacd88b50aca09406c98aa9d418ee2716940d9c4.tar.gz/sha512
  stdlib/Pkg.version
Labels: backport pending 1.1, packages, stdlib

#30108 adding == for structured matrices (split off of #29724)
  stdlib/LinearAlgebra/src/bidiag.jl
  stdlib/LinearAlgebra/src/special.jl
  stdlib/LinearAlgebra/test/special.jl
Labels: linear algebra, performance

#29998 Adding rtol and atol for pinv and nullspace
  NEWS.md
  stdlib/LinearAlgebra/src/dense.jl
  stdlib/LinearAlgebra/src/deprecated.jl
  stdlib/LinearAlgebra/test/dense.jl
Labels: linear algebra, stdlib

#30194 use non Pkg for workflow tips
  doc/src/manual/workflow-tips.md
Labels: backport pending 1.1, doc

#30315 fix bug with max_values in union!
  base/abstractset.jl
  test/sets.jl
Labels: backport pending 1.0, backport pending 1.1, collections, embarrassing-bugfix

#30331 Force specialization on the type argument of `_similar_for`
  base/array.jl
  base/dict.jl
  base/set.jl
Labels: backport pending 1.1, performance

#30351 Allow dotted binary tilde
  NEWS.md
  src/julia-parser.scm
  test/parse.jl
Labels: backport pending 1.1, enhancement, parser

#30361 Add compat annotation for NaN handling in (l|r)mul!
  stdlib/LinearAlgebra/src/generic.jl
  stdlib/LinearAlgebra/test/generic.jl
Labels: backport pending 1.1, doc

#30347 added doc for AbstractChannel
  base/channels.jl
Labels: backport pending 1.0, backport pending 1.1, doc

#30238 Use `xnnz` in show of SparseVector
  stdlib/SparseArrays/src/sparsevector.jl
Labels: display and printing, sparse

#30208 Add ldiv!(::Diagonal,::SparseMatrix)
  stdlib/SparseArrays/src/linalg.jl
  stdlib/SparseArrays/test/sparse.jl
Labels: linear algebra

#29824 Clarification for try/catch documentation in the manual
  doc/src/manual/control-flow.md
Labels: doc

#30057 Update references to Base.SparseArrays
  stdlib/SparseArrays/src/sparsematrix.jl
Labels: doc, sparse

#30350 codegen: disable Bool optimization for maybe-undef fields
  base/boot.jl
  src/cgutils.cpp
  src/runtime_intrinsics.c
Labels: backport pending 1.1, codegen

#30360 fix #30346, specificity issue with DynamicPolynomials
  src/subtype.c
  test/specificity.jl
Labels: backport pending 1.1, types and dispatch

#30330 Copying editing in "Environment variables" docs
  doc/src/manual/environment-variables.md
Labels: doc

#30366 Added tests for typejoin
  test/core.jl
Labels: test, types and dispatch

#29500 Preserve types when adding/subtracting Herm/Sym/UniformScaling
  stdlib/LinearAlgebra/src/symmetric.jl
  stdlib/LinearAlgebra/src/uniformscaling.jl
  stdlib/LinearAlgebra/test/symmetric.jl
  stdlib/LinearAlgebra/test/uniformscaling.jl
Labels: breaking, linear algebra

#30163 [SparseArrays] Respect order of mul in (l)mul!(::Diagonal,::Sparse)
  stdlib/LinearAlgebra/test/generic.jl
  stdlib/SparseArrays/src/linalg.jl
  stdlib/SparseArrays/test/sparse.jl
  test/testhelpers/Quaternions.jl
Labels: backport pending 1.0, bugfix, needs tests, sparse

#28133 Constructor for SharedMatrix and SharedVector
  stdlib/SharedArrays/src/SharedArrays.jl
  stdlib/SharedArrays/test/runtests.jl
Labels: parallel

#30353 fix #30335, regression in intersection of unions of typevars
  src/subtype.c
  test/subtype.jl
Labels: backport pending 1.1, bugfix, types and dispatch

#30378 Upgrade to Pkg 1.1.1.
  deps/checksums/Pkg-cfbe0479e609aabcf5ae5422f7772b742922a0da.tar.gz/md5
  deps/checksums/Pkg-cfbe0479e609aabcf5ae5422f7772b742922a0da.tar.gz/sha512
  deps/checksums/Pkg-dacd88b50aca09406c98aa9d418ee2716940d9c4.tar.gz/md5
  deps/checksums/Pkg-dacd88b50aca09406c98aa9d418ee2716940d9c4.tar.gz/sha512
  stdlib/Pkg.version
Labels: backport pending 1.1, external dependencies, packages, stdlib

#30383 Update documentation version from 1.1-dev to 1.2-dev.
  doc/make.jl
Labels: docsystem

#30376 Fix reinterpret for 0-dimensional arrays
  base/reinterpretarray.jl
  test/reinterpretarray.jl
Labels: arrays, backport pending 1.0, backport pending 1.1, bugfix

#30292 A few missing NamedTuple tests
  test/namedtuple.jl
Labels: test

#30395 fix unionall env in showing nested method static parameters
  base/methodshow.jl
  test/show.jl
Labels: display and printing

#30415 Fix #20409: rank for sparse matrices.
  stdlib/SuiteSparse/src/spqr.jl
  stdlib/SuiteSparse/test/spqr.jl
Labels: sparse

#30405 Fix #30006, getindex accessing fields that might not exist
  base/range.jl
  stdlib/SparseArrays/test/sparse.jl
  test/ranges.jl
Labels: backport pending 1.0, backport pending 1.1, sparse

#30416 Fixed sparse cholesky to return Vector
  stdlib/SuiteSparse/src/cholmod.jl
  stdlib/SuiteSparse/test/cholmod.jl
Labels: backport pending 1.0, backport pending 1.1, linear algebra, sparse

#30372 spmatmul sparse matrix multiplication - performance improvements
  stdlib/SparseArrays/src/linalg.jl
  stdlib/SparseArrays/test/sparse.jl
Labels: backport pending 1.0, backport pending 1.1, performance, sparse

#30396 fix #30394, an unsoundness in ml_matches
  src/gf.c
  test/compiler/inference.jl
Labels: backport pending 1.0, backport pending 1.1, bugfix, types and dispatch

#30266 Try implementing N-dimensional indexing for fast linear SubArrays
  base/subarray.jl
Labels: arrays, backport pending 1.1, performance

#29946 loading: work on simplifications (and some corrections) of docs
  base/initdefs.jl
  doc/src/manual/code-loading.md
Labels: doc, packages

#30200 Fix `repr` on `DateTime`
  NEWS.md
  stdlib/Dates/docs/src/index.md
  stdlib/Dates/src/io.jl
  stdlib/Dates/test/io.jl
Labels: dates, minor change

#30320 faster maximum, minimum (#28849)
  base/reduce.jl
  test/reduce.jl
Labels: backport pending 1.0, backport pending 1.1, performance

#26877 log when a worker begins a testset to improve debuggability when workers hang in CI
  test/testdefs.jl
Labels: testsystem

#30385 attempt to refine return type when it could be improved via PartialTuple
  base/compiler/abstractinterpretation.jl
  base/compiler/ssair/inlining.jl
  base/compiler/typeinfer.jl
  base/compiler/typeutils.jl
  test/compiler/inference.jl
Labels: backport pending 1.0, backport pending 1.1, inference

#30384 make `ndigits` more generic
  base/intfuncs.jl
Labels: backport pending 1.1, maths

#30449 Add link to the pdf version of the documentation to the html pages
  doc/src/index.md
Labels: backport pending 1.1, docsystem

#29331 stdlib/SparseArrays: fix scalar setindex! for vector eltype
  stdlib/SparseArrays/src/sparsematrix.jl
  stdlib/SparseArrays/test/sparse.jl
Labels: sparse

#30319 generalize sparse matrix slicing to integer types
  stdlib/SparseArrays/src/sparsematrix.jl
  stdlib/SparseArrays/test/sparse.jl
Labels: sparse

#30381 coverage: support output in LCOV tracefile format
  base/options.jl
  base/util.jl
  src/codegen.cpp
  src/init.c
  src/jloptions.c
  src/julia.h
  src/processor.cpp
  src/processor.h
  src/runtime_ccall.cpp
  test/cmdlineargs.jl
  test/spawn.jl
  test/testenv.jl
  test/testhelpers/coverage_file.info
  test/testhelpers/coverage_file.jl
Labels: testsystem

#30439 Fix mention of Base.worker_timeout() in manual
  doc/src/manual/environment-variables.md
Labels: backport pending 1.0, backport pending 1.1, doc

#30433 test cases and NEWS for #30372 (sparse matmul)
  NEWS.md
  stdlib/SparseArrays/test/sparse.jl
Labels: sparse

#30446 Added check for `/` DimensionMismatch error
  stdlib/LinearAlgebra/src/generic.jl
  stdlib/LinearAlgebra/src/qr.jl
  stdlib/LinearAlgebra/test/generic.jl
Labels: linear algebra, stdlib

#30428 Mark a couple errorshow tests as broken on FreeBSD non-debug
  test/errorshow.jl
Labels: freebsd, test

#30447 Use a tier system for platform support
  README.md
Labels: build, doc

#30482 Remove `doc/NEWS-update.jl` step from CONTRIBUTING.md
  CONTRIBUTING.md
Labels: doc

#30459 Only use llvm-config for library selection with USE_SYSTEM_LLVM
  base/Makefile
  src/Makefile
Labels: backport pending 1.1, bugfix, build

#30472 fix HTML display of method static parameters
  base/methodshow.jl
Labels: display and printing

#30442 Show Union without compactness by default
  base/show.jl
  test/show.jl
Labels: display and printing, needs news

#30317 faster circshift! for SparseMatrixCSC
  stdlib/SparseArrays/src/SparseArrays.jl
  stdlib/SparseArrays/src/sparsematrix.jl
  stdlib/SparseArrays/src/sparsevector.jl
  stdlib/SparseArrays/test/sparse.jl
  stdlib/SparseArrays/test/sparsevector.jl
Labels: sparse

#30511 remove unnecessary named let in parse-assignment
  src/julia-parser.scm
Labels: parser

#30519 Add Dates as a test dependency to SparseArrays.
  stdlib/SparseArrays/Project.toml
Labels: backport pending 1.1, sparse, stdlib

#30516 Fixed sprand for dimensions of unusual integer type
  stdlib/SparseArrays/src/sparsematrix.jl
  stdlib/SparseArrays/test/sparse.jl
Labels: sparse

#30471 faster mapfoldl for tuples
  base/tuple.jl
  test/tuple.jl
Labels: Backport pending 1.1.1, backport pending 1.0, performance

#30525 Add target defines for wasm/emscripten
  base/sysinfo.jl
  src/support/platform.h
Labels: wasm

#30172 cluster manager fixes
  stdlib/Distributed/src/cluster.jl
  stdlib/Distributed/test/distributed_exec.jl
Labels: parallel
