Repository JuliaLang/julia, pull requests merged in 2018-08, with the labels that each got.

#28377 deps: fix rule for llvm patches rebuild
  deps/llvm.mk
Labels: build

#28344 Revive #27659: Revert "Revert "enable the SLP Vectorizer optimization pass by default""
  NEWS.md
  src/jitlayers.cpp
Labels: backport pending 0.7

#28385 Pkg: properly isolate a test
  stdlib/Pkg/test/repl.jl
Labels: packages, test

#28144 Added docs for the StridedArrays and fixed a doctest fail
  base/docs/basedocs.jl
  base/file.jl
  doc/src/base/arrays.md
  doc/src/manual/arrays.md
Labels: arrays, doc

#28387 Docs: fix deprecated docm syntax use of deprecated REPL reference
  base/docs/Docs.jl
Labels: backport pending 0.7, bugfix

#28389 improve bitshift precedence deprecation to handle more operators
  base/char.jl
  base/hashing2.jl
  base/math.jl
  src/julia-parser.scm
  stdlib/Random/src/generation.jl
  stdlib/Sockets/src/IPAddr.jl
Labels: backport pending 0.7, deprecation, parser

#28391 fix deprecation for iteration protocol
  base/essentials.jl
Labels: backport pending 0.7, bugfix, deprecation

#28397 fix #28356, compiler hang in OrdinaryDiffEq
  base/compiler/typeutils.jl
  test/compiler/compiler.jl
Labels: bugfix, optimizer

#26813 [Distributed] don't sidestep require logic
  stdlib/Distributed/src/Distributed.jl
  stdlib/Distributed/test/distributed_exec.jl
Labels: backport pending 0.7, parallel

#28404 fix #28399, incorrect variable capture causing internal compiler error
  src/julia-syntax.scm
  test/core.jl
Labels: bugfix, lowering

#28059 more reliable extraction of information from typeinfo
  base/arrayshow.jl
  test/show.jl
Labels: display and printing

#28403 Add LLVM patch to explicitly represent umin in SCEV
  deps/Versions.make
  deps/llvm.mk
  deps/patches/llvm-D50167-scev-umin.patch
Labels: bugfix

#26022 RFC: Simpler array hashing
  base/abstractarray.jl
  stdlib/Dates/test/ranges.jl
  stdlib/SparseArrays/src/sparsematrix.jl
  test/arrayops.jl
Labels: arrays, hashing

#28371 WIP Revenge of the precompile statement generator
  Makefile
  base/options.jl
  base/sysimg.jl
  contrib/add_license_to_files.jl
  contrib/fixup_precompile.jl
  contrib/generate_precompile.jl
  contrib/precompile_explicit.jl
  src/gf.c
  src/jloptions.c
  src/julia.h
  stdlib/REPL/src/REPL.jl
  test/precompile.jl
Labels: backport pending 0.7, latency, precompile

#28396 Doc Cstring and Cwstring
  base/c.jl
  doc/src/base/c.md
  doc/src/manual/calling-c-and-fortran-code.md
Labels: doc, strings

#28395 Update OpenBLAS to v0.3.2
  deps/checksums/openblas-939452ea9dcb57abdcc3f1278c6db668a4690465.tar.gz/md5
  deps/checksums/openblas-939452ea9dcb57abdcc3f1278c6db668a4690465.tar.gz/sha512
  deps/checksums/openblas-e8a68ef261a33568b0f0cf53e0e2287e9f12e69e.tar.gz/md5
  deps/checksums/openblas-e8a68ef261a33568b0f0cf53e0e2287e9f12e69e.tar.gz/sha512
  deps/openblas.version
Labels: external dependencies

#28414 add OPENBLAS_NO_AVX512 build option
  deps/blas.mk
Labels: backport pending 0.7, build, external dependencies

#28416 Try to fix deadlock in code loading
  base/loading.jl
  src/dump.c
  test/precompile.jl
Labels: backport pending 0.7

#28419 emit precompile statements to separate file
  base/options.jl
  contrib/generate_precompile.jl
  contrib/precompile_explicit.jl
  src/gf.c
  src/jloptions.c
  src/julia.h
  src/options.h
Labels: backport pending 0.7

#28410 Add docs for RawFD
  base/event.jl
  base/libc.jl
  doc/src/base/file.md
Labels: doc

#28427 Docs for RoundFromZero and some xrefs
  base/mpfr.jl
  base/rounding.jl
  doc/src/base/math.md
Labels: bignums, doc

#28411 disable FileWatching tests that fail on mac
  stdlib/FileWatching/test/runtests.jl
Labels: ci, mac, test

#28422 fix pkg3 docs typo
  stdlib/Pkg/docs/src/index.md
Labels: backport pending 0.7, doc, packages

#28436 Shred overwritten cached credentials
  stdlib/LibGit2/src/types.jl
  stdlib/LibGit2/test/libgit2.jl
Labels: backport pending 0.7, bugfix, libgit2, security

#28439 Define `size` for SVD
  stdlib/LinearAlgebra/src/svd.jl
  stdlib/LinearAlgebra/test/svd.jl
Labels: linear algebra, needs tests

#28242 specialized solvers for tranpose/adjoint of triangular sparse matrices
  stdlib/SparseArrays/src/linalg.jl
  stdlib/SparseArrays/test/sparse.jl
Labels: linear algebra, performance

#28448 Avoid possible shredding of passed credential on reject
  stdlib/LibGit2/src/types.jl
  stdlib/LibGit2/test/libgit2.jl
Labels: backport pending 0.7, bugfix, libgit2, security

#28443 Bump Pkg
  contrib/generate_precompile.jl
  stdlib/Pkg/bin/generate.jl
  stdlib/Pkg/docs/src/index.md
  stdlib/Pkg/src/API.jl
  stdlib/Pkg/src/GitTools.jl
  stdlib/Pkg/src/Operations.jl
  stdlib/Pkg/src/Pkg.jl
  stdlib/Pkg/src/Pkg2/reqs.jl
  stdlib/Pkg/src/REPLMode.jl
  stdlib/Pkg/src/Types.jl
  stdlib/Pkg/src/generate.jl
  stdlib/Pkg/src/precompile.jl
  stdlib/Pkg/test/api.jl
  stdlib/Pkg/test/pkg.jl
  stdlib/Pkg/test/repl.jl
  stdlib/Pkg/test/resolve.jl
  stdlib/Pkg/test/test_packages/x1/Project.toml
  stdlib/Pkg/test/test_packages/x1/src/x1.jl
  stdlib/Pkg/test/test_packages/x2/Project.toml
  stdlib/Pkg/test/test_packages/x2/src/x2.jl
  stdlib/Pkg/test/test_packages/x3/Project.toml
  stdlib/Pkg/test/test_packages/x3/src/x3.jl
  stdlib/Pkg/test/test_packages/x3/test/runtests.jl
Labels: backport pending 0.7

#28460 remove LibGit2 deprecations
  stdlib/LibGit2/src/LibGit2.jl
  stdlib/LibGit2/src/deprecated.jl
Labels: deprecation

#28450 Remove many stdlib deprecations
  base/sysimg.jl
  stdlib/Dates/src/deprecated.jl
  stdlib/Dates/test/conversions.jl
  stdlib/DelimitedFiles/src/DelimitedFiles.jl
  stdlib/InteractiveUtils/src/InteractiveUtils.jl
  stdlib/Serialization/src/Serialization.jl
  stdlib/SharedArrays/src/SharedArrays.jl
  stdlib/Sockets/src/Sockets.jl
  stdlib/Statistics/src/Statistics.jl
Labels: deprecation, stdlib

#27930 delete OldPkg
  .circleci/config.yml
  .freebsdci.sh
  .travis.yml
  appveyor.yml
  base/sysimg.jl
  contrib/precompile_explicit.jl
  doc/src/manual/environment-variables.md
  stdlib/InteractiveUtils/test/runtests.jl
  stdlib/OldPkg/Project.toml
  stdlib/OldPkg/src/OldPkg.jl
  stdlib/OldPkg/src/cache.jl
  stdlib/OldPkg/src/dir.jl
  stdlib/OldPkg/src/entry.jl
  stdlib/OldPkg/src/query.jl
  stdlib/OldPkg/src/read.jl
  stdlib/OldPkg/src/reqs.jl
  stdlib/OldPkg/src/resolve.jl
  stdlib/OldPkg/src/resolve/fieldvalue.jl
  stdlib/OldPkg/src/resolve/interface.jl
  stdlib/OldPkg/src/resolve/maxsum.jl
  stdlib/OldPkg/src/resolve/versionweight.jl
  stdlib/OldPkg/src/types.jl
  stdlib/OldPkg/src/write.jl
  stdlib/OldPkg/test/pkg.jl
  stdlib/OldPkg/test/resolve.jl
  stdlib/OldPkg/test/resolvedata1.jl
  stdlib/OldPkg/test/runtests.jl
  stdlib/OldPkg/test/testgroups
  stdlib/Pkg/bin/gitmeta.jl
  stdlib/Pkg/bin/stdlib.toml
  stdlib/REPL/test/replcompletions.jl
  test/choosetests.jl
  test/precompile.jl
Labels: excision, packages

#28456 remove LinearAlgebra deprecations
  base/deprecated.jl
  base/docs/basedocs.jl
  base/show.jl
  base/sysimg.jl
  src/ast.scm
  stdlib/LinearAlgebra/src/LinearAlgebra.jl
  stdlib/LinearAlgebra/src/bidiag.jl
  stdlib/LinearAlgebra/src/conjarray.jl
  stdlib/LinearAlgebra/src/deprecated.jl
  stdlib/LinearAlgebra/src/rowvector.jl
  stdlib/LinearAlgebra/src/svd.jl
  stdlib/LinearAlgebra/test/bidiag.jl
  stdlib/LinearAlgebra/test/blas.jl
  stdlib/LinearAlgebra/test/dense.jl
  stdlib/LinearAlgebra/test/tridiag.jl
  stdlib/SparseArrays/src/SparseArrays.jl
  stdlib/SparseArrays/src/deprecated.jl
  stdlib/SparseArrays/src/sparsevector.jl
  stdlib/SuiteSparse/src/cholmod.jl
  stdlib/SuiteSparse/src/deprecated.jl
Labels: deprecation, linear algebra

#28455 [GCLowering] Fix type condition to include vector of pointers
  src/llvm-late-gc-lowering.cpp
  test/core.jl
  test/llvmpasses/gcroots.ll
Labels: GC, backport pending 0.7, codegen

#28465 Fix mix-type arithmetic detection in umin/max expansion
  deps/patches/llvm-D50167-scev-umin.patch
Labels: backport pending 0.7, bugfix, external dependencies

#28433 Fix race condition when building LLVM for Windows
  deps/llvm.mk
  deps/patches/llvm-windows-race.patch
Labels: backport pending 0.7, build, external dependencies, windows

#28459 RFC: remove deprecation about __precompile__(true)
  base/loading.jl
Labels: backport pending 0.7, deprecation

#28478 Fix legality check in SROA
  base/compiler/ssair/passes.jl
  test/compiler/compiler.jl
Labels: backport pending 0.7, bugfix, optimizer

#28449 Work around invalid register errors with 64-bit Windows
  deps/blas.mk
Labels: backport pending 0.7, build, external dependencies, windows

#28457 remove more deprecations
  base/abstractdict.jl
  base/deprecated.jl
  base/essentials.jl
  base/iterators.jl
  base/show.jl
  base/sort.jl
  base/sysimg.jl
  base/sysinfo.jl
  doc/src/base/base.md
  stdlib/Distributed/src/Distributed.jl
  stdlib/Distributed/src/cluster.jl
  stdlib/InteractiveUtils/src/InteractiveUtils.jl
  stdlib/InteractiveUtils/test/runtests.jl
  stdlib/LibGit2/src/LibGit2.jl
  stdlib/LibGit2/src/deprecated.jl
  stdlib/LibGit2/src/types.jl
  stdlib/Pkg/src/resolve/FieldValues.jl
  stdlib/REPL/test/replcompletions.jl
  stdlib/Random/src/Random.jl
  stdlib/Random/src/deprecated.jl
  stdlib/SparseArrays/src/SparseArrays.jl
  stdlib/Test/src/Test.jl
  stdlib/Unicode/src/Unicode.jl
  test/ambiguous.jl
  test/compiler/compiler.jl
  test/deprecation_exec.jl
  test/parse.jl
  test/reflection.jl
  test/show.jl
Labels: deprecation

#28480 Remove checks in tril, triu, and diag
  stdlib/LinearAlgebra/src/dense.jl
  stdlib/LinearAlgebra/src/triangular.jl
  stdlib/LinearAlgebra/test/dense.jl
  stdlib/LinearAlgebra/test/triangular.jl
  stdlib/SparseArrays/src/linalg.jl
  stdlib/SparseArrays/src/sparsematrix.jl
  stdlib/SparseArrays/test/sparse.jl
Labels: backport pending 0.7, linear algebra, sparse

#28485 Small tweak to vector handling in GC lowering
  src/llvm-late-gc-lowering.cpp
Labels: GC, backport pending 0.7, bugfix

#28453 Fixed long stacktrace printing
  base/errorshow.jl
  test/errorshow.jl
Labels: backport pending 0.7

#28184 Avoid excessive output from test errors
  stdlib/Logging/src/ConsoleLogger.jl
  stdlib/Test/src/Test.jl
Labels: display and printing, testsystem

#28492 Pkg REPLMode: fix `add X@v`
  stdlib/Pkg/src/REPLMode.jl
  stdlib/Pkg/test/repl.jl
Labels: backport pending 0.7, bugfix, packages

#28498 Fix product of iterators without integer state
  base/iterators.jl
  test/iterators.jl
Labels: backport pending 0.7

#28496 Remove at-pure from manual
  doc/src/manual/types.md
Labels: backport pending 0.7

#28446 update docstring for qr
  stdlib/LinearAlgebra/src/qr.jl
Labels: doc, linear algebra

#28500 [release-0.7] fix `isbits` deprecation not to be optimized out
  base/compiler/ssair/inlining.jl
Labels: deprecation

#28517 inference: fix recursion limit heuristic
  base/compiler/abstractinterpretation.jl
  base/compiler/typelimits.jl
  test/compiler/compiler.jl
Labels: bugfix, inference

#28528 fix #28527, error needed for `using A.b` where b is not a module
  src/toplevel.c
Labels: embarrassing-bugfix

#28568 Fix vec of adjoint vector
  stdlib/LinearAlgebra/src/adjtrans.jl
  stdlib/LinearAlgebra/test/adjtrans.jl
Labels: backport pending 0.7, backport pending 1.0, bugfix, linear algebra

#28592 fix #28576, parsing `?` at end of input in conditional expression
  src/julia-parser.scm
  test/syntax.jl
Labels: backport pending 1.0, bugfix, parser

#28620 Fix #28619, logabsdet for singular matrices
  stdlib/LinearAlgebra/src/generic.jl
  stdlib/LinearAlgebra/test/generic.jl
Labels: backport pending 0.7, backport pending 1.0, bugfix, linear algebra

#28476 Doc IndexLinear and IndexCartesian
  base/cartesian.jl
  base/indices.jl
  base/iterators.jl
  doc/src/base/arrays.md
Labels: arrays, doc

#28594 Fix typo in doc
  doc/src/manual/noteworthy-differences.md
Labels: backport pending 1.0, doc

#28586 fix various `printstyled` calls
  base/compiler/ssair/show.jl
Labels: backport pending 1.0, display and printing

#28609 fix print docstring
  base/strings/io.jl
Labels: backport pending 1.0, doc

#28608 Implement REPL replayer for Windows
  contrib/generate_precompile.jl
  contrib/precompile_explicit.jl
  stdlib/Pkg/src/Pkg.jl
  stdlib/Pkg/src/precompile.jl
  stdlib/REPL/src/Terminals.jl
Labels: precompile

#28642 Keep parametric information when constructing a SparseMatrixCSC from …
  stdlib/SparseArrays/src/sparsematrix.jl
  stdlib/SparseArrays/test/sparse.jl
Labels: backport pending 1.0

#28616 stop specializing on argument types of `display`
  base/multimedia.jl
Labels: backport pending 1.0, latency

#28660 Docs on REPL: Change quit() to exit()
  stdlib/REPL/docs/src/index.md
Labels: REPL, backport pending 1.0, doc

#28657 Fix input args in rem_pio2_kernel doc string
  base/special/rem_pio2.jl
Labels: backport pending 1.0

#28663 remove redundant text in a docstring
  base/strings/io.jl
Labels: backport pending 1.0, doc

#28664 fix typo in a docstring
  base/strings/io.jl
Labels: backport pending 1.0

#28661 improve performance for number to string conversion functions
  base/intfuncs.jl
Labels: backport pending 1.0, performance, strings

#28621 Fix throw_complex_domainerror error message for log[1p]
  base/math.jl
  base/special/log.jl
Labels: backport pending 1.0, error handling, needs tests

#28655 fix #28641, passing typevars to `<:` in typejoin and tuplemerge
  base/compiler/typelimits.jl
  base/promotion.jl
  test/compiler/compiler.jl
  test/core.jl
Labels: backport pending 1.0, bugfix

#28656 fix #28499, calling `cluster_cookie` before cluster starts
  stdlib/Distributed/src/cluster.jl
  stdlib/Distributed/test/distributed_exec.jl
Labels: backport pending 1.0, bugfix, parallel

#28659 fix #28597, error for empty arrays with some negative dim sizes
  src/array.c
  test/core.jl
Labels: arrays, backport pending 1.0, bugfix, error handling

#28670 fix performance in printf
  base/printf.jl
Labels: backport pending 1.0, performance, strings

#28684 LinearAlgebra remove unused export
  stdlib/LinearAlgebra/src/LinearAlgebra.jl
Labels: backport pending 0.7, backport pending 1.0, linear algebra

#28699 add a code quote to a word
  base/essentials.jl
Labels: backport pending 1.0

#28677 smarter order of checks in jl_types_equal
  src/subtype.c
Labels: backport pending 1.0, types and dispatch

#28693 fix some exported undefined variables and test this does not happen
  stdlib/LinearAlgebra/src/LinearAlgebra.jl
  stdlib/Random/src/Random.jl
  test/misc.jl
Labels: backport pending 1.0

#28702 Use code font for `jl_value_t` in h2
  doc/src/devdocs/object.md
Labels: backport pending 1.0, doc

#28694 fix REPL completions not always being unique
  stdlib/REPL/src/REPL.jl
  stdlib/REPL/test/replcompletions.jl
Labels: REPL, backport pending 1.0, bugfix

#28514 Doc sorting algos
  base/sort.jl
  doc/src/base/sort.md
Labels: backport pending 1.0, doc

#28719 Misc doc improvements
  base/int.jl
  doc/src/base/numbers.md
  doc/src/manual/index.md
Labels: backport pending 1.0, doc

#28742 Fix missing GC root in interpreter.c
  src/interpreter.c
Labels: backport pending 1.0

#28556 add document on JULIA_PROJECT environment variable
  doc/src/manual/environment-variables.md
Labels: backport pending 1.0, doc

#28754 Update style-guide.md
  doc/src/manual/style-guide.md
Labels: backport pending 1.0

#28751 Fix three missing gc roots in subtyping
  src/subtype.c
Labels: backport pending 1.0

#28733 Example for parentindices
  base/subarray.jl
Labels: arrays, doc

#28653 Add doctest example for broadcast!
  base/broadcast.jl
Labels: backport pending 1.0, broadcast, doc

#28644 Remove mention of `reload` from the docs; fix #28572
  doc/src/manual/modules.md
Labels: backport pending 1.0

#28769 Update Enums.jl
  base/Enums.jl
Labels: backport pending 1.0

#28745 upgrade to LLVM 6.0.1
  deps/Versions.make
  deps/checksums/llvm-6.0.0.src.tar.xz/md5
  deps/checksums/llvm-6.0.0.src.tar.xz/sha512
  deps/checksums/llvm-6.0.1.src.tar.xz/md5
  deps/checksums/llvm-6.0.1.src.tar.xz/sha512
  deps/llvm.mk
  deps/patches/llvm-D27629-AArch64-large_model_6.0.1.patch
Labels: external dependencies

#28748 added documentation for read command methods
  base/process.jl
Labels: backport pending 1.0, doc

#28731 fix two typos in Scope of Variables docs
  doc/src/manual/variables-and-scoping.md
Labels: backport pending 1.0

#28749 Resolve all method ambiguities in LinearAlgebra
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/LinearAlgebra/src/generic.jl
  stdlib/LinearAlgebra/test/matmul.jl
Labels: backport pending 1.0, linear algebra

#28787 improve performance of parse
  base/parse.jl
Labels: backport pending 1.0, performance, strings

#28791 Add a short warning to the doc-frontpage
  doc/src/index.md
Labels: doc

#28790 Make copyto!(A,I) work for rectangular matrices
  stdlib/LinearAlgebra/src/uniformscaling.jl
  stdlib/LinearAlgebra/test/uniformscaling.jl
Labels: linear algebra

#28792 doc: change the canonical url to v1 instead of stable.
  doc/make.jl
Labels: backport pending 1.0, doc

#28810 Update info about `versioninfo` in devdocs
  doc/src/devdocs/backtraces.md
Labels: backport pending 1.0, doc

#28703 add `Regex` documentation
  base/regex.jl
Labels: backport pending 1.0, doc

#28832 Added seekstart to getpass in base/util.jl (#28828)
  base/util.jl
Labels: backport pending 1.0, security, windows

#28780 make cmp with BigInt return in [-1, 0, 1]
  base/gmp.jl
  test/bigint.jl
Labels: backport pending 1.0, bignums, bugfix

#28800 @schedule is deprecated, the code is no longer valid in 1.0
  doc/src/manual/parallel-computing.md
Labels: backport pending 1.0, doc

#28835 gh-pages: Update redirects to docs
  en/index.html
  index.html
Labels: docsystem

#28625 absolutify --project path
  base/initdefs.jl
  src/init.c
  test/loading.jl
Labels: backport pending 1.0, bugfix

#28847 Remove bounds checks in iterate(::Tuple)
  base/tuple.jl
Labels: backport pending 1.0, performance

#28651 Support parallelizing over collections that have non-Int lengths
  stdlib/Distributed/src/macros.jl
  stdlib/Distributed/test/distributed_exec.jl
Labels: backport pending 1.0, parallel

#28875 fix doccing call overload without named argument
  base/docs/Docs.jl
  test/docs.jl
Labels: backport pending 1.0, bugfix, doc

#28877 Fix note tag in the documentation
  doc/src/manual/performance-tips.md
Labels: backport pending 1.0

#28817 improve docstring of pathof
  base/loading.jl
Labels: backport pending 1.0, doc

#28871 issubset aces Discrete Math but flunks Topology
  base/abstractset.jl
  test/sets.jl
Labels: backport pending 0.7, backport pending 1.0

#28876 improve performance for string(...)
  base/strings/io.jl
  base/strings/substring.jl
  test/strings/basic.jl
Labels: backport pending 1.0, performance, strings

#28873 Compare Symbols and Chars more efficiently in Cholesky
  stdlib/LinearAlgebra/src/cholesky.jl
Labels: backport pending 1.0, linear algebra, performance

#28926 PTX/CUDAnative no longer needs a source build
  README.md
Labels: doc, gpu

#28950 removed outdated paragraph on automatic broadcasting for binary operators
  doc/src/manual/arrays.md
Labels: backport pending 1.0, doc

#28944 doc: Fix call to round for Julia 1.0
  doc/src/manual/parallel-computing.md
Labels: backport pending 1.0

#28952 Getting Started: Capitalize "CPU" for consistency
  doc/src/manual/getting-started.md
  src/jloptions.c
Labels: backport pending 1.0, doc

#28959 fix typo in `?@specialize`
  base/essentials.jl
Labels: backport pending 1.0, doc

#28977 Fix History `eye` deprecation PR: should be 24415
  HISTORY.md
Labels: backport pending 0.7
