Repository JuliaLang/julia, pull requests merged in 2018-05, with the labels that each got.

#26918 [NewOptimizer] Backport reverse affinity changes from #26778
  base/compiler/ssair/ir.jl
  base/compiler/ssair/show.jl
  base/compiler/ssair/slot2ssa.jl
  base/compiler/ssair/verify.jl
Labels: optimizer

#26945 [NewOptimizer] Fix phi node codegen corner case
  src/codegen.cpp
Labels: optimizer

#26943 [NewOptimizer] Fix PhiC type lifting for nested try/catch
  base/compiler/ssair/passes.jl
  base/compiler/ssair/slot2ssa.jl
Labels: optimizer

#26948 [NewOptimizer] Make stmt_effect_free less aggressive
  base/compiler/ssair/passes.jl
  base/compiler/ssair/queries.jl
  base/compiler/tfuncs.jl
Labels: optimizer

#26942 Broadcast performance: fix type stability
  base/broadcast.jl
Labels: broadcast, needs benchmark, performance

#26954 better deprecation message for (+|-)(::Array, ::Number) deprecation
  base/deprecated.jl
Labels: deprecation

#26944 Broadcast.AbstractArrayStyle constructor fixups
  base/broadcast.jl
  test/broadcast.jl
Labels: broadcast

#26955 add examples for at-test macros, fix #26018
  stdlib/Test/src/Test.jl
Labels: doc, test

#26347 RFC: Deprecate implicit scalar broadcasting in setindex!
  NEWS.md
  base/abstractarray.jl
  base/abstractarraymath.jl
  base/array.jl
  base/bitarray.jl
  base/bitset.jl
  base/broadcast.jl
  base/char.jl
  base/compiler/ssair/ir.jl
  base/compiler/ssair/slot2ssa.jl
  base/deprecated.jl
  base/iobuffer.jl
  base/multidimensional.jl
  stdlib/FileWatching/src/FileWatching.jl
  stdlib/LinearAlgebra/src/dense.jl
  stdlib/LinearAlgebra/src/qr.jl
  stdlib/LinearAlgebra/src/uniformscaling.jl
  stdlib/LinearAlgebra/test/dense.jl
  stdlib/Pkg3/src/GraphType.jl
  stdlib/SHA/src/sha3.jl
  stdlib/SharedArrays/test/runtests.jl
  stdlib/SparseArrays/src/deprecated.jl
  stdlib/SparseArrays/src/higherorderfns.jl
  stdlib/SparseArrays/src/linalg.jl
  stdlib/SparseArrays/src/sparsematrix.jl
  stdlib/SparseArrays/src/sparsevector.jl
  stdlib/SparseArrays/test/sparse.jl
  stdlib/SparseArrays/test/sparsevector.jl
  stdlib/SuiteSparse/src/spqr.jl
  test/arrayops.jl
  test/bitarray.jl
  test/copy.jl
  test/subarray.jl
Labels: arrays, deprecation

#26963 [NewOptimizer] Refactor phinode codegen
  src/cgutils.cpp
  src/codegen.cpp
Labels: optimizer

#26964 [NewOptimizer] Fix complaints by legacy validator on new IR
  base/compiler/validation.jl
Labels: optimizer

#26950 More exact computation of allocations in Sparse broadcast
  stdlib/SparseArrays/src/higherorderfns.jl
  stdlib/SparseArrays/test/higherorderfns.jl
Labels: broadcast, sparse, test

#26960 Update stacktraces docs
  doc/src/manual/stacktraces.md
Labels: REPL, doc

#26961 Make random test less likely to fail
  stdlib/Random/test/runtests.jl
Labels: RNG, test

#26890 Implement isopen for RemoteChannel
  stdlib/Distributed/src/Distributed.jl
  stdlib/Distributed/src/remotecall.jl
  stdlib/Distributed/test/distributed_exec.jl
Labels: parallel

#26940 specify eltype for Random.UniformBits (internal type)
  stdlib/Random/src/Random.jl
  stdlib/Random/test/runtests.jl
Labels: RNG

#26974 Fix documentation warnings
  NEWS.md
  doc/src/base/arrays.md
  doc/src/base/base.md
  doc/src/base/math.md
  stdlib/LinearAlgebra/src/adjtrans.jl
  stdlib/LinearAlgebra/src/transpose.jl
  stdlib/Logging/docs/src/index.md
Labels: doc

#26971 run LibGit2/libgit2 tests again
  stdlib/LibGit2/test/libgit2.jl
  stdlib/LibGit2/test/testgroups
  test/choosetests.jl
Labels: libgit2, test

#26980 Deprecate map(f, ::AbstractSet)
  NEWS.md
  base/abstractarray.jl
  base/deprecated.jl
  stdlib/Random/test/runtests.jl
  test/dict.jl
Labels: deprecation

#26876 several iterator trait fixes
  base/asyncmap.jl
  base/error.jl
  base/essentials.jl
  base/generator.jl
  base/iterators.jl
  base/multidimensional.jl
  base/reflection.jl
  base/reshapedarray.jl
  base/show.jl
  base/task.jl
  base/tuple.jl
  stdlib/Distributed/src/cluster.jl
  test/arrayops.jl
  test/iterators.jl
  test/tuple.jl
Labels: bugfix, traits

#26970 fix #26916, anon fn syntax with 1 kw and 1 optional arg
  src/julia-parser.scm
  test/keywordargs.jl
Labels: bugfix, lowering

#26978 Fix computation of sparse BroadcastStyle dimensionality
  stdlib/SparseArrays/src/higherorderfns.jl
  stdlib/SparseArrays/test/higherorderfns.jl
Labels: broadcast, bugfix, sparse

#26986 fix #26979, incorrect typeassert in deserialize
  stdlib/Serialization/src/Serialization.jl
  stdlib/Serialization/test/runtests.jl
Labels: backport pending 0.6, bugfix

#26989 [GCLowering] Fix phis of unions
  src/llvm-late-gc-lowering.cpp
  test/llvmpasses/gcroots.ll
Labels: GC

#26925 Upgrade to LLVM 6 and use BinaryBuilder for LLVM on CI
  .travis.yml
  Make.inc
  contrib/windows/appveyor_build.sh
  deps/Versions.make
  deps/checksums/cfe-3.9.1.src.tar.xz/md5
  deps/checksums/cfe-3.9.1.src.tar.xz/sha512
  deps/checksums/cfe-6.0.0.src.tar.xz/md5
  deps/checksums/cfe-6.0.0.src.tar.xz/sha512
  deps/checksums/compiler-rt-3.9.1.src.tar.xz/md5
  deps/checksums/compiler-rt-3.9.1.src.tar.xz/sha512
  deps/checksums/compiler-rt-6.0.0.src.tar.xz/md5
  deps/checksums/compiler-rt-6.0.0.src.tar.xz/sha512
  deps/checksums/libcxx-3.9.1.src.tar.xz/md5
  deps/checksums/libcxx-3.9.1.src.tar.xz/sha512
  deps/checksums/lldb-3.9.1.src.tar.xz/md5
  deps/checksums/lldb-3.9.1.src.tar.xz/sha512
  deps/checksums/llvm-3.9.1.src.tar.xz/md5
  deps/checksums/llvm-3.9.1.src.tar.xz/sha512
  deps/checksums/llvm-6.0.0.src.tar.xz/md5
  deps/checksums/llvm-6.0.0.src.tar.xz/sha512
  deps/llvm.mk
  src/codegen.cpp
Labels: build, ci, external dependencies

#26972 Search the julia subfolder first in RPATH
  Make.inc
Labels: bugfix, build

#26594 enable the SLP Vectorizer optimization pass by default
  NEWS.md
  src/jitlayers.cpp
Labels: performance

#26981 [NewOptimizer] Port #26826 to new optimizer
  base/compiler/ssair/inlining2.jl
  test/compiler/compiler.jl
Labels: optimizer

#26985 [NewOptimizer] Make simdloop marker more robust
  base/compiler/ssair/queries.jl
  deps/Versions.make
  deps/llvm.mk
  deps/patches/llvm-D46460.patch
  src/codegen.cpp
  src/jitlayers.cpp
  src/llvm-simdloop.cpp
  test/llvmpasses/simdloop.ll
Labels: optimizer

#26967 Move scalar broadcast setindex_shape_check method to deprecated
  base/deprecated.jl
  base/indices.jl
  test/arrayops.jl
Labels: broadcast, deprecation

#26973 Separate LibGit2.(count|map) from Base.(count|map)
  stdlib/LibGit2/docs/src/index.md
  stdlib/LibGit2/src/LibGit2.jl
  stdlib/LibGit2/src/deprecated.jl
  stdlib/LibGit2/src/diff.jl
  stdlib/LibGit2/src/index.jl
  stdlib/LibGit2/src/merge.jl
  stdlib/LibGit2/src/rebase.jl
  stdlib/LibGit2/src/reference.jl
  stdlib/LibGit2/src/tree.jl
  stdlib/LibGit2/src/walker.jl
  stdlib/LibGit2/test/libgit2.jl
Labels: deprecation, libgit2

#26993 Re-enable strict=true for doc generation
  base/abstractarray.jl
  base/array.jl
  doc/make.jl
  doc/src/base/arrays.md
  doc/src/base/collections.md
  stdlib/LinearAlgebra/src/transpose.jl
Labels: doc

#27027 Improve docstrings for vec and reshape
  base/abstractarraymath.jl
  base/reshapedarray.jl
Labels: arrays, doc

#26775 Deprecate linearindices in favor of LinearIndices
  NEWS.md
  base/abstractarray.jl
  base/accumulate.jl
  base/array.jl
  base/broadcast.jl
  base/deprecated.jl
  base/errorshow.jl
  base/essentials.jl
  base/exports.jl
  base/indices.jl
  base/iterators.jl
  base/multidimensional.jl
  base/range.jl
  base/reduce.jl
  base/reducedim.jl
  base/show.jl
  base/sort.jl
  base/statistics.jl
  base/subarray.jl
  doc/src/base/arrays.md
  doc/src/devdocs/offset-arrays.md
  doc/src/manual/performance-tips.md
  stdlib/LinearAlgebra/src/LinearAlgebra.jl
  stdlib/LinearAlgebra/src/generic.jl
  stdlib/Random/src/RNGs.jl
  stdlib/Random/src/generation.jl
  stdlib/Test/src/Test.jl
  test/abstractarray.jl
  test/arrayops.jl
Labels: arrays, deprecation

#27037 remove duplicate LinearIndices docs
  base/deprecated.jl
  base/multidimensional.jl
  doc/src/base/arrays.md
Labels: doc

#26987 Make Broadcasted iterable and more indexable
  base/broadcast.jl
  test/broadcast.jl
Labels: broadcast

#27006 Update mathematical-operations.md
  doc/src/manual/mathematical-operations.md
Labels: doc, maths

#27026 Simplify SparseMatrix setindex!
  stdlib/SparseArrays/src/deprecated.jl
  stdlib/SparseArrays/src/sparsematrix.jl
  stdlib/SparseArrays/test/sparse.jl
Labels: bugfix, sparse

#27052 fix element type returned by `Set()` on general iterators
  base/set.jl
  test/sets.jl
Labels: bugfix, collections

#26982 function cache: fix memory leak
  src/gf.c
Labels: backport pending 0.6, bugfix

#27042 fix a transitivity issue in specificity, from #26915
  src/subtype.c
  test/specificity.jl
Labels: backport pending 0.6, bugfix, types and dispatch

#27051 dump: handle recursion better
  base/show.jl
  test/show.jl
Labels: display and printing

#27047 fix showing shared arrays
  base/arrayshow.jl
  stdlib/SharedArrays/test/runtests.jl
Labels: display and printing

#27008 Avoid out of bounds read in mul! for SymTridiagonal
  stdlib/LinearAlgebra/src/tridiag.jl
  stdlib/LinearAlgebra/test/tridiag.jl
Labels: backport pending 0.6, linear algebra

#27060 Add test to ensure rand! is allocation-free
  stdlib/Random/test/runtests.jl
Labels: RNG, test

#27011 faster Profile.print
  base/stacktraces.jl
  stdlib/Profile/src/Profile.jl
  stdlib/Serialization/src/Serialization.jl
Labels: performance

#27077 Rename isalpha to isletter
  NEWS.md
  base/deprecated.jl
  base/exports.jl
  base/operators.jl
  base/strings/strings.jl
  base/strings/unicode.jl
  doc/src/base/strings.md
  stdlib/Dates/src/parse.jl
  stdlib/REPL/src/docview.jl
  stdlib/Unicode/test/runtests.jl
  test/iobuffer.jl
  test/iostream.jl
Labels: deprecation, strings, unicode

#27082 Make LibGit2 GitRepo API robust against closed repos
  stdlib/LibGit2/src/repository.jl
  stdlib/LibGit2/test/libgit2.jl
Labels: bugfix, libgit2

#27086 [NewOptimizer] Fix codegen test
  test/codegen.jl
Labels: codegen, optimizer, test

#27065 don't allow promoting `Some{T}` and `Some{S}`
  base/missing.jl
  base/some.jl
  test/ambiguous.jl
  test/some.jl
Labels: missing data

#27087 Enable new optimizer by default
  base/compiler/optimize.jl
  base/compiler/ssair/passes.jl
Labels: optimizer

#25861 Improve inference of `collect` with unstable eltype
  base/array.jl
  base/promotion.jl
  test/functional.jl
Labels: collections

#27063 Flush out the pointer docs
  base/c.jl
  doc/src/base/base.md
Labels: doc

#27023 fix and generalize comprehension lowering
  base/process.jl
  src/julia-syntax.scm
  stdlib/LinearAlgebra/src/adjtrans.jl
  stdlib/LinearAlgebra/src/deprecated.jl
  test/functional.jl
  test/syntax.jl
Labels: bugfix, lowering

#27107 document some undocumented exports
  base/abstractset.jl
  base/array.jl
  base/broadcast.jl
  base/float.jl
  base/gcutils.jl
  base/pair.jl
  base/reduce.jl
  base/version.jl
  doc/src/base/arrays.md
  doc/src/base/base.md
  doc/src/base/collections.md
  doc/src/manual/packages.md
  doc/src/manual/strings.md
Labels: doc

#27036 tweak SHA1 printing
  base/loading.jl
  base/uuid.jl
  test/loading.jl
Labels: display and printing

#27117 Fix for UndefVarError(var=:arg_T2)
  base/compiler/ssair/inlining2.jl
  test/compiler/ssair.jl
Labels: needs tests

#27108 Backport for 27072
  base/array.jl
  test/arrayops.jl
Labels: backport pending 0.6

#27127 document join(io, ...)
  base/strings/io.jl
Labels: doc

#27000 fix remaining doctest failures and enable doctests on CI
  .travis.yml
  base/abstractarray.jl
  base/abstractarraymath.jl
  base/broadcast.jl
  base/floatfuncs.jl
  base/indices.jl
  base/iterators.jl
  base/multidimensional.jl
  base/reflection.jl
  base/reshapedarray.jl
  base/show.jl
  base/strings/basic.jl
  base/views.jl
  doc/Makefile
  doc/make.jl
  doc/src/manual/arrays.md
  doc/src/manual/interfaces.md
  stdlib/LinearAlgebra/src/dense.jl
  stdlib/Logging/docs/src/index.md
  stdlib/Test/src/Test.jl
  stdlib/UUIDs/src/UUIDs.jl
Labels: doc

#27110 Replace broadcast_similar with plain old similar
  base/broadcast.jl
  doc/src/base/arrays.md
  doc/src/manual/interfaces.md
  stdlib/LinearAlgebra/src/structuredbroadcast.jl
  test/broadcast.jl
Labels: broadcast

#27128 rm newline from end of Markdown text/plain output
  stdlib/Markdown/src/GitHub/table.jl
  stdlib/Markdown/src/IPython/IPython.jl
  stdlib/Markdown/src/render/terminal/formatting.jl
  stdlib/Markdown/src/render/terminal/render.jl
  stdlib/Markdown/test/runtests.jl
  test/docs.jl
Labels: docsystem

#26731 Enable PCRE UTF-8 validity string checks
  base/regex.jl
  test/regex.jl
Labels: unicode

#27172 disallow `return` inside generators and comprehensions
  src/julia-syntax.scm
  test/functional.jl
  test/syntax.jl
Labels: breaking, lowering

#27098 RFC: deprecate per-module definition of `eval(module, expr)`
  base/Enums.jl
  base/boot.jl
  base/client.jl
  base/deprecated.jl
  base/docs/Docs.jl
  base/essentials.jl
  base/expr.jl
  base/loading.jl
  base/osutils.jl
  base/sysimg.jl
  base/util.jl
  doc/src/base/base.md
  doc/src/manual/modules.md
  src/jlfrontend.scm
  stdlib/REPL/src/LineEdit.jl
  stdlib/REPL/src/REPL.jl
  stdlib/REPL/test/repl.jl
  stdlib/REPL/test/replcompletions.jl
  stdlib/Serialization/test/runtests.jl
  test/examples.jl
  test/logging.jl
  test/misc.jl
  test/show.jl
  test/syntax.jl
  test/testdefs.jl
  ui/repl.c
Labels: deprecation, modules, triage

#27183 fix #15229, error for declared local that conflicts with an argument
  src/julia-syntax.scm
  test/syntax.jl
Labels: breaking, lowering

#27146 doc: remove sitename from navbar, move introduction to first page
  doc/make.jl
  doc/src/assets/julia-manual.css
  doc/src/index.md
  doc/src/manual/introduction.md
Labels: doc

#27195 Upgrade Documenter to v0.18
  doc/REQUIRE
  doc/make.jl
  doc/src/manual/interfaces.md
Labels: docsystem

#27189 Make UCP option the default for regex matching
  NEWS.md
  base/path.jl
  base/pcre.jl
  base/regex.jl
  test/regex.jl
Labels: breaking

#27191 fix #27187, error in typeintersect of incompatible NamedTuples
  src/subtype.c
  test/namedtuple.jl
Labels: bugfix, types and dispatch

#27123 Fix initialization of accumulators in _generic_matmatmul!
  stdlib/LinearAlgebra/src/adjtrans.jl
  stdlib/LinearAlgebra/src/matmul.jl
  stdlib/LinearAlgebra/test/matmul.jl
Labels: bugfix, linear algebra

#27163 Deprecate `cat(dim, Xs...)` to `cat(Xs..., dims=dim)`
  NEWS.md
  base/abstractarray.jl
  base/array.jl
  base/bitarray.jl
  base/deprecated.jl
  base/util.jl
  doc/src/manual/arrays.md
  stdlib/LinearAlgebra/test/special.jl
  stdlib/SparseArrays/src/deprecated.jl
  stdlib/SparseArrays/src/sparsevector.jl
  stdlib/SparseArrays/test/sparse.jl
  stdlib/SparseArrays/test/sparsevector.jl
  test/abstractarray.jl
  test/ambiguous.jl
  test/arrayops.jl
  test/bitarray.jl
  test/functional.jl
  test/subarray.jl
Labels: deprecation

#27207 Add `select_std_dll` to ease `gfortran-X` selection on Windows
  Makefile
Labels: build, windows

#27164 make `@sync` lexically scoped and merge `@schedule` with `@async`
  NEWS.md
  base/asyncmap.jl
  base/channels.jl
  base/deprecated.jl
  base/event.jl
  base/exports.jl
  base/task.jl
  doc/src/base/parallel.md
  doc/src/manual/control-flow.md
  doc/src/manual/parallel-computing.md
  stdlib/Distributed/src/Distributed.jl
  stdlib/Distributed/src/cluster.jl
  stdlib/Distributed/src/macros.jl
  stdlib/Distributed/src/managers.jl
  stdlib/Distributed/src/messages.jl
  stdlib/Distributed/src/precompile.jl
  stdlib/Distributed/src/process_messages.jl
  stdlib/Distributed/src/remotecall.jl
  stdlib/Distributed/test/distributed_exec.jl
  stdlib/FileWatching/src/FileWatching.jl
  stdlib/Pkg3/src/Operations.jl
  stdlib/REPL/src/REPL.jl
  stdlib/Sockets/test/nettest.jl
  stdlib/Sockets/test/runtests.jl
  test/channels.jl
  test/misc.jl
  test/read.jl
  test/spawn.jl
Labels: breaking, parallel

#27210 fix #27155, macro hygiene of `A{B} = C` expressions
  src/macroexpand.scm
  test/syntax.jl
Labels: bugfix, macros

#27177 [NewOptimizer] Hook up printing, print linetable
  base/compiler/ssair/driver.jl
  base/compiler/ssair/ir.jl
  base/compiler/ssair/legacy.jl
  base/compiler/ssair/show.jl
  base/show.jl
  stdlib/InteractiveUtils/src/codeview.jl
  stdlib/Test/src/Test.jl
  test/reflection.jl
  test/show.jl
  test/staged.jl
Labels: display and printing, optimizer

#27216 RFC: Support state from old iteration protocol in Iterators.Rest
  base/iterators.jl
  test/iterators.jl
Labels: iteration

#27222 Use ccache on AppVeyor to speedup builds
  appveyor.yml
  contrib/windows/appveyor_build.sh
  contrib/windows/install-cygwin.ps1
Labels: build, ci, windows

#27212 once more unto the decomposition breach, dear friends!
  NEWS.md
  doc/src/manual/arrays.md
  doc/src/manual/parallel-computing.md
  doc/src/manual/performance-tips.md
  stdlib/Distributed/test/distributed_exec.jl
  stdlib/IterativeEigensolvers/src/IterativeEigensolvers.jl
  stdlib/IterativeEigensolvers/test/runtests.jl
  stdlib/LinearAlgebra/docs/src/index.md
  stdlib/LinearAlgebra/src/LinearAlgebra.jl
  stdlib/LinearAlgebra/src/bidiag.jl
  stdlib/LinearAlgebra/src/bunchkaufman.jl
  stdlib/LinearAlgebra/src/cholesky.jl
  stdlib/LinearAlgebra/src/dense.jl
  stdlib/LinearAlgebra/src/deprecated.jl
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/LinearAlgebra/src/eigen.jl
  stdlib/LinearAlgebra/src/factorization.jl
  stdlib/LinearAlgebra/src/generic.jl
  stdlib/LinearAlgebra/src/hessenberg.jl
  stdlib/LinearAlgebra/src/ldlt.jl
  stdlib/LinearAlgebra/src/lq.jl
  stdlib/LinearAlgebra/src/lu.jl
  stdlib/LinearAlgebra/src/qr.jl
  stdlib/LinearAlgebra/src/schur.jl
  stdlib/LinearAlgebra/src/svd.jl
  stdlib/LinearAlgebra/src/symmetric.jl
  stdlib/LinearAlgebra/src/triangular.jl
  stdlib/LinearAlgebra/src/tridiag.jl
  stdlib/LinearAlgebra/test/bidiag.jl
  stdlib/LinearAlgebra/test/bunchkaufman.jl
  stdlib/LinearAlgebra/test/cholesky.jl
  stdlib/LinearAlgebra/test/dense.jl
  stdlib/LinearAlgebra/test/diagonal.jl
  stdlib/LinearAlgebra/test/eigen.jl
  stdlib/LinearAlgebra/test/generic.jl
  stdlib/LinearAlgebra/test/givens.jl
  stdlib/LinearAlgebra/test/hessenberg.jl
  stdlib/LinearAlgebra/test/lapack.jl
  stdlib/LinearAlgebra/test/lq.jl
  stdlib/LinearAlgebra/test/lu.jl
  stdlib/LinearAlgebra/test/qr.jl
  stdlib/LinearAlgebra/test/schur.jl
  stdlib/LinearAlgebra/test/special.jl
  stdlib/LinearAlgebra/test/svd.jl
  stdlib/LinearAlgebra/test/symmetric.jl
  stdlib/LinearAlgebra/test/triangular.jl
  stdlib/LinearAlgebra/test/tridiag.jl
  stdlib/SparseArrays/src/SparseArrays.jl
  stdlib/SparseArrays/src/linalg.jl
  stdlib/SparseArrays/test/sparse.jl
  stdlib/SuiteSparse/src/cholmod.jl
  stdlib/SuiteSparse/src/deprecated.jl
  stdlib/SuiteSparse/src/spqr.jl
  stdlib/SuiteSparse/src/umfpack.jl
  stdlib/SuiteSparse/test/cholmod.jl
  stdlib/SuiteSparse/test/spqr.jl
  stdlib/SuiteSparse/test/umfpack.jl
  test/bitarray.jl
Labels: deprecation, linear algebra

#27257 Try to fix CircleCI
  .circleci/config.yml
Labels: ci, linux

#27153 Publish docs for Base.Iterators.Stateful
  base/iterators.jl
  doc/src/base/iterators.md
Labels: doc

#27228 Handle PiNodes of arguments in type lifting
  base/compiler/ssair/passes.jl
  test/core.jl
Labels: bugfix, optimizer

#27256 Fix definition of promote_rule(Missing, Missing)
  base/missing.jl
Labels: types and dispatch

#27281 fix a typo; protocoal -> protocol
  base/strings/basic.jl
Labels: doc

#27169 Update the (partial)sortperm docs
  base/sort.jl
Labels: doc

#27277 Some doc improvements to broadcast
  base/broadcast.jl
Labels: broadcast, doc

#27105 enable unconditional PKG3 precompile
  stdlib/Pkg/src/API.jl
  stdlib/Pkg/src/Pkg.jl
  stdlib/Pkg/src/REPLMode.jl
  stdlib/Pkg/src/precompile.jl
Labels: packages, precompile

#27246 Pkg: fix precompile function
  stdlib/Pkg/src/API.jl
Labels: bugfix, packages, precompile

#27152 move statistics out of Base
  base/deprecated.jl
  base/exports.jl
  base/statistics.jl
  base/sysimg.jl
  doc/src/base/math.md
  doc/src/manual/interfaces.md
  stdlib/LinearAlgebra/docs/src/index.md
  stdlib/LinearAlgebra/src/LinearAlgebra.jl
  stdlib/LinearAlgebra/src/generic.jl
  stdlib/LinearAlgebra/test/generic.jl
  stdlib/SparseArrays/src/linalg.jl
  stdlib/SparseArrays/src/sparsematrix.jl
  stdlib/SparseArrays/test/sparse.jl
  test/docs.jl
  test/offsetarray.jl
  test/reducedim.jl
  test/statistics.jl
Labels: deprecation, excision, triage

#26737 fix #26131, unsound updating of variable upper bounds in subtyping
  src/subtype.c
  test/subtype.jl
Labels: bugfix, types and dispatch

#27252 split using isspace
  base/strings/util.jl
  test/strings/util.jl
Labels: strings

#27238 disallow unrecognized escapes in unescape_string (part of #21284)
  base/strings/io.jl
  test/strings/io.jl
Labels: needs tests, strings

#27038 RFC: use offset axes for offset arrays
  base/abstractarray.jl
  base/abstractarraymath.jl
  base/array.jl
  base/arrayshow.jl
  base/bitarray.jl
  base/broadcast.jl
  base/indices.jl
  base/multidimensional.jl
  base/reducedim.jl
  base/reshapedarray.jl
  base/show.jl
  base/simdloop.jl
  base/sort.jl
  base/statistics.jl
  stdlib/LinearAlgebra/src/transpose.jl
  test/TestHelpers.jl
  test/abstractarray.jl
  test/arrayops.jl
  test/offsetarray.jl
  test/simdloop.jl
Labels: arrays, breaking

#27279 More doctests for LinAlg
  stdlib/LinearAlgebra/src/LinearAlgebra.jl
  stdlib/LinearAlgebra/src/matmul.jl
Labels: doc, linear algebra

#27275 Some doctests and examples and a missing "."
  base/file.jl
Labels: doc, filesystem

#26802 Improve regex documentation
  base/regex.jl
  doc/src/manual/strings.md
Labels: doc, strings

#26922 fix startswith/endswith implementation
  base/strings/util.jl
  test/strings/basic.jl
Labels: strings

#27166 Deprecate setrounding
  NEWS.md
  base/deprecated.jl
  base/rounding.jl
  doc/src/manual/integers-and-floating-point-numbers.md
  test/rounding.jl
Labels: deprecation

#27296 For singleton types, make Const(T.instance) and T equivalent
  base/compiler/typelattice.jl
  test/compiler/compiler.jl
Labels: inference

#27303 Fix typo in split docstring
  base/strings/util.jl
Labels: doc

#27221 upgrade OpenBLAS to 0.3.0
  deps/blas.mk
  deps/checksums/openblas-5dde4e65d321076582a2fafe16949d2160551e81.tar.gz/md5
  deps/checksums/openblas-5dde4e65d321076582a2fafe16949d2160551e81.tar.gz/sha512
  deps/checksums/openblas-939452ea9dcb57abdcc3f1278c6db668a4690465.tar.gz/md5
  deps/checksums/openblas-939452ea9dcb57abdcc3f1278c6db668a4690465.tar.gz/sha512
  deps/openblas.version
  deps/patches/openblas-musl-PR1257.patch
Labels: external dependencies

#25211 Strip the CartesianIndex wrapper from the ind2sub deprecation
  base/deprecated.jl
Labels: deprecation

#27225 remove old optimizer code
  base/compiler/optimize.jl
  base/compiler/ssair/legacy.jl
Labels: optimizer

#27297 generate default outer ctors for more types with triangular constraints
  base/abstractdict.jl
  base/indices.jl
  base/multidimensional.jl
  src/julia-syntax.scm
  stdlib/LinearAlgebra/src/diagonal.jl
  test/core.jl
Labels: breaking, types and dispatch

#27307 parsing Project files should swap state even if state == :deps
  base/loading.jl
Labels: bugfix, packages

#27145 simplify doc/Makefile
  .travis.yml
  CONTRIBUTING.md
  Makefile
  doc/Makefile
  doc/make.jl
Labels: ci, docsystem

#27313 Fix JULIA_TESTFULL tests for SubArray
  test/subarray.jl
Labels: test

#27249 Finish breaking the decompositions: deprecate chol and chol!
  stdlib/LinearAlgebra/docs/src/index.md
  stdlib/LinearAlgebra/src/cholesky.jl
  stdlib/LinearAlgebra/src/deprecated.jl
  stdlib/LinearAlgebra/src/uniformscaling.jl
  stdlib/LinearAlgebra/test/cholesky.jl
  stdlib/LinearAlgebra/test/triangular.jl
  stdlib/LinearAlgebra/test/uniformscaling.jl
  stdlib/SparseArrays/src/linalg.jl
  stdlib/SparseArrays/test/sparse.jl
Labels: deprecation, linear algebra

#27322 Remove fftw checksums
  deps/checksums/fftw-3.3.6-pl1.tar.gz/md5
  deps/checksums/fftw-3.3.6-pl1.tar.gz/sha512
Labels: external dependencies

#27319 Regex documentation with julia-repl
  base/regex.jl
  doc/src/manual/strings.md
Labels: doc, strings

#27301 Some doctests for Sockets
  stdlib/Sockets/src/addrinfo.jl
Labels: doc

#27258 make `coalesce` handle only `missing`; add `something`
  base/client.jl
  base/compiler/ssair/show.jl
  base/deprecated.jl
  base/exports.jl
  base/file.jl
  base/missing.jl
  base/parse.jl
  base/path.jl
  base/shell.jl
  base/some.jl
  base/stacktraces.jl
  base/strings/search.jl
  base/strings/util.jl
  doc/src/base/base.md
  stdlib/Distributed/src/Distributed.jl
  stdlib/Distributed/src/cluster.jl
  stdlib/Distributed/src/managers.jl
  stdlib/Distributed/src/process_messages.jl
  stdlib/Distributed/src/remotecall.jl
  stdlib/LibGit2/src/LibGit2.jl
  stdlib/LibGit2/src/callbacks.jl
  stdlib/LibGit2/src/deprecated.jl
  stdlib/LibGit2/src/types.jl
  stdlib/LibGit2/src/utils.jl
  stdlib/LibGit2/test/libgit2-helpers.jl
  stdlib/REPL/src/LineEdit.jl
  stdlib/REPL/src/REPLCompletions.jl
  test/loading.jl
  test/missing.jl
  test/some.jl
  test/spawn.jl
Labels: missing data

#27329 Increase `challenge_prompt` timeout to 60 seconds
  stdlib/LibGit2/test/libgit2.jl
Labels: libgit2, test

#26914 NamedTuple constructor for iterables
  base/namedtuple.jl
  test/namedtuple.jl
Labels: collections

#27343 fix warning from deprecation
  stdlib/SparseArrays/src/deprecated.jl
Labels: deprecation, linear algebra

#27349 Remove superfluous mention of at-pure in NEWS
  NEWS.md
Labels: doc

#27300 More xrefs and some doctests
  base/docs/basedocs.jl
  base/iterators.jl
Labels: doc

#27332 Fix misc tests under JULIA_TESTFULL
  test/misc.jl
Labels: test

#27298 Make Sys.which return nothing instead of throwing
  base/sysinfo.jl
  test/spawn.jl
Labels: breaking, filesystem
