Repository JuliaLang/julia, pull requests merged in 2018-06, with the labels that each got.

#27340 Missing "Examples" headings and a few more actual examples
  base/complex.jl
  base/dict.jl
  base/event.jl
  base/float.jl
  base/gmp.jl
  base/indices.jl
  base/int.jl
  base/iterators.jl
  base/math.jl
  base/mathconstants.jl
  base/number.jl
  base/operators.jl
  base/parse.jl
  base/path.jl
  base/range.jl
  base/rational.jl
  base/reduce.jl
  base/reducedim.jl
  base/regex.jl
  base/reshapedarray.jl
  base/some.jl
  base/special/exp.jl
  base/subarray.jl
  base/task.jl
  base/tuple.jl
  base/views.jl
  doc/src/manual/types.md
Labels: doc

#26952 Document invalid UTF-8 indexing and concatenation
  base/strings/basic.jl
  doc/src/manual/strings.md
Labels: strings, unicode

#27320 Fix #27276
  stdlib/InteractiveUtils/src/codeview.jl
  stdlib/InteractiveUtils/test/runtests.jl
Labels: bugfix

#27314 Docs: manually apply hygiene to internal [] syntax
  base/boot.jl
  base/compiler/ssair/show.jl
  base/docs/Docs.jl
  base/docs/core.jl
  base/meta.jl
  base/show.jl
  doc/src/devdocs/ast.md
Labels: docsystem

#27160 [RFC] Add argmin and argmax over given dimensions
  base/reducedim.jl
  test/reducedim.jl
Labels: arrays

#27321 Doc conflict in juxtaposition multiplication and Float32
  doc/src/manual/integers-and-floating-point-numbers.md
Labels: doc

#27335 Fix concatenations with leading types
  base/deprecated.jl
  test/arrayops.jl
Labels: arrays, bugfix

#27395 correct disambiguat[ing/ion] spelling
  base/deprecated.jl
  stdlib/LinearAlgebra/src/deprecated.jl
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/LinearAlgebra/src/givens.jl
  stdlib/LinearAlgebra/src/symmetric.jl
  stdlib/LinearAlgebra/src/triangular.jl
Labels: bugfix, embarrassing-bugfix

#27394 add missing import to SuiteSparse lufact deprecation
  stdlib/SuiteSparse/src/deprecated.jl
Labels: bugfix, linear algebra, sparse

#27312 Some preparatory work for enforcing subtype invariants for phi nodes
  base/compiler/optimize.jl
  base/compiler/ssair/inlining2.jl
  base/compiler/ssair/ir.jl
  base/compiler/ssair/passes.jl
  base/compiler/ssair/slot2ssa.jl
Labels: optimizer

#27376 Some more examples for the multidim arrays section of Manual
  doc/src/manual/arrays.md
Labels: arrays, doc

#27404 fix #27361, error adding method using e.g. `Tuple{3}`
  src/subtype.c
  test/specificity.jl
Labels: backport pending 0.6, bugfix, types and dispatch

#27413 Add temporary LLVM C API for accessing source location information.
  src/llvm-api.cpp
Labels: gpu

#27396 Remove build directories from RPATH on FreeBSD
  Make.inc
  Makefile
  contrib/fixup-rpath.sh
  deps/blas.mk
Labels: backport pending 0.6, bugfix, build, freebsd

#27436 add back deprecation for ipermute!
  base/deprecated.jl
Labels: deprecation

#27371 fix #27338, error in lowering loops in value position
  src/julia-syntax.scm
Labels: bugfix, lowering

#27033 update performance tips
  doc/src/manual/performance-tips.md
Labels: doc, performance

#27241 upgrade of libgit2 0.27.1
  deps/checksums/libgit2-15e119375018fba121cf58e02a9f17fe22df0df8.tar.gz/md5
  deps/checksums/libgit2-15e119375018fba121cf58e02a9f17fe22df0df8.tar.gz/sha512
  deps/checksums/libgit2-b0d9952c318a3d1b8917e06ad46b9110c0c28831.tar.gz/md5
  deps/checksums/libgit2-b0d9952c318a3d1b8917e06ad46b9110c0c28831.tar.gz/sha512
  deps/libgit2.mk
  deps/libgit2.version
  deps/patches/libgit2-agent-nonfatal.patch
  deps/patches/libgit2-bundled_zlib.patch
  deps/patches/libgit2-mbedtls-fixup.patch
  deps/patches/libgit2-mbedtls-verify.patch
  deps/patches/libgit2-mbedtls.patch
  deps/patches/libgit2-ssh-loop.patch
  deps/patches/libgit2-ssh.patch
  stdlib/LibGit2/src/config.jl
  stdlib/LibGit2/src/types.jl
Labels: external dependencies, libgit2

#27253 atan2 -> atan
  NEWS.md
  base/complex.jl
  base/deprecated.jl
  base/exports.jl
  base/fastmath.jl
  base/math.jl
  base/mpfr.jl
  base/number.jl
  base/special/trig.jl
  doc/src/base/math.md
  doc/src/manual/mathematical-operations.md
  test/broadcast.jl
  test/fastmath.jl
  test/math.jl
  test/mpfr.jl
  test/numbers.jl
Labels: maths

#27452 synchronize front-end IR with new back-end IR
  base/boot.jl
  base/compiler/abstractinterpretation.jl
  base/compiler/inferencestate.jl
  base/compiler/optimize.jl
  base/compiler/ssair/driver.jl
  base/compiler/ssair/inlining2.jl
  base/compiler/ssair/ir.jl
  base/compiler/ssair/legacy.jl
  base/compiler/ssair/slot2ssa.jl
  base/compiler/ssair/verify.jl
  base/compiler/typeinfer.jl
  base/compiler/utilities.jl
  base/compiler/validation.jl
  base/show.jl
  base/stacktraces.jl
  doc/src/devdocs/ast.md
  doc/src/devdocs/reflection.md
  src/ast.c
  src/ast.scm
  src/builtins.c
  src/codegen.cpp
  src/dump.c
  src/init.c
  src/interpreter.c
  src/jlfrontend.scm
  src/jltypes.c
  src/julia-syntax.scm
  src/julia.h
  src/julia_internal.h
  src/method.c
  src/rtutils.c
  src/staticdata.c
  src/toplevel.c
  stdlib/Serialization/src/Serialization.jl
  test/backtrace.jl
  test/compiler/compiler.jl
  test/compiler/ssair.jl
  test/compiler/validation.jl
  test/core.jl
  test/staged.jl
  test/syntax.jl
Labels: codegen, inference, lowering, optimizer

#27336 check kwarg for factorizations
  stdlib/LinearAlgebra/src/bunchkaufman.jl
  stdlib/LinearAlgebra/src/cholesky.jl
  stdlib/LinearAlgebra/src/dense.jl
  stdlib/LinearAlgebra/src/factorization.jl
  stdlib/LinearAlgebra/src/generic.jl
  stdlib/LinearAlgebra/src/lu.jl
  stdlib/LinearAlgebra/test/bunchkaufman.jl
  stdlib/LinearAlgebra/test/cholesky.jl
  stdlib/LinearAlgebra/test/lu.jl
  stdlib/SparseArrays/src/linalg.jl
  stdlib/SuiteSparse/src/cholmod.jl
  stdlib/SuiteSparse/src/umfpack.jl
  stdlib/SuiteSparse/test/cholmod.jl
  stdlib/SuiteSparse/test/umfpack.jl
Labels: linear algebra

#27479 Remove Adjoint|Transpose(::UniformScaling) definition
  stdlib/LinearAlgebra/src/uniformscaling.jl
Labels: linear algebra

#27289 Make UniformScaling correct for matrices of matrices
  stdlib/LinearAlgebra/src/adjtrans.jl
  stdlib/LinearAlgebra/src/bidiag.jl
  stdlib/LinearAlgebra/src/uniformscaling.jl
  stdlib/LinearAlgebra/test/uniformscaling.jl
Labels: linear algebra

#27462 add method to getindex for [:] on tuple
  base/tuple.jl
  test/tuple.jl
Labels: needs tests

#27497 REPL: disable `cd ~ tests` on Sys.iswindows
  stdlib/REPL/test/repl.jl
Labels: test

#27487 test/repl: try to fix mkdir issue on FreeBSD CI
  stdlib/REPL/test/replcompletions.jl
Labels: REPL, freebsd, test

#27447 Added elementwise version of => to prec-pair
  NEWS.md
  src/julia-parser.scm
  test/broadcast.jl
Labels: parser

#27491 Add show methods for Transpose and Adjoint of Factorizations
  stdlib/LinearAlgebra/src/factorization.jl
  stdlib/LinearAlgebra/test/adjtrans.jl
Labels: bugfix, linear algebra

#27506 cfunction: add help for struct CFunction
  NEWS.md
  base/c.jl
  base/compiler/validation.jl
  doc/src/base/c.md
Labels: doc

#27503 fix #27478, non-tuple first argument to `ccall` should be linearized
  src/julia-syntax.scm
  test/ccall.jl
Labels: bugfix, lowering

#27473 move [l]gamma, [l]beta and lfact to SpecialFunctions.jl
  NEWS.md
  base/combinatorics.jl
  base/deprecated.jl
  base/exports.jl
  base/fastmath.jl
  base/intfuncs.jl
  base/math.jl
  base/mpfr.jl
  base/number.jl
  base/special/gamma.jl
  base/sysimg.jl
  doc/src/base/math.md
  doc/src/manual/mathematical-operations.md
  test/fastmath.jl
  test/math.jl
  test/missing.jl
  test/mpfr.jl
Labels: excision, maths

#27331 mpfr: speed improvements
  base/mpfr.jl
  stdlib/Serialization/src/Serialization.jl
  test/mpfr.jl
  test/precompile.jl
Labels: bignums, performance

#27536 fix #27477, resolve binding earlier for ccall library name
  src/method.c
  test/ccall.jl
Labels: bugfix

#27538 fix #27521, macro call with `do`
  src/ast.c
  src/julia-parser.scm
  test/syntax.jl
Labels: bugfix, macros, parser

#27150 RFC: Avoid over-pessimization in apply_type_tfunc
  base/compiler/tfuncs.jl
  test/compiler/compiler.jl
Labels: inference

#27549 update world age between packages in e.g. `using A, B`
  src/toplevel.c
Labels: backport pending 0.6

#27444 Bump Pkg
  stdlib/Pkg/.gitignore
  stdlib/Pkg/bin/gitmeta.jl
  stdlib/Pkg/bin/loadmeta.jl
  stdlib/Pkg/bin/sha1map.toml
  stdlib/Pkg/bin/stdlib.toml
  stdlib/Pkg/docs/src/index.md
  stdlib/Pkg/ext/TOML/src/print.jl
  stdlib/Pkg/src/API.jl
  stdlib/Pkg/src/Display.jl
  stdlib/Pkg/src/Operations.jl
  stdlib/Pkg/src/Pkg2/types.jl
  stdlib/Pkg/src/PlatformEngines.jl
  stdlib/Pkg/src/REPLMode.jl
  stdlib/Pkg/src/Types.jl
  stdlib/Pkg/src/generate.jl
  stdlib/Pkg/src/versions.jl
  stdlib/Pkg/test/pkg.jl
  stdlib/Pkg/test/repl.jl
  stdlib/Pkg/test/resolvedata1.jl
  stdlib/Pkg/test/test_packages/BigProject/.gitignore
  stdlib/Pkg/test/test_packages/BigProject/Manifest.toml
  stdlib/Pkg/test/test_packages/BigProject/Project.toml
  stdlib/Pkg/test/test_packages/BigProject/SubModule/.gitignore
  stdlib/Pkg/test/test_packages/BigProject/SubModule2/.gitignore
  stdlib/Pkg/test/test_packages/BigProject/test/LibFoo.jl/test/runtests.jl
  stdlib/Pkg/test/test_packages/BigProject/test/REQUIRE
  stdlib/Pkg/test/test_packages/BigProject/test/runtests.jl
  stdlib/Pkg/test/test_packages/PackageWithBuildSpecificTestDeps/src/PackageWithBuildSpecificTestDeps.jl
  stdlib/Pkg/test/test_packages/PackageWithBuildSpecificTestDeps/test/REQUIRE
  stdlib/Pkg/test/test_packages/PackageWithBuildSpecificTestDeps/test/runtests.jl
  stdlib/Pkg/test/test_packages/RequireDependency/REQUIRE
  stdlib/Pkg/test/test_packages/UnregisteredWithProject/src/UnregisteredWithProject.jl
  stdlib/Pkg/test/test_packages/UnregisteredWithProject/test/runtests.jl
  stdlib/Pkg/test/test_packages/UnregisteredWithoutProject/.gitignore
  stdlib/Pkg/test/test_packages/UnregisteredWithoutProject/deps/build.jl
  stdlib/Pkg/test/test_packages/UnregisteredWithoutProject/src/UnregisteredWithoutProject.jl
  stdlib/Pkg/test/testgroups
  stdlib/Pkg/test/utils.jl
Labels: packages

#27542 fix #26939, segfault in WeakKeyDict due to wrong finalization order
  src/gc.c
  test/dict.jl
Labels: GC, bugfix

#27356 RFC: Avoid running test suite with doc only changes
  .circleci/config.yml
  .travis.yml
  appveyor.yml
Labels: ci

#27569 add missing testgroups to LinearAlgebra
  stdlib/LinearAlgebra/test/testgroups
Labels: test

#27351 fix type intersection for invalidation during method insertion to handle typevars properly
  src/typemap.c
  stdlib/SparseArrays/src/sparsevector.jl
  test/compiler/compiler.jl
Labels: bugfix, types and dispatch

#27310 inference: re-architect entry points for more clarity
  base/compiler/abstractinterpretation.jl
  base/compiler/bootstrap.jl
  base/compiler/inferenceresult.jl
  base/compiler/inferencestate.jl
  base/compiler/optimize.jl
  base/compiler/params.jl
  base/compiler/ssair/inlining2.jl
  base/compiler/ssair/show.jl
  base/compiler/typeinfer.jl
  base/compiler/typeutils.jl
  base/compiler/utilities.jl
  base/meta.jl
  base/reflection.jl
  base/show.jl
  src/gf.c
  stdlib/InteractiveUtils/src/codeview.jl
  stdlib/REPL/src/REPLCompletions.jl
  test/compiler/compiler.jl
  test/reflection.jl
  test/staged.jl
Labels: inference

#27559 fix #27554, deprecate `try` without `catch` or `finally`
  NEWS.md
  base/compiler/tfuncs.jl
  base/docs/basedocs.jl
  base/download.jl
  base/iostream.jl
  doc/src/manual/control-flow.md
  src/julia-parser.scm
  stdlib/Distributed/src/clusterserialize.jl
  stdlib/Distributed/test/distributed_exec.jl
  stdlib/InteractiveUtils/src/InteractiveUtils.jl
  stdlib/LibGit2/src/LibGit2.jl
  stdlib/LibGit2/src/commit.jl
  stdlib/LibGit2/src/config.jl
  stdlib/LibGit2/test/libgit2.jl
  stdlib/LinearAlgebra/src/dense.jl
  stdlib/OldPkg/src/entry.jl
  stdlib/REPL/src/LineEdit.jl
  stdlib/REPL/src/REPL.jl
  stdlib/Random/src/RNGs.jl
  stdlib/SHA/test/runtests.jl
  stdlib/SparseArrays/test/sparse.jl
  test/char.jl
  test/compiler/compiler.jl
  test/core.jl
  test/error.jl
  test/read.jl
  test/runtests.jl
  test/spawn.jl
  test/threads.jl
Labels: deprecation, parser

#27601 Further insulate our build system from `pkg-config` environment variables
  Make.inc
Labels: build

#27309 allow predicate functions to lstrip etc. and default to stripping unicode whitespace
  base/shell.jl
  base/strings/util.jl
  stdlib/DelimitedFiles/src/DelimitedFiles.jl
  test/strings/util.jl
Labels: triage

#27606 Fix handling of pending values in `argexprtype`
  base/compiler/ssair/queries.jl
  test/core.jl
Labels: bugfix, optimizer

#27568 Properly mark a deleted typemap entry
  src/dump.c
Labels: backport pending 0.6, bugfix

#27611 Remove errant hyphen in Travis config [skip appveyor]
  .travis.yml
Labels: ci, docsystem

#27584 Don't overload split for LibGit2.ConfigEntry
  stdlib/LibGit2/docs/src/index.md
  stdlib/LibGit2/src/gitcredential.jl
  stdlib/LibGit2/src/types.jl
Labels: libgit2

#27583 Update and clarify doctest-running command
  doc/src/manual/documentation.md
Labels: doc, docsystem

#27628 Ignore `build_h.jl.phony`
  base/.gitignore
Labels: bugfix, build

#27134 Add docs for SubstitutionString
  base/exports.jl
  base/regex.jl
  base/strings/util.jl
  doc/src/base/strings.md
Labels: doc, strings

#27562 fix #27546 by using jl_set_global instead of eval to set Main.ans
  base/client.jl
  stdlib/REPL/src/REPL.jl
  stdlib/REPL/test/repl.jl
Labels: REPL

#27616 Remove ARPACK and derived functions from julia repo
  .travis.yml
  Make.inc
  Makefile
  NEWS.md
  README.arm.md
  README.md
  base/Makefile
  base/deprecated.jl
  base/sysimg.jl
  contrib/fixup-libgfortran.sh
  contrib/vagrant/Vagrantfile
  deps/Makefile
  deps/arpack.mk
  deps/patches/arpack-tests-blasint.patch
  doc/Manifest.toml
  stdlib/IterativeEigensolvers/Project.toml
  stdlib/IterativeEigensolvers/docs/src/index.md
  stdlib/IterativeEigensolvers/src/IterativeEigensolvers.jl
  stdlib/IterativeEigensolvers/src/arpack.jl
  stdlib/IterativeEigensolvers/src/deprecated.jl
  stdlib/IterativeEigensolvers/test/runtests.jl
  stdlib/Pkg/test/repl.jl
  stdlib/Pkg/test/test_packages/BigProject/.gitignore
  stdlib/Pkg/test/test_packages/BigProject/Manifest.toml
  stdlib/Pkg/test/test_packages/BigProject/Project.toml
  test/choosetests.jl
  test/precompile.jl
Labels: build, linear algebra, sparse

#27627 Fix executable and more library RPATHs on FreeBSD
  Make.inc
  Makefile
  contrib/fixup-rpath.sh
  deps/tools/common.mk
Labels: backport pending 0.6, bugfix, build, freebsd

#27586 Improve sparse kron
  stdlib/SparseArrays/src/linalg.jl
  stdlib/SparseArrays/test/sparse.jl
  stdlib/SparseArrays/test/sparsevector.jl
Labels: linear algebra, sparse

#27605 Normalize the argument order in lstrip and rstrip
  NEWS.md
  base/strings/util.jl
  stdlib/DelimitedFiles/src/DelimitedFiles.jl
  test/strings/util.jl
Labels: strings

#27646 fix #27632, bug in subtyping length-constrained varargs
  src/subtype.c
  test/subarray.jl
  test/subtype.jl
Labels: backport pending 0.6, bugfix, types and dispatch

#27573 typeintersect: convert union of tuples to tuple of unions
  src/subtype.c
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/SparseArrays/src/higherorderfns.jl
  stdlib/SuiteSparse/src/spqr.jl
  test/subtype.jl
Labels: types and dispatch

#27636 compile: some minor optimizations
  base/compiler/ssair/inlining2.jl
  base/compiler/ssair/passes.jl
  src/jitlayers.cpp
Labels: optimizer, performance

#27633 RFC: major LOAD_PATH machinery simplification
  base/initdefs.jl
  base/loading.jl
  base/precompile.jl
  base/sysinfo.jl
  stdlib/OldPkg/test/pkg.jl
  stdlib/Pkg/src/Types.jl
  stdlib/Pkg/test/pkg.jl
  stdlib/Pkg/test/repl.jl
  stdlib/REPL/src/REPLCompletions.jl
  stdlib/REPL/test/replcompletions.jl
Labels: needs tests

#27655 typeintersect: use jl_alloc_svec to allocate SimpleVector
  src/subtype.c
Labels: GC, bugfix, priority

#27651 Fix getindex inlining for Array{Union{T,Missing}}
  base/compiler/optimize.jl
  src/jlfrontend.scm
  test/inline.jl
Labels: arrays, missing data, performance

#27635 move `clipboard` to InteractiveUtils
  NEWS.md
  base/exports.jl
  base/sysimg.jl
  doc/src/base/base.md
  stdlib/InteractiveUtils/docs/src/index.md
  stdlib/InteractiveUtils/src/InteractiveUtils.jl
  stdlib/InteractiveUtils/src/clipboard.jl
  stdlib/InteractiveUtils/test/runtests.jl
  test/misc.jl
Labels: deprecation, excision, stdlib

#27637 compiler: improve jl_get_specialization1
  src/codegen.cpp
  src/gf.c
  src/julia_internal.h
Labels: performance

#27671 fix #19668, inefficient closure conversion of ctors with keyword args
  src/julia-syntax.scm
  test/compiler/compiler.jl
Labels: lowering, performance

#27702 fix typo in JL_GC_PUSH usage
  src/gf.c
Labels: embarrassing-bugfix

#27684 add four good looking arrows
  src/julia-parser.scm
Labels: parser

#27706 improve performance of `lift-toplevel` in lowering
  src/julia-syntax.scm
Labels: lowering, performance

#27720 fix #27129, meta nodes hidden by extra block in method def
  src/julia-parser.scm
  test/syntax.jl
Labels: bugfix, parser

#27721 fix #27690, quote should disable surrounding `end` indexing context
  src/julia-parser.scm
  test/syntax.jl
Labels: breaking, bugfix, parser

#27724 add `using Test` to Sockets test code
  stdlib/Sockets/test/runtests.jl
Labels: stdlib, test

#27703 use a real-world example for eval-style codegen
  contrib/build_sysimg.jl
  doc/src/manual/metaprogramming.md
Labels: doc

#27723 fix interpreter for recent IR changes
  src/interpreter.c
Labels: interpreter

#27565 RFC: Create SecretBuffer and use it to help keep LibGit2's secrets
  base/secretbuffer.jl
  base/sysimg.jl
  base/util.jl
  stdlib/LibGit2/src/callbacks.jl
  stdlib/LibGit2/src/gitcredential.jl
  stdlib/LibGit2/src/types.jl
  stdlib/LibGit2/src/utils.jl
  stdlib/LibGit2/test/libgit2.jl
  stdlib/LibGit2/test/online.jl
  stdlib/OldPkg/src/entry.jl
  stdlib/Pkg/src/Operations.jl
  stdlib/Pkg/src/Types.jl
  test/choosetests.jl
  test/secretbuffer.jl
Labels: libgit2, security

#27685 manually inline setfield! in Stateful popfirst!
  base/iterators.jl
Labels: performance, strings

#27691 improve perf for string with both strings and chars as argument
  base/strings/string.jl
Labels: performance, strings

#27718 codegen: avoid emitting more unnecessary addrspace casts
  src/ccall.cpp
  src/cgutils.cpp
  src/codegen.cpp
Labels: codegen

#27737 build: libgit2 makefile fixes
  Make.inc
  Makefile
  deps/.gitignore
  deps/Versions.make
  deps/libgit2.mk
  deps/pcre.mk
Labels: build

#27604 optimize compilation
  .circleci/config.yml
  .freebsdci.sh
  .travis.yml
  Makefile
  contrib/windows/appveyor_build.sh
  src/gf.c
  src/precompile.c
Labels: codegen, optimizer, performance

#27738 Pkg: basic activate/deactivate functionality
  stdlib/Pkg/docs/src/index.md
  stdlib/Pkg/src/API.jl
  stdlib/Pkg/src/Pkg.jl
  stdlib/Pkg/src/REPLMode.jl
Labels: needs docs, needs tests, packages

#26602 fix printing of pairs containing array (fix #25466)
  base/show.jl
  test/show.jl
Labels: bugfix, display and printing

#27122 Bump required MPFR version to 4.0
  README.md
Labels: doc, external dependencies

#27730 Change eigvals(::Number) to return a scalar
  stdlib/LinearAlgebra/src/eigen.jl
  stdlib/LinearAlgebra/test/symmetric.jl
Labels: bugfix, linear algebra

#27560 Random: always use SamplerRangeFast for MersenneTwister
  stdlib/Random/src/RNGs.jl
  stdlib/Random/src/misc.jl
Labels: RNG, performance

#27760 fix #27710, scope error with static param. and variable name conflicts
  src/julia-syntax.scm
  test/syntax.jl
Labels: bugfix, lowering

#27507 spawn test: attempt to enable test for #22832
  test/spawn.jl
Labels: test

#27762 Update LibGit2 findfirst test
  stdlib/LibGit2/test/libgit2.jl
Labels: libgit2

#27764 improve performance for parsing Floats
  base/parse.jl
Labels: performance, strings

#27786 Fix #27767. Fix a missing memset when resizing isbitsunion arrays
  src/array.c
  test/core.jl
Labels: arrays, missing data

#27742 fix display of Set{<:Tuple} (fix #27680)
  base/show.jl
  test/show.jl
Labels: bugfix, display and printing

#27744 Random: make randjump(m, 2) == randjump(m, 2)
  stdlib/Random/src/RNGs.jl
  stdlib/Random/test/runtests.jl
Labels: RNG

#27763 Workaround for `git_tree_walk` raising an exception
  stdlib/LibGit2/src/tree.jl
  stdlib/LibGit2/test/libgit2.jl
Labels: libgit2

#27282 Document performance issues for captured variables
  doc/src/manual/arrays.md
  doc/src/manual/functions.md
  doc/src/manual/performance-tips.md
  doc/src/manual/variables-and-scoping.md
Labels: doc

#27806 Fix parsing of warning in docstring
  stdlib/LibGit2/src/utils.jl
Labels: doc

#27701 remove CodeInfo.slottypes
  base/compiler/inferenceresult.jl
  base/compiler/inferencestate.jl
  base/compiler/optimize.jl
  base/compiler/ssair/driver.jl
  base/compiler/ssair/inlining.jl
  base/compiler/ssair/legacy.jl
  base/compiler/ssair/slot2ssa.jl
  base/compiler/typeinfer.jl
  base/compiler/utilities.jl
  base/compiler/validation.jl
  base/show.jl
  src/codegen.cpp
  src/jltypes.c
  src/julia.h
  src/method.c
  stdlib/InteractiveUtils/src/codeview.jl
  test/compiler/compiler.jl
  test/compiler/validation.jl
  test/inline.jl
  test/show.jl
Labels: codegen, optimizer

#27787 fix #27268, error in inner functions with unionall in arg types
  src/julia-syntax.scm
  test/syntax.jl
Labels: bugfix, lowering

#27382 Improve docs for Union{T,Nothing}
  doc/src/manual/faq.md
  doc/src/manual/style-guide.md
  doc/src/manual/types.md
Labels: doc, missing data

#27769 Improve headings in arrays section of the manual
  doc/src/manual/arrays.md
  doc/src/manual/mathematical-operations.md
Labels: arrays, doc

#27791 Add codegen hooks for start and end of emit_function.
  base/reflection.jl
  src/codegen.cpp
  src/jltypes.c
  src/julia.h
Labels: gpu

#27804 fix vestigial showarray call in SharedArrays (fix #26582)
  stdlib/SharedArrays/src/SharedArrays.jl
  stdlib/SharedArrays/test/runtests.jl
Labels: display and printing, embarrassing-bugfix

#27802 Copy SecretBuffer to avoid inadvertent shred
  stdlib/LibGit2/src/callbacks.jl
  stdlib/LibGit2/test/libgit2.jl
Labels: bugfix, libgit2

#27772 Zero-dimensional arrays FAQ
  doc/src/manual/faq.md
Labels: doc

#27386 Guarantee inbounds iteration over Array{T}
  base/array.jl
  base/iterators.jl
  test/strings/basic.jl
Labels: arrays, iteration, performance

#27815 fix #27807, hygiene issue in static parameters
  src/macroexpand.scm
  test/syntax.jl
Labels: bugfix, macros

#27842 trivial fix of get(Callable, Pairs, Any)
  base/iterators.jl
  test/iterators.jl
Labels: bugfix, collections

#27188 Add optimized implementations of reduce([hv]cat, A)
  base/abstractarray.jl
  stdlib/SharedArrays/src/SharedArrays.jl
  test/reduce.jl
Labels: arrays, performance, triage

#24031 Fix fastmath methods of sin, cos, tan, atan2
  base/fastmath.jl
Labels: maths, performance

#27789 Use QuickSort rather than MergeSort by default for Union{<:Number, Missing} arrays
  base/sort.jl
Labels: missing data, performance

#27828 make `dims` argument to `mapslices` a keyword arg
  base/abstractarray.jl
  base/deprecated.jl
  base/reducedim.jl
  base/statistics.jl
  test/arrayops.jl
  test/offsetarray.jl
  test/reducedim.jl
Labels: arrays, deprecation

#27722 remove "unhandled task failure" message printing
  base/task.jl
Labels: error handling, parallel, triage

#27719 fix #27641, give juxtaposition lower precedence than unary operators
  NEWS.md
  doc/src/manual/integers-and-floating-point-numbers.md
  src/julia-parser.scm
  test/syntax.jl
Labels: breaking, parser

#27829 fix #27352, disallow `print`/`string` of `nothing`
  base/compiler/ssair/show.jl
  base/show.jl
  test/show.jl
Labels: breaking, display and printing

#27826 Make grisu thread-safe again
  base/grisu/grisu.jl
  base/threads.jl
Labels: display and printing, multithreading

#27711 Move `v0` to an `init` keyword argument for `reduce`, etc
  NEWS.md
  base/Enums.jl
  base/abstractset.jl
  base/array.jl
  base/bitset.jl
  base/compiler/ssair/passes.jl
  base/compiler/tfuncs.jl
  base/compiler/typeutils.jl
  base/deprecated.jl
  base/gmp.jl
  base/intfuncs.jl
  base/reduce.jl
  base/reducedim.jl
  base/strings/unicode.jl
  doc/src/base/collections.md
  stdlib/LinearAlgebra/src/factorization.jl
  stdlib/LinearAlgebra/src/generic.jl
  stdlib/Markdown/src/render/plain.jl
  stdlib/OldPkg/src/reqs.jl
  stdlib/Random/src/DSFMT.jl
  stdlib/Random/src/RNGs.jl
  test/reduce.jl
  test/reducedim.jl
Labels: collections, keyword arguments, needs nanosoldier run

#27851 fix #27832, wrong kind of quoting in bootstrap doc system
  base/docs/core.jl
  test/docs.jl
Labels: bugfix, docsystem

#27783 expand docs for escape_string and unescape_string
  base/strings/io.jl
Labels: doc

#27862 update deprecations for init kwarg
  base/deprecated.jl
Labels: deprecation

#27792 Logging: don't print out module if it is nothing
  base/logging.jl
  stdlib/Logging/src/ConsoleLogger.jl
Labels: logging

#27814 Avoid including sys-debug.so and libjulia-debug.so in the binary-dist.
  .circleci/config.yml
  .travis.yml
  Makefile
  test/cmdlineargs.jl
Labels: build
