Repository JuliaLang/julia, pull requests merged in 2018-09, with the labels that each got.

#28918 Cross reference hasmethod with applicable in docs
  base/docs/basedocs.jl
  base/reflection.jl
Labels: backport pending 1.0, doc

#28936 Fix spelling of kernel in html id
  doc/src/manual/performance-tips.md
Labels: backport pending 1.0, doc

#28997 doc/faq: move question to correct section
  doc/src/manual/faq.md
Labels: backport pending 1.0, doc

#29005 ismatch() is now occursin() not contains()
  HISTORY.md
Labels: backport pending 0.7

#28927 Docs for logging: write to file
  stdlib/Logging/docs/src/index.md
Labels: backport pending 1.0, doc, logging

#29015 Vector lowering improvments in GC placement
  src/llvm-late-gc-lowering.cpp
  test/llvmpasses/gcroots.ll
Labels: backport pending 1.0

#29017 Fix out of bounds write in array deserialization
  src/array.c
  src/dump.c
  src/julia_internal.h
  test/precompile.jl
Labels: backport pending 1.0

#28682 Fix download agent search relying on throwing of Sys.which(). Update t #28157
  base/download.jl
Labels: backport pending 1.0, bugfix

#28951 fix #28915, identity conversion to union of tuple types
  base/essentials.jl
  test/ambiguous.jl
  test/tuple.jl
Labels: backport pending 1.0, bugfix

#28954 fixed regression in sparse of adjoint of sparse (#28948)
  stdlib/SparseArrays/src/sparsematrix.jl
Labels: backport pending 1.0, needs benchmark, performance

#28822 Update Pkg
  contrib/generate_precompile.jl
  stdlib/Pkg/docs/src/index.md
  stdlib/Pkg/src/API.jl
  stdlib/Pkg/src/Display.jl
  stdlib/Pkg/src/Operations.jl
  stdlib/Pkg/src/Pkg.jl
  stdlib/Pkg/src/PlatformEngines.jl
  stdlib/Pkg/src/REPLMode.jl
  stdlib/Pkg/src/Types.jl
  stdlib/Pkg/test/pkg.jl
  stdlib/Pkg/test/repl.jl
  stdlib/Pkg/test/utils.jl
Labels: backport pending 1.0, packages

#29045 Fix dispatch of SparseMatrixCSC*Diagonal multiplication
  stdlib/SparseArrays/src/linalg.jl
  stdlib/SparseArrays/test/sparse.jl
Labels: backport pending 1.0, performance, sparse

#29043 fix #28900, macro hygiene bug inside keyword arg values
  src/macroexpand.scm
  test/syntax.jl
Labels: backport pending 1.0, bugfix, macros

#29044 fix #28991, error when adding default defs to constructed module Exprs
  src/jlfrontend.scm
  test/syntax.jl
Labels: backport pending 1.0, bugfix

#29049 Fix typo in mapreduce docstring
  base/reduce.jl
Labels: backport pending 1.0, doc

#25563 fix docstring of open(command) (close #24649)
  base/process.jl
Labels: I/O, backport pending 1.0, doc

#28882 fix #28833, crash in macros returning certain top-level forms
  src/toplevel.c
  test/syntax.jl
Labels: backport pending 1.0, bugfix, lowering, macros

#29060 work around a splatting penalty in twiceprecision
  base/twiceprecision.jl
  test/ranges.jl
Labels: backport pending 1.0, needs benchmark, performance

#28711 stronger warnings about changing constants in help and docs
  base/docs/basedocs.jl
  doc/src/manual/variables-and-scoping.md
Labels: doc

#29072 fix #25955, hygiene of arg name of function defined by type
  src/macroexpand.scm
  test/syntax.jl
Labels: backport pending 1.0, bugfix, macros

#29094 doc/interface: correct signature of `size`
  doc/src/manual/interfaces.md
Labels: backport pending 1.0, doc

#28390 RFC: prettier IR-show for line number and inlining information
  base/compiler/ssair/ir.jl
  base/compiler/ssair/show.jl
  doc/src/devdocs/reflection.md
  src/disasm.cpp
  stdlib/InteractiveUtils/src/codeview.jl
  stdlib/Test/src/Test.jl
  test/show.jl
Labels: display and printing

#28916 delete_method: remove method from any pre-existing ambiguities
  base/compiler/utilities.jl
  base/errorshow.jl
  base/methodshow.jl
  base/reflection.jl
  src/dump.c
  src/gf.c
  src/jltypes.c
  src/julia.h
  src/method.c
  src/typemap.c
  test/reflection.jl
Labels: backport pending 0.7, backport pending 1.0

#29069 test/cmdlineargs: cleanup testing leftovers
  stdlib/Test/test/runtests.jl
  test/cmdlineargs.jl
  test/codegen.jl
Labels: test

#29082 Fix libunwind version check with patch releases
  src/julia_internal.h
Labels: build

#29048 RFC: Iterate over smaller set for setdiff[!](a,b)
  base/set.jl
  test/sets.jl
Labels: needs benchmark

#29119 Fix some signatures and add examples for Random docs
  stdlib/Random/src/misc.jl
Labels: backport pending 1.0, doc

#29133 fix perf regression from not specializing on iterate on tuples
  base/tuple.jl
Labels: backport pending 1.0, performance

#29116 fix perf in exp(::Matrix) (for smallish matrices)
  stdlib/LinearAlgebra/src/dense.jl
Labels: backport pending 1.0, linear algebra, needs benchmark, performance

#29050 Tried to fix the English of the first few paras
  doc/src/manual/parallel-computing.md
Labels: backport pending 1.0, doc, parallel

#29132 allow building julia without extra precompile statements
  Make.inc
  Makefile
  contrib/generate_precompile.jl
Labels: build, precompile

#29137 Some xrefs and examples for Distiributed
  stdlib/Distributed/src/remotecall.jl
  stdlib/Distributed/src/workerpool.jl
Labels: backport pending 1.0, doc, parallel

#29104 doc: fix usage of NTuple{T}
  doc/src/manual/interfaces.md
Labels: backport pending 1.0, doc

#29148 ndigits with negative base: error out instead of giving incorrect result
  base/intfuncs.jl
  test/intfuncs.jl
Labels: bugfix

#29056 Improve support for constructing zero-step float ranges
  base/twiceprecision.jl
  test/ranges.jl
Labels: backport pending 1.0, bugfix

#29144 BigFloat tests: consolidate two files into one
  test/bigfloat.jl
  test/choosetests.jl
  test/mpfr.jl
Labels: bignums, test

#29154 fix #29145, error for `new{}` with incomplete type
  src/datatype.c
  src/interpreter.c
  test/core.jl
Labels: backport pending 1.0, bugfix, error handling

#29159 fix #25474, support more forms in edit, which, etc. macros
  stdlib/InteractiveUtils/src/macros.jl
  stdlib/InteractiveUtils/test/runtests.jl
Labels: backport pending 1.0, bugfix

#29150 Xrefs and a few examples for math stuff
  base/math.jl
Labels: doc, maths

#29184 Add `undef` to Vector allocations
  doc/src/manual/calling-c-and-fortran-code.md
Labels: backport pending 1.0, doc

#29128 optimize slightly BigFloat(-NaN)
  base/mpfr.jl
Labels: bignums, performance

#29189 Have 'cat' only accept positive dimensions.
  base/abstractarray.jl
  test/abstractarray.jl
Labels: bugfix

#29205 fix digits(n::Unsigned) with neg base for `n > typemax(n)÷2`
  base/intfuncs.jl
  test/intfuncs.jl
Labels: needs tests

#29186 fix #28481, faster reading of primitive types from IOStream and IOBuffer
  base/iobuffer.jl
  base/iostream.jl
Labels: I/O, backport pending 1.0, performance

#29194 fix #29175, invalid lowered IR from repeating code for declared types
  src/julia-syntax.scm
  test/core.jl
Labels: backport pending 1.0, bugfix, lowering

#29188 Make `using LinearAlgebra` explicit
  stdlib/LinearAlgebra/docs/src/index.md
Labels: backport pending 1.0

#28284 Propagate constant calls to new!
  base/compiler/abstractinterpretation.jl
  test/compiler/compiler.jl
Labels: inference

#29192 fix reinterpret(Char, ::UInt32) for "unnatural" values (fix #29181)
  src/datatype.c
  test/char.jl
Labels: bugfix, strings

#29042 ComplexF64 division: combine four if-statements into two if-elseif-statements
  base/complex.jl
Labels: complex, maths

#29248 Pkg: Bug fixes and doc improvements
  stdlib/Pkg/docs/src/index.md
  stdlib/Pkg/src/API.jl
  stdlib/Pkg/src/GitTools.jl
  stdlib/Pkg/src/Pkg.jl
  stdlib/Pkg/src/REPLMode.jl
  stdlib/Pkg/src/Types.jl
  stdlib/Pkg/src/versions.jl
  stdlib/Pkg/test/pkg.jl
  stdlib/Pkg/test/repl.jl
Labels: packages

#29165 faster conversion from Integer to BigInt
  base/gmp.jl
  test/bigint.jl
Labels: bignums, performance

#29245 Minor cleanup of noteworthy differences
  doc/src/manual/noteworthy-differences.md
Labels: backport pending 1.0, doc

#29299 Fix a typo in docs
  doc/src/base/base.md
Labels: backport pending 1.0, doc

#29315 Pkg: bump JSON version check to a non-capped version
  stdlib/Pkg/test/repl.jl
Labels: packages, priority

#29322 fix #29306, teach effect_free that GotoIfNot with non-Bool can throw
  base/compiler/optimize.jl
  test/core.jl
Labels: backport pending 1.0, bugfix, optimizer

#28738 gh-pages: Add a robots.txt to exclude old docs for SEO
  robots.txt
Labels: triage

#29332 Improve noteworthy differences from R on ismissing
  doc/src/manual/noteworthy-differences.md
Labels: doc

#29314 fix bug in parsing extended colon-like operators
  src/julia-parser.scm
  test/syntax.jl
Labels: backport pending 1.0, bugfix, parser

#28156 Add `splitpath(p::AbstractString)` to Base.Filesystem.
  base/exports.jl
  base/path.jl
  doc/src/base/file.md
  test/path.jl
Labels: filesystem, needs news

#29354 Add missing test dependencies to SparseArrays Project.toml
  stdlib/SparseArrays/Project.toml
Labels: backport pending 1.0, sparse, stdlib, test

#29351 Some misisng paren and xrefs
  doc/src/manual/arrays.md
Labels: arrays, backport pending 1.0, doc

#29349 Backticks and xrefs
  doc/src/manual/metaprogramming.md
  doc/src/manual/missing.md
Labels: backport pending 1.0, doc

#29352 avoid conversion from Char to String to Symbol in some LinearAlgebra routines
  stdlib/LinearAlgebra/src/LinearAlgebra.jl
  stdlib/LinearAlgebra/src/cholesky.jl
  stdlib/LinearAlgebra/src/symmetric.jl
Labels: linear algebra, performance

#29338 Minor English fixes
  doc/src/manual/constructors.md
Labels: backport pending 1.0, doc

#29346 fix #29326, return type lowering interfering with closure optimization
  src/julia-syntax.scm
  test/compiler/compiler.jl
Labels: backport pending 1.0, lowering, performance

#29258 always obey inline declarations if the calling signature is concrete
  base/compiler/optimize.jl
Labels: backport pending 1.0, optimizer, performance

#29340 Fix `big(typemin(T))`
  base/gmp.jl
  test/bigint.jl
Labels: bignums, bugfix

#29364 Pkg don't use startup.jl when building and testing
  stdlib/Pkg/src/API.jl
  stdlib/Pkg/src/Operations.jl
  stdlib/Pkg/src/REPLMode.jl
Labels: backport pending 1.0, packages

#29217 fix crash when interpreting optimized top-level expressions
  src/interpreter.c
  test/core.jl
Labels: backport pending 1.0, bugfix, interpreter

#28761 uuid5
  stdlib/UUIDs/docs/src/index.md
  stdlib/UUIDs/src/UUIDs.jl
  stdlib/UUIDs/test/runtests.jl
Labels: enhancement

#29416 doc: fix not-true-anymore example with promote_rule
  doc/src/manual/conversion-and-promotion.md
Labels: bugfix, doc

#29415 improve findnext/findprev docstring for strings
  base/strings/search.jl
Labels: doc

#29380 fix #29208, incorrect `Union{}` result from type intersection
  src/subtype.c
  test/subtype.jl
Labels: backport pending 1.0, bugfix, types and dispatch

#29414 fix `sizeof(str::AbstractString)` docstring
  base/strings/basic.jl
Labels: bugfix, doc

#28819 avoid file ownership requirement in touch
  base/file.jl
Labels: I/O

#29401 Change from parametric T signature to Int32 in _ldexp_exp
  base/special/hyperbolic.jl
Labels: backport pending 1.0, bugfix

#29341 Add `LLVM_EXPERIMENTAL_TARGETS` and default it to `WebAssembly`
  deps/llvm.mk
Labels: build, external dependencies

#29296 stdlib/SparseArrays: add rmul! and lmul! of sparse matrix with Diagonal
  stdlib/SparseArrays/src/linalg.jl
Labels: linear algebra, sparse

#29422 intrinsic casts: perform error checking
  src/APInt-C.cpp
  src/intrinsics.cpp
  src/runtime_intrinsics.c
  test/intrinsics.jl
Labels: bugfix, codegen

#29325 check return from jl_restore_incremental correctly
  base/loading.jl
Labels: backport pending 1.0
