Repository JuliaLang/julia, pull requests merged in 2019-09, with the labels that each got.

#33123 ccall: fix vararg count computation
  src/julia-syntax.scm
  test/ccall.jl
Labels: backport 1.3, bugfix, codegen

#32887 Define det(Q) for {QR,LQ}PackedQ and QRCompactWYQ
  stdlib/LinearAlgebra/src/lq.jl
  stdlib/LinearAlgebra/src/qr.jl
  stdlib/LinearAlgebra/test/lq.jl
  stdlib/LinearAlgebra/test/qr.jl
Labels: linear algebra

#33150 Fix which behavior when passed an empty string
  base/sysinfo.jl
  test/spawn.jl
Labels: backport 1.0, backport 1.2, backport 1.3

#33145 fix #33135, wrong scope resolution with conflicting sparams and let vars
  src/julia-syntax.scm
  test/syntax.jl
Labels: backport 1.2, backport 1.3, bugfix, lowering

#33116 Replace realpath implementation with libuv
  base/file.jl
  base/path.jl
  test/file.jl
Labels: backport 1.2, backport 1.3

#32895 bugfixes in Libc.rand for Windows
  base/libc.jl
  test/misc.jl
Labels: RNG, backport 1.0, backport 1.1, backport 1.2, bugfix

#33092 add `GC.safepoint()` for compute-bound threads
  base/gcutils.jl
  doc/src/base/base.md
Labels: GC, multithreading

#33148 a couple printing improvements
  base/show.jl
  doc/src/devdocs/types.md
  test/ambiguous.jl
Labels: display and printing

#32739 add generalized dot product
  NEWS.md
  stdlib/LinearAlgebra/src/bidiag.jl
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/LinearAlgebra/src/generic.jl
  stdlib/LinearAlgebra/src/hessenberg.jl
  stdlib/LinearAlgebra/src/symmetric.jl
  stdlib/LinearAlgebra/src/triangular.jl
  stdlib/LinearAlgebra/src/tridiag.jl
  stdlib/LinearAlgebra/src/uniformscaling.jl
  stdlib/LinearAlgebra/test/bidiag.jl
  stdlib/LinearAlgebra/test/generic.jl
  stdlib/LinearAlgebra/test/hessenberg.jl
  stdlib/LinearAlgebra/test/symmetric.jl
  stdlib/LinearAlgebra/test/triangular.jl
  stdlib/LinearAlgebra/test/tridiag.jl
  stdlib/LinearAlgebra/test/uniformscaling.jl
  stdlib/SparseArrays/src/linalg.jl
  stdlib/SparseArrays/test/sparse.jl
Labels: forgetmenot, linear algebra, needs news

#33165 Fix broken reference tag by removing it (unused).
  doc/src/manual/parallel-computing.md
Labels: doc

#33172 RNG: fix Sampler selection for GLOBAL_RNG
  stdlib/Random/src/RNGs.jl
  stdlib/Random/src/Random.jl
  stdlib/Random/test/runtests.jl
Labels: RNG, backport 1.3, bugfix

#33159 Fix `assert_havelock(::ReentrantLock)` to assert that the _current-task_ has the lock.
  base/condition.jl
  base/lock.jl
  base/locks-mt.jl
  test/threads_exec.jl
Labels: backport 1.3, bugfix, multithreading

#33173 Factor-out logic to determine the path of the precompilation cache file.
  base/loading.jl
  test/precompile.jl
Labels: backport 1.3, packages

#33180 Bump Pkg for 1.3.0-rc2.
  deps/checksums/Pkg-60f47de5a73babd78d13aea5f742d0010b855fdd.tar.gz/md5
  deps/checksums/Pkg-60f47de5a73babd78d13aea5f742d0010b855fdd.tar.gz/sha512
  deps/checksums/Pkg-6c978c097d15cc868335776ff0b01be22d15de98.tar.gz/md5
  deps/checksums/Pkg-6c978c097d15cc868335776ff0b01be22d15de98.tar.gz/sha512
  stdlib/Pkg.version
Labels: backport 1.3, external dependencies, stdlib

#33187 Normalize index to CartesianIndex in _modify!
  stdlib/LinearAlgebra/src/generic.jl
  stdlib/LinearAlgebra/test/matmul.jl
Labels: backport 1.3, bugfix, linear algebra

#32827 Add `dot` method for symmetric matrices
  stdlib/LinearAlgebra/src/symmetric.jl
  stdlib/LinearAlgebra/test/symmetric.jl
Labels: linear algebra, performance

#33132 [release-1.0] Set VERSION to 1.0.5
  VERSION
Labels: release

#33197 Fix replace docstring typo
  base/strings/util.jl
Labels: doc

#33203 [release-1.0] Set VERSION to 1.0.6-pre
  VERSION
Labels: release

#33218 Fix 5-arg mul! for tiled generic case
  stdlib/LinearAlgebra/src/matmul.jl
  stdlib/LinearAlgebra/test/matmul.jl
Labels: backport 1.3, bugfix

#33217 Fixing doctest example in map!.
  base/abstractdict.jl
Labels: doc

#33209 Define / method for adjoint LU rhs.
  stdlib/LinearAlgebra/src/lu.jl
  stdlib/LinearAlgebra/test/lu.jl
Labels: backport 1.3, bugfix, linear algebra

#33216 Remove out-of-date docs on printing `nothing`
  base/strings/io.jl
Labels: backport 1.3, doc

#33202 Changed check_top_bit InexactError
  base/boot.jl
Labels: bugfix, error handling

#33158 consistent quoting of import Base.:operator and warnings thereof
  NEWS.md
  base/errorshow.jl
  src/ast.scm
  src/julia-parser.scm
  test/errorshow.jl
  test/syntax.jl
Labels: error handling, parser

#33229 Dispatch more cases to BLAS.gemm!
  stdlib/LinearAlgebra/src/matmul.jl
  stdlib/LinearAlgebra/test/matmul.jl
Labels: linear algebra, performance, potential benchmark

#33231 document that fill, ones, zeros accept a dims tuple or varargs
  base/array.jl
Labels: doc

#33018 add llvm 9 support files (includes llvm 8)
  deps/libuv.mk
  deps/llvm.mk
  deps/patches/llvm-8.0-D66401-mingw-reloc.patch
  deps/patches/llvm-exegesis-mingw.patch
  deps/patches/llvm-test-plugin-mingw.patch
  deps/patches/llvm7-revert-D44485.patch
  src/Makefile
  src/clangsa/GCChecker.cpp
  src/codegen.cpp
  src/debuginfo.cpp
  src/llvm-alloc-opt.cpp
  test/llvmpasses/loopinfo.jl
Labels: external dependencies

#33225 Allow indexing of `SparseMatrixCSC` by array of `CartesianIndex`
  base/multidimensional.jl
  stdlib/SparseArrays/src/sparsevector.jl
  stdlib/SparseArrays/test/sparse.jl
Labels: sparse

#33252 Document that true==1 and false==0
  base/docs/basedocs.jl
Labels: doc

#33269 Reduce code duplication for dot product of symmetric/Hermitian matrices
  stdlib/LinearAlgebra/src/symmetric.jl
Labels: linear algebra

#33228 macOS codesigning: only attempt if `$MACOS_CODESIGN_IDENTITY` is set
  contrib/mac/app/Makefile
Labels: backport 1.0, backport 1.1, backport 1.2, backport 1.3, build, mac

#33275 Allow construction of 0x0 Tridiagonal matrix (fixes #26377)
  stdlib/LinearAlgebra/src/tridiag.jl
  stdlib/LinearAlgebra/test/bunchkaufman.jl
  stdlib/LinearAlgebra/test/lu.jl
Labels: linear algebra

#33257 fix #33243, stack overflow on global binding effects in generated function
  src/toplevel.c
  test/staged.jl
Labels: bugfix

#33299 More xrefs for Distributed docs
  stdlib/Distributed/src/macros.jl
  stdlib/Distributed/src/pmap.jl
  stdlib/Distributed/src/remotecall.jl
  stdlib/Distributed/src/workerpool.jl
Labels: doc, parallel

#33296 Recommend against using the form rethrow(e) in docs
  base/error.jl
Labels: doc, error handling

#33307 Update conversion-and-promotion.md
  doc/src/manual/conversion-and-promotion.md
Labels: doc

#33291 Correct code point format in Base/Char/show function
  base/char.jl
  base/io.jl
  base/iostream.jl
  base/strings/basic.jl
  doc/src/manual/strings.md
  test/char.jl
Labels: display and printing, unicode

#33284 malloc wrappers: ensure thread-safe
  src/codegen.cpp
  src/dump.c
  src/gc.c
  src/jl_uv.c
  test/ccall.jl
Labels: backport 1.0, backport 1.3, bugfix, multithreading

#33290 fix some cases of `typeinfo` printing
  base/arrayshow.jl
  test/core.jl
  test/missing.jl
  test/show.jl
Labels: display and printing

#33298 array printing: remove sometimes spurious empty lines
  base/arrayshow.jl
  test/complex.jl
  test/show.jl
Labels: arrays, display and printing

#33303 fix #33270; stack overflow in named tuple ctor with `Type{T}`
  base/namedtuple.jl
  test/namedtuple.jl
Labels: backport 1.3, bugfix

#33304 move NamedTuple ctor docs to make them visible
  base/boot.jl
  base/docs/basedocs.jl
  base/namedtuple.jl
Labels: doc

#33316 FileWatching,test: remove max timeout
  stdlib/FileWatching/src/FileWatching.jl
  stdlib/FileWatching/test/runtests.jl
Labels: ci, test

#33308 Fix #33185 by rounding to 6 significant digits while printing float d…
  base/ryu/Ryu.jl
  base/ryu/exp.jl
  base/ryu/fixed.jl
  base/ryu/shortest.jl
  test/ryu.jl
Labels: display and printing

#33205 Allow more general eltypes in sparse array multiplication
  NEWS.md
  stdlib/SparseArrays/src/linalg.jl
  stdlib/SparseArrays/src/sparsematrix.jl
  stdlib/SparseArrays/src/sparsevector.jl
  stdlib/SparseArrays/test/simplesmatrix.jl
  stdlib/SparseArrays/test/sparse.jl
Labels: sparse

#33245 patches to matrix log
  stdlib/LinearAlgebra/src/triangular.jl
  stdlib/LinearAlgebra/test/dense.jl
Labels: linear algebra, needs tests

#33330 fix #33329, printing and `nameof` of `IntrinsicFunction`
  base/reflection.jl
  base/show.jl
  test/reflection.jl
  test/show.jl
Labels: bugfix, display and printing

#33322 mention big"..." the in Arbitrary Precision Arithmetic section
  doc/src/manual/integers-and-floating-point-numbers.md
Labels: doc

#33339 array printing: remove sometimes spurious empty lines after ellipsis
  base/arrayshow.jl
  stdlib/Logging/test/runtests.jl
  test/show.jl
Labels: arrays, display and printing

#32327 bug fixes in matrix log
  stdlib/LinearAlgebra/src/triangular.jl
  stdlib/LinearAlgebra/test/dense.jl
Labels: backport 1.0, backport 1.1, backport 1.2, bugfix, linear algebra

#33350 document random reproducibility policy
  stdlib/Random/docs/src/index.md
Labels: RNG, doc

#33213 Broadcast AbstractRNG like a scalar
  NEWS.md
  stdlib/Random/src/Random.jl
  stdlib/Random/test/runtests.jl
Labels: RNG, broadcast

#33353 add a subtyping fast path for tuple of Unions <: Vararg
  src/subtype.c
  test/subtype.jl
Labels: backport 1.3, performance, types and dispatch

#33364 Bump Pkg to 1.4-DEV.
  deps/checksums/Pkg-04ab197340696404272c691135a7fba38b64f0e6.tar.gz/md5
  deps/checksums/Pkg-04ab197340696404272c691135a7fba38b64f0e6.tar.gz/sha512
  deps/checksums/Pkg-6c978c097d15cc868335776ff0b01be22d15de98.tar.gz/md5
  deps/checksums/Pkg-6c978c097d15cc868335776ff0b01be22d15de98.tar.gz/sha512
  stdlib/Pkg.version
Labels: external dependencies, stdlib

#33378 Fix multiplication of triangular matrix and sparse vector
  stdlib/SparseArrays/src/sparsevector.jl
  stdlib/SparseArrays/test/sparsevector.jl
Labels: bugfix, linear algebra, sparse

#33376 cross-reference ntoh and hton from bswap docs
  base/int.jl
Labels: doc

#33194 Changed display of throw_eachindex_mismatch (issue #32890)
  base/abstractarray.jl
Labels: error handling

#32930 Add note formatting and some missing xrefs
  base/iterators.jl
  base/sort.jl
  base/views.jl
Labels: doc

#33383 docstring typo: Rea -> Real
  stdlib/LinearAlgebra/src/dense.jl
Labels: doc

#32208 faster rand(::Tuple)
  stdlib/Random/src/RNGs.jl
  stdlib/Random/src/generation.jl
Labels: RNG, performance

#33404 add NEWS for #32208, improved rand(::Tuple)
  NEWS.md
Labels: RNG

#33040 div with rounding modes [+ rounded division]
  NEWS.md
  base/Base.jl
  base/bool.jl
  base/div.jl
  base/gmp.jl
  base/int.jl
  base/math.jl
  base/missing.jl
  base/number.jl
  base/operators.jl
  base/promotion.jl
  base/rational.jl
  stdlib/Dates/src/periods.jl
  test/int.jl
Labels: maths

#33375 Update from NSIS to Inno Setup installer
  Makefile
  NEWS.md
  contrib/windows/7zS.sfx
  contrib/windows/7zSFX-config.txt
  contrib/windows/7zSFX-manifest.xml
  contrib/windows/build-installer.iss
  contrib/windows/build-installer.nsi
  contrib/windows/julia-banner.bmp
  contrib/windows/julia-dots.bmp
  contrib/windows/julia-header.bmp
Labels: build, windows

#33406 Document internal Ryu functions, remove duplicate functionality.
  base/float.jl
  base/math.jl
  base/ryu/Ryu.jl
  base/ryu/shortest.jl
  base/ryu/utils.jl
Labels: doc, maths

#33396 fix using non one-based indexing arrays in threads loops
  base/threadingconstructs.jl
  test/threads_exec.jl
Labels: bugfix, multithreading

#33258 Update docstring for `isnan`
  base/float.jl
Labels: doc
