Repository JuliaLang/julia, pull requests merged in 2019-02, with the labels that each got.

#30921 Added test for write-ing past the pre-existing data length
  test/secretbuffer.jl
Labels: test

#30929 add undef to printing of empty arrays
  base/arrayshow.jl
  test/show.jl
Labels: backport 1.0, backport 1.1, display and printing, triage

#30904 miscellaneous array method cleanup
  base/abstractarraymath.jl
  base/array.jl
  base/bitarray.jl
  base/reinterpretarray.jl
  base/strings/basic.jl
  stdlib/LinearAlgebra/src/LinearAlgebra.jl
  stdlib/LinearAlgebra/src/dense.jl
  stdlib/LinearAlgebra/test/dense.jl
  stdlib/SharedArrays/src/SharedArrays.jl
  test/reinterpretarray.jl
Labels: arrays

#30918 add more explanation to doc strings for show, print, string, repr
  base/show.jl
  base/strings/io.jl
  doc/src/manual/strings.md
Labels: doc

#29790 Make `startswith`, `endswith` work with `Regex`
  base/pcre.jl
  base/regex.jl
  test/regex.jl
Labels: strings

#30930 fix #30911, bug in `deepcopy` of `UnionAll`
  base/deepcopy.jl
  test/copy.jl
Labels: backport 1.0, backport 1.1, bugfix

#30900 Display exception stacks
  base/client.jl
  base/errorshow.jl
  src/ast.c
  src/toplevel.c
  stdlib/REPL/src/REPL.jl
  stdlib/REPL/test/repl.jl
  test/choosetests.jl
  test/client.jl
  test/errorshow.jl
  test/precompile.jl
Labels: error handling

#30915 complete curried comparisons
  base/operators.jl
  test/operators.jl
Labels: needs news

#30878 some improvements to static parameter handling in inference
  base/compiler/abstractinterpretation.jl
  base/compiler/inferencestate.jl
  base/compiler/optimize.jl
  base/compiler/ssair/driver.jl
  base/compiler/ssair/inlining.jl
  base/compiler/ssair/ir.jl
  base/compiler/ssair/legacy.jl
  base/compiler/ssair/queries.jl
  base/compiler/ssair/slot2ssa.jl
  base/compiler/utilities.jl
  doc/src/devdocs/inference.md
  test/compiler/inference.jl
Labels: inference

#30223 Fix toggling of debuginfo for show methods
  base/reflection.jl
  base/show.jl
  doc/src/devdocs/reflection.md
  src/disasm.cpp
  stdlib/InteractiveUtils/src/codeview.jl
  stdlib/InteractiveUtils/src/macros.jl
  test/show.jl
  test/syntax.jl
Labels: backport 1.1, display and printing, triage

#30923 Fixup #30507, check indexed assignment size for SparseMatrix
  stdlib/SparseArrays/src/sparsematrix.jl
Labels: sparse

#30496 Add `hasproperty` and `hasfield` to Base RFC
  NEWS.md
  base/exports.jl
  base/reflection.jl
  test/reflection.jl
Labels: needs news

#21598 RFC: sort eigenvalues in a canonical order
  NEWS.md
  base/combinatorics.jl
  stdlib/LinearAlgebra/docs/src/index.md
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/LinearAlgebra/src/eigen.jl
  stdlib/LinearAlgebra/src/symmetric.jl
  stdlib/LinearAlgebra/test/bidiag.jl
  stdlib/LinearAlgebra/test/diagonal.jl
  stdlib/LinearAlgebra/test/lapack.jl
Labels: linear algebra

#30960 more compact output for Irrational show/print
  base/docs/basedocs.jl
  base/irrationals.jl
  doc/src/manual/performance-tips.md
  test/math.jl
Labels: display and printing

#30966 fix `show` of GlobalRefs with macro names
  base/show.jl
  doc/src/devdocs/reflection.md
  doc/src/manual/metaprogramming.md
  stdlib/REPL/test/repl.jl
  stdlib/Test/src/Test.jl
  test/show.jl
Labels: bugfix, display and printing

#29777 Adding `one` for structured matrices that preserves type
  stdlib/LinearAlgebra/src/special.jl
  stdlib/LinearAlgebra/test/special.jl
Labels: linear algebra, minor change

#30977 doc: misc updates
  NEWS.md
  base/operators.jl
  base/reflection.jl
  base/regex.jl
  doc/src/base/base.md
Labels: doc

#30972 another improvement to closure analysis precision
  src/flisp/system.lsp
  src/julia-syntax.scm
  src/utils.scm
  test/compiler/inference.jl
  test/syntax.jl
Labels: lowering, performance

#30986 Inline the whole broadcast expression to avoid allocation
  base/broadcast.jl
  test/broadcast.jl
Labels: broadcast

#30959 adding JULIA_DEPOT_PATH to environment-variables
  doc/src/manual/environment-variables.md
Labels: backport 1.0, backport 1.1, doc, triage

#30722 build: improve special environment variable handling
  Make.inc
  src/Makefile
  src/flisp/Makefile
  src/support/Makefile
Labels: build

#30926 more precise types in keyword argument method lowering
  src/julia-syntax.scm
  test/syntax.jl
Labels: keyword arguments, lowering, performance

#30997 NEWS.md item for #29777
  NEWS.md
Labels: linear algebra

#30979 do less inference in top-level expressions
  base/compiler/abstractinterpretation.jl
Labels: inference, latency

#30830 some better type info in Base to improve latency a bit
  base/abstractarray.jl
  base/complex.jl
  base/fastmath.jl
  base/gmp.jl
  base/intfuncs.jl
  base/io.jl
  base/mpfr.jl
  base/rational.jl
  base/reflection.jl
  base/show.jl
  base/strings/basic.jl
  base/strings/io.jl
  base/strings/util.jl
  src/gf.c
  src/julia-syntax.scm
  stdlib/Distributed/src/cluster.jl
  stdlib/Distributed/src/managers.jl
  stdlib/LibGit2/src/callbacks.jl
  stdlib/Serialization/src/Serialization.jl
Labels: latency

#31010 complete, accurate documentation of LOAD_PATH and JULIA_LOAD_PATH
  base/initdefs.jl
  doc/src/manual/environment-variables.md
  doc/src/manual/modules.md
Labels: doc, packages

#31017 Remove redundant definition of 'identity'
  base/missing.jl
Labels: missing data

#31001 another improvement to static parameter precision
  base/compiler/inferencestate.jl
  test/compiler/inference.jl
Labels: inference

#31014 fix some t-functions on PartialTuple arguments
  base/compiler/tfuncs.jl
  test/compiler/inference.jl
Labels: inference

#30989 fix #14574, `cp` on files >2GB
  base/filesystem.jl
Labels: I/O, bugfix, triage

#31034 fix a bug in `sizeof_nothrow`
  base/compiler/tfuncs.jl
  test/compiler/inference.jl
Labels: bugfix, inference

#31029 Update Mozilla CA certificate store to latest (01-23-2019) for libgit2 SSL.
  deps/Versions.make
  deps/checksums/cacert-2018-12-05.pem/md5
  deps/checksums/cacert-2018-12-05.pem/sha512
  deps/checksums/cacert-2019-01-23.pem/md5
  deps/checksums/cacert-2019-01-23.pem/sha512
Labels: backport 1.0, backport 1.1, triage

#31047 fix #29936, precompile should not assume UnionAlls have stable addresses
  src/dump.c
  test/precompile.jl
Labels: backport 1.0, backport 1.1, bugfix, precompile

#31038 bb: fix normalize_triplet to accept other version outputs
  contrib/normalize_triplet.py
  deps/tools/bb-install.mk
Labels: build

#31041 bump MPFR to 4.0.2
  deps/Versions.make
  deps/checksums/mpfr-4.0.1.tar.bz2/md5
  deps/checksums/mpfr-4.0.1.tar.bz2/sha512
  deps/checksums/mpfr-4.0.2.tar.bz2/md5
  deps/checksums/mpfr-4.0.2.tar.bz2/sha512
Labels: backport 1.0, backport 1.1

#30721 Shows evaluated output for commonly tested functions
  stdlib/Test/src/Test.jl
  stdlib/Test/test/runtests.jl
Labels: display and printing, testsystem

#31042 Allow recursion that decreases the total number of arguments
  base/compiler/typelimits.jl
  test/compiler/inference.jl
Labels: inference

#31043 improve precision of typeof_tfunc a bit
  base/compiler/tfuncs.jl
  test/compiler/inference.jl
Labels: inference

#29182 added intro to pipe/chain/compose (issue #27879)
  doc/src/manual/functions.md
Labels: doc

#30398 Fix enumerate documentation
  base/iterators.jl
Labels: backport 1.1, doc

#30400 implement fast isascii for String
  base/strings/string.jl
Labels: performance, strings

#30969 default to /usr/bin/curl on macOS
  base/download.jl
Labels: mac

#31032 Minor enhancements to devdocs/ast.md
  doc/src/devdocs/ast.md
Labels: doc

#31009 JULIA_DEPOT_PATH: expand empty path to default
  NEWS.md
  base/initdefs.jl
  doc/src/base/constants.md
  doc/src/manual/environment-variables.md
  test/loading.jl
Labels: minor change

#30924 some Enum improvements
  base/Enums.jl
  base/reflection.jl
  base/show.jl
  test/enums.jl
Labels: display and printing, minor change

#31083 Avoid recursion in print_to_string.
  base/array.jl
Labels: gpu

#31074 Show dot expressions without parentheses
  base/show.jl
  test/show.jl
Labels: display and printing

#31087 don't default to compact output in 2-argument `show` methods
  base/arrayshow.jl
  base/dict.jl
  base/irrationals.jl
  base/reduce.jl
  base/show.jl
  stdlib/LinearAlgebra/src/lq.jl
  stdlib/LinearAlgebra/src/uniformscaling.jl
  stdlib/LinearAlgebra/test/lq.jl
  stdlib/LinearAlgebra/test/uniformscaling.jl
  test/core.jl
  test/show.jl
Labels: display and printing

#31089 speed up dispatch on parameterized function types
  src/datatype.c
  src/dump.c
  src/gf.c
  src/jltypes.c
  src/julia.h
  stdlib/Serialization/src/Serialization.jl
Labels: performance

#31099 avoid assertion due to overflow if Num is negative
  src/llvm-late-gc-lowering.cpp
Labels: backport 1.0, backport 1.1, triage

#30783 Extend PartialTuple for structs
  base/compiler/abstractinterpretation.jl
  base/compiler/inferenceresult.jl
  base/compiler/ssair/inlining.jl
  base/compiler/tfuncs.jl
  base/compiler/typelattice.jl
  base/compiler/typelimits.jl
  base/compiler/typeutils.jl
  test/compiler/inference.jl
Labels: inference, needs nanosoldier run

#30971 Update round(::Missing) to match float version
  base/missing.jl
  base/rational.jl
  test/missing.jl
Labels: missing data

#31061 Fix incorrect sign of atanh(complex(x,y)) if x == -1
  base/complex.jl
  stdlib/LinearAlgebra/src/dense.jl
  test/complex.jl
Labels: bugfix, maths

#31114 Backticks, links, and cleanup for modules manual
  doc/src/manual/modules.md
Labels: doc

#31118 Check if Ti is sufficient for size of SparseMatrixCSC
  stdlib/SparseArrays/src/sparsematrix.jl
  stdlib/SparseArrays/test/sparse.jl
Labels: sparse

#31127 More xrefs for conversion manual
  doc/src/manual/conversion-and-promotion.md
Labels: doc

#31008 Add indexing support to SkipMissing
  NEWS.md
  base/missing.jl
  doc/src/manual/missing.md
  test/missing.jl
Labels: missing data

#31148 add units to summarysize docstring
  base/summarysize.jl
Labels: doc

#31155 doc: add cross-ref b/w `isdefined` and `@​isdefined`
  base/docs/basedocs.jl
  base/reflection.jl
Labels: doc

#31120 Add gfortran linking troubleshooting note.
  README.md
Labels: doc

#31101 Make it possible to add optimization passes without lowering intrinsics.
  src/jitlayers.cpp
  src/jitlayers.h
Labels: codegen, gpu

#31167 fix #30741, fix #31082, stack overflow in type intersection
  src/subtype.c
  test/subtype.jl
Labels: bugfix, types and dispatch

#30912 define Dates.tons for CompoundPeriods
  stdlib/Dates/src/periods.jl
  stdlib/Dates/test/periods.jl
Labels: dates

#31150 More xrefs for multithreading and spacing fixes
  doc/src/base/multi-threading.md
  doc/src/manual/parallel-computing.md
Labels: doc, parallel

#31184 xref for the show macro
  base/show.jl
Labels: doc

#31179 Add `ldiv!` and `rdiv!` for arrays with numbers and UniformScaling
  stdlib/LinearAlgebra/src/generic.jl
  stdlib/LinearAlgebra/src/uniformscaling.jl
  stdlib/LinearAlgebra/test/generic.jl
  stdlib/LinearAlgebra/test/uniformscaling.jl
Labels: linear algebra

#31174 Make broadcast eltype widening type-stable
  base/broadcast.jl
Labels: broadcast, performance

#31192 Xrefs for the types devdocs
  doc/src/devdocs/types.md
Labels: doc

#31189 More xrefs for the meta docs
  doc/src/manual/metaprogramming.md
Labels: doc

#31186 more backticks, xrefs, and doctests for essentials and basedocs
  base/docs/basedocs.jl
  base/loading.jl
  doc/src/manual/parallel-computing.md
  stdlib/Distributed/src/pmap.jl
Labels: doc

#31102 SuiteSparse tries to detect CUDA and it fails
  deps/suitesparse.mk
Labels: external dependencies, gpu
