Repository JuliaLang/julia, pull requests merged in 2019-03, with the labels that each got.

#31175 fix #31115, type intersection incorrectly giving `Union{}` as parameter
  src/subtype.c
  test/subtype.jl
Labels: bugfix, types and dispatch

#31205 Add tests: reduce on empty array; type-stability for prod function
  test/reduce.jl
Labels: test

#31200 Improve docstrings for std and var
  stdlib/Statistics/src/Statistics.jl
Labels: doc, stdlib

#31206 Document AbstractDict and AbstractSet
  base/essentials.jl
  doc/src/base/collections.md
  doc/src/manual/conversion-and-promotion.md
Labels: doc

#31187 Fix `-`, `conj`, and `conj!` for sparse matrices with invalid entries in `nzval`
  stdlib/SparseArrays/src/sparsematrix.jl
  stdlib/SparseArrays/test/sparse.jl
Labels: backport 1.0, backport 1.1, bugfix, sparse

#31157 say clockwise and counterclockwise in rot docstrings
  base/arraymath.jl
Labels: doc

#31125 Add diagm for vectors
  NEWS.md
  stdlib/LinearAlgebra/src/dense.jl
  stdlib/LinearAlgebra/test/dense.jl
Labels: enhancement, linear algebra

#31220 doc: fix example for UndefRefError.
  base/docs/basedocs.jl
Labels: doc

#31213 Remove mention of a predicate function in strip docstring
  base/strings/util.jl
Labels: backport 1.0, backport 1.1, doc, strings, triage

#31226 Update @deprecate export documentation
  base/deprecated.jl
  doc/src/base/base.md
Labels: doc

#31225 Document undocumented exports and add Examples
  stdlib/Sockets/docs/src/index.md
  stdlib/Sockets/src/IPAddr.jl
  stdlib/Sockets/src/Sockets.jl
Labels: I/O, doc

#31229 Document `AbstractDisplay`
  base/multimedia.jl
  doc/src/base/io-network.md
Labels: I/O, doc

#31131 docstrings for Base, Core, Main, Module
  base/docs/basedocs.jl
  doc/src/base/base.md
  doc/src/manual/modules.md
Labels: doc

#31228 Doc Logging.Logging
  stdlib/Logging/docs/src/index.md
  stdlib/Logging/src/Logging.jl
Labels: doc, logging

#31211 Accept a function to strip like rstrip and lstrip
  NEWS.md
  base/strings/util.jl
  test/strings/util.jl
Labels: strings

#31203 Update readme to include instruction for using pre-built deps
  README.md
Labels: doc

#31196 SuiteSparse: fix shlib build
  contrib/repackage_system_suitesparse4.make
  deps/Makefile
  deps/patches/SuiteSparse-shlib.patch
  deps/suitesparse.mk
Labels: sparse

#31216 fix #31190, wrong subtyping of left vars and unions
  src/subtype.c
  test/subtype.jl
Labels: bugfix, types and dispatch

#31247 Docs for `UnitUpperTriangular` and `UnitLowerTriangular`
  stdlib/LinearAlgebra/docs/src/index.md
  stdlib/LinearAlgebra/src/bunchkaufman.jl
  stdlib/LinearAlgebra/src/triangular.jl
Labels: doc, linear algebra

#30552 Fast conversion of wrapped types to SparseMatrixCSC
  stdlib/SparseArrays/src/SparseArrays.jl
  stdlib/SparseArrays/src/sparseconvert.jl
  stdlib/SparseArrays/test/sparse.jl
Labels: sparse

#31250 fix cfunction macro docstring
  base/c.jl
Labels: doc

#31046 Include --export-dynamic in julia-config ldflags on FreeBSD
  contrib/julia-config.jl
Labels: freebsd

#31249 Disable the building of unused suitesparse libs.
  deps/suitesparse.mk
Labels: build, sparse

#31251 Docs for PosDefException and SingularException
  stdlib/LinearAlgebra/docs/src/index.md
  stdlib/LinearAlgebra/src/exceptions.jl
Labels: doc, linear algebra

#31116 Bump Pkg to 1.2-alpha-ish.
  deps/checksums/Pkg-4d38bfb01c290ec5d06b845956edbd24ec0dce7e.tar.gz/md5
  deps/checksums/Pkg-4d38bfb01c290ec5d06b845956edbd24ec0dce7e.tar.gz/sha512
  deps/checksums/Pkg-853b3f1fd9895db32b402d89e9dee153b66b2316.tar.gz/md5
  deps/checksums/Pkg-853b3f1fd9895db32b402d89e9dee153b66b2316.tar.gz/sha512
  stdlib/Pkg.version
Labels: external dependencies, stdlib

#31173 Allow curl on windows if available and silence curl downloads
  base/download.jl
Labels: windows

#31237 Update unary plus and add tests
  base/complex.jl
  test/complex.jl
Labels: complex

#31263 Document SharedVector and SharedMatrix
  stdlib/SharedArrays/docs/src/index.md
  stdlib/SharedArrays/src/SharedArrays.jl
Labels: doc

#31261 build,macos: correct the install name of several libraries
  deps/pcre.mk
  deps/suitesparse.mk
  src/Makefile
Labels: build, mac

#31270 fix typo in #31263
  stdlib/SharedArrays/src/SharedArrays.jl
Labels: doc

#31254 Two SparseArrays fixes.
  stdlib/SparseArrays/src/SparseArrays.jl
  stdlib/SparseArrays/src/linalg.jl
Labels: sparse

#31273 add cross-reference to pointer objref methods.
  base/pointer.jl
Labels: doc

#31234 Add docs for `ClusterManager` and `WorkerConfig`
  stdlib/Distributed/docs/src/index.md
  stdlib/Distributed/src/cluster.jl
Labels: doc, parallel

#31279 fix #31194, latex chars `upharpoonright` and `upharpoonleft` swapped
  stdlib/REPL/src/latex_symbols.jl
Labels: REPL, bugfix, unicode

#31123 Fix #18303, better error message for overflowing factorial
  base/combinatorics.jl
Labels: error handling

#31051 Reject `Symmetric(Hermitian(A))` if diagonal of A is not real.
  stdlib/LinearAlgebra/src/symmetric.jl
  stdlib/LinearAlgebra/test/symmetric.jl
Labels: bugfix, linear algebra

#31160 fix method signature for one of the Tuple constructors
  base/tuple.jl
Labels: potential benchmark

#31235 Support filter for SkipMissing-wrapped arrays
  NEWS.md
  base/missing.jl
  test/missing.jl
Labels: arrays, missing data, triage

#31269 Document `AbstractRNG` and `Random.Random`
  stdlib/Random/docs/src/index.md
  stdlib/Random/src/Random.jl
Labels: RNG, doc

#31288 doc: fix doctest for factorial.
  base/intfuncs.jl
Labels: doc

#31274 doc: added docstrings to Adjoint and Transpose
  stdlib/LinearAlgebra/docs/src/index.md
  stdlib/LinearAlgebra/src/adjtrans.jl
Labels: doc, linear algebra

#31224 handle fields of Exception correctly in @test_throws
  stdlib/Test/src/Test.jl
  stdlib/Test/test/runtests.jl
Labels: testsystem

#31296 fix doc for `rstrip`
  base/strings/util.jl
Labels: doc

#31303 Support zero et al on ::Type{Missing}
  base/missing.jl
  test/missing.jl
Labels: missing data

#31277 Doc iamax
  stdlib/LinearAlgebra/docs/src/index.md
  stdlib/LinearAlgebra/src/blas.jl
Labels: doc, linear algebra

#31312 allow chop to take an empty string
  base/strings/util.jl
  test/strings/util.jl
Labels: strings

#31297 Doc free_memory and total_memory
  base/sysinfo.jl
  doc/src/base/base.md
Labels: doc

#31317 Bump Pkg to 1.2-alpha.2.
  deps/checksums/Pkg-4baddc50a0cab908b5184c2a211453b8c9417330.tar.gz/md5
  deps/checksums/Pkg-4baddc50a0cab908b5184c2a211453b8c9417330.tar.gz/sha512
  deps/checksums/Pkg-4d38bfb01c290ec5d06b845956edbd24ec0dce7e.tar.gz/md5
  deps/checksums/Pkg-4d38bfb01c290ec5d06b845956edbd24ec0dce7e.tar.gz/sha512
  stdlib/Pkg.version
Labels: external dependencies, stdlib

#31113 Make `simd_inner_length` generic fallback less specific
  base/simdloop.jl
  test/simdloop.jl
Labels: simd

#31280 fix #31256, support `catch_stack` in test system
  base/abstractarray.jl
  base/client.jl
  base/errorshow.jl
  stdlib/Test/src/Test.jl
Labels: bugfix, testsystem

#31095 Refactor `Expr(:simdloop)` to `Expr(:loopinfo, ...)`
  base/compiler/abstractinterpretation.jl
  base/compiler/optimize.jl
  base/compiler/ssair/queries.jl
  base/compiler/utilities.jl
  base/compiler/validation.jl
  base/meta.jl
  base/simdloop.jl
  doc/src/devdocs/ast.md
  src/ast.c
  src/codegen.cpp
  src/interpreter.c
  src/jitlayers.cpp
  src/julia-syntax.scm
  src/julia_internal.h
  src/llvm-simdloop.cpp
  src/macroexpand.scm
  src/method.c
  test/llvmpasses/simdloop.ll
Labels: codegen

#31323 Clarified documentation of `isless`
  base/operators.jl
Labels: doc

#31108 add docstring for Base.isiterable
  base/essentials.jl
Labels: doc, iteration

#31158 remove codeblock from `rem` docstring
  base/int.jl
Labels: doc

#31332 doc the base64 module
  stdlib/Base64/docs/src/index.md
  stdlib/Base64/src/Base64.jl
Labels: doc

#31328 Highlight that julia integers are machine integers
  doc/src/manual/noteworthy-differences.md
Labels: doc

#31298 Remove integer domain example that doesn't work
  base/intfuncs.jl
  doc/src/manual/noteworthy-differences.md
Labels: doc

#31132 add docstrings for front, tail
  base/essentials.jl
  base/tuple.jl
  doc/src/base/collections.md
  test/namedtuple.jl
  test/tuple.jl
Labels: doc

#31218 Update documentation for month constants
  stdlib/Dates/src/query.jl
Labels: dates, doc

#30403 Include @​propagate_inbounds docstring in documentation
  doc/src/base/base.md
  doc/src/devdocs/boundscheck.md
Labels: doc

#31300 RFC: fix #31295, allow e.g. `view(a,:) .+= view(b,:)`
  src/julia-syntax.scm
  test/broadcast.jl
Labels: broadcast, lowering

#31346 make a subtyping fast path a bit less aggressive
  src/subtype.c
  test/subtype.jl
Labels: types and dispatch

#31366 fix #31352, make sure errors while printing errors don't kill the REPL
  stdlib/REPL/src/REPL.jl
  stdlib/REPL/test/repl.jl
Labels: REPL, bugfix

#31356 fix #31353, `hasmethod` not working with UnionAll types
  base/reflection.jl
  src/gf.c
  test/reflection.jl
Labels: bugfix

#30838 [wip] support using tasks on threads (2/3)
  base/boot.jl
  base/task.jl
  base/threadingconstructs.jl
  src/gc-debug.c
  src/gc.c
  src/init.c
  src/julia.h
  src/task.c
  test/threads.jl
Labels: multithreading

#30806 worklist changes for partr (1/3)
  base/Base.jl
  base/boot.jl
  base/event.jl
  base/linked_list.jl
  base/task.jl
  base/threadingconstructs.jl
  doc/src/manual/control-flow.md
  src/gc-debug.c
  src/gc.c
  src/init.c
  src/jl_uv.c
  src/julia.h
  src/task.c
  stdlib/Distributed/test/distributed_exec.jl
  stdlib/REPL/test/repl.jl
  stdlib/Serialization/src/Serialization.jl
  test/channels.jl
  test/runtests.jl
  test/threads.jl
Labels: multithreading

#31384 SuiteSparse: fix shlib build (Windows)
  deps/Makefile
  deps/suitesparse.mk
Labels: build, windows

#31385 Explicitly ask for `HFS+` filesystems when creating `.dmg` files on MacOS
  contrib/mac/app/Makefile
Labels: build, mac

#31347 [Loopinfo] recursive conversion to metadata
  src/cgutils.cpp
  src/codegen.cpp
  test/llvmpasses/Makefile
  test/llvmpasses/loopinfo.jl
Labels: codegen

#30296 Fix 29545: Implement unaliascopy for ReinterpretArray
  base/reinterpretarray.jl
  test/reinterpretarray.jl
Labels: backport 1.0, bugfix

#31403 Allow ccall(..., llvmcall, ...) to external functions.
  src/ccall.cpp
  test/llvmcall.jl
Labels: codegen, gpu

#31405 inference: fix typeof-tfunc impl
  base/compiler/tfuncs.jl
  test/compiler/inference.jl
Labels: backport 1.0, backport 1.1

#31409 fix #31404, lowering `where` inside tuple in kwcall
  src/julia-syntax.scm
  test/syntax.jl
Labels: bugfix, lowering

#31424 Bump Pkg version to 1.2-alpha.3.
  deps/checksums/Pkg-3b456141de8bc5ab5ba040221391ffc78701f750.tar.gz/md5
  deps/checksums/Pkg-3b456141de8bc5ab5ba040221391ffc78701f750.tar.gz/sha512
  deps/checksums/Pkg-4baddc50a0cab908b5184c2a211453b8c9417330.tar.gz/md5
  deps/checksums/Pkg-4baddc50a0cab908b5184c2a211453b8c9417330.tar.gz/sha512
  stdlib/Pkg.version
Labels: external dependencies, stdlib

#31398 import partr code, allow using it in threaded loops
  base/task.jl
  src/Makefile
  src/atomics.h
  src/gc.c
  src/init.c
  src/julia.h
  src/julia_internal.h
  src/julia_threads.h
  src/locks.h
  src/options.h
  src/partr.c
  src/task.c
  src/threadgroup.c
  src/threadgroup.h
  src/threading.c
  src/threading.h
Labels: multithreading

#31437 add locks for libuv
  base/event.jl
  base/file.jl
  base/filesystem.jl
  base/stream.jl
  src/init.c
  src/jl_uv.c
  src/julia_internal.h
  src/julia_threads.h
  src/sys.c
Labels: I/O, multithreading

#31428 Export additional LLVM passes
  src/llvm-alloc-opt.cpp
  src/llvm-api.cpp
  src/llvm-gc-invariant-verifier.cpp
  src/llvm-late-gc-lowering.cpp
  src/llvm-lower-handlers.cpp
  src/llvm-muladd.cpp
  src/llvm-multiversioning.cpp
  src/llvm-propagate-addrspaces.cpp
  src/llvm-ptls.cpp
  src/llvm-simdloop.cpp
Labels: codegen, gpu

#31463 [doc] Adding explicit link to PCRE syntax
  doc/src/manual/strings.md
Labels: doc

#31450 enable `jl_wake_libuv` on windows
  src/jl_uv.c
Labels: I/O, multithreading, windows

#31417 Return current directory without the trailing slash
  base/loading.jl
  base/path.jl
  test/loading.jl
Labels: minor change, needs news, needs tests

#31431 Fix llvm-assertion: don't instantiate 0-sized structs (ghost types)
  src/intrinsics.cpp
  test/intrinsics.jl
Labels: bugfix, codegen

#31454 small fixes to libuv locks
  src/init.c
  src/jloptions.c
  src/julia_internal.h
  src/locks.h
Labels: I/O, multithreading

#31451 Add inv(::Missing)
  NEWS.md
  base/missing.jl
  base/number.jl
  test/missing.jl
Labels: missing data

#31401 Fix #31396
  base/rational.jl
  test/rational.jl
Labels: maths

#31471 Fix eltype() and pointer() of Cstring
  base/c.jl
  test/strings/types.jl
Labels: minor change

#31461 slightly better sparse matrix output?
  stdlib/SparseArrays/docs/src/index.md
  stdlib/SparseArrays/src/sparsematrix.jl
  stdlib/SparseArrays/test/sparse.jl
Labels: display and printing, sparse

#31430 add test for #28762, at-inferred error
  test/compiler/inference.jl
Labels: inference, test

#31536 add a nop conversion for Some
  base/some.jl
Labels: performance

#31452 Fix Int overrun potential in dict skip_deleted
  base/dict.jl
Labels: collections, performance

#31512 fix #31439, type intersection issue with lower bounds
  src/subtype.c
  test/subtype.jl
Labels: bugfix, types and dispatch

#31518 doc systemsleep
  base/libc.jl
  doc/src/base/libc.md
Labels: doc

#31258 fix undef var in conversion in rounding modes in MPFR
  base/mpfr.jl
Labels: backport 1.1, needs tests

#31519 Upgrade to Documenter 0.22.1.
  doc/Manifest.toml
  doc/make.jl
Labels: docsystem, external dependencies
