Repository JuliaLang/julia, pull requests merged in 2019-04, with the labels that each got.

#31310 Add nextfloat(::BigFloat, n), prevfloat(::BigFloat,n)
  NEWS.md
  base/float.jl
  base/mpfr.jl
  test/mpfr.jl
Labels: bignums, minor change, needs news

#31309 Fix BoundsError for regex deepcopy
  base/deepcopy.jl
  test/copy.jl
Labels: needs tests

#31570 Add FAQ for BLAS benchmark discrepancies and MKL.
  doc/src/manual/faq.md
Labels: doc

#31016 Fix nonmissingtype with unspecified type parameters
  base/missing.jl
  test/ambiguous.jl
  test/missing.jl
Labels: missing data

#31586 build: LDFLAGS needed for FreeBSD build
  deps/gmp.mk
  deps/patches/gmp-config-ldflags.patch
Labels: build, external dependencies, freebsd

#31445 doc: add missing fields of CodeInfo
  doc/src/devdocs/ast.md
Labels: doc

#31354 sparse findnext findprev hash performance improved
  stdlib/SparseArrays/src/sparsematrix.jl
  stdlib/SparseArrays/test/sparse.jl
Labels: performance, sparse

#31286 doc: add missing docstrings to SparseArrays
  stdlib/SparseArrays/docs/src/index.md
  stdlib/SparseArrays/src/abstractsparse.jl
  stdlib/SparseArrays/src/sparsematrix.jl
  stdlib/SparseArrays/src/sparsevector.jl
Labels: doc, sparse

#31344 alternate fix for #29936 that handles more cases
  src/dump.c
  test/precompile.jl
Labels: precompile

#29807 loading code simplifications
  base/loading.jl
  stdlib/REPL/src/REPLCompletions.jl
  test/loading.jl
Labels: packages

#31322 fix #28992, returning dot operator calls from macros
  src/ast.scm
  src/julia-parser.scm
  src/julia-syntax.scm
  test/syntax.jl
Labels: broadcast, lowering, macros

#27900 Add ProcessExitedError rather than using `error`
  NEWS.md
  base/download.jl
  base/exports.jl
  base/process.jl
  doc/src/base/base.md
  test/download.jl
  test/spawn.jl
Labels: error handling

#31598 fix #31596, named tuple syntax in kw arg call
  src/julia-syntax.scm
  test/syntax.jl
Labels: bugfix, lowering

#31438 basic support for printing to TTYs from multiple threads
  NEWS.md
  base/libuv.jl
  base/stream.jl
  src/jl_uv.c
  src/julia_internal.h
  src/partr.c
Labels: I/O, multithreading

#27749 Add `keytype`+`valtype` method for AbstractArray and AbstractVector
  NEWS.md
  base/abstractarray.jl
  test/abstractarray.jl
  test/ranges.jl
Labels: arrays

#26440 Add methods to `reduce`, specialized for `merge` on Dict
  base/dict.jl
  test/dict.jl
Labels: collections, performance, potential benchmark

#31443 minor fixes in multiplication with Diagonals
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/LinearAlgebra/test/diagonal.jl
Labels: backport 1.0, backport 1.1, bugfix, linear algebra

#31613 fix undefined variable error in uncompress_ast
  base/reflection.jl
Labels: bugfix, needs tests

#31580 Add Revise to the workflow section
  doc/src/manual/workflow-tips.md
Labels: doc

#31617 fixes #31453 by generalizing some sparse matrix functions to Integer …
  stdlib/SparseArrays/src/sparsematrix.jl
  stdlib/SparseArrays/test/sparse.jl
Labels: sparse

#30569 Improve REPL completions
  stdlib/REPL/src/REPLCompletions.jl
  stdlib/REPL/test/replcompletions.jl
Labels: REPL, backport 1.0, backport 1.1, bugfix

#31642 Fix show_vector for long offset arrays with :limit=true
  base/arrayshow.jl
  test/offsetarray.jl
Labels: backport 1.0, backport 1.1

#31561 support for Unicode 12
  NEWS.md
  deps/checksums/utf8proc-454f60150c7f023526d353e1e6b386f93ee0b116.tar.gz/md5
  deps/checksums/utf8proc-454f60150c7f023526d353e1e6b386f93ee0b116.tar.gz/sha512
  deps/checksums/utf8proc-97ef668b312b96382714dbb8eaac4affce0816e6.tar.gz/md5
  deps/checksums/utf8proc-97ef668b312b96382714dbb8eaac4affce0816e6.tar.gz/sha512
  deps/utf8proc.version
Labels: triage, unicode

#31623 Fix STDLIBDIR in test/Makefile.
  test/Makefile
Labels: testsystem

#31604 added ⋆ as unary operator
  NEWS.md
  src/julia-parser.scm
Labels: parser

#31651 fix #31488, regression precompiling modules with non-interned empty strings
  src/dump.c
  test/precompile.jl
Labels: bugfix, precompile

#31544 doc AbstractWorkerPool
  stdlib/Distributed/docs/src/index.md
  stdlib/Distributed/src/workerpool.jl
Labels: doc, parallel

#31667 Revert "Check if Ti is sufficient for size of SparseMatrixCSC (#31118)"
  stdlib/SparseArrays/src/sparsematrix.jl
  stdlib/SparseArrays/test/sparse.jl
Labels: bugfix, sparse

#31660 Set VERSION to 1.3-DEV
  VERSION
Labels: release

#31675 [release-1.2] Set VERSION to 1.2.0 prerelease
  VERSION
Labels: release

#31668 add a missing `free` in subtyping
  src/subtype.c
Labels: backport 1.2, bugfix

#31669 fix #31496, type intersection bug in restoring environment
  src/subtype.c
  test/subtype.jl
Labels: backport 1.2, bugfix, types and dispatch

#31671 dispatch: fix incorrect signature narrowing for U{Type, S}
  src/gf.c
  test/core.jl
Labels: backport 1.2, bugfix

#31673 channels: remove WeakRef from Condition
  base/channels.jl
  test/channels.jl
Labels: backport 1.2

#31692 edit 1.2 release notes
  NEWS.md
Labels: backport 1.2, release

#31689 fix #31686, segfault on invalid cmdline option
  src/init.c
  test/cmdlineargs.jl
Labels: backport 1.2, bugfix

#31688 Fix doctest from utf8proc update.
  base/strings/unicode.jl
Labels: backport 1.2, doc, unicode

#31679 Upgrade Pkg to 1.2.0-rc1.
  deps/checksums/Pkg-3b456141de8bc5ab5ba040221391ffc78701f750.tar.gz/md5
  deps/checksums/Pkg-3b456141de8bc5ab5ba040221391ffc78701f750.tar.gz/sha512
  deps/checksums/Pkg-eecc7149ed927869e0e61fa03ce478ecefc8917a.tar.gz/md5
  deps/checksums/Pkg-eecc7149ed927869e0e61fa03ce478ecefc8917a.tar.gz/sha512
  stdlib/Pkg.version
Labels: backport 1.2, external dependencies, stdlib

#31691 Don't modify existing MDNodes in SIMDloop pass.
  src/llvm-simdloop.cpp
Labels: backport 1.0, bugfix, codegen

#31687 Fix regressed compilation of uncached code.
  src/codegen.cpp
  test/reflection.jl
Labels: backport 1.2, codegen

#31693 fix potential stack overflow in Profile.jl
  stdlib/Profile/src/Profile.jl
Labels: ci, test

#31615 fix parse(ComplexF64, "inf")
  base/parse.jl
  src/support/strtod.c
  test/parse.jl
Labels: backport 1.0, backport 1.1, backport 1.2, bugfix, complex

#31708 fix a missing GC root in type intersection
  src/subtype.c
Labels: backport 1.2, bugfix

#31489 Experimental support for aliasscopes
  base/Base.jl
  base/experimental.jl
  src/codegen.cpp
  test/llvmpasses/aliasscopes.jl
  test/llvmpasses/loopinfo.jl
  test/testhelpers/llvmpasses.jl
Labels: backport 1.2, codegen

#31690 Move 1.2 NEWS to HISTORY, set NEWS to 1.3
  HISTORY.md
  NEWS.md
Labels: release

#31709 fix #31702, thread sitting in event loop outside thread region
  src/threading.c
Labels: backport 1.2, bugfix, multithreading

#31701 Remove unused ARPACKException.
  stdlib/LinearAlgebra/src/exceptions.jl
Labels: error handling, linear algebra

#31272 Copy global variable linkages when moving functions
  src/ccall.cpp
  src/llvmcalltest.cpp
  test/llvmcall.jl
Labels: codegen, gpu

#31581 RFC: Fast mul! with Q matrices from QR factorizations.
  stdlib/LinearAlgebra/src/qr.jl
  stdlib/LinearAlgebra/test/qr.jl
Labels: linear algebra

#31285 Let rdiv! accept a LU factorization object
  stdlib/LinearAlgebra/src/lu.jl
  stdlib/LinearAlgebra/test/lu.jl
Labels: linear algebra

#31694 Simplify llvm.dbg.declare for pointer arguments
  src/codegen.cpp
  src/llvm-gc-invariant-verifier.cpp
Labels: backport 1.2, codegen, gpu

#31680 fix #31663, long inference time printing large tree structure
  base/compiler/typelimits.jl
  base/essentials.jl
  base/show.jl
  src/subtype.c
  test/compiler/inference.jl
Labels: backport 1.2, inference, performance

#31576 Overload mean to take a function alongwith a dimension
  NEWS.md
  stdlib/Statistics/src/Statistics.jl
  stdlib/Statistics/test/runtests.jl
Labels: statistics

#31700 Update calling-c-and-fortran docs
  doc/src/manual/calling-c-and-fortran-code.md
Labels: doc

#31752 Update doc links for 1.3-dev
  doc/make.jl
Labels: docsystem

#31749 Bump Pkg to 1.2.0-alpha.2.
  deps/checksums/Pkg-b7d26be39a4e5467f73530592b27fe28e40f357b.tar.gz/md5
  deps/checksums/Pkg-b7d26be39a4e5467f73530592b27fe28e40f357b.tar.gz/sha512
  deps/checksums/Pkg-eecc7149ed927869e0e61fa03ce478ecefc8917a.tar.gz/md5
  deps/checksums/Pkg-eecc7149ed927869e0e61fa03ce478ecefc8917a.tar.gz/sha512
  stdlib/Pkg.version
Labels: backport 1.2, external dependencies, stdlib

#31745 Upgrade libssh2 to v1.8.2
  contrib/refresh_bb_tarballs.sh
  deps/Versions.make
  deps/checksums/LibSSH2.v1.8.0.aarch64-linux-gnu.tar.gz/md5
  deps/checksums/LibSSH2.v1.8.0.aarch64-linux-gnu.tar.gz/sha512
  deps/checksums/LibSSH2.v1.8.0.aarch64-linux-musl.tar.gz/md5
  deps/checksums/LibSSH2.v1.8.0.aarch64-linux-musl.tar.gz/sha512
  deps/checksums/LibSSH2.v1.8.0.arm-linux-gnueabihf.tar.gz/md5
  deps/checksums/LibSSH2.v1.8.0.arm-linux-gnueabihf.tar.gz/sha512
  deps/checksums/LibSSH2.v1.8.0.arm-linux-musleabihf.tar.gz/md5
  deps/checksums/LibSSH2.v1.8.0.arm-linux-musleabihf.tar.gz/sha512
  deps/checksums/LibSSH2.v1.8.0.i686-linux-gnu.tar.gz/md5
  deps/checksums/LibSSH2.v1.8.0.i686-linux-gnu.tar.gz/sha512
  deps/checksums/LibSSH2.v1.8.0.i686-linux-musl.tar.gz/md5
  deps/checksums/LibSSH2.v1.8.0.i686-linux-musl.tar.gz/sha512
  deps/checksums/LibSSH2.v1.8.0.i686-w64-mingw32.tar.gz/md5
  deps/checksums/LibSSH2.v1.8.0.i686-w64-mingw32.tar.gz/sha512
  deps/checksums/LibSSH2.v1.8.0.powerpc64le-linux-gnu.tar.gz/md5
  deps/checksums/LibSSH2.v1.8.0.powerpc64le-linux-gnu.tar.gz/sha512
  deps/checksums/LibSSH2.v1.8.0.x86_64-apple-darwin14.tar.gz/md5
  deps/checksums/LibSSH2.v1.8.0.x86_64-apple-darwin14.tar.gz/sha512
  deps/checksums/LibSSH2.v1.8.0.x86_64-linux-gnu.tar.gz/md5
  deps/checksums/LibSSH2.v1.8.0.x86_64-linux-gnu.tar.gz/sha512
  deps/checksums/LibSSH2.v1.8.0.x86_64-linux-musl.tar.gz/md5
  deps/checksums/LibSSH2.v1.8.0.x86_64-linux-musl.tar.gz/sha512
  deps/checksums/LibSSH2.v1.8.0.x86_64-unknown-freebsd11.1.tar.gz/md5
  deps/checksums/LibSSH2.v1.8.0.x86_64-unknown-freebsd11.1.tar.gz/sha512
  deps/checksums/LibSSH2.v1.8.0.x86_64-w64-mingw32.tar.gz/md5
  deps/checksums/LibSSH2.v1.8.0.x86_64-w64-mingw32.tar.gz/sha512
  deps/checksums/LibSSH2.v1.8.2.aarch64-linux-gnu.tar.gz/md5
  deps/checksums/LibSSH2.v1.8.2.aarch64-linux-gnu.tar.gz/sha512
  deps/checksums/LibSSH2.v1.8.2.aarch64-linux-musl.tar.gz/md5
  deps/checksums/LibSSH2.v1.8.2.aarch64-linux-musl.tar.gz/sha512
  deps/checksums/LibSSH2.v1.8.2.arm-linux-gnueabihf.tar.gz/md5
  deps/checksums/LibSSH2.v1.8.2.arm-linux-gnueabihf.tar.gz/sha512
  deps/checksums/LibSSH2.v1.8.2.arm-linux-musleabihf.tar.gz/md5
  deps/checksums/LibSSH2.v1.8.2.arm-linux-musleabihf.tar.gz/sha512
  deps/checksums/LibSSH2.v1.8.2.i686-linux-gnu.tar.gz/md5
  deps/checksums/LibSSH2.v1.8.2.i686-linux-gnu.tar.gz/sha512
  deps/checksums/LibSSH2.v1.8.2.i686-linux-musl.tar.gz/md5
  deps/checksums/LibSSH2.v1.8.2.i686-linux-musl.tar.gz/sha512
  deps/checksums/LibSSH2.v1.8.2.i686-w64-mingw32.tar.gz/md5
  deps/checksums/LibSSH2.v1.8.2.i686-w64-mingw32.tar.gz/sha512
  deps/checksums/LibSSH2.v1.8.2.powerpc64le-linux-gnu.tar.gz/md5
  deps/checksums/LibSSH2.v1.8.2.powerpc64le-linux-gnu.tar.gz/sha512
  deps/checksums/LibSSH2.v1.8.2.x86_64-apple-darwin14.tar.gz/md5
  deps/checksums/LibSSH2.v1.8.2.x86_64-apple-darwin14.tar.gz/sha512
  deps/checksums/LibSSH2.v1.8.2.x86_64-linux-gnu.tar.gz/md5
  deps/checksums/LibSSH2.v1.8.2.x86_64-linux-gnu.tar.gz/sha512
  deps/checksums/LibSSH2.v1.8.2.x86_64-linux-musl.tar.gz/md5
  deps/checksums/LibSSH2.v1.8.2.x86_64-linux-musl.tar.gz/sha512
  deps/checksums/LibSSH2.v1.8.2.x86_64-unknown-freebsd11.1.tar.gz/md5
  deps/checksums/LibSSH2.v1.8.2.x86_64-unknown-freebsd11.1.tar.gz/sha512
  deps/checksums/LibSSH2.v1.8.2.x86_64-w64-mingw32.tar.gz/md5
  deps/checksums/LibSSH2.v1.8.2.x86_64-w64-mingw32.tar.gz/sha512
  deps/checksums/libssh2-02ecf17a6d5f9837699e8fb3aad0c804caa67eeb.tar.gz/md5
  deps/checksums/libssh2-02ecf17a6d5f9837699e8fb3aad0c804caa67eeb.tar.gz/sha512
  deps/checksums/libssh2-30e9c1347e3b8baa2951db612f05e6d87fc8e2f2.tar.gz/md5
  deps/checksums/libssh2-30e9c1347e3b8baa2951db612f05e6d87fc8e2f2.tar.gz/sha512
  deps/libssh2.version
Labels: external dependencies

#31670 inference: fix fieldtype tfunc design
  base/compiler/tfuncs.jl
  test/compiler/inference.jl
Labels: backport 1.2, bugfix, inference

#31575 Add DateTime constructor for Base.Libc.Tmstruct
  stdlib/Dates/src/types.jl
  stdlib/Dates/test/types.jl
Labels: dates, stdlib

#31747 fix #31703, type intersection bug with chains of vars in invariant position
  src/subtype.c
  test/subtype.jl
Labels: backport 1.2, bugfix, types and dispatch

#31762 fix #31760, regression in Dict `iterate`
  base/dict.jl
Labels: backport 1.2, performance

#31734 inference: accelerate type-limits under wide-recursion
  base/compiler/abstractinterpretation.jl
  test/compiler/inference.jl
Labels: backport 1.2, bugfix, inference

#31763 fix #31758: out of bounds write in sparse broadcast
  stdlib/SparseArrays/src/higherorderfns.jl
  stdlib/SparseArrays/test/higherorderfns.jl
Labels: backport 1.0, backport 1.1, backport 1.2, broadcast, bugfix, sparse

#31776 backport-1.1.1: Upgrade `libssh2` version to `1.8.2`
  deps/checksums/libssh2-02ecf17a6d5f9837699e8fb3aad0c804caa67eeb.tar.gz/md5
  deps/checksums/libssh2-02ecf17a6d5f9837699e8fb3aad0c804caa67eeb.tar.gz/sha512
  deps/checksums/libssh2-30e9c1347e3b8baa2951db612f05e6d87fc8e2f2.tar.gz/md5
  deps/checksums/libssh2-30e9c1347e3b8baa2951db612f05e6d87fc8e2f2.tar.gz/sha512
  deps/libssh2.version
Labels: external dependencies, security

#31446 Fix issue 31252 - remote globals not being updated in some cases
  stdlib/Distributed/src/clusterserialize.jl
  stdlib/Distributed/test/distributed_exec.jl
Labels: parallel

#31782 doc: Small update to join documentation
  base/strings/io.jl
Labels: doc

#31502 Faster implementation of Float64(::BigInt), Float32(::BigInt) and Float16(::BigInt)
  base/gmp.jl
  test/bigint.jl
Labels: bignums, performance

#31773 precompile: permit saving code (regression)
  Make.inc
  src/dump.c
Labels: backport 1.2

#31733 more fixes to I/O and threading
  base/asyncevent.jl
  base/condition.jl
  base/lock.jl
  base/locks-mt.jl
  base/stream.jl
  src/gc.c
  src/partr.c
  src/threading.c
  stdlib/Sockets/src/PipeServer.jl
  stdlib/Sockets/src/Sockets.jl
  test/threads.jl
Labels: I/O, backport 1.2, bugfix, multithreading

#31748 docs: clarify ccall docs role of fake "libc" parameter
  doc/src/manual/calling-c-and-fortran-code.md
Labels: doc

#31799 fix droptol! docstrings
  stdlib/SparseArrays/src/sparsematrix.jl
  stdlib/SparseArrays/src/sparsevector.jl
Labels: backport 1.2, doc

#31654 diagm for non-square matrices
  NEWS.md
  stdlib/LinearAlgebra/src/dense.jl
  stdlib/LinearAlgebra/test/dense.jl
  stdlib/SparseArrays/src/sparsematrix.jl
  stdlib/SparseArrays/test/sparse.jl
Labels: linear algebra, sparse

#31804 Test iterate on BK and a couple other missing tests
  stdlib/LinearAlgebra/test/bunchkaufman.jl
Labels: linear algebra, test

#31808 A few missing LQ tests too
  stdlib/LinearAlgebra/test/lq.jl
Labels: linear algebra, test

#31809 Two missing svd tests
  stdlib/LinearAlgebra/test/svd.jl
Labels: linear algebra, test

#31814 Improve IO read performance.
  base/iobuffer.jl
Labels: I/O, performance

#31812 fix incorrect error path in `schedule`
  base/task.jl
  test/channels.jl
Labels: backport 1.2

#31802 A few missing tests for sparse broadcast styles and converters
  stdlib/SparseArrays/test/higherorderfns.jl
  stdlib/SparseArrays/test/sparse.jl
Labels: sparse, test

#31811 Bad signature fix and missing tests
  stdlib/LinearAlgebra/src/symmetric.jl
  stdlib/LinearAlgebra/test/symmetric.jl
Labels: linear algebra, test

#31816 Add test for type intersection issue underlying #26083
  test/subtype.jl
Labels: test

#31794 Add a bib entry file to make it easy to cite Julia.
  CITATION.bib
Labels: doc

#31821 Missing triangular tests
  stdlib/LinearAlgebra/test/triangular.jl
Labels: linear algebra, test

#31806 Get rid of cmp/isless for AdjTrans
  stdlib/LinearAlgebra/src/adjtrans.jl
Labels: linear algebra, test

#31827 Move platform specific build instructions to doc/
  doc/DISTRIBUTING.md
  doc/README.arm.md
  doc/README.windows.md
Labels: doc

#31825 fix `deepcopy` on 0-field mutable structs
  base/deepcopy.jl
  test/copy.jl
Labels: bugfix

#31706 A few missing indices tests
  test/abstractarray.jl
Labels: arrays, test

#31832 Remove Windows MSVC related build files from pre 0.2
  Windows.inc
  src/Windows.mk
  src/flisp/Windows.mk
  src/support/Windows.mk
Labels: MS-DOS, build

#31848 fix #31803, covariance handling in `fieldtype_tfunc`
  base/compiler/tfuncs.jl
  test/compiler/inference.jl
Labels: backport 1.2, bugfix, inference

#31834 add findall(pattern, string)
  NEWS.md
  base/regex.jl
  test/regex.jl
  test/strings/search.jl
Labels: needs compat annotation, strings

#31860 build: touch staged files after untar
  deps/tools/common.mk
Labels: build

#23422 add *(::Union{Regex, AbstractString, AbstractChar}...)
  NEWS.md
  base/regex.jl
  stdlib/REPL/src/REPL.jl
  test/regex.jl
Labels: strings

#31858 WIP: Refactoring of README.md
  README.md
  doc/build/DISTRIBUTING.md
  doc/build/README.md
  doc/build/arm.md
  doc/build/build.md
  doc/build/freebsd.md
  doc/build/linux.md
  doc/build/macos.md
  doc/build/windows.md
Labels: doc

#31873 Bump 7z version
  Makefile
Labels: external dependencies, windows

#31781 use Iterators.reverse for foldr etc.
  NEWS.md
  base/reduce.jl
  test/reduce.jl
Labels: bugfix, collections

#31704 Missing undef array init tests
  test/core.jl
Labels: arrays, test

#31878 Stop exporting dot from LinearAlgebra.BLAS
  NEWS.md
  stdlib/LinearAlgebra/src/blas.jl
Labels: linear algebra, minor change
