Repository JuliaLang/julia, pull requests merged in 2019-06, with the labels that each got.

#32082 [Fix #32070] SparseMatrixCSC{Bool} x [Sparse]Vector{Bool} too narrow result eltype
  stdlib/SparseArrays/src/SparseArrays.jl
  stdlib/SparseArrays/src/linalg.jl
  stdlib/SparseArrays/src/sparsevector.jl
  stdlib/SparseArrays/test/sparsevector.jl
Labels: linear algebra, sparse

#32210 fix non-sticky tasks with nthreads==1
  base/task.jl
  test/threads.jl
Labels: bugfix, multithreading

#32219 fix LibGit2 test: unknown repo now returns error instead of EAUTH
  stdlib/LibGit2/test/online.jl
Labels: libgit2, test

#32211 win,libuv: support multiple threads
  deps/checksums/libuv-2348256acf5759a544e5ca7935f638d2bc091d60.tar.gz/md5
  deps/checksums/libuv-2348256acf5759a544e5ca7935f638d2bc091d60.tar.gz/sha512
  deps/checksums/libuv-26dbe5672c33fc885462c509fe2a9b36f35866fd.tar.gz/md5
  deps/checksums/libuv-26dbe5672c33fc885462c509fe2a9b36f35866fd.tar.gz/sha512
  deps/libuv.version
  src/partr.c
Labels: I/O, multithreading, windows

#31135 WIP/RFC: Split GC lowering pass into a platform-agnostic pass and a CPU-specific pass
  src/Makefile
  src/jitlayers.cpp
  src/jitlayers.h
  src/llvm-final-gc-lowering.cpp
  src/llvm-late-gc-lowering.cpp
  src/llvm-pass-helpers.cpp
  src/llvm-pass-helpers.h
  test/llvmpasses/alloc-opt.jl
  test/llvmpasses/final-lower-gc.ll
  test/llvmpasses/gcroots.ll
  test/llvmpasses/late-lower-gc.ll
  test/llvmpasses/refinements.ll
  test/llvmpasses/returnstwicegc.ll
  test/llvmpasses/safepoint_stress.jl
Labels: GC, codegen, gpu

#31807 subtyping: apply performance optimization in more places
  base/operators.jl
  src/common_symbols1.inc
  src/common_symbols2.inc
  src/dump.c
  src/subtype.c
  test/core.jl
  test/subtype.jl
Labels: types and dispatch

#31664 Add findfirst, findlast for searching char in strings
  NEWS.md
  base/strings/search.jl
  test/strings/search.jl
Labels: search & find, strings

#32174 Make sleep(n) and Timer creation more MT-safe
  base/asyncevent.jl
  src/jl_uv.c
Labels: multithreading

#21983 support pre-allocation in BigInt ctor
  base/gmp.jl
Labels: bignums, maths, performance

#31932 Fix tildes in --project argument
  base/initdefs.jl
  src/init.c
  test/cmdlineargs.jl
Labels: needs news

#32225 Small missing int tests
  test/int.jl
Labels: test

#32228 More tests for WKD ctors
  test/dict.jl
Labels: test

#32231 re-fix function printing
  base/show.jl
  test/show.jl
Labels: display and printing

#32229 Tests for finding stuff
  test/abstractarray.jl
  test/arrayops.jl
Labels: test

#32162 relax some Diagonal tests from #31443
  stdlib/LinearAlgebra/test/diagonal.jl
Labels: backport 1.0, backport 1.1

#32250 fix #18172, make gensym counter updates atomic
  src/symbol.c
Labels: bugfix, multithreading

#32246 fix off-by-one error in show_delim_array
  base/show.jl
  test/show.jl
Labels: bugfix, display and printing

#32194 add doc string for `open(command, mode::String)`
  base/process.jl
Labels: doc

#32260 Remove internal sort from `getipaddrs`
  NEWS.md
  stdlib/Sockets/src/addrinfo.jl
Labels: backport 1.2

#32041 RFC: use `AbstractMatrix` as the eltype of `Symmetric` for array of arrays
  stdlib/LinearAlgebra/src/symmetric.jl
Labels: backport 1.2, linear algebra

#32255 readdlm(bytearray) shouldn't modify bytearray
  stdlib/DelimitedFiles/src/DelimitedFiles.jl
  stdlib/DelimitedFiles/test/runtests.jl
Labels: backport 1.0, backport 1.1, backport 1.2, bugfix

#31064 Fix accidental recursion in jl_concrete_subtype
  src/datatype.c
  src/dump.c
  src/gf.c
  src/jltypes.c
  src/julia.h
  test/core.jl
Labels: backport 1.0, backport 1.1, bugfix

#32266 Remove copy(::SubArray) definition from SparseArrays, fixes #32213.
  stdlib/SparseArrays/src/sparseconvert.jl
Labels: backport 1.2, sparse

#32238 threading: fixup scheduler statepoints for GC
  src/julia_threads.h
  src/partr.c
Labels: GC, bugfix, multithreading

#31066 Handle missing values in clamp
  NEWS.md
  base/math.jl
  test/missing.jl
Labels: maths, missing data

#32247 Random: add doc for SamplerSimple
  stdlib/Random/docs/src/index.md
  stdlib/Random/src/Random.jl
Labels: RNG, doc

#32252 Use `inv` to define inverse of trigonometric functions
  base/special/trig.jl
  test/complex.jl
  test/math.jl
Labels: maths

#32217 make GC counters thread-local
  src/atomics.h
  src/gc.c
  src/init.c
  src/julia_threads.h
Labels: GC, bugfix, multithreading

#32287 fix #31774, don't run Pkg tests on travis and AV
  .appveyor.yml
  .travis.yml
Labels: ci

#32281 Bump Pkg to v1.2.0-rc2.
  deps/checksums/Pkg-8e050a983e91f0aaa37ea599dbb9b85b628965c9.tar.gz/md5
  deps/checksums/Pkg-8e050a983e91f0aaa37ea599dbb9b85b628965c9.tar.gz/sha512
  deps/checksums/Pkg-b7d26be39a4e5467f73530592b27fe28e40f357b.tar.gz/md5
  deps/checksums/Pkg-b7d26be39a4e5467f73530592b27fe28e40f357b.tar.gz/sha512
  stdlib/Pkg.version
Labels: backport 1.2, external dependencies, stdlib

#32294 Fix build for ASAN
  Make.inc
Labels: build

#32226 Add test for getkey in dict.jl
  test/dict.jl
Labels: test

#32316 FAQ: Why don't you compile Matlab/Python/R/… code to Julia?
  doc/src/manual/faq.md
Labels: doc

#32279 Fix broken link to "Getting Started" page
  README.md
Labels: doc

#32323 FAQ: Is Julia named after someone or something?
  doc/src/manual/faq.md
Labels: doc

#31499 fixes for getindex tab-completion
  stdlib/REPL/src/REPLCompletions.jl
  stdlib/REPL/test/replcompletions.jl
Labels: REPL, backport 1.0, backport 1.1, backport 1.2

#32308 support AM/PM in date parsing/printing
  NEWS.md
  stdlib/Dates/src/io.jl
  stdlib/Dates/src/types.jl
  stdlib/Dates/test/io.jl
Labels: dates, needs compat annotation, triage

#32195 boost multiplication of sparse with strided and vice versa
  stdlib/SparseArrays/src/linalg.jl
Labels: performance, sparse

#31720 add a documentation stub for Future
  doc/src/manual/parallel-computing.md
  stdlib/Distributed/docs/src/index.md
  stdlib/Future/docs/src/index.md
Labels: doc

#32017 Add svd for real Symmetric and Hermitian matrices
  stdlib/LinearAlgebra/src/symmetric.jl
  stdlib/LinearAlgebra/test/svd.jl
Labels: linear algebra

#32326 fix #32325, struct plus outer ctor inside `let`
  src/julia-syntax.scm
  test/syntax.jl
Labels: bugfix, lowering

#30580 make SparseMatrixCSC and SparseVector work on non-numerical values
  stdlib/SparseArrays/src/sparsematrix.jl
  stdlib/SparseArrays/src/sparsevector.jl
  stdlib/SparseArrays/test/higherorderfns.jl
  stdlib/SparseArrays/test/sparse.jl
  test/hashing.jl
  test/show.jl
Labels: sparse

#31117 Broaden signature of eigen and eigvals to AbstractMatrix to allow for Adjoint and Transpose input.
  stdlib/LinearAlgebra/src/eigen.jl
  stdlib/LinearAlgebra/test/eigen.jl
Labels: linear algebra

#32361 Bump `libuv` BB tarball
  deps/Versions.make
  deps/checksums/LibUV.v1.24.0-1.aarch64-linux-gnu.tar.gz/md5
  deps/checksums/LibUV.v1.24.0-1.aarch64-linux-gnu.tar.gz/sha512
  deps/checksums/LibUV.v1.24.0-1.aarch64-linux-musl.tar.gz/md5
  deps/checksums/LibUV.v1.24.0-1.aarch64-linux-musl.tar.gz/sha512
  deps/checksums/LibUV.v1.24.0-1.arm-linux-gnueabihf.tar.gz/md5
  deps/checksums/LibUV.v1.24.0-1.arm-linux-gnueabihf.tar.gz/sha512
  deps/checksums/LibUV.v1.24.0-1.arm-linux-musleabihf.tar.gz/md5
  deps/checksums/LibUV.v1.24.0-1.arm-linux-musleabihf.tar.gz/sha512
  deps/checksums/LibUV.v1.24.0-1.i686-linux-gnu.tar.gz/md5
  deps/checksums/LibUV.v1.24.0-1.i686-linux-gnu.tar.gz/sha512
  deps/checksums/LibUV.v1.24.0-1.i686-linux-musl.tar.gz/md5
  deps/checksums/LibUV.v1.24.0-1.i686-linux-musl.tar.gz/sha512
  deps/checksums/LibUV.v1.24.0-1.i686-w64-mingw32.tar.gz/md5
  deps/checksums/LibUV.v1.24.0-1.i686-w64-mingw32.tar.gz/sha512
  deps/checksums/LibUV.v1.24.0-1.powerpc64le-linux-gnu.tar.gz/md5
  deps/checksums/LibUV.v1.24.0-1.powerpc64le-linux-gnu.tar.gz/sha512
  deps/checksums/LibUV.v1.24.0-1.x86_64-apple-darwin14.tar.gz/md5
  deps/checksums/LibUV.v1.24.0-1.x86_64-apple-darwin14.tar.gz/sha512
  deps/checksums/LibUV.v1.24.0-1.x86_64-linux-gnu.tar.gz/md5
  deps/checksums/LibUV.v1.24.0-1.x86_64-linux-gnu.tar.gz/sha512
  deps/checksums/LibUV.v1.24.0-1.x86_64-linux-musl.tar.gz/md5
  deps/checksums/LibUV.v1.24.0-1.x86_64-linux-musl.tar.gz/sha512
  deps/checksums/LibUV.v1.24.0-1.x86_64-unknown-freebsd11.1.tar.gz/md5
  deps/checksums/LibUV.v1.24.0-1.x86_64-unknown-freebsd11.1.tar.gz/sha512
  deps/checksums/LibUV.v1.24.0-1.x86_64-w64-mingw32.tar.gz/md5
  deps/checksums/LibUV.v1.24.0-1.x86_64-w64-mingw32.tar.gz/sha512
  deps/checksums/LibUV.v2.0.0+1.24.0-julia-0.aarch64-linux-gnu.tar.gz/md5
  deps/checksums/LibUV.v2.0.0+1.24.0-julia-0.aarch64-linux-gnu.tar.gz/sha512
  deps/checksums/LibUV.v2.0.0+1.24.0-julia-0.aarch64-linux-musl.tar.gz/md5
  deps/checksums/LibUV.v2.0.0+1.24.0-julia-0.aarch64-linux-musl.tar.gz/sha512
  deps/checksums/LibUV.v2.0.0+1.24.0-julia-0.arm-linux-gnueabihf.tar.gz/md5
  deps/checksums/LibUV.v2.0.0+1.24.0-julia-0.arm-linux-gnueabihf.tar.gz/sha512
  deps/checksums/LibUV.v2.0.0+1.24.0-julia-0.arm-linux-musleabihf.tar.gz/md5
  deps/checksums/LibUV.v2.0.0+1.24.0-julia-0.arm-linux-musleabihf.tar.gz/sha512
  deps/checksums/LibUV.v2.0.0+1.24.0-julia-0.i686-linux-gnu.tar.gz/md5
  deps/checksums/LibUV.v2.0.0+1.24.0-julia-0.i686-linux-gnu.tar.gz/sha512
  deps/checksums/LibUV.v2.0.0+1.24.0-julia-0.i686-linux-musl.tar.gz/md5
  deps/checksums/LibUV.v2.0.0+1.24.0-julia-0.i686-linux-musl.tar.gz/sha512
  deps/checksums/LibUV.v2.0.0+1.24.0-julia-0.i686-w64-mingw32.tar.gz/md5
  deps/checksums/LibUV.v2.0.0+1.24.0-julia-0.i686-w64-mingw32.tar.gz/sha512
  deps/checksums/LibUV.v2.0.0+1.24.0-julia-0.powerpc64le-linux-gnu.tar.gz/md5
  deps/checksums/LibUV.v2.0.0+1.24.0-julia-0.powerpc64le-linux-gnu.tar.gz/sha512
  deps/checksums/LibUV.v2.0.0+1.24.0-julia-0.x86_64-apple-darwin14.tar.gz/md5
  deps/checksums/LibUV.v2.0.0+1.24.0-julia-0.x86_64-apple-darwin14.tar.gz/sha512
  deps/checksums/LibUV.v2.0.0+1.24.0-julia-0.x86_64-linux-gnu.tar.gz/md5
  deps/checksums/LibUV.v2.0.0+1.24.0-julia-0.x86_64-linux-gnu.tar.gz/sha512
  deps/checksums/LibUV.v2.0.0+1.24.0-julia-0.x86_64-linux-musl.tar.gz/md5
  deps/checksums/LibUV.v2.0.0+1.24.0-julia-0.x86_64-linux-musl.tar.gz/sha512
  deps/checksums/LibUV.v2.0.0+1.24.0-julia-0.x86_64-unknown-freebsd11.1.tar.gz/md5
  deps/checksums/LibUV.v2.0.0+1.24.0-julia-0.x86_64-unknown-freebsd11.1.tar.gz/sha512
  deps/checksums/LibUV.v2.0.0+1.24.0-julia-0.x86_64-w64-mingw32.tar.gz/md5
  deps/checksums/LibUV.v2.0.0+1.24.0-julia-0.x86_64-w64-mingw32.tar.gz/sha512
  deps/libuv.mk
Labels: I/O, build

#32351 Fix tryparse for invalid Chars
  base/parse.jl
  test/strings/basic.jl
Labels: bugfix, strings

#32291 remove mention of old instrumenting profiler from docs
  doc/src/manual/profile.md
Labels: doc

#32309 threads: expand thread-safe region for I/O
  base/asyncevent.jl
  base/condition.jl
  base/coreio.jl
  base/file.jl
  base/filesystem.jl
  base/io.jl
  base/libuv.jl
  base/process.jl
  base/stream.jl
  base/sysinfo.jl
  doc/src/devdocs/locks.md
  src/jl_uv.c
  src/julia.h
  src/julia_internal.h
  src/sys.c
  stdlib/Distributed/src/Distributed.jl
  stdlib/Distributed/src/managers.jl
  stdlib/FileWatching/src/FileWatching.jl
  stdlib/Sockets/src/PipeServer.jl
  stdlib/Sockets/src/Sockets.jl
  stdlib/Sockets/src/addrinfo.jl
  stdlib/Sockets/test/runtests.jl
  test/channels.jl
  test/read.jl
  test/spawn.jl
Labels: I/O, multithreading

#32382 fix bug in thread self-wakeup
  src/partr.c
Labels: multithreading

#32280 bump libuv to v2-1.29.1-julia
  deps/Versions.make
  deps/checksums/LibUV.v2.0.0+1.29.1-julia-0.aarch64-linux-gnu.tar.gz/md5
  deps/checksums/LibUV.v2.0.0+1.29.1-julia-0.aarch64-linux-gnu.tar.gz/sha512
  deps/checksums/LibUV.v2.0.0+1.29.1-julia-0.aarch64-linux-musl.tar.gz/md5
  deps/checksums/LibUV.v2.0.0+1.29.1-julia-0.aarch64-linux-musl.tar.gz/sha512
  deps/checksums/LibUV.v2.0.0+1.29.1-julia-0.arm-linux-gnueabihf.tar.gz/md5
  deps/checksums/LibUV.v2.0.0+1.29.1-julia-0.arm-linux-gnueabihf.tar.gz/sha512
  deps/checksums/LibUV.v2.0.0+1.29.1-julia-0.arm-linux-musleabihf.tar.gz/md5
  deps/checksums/LibUV.v2.0.0+1.29.1-julia-0.arm-linux-musleabihf.tar.gz/sha512
  deps/checksums/LibUV.v2.0.0+1.29.1-julia-0.i686-linux-gnu.tar.gz/md5
  deps/checksums/LibUV.v2.0.0+1.29.1-julia-0.i686-linux-gnu.tar.gz/sha512
  deps/checksums/LibUV.v2.0.0+1.29.1-julia-0.i686-linux-musl.tar.gz/md5
  deps/checksums/LibUV.v2.0.0+1.29.1-julia-0.i686-linux-musl.tar.gz/sha512
  deps/checksums/LibUV.v2.0.0+1.29.1-julia-0.i686-w64-mingw32.tar.gz/md5
  deps/checksums/LibUV.v2.0.0+1.29.1-julia-0.i686-w64-mingw32.tar.gz/sha512
  deps/checksums/LibUV.v2.0.0+1.29.1-julia-0.powerpc64le-linux-gnu.tar.gz/md5
  deps/checksums/LibUV.v2.0.0+1.29.1-julia-0.powerpc64le-linux-gnu.tar.gz/sha512
  deps/checksums/LibUV.v2.0.0+1.29.1-julia-0.x86_64-apple-darwin14.tar.gz/md5
  deps/checksums/LibUV.v2.0.0+1.29.1-julia-0.x86_64-apple-darwin14.tar.gz/sha512
  deps/checksums/LibUV.v2.0.0+1.29.1-julia-0.x86_64-linux-gnu.tar.gz/md5
  deps/checksums/LibUV.v2.0.0+1.29.1-julia-0.x86_64-linux-gnu.tar.gz/sha512
  deps/checksums/LibUV.v2.0.0+1.29.1-julia-0.x86_64-linux-musl.tar.gz/md5
  deps/checksums/LibUV.v2.0.0+1.29.1-julia-0.x86_64-linux-musl.tar.gz/sha512
  deps/checksums/LibUV.v2.0.0+1.29.1-julia-0.x86_64-unknown-freebsd11.1.tar.gz/md5
  deps/checksums/LibUV.v2.0.0+1.29.1-julia-0.x86_64-unknown-freebsd11.1.tar.gz/sha512
  deps/checksums/LibUV.v2.0.0+1.29.1-julia-0.x86_64-w64-mingw32.tar.gz/md5
  deps/checksums/LibUV.v2.0.0+1.29.1-julia-0.x86_64-w64-mingw32.tar.gz/sha512
  deps/checksums/libuv-26dbe5672c33fc885462c509fe2a9b36f35866fd.tar.gz/md5
  deps/checksums/libuv-26dbe5672c33fc885462c509fe2a9b36f35866fd.tar.gz/sha512
  deps/checksums/libuv-35b1504507a7a4168caae3d78db54d1121b121e1.tar.gz/md5
  deps/checksums/libuv-35b1504507a7a4168caae3d78db54d1121b121e1.tar.gz/sha512
  deps/libuv.version
Labels: I/O, external dependencies

#32383 Add missing test dependency on Random to Statistics
  stdlib/Statistics/Project.toml
Labels: backport 1.0, backport 1.2, statistics

#32381 fix #31521, make regexes thread-safe
  base/client.jl
  base/pcre.jl
  base/regex.jl
  base/strings/util.jl
Labels: multithreading

#31085 Fix #29266, better error message for deprecated scalar-fill indexed assignment
  base/indices.jl
  test/broadcast.jl
Labels: broadcast

#32375 Fix -Symmetric for Bool or JuMP.VariableRef
  stdlib/LinearAlgebra/src/symmetric.jl
  stdlib/LinearAlgebra/test/symmetric.jl
Labels: backport 1.0, backport 1.2, linear algebra

#32406 speed up `ReentrantLock` by sinking try blocks
  base/lock.jl
Labels: multithreading, performance

#32403 add specific Adjoint{StridedMatrix} * SparseVector method
  stdlib/SparseArrays/src/sparsevector.jl
  stdlib/SparseArrays/test/sparsevector.jl
Labels: performance, sparse

#32356 codegen,tbaa: fix array isassigned tbaa information
  src/ccall.cpp
  src/cgutils.cpp
Labels: backport 1.0, backport 1.2, bugfix, codegen

#32372 Improve performance of opnorm for (m x 1) and (1 x n) sparse matrices
  stdlib/SparseArrays/src/linalg.jl
  stdlib/SparseArrays/test/sparse.jl
Labels: performance, sparse

#31724 Argument checks for SparseMatrixCSC constructors
  NEWS.md
  stdlib/SparseArrays/src/higherorderfns.jl
  stdlib/SparseArrays/src/sparsematrix.jl
  stdlib/SparseArrays/test/sparse.jl
  stdlib/SuiteSparse/test/cholmod.jl
Labels: sparse

#31242 Speed up filtering of dicts by skipping unneeded hash evaluations
  base/dict.jl
Labels: performance

#32431 Fix Distributed.head_and_tail
  stdlib/Distributed/src/pmap.jl
  stdlib/Distributed/test/distributed_exec.jl
Labels: backport 1.0, backport 1.1, backport 1.2, parallel, stdlib

#32425 fix #32386, type intersection bug in var bounds
  src/subtype.c
  test/subtype.jl
Labels: backport 1.2, bugfix, types and dispatch

#32428 fix #30653, call `malloc_trim` sometimes
  src/gc.c
Labels: GC, backport 1.2, performance

#32436 fix #16678, add a note about when `:` symbol quoting syntax works
  doc/src/manual/metaprogramming.md
Labels: doc

#32426 add thread-safety warnings to global rounding and precision docs
  base/mpfr.jl
  base/rounding.jl
Labels: doc, multithreading
