Repository JuliaLang/julia, pull requests merged in 2019-11, with the labels that each got.

#33620 fix #33611, sorting of arrays with non-Int axes
  base/sort.jl
  test/sorting.jl
Labels: arrays

#32931 Document the SubArray type
  base/subarray.jl
Labels: doc

#33624 runtests: show errors and continue
  stdlib/Test/src/Test.jl
  test/runtests.jl
Labels: testsystem

#33533 Make Iterators.partition split arrays into views for faster and easier parallelism
  NEWS.md
  base/broadcast.jl
  base/iterators.jl
  base/multidimensional.jl
  test/iterators.jl
Labels: broadcast, minor change, performance

#33745 Force `patchelf` to use 64KB page size on aarch64/powerpc64le
  Make.inc
  Makefile
  contrib/fixup-libgfortran.sh
Labels: arm, backport 1.0, backport 1.3, build, ppc64le

#33479 Document customizable binary operators
  doc/src/base/math.md
Labels: doc

#33746 Distributed: fix warning generated by test
  stdlib/Distributed/test/distributed_exec.jl
Labels: backport 1.3, stdlib, test

#33723 fix an error in `dump(NamedTuple)`
  base/show.jl
  test/show.jl
Labels: bugfix, display and printing

#33767 Update docstring of nullspace
  stdlib/LinearAlgebra/src/dense.jl
Labels: doc, linear algebra

#33770 REPL: fix bug when all the input buffer can't be printed
  stdlib/REPL/src/LineEdit.jl
Labels: REPL, bugfix

#33775 Casting low-rank CholeskyPivoted to Matrix
  stdlib/LinearAlgebra/src/cholesky.jl
  stdlib/LinearAlgebra/test/cholesky.jl
Labels: linear algebra

#33779 more latency improvements for #33615
  base/array.jl
  base/compiler/abstractinterpretation.jl
  base/compiler/tfuncs.jl
  base/methodshow.jl
  base/show.jl
Labels: backport 1.3, latency

#33743 Dispatch even more to BLAS
  stdlib/LinearAlgebra/src/matmul.jl
  stdlib/LinearAlgebra/src/symmetric.jl
Labels: linear algebra, performance

#33777 Add LIBEXECDIR relative folder constant
  Make.inc
  base/Makefile
  test/osutils.jl
Labels: backport 1.3

#33601 Automatically up-convert eltype in SPQR
  stdlib/SuiteSparse/src/spqr.jl
Labels: linear algebra, sparse

#33809 Fix findfirst with decreasing step range
  base/array.jl
  test/ranges.jl
Labels: backport 1.0, backport 1.3

#33825 remove gc-token from WeakKeyDict
  base/weakkeydict.jl
Labels: backport 1.0, backport 1.3, bugfix

#33828 some small gc optimizations
  src/cgutils.cpp
  src/gc.c
Labels: GC

#33832 fix #33768, inference of `_apply` with strange argument list lengths
  base/compiler/abstractinterpretation.jl
  base/compiler/ssair/inlining.jl
  src/builtins.c
  test/compiler/inference.jl
Labels: bugfix, inference

#32836 more efficient representation of `SpinLock`
  base/locks-mt.jl
Labels: multithreading, performance

#33843 tighten signature of (complex mat) x (real vec)
  stdlib/LinearAlgebra/src/matmul.jl
Labels: backport 1.3, bugfix, linear algebra

#33848 fix #33841, regression in let-bound function with kwargs
  src/julia-syntax.scm
  test/syntax.jl
Labels: backport 1.3, bugfix, lowering

#32835 remove an object allocation in the scheduler
  base/libuv.jl
  base/task.jl
  src/jl_uv.c
  src/julia.h
  src/partr.c
Labels: multithreading, performance

#33667 Fix left division for Hermitian sparse array and transpose/adjoint rhs
  stdlib/SuiteSparse/src/cholmod.jl
  stdlib/SuiteSparse/test/cholmod.jl
Labels: linear algebra, sparse

#33801 add missing docstrings for BLAS routines
  stdlib/LinearAlgebra/docs/src/index.md
  stdlib/LinearAlgebra/src/blas.jl
Labels: doc, linear algebra

#33028 document return nothing in Functions man page (2nd PR)
  doc/README.md
  doc/src/manual/functions.md
Labels: doc

#33838 [REPL] exit when input stream closes
  stdlib/REPL/src/LineEdit.jl
  stdlib/REPL/test/repl.jl
Labels: REPL, ci

#33851 REPL: make edit_title_case (M-c) call titlecase
  stdlib/REPL/src/LineEdit.jl
  stdlib/REPL/test/lineedit.jl
Labels: REPL

#33852 avoid suggesting a method that will not work to resolve a method ambiguity
  base/errorshow.jl
  base/reflection.jl
Labels: types and dispatch

#33855 Add line numbers to parser errors for disallowed space
  src/julia-parser.scm
  test/syntax.jl
Labels: error messages, parser

#31992 rename test/bigint.jl to test/gmp.jl
  test/choosetests.jl
  test/gmp.jl
Labels: bignums, test

#33839 fix #33338, race condition in triggering method compilation
  src/codegen.cpp
  src/gf.c
Labels: backport 1.3, multithreading

#33826 Makefile cleanups
  Makefile
  src/flisp/Makefile
  test/Makefile
Labels: build

#33771 REPL: fix/add doc for \\M- and \\C- key specifiers
  stdlib/REPL/docs/src/index.md
  stdlib/REPL/src/LineEdit.jl
Labels: REPL, doc

#33749 REPL: implement "insert last word from previous history entry"
  stdlib/REPL/docs/src/index.md
  stdlib/REPL/src/LineEdit.jl
  stdlib/REPL/test/lineedit.jl
  stdlib/REPL/test/repl.jl
Labels: REPL

#33742 docs: disambiguate what rand((2, 3)) does (fix #33309)
  stdlib/Random/src/Random.jl
Labels: doc

#29249 REPL: allow tweaking the implicit IOContext of the REPL
  NEWS.md
  stdlib/REPL/docs/src/index.md
  stdlib/REPL/src/REPL.jl
Labels: REPL, display and printing

#33814 REPL: fix yank-twice activates region
  stdlib/REPL/src/LineEdit.jl
  stdlib/REPL/test/repl.jl
Labels: REPL, bugfix

#33868 Acknowledge `Expr` as a possible type for :struct_type lowered AST
  doc/src/devdocs/ast.md
Labels: doc

#33805 REPL: prefix search: more "pass through" keys
  stdlib/REPL/src/LineEdit.jl
  stdlib/REPL/test/repl.jl
Labels: REPL, bugfix

#33861 [release-1.3] Set VERSION to 1.3.0-rc5
  VERSION
  src/codegen.cpp
  src/gf.c
Labels: release

#33829 codegen: optimize returning an argument
  src/codegen.cpp
  test/compiler/codegen.jl
Labels: codegen

#33879 fix order of multiplication in axpy! docstring
  stdlib/LinearAlgebra/src/blas.jl
Labels: doc, linear algebra

#33874 BUGFIX: genmatmul! for empty input matrices
  stdlib/LinearAlgebra/src/generic.jl
  stdlib/LinearAlgebra/src/matmul.jl
  stdlib/LinearAlgebra/test/matmul.jl
Labels: bugfix, linear algebra

#33889 Use `cache.julialang.org` to download `busybox.exe` at test time
  test/spawn.jl
Labels: backport 1.0, backport 1.1, backport 1.2, backport 1.3

#33705 Improve REPL printing of UmfpackLU
  stdlib/SuiteSparse/src/umfpack.jl
  stdlib/SuiteSparse/test/umfpack.jl
Labels: linear algebra, sparse

#32753 Add evalpoly function
  NEWS.md
  base/exports.jl
  base/math.jl
  test/math.jl
Labels: maths, triage

#33914 Add the evalpoly function to the docs
  base/math.jl
  doc/src/base/math.md
Labels: doc, maths

#33915 Include Iterators.peel in the API docs
  doc/src/base/iterators.md
Labels: doc

#33909 fix printing of Float32s
  base/ryu/Ryu.jl
  test/show.jl
Labels: display and printing

#33925 Revert the accidentally breaking part of 33779
  base/array.jl
  test/arrayops.jl
Labels: backport 1.3

#33399 Move Statistics stdlib module to external repository
  deps/checksums/Statistics-a2203d3b67f7413701be5de251622cb85c9cc69d.tar.gz/md5
  deps/checksums/Statistics-a2203d3b67f7413701be5de251622cb85c9cc69d.tar.gz/sha512
  stdlib/Makefile
  stdlib/Statistics.version
  stdlib/Statistics/Project.toml
  stdlib/Statistics/docs/src/index.md
  stdlib/Statistics/src/Statistics.jl
  stdlib/Statistics/test/runtests.jl
Labels: statistics, stdlib

#33939 add license to top of new files
  base/div.jl
  src/llvm-pass-helpers.cpp
  stdlib/LinearAlgebra/test/addmul.jl
  stdlib/SparseArrays/test/forbidproperties.jl
  test/atexit.jl
  test/compiler/contextual.jl
  test/ryu.jl
Labels: backport 1.3

#33941 Tell Git to ignore the download of Statistics
  stdlib/.gitignore
Labels: build, statistics

#33942 Fix a small number of invalid unsafe code [round 2]
  base/stream.jl
  base/strings/search.jl
  base/strings/string.jl
  base/strings/substring.jl
  base/strings/util.jl
Labels: I/O, backport 1.0, backport 1.3, embarrassing-bugfix

#33943 Update VERSION for 1.3
  VERSION
Labels: release

#33853 Update mod2pi docstring
  base/math.jl
Labels: doc, maths

#33794 temp cleanup: wrap rm in try-catch
  base/file.jl
Labels: needs tests

#32437 optimize `Symbol` with constant string argument
  base/boot.jl
  base/compiler/utilities.jl
  base/strings/string.jl
  test/compiler/inference.jl
Labels: inference, optimizer

#33970 Change llvmcall ABI representation for Float16
  src/ccall.cpp
  src/cgutils.cpp
  test/llvmpasses/llvmcall.jl
Labels: codegen, gpu
