Repository JuliaLang/julia, pull requests merged in 2019-08, with the labels that each got.

#32750 Remove straggling "default to scalar" broadcast doc
  doc/src/manual/arrays.md
Labels: broadcast, doc

#32209 treat Pair as broadcast scalar
  NEWS.md
  base/broadcast.jl
  base/pair.jl
  test/broadcast.jl
Labels: broadcast, minor change

#32756 fix test for sparse matrix assignment
  stdlib/SparseArrays/test/sparse.jl
Labels: backport 1.0, backport 1.1, backport 1.2, sparse

#31777 Fixing IR dump code snippet in llvm.md
  doc/src/devdocs/llvm.md
  stdlib/InteractiveUtils/src/codeview.jl
Labels: doc

#32532 Tasking for Emscripten/Wasm target
  base/task.jl
  src/jsvm-emscripten/asyncify_setup.js
  src/jsvm-emscripten/task.js
  src/julia_threads.h
  src/partr.c
  src/task.c
Labels: wasm

#32741 Fix pagetable1 sweeping on 32bit
  src/gc.c
Labels: GC

#32757 link numeric literal coefficients from math operations manual
  doc/src/manual/mathematical-operations.md
Labels: doc

#32772 codegen: ensure required attributes get set on all functions
  src/codegen.cpp
  src/jitlayers.cpp
Labels: 32-bit, backport 1.2, bugfix, windows

#32627 Changed @generated body purity error
  src/method.c
  test/core.jl
Labels: codegen

#32771 fix #32607, bug in typeintersect of `X{<:Tuple1}` vs. `X{Tuple2}`
  src/subtype.c
  test/subtype.jl
Labels: backport 1.2, bugfix

#32788 fix #32777, regression in type intersection of unions
  src/subtype.c
  test/missing.jl
  test/subtype.jl
Labels: backport 1.2, bugfix, types and dispatch

#32793 specialise kron for sparse mat/vec and Diagonal -> sparse matrix
  stdlib/SparseArrays/src/linalg.jl
  stdlib/SparseArrays/test/sparse.jl
Labels: linear algebra, sparse

#32148 Allow nothing to be printed
  NEWS.md
  base/cmd.jl
  base/show.jl
  test/show.jl
Labels: display and printing

#31204 Document some exported Sys CPU stuff
  base/sysinfo.jl
  doc/src/base/base.md
  doc/src/base/constants.md
Labels: doc, forgetmenot

#32803 Use OpenLibm by default on armv7l
  Make.inc
Labels: arm, maths

#32742 fix #32726, regression in subtyping `Tuple{Type{T},Vararg{T}}`
  src/subtype.c
  test/subtype.jl
Labels: bugfix

#32645 Document the role of Ref in broadcasting.
  base/refpointer.jl
Labels: broadcast, doc

#32826 fix #32550: issetequal with duplicate values
  base/abstractset.jl
  test/sets.jl
Labels: backport 1.0, backport 1.1, backport 1.2

#32830 Fix type of Upsilon nodes during SSA construction
  base/compiler/ssair/slot2ssa.jl
  test/core.jl
Labels: backport 1.0, backport 1.2, bugfix, optimizer

#32822 reduce number of heaps used by partr
  src/partr.c
Labels: multithreading, performance

#30134 Add sincosd function
  NEWS.md
  base/exports.jl
  base/math.jl
  base/special/trig.jl
  test/math.jl
Labels: maths

#32853 fix type intersection bug affecting Dolang.jl and SolverTools.jl
  src/subtype.c
  test/subtype.jl
Labels: backport 1.2, bugfix, types and dispatch

#32821 use specsig for all-singleton-type signatures (or 0 arguments)
  src/codegen.cpp
Labels: codegen

#32832 fix #32193, consistent errors from `open` on commands
  NEWS.md
  base/process.jl
  test/spawn.jl
Labels: minor change

#32685 Remove JULIA_ENABLE_THREADS feature flag
  Make.inc
  contrib/julia-config.jl
  doc/src/manual/embedding.md
  src/gc.c
  src/init.c
  src/julia.h
  src/julia_internal.h
  src/julia_threads.h
  src/llvm-ptls.cpp
  src/locks.h
  src/partr.c
  src/rtutils.c
  src/safepoint.c
  src/signals-mach.c
  src/signals-unix.c
  src/signals-win.c
  src/staticdata.c
  src/support/arraylist.h
  src/sys.c
  src/task.c
  src/threading.c
  src/tls.h
Labels: build, multithreading

#32869 [release-1.2] Set VERSION to 1.2.0-rc3
  VERSION
Labels: release

#32865 Use .category to pick admonition color in terminal
  stdlib/Markdown/src/render/terminal/render.jl
Labels: REPL

#32126 Specialized inv(F::SVD)
  stdlib/LinearAlgebra/src/svd.jl
  stdlib/LinearAlgebra/test/svd.jl
Labels: forgetmenot, linear algebra

#32867 Improve message error in broadcast: "arrays could not be broadcast to a common size" #32866
  base/broadcast.jl
Labels: broadcast, error handling, forgetmenot

#32800 ccall: support different types for vararg arguments [backend-only]
  base/compiler/ssair/passes.jl
  base/compiler/validation.jl
  base/meta.jl
  doc/src/devdocs/ast.md
  doc/src/devdocs/llvm.md
  src/ccall.cpp
  src/codegen.cpp
  src/julia-syntax.scm
  src/method.c
  test/ccall.jl
Labels: codegen, lowering

#31602 fewer `convert` methods for `Missing` and `Nothing` (take 2)
  base/essentials.jl
  base/missing.jl
  base/promotion.jl
  base/some.jl
  test/ambiguous.jl
Labels: missing data, types and dispatch

#32814 add `TaskFailedException` to propagate backtrace of failed task in `wait`
  NEWS.md
  base/condition.jl
  base/exports.jl
  base/task.jl
  stdlib/Distributed/src/Distributed.jl
  stdlib/Distributed/src/clusterserialize.jl
  stdlib/Distributed/src/macros.jl
  stdlib/Distributed/test/distributed_exec.jl
  stdlib/Serialization/test/runtests.jl
  test/channels.jl
  test/errorshow.jl
  test/exceptions.jl
  test/worlds.jl
Labels: error handling, minor change, multithreading, triage

#32896 fix 32-bit overflow in hypot doc
  base/math.jl
Labels: bugfix, doc

#32882 Add eachrow, eachcol, and eachslice to manual
  doc/src/base/arrays.md
Labels: doc

#29634 Implement multiply-add interface in LinearAlgebra
  stdlib/LinearAlgebra/src/LinearAlgebra.jl
  stdlib/LinearAlgebra/src/bidiag.jl
  stdlib/LinearAlgebra/src/blas.jl
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/LinearAlgebra/src/generic.jl
  stdlib/LinearAlgebra/src/matmul.jl
  stdlib/LinearAlgebra/src/symmetric.jl
  stdlib/LinearAlgebra/src/triangular.jl
  stdlib/LinearAlgebra/src/tridiag.jl
  stdlib/LinearAlgebra/src/uniformscaling.jl
  stdlib/LinearAlgebra/test/addmul.jl
  stdlib/LinearAlgebra/test/diagonal.jl
  stdlib/LinearAlgebra/test/generic.jl
  stdlib/LinearAlgebra/test/matmul.jl
  stdlib/LinearAlgebra/test/testgroups
  stdlib/LinearAlgebra/test/uniformscaling.jl
  stdlib/SparseArrays/src/linalg.jl
  test/testhelpers/Quaternions.jl
Labels: linear algebra

#32875 deprecate unused and not-recommended `Threads.Mutex`
  NEWS.md
  base/deprecated.jl
  base/locks-mt.jl
  doc/src/base/multi-threading.md
  src/sys.c
  test/threads_exec.jl
Labels: deprecation, multithreading

#31057 `alg` keyword for svd and svd!
  NEWS.md
  stdlib/LinearAlgebra/src/LinearAlgebra.jl
  stdlib/LinearAlgebra/src/bidiag.jl
  stdlib/LinearAlgebra/src/svd.jl
  stdlib/LinearAlgebra/src/triangular.jl
  stdlib/LinearAlgebra/test/svd.jl
Labels: linear algebra

#32893 Tests for BitArray mmap
  stdlib/Mmap/test/runtests.jl
Labels: test

#32879 do not use myid() to differentiate master & worker
  stdlib/Distributed/src/cluster.jl
  stdlib/Distributed/test/distributed_exec.jl
Labels: parallel

#32912 Add some xrefs to Libc docstrings
  base/libc.jl
Labels: doc

#30513 Fix bug in SubstitutionString replace
  NEWS.md
  base/regex.jl
  base/strings/io.jl
  test/regex.jl
  test/strings/io.jl
Labels: forgetmenot

#32919 Improve printing of SVD factorization
  stdlib/LinearAlgebra/src/svd.jl
  stdlib/LinearAlgebra/test/svd.jl
Labels: linear algebra

#32915 Add 0-argument anonymous function example to manual/functions
  doc/src/manual/functions.md
Labels: doc

#32861 fix ALWAYS_COPY_STACKS with threads
  src/gc-stacks.c
  src/init.c
Labels: bugfix, multithreading

#32408 Syntax for non-standard identifiers
  NEWS.md
  base/docs/basedocs.jl
  base/show.jl
  doc/src/base/base.md
  src/julia-parser.scm
  stdlib/Test/src/Test.jl
  test/show.jl
  test/syntax.jl
Labels: bugfix, display and printing, minor change, parser

#32776 TypeMap: Cease trying to guarantee sorting
  base/baseext.jl
  base/compiler/ssair/inlining.jl
  base/missing.jl
  base/reflection.jl
  base/some.jl
  doc/src/manual/methods.md
  src/codegen.cpp
  src/dump.c
  src/gf.c
  src/jltypes.c
  src/julia.h
  src/julia_internal.h
  src/method.c
  src/rtutils.c
  src/typemap.c
  test/ambiguous.jl
  test/misc.jl
Labels: types and dispatch

#32925 fix overwritten unescape_string
  base/strings/io.jl
Labels: forgetmenot, strings

#32651 add an LRU cache to precompile files
  base/loading.jl
Labels: packages

#32901 5-arg mul! bug fixes
  stdlib/LinearAlgebra/src/bidiag.jl
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/LinearAlgebra/src/matmul.jl
  stdlib/LinearAlgebra/src/triangular.jl
  stdlib/LinearAlgebra/src/tridiag.jl
  stdlib/LinearAlgebra/test/addmul.jl
  stdlib/LinearAlgebra/test/bidiag.jl
  stdlib/LinearAlgebra/test/matmul.jl
Labels: linear algebra

#32933 Profile,test: fix busy-wait test
  stdlib/Profile/src/Profile.jl
  stdlib/Profile/test/runtests.jl
Labels: stdlib, test

#27262 remove unused ENV variable `JULIA_DEBUG_LOADING` from docs [ci skip]
  doc/src/manual/environment-variables.md
Labels: doc

#28700 add a note on checking for equality with singletons
  doc/src/manual/performance-tips.md
Labels: doc

#32935 Set VERSION to 1.4.0-DEV
  VERSION
Labels: release

#32941 [release-1.3] Set VERSION to 1.3.0-rc1
  VERSION
Labels: release

#32911 bool isn't only in C++ any more
  doc/src/manual/calling-c-and-fortran-code.md
Labels: doc

#32955 Fix typo in docstring of `droptol!` for sparse vectors
  stdlib/SparseArrays/src/sparsevector.jl
Labels: doc, sparse

#32897 Add note about using Statistics in docs.
  stdlib/Statistics/docs/src/index.md
Labels: doc

#28665 Check ambiguous methods in stdlib
  test/ambiguous.jl
Labels: forgetmenot

#32927 Add example of Hessenberg decomposition to docstring
  stdlib/LinearAlgebra/src/hessenberg.jl
Labels: doc, linear algebra

#32932 Missing error test for printf macro
  stdlib/Printf/test/runtests.jl
Labels: display and printing, test

#32964 [release-1.2] Set VERSION to 1.2.0
  VERSION
Labels: release

#32966 [release-1.2] Set VERSION to 1.2.1-pre
  VERSION
Labels: release

#32969 contrib/normalize_triplet.py: fix usage display
  contrib/normalize_triplet.py
Labels: build

#29874 use the simpler copyto! even if element types are different
  base/multidimensional.jl
Labels: arrays

#32934 Improve printing of LDLt factorization
  stdlib/LinearAlgebra/src/ldlt.jl
  stdlib/LinearAlgebra/test/ldlt.jl
Labels: display and printing, linear algebra

#32961 Add missing `seed!(::_GLOBAL_RNG)` method
  stdlib/Random/src/RNGs.jl
  stdlib/Random/test/runtests.jl
Labels: RNG, backport 1.3

#32974 minor doc changes
  base/expr.jl
  base/math.jl
Labels: doc

#32975 Bump Pkg version.
  deps/checksums/Pkg-60f47de5a73babd78d13aea5f742d0010b855fdd.tar.gz/md5
  deps/checksums/Pkg-60f47de5a73babd78d13aea5f742d0010b855fdd.tar.gz/sha512
  deps/checksums/Pkg-917d38ee25ddbcf71fede867f22846574ef29485.tar.gz/md5
  deps/checksums/Pkg-917d38ee25ddbcf71fede867f22846574ef29485.tar.gz/sha512
  stdlib/Pkg.version
Labels: backport 1.3

#32979 Fix AbstractQ conversion to different-typed matrix
  stdlib/LinearAlgebra/src/qr.jl
Labels: linear algebra

#28912 update push! & append! docstrings (wrt orderedness)
  base/array.jl
Labels: doc

#32996 Mention how blocked QR result is stored in QRCompactWY
  stdlib/LinearAlgebra/src/qr.jl
Labels: doc, linear algebra

#32998 Add logabsdet(::Diagonal).
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/LinearAlgebra/test/diagonal.jl
Labels: linear algebra

#32993 docs: prepend v to tag string
  doc/make.jl
Labels: backport 1.2, backport 1.3

#33007 fix and test that a certain broadcast pattern doesn't allocate
  base/broadcast.jl
Labels: backport 1.3

#33002 Clarify the behavior of rand/randn for complex types
  stdlib/Random/src/Random.jl
  stdlib/Random/src/normal.jl
Labels: RNG, doc

#32991 Strip whitespace from SHA1 and BRANCH input in git-external
  deps/tools/git-external.mk
Labels: build

#32003 issubset: don't create a Set out of dicts
  base/abstractset.jl
  test/sets.jl
Labels: collections, performance

#32953 Refactoring: Use accessor methods when manipulating sparse matrices/vectors
  stdlib/SparseArrays/src/higherorderfns.jl
  stdlib/SparseArrays/src/linalg.jl
  stdlib/SparseArrays/src/sparseconvert.jl
  stdlib/SparseArrays/src/sparsematrix.jl
  stdlib/SparseArrays/src/sparsevector.jl
  stdlib/SparseArrays/test/forbidproperties.jl
  stdlib/SparseArrays/test/higherorderfns.jl
  stdlib/SparseArrays/test/sparse.jl
  stdlib/SparseArrays/test/sparsevector.jl
  stdlib/Statistics/src/Statistics.jl
  stdlib/SuiteSparse/src/cholmod.jl
  stdlib/SuiteSparse/src/spqr.jl
  stdlib/SuiteSparse/src/umfpack.jl
  stdlib/SuiteSparse/test/cholmod.jl
Labels: sparse

#32806 Bump libgit2 to 0.28.2
  deps/Versions.make
  deps/libgit2.mk
  deps/libgit2.version
  deps/patches/libgit2-mbedtls.patch
  deps/patches/libgit2-mbedtls2.patch
  stdlib/LibGit2/src/gitcredential.jl
Labels: backport 1.3, libgit2

#32948 Disallow var syntax in string interpolation
  base/shell.jl
  src/julia-parser.scm
  test/spawn.jl
  test/syntax.jl
Labels: backport 1.3, bugfix, parser

#33022 Add missing checksums for libgit2 0.28
  deps/checksums/LibGit2.v0.27.7-1.aarch64-linux-gnu.tar.gz/md5
  deps/checksums/LibGit2.v0.27.7-1.aarch64-linux-gnu.tar.gz/sha512
  deps/checksums/LibGit2.v0.27.7-1.aarch64-linux-musl.tar.gz/md5
  deps/checksums/LibGit2.v0.27.7-1.aarch64-linux-musl.tar.gz/sha512
  deps/checksums/LibGit2.v0.27.7-1.arm-linux-gnueabihf.tar.gz/md5
  deps/checksums/LibGit2.v0.27.7-1.arm-linux-gnueabihf.tar.gz/sha512
  deps/checksums/LibGit2.v0.27.7-1.arm-linux-musleabihf.tar.gz/md5
  deps/checksums/LibGit2.v0.27.7-1.arm-linux-musleabihf.tar.gz/sha512
  deps/checksums/LibGit2.v0.27.7-1.i686-linux-gnu.tar.gz/md5
  deps/checksums/LibGit2.v0.27.7-1.i686-linux-gnu.tar.gz/sha512
  deps/checksums/LibGit2.v0.27.7-1.i686-linux-musl.tar.gz/md5
  deps/checksums/LibGit2.v0.27.7-1.i686-linux-musl.tar.gz/sha512
  deps/checksums/LibGit2.v0.27.7-1.i686-w64-mingw32.tar.gz/md5
  deps/checksums/LibGit2.v0.27.7-1.i686-w64-mingw32.tar.gz/sha512
  deps/checksums/LibGit2.v0.27.7-1.powerpc64le-linux-gnu.tar.gz/md5
  deps/checksums/LibGit2.v0.27.7-1.powerpc64le-linux-gnu.tar.gz/sha512
  deps/checksums/LibGit2.v0.27.7-1.x86_64-apple-darwin14.tar.gz/md5
  deps/checksums/LibGit2.v0.27.7-1.x86_64-apple-darwin14.tar.gz/sha512
  deps/checksums/LibGit2.v0.27.7-1.x86_64-linux-gnu.tar.gz/md5
  deps/checksums/LibGit2.v0.27.7-1.x86_64-linux-gnu.tar.gz/sha512
  deps/checksums/LibGit2.v0.27.7-1.x86_64-linux-musl.tar.gz/md5
  deps/checksums/LibGit2.v0.27.7-1.x86_64-linux-musl.tar.gz/sha512
  deps/checksums/LibGit2.v0.27.7-1.x86_64-unknown-freebsd11.1.tar.gz/md5
  deps/checksums/LibGit2.v0.27.7-1.x86_64-unknown-freebsd11.1.tar.gz/sha512
  deps/checksums/LibGit2.v0.27.7-1.x86_64-w64-mingw32.tar.gz/md5
  deps/checksums/LibGit2.v0.27.7-1.x86_64-w64-mingw32.tar.gz/sha512
  deps/checksums/LibGit2.v0.28.2-0.aarch64-linux-gnu.tar.gz/md5
  deps/checksums/LibGit2.v0.28.2-0.aarch64-linux-gnu.tar.gz/sha512
  deps/checksums/LibGit2.v0.28.2-0.aarch64-linux-musl.tar.gz/md5
  deps/checksums/LibGit2.v0.28.2-0.aarch64-linux-musl.tar.gz/sha512
  deps/checksums/LibGit2.v0.28.2-0.arm-linux-gnueabihf.tar.gz/md5
  deps/checksums/LibGit2.v0.28.2-0.arm-linux-gnueabihf.tar.gz/sha512
  deps/checksums/LibGit2.v0.28.2-0.arm-linux-musleabihf.tar.gz/md5
  deps/checksums/LibGit2.v0.28.2-0.arm-linux-musleabihf.tar.gz/sha512
  deps/checksums/LibGit2.v0.28.2-0.i686-linux-gnu.tar.gz/md5
  deps/checksums/LibGit2.v0.28.2-0.i686-linux-gnu.tar.gz/sha512
  deps/checksums/LibGit2.v0.28.2-0.i686-linux-musl.tar.gz/md5
  deps/checksums/LibGit2.v0.28.2-0.i686-linux-musl.tar.gz/sha512
  deps/checksums/LibGit2.v0.28.2-0.i686-w64-mingw32.tar.gz/md5
  deps/checksums/LibGit2.v0.28.2-0.i686-w64-mingw32.tar.gz/sha512
  deps/checksums/LibGit2.v0.28.2-0.powerpc64le-linux-gnu.tar.gz/md5
  deps/checksums/LibGit2.v0.28.2-0.powerpc64le-linux-gnu.tar.gz/sha512
  deps/checksums/LibGit2.v0.28.2-0.x86_64-apple-darwin14.tar.gz/md5
  deps/checksums/LibGit2.v0.28.2-0.x86_64-apple-darwin14.tar.gz/sha512
  deps/checksums/LibGit2.v0.28.2-0.x86_64-linux-gnu.tar.gz/md5
  deps/checksums/LibGit2.v0.28.2-0.x86_64-linux-gnu.tar.gz/sha512
  deps/checksums/LibGit2.v0.28.2-0.x86_64-linux-musl.tar.gz/md5
  deps/checksums/LibGit2.v0.28.2-0.x86_64-linux-musl.tar.gz/sha512
  deps/checksums/LibGit2.v0.28.2-0.x86_64-unknown-freebsd11.1.tar.gz/md5
  deps/checksums/LibGit2.v0.28.2-0.x86_64-unknown-freebsd11.1.tar.gz/sha512
  deps/checksums/LibGit2.v0.28.2-0.x86_64-w64-mingw32.tar.gz/md5
  deps/checksums/LibGit2.v0.28.2-0.x86_64-w64-mingw32.tar.gz/sha512
  deps/checksums/libgit2-b3e1a56ebb2b9291e82dc027ba9cbcfc3ead54d3.tar.gz/md5
  deps/checksums/libgit2-b3e1a56ebb2b9291e82dc027ba9cbcfc3ead54d3.tar.gz/sha512
  deps/checksums/libgit2-f23dc5b29f1394928a940d7ec447f4bfd53dad1f.tar.gz/md5
  deps/checksums/libgit2-f23dc5b29f1394928a940d7ec447f4bfd53dad1f.tar.gz/sha512
Labels: backport 1.3

#33003 Fix alignment of examples in struct docstring
  base/docs/basedocs.jl
Labels: doc

#32989 Use pivoting as the default in LU regardless of the element type.
  stdlib/LinearAlgebra/src/lu.jl
  stdlib/LinearAlgebra/test/lu.jl
Labels: linear algebra

#33037 Refactoring: Use nzrange in Statistics
  stdlib/Statistics/src/Statistics.jl
Labels: sparse, statistics

#33009 improve performance of setindex! on IdDict
  base/abstractdict.jl
Labels: backport 1.3, performance

#33039 Refactoring: Add AbstractSparseMatrixCSC
  stdlib/SparseArrays/src/abstractsparse.jl
  stdlib/SparseArrays/src/higherorderfns.jl
  stdlib/SparseArrays/src/linalg.jl
  stdlib/SparseArrays/src/sparseconvert.jl
  stdlib/SparseArrays/src/sparsematrix.jl
  stdlib/SparseArrays/src/sparsevector.jl
Labels: sparse

#33051 Fix LU doctest broken by #32989.
  stdlib/LinearAlgebra/src/lu.jl
Labels: backport 1.3, doc

#33052 Remove an unnecessary rm and add one to clean up files from doctests.
  stdlib/DelimitedFiles/src/DelimitedFiles.jl
Labels: doc

#32743 Fix signature for mpfr's set_emin/_emax calls
  base/mpfr.jl
Labels: bignums, wasm

#33053 Add blocksize keyword argument to qr[!]
  NEWS.md
  stdlib/LinearAlgebra/src/qr.jl
Labels: enhancement, linear algebra

#33006 improve precompilation coverage
  contrib/generate_precompile.jl
  src/codegen.cpp
  src/gf.c
  stdlib/REPL/src/REPL.jl
Labels: backport 1.2, backport 1.3, latency, precompile

#32681 inline arithmetic between chars and Integers
  base/char.jl
Labels: performance, strings

#33079 fix performance regression in broadcasting in some cases
  base/broadcast.jl
Labels: backport 1.3, performance

#33032 Update unwind BB binaries to include binaries for musl libc.
  deps/Versions.make
  deps/checksums/LibUnwind.v1.3.1-3.aarch64-linux-gnu.tar.gz/md5
  deps/checksums/LibUnwind.v1.3.1-3.aarch64-linux-gnu.tar.gz/sha512
  deps/checksums/LibUnwind.v1.3.1-3.arm-linux-gnueabihf.tar.gz/md5
  deps/checksums/LibUnwind.v1.3.1-3.arm-linux-gnueabihf.tar.gz/sha512
  deps/checksums/LibUnwind.v1.3.1-3.i686-linux-gnu.tar.gz/md5
  deps/checksums/LibUnwind.v1.3.1-3.i686-linux-gnu.tar.gz/sha512
  deps/checksums/LibUnwind.v1.3.1-3.powerpc64le-linux-gnu.tar.gz/md5
  deps/checksums/LibUnwind.v1.3.1-3.powerpc64le-linux-gnu.tar.gz/sha512
  deps/checksums/LibUnwind.v1.3.1-3.x86_64-linux-gnu.tar.gz/md5
  deps/checksums/LibUnwind.v1.3.1-3.x86_64-linux-gnu.tar.gz/sha512
  deps/checksums/LibUnwind.v1.3.1-3.x86_64-unknown-freebsd11.1.tar.gz/md5
  deps/checksums/LibUnwind.v1.3.1-3.x86_64-unknown-freebsd11.1.tar.gz/sha512
  deps/checksums/LibUnwind.v1.3.1-4.aarch64-linux-gnu.tar.gz/md5
  deps/checksums/LibUnwind.v1.3.1-4.aarch64-linux-gnu.tar.gz/sha512
  deps/checksums/LibUnwind.v1.3.1-4.aarch64-linux-musl.tar.gz/md5
  deps/checksums/LibUnwind.v1.3.1-4.aarch64-linux-musl.tar.gz/sha512
  deps/checksums/LibUnwind.v1.3.1-4.arm-linux-gnueabihf.tar.gz/md5
  deps/checksums/LibUnwind.v1.3.1-4.arm-linux-gnueabihf.tar.gz/sha512
  deps/checksums/LibUnwind.v1.3.1-4.arm-linux-musleabihf.tar.gz/md5
  deps/checksums/LibUnwind.v1.3.1-4.arm-linux-musleabihf.tar.gz/sha512
  deps/checksums/LibUnwind.v1.3.1-4.i686-linux-gnu.tar.gz/md5
  deps/checksums/LibUnwind.v1.3.1-4.i686-linux-gnu.tar.gz/sha512
  deps/checksums/LibUnwind.v1.3.1-4.i686-linux-musl.tar.gz/md5
  deps/checksums/LibUnwind.v1.3.1-4.i686-linux-musl.tar.gz/sha512
  deps/checksums/LibUnwind.v1.3.1-4.powerpc64le-linux-gnu.tar.gz/md5
  deps/checksums/LibUnwind.v1.3.1-4.powerpc64le-linux-gnu.tar.gz/sha512
  deps/checksums/LibUnwind.v1.3.1-4.x86_64-linux-gnu.tar.gz/md5
  deps/checksums/LibUnwind.v1.3.1-4.x86_64-linux-gnu.tar.gz/sha512
  deps/checksums/LibUnwind.v1.3.1-4.x86_64-linux-musl.tar.gz/md5
  deps/checksums/LibUnwind.v1.3.1-4.x86_64-linux-musl.tar.gz/sha512
  deps/checksums/LibUnwind.v1.3.1-4.x86_64-unknown-freebsd11.1.tar.gz/md5
  deps/checksums/LibUnwind.v1.3.1-4.x86_64-unknown-freebsd11.1.tar.gz/sha512
  deps/unwind.mk
Labels: backport 1.3, external dependencies

#33083 error instead of widening index types in sparse
  stdlib/SparseArrays/src/sparsematrix.jl
  stdlib/SparseArrays/test/sparse.jl
Labels: backport 1.3, sparse

#33108 Workaround for performance penalty of splatting a number
  stdlib/LinearAlgebra/src/generic.jl
Labels: backport 1.3, linear algebra, performance

#33084 Fix Float16 conversion from large Float32s
  base/float.jl
  test/float16.jl
Labels: backport 1.3, bugfix

#33070 Update document for Creating New Generators section
  stdlib/Random/docs/src/index.md
Labels: RNG, doc

#33075 WIP: Backports for 1.0.5
  Make.inc
  Makefile
  base/compiler/ssair/legacy.jl
  base/compiler/ssair/passes.jl
  base/complex.jl
  base/file.jl
  base/filesystem.jl
  base/float.jl
  base/parse.jl
  deps/Versions.make
  deps/checksums/cacert-2019-01-23.pem/md5
  deps/checksums/cacert-2019-01-23.pem/sha512
  deps/checksums/cacert-2019-05-15.pem/md5
  deps/checksums/cacert-2019-05-15.pem/sha512
  src/ccall.cpp
  src/cgutils.cpp
  src/flisp/system.lsp
  src/jloptions.c
  src/julia-syntax.scm
  src/llvm-late-gc-lowering.cpp
  src/macroexpand.scm
  src/subtype.c
  src/utils.scm
  stdlib/Base64/src/buffer.jl
  stdlib/Base64/test/runtests.jl
  stdlib/Dates/docs/src/index.md
  stdlib/Dates/src/io.jl
  stdlib/DelimitedFiles/src/DelimitedFiles.jl
  stdlib/DelimitedFiles/test/runtests.jl
  stdlib/Distributed/src/macros.jl
  stdlib/Distributed/src/pmap.jl
  stdlib/Distributed/test/distributed_exec.jl
  stdlib/LibGit2/test/online.jl
  stdlib/LinearAlgebra/src/bidiag.jl
  stdlib/LinearAlgebra/src/cholesky.jl
  stdlib/LinearAlgebra/src/dense.jl
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/LinearAlgebra/src/matmul.jl
  stdlib/LinearAlgebra/src/symmetric.jl
  stdlib/LinearAlgebra/src/triangular.jl
  stdlib/LinearAlgebra/test/bidiag.jl
  stdlib/LinearAlgebra/test/cholesky.jl
  stdlib/LinearAlgebra/test/diagonal.jl
  stdlib/LinearAlgebra/test/matmul.jl
  stdlib/LinearAlgebra/test/symmetric.jl
  stdlib/REPL/src/REPLCompletions.jl
  stdlib/REPL/test/replcompletions.jl
  stdlib/SparseArrays/src/sparsematrix.jl
  stdlib/SparseArrays/test/sparse.jl
  stdlib/Statistics/Project.toml
  stdlib/Statistics/src/Statistics.jl
  stdlib/Statistics/test/runtests.jl
  test/compiler/compiler.jl
  test/compiler/ssair.jl
  test/complex.jl
  test/llvmpasses/noinline.jl
  test/numbers.jl
  test/strings/basic.jl
  test/subtype.jl
  test/syntax.jl
Labels: release
