Repository JuliaLang/julia, pull requests merged in 2019-12, with the labels that each got.

#32423 Improve how some kind of Expr are displayed by the show method
  base/show.jl
  doc/src/manual/metaprogramming.md
  test/show.jl
Labels: display and printing, forgetmenot, minor change

#33992 fix #33987, some varargs not recognized in kwarg lowering
  src/ast.scm
  test/syntax.jl
Labels: backport 1.3, bugfix, lowering

#34005 fix #33974, wrong integer types used in `jl_array_sizehint`
  src/array.c
  test/arrayops.jl
Labels: arrays, backport 1.0, backport 1.3, bugfix

#33791 doc UUID module
  stdlib/UUIDs/src/UUIDs.jl
Labels: doc

#33890 Fix colon-reshaping of OffsetVector
  base/reshapedarray.jl
  test/offsetarray.jl
Labels: backport 1.3

#33989 Faster map(f, ::String), issue #32687
  base/strings/basic.jl
  test/strings/basic.jl
Labels: strings

#27936 Random: make RandomDevice() instances share the same /dev/urandom file
  stdlib/Random/src/RNGs.jl
  stdlib/Random/src/Random.jl
Labels: RNG

#34007 add Makefile option for bc emission
  Makefile
  sysimage.mk
Labels: build

#33885 make spawn faster by fixing the sync context check
  base/task.jl
  base/threadingconstructs.jl
  src/julia-syntax.scm
  stdlib/Distributed/src/macros.jl
Labels: multithreading, performance

#33774 some refactoring of `abstract_call`
  base/compiler/abstractinterpretation.jl
  base/compiler/tfuncs.jl
  base/compiler/typeutils.jl
Labels: inference

#33526 Transducer as an optimization: map, filter and flatten
  base/reduce.jl
  base/tuple.jl
Labels: performance

#34024 Fix eachindex documentation error
  base/abstractarray.jl
Labels: doc

#34022 fix #33894, possible error in type intersection with non-type as vararg count
  src/subtype.c
  test/subtype.jl
Labels: bugfix, types and dispatch

#34018 Tweak FAQ answer for passing julia options in a script file.
  doc/src/manual/faq.md
Labels: doc

#34057 Fix typos
  base/reducedim.jl
  base/special/cbrt.jl
  base/stream.jl
  contrib/mac/frameworkapp/ExecSandbox/ExecSandboxProtocol.h
  contrib/windows/build-installer.iss
  doc/src/devdocs/types.md
  stdlib/REPL/test/repl.jl
Labels: doc

#34016 [WASM branch] Better JS FFI
  base/jsobject.jl
  src/ccall.cpp
  src/interpreter.c
  src/jsvm-emscripten/boxed.js
  src/toplevel.c
Labels: wasm

#34035 Update basedocs.jl for $
  base/docs/basedocs.jl
Labels: doc

#34075 Fix doctests from #33907
  doc/src/manual/interfaces.md
Labels: doc

#34008 added ^ method for UniformScaling
  NEWS.md
  stdlib/LinearAlgebra/src/uniformscaling.jl
  stdlib/LinearAlgebra/test/uniformscaling.jl
Labels: linear algebra

#33991 More efficient isempty(::AbstractString)
  base/strings/basic.jl
  test/strings/basic.jl
Labels: strings

#34077 fix `var"true"` and `var"false"`
  src/ast.c
  src/ast.scm
  src/jlfrontend.scm
  src/julia-parser.scm
  src/julia-syntax.scm
  src/macroexpand.scm
  test/syntax.jl
Labels: lowering, parser

#33094 add function to get total live bytes
  base/util.jl
  src/gc.c
Labels: GC

#34039 deprecate `(;)` (#30115)
  NEWS.md
  doc/src/base/punctuation.md
  doc/src/manual/control-flow.md
  src/julia-parser.scm
  src/julia-syntax.scm
  test/namedtuple.jl
  test/syntax.jl
Labels: deprecation, minor change, parser

#34067 use correct variable in windowserror description
  base/error.jl
  base/libc.jl
  test/errorshow.jl
Labels: error messages, regression, windows

#34062 ccall: report static compile-time load issues correctly
  src/ccall.cpp
  src/jitlayers.cpp
  test/ccall.jl
Labels: backport 1.3

#33983 Fix #32980
  Makefile
Labels: build

#34081 fix #34080, regression in printing qualified macro calls
  base/show.jl
  test/show.jl
Labels: backport 1.3, bugfix, display and printing

#33151 RFC: throw MethodError when passing kwargs to a function that doesn't accept any
  src/rtutils.c
  test/keywordargs.jl
  test/precompile.jl
Labels: error handling, minor change

#34038 fix #32775 and #34023, issues showing `kw` and `parameters` exprs
  base/show.jl
  src/julia-parser.scm
  stdlib/Test/src/Test.jl
  stdlib/Test/test/runtests.jl
  test/show.jl
Labels: bugfix, display and printing

#34096 tweak test for calling unknown libraries in --output-o mode
  test/ccall.jl
Labels: backport 1.3

#33910 `gcd`, `lcm`, `gcdx` for `Rational`
  NEWS.md
  base/intfuncs.jl
  base/rational.jl
  test/rational.jl
Labels: maths, rationals

#34107 InteractiveUtils: make editors pluggable via `define_editor`
  stdlib/InteractiveUtils/docs/src/index.md
  stdlib/InteractiveUtils/src/editless.jl
  stdlib/InteractiveUtils/test/runtests.jl
Labels: REPL

#34094 use the optimized string map even for AbstractString
  base/strings/basic.jl
Labels: strings

#34065 add another tuple subtyping fast path
  base/regex.jl
  src/subtype.c
  test/strings/basic.jl
  test/subtype.jl
Labels: backport 1.3, types and dispatch

#34116 revert date printing changes
  NEWS.md
  stdlib/Dates/docs/src/index.md
  stdlib/Dates/src/io.jl
  stdlib/Dates/src/periods.jl
  stdlib/Dates/test/io.jl
Labels: dates

#34092 Update NEWS.md on release-1.3
  NEWS.md
Labels: backport 1.3

#34099 Provide a clearer error for at-threads for a, b
  base/threadingconstructs.jl
  test/threads_exec.jl
Labels: error handling, multithreading

#34118 Add checksums for curl 7.66.0 source
  deps/checksums/curl-7.66.0.tar.bz2/md5
  deps/checksums/curl-7.66.0.tar.bz2/sha512
Labels: external dependencies

#32572 check for `typemin(T)` in denominator of rational
  base/rational.jl
  test/rational.jl
Labels: bugfix, rationals

#33994 Support Factorization \ UniformScaling
  stdlib/LinearAlgebra/src/uniformscaling.jl
  stdlib/LinearAlgebra/test/uniformscaling.jl
Labels: linear algebra

#34119 lower `x for x in ...` to `identity` function in generator exprs
  src/julia-syntax.scm
Labels: iteration, lowering

#33352 Avoid overspecialization of the SparseMatrixCSC * Diagonal product
  stdlib/SparseArrays/src/linalg.jl
Labels: linear algebra, sparse

#33831 clipboard,win32: rewrite clipboard functions to handle errors
  stdlib/InteractiveUtils/src/clipboard.jl
  stdlib/InteractiveUtils/test/runtests.jl
Labels: windows

#33119 Adds interpolation syntax to `Threads.@spawn`, to evaluate arguments immediately
  NEWS.md
  base/task.jl
  base/threadingconstructs.jl
  test/threads_exec.jl
Labels: multithreading

#33871 Update faq.md to include safeInteger aclarations
  doc/src/manual/faq.md
Labels: doc

#33806 Add some three-argument ldiv! methods
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/LinearAlgebra/src/factorization.jl
  stdlib/LinearAlgebra/src/generic.jl
  stdlib/LinearAlgebra/src/uniformscaling.jl
  stdlib/LinearAlgebra/test/diagonal.jl
  stdlib/LinearAlgebra/test/generic.jl
  stdlib/LinearAlgebra/test/uniformscaling.jl
Labels: linear algebra, needs compat annotation, needs news

#34131 [LLVM] WASM is no longer experimental for LLVM8
  deps/llvm.mk
Labels: external dependencies, wasm

#33979 Backports release 1.3.1
  Make.inc
  Makefile
  base/intfuncs.jl
  base/regex.jl
  base/reshapedarray.jl
  base/stream.jl
  base/strings/search.jl
  base/strings/string.jl
  base/strings/substring.jl
  base/strings/util.jl
  base/twiceprecision.jl
  contrib/fixup-libgfortran.sh
  deps/Versions.make
  deps/checksums/Pkg-5de608c7b1837a24ed84eaaa14dde017986cb460.tar.gz/md5
  deps/checksums/Pkg-5de608c7b1837a24ed84eaaa14dde017986cb460.tar.gz/sha512
  deps/checksums/Pkg-f71e2c5a119b9c850f9b357fc8c56068f5b51cc0.tar.gz/md5
  deps/checksums/Pkg-f71e2c5a119b9c850f9b357fc8c56068f5b51cc0.tar.gz/sha512
  deps/checksums/cacert-2019-08-28.pem/md5
  deps/checksums/cacert-2019-08-28.pem/sha512
  deps/checksums/cacert-2019-10-16.pem/md5
  deps/checksums/cacert-2019-10-16.pem/sha512
  src/array.c
  src/ast.scm
  src/ccall.cpp
  src/codegen.cpp
  src/jitlayers.cpp
  src/julia-syntax.scm
  src/subtype.c
  stdlib/Pkg.version
  test/arrayops.jl
  test/ccall.jl
  test/compiler/codegen.jl
  test/intfuncs.jl
  test/llvmpasses/late-lower-gc.ll
  test/offsetarray.jl
  test/spawn.jl
  test/strings/basic.jl
  test/subtype.jl
  test/syntax.jl
Labels: release

#34120 Add scaffolding for notarization on macOS
  contrib/mac/app/.gitignore
  contrib/mac/app/Entitlements.plist
  contrib/mac/app/Makefile
  contrib/mac/app/notarize_check.sh
Labels: build, mac

#34125 Docsystem: unwrap nospecialize (fixes #34122)
  base/docs/Docs.jl
  test/docs.jl
Labels: docsystem

#33820 Better stacktraces for `ccall` libraries that do not exist
  src/ccall.cpp
  src/julia_internal.h
  src/runtime_ccall.cpp
  stdlib/InteractiveUtils/test/runtests.jl
Labels: codegen, forgetmenot

#34163 fix #34159, crash in deserialize caused by recent layout changes
  src/dump.c
Labels: bugfix

#34209 SparseArrays: specialize zero(...) so result has nnz(...) = 0
  NEWS.md
  stdlib/SparseArrays/src/SparseArrays.jl
  stdlib/SparseArrays/test/sparse.jl
Labels: sparse

#34204 fix #34180, check domain of `precision` in BigFloat ctor
  base/mpfr.jl
  test/mpfr.jl
Labels: bignums, bugfix

#34203 Fix delete! for WeakKeyDict.
  NEWS.md
  base/weakkeydict.jl
  test/dict.jl
Labels: bugfix, needs news

#34151 [release-1.3] Set VERSION to 1.3.1
  VERSION
Labels: release
