Repository JuliaLang/julia, pull requests merged in 2019-07, with the labels that each got.

#32284 run threads test with and without `nthreads > 1`
  test/threads.jl
  test/threads_exec.jl
Labels: multithreading, test

#32464 fix the fix for #32121, more named tuple macro hygiene
  src/macroexpand.scm
  test/syntax.jl
Labels: backport 1.2, bugfix, macros

#32469 Misc backports from kf/wasm3
  src/jloptions.c
  src/julia.h
  src/signals-unix.c
  src/task.c
Labels: wasm

#30526 Add simple cross compile mechanism for flisp/libsupport (+ dependencies)
  Make.inc
  Makefile
  deps/Makefile
  deps/libuv.mk
  deps/utf8proc.mk
  src/.gitignore
  src/Makefile
  src/flisp/Makefile
  src/support/Makefile
Labels: build

#32330 add an example of programatically creating a named tuple
  base/namedtuple.jl
Labels: doc

#32362 specialize matrix multiplication with Diagonals
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/LinearAlgebra/test/diagonal.jl
Labels: linear algebra

#32457 bug fixed in read_to_buffer
  stdlib/Base64/src/buffer.jl
  stdlib/Base64/test/runtests.jl
Labels: bugfix, stdlib

#32478 filter specialization for Strings (#32460)
  base/strings/string.jl
  test/strings/basic.jl
Labels: performance, strings

#32466 SparseMatrixCSC constructors for structured matrices - Diagonal, Tridiagonal, etc.
  stdlib/SparseArrays/src/sparsematrix.jl
  stdlib/SparseArrays/test/sparse.jl
Labels: sparse

#32476 fix #32467, parsing macro on `for` inside `do` inside call
  src/julia-parser.scm
  test/syntax.jl
Labels: backport 1.0, backport 1.2, bugfix, parser

#32122 Address part of #28866, prevent array operations from dropping 0d containers
  NEWS.md
  base/arraymath.jl
  base/broadcast.jl
  stdlib/LinearAlgebra/src/adjtrans.jl
  test/arrayops.jl
Labels: arrays, minor change, triage

#32484 improve printing of method parameter bounds in candidate list
  base/errorshow.jl
  doc/src/manual/constructors.md
  doc/src/manual/methods.md
  test/errorshow.jl
Labels: display and printing, error handling

#32487 Upgrade Pkg to v1.2.0-rc3.
  deps/checksums/Pkg-394e7c5d55d3722f5b2ab660ca0a694ea0041974.tar.gz/md5
  deps/checksums/Pkg-394e7c5d55d3722f5b2ab660ca0a694ea0041974.tar.gz/sha512
  deps/checksums/Pkg-8e050a983e91f0aaa37ea599dbb9b85b628965c9.tar.gz/md5
  deps/checksums/Pkg-8e050a983e91f0aaa37ea599dbb9b85b628965c9.tar.gz/sha512
  stdlib/Pkg.version
Labels: backport 1.2, external dependencies, stdlib

#32492 more performant SparseMatricCSC constructors for structured matrices
  stdlib/SparseArrays/src/sparsematrix.jl
  stdlib/SparseArrays/test/sparse.jl
Labels: sparse

#32494 fix #32465, inference of splatting unionall NamedTuple types
  base/compiler/abstractinterpretation.jl
  test/compiler/inference.jl
Labels: backport 1.2, bugfix, inference

#25141 Document finalizer task-switch restriction
  base/gcutils.jl
Labels: doc

#31929 speed up filter of vector
  base/array.jl
Labels: arrays, performance

#31889 making Bi/Tri/Sym times Diag output a structured matrix (not sparse)
  stdlib/LinearAlgebra/src/bidiag.jl
  stdlib/LinearAlgebra/test/bidiag.jl
Labels: linear algebra

#32509 fix #32488, type intersection regression
  src/subtype.c
  test/subtype.jl
Labels: bugfix, types and dispatch

#32390 added *larf and *larfg LAPACK wrappers
  stdlib/LinearAlgebra/src/lapack.jl
  stdlib/LinearAlgebra/test/lapack.jl
Labels: linear algebra

#32506 Yet another LLVM patch
  deps/llvm.mk
  deps/patches/llvm-6.0-D64225-cmake-cross2.patch
Labels: external dependencies

#32512 fix #32499, regression in struct expr in assignment rhs
  src/julia-syntax.scm
  test/syntax.jl
Labels: backport 1.2, bugfix, lowering

#32529 [release-1.2] Set VERSION to 1.2.0-rc2
  VERSION
Labels: release

#32533 fix: typo in sort.jl
  base/sort.jl
Labels: doc

#32530 partr: fix rare segfault
  src/partr.c
Labels: multithreading

#31737 Future doc
  stdlib/Distributed/src/remotecall.jl
Labels: doc

#32544 thread safety fix in compiling regexes
  base/pcre.jl
  base/regex.jl
Labels: multithreading

#32429 io: corrected error handling for streams
  base/stream.jl
  stdlib/REPL/test/repl.jl
Labels: I/O

#32370 fix #21360, make global bindings thread safe
  doc/src/devdocs/locks.md
  src/julia.h
  src/module.c
Labels: multithreading

#32563 Fix PDF doc build.
  NEWS.md
Labels: docsystem

#32570 threads,win64: fix safepoint handler
  src/task.c
Labels: multithreading, windows

#32384 Stop detaching process for precompiling modules.
  base/loading.jl
Labels: precompile

#32518 [LLVM8] Prepare debuginfo emission for NVPTX
  base/reflection.jl
  src/codegen.cpp
  src/julia.h
Labels: codegen, gpu

#32551 fix thread scheduler variable used
  src/julia_threads.h
  src/partr.c
  src/signals-mach.c
  src/threading.c
  test/runtests.jl
  test/threads_exec.jl
Labels: multithreading

#32556 adjust some gc heuristics
  src/gc.c
Labels: GC, performance

#32588 avoid finalizing LLVMContext on exit
  src/codegen.cpp
  src/jitlayers.h
Labels: codegen, multithreading

#32596 Fix size of buffer passed to GetModuleFileNameW.
  src/sys.c
Labels: windows

#32584 fix #32575, channel trying to switch to task on another thread
  base/channels.jl
  test/threads_exec.jl
Labels: bugfix, multithreading

#32604 fix #22298, race condition setting compiled function pointers
  src/codegen.cpp
  src/debuginfo.cpp
  src/gf.c
Labels: bugfix, multithreading

#32421 make `IOStream` thread-safe
  NEWS.md
  base/Base.jl
  base/io.jl
  base/iostream.jl
  base/lock.jl
  src/sys.c
Labels: I/O, multithreading

#32407 Random: support threads for GLOBAL_RNG access
  NEWS.md
  stdlib/Random/src/RNGs.jl
  stdlib/Random/src/Random.jl
  stdlib/Random/src/misc.jl
  stdlib/Random/src/normal.jl
  stdlib/Random/test/runtests.jl
  stdlib/SparseArrays/src/SparseArrays.jl
  stdlib/SparseArrays/src/sparsematrix.jl
  stdlib/SparseArrays/src/sparsevector.jl
  stdlib/Test/src/Test.jl
  stdlib/Test/test/runtests.jl
  stdlib/UUIDs/src/UUIDs.jl
Labels: RNG, multithreading

#32623 fix #32620, crash when assigning to static parameter
  src/julia-syntax.scm
  test/syntax.jl
Labels: bugfix, lowering

#32594 add rdiv! for Cholesky(Pivoted)
  stdlib/LinearAlgebra/src/cholesky.jl
  stdlib/LinearAlgebra/test/cholesky.jl
Labels: forgetmenot, linear algebra

#32644 widen int16 task heap counters
  src/partr.c
Labels: multithreading

#32634 fix #32626, allow parsing `'a'..'b'`
  src/julia-parser.scm
  test/syntax.jl
Labels: parser

#32638 deprecate (silently) Distributed `@spawn` to `@spawnat :any`
  NEWS.md
  doc/src/manual/parallel-computing.md
  stdlib/Distributed/docs/src/index.md
  stdlib/Distributed/src/macros.jl
  stdlib/Distributed/test/distributed_exec.jl
Labels: deprecation, multithreading, parallel, stdlib

#32590 fix #32582, type intersection bug in unions
  src/subtype.c
  test/subtype.jl
Labels: backport 1.2, bugfix, types and dispatch

#32633 fix use of jl_n_threads in gc; scale default collect interval
  base/util.jl
  src/gc.c
Labels: GC, multithreading, performance

#32600 add experimental `@spawn` macro to Base.Threads
  NEWS.md
  base/threadingconstructs.jl
  doc/src/base/multi-threading.md
  test/threads_exec.jl
Labels: multithreading

#32654 Two missing tests for SparseColumnView
  stdlib/SparseArrays/test/sparsevector.jl
Labels: sparse, test

#32656 Set VERSION to 1.3.0-alpha
  VERSION
Labels: release

#32657 Test for complex(SparseMatrixCSC)
  stdlib/SparseArrays/test/sparse.jl
Labels: sparse, test

#32540 combine doc strings for `dot`
  stdlib/LinearAlgebra/src/generic.jl
Labels: doc, linear algebra

#32271 [Statistics] fix type determination in corm
  stdlib/Statistics/src/Statistics.jl
  stdlib/Statistics/test/runtests.jl
Labels: backport 1.0, backport 1.1, backport 1.2, bug, statistics, stdlib

#32535 Remove unnecessary and slow Bidiagonal times Vector fallback
  stdlib/LinearAlgebra/src/bidiag.jl
Labels: linear algebra

#32409 Remove references to the doc"" string macro
  doc/src/manual/documentation.md
Labels: doc, docsystem

#32676 `import` can operates on multiple names.
  doc/src/manual/modules.md
Labels: doc, modules

#32679 Tests for sppromote pass-throughs
  stdlib/SparseArrays/test/sparse.jl
Labels: sparse, test

#32691 Add minor code formatting to GC docs
  doc/src/devdocs/gc-sa.md
Labels: doc

#32695 add the sprand change to NEWS.md
  NEWS.md
Labels: backport 1.2

#32508 Add read file example for try
  base/docs/basedocs.jl
Labels: doc

#32593 fix generic ldiv! for CholeskyPivoted
  stdlib/LinearAlgebra/src/cholesky.jl
  stdlib/LinearAlgebra/test/cholesky.jl
Labels: backport 1.0, backport 1.1, backport 1.2, linear algebra

#32692 Implement isdiag(::Tridiagonal), add related tests
  stdlib/LinearAlgebra/src/tridiag.jl
  stdlib/LinearAlgebra/test/tridiag.jl
Labels: linear algebra

#32145 fix bug in block renaming for dead code elimination
  base/compiler/ssair/ir.jl
  test/compiler/ssair.jl
Labels: backport 1.2, bugfix, optimizer

#32669 Add compat note for mod(n, range)
  base/range.jl
Labels: doc

#32694 Implement isdiag(::Bidiagonal), add tests
  stdlib/LinearAlgebra/src/bidiag.jl
  stdlib/LinearAlgebra/test/bidiag.jl
Labels: linear algebra

#32507 docstrings for dllist, dlpath (#32501)
  stdlib/Libdl/docs/src/index.md
  stdlib/Libdl/src/Libdl.jl
Labels: doc
