Repository JuliaLang/julia, pull requests merged in 2020-05, with the labels that each got.

#29411 Add Base.exit_on_sigint to wrap jl_exit_on_sigint
  NEWS.md
  base/c.jl
  base/client.jl
  base/docs/basedocs.jl
  doc/src/base/c.md
  stdlib/REPL/test/repl.jl
  test/stress.jl
Labels: forgetmenot

#35666 Test ordering of `GitConfigIter`
  stdlib/LibGit2/test/libgit2.jl
Labels: libgit2, test

#27423 Add fact that cumsum changes types to docs
  base/accumulate.jl
Labels: doc

#35617 Support setting MCPU during Make, for ARM
  Make.inc
  doc/build/arm.md
Labels: arm

#35650 revise parallel computing manual chapters
  doc/src/manual/asynchronous-programming.md
  doc/src/manual/control-flow.md
  doc/src/manual/multi-threading.md
  doc/src/manual/parallel-computing.md
Labels: doc, multithreading

#26471 Comment on byte order for `read` and `write`
  base/io.jl
Labels: I/O, doc

#27014 Update docs example in Functions/Arg destructuring
  doc/src/manual/functions.md
Labels: doc

#35683 Add extra example to fill docstring.
  base/array.jl
Labels: doc

#29240 implement "nearly division less" algorithm for rand(a:b)
  NEWS.md
  stdlib/LinearAlgebra/test/bunchkaufman.jl
  stdlib/Random/docs/src/index.md
  stdlib/Random/src/RNGs.jl
  stdlib/Random/src/generation.jl
  stdlib/Random/src/misc.jl
  stdlib/Random/test/runtests.jl
Labels: RNG, performance

#35620 Enable combined BroadcastStyle dispatch in materialize!
  base/broadcast.jl
Labels: broadcast

#31149 Make StridedArray display as StridedArray
  NEWS.md
  base/docs/basedocs.jl
  base/show.jl
  test/show.jl
Labels: arrays, display and printing, minor change

#32762 Preserve structured matrix types more often when broadcasting
  stdlib/LinearAlgebra/src/structuredbroadcast.jl
  stdlib/LinearAlgebra/test/structuredbroadcast.jl
Labels: broadcast, linear algebra

#35693 Fix links in the manual
  base/multimedia.jl
  doc/src/manual/control-flow.md
Labels: doc

#24561 Add inline documentation for Type and DataType.
  base/docs/basedocs.jl
  doc/src/base/base.md
Labels: doc, types and dispatch

#35150 Support `⊙` and `⊗` as elementwise- and outer-product operators
  NEWS.md
  stdlib/LinearAlgebra/docs/src/index.md
  stdlib/LinearAlgebra/src/LinearAlgebra.jl
  stdlib/LinearAlgebra/src/dense.jl
  stdlib/LinearAlgebra/test/addmul.jl
Labels: linear algebra

#31100 Faster matrix sqrt for upper triangular matrices.
  stdlib/LinearAlgebra/src/triangular.jl
Labels: linear algebra, performance

#35674 adjust deprecations for v1.5
  base/deprecated.jl
  test/mpfr.jl
Labels: deprecation

#35618 change default ios buffer size to 32k
  src/flisp/iostream.c
  src/support/ios.c
  src/support/ios.h
Labels: I/O

#34048 implement `count` using `mapreduce`
  NEWS.md
  base/exports.jl
  base/reduce.jl
  base/reducedim.jl
  test/reducedim.jl
Labels: forgetmenot

#35695 Fix dropped bytes when bulk reading from uv streams with oversized bufs
  base/stream.jl
  test/read.jl
Labels: I/O, backport 1.4, embarrassing-bugfix

#35645 Add an LLVM pass to remove Julia-specific address space information.
  deps/llvm.mk
  deps/patches/llvm-6.0-NVPTX-addrspaces.patch
  deps/patches/llvm8-WASM-addrspaces.patch
  src/Makefile
  src/aotcompile.cpp
  src/jitlayers.h
  src/llvm-remove-addrspaces.cpp
  test/llvmpasses/remove-addrspaces.ll
Labels: codegen

#29335 Correct docstring for rem_pio2_kernel
  base/special/rem_pio2.jl
Labels: doc

#29277 Clarify stdlib package for identity matrix
  doc/src/manual/arrays.md
Labels: doc

#17452 Extend description of allowed `@fastmath` transformations
  base/fastmath.jl
Labels: doc, maths

#33357 Add a `@ref` to the Main docstring
  base/docs/basedocs.jl
Labels: doc

#35268 Enhance Noteworthy Differences to Python in Documentation
  doc/src/manual/noteworthy-differences.md
Labels: doc

#34536 Update VecElement description
  doc/src/base/simd-types.md
Labels: doc

#33721 faster rand!(::MersenneTwister, ::Array{Bool})
  NEWS.md
  stdlib/Random/src/RNGs.jl
Labels: RNG, performance

#35492 Faster Rationals by avoiding unnecessary divgcd
  base/rational.jl
  test/rational.jl
Labels: rationals, triage

#35626 Add Makefile caching helpers for lazy, expensive evaluations
  Make.inc
  Makefile
  NEWS.md
  contrib/README.md
  contrib/relative_path.py
  contrib/relative_path.sh
  deps/llvm.mk
  sysimage.mk
Labels: build

#29135 Make transposes of StridedArrays strided
  stdlib/LinearAlgebra/src/adjtrans.jl
  stdlib/LinearAlgebra/test/adjtrans.jl
Labels: linear algebra

#32348 RFC: Make empty ranges compare equal
  NEWS.md
  base/range.jl
  base/strings/util.jl
  stdlib/Dates/test/ranges.jl
  stdlib/REPL/test/replcompletions.jl
  test/core.jl
  test/offsetarray.jl
  test/ranges.jl
  test/regex.jl
  test/sorting.jl
  test/strings/search.jl
Labels: arrays, minor change

#35714 A grab bag of latency reductions
  base/abstractarray.jl
  base/array.jl
  base/dict.jl
  base/loading.jl
  base/logging.jl
  base/multidimensional.jl
  base/set.jl
  contrib/generate_precompile.jl
  test/arrayops.jl
Labels: latency

#35574 make `ccallable` work with system images and precompilation
  base/c.jl
  src/anticodegen.c
  src/aotcompile.cpp
  src/cgutils.cpp
  src/codegen.cpp
  src/dump.c
  src/gc.c
  src/jitlayers.cpp
  src/jltypes.c
  src/julia.h
  src/julia_internal.h
  src/method.c
  src/precompile.c
  src/staticdata.c
  test/precompile.jl
Labels: bugfix, codegen

#35641 make at-sync thread safe
  base/Base.jl
  base/experimental.jl
  base/task.jl
  base/threadingconstructs.jl
  stdlib/Distributed/src/macros.jl
  test/threads_exec.jl
Labels: multithreading

#35646 add `@threads static` to aid thread API evolution
  NEWS.md
  base/threadingconstructs.jl
  src/threading.c
  test/threads_exec.jl
Labels: multithreading

#34101 Optimize copy!(::Dict, ::Dict)
  base/dict.jl
  test/dict.jl
Labels: performance

#35725 varargs/keywords doc
  doc/src/manual/functions.md
Labels: doc

#35686 upgrade threads from experimental to stable-with-caveats
  NEWS.md
  base/threadingconstructs.jl
  base/threads.jl
  doc/src/base/multi-threading.md
  doc/src/base/parallel.md
  doc/src/manual/asynchronous-programming.md
  doc/src/manual/multi-threading.md
Labels: doc, multithreading

#35734 Fix typo in rand doc string
  stdlib/Random/src/Random.jl
Labels: RNG, doc

#35655 Fix GPUCodegen by re-inferring deleted methods
  src/aotcompile.cpp
  src/codegen.cpp
  src/jitlayers.cpp
  src/jitlayers.h
  src/julia_internal.h
  src/precompile.c
Labels: gpu

#26150 Strided array doc: Remove reference to getindex
  doc/src/manual/arrays.md
Labels: arrays, doc

#35398 Inference of circcopy and circshift
  base/multidimensional.jl
  test/arrayops.jl
Labels: inference, needs tests

#35737 fix #35708, GC seeing uninitialized struct in `jl_new_struct*`
  src/datatype.c
Labels: bugfix

#35119 clarify error message for constant redefinition
  doc/src/manual/variables-and-scoping.md
  src/module.c
Labels: error messages

#35728 Fix and test PCRE error message getter.
  base/pcre.jl
  test/regex.jl
Labels: backport 1.4, bugfix

#35752 fix #35740, mistake in sysimg generation with `ccallable`
  src/aotcompile.cpp
Labels: bugfix

#35749 Clarify @deprecate docs
  base/deprecated.jl
Labels: doc

#35765 Update Documenter to 0.24.11, fixes #35724.
  doc/Manifest.toml
Labels: docsystem

#35085 add <: to add-dots
  NEWS.md
  base/broadcast.jl
  src/julia-parser.scm
  test/broadcast.jl
  test/parse.jl
Labels: parser, triage

#35761 threading: improve safety posture of modifying global bindings
  doc/src/devdocs/locks.md
  doc/src/manual/multi-threading.md
  src/atomics.h
  src/codegen.cpp
  src/init.c
  src/julia.h
  src/module.c
  src/toplevel.c
Labels: multithreading

#35775 fix #35771, `global a` as repl input
  stdlib/REPL/src/REPL.jl
  stdlib/REPL/test/repl.jl
Labels: REPL, bugfix

#28811 Document and export Base.peek
  NEWS.md
  base/essentials.jl
  base/exports.jl
  base/io.jl
  base/iobuffer.jl
  base/iostream.jl
  base/iterators.jl
  base/secretbuffer.jl
  base/stream.jl
  doc/src/base/io-network.md
  stdlib/Markdown/src/Common/block.jl
  stdlib/Markdown/src/Julia/interp.jl
  stdlib/Markdown/src/parse/parse.jl
  stdlib/Markdown/src/parse/util.jl
  stdlib/Printf/src/Printf.jl
  stdlib/REPL/src/LineEdit.jl
  stdlib/REPL/src/REPL.jl
  stdlib/REPL/src/Terminals.jl
  test/iobuffer.jl
  test/iostream.jl
  test/iterators.jl
  test/secretbuffer.jl
Labels: I/O

#35742 add better implementations for generic findprev findnext for AbstractString
  base/strings/search.jl
Labels: performance, strings

#35755 Make kron(a,b) preserve Adjoint-ness
  stdlib/LinearAlgebra/src/adjtrans.jl
  stdlib/LinearAlgebra/src/dense.jl
  stdlib/LinearAlgebra/test/adjtrans.jl
  stdlib/LinearAlgebra/test/dense.jl
Labels: linear algebra

#35057 RFC: treat small negative λ as 0 for sqrt(::Hermitian)
  NEWS.md
  stdlib/LinearAlgebra/src/dense.jl
  stdlib/LinearAlgebra/src/symmetric.jl
  stdlib/LinearAlgebra/test/symmetric.jl
Labels: linear algebra

#35789 Set VERSION to 1.6.0-DEV, move 1.5 NEWS to HISTORY
  HISTORY.md
  NEWS.md
  VERSION
Labels: release

#35783 Fix bad c-tor for WeakKeyDict. Fix #35782
  base/weakkeydict.jl
  test/dict.jl
Labels: backport 1.5, bugfix, test

#35758 Have matrix square root account for Rii=Rjj=0 to prevent NaN values
  stdlib/LinearAlgebra/src/triangular.jl
  stdlib/LinearAlgebra/test/triangular.jl
Labels: backport 1.0, backport 1.4, backport 1.5, bugfix, linear algebra

#35788 More WeakKeyDict tests
  test/dict.jl
Labels: test

#35790 improve `show` method for `Channel`
  base/channels.jl
  test/channels.jl
Labels: display and printing

#35807 Add a note to sharedarrays documentation.
  doc/src/manual/distributed-computing.md
Labels: doc, parallel

#34869 Fixed the compiler.jl and inlining algorithm demos in documentation
  doc/src/devdocs/inference.md
Labels: doc

#25192 Xrefs and wording updates for modules manual
  doc/src/manual/modules.md
Labels: doc, modules, stdlib

#35812 fix #35793, assertion failure with union of singletons
  src/cgutils.cpp
  test/core.jl
Labels: backport 1.5, bugfix

#33955 Add `AbstractInterpreter` to parameterize compilation pipeline
  base/compiler/abstractinterpretation.jl
  base/compiler/bootstrap.jl
  base/compiler/compiler.jl
  base/compiler/inferenceresult.jl
  base/compiler/inferencestate.jl
  base/compiler/optimize.jl
  base/compiler/params.jl
  base/compiler/ssair/inlining.jl
  base/compiler/tfuncs.jl
  base/compiler/typeinfer.jl
  base/compiler/types.jl
  base/compiler/utilities.jl
  base/reflection.jl
  base/show.jl
  doc/src/devdocs/inference.md
  stdlib/REPL/src/REPLCompletions.jl
  test/compiler/inference.jl
  test/reflection.jl
Labels: inference

#35826 Add `inv(::AbstractQ)`
  stdlib/LinearAlgebra/src/qr.jl
  stdlib/LinearAlgebra/test/qr.jl
Labels: linear algebra

#28525 Documentation of ambiguous syntax, operator suffix
  doc/src/manual/variables.md
Labels: doc

#35838 micro-optimize iterate on string
  base/strings/string.jl
Labels: performance, strings

#35827 add an extra inbounds in nextind to prevent a gc frame
  base/strings/string.jl
Labels: performance, strings

#35243 Replaceable single entry point for parser
  base/Base.jl
  base/boot.jl
  base/client.jl
  base/compiler/compiler.jl
  base/compiler/parsing.jl
  base/errorshow.jl
  base/loading.jl
  base/meta.jl
  base/stacktraces.jl
  src/.gitignore
  src/ast.c
  src/datatype.c
  src/init.c
  src/jlfrontend.scm
  src/jltypes.c
  src/julia.h
  src/julia_internal.h
  src/staticdata.c
  src/support/htable.h
  src/toplevel.c
  stdlib/Distributed/test/distributed_exec.jl
  test/errorshow.jl
  test/loading.jl
  test/testhelpers/include_error.jl
Labels: parser

#32468 Created a docstring for ntuple(f::F, ::Val{N})
  base/ntuple.jl
Labels: doc

#35861 allow `where` syntax in constructor definitions
  NEWS.md
  src/julia-syntax.scm
  test/core.jl
Labels: lowering

#35821 Fix evalpoly docstring
  base/math.jl
Labels: doc

#35869 Bump Statistics stdlib module
  deps/checksums/Statistics-a87c385b812e6576be984cae96beae64252214f0.tar.gz/md5
  deps/checksums/Statistics-a87c385b812e6576be984cae96beae64252214f0.tar.gz/sha512
  deps/checksums/Statistics-b4169066743ca5eedca0019bd4f8277850b7d6c6.tar.gz/md5
  deps/checksums/Statistics-b4169066743ca5eedca0019bd4f8277850b7d6c6.tar.gz/sha512
  stdlib/Statistics.version
Labels: backport 1.5, performance

#35874 bump Pkg version
  deps/checksums/Pkg-eb3726d8f9c68bb91707a5c0e9809c95f1c1eee7.tar.gz/md5
  deps/checksums/Pkg-eb3726d8f9c68bb91707a5c0e9809c95f1c1eee7.tar.gz/sha512
  deps/checksums/Pkg-fff698d3d7d90a55431ad2f4fa0af9719d899954.tar.gz/md5
  deps/checksums/Pkg-fff698d3d7d90a55431ad2f4fa0af9719d899954.tar.gz/sha512
  stdlib/Pkg.version
Labels: backport 1.5

#35873 Add fast isodd for BigInt
  base/gmp.jl
  test/gmp.jl
Labels: bignums, performance

#35862 fix #34824, improve various cases of showing method signatures
  base/errorshow.jl
  base/methodshow.jl
  base/show.jl
  test/errorshow.jl
Labels: bugfix, display and printing

#35871 Fix ImmutableDict(:a => 1, :a => 2)[:a]
  base/dict.jl
  test/dict.jl
Labels: backport 1.5, bugfix

#35849 (1.4-only) Add GCC10 to GCC version mappings
  contrib/normalize_triplet.py
Labels: backport 1.4

#35802 More robust installation of BugReporting package.
  stdlib/InteractiveUtils/src/InteractiveUtils.jl
Labels: backport 1.5

#35896 Disable LLVM ABI checks for all builds, and sync patch list with Yggdrasil.
  deps/llvm.mk
Labels: build, external dependencies

#33807 Add examples for disabling logging
  base/logging.jl
Labels: doc, logging

#35905 Incorprate #35851 (non-allocating views) in HISTORY.md
  HISTORY.md
Labels: doc

#33728 Update noteworthy-differences.md
  doc/src/manual/noteworthy-differences.md
Labels: doc

#35906 Julia path on windows
  doc/build/windows.md
Labels: doc

#35898 Make text consistent with updated macro body for metaprogramming example.
  doc/src/manual/metaprogramming.md
Labels: doc

#35900 Fix codegen for sizeof for arrays with non-power-of-2 types
  base/subarray.jl
  src/codegen.cpp
  test/abstractarray.jl
  test/subarray.jl
Labels: backport 1.5, bugfix, codegen

#35913 rm doc reference to non-existent diagm keyword arg
  stdlib/LinearAlgebra/src/dense.jl
  stdlib/SparseArrays/src/sparsematrix.jl
Labels: bugfix, doc

#34777 Make processor_arm.cpp compile on musl
  src/processor_arm.cpp
Labels: arm, build

#35930 optimize more tuple splatting independent of length when possible
  base/compiler/ssair/inlining.jl
  test/compiler/inline.jl
Labels: optimizer, performance

#35879 Make view of a string return a substring
  NEWS.md
  base/strings/substring.jl
  test/strings/basic.jl
Labels: strings

#35938 type docs: add generalization of NoFields example
  doc/src/manual/types.md
Labels: doc

#35881 Rename contrib/mac/juliarc.jl to contrib/mac/startup.jl
  Makefile
  contrib/mac/juliarc.jl
  contrib/mac/mac-gtk.sh
Labels: build, mac

#35960 Add a recommended terminal for Windows to README
  README.md
Labels: doc

#35965 fix some 1.5 compatibility issues
  base/array.jl
  base/boot.jl
Labels: backport 1.5

#35925 faster filesize and read(::IOStream)
  base/filesystem.jl
  base/iostream.jl
  src/support/ios.c
  src/support/ios.h
Labels: I/O, performance

#35943 fix #35937, serializing TaskFailedException in Distributed
  stdlib/Distributed/src/clusterserialize.jl
  stdlib/Distributed/test/distributed_exec.jl
Labels: backport 1.5, bugfix

#35984 fix error thrown by `filesize(::IOStream)`
  base/iostream.jl
  src/support/ios.c
Labels: bugfix

#33821 Display sparse matrices by showing their structure with braille patterns
  NEWS.md
  base/abstractarray.jl
  stdlib/LinearAlgebra/src/svd.jl
  stdlib/SparseArrays/docs/src/index.md
  stdlib/SparseArrays/src/abstractsparse.jl
  stdlib/SparseArrays/src/sparsematrix.jl
  stdlib/SparseArrays/src/sparsevector.jl
  stdlib/SparseArrays/test/sparse.jl
  stdlib/SparseArrays/test/sparsevector.jl
  stdlib/SuiteSparse/src/cholmod.jl
  stdlib/SuiteSparse/src/spqr.jl
  test/show.jl
Labels: display and printing, sparse

#35998 Make it clear that `kwargs` is immutable
  doc/src/manual/functions.md
Labels: doc

#35979 Bump Zlib BB release to `v1.2.11+10` which enables `-O3` optimisation
  deps/Versions.make
  deps/checksums/Zlib.v1.2.11-10.aarch64-linux-gnu.tar.gz/md5
  deps/checksums/Zlib.v1.2.11-10.aarch64-linux-gnu.tar.gz/sha512
  deps/checksums/Zlib.v1.2.11-10.aarch64-linux-musl.tar.gz/md5
  deps/checksums/Zlib.v1.2.11-10.aarch64-linux-musl.tar.gz/sha512
  deps/checksums/Zlib.v1.2.11-10.armv7l-linux-gnueabihf.tar.gz/md5
  deps/checksums/Zlib.v1.2.11-10.armv7l-linux-gnueabihf.tar.gz/sha512
  deps/checksums/Zlib.v1.2.11-10.armv7l-linux-musleabihf.tar.gz/md5
  deps/checksums/Zlib.v1.2.11-10.armv7l-linux-musleabihf.tar.gz/sha512
  deps/checksums/Zlib.v1.2.11-10.i686-linux-gnu.tar.gz/md5
  deps/checksums/Zlib.v1.2.11-10.i686-linux-gnu.tar.gz/sha512
  deps/checksums/Zlib.v1.2.11-10.i686-linux-musl.tar.gz/md5
  deps/checksums/Zlib.v1.2.11-10.i686-linux-musl.tar.gz/sha512
  deps/checksums/Zlib.v1.2.11-10.i686-w64-mingw32.tar.gz/md5
  deps/checksums/Zlib.v1.2.11-10.i686-w64-mingw32.tar.gz/sha512
  deps/checksums/Zlib.v1.2.11-10.powerpc64le-linux-gnu.tar.gz/md5
  deps/checksums/Zlib.v1.2.11-10.powerpc64le-linux-gnu.tar.gz/sha512
  deps/checksums/Zlib.v1.2.11-10.x86_64-apple-darwin14.tar.gz/md5
  deps/checksums/Zlib.v1.2.11-10.x86_64-apple-darwin14.tar.gz/sha512
  deps/checksums/Zlib.v1.2.11-10.x86_64-linux-gnu.tar.gz/md5
  deps/checksums/Zlib.v1.2.11-10.x86_64-linux-gnu.tar.gz/sha512
  deps/checksums/Zlib.v1.2.11-10.x86_64-linux-musl.tar.gz/md5
  deps/checksums/Zlib.v1.2.11-10.x86_64-linux-musl.tar.gz/sha512
  deps/checksums/Zlib.v1.2.11-10.x86_64-unknown-freebsd11.1.tar.gz/md5
  deps/checksums/Zlib.v1.2.11-10.x86_64-unknown-freebsd11.1.tar.gz/sha512
  deps/checksums/Zlib.v1.2.11-10.x86_64-w64-mingw32.tar.gz/md5
  deps/checksums/Zlib.v1.2.11-10.x86_64-w64-mingw32.tar.gz/sha512
  deps/checksums/Zlib.v1.2.11-6.aarch64-linux-gnu.tar.gz/md5
  deps/checksums/Zlib.v1.2.11-6.aarch64-linux-gnu.tar.gz/sha512
  deps/checksums/Zlib.v1.2.11-6.aarch64-linux-musl.tar.gz/md5
  deps/checksums/Zlib.v1.2.11-6.aarch64-linux-musl.tar.gz/sha512
  deps/checksums/Zlib.v1.2.11-6.armv7l-linux-gnueabihf.tar.gz/md5
  deps/checksums/Zlib.v1.2.11-6.armv7l-linux-gnueabihf.tar.gz/sha512
  deps/checksums/Zlib.v1.2.11-6.armv7l-linux-musleabihf.tar.gz/md5
  deps/checksums/Zlib.v1.2.11-6.armv7l-linux-musleabihf.tar.gz/sha512
  deps/checksums/Zlib.v1.2.11-6.i686-linux-gnu.tar.gz/md5
  deps/checksums/Zlib.v1.2.11-6.i686-linux-gnu.tar.gz/sha512
  deps/checksums/Zlib.v1.2.11-6.i686-linux-musl.tar.gz/md5
  deps/checksums/Zlib.v1.2.11-6.i686-linux-musl.tar.gz/sha512
  deps/checksums/Zlib.v1.2.11-6.i686-w64-mingw32.tar.gz/md5
  deps/checksums/Zlib.v1.2.11-6.i686-w64-mingw32.tar.gz/sha512
  deps/checksums/Zlib.v1.2.11-6.powerpc64le-linux-gnu.tar.gz/md5
  deps/checksums/Zlib.v1.2.11-6.powerpc64le-linux-gnu.tar.gz/sha512
  deps/checksums/Zlib.v1.2.11-6.x86_64-apple-darwin14.tar.gz/md5
  deps/checksums/Zlib.v1.2.11-6.x86_64-apple-darwin14.tar.gz/sha512
  deps/checksums/Zlib.v1.2.11-6.x86_64-linux-gnu.tar.gz/md5
  deps/checksums/Zlib.v1.2.11-6.x86_64-linux-gnu.tar.gz/sha512
  deps/checksums/Zlib.v1.2.11-6.x86_64-linux-musl.tar.gz/md5
  deps/checksums/Zlib.v1.2.11-6.x86_64-linux-musl.tar.gz/sha512
  deps/checksums/Zlib.v1.2.11-6.x86_64-unknown-freebsd11.1.tar.gz/md5
  deps/checksums/Zlib.v1.2.11-6.x86_64-unknown-freebsd11.1.tar.gz/sha512
  deps/checksums/Zlib.v1.2.11-6.x86_64-w64-mingw32.tar.gz/md5
  deps/checksums/Zlib.v1.2.11-6.x86_64-w64-mingw32.tar.gz/sha512
  deps/zlib.mk
Labels: backport 1.4, backport 1.5, build

#35843 Implement reduce_empty(op, Union{})
  base/reduce.jl
  test/reduce.jl
Labels: backport 1.5

#35973 add an optimized version of == for SubString{String}
  base/strings/substring.jl
Labels: performance, strings

#36002 add issuccess for CholeskyPivoted
  NEWS.md
  stdlib/LinearAlgebra/src/cholesky.jl
  stdlib/LinearAlgebra/src/factorization.jl
  stdlib/LinearAlgebra/test/cholesky.jl
Labels: linear algebra, needs compat annotation, needs news, needs tests

#35814 sparse linalg docs
  doc/make.jl
  stdlib/LinearAlgebra/docs/src/index.md
  stdlib/LinearAlgebra/src/cholesky.jl
  stdlib/SuiteSparse/docs/src/index.md
  stdlib/SuiteSparse/src/cholmod.jl
  stdlib/SuiteSparse/src/spqr.jl
Labels: doc, linear algebra, sparse

#36012 Add lmul!(::Diagonal, ::AbstractVector)
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/LinearAlgebra/test/diagonal.jl
Labels: linear algebra

#35957 Expose some additional LLVM APIs.
  src/llvm-api.cpp
Labels: backport 1.5, gpu

#35975 allow SubString{String} to participate in filter optimization for String
  base/strings/string.jl
  base/strings/substring.jl
Labels: performance, strings

#35961 Convert Base.alignment examples to jldoctests
  base/show.jl
Labels: doc

#36007 [release-1.4] Set VERSION to 1.4.3 prerelease
  VERSION
Labels: release

#35976 more precise inference of `splatnew`
  base/compiler/abstractinterpretation.jl
  test/compiler/inference.jl
Labels: inference

#36019 fix #34516, several issues with nospecialize on keyword arguments
  src/julia-syntax.scm
  test/keywordargs.jl
Labels: bugfix, keyword arguments

#17633 Handle overflow correctly with DateTime ranges
  stdlib/Dates/src/ranges.jl
  stdlib/Dates/test/ranges.jl
Labels: dates

#36036 fix `readavailable` for `IOStream` and improve its docstring
  base/io.jl
  base/iostream.jl
  test/iostream.jl
Labels: I/O, bugfix, doc

#35872 change uuid to use Random.RandomDevice() instead of Random.default_rng()
  NEWS.md
  stdlib/UUIDs/src/UUIDs.jl
  stdlib/UUIDs/test/runtests.jl
Labels: RNG, minor change

#35412 Add clearer documentation for asynchronous I/O to the manual.
  doc/src/manual/networking-and-streams.md
Labels: doc

#36013 Faster blockdiag for uniform input value-index types
  stdlib/SparseArrays/src/sparsematrix.jl
Labels: performance, sparse

#36043 Add a pointer to GPUs in parallel computing
  doc/src/manual/parallel-computing.md
Labels: doc, parallel

#36033 fix #36031: Printf bug for BigInt
  stdlib/Printf/src/Printf.jl
  stdlib/Printf/test/runtests.jl
Labels: backport 1.5

#34543 add `Threads.foreach` for convenient multithreaded Channel consumption
  NEWS.md
  base/Base.jl
  base/threadingconstructs.jl
  base/threads_overloads.jl
  test/threads_exec.jl
Labels: multithreading, triage

#36044 1.5: Set version to 1.5.0-beta1
  VERSION
Labels: release

#36024 no longer color the exception-provided error message red
  base/errorshow.jl
Labels: error handling, error messages

#36030 Relax complex function signatures to make them ForwardDiff compatible
  base/complex.jl
Labels: complex

#35996 Add boolean operators to Mathematical Operators
  doc/src/manual/mathematical-operations.md
Labels: doc

#36056 Link to "noteworthy differences" early in docs
  doc/src/manual/getting-started.md
Labels: doc

#35232 LibGit2: add resolve_url to RemoteCallbacksStruct for LibGit2 0.99.0
  stdlib/LibGit2/src/error.jl
  stdlib/LibGit2/src/types.jl
  stdlib/LibGit2/test/libgit2.jl
Labels: backport 1.4, backport 1.5, libgit2

#35466 Minor LibGit2 cleanup
  stdlib/LibGit2/src/LibGit2.jl
  stdlib/LibGit2/src/commit.jl
  stdlib/LibGit2/src/merge.jl
  stdlib/LibGit2/src/repository.jl
  stdlib/LibGit2/src/tree.jl
  stdlib/LibGit2/src/types.jl
Labels: libgit2

#36057 Mention how to get the basetype of an enum
  base/Enums.jl
Labels: doc

#36058 allow constant propagation to break call cycles in inference
  base/compiler/abstractinterpretation.jl
  test/compiler/inference.jl
Labels: inference

#36079 skip `Union{}` arguments to gc_preserve in codegen
  src/codegen.cpp
Labels: codegen

#36061 Update armv7l `-d16` -> `+d32` feature change for LLVM 9+
  src/features_aarch32.h
  src/processor_arm.cpp
Labels: 32-bit, arm, backport 1.4, backport 1.5, codegen
