Repository JuliaLang/julia, pull requests merged in 2020-08, with the labels that each got.

#36850 Fix allunique(::StepRangeLen)
  base/set.jl
  test/sets.jl
Labels: arrays, backport 1.0, backport 1.5, bugfix

#36858 test: fix textual output for precompile
  test/precompile.jl
Labels: test

#27167 Minimal infrastructure support for ThreadSanitizer
  Make.inc
  deps/llvm.mk
  deps/patches/llvm-julia-tsan-custom-as.patch
  doc/src/devdocs/sanitizers.md
  src/aotcompile.cpp
  src/cgmemmgr.cpp
  src/codegen.cpp
  src/dlload.c
  src/jitlayers.cpp
  src/julia.expmap
  src/julia.h
  src/julia_internal.h
  src/options.h
  src/task.c
Labels: multithreading

#36793 normalize lowering of `-->`
  NEWS.md
  base/show.jl
  src/ast.scm
  src/julia-parser.scm
  src/julia-syntax.scm
  test/syntax.jl
Labels: minor change, parser

#36921 Prevent invalidations from eltype(::Type{<:NamedTuple})
  base/namedtuple.jl
  test/worlds.jl
Labels: latency

#36459 Fix invalidations from novel Integer conversions
  base/arrayshow.jl
  base/int.jl
  base/reflection.jl
  base/refvalue.jl
  base/regex.jl
  base/set.jl
  base/shell.jl
  base/show.jl
  base/strings/basic.jl
  base/strings/io.jl
  base/strings/search.jl
  base/strings/substring.jl
  base/strings/util.jl
  stdlib/Distributed/src/managers.jl
  stdlib/Logging/src/ConsoleLogger.jl
  stdlib/Markdown/src/render/terminal/formatting.jl
  stdlib/REPL/src/LineEdit.jl
  stdlib/Test/src/Test.jl
Labels: latency

#36924 Minor clarification about data races
  doc/src/manual/multi-threading.md
Labels: doc

#36802 smaller `Task` object
  src/julia.h
  src/julia_threads.h
  src/locks.h
  src/rtutils.c
  src/support/arraylist.c
  src/support/arraylist.h
  src/task.c
  src/threading.c
  test/threads.jl
Labels: multithreading, performance

#36947 Missing parentheses
  base/asyncevent.jl
Labels: doc, merge me

#36856 filesystem: fix error handling
  base/file.jl
  base/filesystem.jl
  stdlib/REPL/src/REPLCompletions.jl
  test/file.jl
Labels: backport 1.5, filesystem

#36914 REPL: fix confusion between function name and local variable
  stdlib/REPL/src/REPL.jl
Labels: backport 1.5, bugfix

#36777 Add docstrings for SHA module
  stdlib/SHA/docs/src/index.md
  stdlib/SHA/src/SHA.jl
  stdlib/SHA/src/common.jl
  stdlib/SHA/src/types.jl
Labels: doc

#36959 Fix replace(::String, count=1) with empty pattern (issue #36953)
  base/strings/util.jl
  test/strings/util.jl
Labels: backport 1.5, strings

#36997 "```" => "```julia" to correct highlighting
  doc/src/manual/multi-threading.md
Labels: doc

#36993 make \ith alias for \planck
  stdlib/REPL/src/latex_symbols.jl
Labels: REPL

#36996 fix #36869, incorrect intersection with `Union` in supertype
  src/subtype.c
  test/subtype.jl
Labels: backport 1.5, bugfix, types and dispatch

#36975 Improve inferrability of generic matrix-vector multiplication
  stdlib/LinearAlgebra/src/matmul.jl
Labels: backport 1.5, performance

#36983 Include new Documenter footer: "Powered by Documenter.jl and the Julia Programming Language"
  doc/Manifest.toml
  doc/make.jl
Labels: docsystem

#36810 Define `OrderStyle` for `Union{}`
  base/traits.jl
  test/sets.jl
Labels: bugfix

#36992 Allow LLVM to optimize GC write barriers for new objects
  src/aotcompile.cpp
  src/ccall.cpp
  src/cgutils.cpp
  src/codegen.cpp
  src/llvm-late-gc-lowering.cpp
  test/llvmpasses/late-lower-gc.ll
Labels: codegen

#37002 win32: fix in_stackwalk mutex
  doc/src/devdocs/locks.md
  src/debuginfo.cpp
  src/dlload.c
  src/init.c
  src/julia_internal.h
  src/locks.h
  src/signal-handling.c
  src/signals-mach.c
  src/signals-unix.c
  src/signals-win.c
  src/stackwalk.c
  src/task.c
Labels: bugfix, multithreading

#37008 mention __source__ and __module__ in macro docstring
  base/docs/basedocs.jl
Labels: doc

#37016 yield: reduce DEFAULT_THREAD_SLEEP_THRESHOLD timeout
  src/options.h
Labels: multithreading

#37017 Distributed: AbstractString -> String in field types
  stdlib/Distributed/src/cluster.jl
Labels: latency, parallel

#37021 Head off invalidations in to_indices for NTuple{N,Int}
  base/indices.jl
Labels: latency

#37018 REPL: assure the compiler that line::String
  stdlib/REPL/src/REPL.jl
Labels: latency

#37064 Correct a line break
  doc/src/manual/calling-c-and-fortran-code.md
Labels: doc

#37028 Fix type of allocated array when broadcasting type unstable function
  base/broadcast.jl
  test/broadcast.jl
Labels: broadcast

#37075 faster digits(::BigInt)
  base/gmp.jl
  test/gmp.jl
Labels: bignums, performance

#37069 Add `get-task-allow` entitlement to allow debuggers to attach to codesigned Julia
  contrib/mac/app/Entitlements.plist
Labels: backport 1.4, backport 1.5

#37105 workaround for #35800, inference issue in `mapreduce`
  base/reduce.jl
  base/reducedim.jl
  test/reducedim.jl
Labels: backport 1.5, inference

#37089 Improve inference for a few Distributed operations
  base/asyncmap.jl
  stdlib/Distributed/src/managers.jl
  stdlib/Distributed/src/pmap.jl
  stdlib/Distributed/src/workerpool.jl
Labels: latency

#37088 Reduce reliance on promotion operations via container typing
  base/docs/Docs.jl
  base/errorshow.jl
  base/file.jl
  base/initdefs.jl
  base/multidimensional.jl
  base/version.jl
  stdlib/Base64/src/encode.jl
  stdlib/Dates/src/io.jl
  stdlib/InteractiveUtils/src/editless.jl
  stdlib/LibGit2/src/types.jl
  stdlib/LinearAlgebra/src/triangular.jl
  stdlib/REPL/src/LineEdit.jl
  stdlib/REPL/src/REPL.jl
  test/file.jl
Labels: build, latency

#37079 Solve inference problems in IRShow
  base/compiler/ssair/show.jl
Labels: latency

#37115 Use specific method when including eps docstring on Dates manual page
  stdlib/Dates/docs/src/index.md
Labels: doc

#37048 Fix incorrect source info in docstrings
  base/docs/Docs.jl
  test/docs.jl
Labels: docsystem

#37091 Add an interface for abstract SHA types
  stdlib/SHA/src/types.jl
Labels: latency

#37092 Various inference improvements
  base/arrayshow.jl
  base/client.jl
  base/cmd.jl
  base/float.jl
  base/io.jl
  base/iobuffer.jl
  base/loading.jl
  base/operators.jl
  base/path.jl
  base/show.jl
  stdlib/Serialization/src/Serialization.jl
Labels: latency

#37086 Improve inference on some type-, Expr-, and error operations
  base/broadcast.jl
  base/cartesian.jl
  base/docs/Docs.jl
  base/error.jl
  base/errorshow.jl
  base/expr.jl
  base/fastmath.jl
  base/math.jl
  base/methodshow.jl
  base/promotion.jl
  base/reflection.jl
  base/show.jl
  base/stacktraces.jl
  base/util.jl
  base/views.jl
  src/jltypes.c
  src/method.c
Labels: latency, merge me

#36576 Simplify llvmcall
  base/docs/basedocs.jl
  src/Makefile
  src/ccall.cpp
  src/codegen.cpp
  src/interpreter.c
  src/llvmcalltest.cpp
  test/llvmcall.jl
  test/precompile.jl
Labels: breaking, codegen, gpu

#37049 fix #37033, avoid backedges from default `include` definition
  src/jlfrontend.scm
Labels: latency

#37120 bump Pkg version to latest master
  deps/checksums/Pkg-3a8929147a1acb4471ea6ea71584e66903b9c7e4.tar.gz/md5
  deps/checksums/Pkg-3a8929147a1acb4471ea6ea71584e66903b9c7e4.tar.gz/sha512
  deps/checksums/Pkg-4270a54130d70a3b93419d4ce6908f0d999bec59.tar.gz/md5
  deps/checksums/Pkg-4270a54130d70a3b93419d4ce6908f0d999bec59.tar.gz/sha512
  stdlib/Pkg.version
Labels: packages, stdlib

#36620 Changes for Bidiagonal and Triangular type promotions
  stdlib/LinearAlgebra/src/bidiag.jl
  stdlib/LinearAlgebra/src/triangular.jl
  stdlib/LinearAlgebra/test/bidiag.jl
Labels: linear algebra, needs tests

#36814 README: turn directory structure into a table
  README.md
Labels: doc

#37121 build: drop explicit support for pre-Mavericks OS in the default binaries
  Make.inc
  deps/llvm.mk
  doc/src/devdocs/sanitizers.md
Labels: build, mac

#36778 remove restriction on number of threads
  src/threading.c
  test/cmdlineargs.jl
Labels: multithreading

#37149 Symbol clean up and strlen fixes
  base/expr.jl
  base/gcutils.jl
  base/io.jl
  base/secretbuffer.jl
  src/datatype.c
  src/dump.c
  src/ircode.c
  src/julia.h
  src/julia_internal.h
  src/staticdata.c
  src/symbol.c
Labels: backport 1.5

#37188 Fix `builtin_tfunction` for `Core._expr`
  base/compiler/tfuncs.jl
  test/compiler/inference.jl
Labels: inference

#37125 Avoid several bad `show_default` invalidations
  base/errorshow.jl
  base/loading.jl
  base/show.jl
  stdlib/Sockets/src/addrinfo.jl
Labels: latency

#37178 fix #37126, spurious soft scope warning on hidden name
  src/julia-syntax.scm
  test/syntax.jl
Labels: backport 1.5, bugfix, lowering

#37194 [release-1.5] Set VERSION to 1.5.1
  VERSION
Labels: release

#37082 Ensure that BitArrays are inferrable for arbitrary `Integer`
  base/abstractarray.jl
  base/bitarray.jl
  test/bitarray.jl
Labels: arrays, latency

#37093 Rewrite shell_parse
  base/shell.jl
Labels: latency

#37081 Improve inference broadly throughout REPL
  base/io.jl
  base/iobuffer.jl
  base/strings/io.jl
  stdlib/REPL/src/LineEdit.jl
  stdlib/REPL/src/REPL.jl
  stdlib/REPL/src/REPLCompletions.jl
  stdlib/REPL/src/TerminalMenus/AbstractMenu.jl
  stdlib/REPL/src/TerminalMenus/util.jl
  stdlib/REPL/src/Terminals.jl
  stdlib/REPL/src/docview.jl
  stdlib/REPL/src/options.jl
  stdlib/REPL/test/lineedit.jl
  stdlib/REPL/test/replcompletions.jl
  test/iostream.jl
  test/strings/basic.jl
Labels: REPL, latency

#37084 Improve partial inference of key container operations
  base/abstractarray.jl
  base/abstractset.jl
  base/array.jl
  base/dict.jl
  base/iddict.jl
  base/show.jl
  base/tuple.jl
  test/dict.jl
Labels: latency

#37181 fix #37134, error with macro returning `x::T -> y`
  src/macroexpand.scm
  test/syntax.jl
Labels: backport 1.5, bugfix, macros

#37108 declare PhiNode.edges::Vector{Int32}
  base/boot.jl
  base/compiler/ssair/inlining.jl
  base/compiler/ssair/ir.jl
  base/compiler/ssair/legacy.jl
  base/compiler/ssair/show.jl
  base/compiler/ssair/slot2ssa.jl
  base/compiler/ssair/verify.jl
  src/codegen.cpp
  src/interpreter.c
  src/ircode.c
  src/jltypes.c
  stdlib/Serialization/src/Serialization.jl
  test/compiler/interpreter_exec.jl
  test/compiler/irpasses.jl
  test/compiler/ssair.jl
  test/show.jl
Labels: latency

#37207 Prune egal types when forming a `Union`
  src/jltypes.c
  test/subtype.jl
Labels: types and dispatch

#37220 fix ccall test for not-found library output
  test/ccall.jl
Labels: test

#37236 Add INNO_ARGS makefile var for signtool
  Makefile
  contrib/windows/build-installer.iss
Labels: build, windows

#37237 Update docs as a follow-up to #26733: “deprecating similar(f, …)”
  base/abstractarray.jl
Labels: doc

#37204 fix #37199, indexing for 1-d views with offset ranges
  base/subarray.jl
  test/subarray.jl
Labels: arrays, backport 1.5, bugfix

#37221 Remove unnecessary volatile on memcpy
  src/ccall.cpp
Labels: arm

#36018 Use the TOML stdlib in code loading
  base/Base.jl
  base/initdefs.jl
  base/loading.jl
  base/pkgid.jl
  base/toml_parser.jl
  base/uuid.jl
  stdlib/Profile/src/Profile.jl
  stdlib/REPL/src/REPLCompletions.jl
  stdlib/TOML/src/TOML.jl
  test/loading.jl
  test/precompile.jl
Labels: packages

#37264 Typos
  base/task.jl
  base/threadingconstructs.jl
Labels: doc

#37215 address some threading races
  base/locks-mt.jl
  src/atomics.h
  src/flisp/julia_extensions.c
  src/flisp/print.c
  src/gc-stacks.c
  src/gc.c
  src/gf.c
  src/iddict.c
  src/jitlayers.cpp
  src/julia_internal.h
  src/julia_threads.h
  src/locks.h
  src/partr.c
  src/rtutils.c
  src/safepoint.c
  src/signals-mach.c
  src/task.c
  src/typemap.c
Labels: multithreading

#36874 remove special-casing of Tuple in REPL completion
  stdlib/REPL/src/REPLCompletions.jl
Labels: REPL

#37103 Improve unaliascopy error message
  base/abstractarray.jl
Labels: arrays, error messages

#37144 Update mathematical-operations.md
  doc/src/manual/mathematical-operations.md
Labels: doc

#37224 support full exception stacks in Task error reporting
  base/channels.jl
  base/client.jl
  base/errorshow.jl
  base/show.jl
  base/summarysize.jl
  base/task.jl
  src/jltypes.c
  src/julia.h
  src/task.c
  stdlib/Distributed/src/clusterserialize.jl
  test/client.jl
Labels: error handling

#37250 bump Pkg version
  deps/checksums/Pkg-3a8929147a1acb4471ea6ea71584e66903b9c7e4.tar.gz/md5
  deps/checksums/Pkg-3a8929147a1acb4471ea6ea71584e66903b9c7e4.tar.gz/sha512
  deps/checksums/Pkg-a47a99c3b8a6963bd9b45b420677acdd9b6ee43f.tar.gz/md5
  deps/checksums/Pkg-a47a99c3b8a6963bd9b45b420677acdd9b6ee43f.tar.gz/sha512
  stdlib/Pkg.version
Labels: packages

#37245 fix #37228, lowering regression in `if a && ...`
  src/julia-syntax.scm
  test/syntax.jl
Labels: bugfix, lowering

#37261 Fix type-equality involving `Type{Union{}}`
  src/subtype.c
  test/subtype.jl
Labels: bugfix, types and dispatch

#36635 more DEPOT_PATH docs
  base/initdefs.jl
Labels: doc, merge me

#34274 Define push! and popfirst! for AbstractChannel
  NEWS.md
  base/channels.jl
  test/channels.jl
Labels: merge me

#34034 Add missing tab-completion help for emoji
  stdlib/REPL/src/docview.jl
  stdlib/REPL/test/docview.jl
  stdlib/REPL/test/runtests.jl
Labels: REPL, doc

#37252 Remove most codegen hooks.
  base/reflection.jl
  src/cgutils.cpp
  src/codegen.cpp
  src/julia.h
Labels: codegen, gpu

#37291 Fix a few typos
  doc/src/devdocs/ast.md
  doc/src/devdocs/llvm.md
  doc/src/devdocs/ssair.md
Labels: doc

#37278 Implement TOML.parse([::Parser,] ::IO)
  stdlib/TOML/src/TOML.jl
  stdlib/TOML/test/parse.jl
  stdlib/TOML/test/runtests.jl
Labels: TOML, stdlib

#37269 fix exception stack pop for UndefVarError in catch block
  src/julia-syntax.scm
  test/exceptions.jl
Labels: bugfix, lowering

#37248 fix Dict `sizehint!` to allow enough space for the requested length
  base/dict.jl
Labels: collections, performance

#37222 Add missing support for addition and subtraction
  stdlib/Dates/src/arithmetic.jl
  stdlib/Dates/test/arithmetic.jl
Labels: dates, missing data, stdlib

#37273 more accurate and type-stable sinc/cosc
  base/special/trig.jl
  test/math.jl
Labels: bugfix, maths
