Repository JuliaLang/julia, pull requests merged in 2020-10, with the labels that each got.

#37816 RFC: stop generating precompile signatures for Distributed
  contrib/generate_precompile.jl
Labels: latency

#36470 Optimize integer-->string conversions
  base/intfuncs.jl
  test/intfuncs.jl
Labels: merge me, performance

#37820 Fix some arithmetic invalidations
  base/strings/string.jl
Labels: latency

#37369 Add Mmap.madvise!
  NEWS.md
  stdlib/Mmap/src/Mmap.jl
  stdlib/Mmap/test/runtests.jl
Labels: triage

#37787 fix #37673, `make test-Test`
  test/Makefile
Labels: testsystem

#37836 Missing bounds error test
  stdlib/SparseArrays/test/sparse.jl
Labels: sparse, test

#37837 Remove extraneous error check
  stdlib/SparseArrays/src/sparsevector.jl
Labels: sparse

#37855 Fix bug in dense2ind and add tests for copy
  stdlib/SparseArrays/src/sparsevector.jl
  stdlib/SparseArrays/test/sparsevector.jl
Labels: bugfix, sparse, test

#37808 fix bug with rand(::MersenneTwister, ::UInt128)
  stdlib/Random/src/RNGs.jl
  stdlib/Random/test/runtests.jl
Labels: RNG, bugfix, embarrassing-bugfix

#25129 define show(::MersenneTwister)
  stdlib/Future/src/Future.jl
  stdlib/Random/src/RNGs.jl
  stdlib/Random/src/Random.jl
  stdlib/Random/test/runtests.jl
Labels: RNG, display and printing

#37881 Sockets.nagle compat 1.3 docs
  stdlib/Sockets/src/Sockets.jl
Labels: doc

#37879 Make it easy to copy and paste JULIA_LLVM_ARGS from the docs
  doc/src/devdocs/llvm.md
Labels: doc

#37834 Fix hashing of Dates.CompoundPeriod
  stdlib/Dates/src/periods.jl
  stdlib/Dates/test/periods.jl
Labels: dates

#37891 fix #37880, overflow in shift amount range check in codegen
  src/intrinsics.cpp
  test/compiler/codegen.jl
Labels: backport 1.5, bugfix, codegen

#37391 Added canonicalize for Periods
  NEWS.md
  stdlib/Dates/src/periods.jl
  stdlib/Dates/test/periods.jl
Labels: dates

#37643 upgrade OffsetArrays to v1.3.0
  stdlib/Distributed/test/splitrange.jl
  test/arrayops.jl
  test/offsetarray.jl
  test/reinterpretarray.jl
  test/testhelpers/OffsetArrays.jl
Labels: test

#37583 allow standalone dotted ops, parse .op as (. op)
  NEWS.md
  base/broadcast.jl
  base/show.jl
  src/julia-parser.scm
  src/julia-syntax.scm
  src/toplevel.c
  test/broadcast.jl
  test/show.jl
  test/syntax.jl
Labels: parser

#37894 fix #37890, fix `new` error checks with varargs
  src/julia-syntax.scm
  test/syntax.jl
Labels: lowering

#37911 document lcm(x, y...) and gcd(x, y...)
  base/intfuncs.jl
Labels: doc

#37933 fix #37919, ir verifier on `isdefined`
  base/compiler/ssair/verify.jl
  test/compiler/ssair.jl
Labels: bugfix

#37396 add `import ... as ...` syntax
  NEWS.md
  base/show.jl
  doc/src/manual/modules.md
  src/ast.c
  src/ast.scm
  src/julia-parser.scm
  src/julia.h
  src/julia_internal.h
  src/module.c
  src/toplevel.c
  test/show.jl
  test/syntax.jl
Labels: modules, parser

#37736 fix #37690, bug in `lambda-optimize-vars!` on outer variables assigned in loops
  src/julia-syntax.scm
  test/core.jl
Labels: bugfix, lowering

#37843 Declare `level` type for `default_metafmt`
  base/logging.jl
  stdlib/Logging/src/ConsoleLogger.jl
Labels: latency, logging

#37838 Update `methods` to specialize on `mod` argument
  base/reflection.jl
Labels: latency

#37825 Allow `getindex` of block diagonal matrices with `<:AbstractMatrix` elements
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/LinearAlgebra/test/diagonal.jl
  stdlib/SparseArrays/src/SparseArrays.jl
Labels: linear algebra

#37930 Add missing fast path for mul!(::Matrix, ::Adjoint{Matrix}, ::Transpose{Matrix}, ::Number, ::Number)
  stdlib/LinearAlgebra/src/matmul.jl
Labels: linear algebra, performance

#37892 Construct MulAddMul at [syrk/herk]_wrapper! call sites
  stdlib/LinearAlgebra/src/matmul.jl
Labels: linear algebra, performance

#37962 Revert "Allow `getindex` of block diagonal matrices with `<:AbstractMatrix` elements (#37825)"
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/LinearAlgebra/test/diagonal.jl
  stdlib/SparseArrays/src/SparseArrays.jl
Labels: ci

#37856 Fix type signature and bugs for sparse subarray fill
  stdlib/SparseArrays/src/sparsematrix.jl
  stdlib/SparseArrays/test/sparse.jl
Labels: bugfix, sparse

#37896 fix #37872, avoid cycles in codegen for `===`
  src/codegen.cpp
  test/compiler/codegen.jl
Labels: bugfix, codegen

#33739 faster replace on Dict and Set
  base/set.jl
Labels: collections, performance

#36227 allow passing multiple arguments to append! & prepend!
  NEWS.md
  base/array.jl
  test/arrayops.jl
Labels: collections

#23546 re-enable BigInt hexadecimal literals
  NEWS.md
  doc/src/manual/integers-and-floating-point-numbers.md
  doc/src/manual/noteworthy-differences.md
  src/julia-parser.scm
  test/numbers.jl
Labels: bignums

#37976 Removing appveyor and travis CI files since we use our own CI.
  .appveyor.yml
  .travis.yml
Labels: ci

#37986 add a docstring for the isless method for AbstractVectors
  base/abstractarray.jl
Labels: doc

#37991 Correct `SparseMatrixCSC` supertype in docs
  stdlib/SparseArrays/docs/src/index.md
Labels: doc, sparse

#37988 Speed up `Dates.isleapyear` by reordering exprs
  stdlib/Dates/src/types.jl
Labels: dates, performance

#37997 Add missing variables to `LibCURL_jll`
  stdlib/LibCURL_jll/src/LibCURL_jll.jl
Labels: merge me

#38004 doc: at-(s)printf: add some spacing to doctests and an additional x-ref.
  stdlib/Printf/src/Printf.jl
Labels: doc

#37954 produce `LineInfoNode` directly in lowering
  src/ast.c
  src/julia-syntax.scm
  src/julia_internal.h
  src/method.c
Labels: lowering

#37884 Implement dynamic SNCA domtree algorithm
  base/compiler/ssair/basicblock.jl
  base/compiler/ssair/domtree.jl
  base/compiler/ssair/driver.jl
  base/compiler/ssair/ir.jl
  base/compiler/ssair/passes.jl
  base/compiler/ssair/verify.jl
  test/compiler/irpasses.jl
  test/compiler/ssair.jl
Labels: optimizer

#38023 Add environment variable to override MAX_NUM_PRECOMPILE_FILES
  base/Base.jl
  base/loading.jl
Labels: packages

#37510 Switch Float16 to LLVM's half
  base/atomics.jl
  base/boot.jl
  base/essentials.jl
  base/float.jl
  base/math.jl
  src/APInt-C.cpp
  src/Makefile
  src/aotcompile.cpp
  src/cgutils.cpp
  src/codegen.cpp
  src/intrinsics.cpp
  src/jitlayers.cpp
  src/jitlayers.h
  src/julia.expmap
  src/julia_internal.h
  src/llvm-demote-float16.cpp
  src/runtime_intrinsics.c
  test/intrinsics.jl
  test/llvmpasses/llvmcall.jl
Labels: codegen, gpu

#37946 Speed-up 5-arg mul! with scalar and equal-axes arrays
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/LinearAlgebra/src/generic.jl
Labels: linear algebra, performance

#37550 constrain private argument of propertynames to Bool
  base/reflection.jl
Labels: minor change, triage

#38034 Let Float16 participate in at-fastmath.
  base/fastmath.jl
  src/llvm-demote-float16.cpp
  test/llvmpasses/fastmath.jl
Labels: codegen

#37247 allow unicode modifiers after '
  NEWS.md
  base/show.jl
  src/flisp/julia_extensions.c
  src/julia-parser.scm
  test/show.jl
  test/syntax.jl
Labels: merge me

#37573 fix #37540, interpolation in quoted exprs returned from macros
  NEWS.md
  base/essentials.jl
  src/ast.c
  stdlib/Distributed/src/macros.jl
  test/syntax.jl
Labels: macros, merge me

#37914 quite faster rand(::MersenneTwister, ::Type{Int}) ...
  stdlib/Random/docs/src/index.md
  stdlib/Random/src/RNGs.jl
  stdlib/Random/src/misc.jl
  stdlib/Random/test/runtests.jl
  stdlib/UUIDs/src/UUIDs.jl
Labels: RNG, display and printing, performance

#37916 quite faster rand(::MersenneTwister, ::Type{Float64}) etc...
  stdlib/Random/src/RNGs.jl
Labels: RNG, performance

#38060 Some release prep: headers and links in NEWS.md
  NEWS.md
  base/binaryplatforms.jl
  base/compiler/cicache.jl
  base/compiler/methodtable.jl
  base/compiler/stmtinfo.jl
  base/cpuid.jl
  base/iddict.jl
  base/idset.jl
  base/pkgid.jl
  base/toml_parser.jl
  base/ttyhascolor.jl
  contrib/add_license_to_files.jl
  contrib/mac/app/notarize_check.sh
  contrib/mac/app/renotarize_dmg.sh
  stdlib/Artifacts/src/Artifacts.jl
  stdlib/Artifacts/test/runtests.jl
  stdlib/Distributed/test/includefile.jl
  stdlib/Distributed/test/managers.jl
  stdlib/Distributed/test/splitrange.jl
  stdlib/LibCURL_jll/test/runtests.jl
  stdlib/Libdl/src/Libdl.jl
  stdlib/MozillaCACerts_jll/test/runtests.jl
  stdlib/REPL/src/options.jl
  stdlib/REPL/test/TerminalMenus/legacytests/config.jl
  stdlib/REPL/test/TerminalMenus/legacytests/old_multiselect_menu.jl
  stdlib/REPL/test/TerminalMenus/legacytests/old_radio_menu.jl
  stdlib/SuiteSparse/test/threads.jl
  stdlib/TOML/benchmark/benchmarks.jl
  stdlib/TOML/docs/make.jl
  stdlib/TOML/src/TOML.jl
  stdlib/TOML/test/error_printing.jl
  stdlib/TOML/test/invalids.jl
  stdlib/TOML/test/parse.jl
  stdlib/TOML/test/print.jl
  stdlib/TOML/test/readme.jl
  stdlib/TOML/test/runtests.jl
  stdlib/TOML/test/toml_test.jl
  stdlib/TOML/test/utils/convert_json_to_jl.jl
  stdlib/TOML/test/values.jl
  stdlib/Test/test/test_pop_testset_exec.jl
  test/binaryplatforms.jl
  test/llvmpasses/fmf.jl
  test/ordering.jl
  test/stress_fd_exec.jl
  test/testhelpers/arrayindexingtypes.jl
  test/testhelpers/include_error.jl
Labels: release

#37402 fix #37393: interpolation in for outer
  src/julia-parser.scm
  test/syntax.jl
Labels: merge me, parser

#37750 better methodshow for non-standard identifiers
  base/methodshow.jl
  base/show.jl
  test/errorshow.jl
  test/show.jl
Labels: merge me

#38028 reduce amount of compilation in the repl due to showing new types
  stdlib/REPL/src/REPL.jl
  stdlib/REPL/test/repl.jl
Labels: REPL, latency

#37905 Make Distributed.Worker threadsafe
  stdlib/Distributed/src/cluster.jl
  stdlib/Distributed/test/distributed_exec.jl
  stdlib/Distributed/test/threads.jl
Labels: multithreading

#38078 make sure TOML.parsefile error when used on a directory
  stdlib/TOML/src/TOML.jl
  stdlib/TOML/test/parse.jl
Labels: bugfix

#38094 doc: add missing triple quotes for `baremodule` doc
  base/docs/basedocs.jl
Labels: doc

#37773 Fine-tune stacktrace printing
  base/errorshow.jl
  base/show.jl
  base/stacktraces.jl
Labels: error messages

#38085 Prevent scanning of debug files from the current working directory on Windows
  src/init.c
Labels: windows

#38021 Fix sparse Subarray fill!
  stdlib/SparseArrays/src/sparsematrix.jl
  stdlib/SparseArrays/test/sparse.jl
Labels: sparse

#38099 show: skip useless type-aliases
  base/show.jl
  test/show.jl
Labels: display and printing

#38105 fix _crc32c used in loading.jl
  base/util.jl
  test/loading.jl
Labels: bugfix

#37985 Improved test coverage for checked functions.
  test/checked.jl
Labels: test

#38074 Random docs: mention StableRNGs in the "Reproducibility" section
  stdlib/Random/docs/src/index.md
Labels: RNG, doc

#38075 jl_llvmpointer_type is a unionall, but jl_is_llvmpointer treats it a datatype.
  src/julia.h
Labels: bugfix

#38100 fix up addition of `¦` and `⌿` operators (#37973)
  NEWS.md
  src/flisp/julia_extensions.c
  test/syntax.jl
Labels: minor change, parser

#38058 Preserve structure under unit[upper/lower]triangular multiplication
  stdlib/LinearAlgebra/src/triangular.jl
  stdlib/LinearAlgebra/test/triangular.jl
Labels: linear algebra

#38002 Fix tall qr multiplication
  stdlib/LinearAlgebra/src/qr.jl
  stdlib/LinearAlgebra/test/qr.jl
Labels: backport 1.5, bugfix, linear algebra

#38118 fix the formatting of some doc strings
  base/io.jl
  base/regex.jl
Labels: doc

#38092 [LLVM] Update to API changes in LLVM 12
  src/abi_aarch64.cpp
  src/abi_ppc64le.cpp
  src/cgutils.cpp
  src/codegen.cpp
Labels: merge me, upstream

#38127 test: handle runtest errors in a couple more places
  test/runtests.jl
  test/testdefs.jl
Labels: testsystem

#38134 Make Distributed.Worker threadsafe [Take 2]
  stdlib/Distributed/src/cluster.jl
  stdlib/Distributed/test/distributed_exec.jl
  stdlib/Distributed/test/threads.jl
Labels: parallel

#38114 avoid forming circular lower bound in type intersection
  src/subtype.c
  test/subtype.jl
Labels: bugfix, types and dispatch

#30515 Fix bug in `invmod` [RFC]
  base/intfuncs.jl
  test/intfuncs.jl
Labels: forgetmenot

#38098 allow in-place randomization of BigInt and BigFloat
  stdlib/Random/src/generation.jl
  stdlib/Random/test/runtests.jl
Labels: RNG

#38152 fix lineinfo update_line_only compution
  base/compiler/ssair/show.jl
  src/disasm.cpp
Labels: regression

#37729 fix #37664: treat comments as whitespace
  src/julia-parser.scm
  test/syntax.jl
Labels: parser

#37410 allow slurping in lhs of assignment
  NEWS.md
  base/abstractarray.jl
  base/tuple.jl
  doc/src/base/collections.md
  src/julia-syntax.scm
  test/abstractarray.jl
  test/syntax.jl
  test/tuple.jl
Labels: needs docs, needs news

#38049 Make `static_show()` print valid identifiers
  src/rtutils.c
  test/show.jl
Labels: precompile

#38117 fix embedding test
  test/embedding/embedding.c
Labels: test

#38126 fix #37974, struct layout of odd-size primitive types
  base/compiler/tfuncs.jl
  src/builtins.c
  src/datatype.c
  src/julia.h
  test/compiler/codegen.jl
Labels: bugfix

#37753 fix #37701: support keys(::IOContext)
  NEWS.md
  base/show.jl
  test/show.jl
Labels: merge me

#37283 expose findfirst findnext for UInt8 vector
  NEWS.md
  base/strings/search.jl
  test/strings/search.jl
Labels: search & find

#37840 Prevent integer overflow for large sparse matrices on 32-bit systems.
  stdlib/SparseArrays/src/abstractsparse.jl
  stdlib/SparseArrays/src/higherorderfns.jl
  stdlib/SparseArrays/src/sparsematrix.jl
  stdlib/SparseArrays/test/higherorderfns.jl
Labels: 32-bit, sparse

#30485 Make return type of broadcast inferrable with heterogeneous arrays
  base/broadcast.jl
  test/broadcast.jl
Labels: broadcast, forgetmenot, minor change, missing data, needs news, performance

#38191 fix #34511: fix broken 'Edit on GitHub' link
  doc/make.jl
Labels: doc

#37065 Let `muladd` accept arrays
  stdlib/LinearAlgebra/src/matmul.jl
  stdlib/LinearAlgebra/test/matmul.jl
Labels: linear algebra

#38051 Make ldlt throw with zero pivot
  stdlib/LinearAlgebra/src/dense.jl
  stdlib/LinearAlgebra/src/ldlt.jl
  stdlib/LinearAlgebra/test/lu.jl
Labels: linear algebra

#38210 make sure `make_seed()` work on 32bits systems
  stdlib/Random/src/RNGs.jl
Labels: RNG, bugfix

#34015 RFC: Resize small arrays, Issue #33902
  src/array.c
  test/choosetests.jl
  test/smallarrayshrink.jl
Labels: arrays, forgetmenot

#38169 rand(BigFloat): create BigFloat with precision according to the sampler
  stdlib/Random/src/generation.jl
  stdlib/Random/test/runtests.jl
Labels: RNG, bugfix

#37461 add init argument to count
  NEWS.md
  base/bitarray.jl
  base/reduce.jl
  base/reducedim.jl
  test/bitarray.jl
  test/reduce.jl
  test/reducedim.jl
Labels: fold

#38151 Update docstrings of element lookup functions
  base/array.jl
Labels: doc

#38188 Improve docs on numeric literals precedence
  doc/src/manual/mathematical-operations.md
Labels: doc

#38214 add `rest` for `NamedTuple` and fix some destructuring cases
  base/namedtuple.jl
  src/julia-syntax.scm
  test/syntax.jl
Labels: bugfix

#36761 A faster version of exp, exp2, exp10 for Floating point numbers
  base/math.jl
  base/special/exp.jl
  base/special/exp10.jl
Labels: maths, performance

#37923 Correct definition of lcm
  base/intfuncs.jl
Labels: doc

#31091 Docs of construction undef arrays with missing
  doc/src/manual/missing.md
Labels: arrays

#22623 RFC: rewrite_sourceloc! function
  base/meta.jl
  doc/src/base/base.md
  doc/src/base/file.md
  test/meta.jl
Labels: forgetmenot, macros

#38222 fix bug in lowering `if` with certain `block` exprs as the condition
  src/julia-syntax.scm
  test/syntax.jl
Labels: bugfix, lowering
