Repository JuliaLang/julia, pull requests merged in 2020-12, with the labels that each got.

#35779 streamline a[begin] lowering via firstindex(a, n)
  NEWS.md
  src/julia-syntax.scm
Labels: lowering

#38537 Update docstring of getindex
  base/abstractarray.jl
Labels: doc

#38447 update at-testset docs for verbose option
  stdlib/Test/docs/src/index.md
  stdlib/Test/src/Test.jl
Labels: doc, testsystem

#37533 Add punctuation for pipes (|>) and composition (∘)
  doc/src/base/punctuation.md
Labels: doc, merge me

#38575 titlecase(::String) should not break words inside graphemes
  base/strings/unicode.jl
  stdlib/Unicode/test/runtests.jl
Labels: bugfix, unicode

#36325 fix 1d/2d array method error message with unsupported keyword arg
  base/errorshow.jl
  test/errorshow.jl
Labels: error messages, merge me

#38502 Fix Markdown word wrap
  stdlib/Markdown/src/render/terminal/formatting.jl
  stdlib/Markdown/src/render/terminal/render.jl
  stdlib/Markdown/test/runtests.jl
Labels: merge me

#38505 Tests for multiplication of sparse triangular and dense matrices
  stdlib/SparseArrays/test/sparse.jl
Labels: linear algebra, sparse, test

#38649 better sub/superscript tab completion
  NEWS.md
  doc/src/manual/variables.md
  stdlib/REPL/src/REPLCompletions.jl
  stdlib/REPL/src/docview.jl
  stdlib/REPL/test/docview.jl
  stdlib/REPL/test/replcompletions.jl
Labels: REPL

#37971 suggestion: define at-invokelatest macro:
  base/util.jl
  doc/src/base/base.md
  test/misc.jl
Labels: forgetmenot

#38662 reuse anon functions in channels test to reduce compilation time
  test/channels.jl
Labels: ci, test

#38255 Add examples for endswith and startswith
  base/strings/util.jl
Labels: doc

#38677 Fix out-of-tree compilation of loader library.
  cli/Makefile
Labels: build

#38686 fix #38664, regression in `===` codegen for Bool
  src/codegen.cpp
Labels: bugfix, codegen, performance

#38663 fix part of #38650, `struct` should be a hard scope
  src/julia-syntax.scm
  test/syntax.jl
Labels: bugfix, lowering

#38646 Sticky shell REPL mode
  contrib/generate_precompile.jl
  stdlib/REPL/src/REPL.jl
  stdlib/REPL/test/repl.jl
Labels: REPL

#38692 fix #38501, wrap interpolated literal strings in `:string` exprs
  src/julia-parser.scm
  src/julia-syntax.scm
  test/show.jl
  test/syntax.jl
Labels: parser

#38694 Run Distributed tests on node 1
  test/runtests.jl
Labels: ci

#38442 Fix & extend LAPACK docs
  stdlib/LinearAlgebra/src/lapack.jl
Labels: doc, linear algebra

#38679 Report the top of the exception stack when there's no handler.
  src/task.c
Labels: error handling

#38487 threads: avoid deadlock from recursive lock acquire
  NEWS.md
  base/gcutils.jl
  base/lock.jl
  base/locks-mt.jl
  src/gc.c
  src/init.c
  src/julia.h
  src/julia_threads.h
  src/locks.h
  src/rtutils.c
  src/task.c
  src/timing.c
  src/timing.h
  stdlib/Distributed/src/messages.jl
  test/core.jl
  test/misc.jl
Labels: backport 1.5, multithreading

#38260 Reword doc on undef arrays with missing
  doc/src/manual/missing.md
Labels: doc, triage

#38659 Do not use zero(...) in generic_lu! algorithm to support Unitful
  stdlib/LinearAlgebra/src/lu.jl
  stdlib/LinearAlgebra/test/lu.jl
Labels: linear algebra

#27330 Update noteworthy differences from R due to R update
  doc/src/manual/noteworthy-differences.md
Labels: doc

#37909 Add missing news from #36146
  NEWS.md
Labels: doc

#33062 implement enumeration of modules ourselves
  src/sys.c
Labels: windows, wine

#38705 Enable themes for Windows common controls and dialogs
  contrib/windows/julia-manifest.xml
Labels: windows

#38708 [Compiler] call error("") instead of error(), since the later is not callable yet
  base/compiler/ssair/passes.jl
  base/compiler/ssair/verify.jl
Labels: optimizer

#37241 win: allow key Inno variables to be set during compile time
  contrib/windows/build-installer.iss
  contrib/windows/julia.rc
Labels: build, windows

#38513 document correct usage for shell_escape_wincmd
  base/shell.jl
Labels: doc

#36655 Add syntax highlighting to code examples in logging.jl
  base/logging.jl
Labels: doc

#38736 [LLVM] Set type of StructRet attribute
  src/ccall.cpp
  src/codegen.cpp
  src/llvm-late-gc-lowering.cpp
Labels: codegen

#38720 Hint on how to type the ÷ sign
  doc/src/manual/mathematical-operations.md
  doc/src/manual/unicode-input.md
Labels: doc

#38740 Iterator interface: Change i to item in example
  doc/src/manual/interfaces.md
Labels: merge me

#38752 Add `Regex` to the manual
  base/regex.jl
  doc/src/base/strings.md
Labels: doc, merge me

#38742 make firstindex(a,d) and lastindex(a,d) default to calling axes(a,d)
  NEWS.md
  base/abstractarray.jl
  doc/src/manual/interfaces.md
Labels: arrays

#38760 Have contrib/fixup-libstdc++ look in the private libdir for libjulia-intenral.
  contrib/fixup-libgfortran.sh
  contrib/fixup-libstdc++.sh
Labels: build

#38710 add locks for debug info reads that are internally mutating
  src/debuginfo.cpp
Labels: bugfix, multithreading

#38767 Remove unused H_OVERFLOW_X variables
  base/special/hyperbolic.jl
Labels: maths, merge me

#38771 Add test for checked_den promotion in rational
  test/rational.jl
Labels: rationals, test

#38768 Test for #26771
  test/arrayops.jl
Labels: inference, merge me, test

#38779 fix #38639, mktemp names not always unique on windows in test
  test/file.jl
Labels: ci, test, windows

#38764 Revert "Replace LinearAlgebra._iszero by Base.iszero"
  stdlib/LinearAlgebra/src/structuredbroadcast.jl
  stdlib/LinearAlgebra/test/structuredbroadcast.jl
Labels: broadcast, bugfix, linear algebra

#38076 Set VERSION to 1.7.0-DEV, move 1.6 NEWS to HISTORY
  HISTORY.md
  NEWS.md
  VERSION
Labels: release

#38389 Avoid allocation in ldiv! with QR
  stdlib/LinearAlgebra/src/generic.jl
  stdlib/LinearAlgebra/src/qr.jl
  stdlib/LinearAlgebra/test/qr.jl
Labels: backport 1.6, linear algebra

#38392 Permit Bidiagonal represents empty matrix
  stdlib/LinearAlgebra/src/bidiag.jl
  stdlib/LinearAlgebra/src/structuredbroadcast.jl
  stdlib/LinearAlgebra/test/bidiag.jl
  stdlib/SparseArrays/src/sparsematrix.jl
Labels: backport 1.6, linear algebra

#38408 Fixed #38346: Eigen decomposition of Symmetric Matrix containing NaNs now throws exception
  stdlib/LinearAlgebra/src/lapack.jl
  stdlib/LinearAlgebra/test/eigen.jl
Labels: backport 1.6, linear algebra

#38689 error message for indexing with BitArray
  base/errorshow.jl
  test/arrayops.jl
  test/errorshow.jl
Labels: error messages

#38784 Add isdefined check `count_const_size`
  base/compiler/utilities.jl
  test/compiler/inline.jl
Labels: backport 1.6

#38769 Add test_broken for #24333
  test/subtype.jl
Labels: test, types and dispatch

#38216 add replace methods for Tuple
  base/set.jl
  test/sets.jl
Labels: collections

#36352 add doctests for frexp, expm1, exponent
  base/math.jl
Labels: doc

#38801 Fix duplicated ldiv! method in qr.jl
  stdlib/LinearAlgebra/src/qr.jl
Labels: backport 1.6, linear algebra

#38796 [LibCURL]: Reconcile BB and from-source configuration of LibCURL.
  deps/curl.mk
Labels: backport 1.6

#38407 Try to close race condition in FileWatching tests
  stdlib/FileWatching/src/FileWatching.jl
  stdlib/FileWatching/test/runtests.jl
Labels: ci

#38807 Simple test for filter for IdDicts
  test/dict.jl
Labels: collections, test

#38793 Dimension mismatch with SymTridiagonal's eigen
  stdlib/LinearAlgebra/src/lapack.jl
  stdlib/LinearAlgebra/test/lapack.jl
  stdlib/LinearAlgebra/test/tridiag.jl
Labels: linear algebra

#38753 [release-1.5] threads: avoid deadlock from recursive lock acquire (PR #38487)
  NEWS.md
  base/gcutils.jl
  base/lock.jl
  base/locks-mt.jl
  src/gc.c
  src/julia.h
  src/locks.h
  src/rtutils.c
  src/task.c
  stdlib/Distributed/src/messages.jl
  test/core.jl
  test/misc.jl
Labels: backport 1.5

#38806 A few missing AbstractArray tests
  test/abstractarray.jl
Labels: arrays, test

#38821 Do not return disconnected IdDict from Docs.meta
  base/docs/Docs.jl
  test/docs.jl
Labels: backport 1.6

#38797 Converge JLL APIs a bit more
  stdlib/CompilerSupportLibraries_jll/src/CompilerSupportLibraries_jll.jl
  stdlib/GMP_jll/src/GMP_jll.jl
  stdlib/LibCURL_jll/src/LibCURL_jll.jl
  stdlib/LibGit2_jll/src/LibGit2_jll.jl
  stdlib/LibOSXUnwind_jll/src/LibOSXUnwind_jll.jl
  stdlib/LibSSH2_jll/src/LibSSH2_jll.jl
  stdlib/LibUV_jll/src/LibUV_jll.jl
  stdlib/LibUnwind_jll/src/LibUnwind_jll.jl
  stdlib/MPFR_jll/src/MPFR_jll.jl
  stdlib/MbedTLS_jll/src/MbedTLS_jll.jl
  stdlib/MozillaCACerts_jll/src/MozillaCACerts_jll.jl
  stdlib/OpenBLAS_jll/src/OpenBLAS_jll.jl
  stdlib/OpenLibm_jll/src/OpenLibm_jll.jl
  stdlib/PCRE2_jll/src/PCRE2_jll.jl
  stdlib/SuiteSparse_jll/src/SuiteSparse_jll.jl
  stdlib/Zlib_jll/src/Zlib_jll.jl
  stdlib/dSFMT_jll/src/dSFMT_jll.jl
  stdlib/libLLVM_jll/src/libLLVM_jll.jl
  stdlib/nghttp2_jll/src/nghttp2_jll.jl
  stdlib/p7zip_jll/src/p7zip_jll.jl
Labels: backport 1.6

#38826 Bump Documenter to 0.26.0
  doc/Manifest.toml
  doc/Project.toml
  doc/make.jl
Labels: backport 1.6, doc

#38823 Add note about (un)shift to (push/pop)first docs
  base/array.jl
Labels: doc

#38027 doc: slight updates to noteworthy differences from Python
  doc/src/manual/noteworthy-differences.md
Labels: merge me

#38828 Resize credential buffer in winprompt in case of failure
  base/util.jl
Labels: backport 1.6, windows

#38675 Accept AbstractChar in count and findall (::Char, ::String)
  NEWS.md
  base/regex.jl
  test/regex.jl
Labels: strings

#38831 improve inferrabilities within TOML module
  base/toml_parser.jl
Labels: backport 1.6

#38853 Commit checksums for libosxunwind
  deps/checksums/LibOSXUnwind.v0.0.6+1.x86_64-apple-darwin.tar.gz/md5
  deps/checksums/LibOSXUnwind.v0.0.6+1.x86_64-apple-darwin.tar.gz/sha512
Labels: backport 1.6, external dependencies, mac

#38855 Use DEPOT_PATH instead of HOME in cmdlineargs test
  test/cmdlineargs.jl
Labels: backport 1.6, test

#38836 Adjust calling convention of LAPACK functions
  stdlib/LinearAlgebra/src/blas.jl
  stdlib/LinearAlgebra/src/lapack.jl
Labels: backport 1.6, linear algebra, power

#38866 Use https for blog post link in faq doc section
  doc/src/manual/faq.md
Labels: backport 1.6, doc

#38863 [Mmap] Skip ReadOnlyMemoryError test on PowerPC
  stdlib/Mmap/test/runtests.jl
Labels: backport 1.6, power, stdlib

#38810 fix #38423, another stack overflow in method definition
  src/subtype.c
  test/subtype.jl
Labels: backport 1.6, bugfix, types and dispatch

#38850 [PPC] relax fastmath test
  test/fastmath.jl
Labels: backport 1.6, power

#38875 [Artifacts] Test c_simple on ppc
  stdlib/Artifacts/test/Artifacts.toml
Labels: backport 1.6, power

#38839 win: skip bad paths in dllist
  src/sys.c
Labels: backport 1.6, windows

#38882 Don't clobber rax in x86_64 trampoline
  cli/trampolines/trampolines_x86_64.S
Labels: backport 1.6, ci

#38136 Make Vararg not a DataType
  base/boot.jl
  base/broadcast.jl
  base/combinatorics.jl
  base/compiler/abstractinterpretation.jl
  base/compiler/inferencestate.jl
  base/compiler/ssair/inlining.jl
  base/compiler/tfuncs.jl
  base/compiler/typelattice.jl
  base/compiler/typelimits.jl
  base/compiler/typeutils.jl
  base/docs/basedocs.jl
  base/errorshow.jl
  base/essentials.jl
  base/methodshow.jl
  base/promotion.jl
  base/reflection.jl
  base/show.jl
  base/strings/util.jl
  base/tuple.jl
  contrib/generate_precompile.jl
  doc/src/devdocs/types.md
  doc/src/manual/types.md
  src/builtins.c
  src/cgutils.cpp
  src/clangsa/GCChecker.cpp
  src/codegen.cpp
  src/dump.c
  src/gf.c
  src/jl_exported_data.inc
  src/jltypes.c
  src/julia.h
  src/julia_internal.h
  src/method.c
  src/rtutils.c
  src/staticdata.c
  src/subtype.c
  src/typemap.c
  stdlib/InteractiveUtils/src/InteractiveUtils.jl
  stdlib/Test/src/Test.jl
  test/compiler/inference.jl
  test/core.jl
  test/show.jl
  test/specificity.jl
  test/subtype.jl
  test/syntax.jl
  test/tuple.jl
Labels: minor change

#38883 Don't override target passed on command-line with target from sysimg for processor_fallback
  src/codegen.cpp
  src/processor_fallback.cpp
Labels: backport 1.6, power

#38827 LibGit2: improve error when CA root cert can't be set
  stdlib/LibGit2/src/LibGit2.jl
  stdlib/LibGit2/test/bad_ca_roots.jl
  stdlib/LibGit2/test/bad_ca_roots.pem
  stdlib/LibGit2/test/online.jl
Labels: backport 1.6

#38887 fix #38837, inference regression in tuple `map`
  base/tuple.jl
  test/tuple.jl
Labels: backport 1.6

#38894 Test isstored
  test/abstractarray.jl
Labels: arrays, test

#38885 Measure compile time only when using time macros
  base/timing.jl
  src/aotcompile.cpp
  src/gf.c
  src/jitlayers.cpp
  src/julia_internal.h
Labels: backport 1.6

#38898 fix #38897, docstring for .op=
  stdlib/REPL/src/docview.jl
Labels: REPL, broadcast, doc

#38900 update to utf8proc 2.6.1
  deps/checksums/utf8proc-3203baa7374d67132384e2830b2183c92351bffc.tar.gz/md5
  deps/checksums/utf8proc-3203baa7374d67132384e2830b2183c92351bffc.tar.gz/sha512
  deps/checksums/utf8proc-df2997a300792b8efd6a1ea9281c14dfe986d6f9.tar.gz/md5
  deps/checksums/utf8proc-df2997a300792b8efd6a1ea9281c14dfe986d6f9.tar.gz/sha512
  deps/utf8proc.version
  stdlib/Unicode/test/runtests.jl
Labels: backport 1.5, backport 1.6, bugfix, unicode, upstream

#38842 Add section regarding Pkg mode to REPL docs
  stdlib/REPL/docs/src/index.md
Labels: REPL, backport 1.6, doc

#38903 Missing branch for popat with default
  test/arrayops.jl
Labels: arrays, test

#38860 tab-complete \ldq and \rdq for “ and ”
  stdlib/REPL/src/latex_symbols.jl
Labels: REPL

#38904 fix #34170, assertion failure with obvious_subtype
  src/subtype.c
  test/subtype.jl
Labels: backport 1.6, bugfix, types and dispatch

#38914 Missing tests for cmp on UInt8s
  test/arrayops.jl
Labels: arrays, test

#38913 Correct pcre2-cet-flags.patch whitespace.
  deps/patches/pcre2-cet-flags.patch
Labels: backport 1.6, bugfix, build

#38906 Reduce latency of Revise.revise()
  base/Base.jl
  contrib/generate_precompile.jl
Labels: backport 1.6, latency

#38886 Execute `backtrace` once before testing formatting
  stdlib/Logging/test/runtests.jl
  test/errorshow.jl
Labels: backport 1.6, power

#38829 Restore the version information for libjulia.dylib
  cli/Makefile
Labels: backport 1.6

#38917 Update non-BB dsfmt build to match with the BB one.
  deps/Versions.make
  deps/blas.mk
  deps/checksums/dsfmt-2.2.3.tar.gz/md5
  deps/checksums/dsfmt-2.2.3.tar.gz/sha512
  deps/checksums/dsfmt-2.2.4.tar.gz/md5
  deps/checksums/dsfmt-2.2.4.tar.gz/sha512
  deps/dsfmt.mk
  deps/mpfr.mk
  deps/objconv.mk
  deps/patches/dSFMT.c.patch
  deps/patches/dSFMT.h.patch
Labels: backport 1.6, build

#38918 Document the need for disabling BB if building without network access
  doc/build/build.md
Labels: doc

#38923 Improve position of MKL.jl mention in build documentation
  doc/build/build.md
Labels: backport 1.6, build, doc

#32283 tasks-debugging: make it possible to get the backtrace of a task
  src/gc-stacks.c
  src/julia.expmap
  src/julia.h
  src/julia_threads.h
  src/partr.c
  src/signals-unix.c
  src/stackwalk.c
  src/task.c
Labels: multithreading

#38935 Remove useless nghttp2_jll import from LibGit2_jll
  stdlib/LibGit2_jll/src/LibGit2_jll.jl
Labels: backport 1.6

#38852 Mark ccall to git_libgit2_opts as variadic
  stdlib/LibGit2/src/LibGit2.jl
  stdlib/LibGit2/test/libgit2.jl
Labels: backport 1.6, power

#38910 Remove stale WinRPM, Vagrant, Appveyor CI files and update build instructions on Windows
  contrib/windows/Vagrantfile
  contrib/windows/appveyor_build.sh
  contrib/windows/get_toolchain.sh
  contrib/windows/winrpm.sh
  doc/build/windows.md
Labels: windows

#38921 improve (restore) performance of fieldname by moving out error paths in separate functions
  base/reflection.jl
Labels: backport 1.6, performance

#37177 Make `findall` faster for AbstractArrays
  base/array.jl
Labels: arrays, performance, search & find

#38574 Unicode-compliant islower/uppercase
  NEWS.md
  base/strings/unicode.jl
  stdlib/Unicode/test/runtests.jl
Labels: minor change, unicode

#38899 fix #38888, pessimistic sparam inference with concrete upper bound
  base/compiler/utilities.jl
  test/compiler/inference.jl
Labels: backport 1.6, bugfix

#35316 Add 2-arg versions of findmax/min, argmax/min
  NEWS.md
  base/array.jl
  base/exports.jl
  base/operators.jl
  base/reduce.jl
  base/reducedim.jl
  test/operators.jl
  test/reduce.jl
  test/reducedim.jl
Labels: fold, triage

#38926 Missing tests for arrays
  test/arrayops.jl
Labels: arrays, test

#38937 mention that InteractiveUtils is loaded automatically in interactive mode
  stdlib/InteractiveUtils/docs/src/index.md
Labels: doc

#38929 Correct exponent_max to conform to IEEE definition
  base/float.jl
  base/ryu/utils.jl
  base/special/exp.jl
  base/special/ldexp_exp.jl
Labels: maths

#38954 minor inferrability tweak for `manifest_deps_get`
  base/loading.jl
Labels: backport 1.6

#38950 Repair jl_init.
  cli/loader_lib.c
  src/jlapi.c
  src/julia.h
Labels: backport 1.6

#38933 Carry MBedTLS patch that works around CMake 3.18.2 bug.
  deps/mbedtls.mk
  deps/patches/mbedtls-cmake-findpy.patch
Labels: backport 1.6, bugfix, build

#38962 Source tarballs should contain `StdlibArtifacts.toml` files
  Makefile
Labels: backport 1.6

#38960 [Artifacts] Note the platform we're looking for in our error message
  stdlib/Artifacts/src/Artifacts.jl
Labels: backport 1.6

#38259 Fix #23646: relpath recognizes Windows drive letters
  base/path.jl
  test/path.jl
Labels: backport 1.6, windows

#38938 Fix symbol trampolines for OSX and export `jl_n_threads`
  cli/Makefile
  cli/jl_exports.h
  cli/trampolines/trampolines_aarch64.S
  cli/trampolines/trampolines_i686.S
  cli/trampolines/trampolines_x86_64.S
  src/ccall.cpp
  src/codegen.cpp
  src/dlload.c
  src/init.c
  src/jl_exported_data.inc
  src/julia.h
  src/julia_internal.h
  src/runtime_ccall.cpp
  src/threading.c
  src/threading.h
Labels: backport 1.6

#38977 codegen: use new freeze intrinsics to avoid poison UB
  src/intrinsics.cpp
Labels: codegen

#38985 Document the opposites of any and all
  base/reduce.jl
Labels: doc

#38991 Tests for push and pushfirst for abstractarray
  test/abstractarray.jl
Labels: arrays, test

#38987 Document __module and __source
  base/docs/basedocs.jl
  doc/src/base/base.md
Labels: doc

#38965 use parent type in similar(::ReinterpretArray)
  base/reinterpretarray.jl
  test/arrayops.jl
  test/reinterpretarray.jl
Labels: arrays

#38597 Arg. to avoid escaping backslahes (escape_string)
  NEWS.md
  base/strings/io.jl
  test/strings/io.jl
Labels: feature, strings

#38976 extend iseven/isodd to Number
  NEWS.md
  base/float.jl
  base/int.jl
  test/complex.jl
  test/floatfuncs.jl
  test/rational.jl
Labels: maths

#38943 Missing tests for accumulate
  test/arrayops.jl
Labels: test

#38958 Construct constant LLVMPtr correctly
  src/intrinsics.cpp
  test/llvmcall.jl
Labels: backport 1.6, codegen

#38980 Fix trampoline on PPC
  Make.inc
  cli/trampolines/trampolines_powerpc64le.S
  cli/trampolines/trampolines_ppc64le.S
  src/jl_exported_funcs.inc
Labels: backport 1.6, power

#38940 Add reference to `indent` function
  base/strings/io.jl
Labels: doc

#38496 Update the AST docs on `nothing` `:method` expressions
  doc/src/devdocs/ast.md
Labels: doc

#38942 win: Set correct folder permissions after folder creation
  base/file.jl
Labels: backport 1.5, backport 1.6, filesystem, windows

#34678 keys(::Generator) pass through
  base/generator.jl
  test/functional.jl
Labels: merge me

#39009 Improve consistency of SONAME usage, fix debug installation
  Make.inc
  Makefile
  cli/Makefile
  src/Makefile
  src/dlload.c
  src/init.c
Labels: backport 1.6

#39003 Improve docs about let blocks
  base/docs/basedocs.jl
  doc/src/manual/variables-and-scoping.md
Labels: doc

#39011 Remove references to Travis
  CONTRIBUTING.md
  README.md
  contrib/mac/framework/Makefile
  doc/Makefile
  doc/build/distributing.md
  test/read.jl
Labels: build

#39012 fs: allocate libuv request space directly in readdir and clean up request calls
  base/file.jl
  base/filesystem.jl
  base/path.jl
Labels: filesystem

#38961 fix IR showing not to show TypedSlot type twice
  base/compiler/ssair/show.jl
Labels: display and printing

#39004 Improve performance for dot(AdjTrans,AdjTrans)
  stdlib/LinearAlgebra/src/generic.jl
  stdlib/LinearAlgebra/test/generic.jl
Labels: linear algebra, performance

#39024 Document destructuring syntax in anonymous function argument [Rebase #30009]
  doc/src/manual/functions.md
Labels: doc

#39038 [libuv] Bump to include `DELETE` win ACL patch
  deps/checksums/libuv
  deps/libuv.version
  stdlib/LibUV_jll/Project.toml
Labels: backport 1.5, backport 1.6

#39019 specialize on mapfoldl(::Type, ...)
  base/reduce.jl
  test/reduce.jl
Labels: fold, performance

#39034 Test for checkout_head
  stdlib/LibGit2/test/libgit2.jl
Labels: libgit2, test

#39035 Improve copyto! for short heterogeneous tuples
  base/abstractarray.jl
  base/ntuple.jl
  test/abstractarray.jl
Labels: performance, potential benchmark
