Repository JuliaLang/julia, pull requests merged in 2020-07, with the labels that each got.

#36480 Fix exception stack lowering in finally handlers
  src/julia-syntax.scm
  test/exceptions.jl
Labels: backport 1.4, backport 1.5, bugfix, lowering

#36415 Clarify that path to julia can be set
  stdlib/Distributed/src/managers.jl
Labels: doc

#36490 Two small SVD tests
  stdlib/LinearAlgebra/test/svd.jl
Labels: linear algebra, test

#36487 A few missing tests for Tri/SymTriDiag
  stdlib/LinearAlgebra/test/tridiag.jl
Labels: linear algebra, test

#36491 Missing tests for LDLt
  stdlib/LinearAlgebra/test/ldlt.jl
Labels: linear algebra, test

#35564 add build-system support for MLIR
  Make.inc
  deps/llvm.mk
Labels: external dependencies

#36173 REPL prefix search: add ^x "pass through" key
  stdlib/REPL/src/LineEdit.jl
  stdlib/REPL/test/repl.jl
Labels: REPL, backport 1.5, bugfix

#36516 Replace assertion in `limit_type_size` with fall-back
  base/compiler/typelimits.jl
  test/compiler/inference.jl
Labels: backport 1.5

#36430 LinearAlgebra.givens with unitful arguments
  stdlib/LinearAlgebra/src/givens.jl
  stdlib/LinearAlgebra/test/givens.jl
Labels: linear algebra

#36488 Tests for in-place kron
  stdlib/LinearAlgebra/src/dense.jl
  stdlib/LinearAlgebra/test/dense.jl
Labels: linear algebra, test

#36364 Add Quarter period
  NEWS.md
  stdlib/Dates/src/Dates.jl
  stdlib/Dates/src/accessors.jl
  stdlib/Dates/src/arithmetic.jl
  stdlib/Dates/src/periods.jl
  stdlib/Dates/src/query.jl
  stdlib/Dates/src/rounding.jl
  stdlib/Dates/src/types.jl
  stdlib/Dates/test/arithmetic.jl
  stdlib/Dates/test/periods.jl
  stdlib/Dates/test/rounding.jl
  stdlib/Dates/test/types.jl
Labels: dates

#36478 Clarify BLAS.asum docstring for complex arrays
  stdlib/LinearAlgebra/src/blas.jl
Labels: doc, linear algebra

#35705 Add documentation to the sized identity matrix
  stdlib/LinearAlgebra/docs/src/index.md
Labels: doc, linear algebra

#36532 Fix #36531 - Error in abstract_iteration
  base/compiler/abstractinterpretation.jl
  test/compiler/inference.jl
Labels: backport 1.5, bugfix, inference

#36560 doc multi-threading: fix indentation
  doc/src/manual/multi-threading.md
Labels: doc, multithreading

#36561 doc multi-threading: link to 2019's blog post
  doc/src/manual/multi-threading.md
Labels: doc, multithreading

#35926 fix broadcasted assignment for scalar cartesian indexing
  base/views.jl
  test/broadcast.jl
Labels: backport 1.5, broadcast, bugfix, merge me

#36475 added documentation for Dates.TimeZone, Dates.UTC
  stdlib/Dates/docs/src/index.md
  stdlib/Dates/src/types.jl
Labels: dates, doc

#36344 Fix Ctrl+Q for stack traces
  base/errorshow.jl
  base/methodshow.jl
  stdlib/REPL/src/REPL.jl
  stdlib/REPL/test/repl.jl
Labels: REPL, display and printing, needs tests

#36502 Update X86 feature and CPU detection
  src/features_x86.h
  src/processor_x86.cpp
Labels: backport 1.4, backport 1.5

#36521 Allow PartialStruct on inference edges
  base/compiler/tfuncs.jl
  base/compiler/typeinfer.jl
  test/compiler/inference.jl
Labels: inference

#36485 Update ARM feature and CPU detection (supersedes #36464)
  src/features_aarch32.h
  src/features_aarch64.h
  src/processor_arm.cpp
Labels: arm

#36524 Improve precision of abstract_iteration
  base/compiler/abstractinterpretation.jl
  test/compiler/inference.jl
Labels: inference

#36583 fix #36527, skipped marking of some items in excstack
  src/gc.c
  test/exceptions.jl
Labels: GC, backport 1.4, backport 1.5, bugfix

#36586 fix #36572, destructuring syntax for called object
  src/julia-syntax.scm
  test/core.jl
Labels: bugfix, lowering

#35982 skip inferring calls that lead to `throw`
  base/compiler/abstractinterpretation.jl
  base/compiler/inferencestate.jl
  base/compiler/optimize.jl
  base/compiler/ssair/inlining.jl
  base/compiler/types.jl
  base/compiler/utilities.jl
  base/ntuple.jl
  test/stacktraces.jl
Labels: latency

#36615 Update our vendored copy of config.sub
  deps/patches/config.sub
Labels: arm, build, mac

#36616 Add GMP patch to fix build on Apple Silicon
  deps/checksums/gmp-6.2.0.tar.bz2/md5
  deps/checksums/gmp-6.2.0.tar.bz2/sha512
  deps/gmp.mk
  deps/patches/gmp-apple-arm64.patch
Labels: arm, build, mac

#36592 WIP: Some minimal support for Apple Silicon
  src/processor_arm.cpp
  src/signal-handling.c
  src/signals-mach.c
  src/signals-unix.c
Labels: arm, mac

#36449 More improvements to inference in IO
  base/io.jl
  base/libc.jl
  base/set.jl
  base/traits.jl
Labels: latency

#36610 fix #36492, ensure output is limited even with basic REPLs
  stdlib/REPL/src/REPL.jl
  stdlib/REPL/test/repl.jl
Labels: REPL, display and printing

#36607 Widen signature of readbytes! methods to contiguous SubArrays
  base/iostream.jl
  test/iostream.jl
Labels: merge me

#34227 lock: optimize re-entrant performance
  base/lock.jl
Labels: multithreading, performance

#36612 some improvements for large expressions
  src/ast.c
  src/flisp/flisp.h
  src/julia-syntax.scm
Labels: lowering

#36452 Specify interface for LibGit2 abstract types
  stdlib/LibGit2/src/types.jl
Labels: latency, libgit2

#36366 fix #32699, more accurate apply_type_tfunc for NamedTuple
  base/compiler/tfuncs.jl
  test/compiler/inference.jl
Labels: inference

#36577 Backports release 1.5-RC2
  base/abstractarray.jl
  base/compiler/abstractinterpretation.jl
  base/compiler/typelimits.jl
  base/views.jl
  deps/checksums/Pkg-dd7f762630b88a64a89ceaaadd3914bfcfb768dc.tar.gz/md5
  deps/checksums/Pkg-dd7f762630b88a64a89ceaaadd3914bfcfb768dc.tar.gz/sha512
  deps/checksums/Pkg-edc31a25ad441b28bbe5608696cca978af6c988a.tar.gz/md5
  deps/checksums/Pkg-edc31a25ad441b28bbe5608696cca978af6c988a.tar.gz/sha512
  src/codegen.cpp
  src/gc.c
  src/init.c
  src/julia-syntax.scm
  src/processor_x86.cpp
  stdlib/Dates/src/query.jl
  stdlib/Dates/test/query.jl
  stdlib/LinearAlgebra/src/adjtrans.jl
  stdlib/LinearAlgebra/test/blas.jl
  stdlib/Pkg.version
  stdlib/REPL/src/LineEdit.jl
  stdlib/REPL/test/repl.jl
  test/abstractarray.jl
  test/broadcast.jl
  test/compiler/codegen.jl
  test/compiler/inference.jl
  test/exceptions.jl
Labels: release

#36650 Fix GC corruption during NamedTuple instantiation
  src/datatype.c
  src/dump.c
  src/jltypes.c
Labels: backport 1.5, bugfix

#36623 Commute union splitting and MethodTable identification
  base/compiler/abstractinterpretation.jl
  test/compiler/inference.jl
Labels: inference

#36670 Add missing word to documentation.
  doc/src/manual/methods.md
Labels: doc

#36641 Make `isempty(c::Channel)` a non-mutating operation
  base/channels.jl
  test/channels.jl
Labels: backport 1.5, bugfix

#36518 Incorporate an add to PATH option in Windows Inno Setup installer
  NEWS.md
  contrib/windows/build-installer.iss
Labels: windows

#36630 Improve docstring for `baremodule`.
  base/docs/basedocs.jl
Labels: doc

#36673 explain method signatures for `Any` arguments
  doc/src/manual/methods.md
Labels: doc

#36686 Fix segfault on throwing during startup
  src/task.c
Labels: merge me

#36622 Fix typeassert dropping PartialStruct information
  base/compiler/tfuncs.jl
  test/compiler/inference.jl
Labels: inference, iteration

#36657 Stop transpose(A) \ lu(B)' from overwriting A
  stdlib/LinearAlgebra/src/lu.jl
  stdlib/LinearAlgebra/test/lu.jl
Labels: backport 1.5, bugfix, linear algebra

#36663 Update `@isdefined` to have clearer examples
  base/reflection.jl
Labels: doc, merge me

#36688 allow redirecting standard streams to `IOContext`
  NEWS.md
  base/stream.jl
  test/spawn.jl
Labels: I/O

#36693 Add a dash in the Windows installer path between the version number
  contrib/windows/build-installer.iss
Labels: windows

#25796 Fix some overly optimistic fastpaths in subtyping
  src/datatype.c
  src/dump.c
  src/jltypes.c
  src/julia.h
  src/subtype.c
  test/core.jl
  test/subtype.jl
Labels: bugfix, merge me, types and dispatch

#36676 digits docstring no need to allocate
  base/intfuncs.jl
Labels: doc, merge me

#36677 Swap two functions' columns
  stdlib/SparseArrays/docs/src/index.md
Labels: doc, merge me, sparse

#36681 Fix negation of SymTridiagonal (fixes #36680)
  stdlib/LinearAlgebra/src/tridiag.jl
  stdlib/LinearAlgebra/test/tridiag.jl
Labels: merge me

#36725 fix precedence of dotted `<:` and `>:`
  src/julia-parser.scm
  test/parse.jl
  test/syntax.jl
Labels: backport 1.5, bugfix, parser

#36726 ldiv!(::QR, ::StridedVector) should return the modified argument
  stdlib/LinearAlgebra/src/qr.jl
Labels: linear algebra

#36727 Fix correctness issues in sizeof tfunc
  base/array.jl
  base/compiler/tfuncs.jl
  base/reflection.jl
  src/codegen.cpp
  test/compiler/inference.jl
Labels: backport 1.5, bugfix, codegen, inference

#36715 Fix `sizeof` for non-Array subarrays
  base/subarray.jl
  test/subarray.jl
Labels: backport 1.5

#36738 Fix `-(::SparseMatrixCSC{Bool})`
  stdlib/SparseArrays/src/sparsematrix.jl
  stdlib/SparseArrays/test/sparse.jl
Labels: backport 1.5, bugfix, sparse

#35962 change Msg f type from Function to Any
  stdlib/Distributed/src/messages.jl
  stdlib/Distributed/test/distributed_exec.jl
Labels: parallel

#36598 Enable tty, vt sequences on Windows
  src/support/libsupportinit.c
  stdlib/REPL/src/LineEdit.jl
Labels: windows

#36591 Consistent use of singleton types in manual.
  doc/src/manual/conversion-and-promotion.md
  doc/src/manual/types.md
Labels: merge me

#36640 Makefile: don't install non-existing 'julia.svg' file
  Makefile
Labels: build

#36763 Fix `pbpaste` error on MacOS buildbots
  stdlib/InteractiveUtils/src/clipboard.jl
Labels: backport 1.5, bugfix, ci

#36739 fix `elsize` and `write` for SubArrays of Arrays
  base/io.jl
  base/subarray.jl
  test/subarray.jl
Labels: backport 1.5, bugfix

#36729 add operators `<--` and `<-->`
  NEWS.md
  src/julia-parser.scm
  test/syntax.jl
Labels: parser

#36679 check lengths in covector-vector products
  stdlib/LinearAlgebra/src/adjtrans.jl
  stdlib/LinearAlgebra/test/adjtrans.jl
Labels: backport 1.5

#36757 fix #36753: fix write(::SubArray) by restoring pointer support
  base/deprecated.jl
  base/io.jl
  base/subarray.jl
  test/subarray.jl
Labels: backport 1.5, bugfix

#36689 fix some issues with color configuration
  base/client.jl
  base/libuv.jl
  stdlib/REPL/src/LineEdit.jl
  stdlib/REPL/src/REPL.jl
  stdlib/REPL/src/Terminals.jl
  stdlib/REPL/test/repl.jl
Labels: REPL

#36150 Add readeach function for iterating streams
  NEWS.md
  base/exports.jl
  base/io.jl
  doc/src/base/io-network.md
  stdlib/Markdown/src/Common/block.jl
  stdlib/Markdown/src/GitHub/GitHub.jl
  stdlib/Markdown/src/parse/util.jl
  test/read.jl
Labels: I/O, iteration, merge me

#36767 fix parsing of dotted versions of new arrow operators
  src/julia-parser.scm
  test/syntax.jl
Labels: bugfix, parser

#36734 fix stackoverflow in circshift!(x, y, (1.0,))
  base/multidimensional.jl
  test/arrayops.jl
Labels: arrays, bugfix

#36748 Add a link from Base.Docs to section on documentation
  base/docs/Docs.jl
  doc/src/manual/documentation.md
Labels: doc

#36754 fix #27429, propagate include path in `at-everywhere`
  stdlib/Distributed/src/macros.jl
  stdlib/Distributed/test/distributed_exec.jl
  stdlib/Distributed/test/includefile.jl
Labels: bugfix, parallel

#36766 REPL: make it more reliable against internal errors
  stdlib/REPL/src/REPL.jl
Labels: REPL

#36744 doc: empty function example to single line
  doc/src/manual/methods.md
Labels: doc

#36785 Clean up atomic access to sleep_check_state
  src/partr.c
Labels: backport 1.5, bugfix, multithreading

#36781 list `at-ccall` in docs, fix docstring
  base/c.jl
  doc/src/base/c.md
Labels: backport 1.5, doc

#36658 stacktraces doc: fix typos
  doc/src/manual/stacktraces.md
Labels: doc

#36790 Change some doctests to julia-repl
  stdlib/LinearAlgebra/src/dense.jl
Labels: doc, linear algebra

#36817 test/broadcast: put r1, r2, ratio, m into let
  test/broadcast.jl
Labels: test

#36659 1.5: Set version to 1.5 rc2
  VERSION
Labels: release

#36697 build: make libunwind linked dynamically
  Make.inc
  Makefile
  deps/Makefile
  deps/Versions.make
  deps/checksums/LibOSXUnwind.v0.0.6-0.x86_64-apple-darwin14.tar.gz/md5
  deps/checksums/LibOSXUnwind.v0.0.6-0.x86_64-apple-darwin14.tar.gz/sha512
  deps/checksums/libosxunwind-0.0.5.tar.gz/md5
  deps/checksums/libosxunwind-0.0.5.tar.gz/sha512
  deps/checksums/libosxunwind-0.0.6.tar.gz/md5
  deps/checksums/libosxunwind-0.0.6.tar.gz/sha512
  deps/unwind.mk
  src/Makefile
Labels: build

#36795 fix #36783, more specialization on called Type arguments
  src/gf.c
Labels: performance

#36824 Only values, not variables, have types...
  doc/src/manual/types.md
Labels: doc

#36835 Update Mozilla CA certificate store to latest (07-22-2020) for libgit2 SSL.
  deps/Versions.make
  deps/checksums/cacert-2020-01-01.pem/md5
  deps/checksums/cacert-2020-01-01.pem/sha512
  deps/checksums/cacert-2020-07-22.pem/md5
  deps/checksums/cacert-2020-07-22.pem/sha512
Labels: backport 1.0, backport 1.4, backport 1.5, merge me

#36589 Update admonition docs
  stdlib/Markdown/docs/src/index.md
Labels: doc

#36841 Diagonal: Check dimensions when multiplying with vector
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/LinearAlgebra/test/diagonal.jl
Labels: backport 1.0, backport 1.5, linear algebra

#36863 add a constructor for Union{}
  base/boot.jl
Labels: latency

#36859 Better deployment of rc docs
  doc/make.jl
Labels: backport 1.5, docsystem

#36867 Do not include commit-offset number in VERSION if we are building for a tag.
  base/version.jl
Labels: build
