Repository JuliaLang/julia, pull requests merged in 2021-03, with the labels that each got.

#39860 docs: document use of `begin` as index
  base/docs/basedocs.jl
Labels: doc

#39849 LinearAlgebra: Add test "matrix x matrix with negative stride".
  stdlib/LinearAlgebra/test/matmul.jl
Labels: linear algebra, test

#39832 fix #29100, make `fieldnames` inferrable
  base/compiler/tfuncs.jl
  test/compiler/inference.jl
Labels: inference

#39839 [BugReporting] pass `ARGS` through properly
  stdlib/InteractiveUtils/src/InteractiveUtils.jl
Labels: backport 1.6

#39882 Bump Documenter to 0.26.3
  doc/Manifest.toml
Labels: doc

#39801 llvm-alloc-opt: handle dead code better
  src/llvm-alloc-opt.cpp
  test/llvmpasses/alloc-opt-gcframe.jl
  test/llvmpasses/alloc-opt-pass.jl
  test/llvmpasses/alloc-opt-pipeline.jl
Labels: backport 1.6, bugfix, optimizer

#39875 fix #39698 by disabling the unnecessary Vararg var bounds error
  src/jltypes.c
  test/subtype.jl
Labels: backport 1.6

#39861 docs: mention `outer` in the section on keywords
  doc/src/base/base.md
Labels: doc

#39891 Add new LLVM patches for Aarch64 issues
  deps/Versions.make
  deps/checksums/clang
  deps/checksums/llvm
  deps/llvm.mk
  deps/patches/llvm-11-AArch64-FastIsel-bug.patch
  deps/patches/llvm-11-D97435-AArch64-movaddrreg.patch
  deps/patches/llvm-11-D97571-AArch64-loh.patch
  deps/patches/llvm-11-aarch64-addrspace.patch
  stdlib/libLLVM_jll/Project.toml
Labels: backport 1.6

#39893 Canonicalize IR to disallow mutable GlobalRef in value position
  base/compiler/ssair/slot2ssa.jl
  base/compiler/ssair/verify.jl
Labels: backport 1.6

#39894 Darwin/ARM64: Fix jl_throw_in_ctx
  src/signals-mach.c
  src/signals-unix.c
Labels: apple silicon, arm, mac

#39886 spzeros tuple construction
  stdlib/SparseArrays/src/sparsematrix.jl
  stdlib/SparseArrays/test/sparse.jl
Labels: merge me, sparse

#39768 Use copysign LLVM intrinsic rather than bithack ourselves
  src/intrinsics.cpp
Labels: codegen, needs nanosoldier run

#39859 allow trailing dims in inplace broadcast
  base/broadcast.jl
  test/broadcast.jl
Labels: broadcast

#39908 Remove unused code introduced in the LBT PR
  stdlib/LinearAlgebra/src/LinearAlgebra.jl
Labels: linear algebra

#39906 [Filesystem]: `rm(;force=true)` should ignore `readdir()` errors
  base/file.jl
  test/file.jl
Labels: filesystem

#39889 Faster dot product for sparse matrices and dense vectors
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/LinearAlgebra/test/diagonal.jl
  stdlib/SparseArrays/src/linalg.jl
  stdlib/SparseArrays/test/sparse.jl
Labels: linear algebra, performance, sparse

#39931 Bump Pkg on master
  stdlib/Pkg.version
Labels: stdlib

#31829 Range indexing: error with scalar bool index like all other arrays
  NEWS.md
  base/range.jl
  base/twiceprecision.jl
  test/ranges.jl
Labels: merge me

#39524 regex: enable safe handling of invalid UTF-8 by default
  base/pcre.jl
  base/regex.jl
Labels: unicode

#39538 REPL: try to coalesce screen updates
  stdlib/REPL/src/LineEdit.jl
  stdlib/REPL/src/options.jl
Labels: REPL

#39540 fix internal IR corruption from use of a global
  base/compiler/ssair/passes.jl
  base/compiler/ssair/slot2ssa.jl
  test/compiler/irpasses.jl
Labels: backport 1.6

#39837 choosetests: add a couple missing tests
  test/choosetests.jl
  test/filesystem.jl
Labels: testsystem

#39916 fix #39895, crash from deserialized closure using the shared method table
  stdlib/Serialization/src/Serialization.jl
  stdlib/Serialization/test/runtests.jl
Labels: backport 1.6, bugfix

#39959 fix #39948, stack overflow due to free typevar during `jl_type_intersection2`
  src/gf.c
  test/subtype.jl
Labels: backport 1.6, bugfix, types and dispatch

#39961 fix behavior of JULIA_EXCLUSIVE to agree with documentation
  src/threading.c
Labels: bugfix

#39965 allow quoted ssa values and slots in ast
  src/ast.c
  test/syntax.jl
Labels: lowering

#39956 fix missing dependency links in Makefiles
  Makefile
  cli/Makefile
  deps/tools/bb-install.mk
  deps/tools/common.mk
  src/Makefile
Labels: build

#39969 Update Pkg checksums that should have been included in #39931
  deps/checksums/Pkg-7a9d96545a9c30009b6653374a0ee960383441b6.tar.gz/md5
  deps/checksums/Pkg-7a9d96545a9c30009b6653374a0ee960383441b6.tar.gz/sha512
  deps/checksums/Pkg-8cbd11723f27ce2feef229aaf944924ab355d864.tar.gz/md5
  deps/checksums/Pkg-8cbd11723f27ce2feef229aaf944924ab355d864.tar.gz/sha512
Labels: stdlib

#39816 Export mmap from Mmap
  NEWS.md
  stdlib/DelimitedFiles/src/DelimitedFiles.jl
  stdlib/Mmap/src/Mmap.jl
  stdlib/Mmap/test/runtests.jl
  stdlib/SharedArrays/src/SharedArrays.jl
Labels: stdlib

#39305 inference: enable constant propagation for union-split signatures
  base/compiler/abstractinterpretation.jl
  base/compiler/ssair/inlining.jl
  base/compiler/stmtinfo.jl
  base/compiler/typeutils.jl
  test/compiler/inference.jl
Labels: inference, needs nanosoldier run

#39975 Fix wrong := REPL documentation
  stdlib/REPL/src/docview.jl
  stdlib/REPL/test/repl.jl
Labels: docsystem

#39977 release-1.6: set VERSION to 1.6-rc2
  VERSION
Labels: release

#39930 Restore StackOverflow error message for repeated frames
  base/errorshow.jl
  test/errorshow.jl
Labels: backport 1.6, bugfix, error messages

#39827 [release-1.5] Set VERSION to 1.5.4
  VERSION
Labels: release

#39905 reduce precompile() failure severity to a warning
  base/compiler/abstractinterpretation.jl
  base/essentials.jl
  base/loading.jl
  contrib/generate_precompile.jl
  test/ambiguous.jl
Labels: triage

#27817 Support missing values in fpsort
  base/sort.jl
  test/missing.jl
Labels: missing data, performance

#39934 Complex{<:OurRational} instead of Complex{OurRational} in the manual
  doc/src/manual/constructors.md
Labels: doc

#39935 Fix `OurRational` example for current `gcd` behavior
  doc/src/manual/constructors.md
Labels: doc

#39473 make broadcasting into getproperty extensible
  base/Base.jl
  src/julia-syntax.scm
  test/syntax.jl
Labels: broadcast, lowering, merge me

#39964 Improve Cholesky docstrings
  stdlib/LinearAlgebra/src/cholesky.jl
Labels: doc, linear algebra

#40026 fix typo in symlink
  base/file.jl
Labels: backport 1.6

#40023 fix indent of docstrings
  base/regex.jl
Labels: doc

#40008 improve IdDict performance by 33%
  src/builtins.c
  src/codegen.cpp
  src/iddict.c
  src/jl_exported_funcs.inc
  src/jltypes.c
  src/julia.h
  src/subtype.c
Labels: performance

#40047 fix #39862, error in inference when trying to apply a non-type
  base/compiler/tfuncs.jl
  test/compiler/inference.jl
Labels: bugfix, inference

#39966 Use faster hash for short arrays.
  base/abstractarray.jl
Labels: arrays, hashing, performance

#40060 release-1.6: set VERSION to 1.6-rc3
  VERSION
Labels: release

#40075 Revert "add 'ᵀ postfix operator for transpose (#38062)"
  HISTORY.md
  base/exports.jl
  base/operators.jl
  stdlib/LinearAlgebra/src/adjtrans.jl
  test/operators.jl
Labels: backport 1.6

#40063 build: avoid gtar race bug when managing Tar.jl files
  deps/tools/bb-install.mk
  deps/tools/common.mk
Labels: build

#40083 Fix hashing for large arrays
  base/abstractarray.jl
  test/hashing.jl
Labels: bug, embarrassing-bugfix, hashing, regression

#40012 Added a missing "is" in "Trait-based dispatch" section
  doc/src/manual/methods.md
Labels: doc, merge me

#39856 include: add compat annotation for mapexpr argument
  base/client.jl
  base/loading.jl
Labels: doc

#40101 Restore moving GlobalRef out of argument position
  base/compiler/ssair/inlining.jl
Labels: merge me

#40112 Add kakoune editor support
  stdlib/InteractiveUtils/src/editless.jl
Labels: merge me

#39973 Compute real matrix logarithm and matrix square root using real arithmetic
  stdlib/LinearAlgebra/src/dense.jl
  stdlib/LinearAlgebra/src/lapack.jl
  stdlib/LinearAlgebra/src/triangular.jl
  stdlib/LinearAlgebra/test/dense.jl
  stdlib/LinearAlgebra/test/triangular.jl
Labels: linear algebra

#40109 document thread safety for RNGs
  stdlib/Random/docs/src/index.md
Labels: RNG, doc

#40131 mention use of underscore for private fields in manual
  doc/src/manual/style-guide.md
  doc/src/manual/variables.md
Labels: doc

#40092 remove unclear docs for pure macro
  base/expr.jl
Labels: doc

#40102 Fix #40100, doc for inbounds use each index
  doc/src/devdocs/boundscheck.md
Labels: doc

#40135 Remove Base.getproperty docstrings in stdlibs
  stdlib/LinearAlgebra/src/bunchkaufman.jl
  stdlib/SuiteSparse/src/spqr.jl
Labels: doc

#40126 Preserve `Symmetric`/`Hermitian` shape in more cases
  stdlib/LinearAlgebra/src/symmetric.jl
  stdlib/LinearAlgebra/test/symmetric.jl
Labels: linear algebra

#40095 fix #40050, handling fields that are pointers due to subtype circularity
  src/cgutils.cpp
  test/core.jl
Labels: backport 1.6, bugfix

#40122 Markdown: prevent display() error with empty list item
  stdlib/Markdown/src/render/terminal/formatting.jl
  stdlib/Markdown/test/runtests.jl
Labels: backport 1.6

#40025 Support shared named environments during startup
  NEWS.md
  base/initdefs.jl
  test/cmdlineargs.jl
Labels: merge me

#40147 add < to NamedTuple
  base/namedtuple.jl
  base/operators.jl
  test/namedtuple.jl
Labels: collections, missing data

#40155 Manual claims that `run` returns `nothing`
  doc/src/manual/running-external-programs.md
Labels: doc

#40175 [release-1.6] Set VERSION to 1.6.1 prerelease
  VERSION
Labels: release

#38981 Fix #38491: fix an abspath() edge case on Windows
  base/path.jl
  test/path.jl
Labels: backport 1.6, merge me, windows

#40163 Have different Windows uninstall keys for different Julia versions
  contrib/windows/build-installer.iss
Labels: backport 1.6, merge me

#40181 README: git checkout 1.6.0 in the instructions.
  README.md
Labels: backport 1.6

#40170 [LinearAlgebra] Correct `liblapack` binding
  stdlib/LinearAlgebra/src/lapack.jl
  stdlib/LinearAlgebra/test/blas.jl
  stdlib/LinearAlgebra/test/lapack.jl
Labels: backport 1.6, linear algebra

#40176 Fix armv7l trampoline
  cli/trampolines/trampolines_arm.S
Labels: arm, backport 1.6

#40174 Remove eltype assumption from ldiv!(LowerTriangular(SparseMatrixCSC{Tv,Ti), ...)
  stdlib/SparseArrays/src/linalg.jl
  stdlib/SparseArrays/test/sparsevector.jl
Labels: bugfix, linear algebra, sparse

#39301 Support for using matrices of different types in generalized eigendecomposition
  stdlib/LinearAlgebra/src/LinearAlgebra.jl
  stdlib/LinearAlgebra/src/symmetric.jl
  stdlib/LinearAlgebra/src/symmetriceigen.jl
  stdlib/LinearAlgebra/test/eigen.jl
Labels: linear algebra

#40218 build: hotfix for #39956
  cli/Makefile
Labels: build

#40240 fix show_ir with verbose linetable
  base/compiler/ssair/show.jl
  test/show.jl
Labels: bugfix, display and printing

#40208 Fix a small bug in the TOML parser and add an example of printing to a file
  base/toml_parser.jl
  stdlib/TOML/docs/src/index.md
  stdlib/TOML/test/values.jl
Labels: TOML, backport 1.6, bugfix

#40161 Fix issue where approved credentials were not sent to git credential helpers
  stdlib/LibGit2/src/gitcredential.jl
  stdlib/LibGit2/test/libgit2.jl
Labels: backport 1.0, backport 1.5, backport 1.6, bugfix, libgit2

#40252 Reinstate support for merging modules with non-const globals.
  src/jitlayers.cpp
Labels: backport 1.6, gpu, regression

#40203 fix markdown list rendering
  stdlib/Markdown/src/render/terminal/formatting.jl
  stdlib/Markdown/test/runtests.jl
Labels: backport 1.6, bugfix, markdown

#40265 Use BINARY=64 on aarch64
  Make.inc
Labels: arm

#40245 Make `Float16(::BigFloat)` go through `Float64`
  base/mpfr.jl
Labels: bignums, bug, float16, maths

#40264 Make some constructors bold in stacktraces
  base/show.jl
Labels: backport 1.6, display and printing, error handling

#39797 remove code for inserting methods in sorted order
  src/gf.c
  src/julia_internal.h
  src/typemap.c
  test/errorshow.jl
Labels: types and dispatch

#40254 refactor IRShow
  base/compiler/ssair/show.jl
  test/show.jl
Labels: display and printing, optimizer

#40271 Fix CI: Revert "[Libdl] Use RTLD_NOLOAD when calling dlpath(::String) (#39676)"
  base/libdl.jl
Labels: regression

#40068 add stack-probes to make stack-overflow detection more reliable
  src/codegen.cpp
  test/llvmpasses/noinline.jl
Labels: codegen

#40221 add FZ16 to fpcr_fz_mask for aarch64
  src/processor_arm.cpp
Labels: arm

#40280 exempt begin and underscore from macro hygiene
  src/macroexpand.scm
  test/syntax.jl
Labels: backport 1.6, bugfix, macros

#40275 Add aliasscope expr to interpreter
  src/interpreter.c
Labels: backport 1.6

#40261 fix #40258: nested string interpolation
  src/julia-syntax.scm
  test/syntax.jl
Labels: backport 1.6, bugfix, lowering
