Repository JuliaLang/julia, pull requests merged in 2021-05, with the labels that each got.

#40659 Add compat to docstring for single-arg `isapprox`
  base/floatfuncs.jl
Labels: doc

#40663 Optimisation of getproperty for UmfpackLU object
  stdlib/SuiteSparse/src/umfpack.jl
  stdlib/SuiteSparse/test/umfpack.jl
Labels: linear algebra, performance, sparse

#40669 Document UInt return type of objectid
  base/reflection.jl
Labels: doc

#40675 Protocol change from git to https in README.md
  README.md
Labels: merge me

#40653 Set ModFlag for `Debug Info Version` to Warning
  src/codegen.cpp
Labels: codegen

#40706 Little clean-up of Bidiagonal code
  stdlib/LinearAlgebra/src/bidiag.jl
Labels: linear algebra, merge me

#40693 Fix bug in schur for zero dimension matrices
  stdlib/LinearAlgebra/src/lapack.jl
  stdlib/LinearAlgebra/test/schur.jl
Labels: bugfix, linear algebra, merge me

#40666 Replace llvm::sys::fs::F_None with llvm::sys::fs::OF_None
  src/codegen.cpp
Labels: merge me

#40692 Fix typos in calling-c-and-fortran-code.md
  doc/src/manual/calling-c-and-fortran-code.md
Labels: doc

#40567 Remove eltype check in adjtrans
  stdlib/LinearAlgebra/src/adjtrans.jl
  stdlib/LinearAlgebra/test/adjtrans.jl
Labels: linear algebra

#40668 Efficiency improvement of exp(::StridedMatrix) with UniformScaling and mul!
  stdlib/LinearAlgebra/src/dense.jl
Labels: linear algebra, performance

#40728 Add some bounds checks for `Diagonal([1])`
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/LinearAlgebra/test/diagonal.jl
Labels: bugfix, linear algebra, sparse

#40731 Five arg mul! for UniformScaling and improvement in exp!
  stdlib/LinearAlgebra/src/dense.jl
  stdlib/LinearAlgebra/src/uniformscaling.jl
  stdlib/LinearAlgebra/test/uniformscaling.jl
Labels: linear algebra, merge me

#39756 Make istriu, istril, and pinv more gpu friendly
  stdlib/LinearAlgebra/src/dense.jl
  stdlib/LinearAlgebra/src/generic.jl
  stdlib/LinearAlgebra/src/triangular.jl
Labels: gpu, linalg triage, linear algebra

#40713 Docs: What are `min` and `max` actually comparing?
  base/operators.jl
Labels: doc

#25481 updates documentation for `Test.finish`
  stdlib/Test/src/Test.jl
Labels: doc, merge me, testsystem

#40752 Fix Win resource FILEVERSION
  cli/Makefile
  contrib/windows/julia.rc
Labels: backport 1.6

#40624 REPL: fix #40247, improve `getfield` type completion
  stdlib/REPL/src/REPLCompletions.jl
  stdlib/REPL/test/replcompletions.jl
Labels: REPL, bugfix

#40736 show(::String): elide long strings (close #40724)
  NEWS.md
  base/strings/io.jl
  test/show.jl
Labels: display and printing, strings

#40716 Add logabsdet method for UmfpackLU
  stdlib/SuiteSparse/src/umfpack.jl
  stdlib/SuiteSparse/test/umfpack.jl
Labels: linear algebra, sparse

#40785 Fix inference of max_values(::Union)
  base/abstractset.jl
Labels: backport 1.6

#40729 `@something`: a short-circuiting `something`
  NEWS.md
  base/exports.jl
  base/missing.jl
  base/some.jl
  doc/src/base/base.md
  test/missing.jl
  test/some.jl
Labels: missing data

#40794 Add a few tests for generic LinearAlgebra
  stdlib/LinearAlgebra/test/generic.jl
Labels: linear algebra, test

#40806 Make `methods(join)` a bit more self documenting (accepts iterators)
  base/strings/io.jl
Labels: doc

#40811 fix typo in manual, section on interfaces
  doc/src/manual/interfaces.md
Labels: doc, merge me

#40798 Add support for printing Evaluated for <: and >:
  stdlib/Test/src/Test.jl
  stdlib/Test/test/runtests.jl
Labels: display and printing, testsystem

#40744 inference: fix missing `LimitedAccuracy` handling in `conditional_changes`
  base/compiler/abstractinterpretation.jl
  base/compiler/typelattice.jl
Labels: inference

#34308 Make issparse handle nested wrappers
  NEWS.md
  stdlib/SparseArrays/src/abstractsparse.jl
  stdlib/SparseArrays/test/sparse.jl
Labels: merge me, sparse

#40812 [Make] make clangsa work with out of tree builds
  test/Makefile
Labels: build

#40604 Enable pasted lines to switch to pkg, shell and help repl modes
  stdlib/REPL/src/REPL.jl
  stdlib/REPL/test/repl.jl
Labels: REPL

#40770 RFC move SuiteSparse to an external repository
  deps/checksums/SuiteSparse-9cfdbbd33d2d52b83b2459f670162244cc95460c.tar.gz/md5
  deps/checksums/SuiteSparse-9cfdbbd33d2d52b83b2459f670162244cc95460c.tar.gz/sha512
  stdlib/.gitignore
  stdlib/Makefile
  stdlib/SuiteSparse.version
  stdlib/SuiteSparse/Project.toml
  stdlib/SuiteSparse/docs/src/index.md
  stdlib/SuiteSparse/src/SuiteSparse.jl
  stdlib/SuiteSparse/src/cholmod.jl
  stdlib/SuiteSparse/src/cholmod_h.jl
  stdlib/SuiteSparse/src/deprecated.jl
  stdlib/SuiteSparse/src/spqr.jl
  stdlib/SuiteSparse/src/umfpack.jl
  stdlib/SuiteSparse/src/umfpack_h.jl
  stdlib/SuiteSparse/test/cholmod.jl
  stdlib/SuiteSparse/test/runtests.jl
  stdlib/SuiteSparse/test/spqr.jl
  stdlib/SuiteSparse/test/threads.jl
  stdlib/SuiteSparse/test/umfpack.jl
Labels: sparse, stdlib

#40824 Compat annotations for `@something`/`@coalesce`
  base/missing.jl
  base/some.jl
Labels: doc

#29901 Refine exception stack API
  NEWS.md
  base/client.jl
  base/deprecated.jl
  base/error.jl
  base/errorshow.jl
  base/exports.jl
  base/task.jl
  doc/src/base/base.md
  doc/src/manual/control-flow.md
  doc/src/manual/stacktraces.md
  src/stackwalk.c
  stdlib/REPL/src/REPL.jl
  stdlib/REPL/test/repl.jl
  stdlib/Serialization/src/Serialization.jl
  stdlib/Test/src/Test.jl
  stdlib/Test/src/logging.jl
  test/client.jl
  test/exceptions.jl
Labels: error handling

#40320 Make `StepRangeLen` in operations which may produce zero step
  NEWS.md
  base/broadcast.jl
  base/range.jl
  test/broadcast.jl
  test/ranges.jl
Labels: merge me, ranges

#39758 RFC: Some degree trigonometric functions, `sind`, `cosd`, `tand`, `asind` , `acosd`, `asecd`, `acsd`, `acotd`, `atand` accept a square matrix.
  NEWS.md
  base/special/trig.jl
  test/math.jl
Labels: maths

#40836 Let `sparse(::AdjOrTrans{SparseMatrixCSC})` preserve index type for sparse x
  stdlib/SparseArrays/src/sparsematrix.jl
  stdlib/SparseArrays/test/sparse.jl
Labels: sparse

#40850 faster `iseven(::BigInt)`
  base/gmp.jl
Labels: bignums, maths, merge me, performance

#39697 External Method Tables
  base/compiler/methodtable.jl
  base/experimental.jl
  base/reflection.jl
  src/codegen.cpp
  src/dump.c
  src/gf.c
  src/interpreter.c
  src/jltypes.c
  src/julia-syntax.scm
  src/julia.h
  src/julia_internal.h
  src/method.c
  stdlib/Serialization/src/Serialization.jl
  stdlib/Test/src/Test.jl
  test/ambiguous.jl
  test/compiler/contextual.jl
Labels: feature

#40862 Revert "External Method Tables"
  base/compiler/methodtable.jl
  base/experimental.jl
  base/reflection.jl
  src/codegen.cpp
  src/dump.c
  src/gf.c
  src/interpreter.c
  src/jltypes.c
  src/julia-syntax.scm
  src/julia.h
  src/julia_internal.h
  src/method.c
  stdlib/Serialization/src/Serialization.jl
  stdlib/Test/src/Test.jl
  test/ambiguous.jl
  test/compiler/contextual.jl
Labels: merge me

#40864 fix #40855, alignment calculation in `julia_const_to_llvm`
  src/intrinsics.cpp
  test/compiler/codegen.jl
Labels: backport 1.6, bugfix, codegen

#40847 Fix #40846, wrong results from `Float64 .* StepRange`
  base/broadcast.jl
  test/ranges.jl
Labels: bugfix, ranges

#36094 Document Fix1 and Fix2
  doc/src/base/base.md
Labels: doc, forgetmenot

#40826 Move analyzegc pipeline to buildkite
  .buildkite/pipeline.yml
Labels: ci

#40881 restore performance of `hash` for `BigInt` and `Rational{BigInt}`
  base/gmp.jl
Labels: backport 1.6, bignums, hashing, merge me, performance

#40879 improve hashing performance for uuid
  base/uuid.jl
Labels: hashing, performance

#40832 inference: form conditional constraint from non-`Conditional` object
  base/compiler/abstractinterpretation.jl
  test/compiler/inference.jl
Labels: inference

#40883 Update editors and IDEs
  README.md
Labels: doc

#40835 Added string literal docs
  base/docs/basedocs.jl
Labels: doc

#33697 Syntax for multidimensional arrays
  NEWS.md
  base/abstractarray.jl
  base/arrayshow.jl
  base/exports.jl
  base/reducedim.jl
  doc/src/base/arrays.md
  doc/src/devdocs/ast.md
  doc/src/manual/arrays.md
  src/ast.scm
  src/julia-parser.scm
  src/julia-syntax.scm
  test/abstractarray.jl
  test/offsetarray.jl
  test/show.jl
  test/syntax.jl
Labels: forgetmenot, minor change, parser

#40896 Correct the error in doc of workers()
  stdlib/Distributed/src/cluster.jl
Labels: doc

#40885 make ssair output consistent with #40869
  base/compiler/ssair/show.jl
  doc/src/devdocs/reflection.md
Labels: display and printing

#40877 Make `broadcastable` treat `Char` like `Number`
  base/broadcast.jl
  base/multidimensional.jl
  test/char.jl
Labels: broadcast

#40889 remove separate verbose IRCode lineprinter
  base/compiler/ssair/show.jl
  test/show.jl
Labels: display and printing

#40895 Faster `dropdims`
  base/abstractarraymath.jl
Labels: arrays, performance

#40897 Adjust LQ show to other factorizations
  stdlib/LinearAlgebra/src/lq.jl
  stdlib/LinearAlgebra/test/lq.jl
Labels: display and printing, linear algebra

#40780 change setup_stdio default method to support any IO
  base/cmd.jl
  base/filesystem.jl
  base/process.jl
  base/stream.jl
  test/spawn.jl
Labels: I/O

#40900 Fix issue with concatenating strings and arrays together
  base/abstractarray.jl
  test/abstractarray.jl
Labels: arrays, bugfix

#40903 Disallow space-separated semicolons in array expression
  src/julia-parser.scm
  test/syntax.jl
Labels: arrays, parser

#40800 add brief cat matrix doctests
  base/abstractarray.jl
Labels: doc, merge me

#40868 LinearAlgebra: Add bareiss det for BigInt Matrices (#40128) :: Take 2
  NEWS.md
  stdlib/LinearAlgebra/src/generic.jl
  stdlib/LinearAlgebra/test/generic.jl
Labels: bignums, linear algebra, maths, merge me

#40914 [docs] add a missing space
  doc/src/manual/distributed-computing.md
Labels: doc

#40774 [LLVM] Update to LLVM 12
  Makefile
  deps/Versions.make
  deps/checksums/clang
  deps/checksums/llvm
  deps/llvm.mk
  src/aotcompile.cpp
  src/codegen.cpp
  src/features_aarch64.h
  src/processor_arm.cpp
  src/sys.c
  stdlib/libLLVM_jll/Project.toml
  stdlib/libLLVM_jll/src/libLLVM_jll.jl
Labels: upstream

#40928 ccall docs: Fix typo in Indirect Calls section
  doc/src/manual/calling-c-and-fortran-code.md
Labels: doc

#40938 Fix ryu tests from doing @show to @test
  test/ryu.jl
Labels: backport 1.6

#40920 Remove confusion between libsuitesparse the C library and SuiteSparse the stdlib
  Make.inc
  Makefile
  base/Makefile
  contrib/refresh_checksums.mk
  deps/Makefile
  deps/Versions.make
  deps/libsuitesparse.mk
  deps/suitesparse.mk
  stdlib/Makefile
Labels: build, linear algebra, sparse

#40844 bump SuiteSparse.jl version
  deps/checksums/SuiteSparse-9cfdbbd33d2d52b83b2459f670162244cc95460c.tar.gz/md5
  deps/checksums/SuiteSparse-9cfdbbd33d2d52b83b2459f670162244cc95460c.tar.gz/sha512
  deps/checksums/SuiteSparse-ec4b40ad9c0490ebf0969a41d4f880620db3f6f9.tar.gz/md5
  deps/checksums/SuiteSparse-ec4b40ad9c0490ebf0969a41d4f880620db3f6f9.tar.gz/sha512
  stdlib/SuiteSparse.version
Labels: sparse, stdlib

#40561 inference: Relax constprop recursion detection
  base/compiler/abstractinterpretation.jl
  test/compiler/inference.jl
Labels: inference, merge me

#40867 Add expm1(::Float16)
  base/special/exp.jl
  test/math.jl
Labels: bugfix, embarrassing-bugfix, float16, maths

#40948 make \minus equivalent to - operator #26193
  NEWS.md
  doc/src/manual/variables.md
  src/flisp/julia_charmap.h
  src/julia-parser.scm
  test/syntax.jl
Labels: parser, triage, unicode

#40545 RFC: add `and` and `or` suggestions to UndefVarError, per #37469
  base/errorshow.jl
  stdlib/REPL/src/REPLCompletions.jl
Labels: REPL, error messages, triage

#40220 Showing raw machine code along with disassembled code
  src/disasm.cpp
  src/jitlayers.cpp
  src/julia_internal.h
  stdlib/InteractiveUtils/src/codeview.jl
  stdlib/InteractiveUtils/test/runtests.jl
  test/reflection.jl
Labels: triage

#36229 add keepat! (the opposite of deleteat!)
  NEWS.md
  base/abstractarray.jl
  base/exports.jl
  doc/src/base/collections.md
  test/abstractarray.jl
Labels: arrays, design, forgetmenot

#40976 fix keepat! doctest
  base/abstractarray.jl
Labels: merge me

#40558 Explicit test that `shuffle!` behaves correct on `BitArray`s
  stdlib/Random/Project.toml
  stdlib/Random/test/runtests.jl
Labels: RNG, test

#40623 Replace Val-types by singleton types in `lu` and `qr`
  NEWS.md
  stdlib/LinearAlgebra/src/LinearAlgebra.jl
  stdlib/LinearAlgebra/src/dense.jl
  stdlib/LinearAlgebra/src/factorization.jl
  stdlib/LinearAlgebra/src/generic.jl
  stdlib/LinearAlgebra/src/lu.jl
  stdlib/LinearAlgebra/src/qr.jl
  stdlib/LinearAlgebra/test/diagonal.jl
  stdlib/LinearAlgebra/test/generic.jl
  stdlib/LinearAlgebra/test/lq.jl
  stdlib/LinearAlgebra/test/lu.jl
  stdlib/LinearAlgebra/test/qr.jl
  stdlib/LinearAlgebra/test/special.jl
  stdlib/LinearAlgebra/test/uniformscaling.jl
Labels: linear algebra

#40401 RFC: [doc] drop colon in See also text
  base/abstractarray.jl
  base/array.jl
  base/char.jl
  base/div.jl
  base/initdefs.jl
  base/intfuncs.jl
  base/io.jl
  base/iterators.jl
  base/libc.jl
  base/mpfr.jl
  base/operators.jl
  base/pair.jl
  base/path.jl
  base/permuteddimsarray.jl
  base/pointer.jl
  base/range.jl
  base/shell.jl
  base/sort.jl
  base/stat.jl
  base/strings/basic.jl
  base/strings/io.jl
  base/strings/search.jl
  base/strings/unicode.jl
  base/sysinfo.jl
  base/threads_overloads.jl
  doc/src/manual/documentation.md
  stdlib/InteractiveUtils/src/editless.jl
  stdlib/LinearAlgebra/src/dense.jl
  stdlib/LinearAlgebra/src/givens.jl
  stdlib/Printf/src/Printf.jl
  stdlib/Sockets/src/addrinfo.jl
  stdlib/SparseArrays/src/sparsematrix.jl
  stdlib/TOML/src/TOML.jl
Labels: doc, merge me

#40067 fix unsoundness in fieldtype of Tuple with non-Type params
  base/compiler/tfuncs.jl
  src/jltypes.c
  test/compiler/inference.jl
Labels: backport 1.6, bugfix, inference

#40943 Fix suitesparse checksum refresh naming mismatch
  contrib/refresh_checksums.mk
Labels: build, sparse

#40968 gcd and lcm fixed for one negative argument
  base/intfuncs.jl
  test/intfuncs.jl
  test/rational.jl
Labels: bugfix, maths

#36879 RFC: Add information to passing tests
  stdlib/Test/docs/src/index.md
  stdlib/Test/src/Test.jl
  stdlib/Test/src/logging.jl
  stdlib/Test/test/runtests.jl
  test/runtests.jl
Labels: forgetmenot

#40977 fix #40964, bad kwarg lowering for vararg with default value
  src/julia-syntax.scm
  test/keywordargs.jl
Labels: backport 1.6, bugfix, lowering

#40998 Remove SuiteSparse_wrapper and winclang patch
  Makefile
  deps/Makefile
  deps/SuiteSparse_wrapper.c
  deps/Versions.make
  deps/checksums/suitesparse
  deps/libsuitesparse.mk
  deps/patches/SuiteSparse-winclang.patch
  stdlib/SuiteSparse_jll/Project.toml
  stdlib/SuiteSparse_jll/src/SuiteSparse_jll.jl
  stdlib/SuiteSparse_jll/test/runtests.jl
Labels: sparse

#40899 Make adjoint and solve work for most factorizations
  stdlib/LinearAlgebra/src/LinearAlgebra.jl
  stdlib/LinearAlgebra/src/bunchkaufman.jl
  stdlib/LinearAlgebra/src/cholesky.jl
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/LinearAlgebra/src/factorization.jl
  stdlib/LinearAlgebra/src/hessenberg.jl
  stdlib/LinearAlgebra/src/ldlt.jl
  stdlib/LinearAlgebra/src/lq.jl
  stdlib/LinearAlgebra/src/qr.jl
  stdlib/LinearAlgebra/src/svd.jl
  stdlib/LinearAlgebra/test/bunchkaufman.jl
  stdlib/LinearAlgebra/test/cholesky.jl
  stdlib/LinearAlgebra/test/hessenberg.jl
  stdlib/LinearAlgebra/test/lq.jl
  stdlib/LinearAlgebra/test/qr.jl
  stdlib/LinearAlgebra/test/svd.jl
  stdlib/LinearAlgebra/test/tridiag.jl
Labels: forgetmenot, linear algebra

#40988 Conversion methods sparse matrix -> special linalg type
  stdlib/SparseArrays/src/SparseArrays.jl
  stdlib/SparseArrays/src/sparsematrix.jl
  stdlib/SparseArrays/test/sparse.jl
Labels: sparse

#40942 Relax eltype condition in `rdiv!` with `Diagonal`
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/LinearAlgebra/test/diagonal.jl
Labels: linear algebra

#40979 Some improvements to Logging stdlib docs.
  base/logging.jl
  stdlib/Logging/docs/src/index.md
  stdlib/Logging/src/Logging.jl
Labels: doc, logging

#41006 pinv now works for hermitian matrices.
  stdlib/LinearAlgebra/src/dense.jl
  stdlib/LinearAlgebra/src/symmetric.jl
  stdlib/LinearAlgebra/test/pinv.jl
  stdlib/LinearAlgebra/test/svd.jl
Labels: bugfix, linear algebra

#40991 Allow exponentiation of `Diagonal{*Range}`
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/LinearAlgebra/test/diagonal.jl
Labels: linear algebra

#40573 constructor for complex triangular Schur from real quasitriangular Schur
  NEWS.md
  stdlib/LinearAlgebra/src/dense.jl
  stdlib/LinearAlgebra/src/schur.jl
  stdlib/LinearAlgebra/test/schur.jl
Labels: linear algebra

#41023 Unify `nullspace` for VecOrMat
  stdlib/LinearAlgebra/src/dense.jl
  stdlib/LinearAlgebra/test/dense.jl
Labels: linear algebra

#41028 fix typo in binaryplatforms.jl
  test/binaryplatforms.jl
Labels: merge me

#41015 relaxed eltype for ldiv! and rdiv! methods
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/LinearAlgebra/test/diagonal.jl
Labels: linear algebra

#39463 More detailed StatStruct show
  base/filesystem.jl
  base/libc.jl
  base/reflection.jl
  base/stat.jl
  src/sys.c
  test/file.jl
Labels: display and printing

#41008 REPL install hook: Exclude special non-package modules when checking for installed packages
  stdlib/REPL/src/REPL.jl
  stdlib/REPL/test/repl.jl
Labels: REPL

#41016 Fix methodswith consistency
  stdlib/InteractiveUtils/src/InteractiveUtils.jl
  stdlib/InteractiveUtils/test/runtests.jl
Labels: merge me

#41026 using BLAS.vendor() now shows warning.
  stdlib/LinearAlgebra/src/blas.jl
Labels: merge me

#41012 faster `+(::BigInt...)` for more than 5 arguments
  base/gmp.jl
  test/gmp.jl
Labels: bignums, performance
