Repository JuliaLang/julia, pull requests merged in 2021-06, with the labels that each got.

#40546 task-local xoshiro rebased
  NEWS.md
  doc/src/devdocs/subarrays.md
  doc/src/manual/performance-tips.md
  src/jltypes.c
  src/julia.h
  src/task.c
  stdlib/LinearAlgebra/test/bunchkaufman.jl
  stdlib/LinearAlgebra/test/cholesky.jl
  stdlib/LinearAlgebra/test/dense.jl
  stdlib/LinearAlgebra/test/eigen.jl
  stdlib/LinearAlgebra/test/lu.jl
  stdlib/LinearAlgebra/test/qr.jl
  stdlib/LinearAlgebra/test/uniformscaling.jl
  stdlib/Random/docs/src/index.md
  stdlib/Random/src/RNGs.jl
  stdlib/Random/src/Random.jl
  stdlib/Random/src/Xoshiro.jl
  stdlib/Random/src/XoshiroSimd.jl
  stdlib/Random/src/misc.jl
  stdlib/Random/src/normal.jl
  stdlib/Random/test/runtests.jl
  stdlib/SparseArrays/src/sparsematrix.jl
  stdlib/SparseArrays/test/sparse.jl
  stdlib/Test/src/Test.jl
  stdlib/Test/test/runtests.jl
  test/error.jl
  test/threads_exec.jl
Labels: RNG, multithreading, needs docs

#41037 LinearAlgebra: specialize is{hermitian,symmetric} for {Sym,}Tridiagonal
  stdlib/LinearAlgebra/src/tridiag.jl
  stdlib/LinearAlgebra/test/tridiag.jl
Labels: linear algebra

#40765 Add support for new Manifest.toml format during code load
  base/loading.jl
  test/loading.jl
  test/manifest/v1.0/Manifest.toml
  test/manifest/v2.0/Manifest.toml
Labels: backport 1.6

#41029 Explain properties of the `lt` keyword for sorting
  base/sort.jl
Labels: doc

#40935 speed up `hash(::Symbol)`
  base/hashing.jl
  src/ccall.cpp
  src/symbol.c
Labels: merge me, performance

#41046 codegen: fixing union isbits comparison UB
  src/codegen.cpp
  test/compiler/codegen.jl
Labels: backport 1.6, codegen

#41048 optimizer: add missing bounds checks to avoid ICE
  base/compiler/ssair/passes.jl
  test/compiler/inference.jl
Labels: backport 1.6, optimizer

#41060 fix for StatStruct show test from #39463
  test/file.jl
Labels: merge me

#40453 alter array alloc threshold to remove O(n^2) behavior
  src/array.c
  src/init.c
  src/julia_internal.h
Labels: arrays, merge me, performance

#37847 Add some support for atomic operations on mutable fields and Ptrs
  Make.inc
  NEWS.md
  base/Base.jl
  base/boot.jl
  base/compiler/compiler.jl
  base/compiler/ssair/ir.jl
  base/compiler/ssair/passes.jl
  base/compiler/tfuncs.jl
  base/condition.jl
  base/docs/basedocs.jl
  base/essentials.jl
  base/exports.jl
  base/expr.jl
  base/meta.jl
  base/show.jl
  doc/src/base/multi-threading.md
  doc/src/manual/multi-threading.md
  src/array.c
  src/ast.c
  src/ast.scm
  src/atomics.h
  src/builtin_proto.h
  src/builtins.c
  src/cgutils.cpp
  src/codegen.cpp
  src/datatype.c
  src/dump.c
  src/gc.c
  src/gf.c
  src/init.c
  src/intrinsics.cpp
  src/intrinsics.h
  src/ircode.c
  src/jl_exported_data.inc
  src/jltypes.c
  src/julia-syntax.scm
  src/julia.h
  src/julia_internal.h
  src/llvm-late-gc-lowering.cpp
  src/locks.h
  src/method.c
  src/module.c
  src/partr.c
  src/rtutils.c
  src/runtime_intrinsics.c
  src/safepoint.c
  src/stackwalk.c
  src/staticdata.c
  src/toplevel.c
  stdlib/Serialization/src/Serialization.jl
  test/atomics.jl
  test/choosetests.jl
  test/compiler/inference.jl
  test/core.jl
  test/intrinsics.jl
Labels: merge me, multithreading

#40753 allow escaping newlines with `\` inside strings
  NEWS.md
  base/shell.jl
  doc/src/manual/strings.md
  src/julia-parser.scm
  test/syntax.jl
Labels: minor change, needs docs, parser, strings

#41062 cat: remove incorrect inbounds/inline annotations
  base/abstractarray.jl
  stdlib/LinearAlgebra/src/LinearAlgebra.jl
  test/abstractarray.jl
Labels: arrays

#35235 some inlining cost model updates
  base/compiler/optimize.jl
  base/compiler/tfuncs.jl
Labels: optimizer

#41073 fix char-broadcast PR to work with AbstractChar
  base/broadcast.jl
  base/multidimensional.jl
Labels: broadcast

#41087 Fixed @boundscheck warning to refer to axes instead of size
  base/essentials.jl
Labels: doc, merge me

#41021 Remove the type constraint on `sincosd`
  base/special/trig.jl
Labels: merge me

#39607 Make Iterators.peel return nothing when itr empty
  NEWS.md
  base/iterators.jl
  test/iterators.jl
Labels: iteration, merge me

#41083 Return rhs in ldiv! for SVD and add a test
  stdlib/LinearAlgebra/src/svd.jl
  stdlib/LinearAlgebra/test/svd.jl
Labels: backport 1.6, linear algebra, test

#41072 support Ref in has_fast_linear_indexing
  base/reducedim.jl
  test/broadcast.jl
Labels: broadcast

#41045 remove type specification in the generic __normalize!
  stdlib/LinearAlgebra/src/generic.jl
Labels: linear algebra

#41089 LinearAlgebra: ignore S.ev[length(S.dv)] in ishermitian(S:SymTridiagonal)
  stdlib/LinearAlgebra/src/tridiag.jl
  stdlib/LinearAlgebra/test/tridiag.jl
Labels: linear algebra

#40893 faster `mergewith!`
  base/abstractdict.jl
  base/dict.jl
  test/dict.jl
Labels: forgetmenot, performance

#41079 TOML: fix some printing of special characters
  stdlib/TOML/src/print.jl
  stdlib/TOML/test/print.jl
Labels: backport 1.6, stdlib

#41103 Code coverage: tell Codecov to ignore all external stdlibs
  codecov.yml
Labels: ci, stdlib

#41080 AbstractInterpreter: introduce `OptimizationState` only when the optimization is turned on
  base/compiler/optimize.jl
  base/compiler/typeinfer.jl
Labels: optimizer

#41113 Fix embarrassing bug in jl_copy_ast
  src/ast.c
Labels: bugfix, embarrassing-bugfix

#41081 optimizer: organize code and more strongly type `OptimizationState.ir`
  base/compiler/optimize.jl
  base/compiler/ssair/driver.jl
Labels: optimizer

#41110 Loosen test tolerance when testing lu with BigFloats
  stdlib/LinearAlgebra/test/lu.jl
Labels: linear algebra, test

#41105 add Xoshiro(seed) constructor, and extend some tests to Xoshiro
  stdlib/Random/src/Xoshiro.jl
  stdlib/Random/test/runtests.jl
Labels: RNG

#41112 Revert "Code coverage: tell Codecov to ignore all external stdlibs"
  codecov.yml
Labels: ci, stdlib

#40813 Shift Dates parsing docs to default to `dateformat""`
  stdlib/Dates/docs/src/index.md
  stdlib/Dates/src/io.jl
Labels: dates, doc

#39544 fix definition of open I/O to Process
  base/process.jl
  base/shell.jl
  test/read.jl
Labels: I/O, ci, merge me, minor change

#39044 Fix #38256 (lpad/rpad defined in terms of textwidth)
  NEWS.md
  base/strings/util.jl
  test/strings/util.jl
Labels: merge me, strings

#37898 Add 3-arg * methods
  stdlib/LinearAlgebra/src/matmul.jl
  stdlib/LinearAlgebra/test/matmul.jl
Labels: linear algebra, merge me, performance

#40484 implement replace on String for multiple patterns
  NEWS.md
  base/regex.jl
  base/set.jl
  base/strings/util.jl
  test/strings/util.jl
Labels: strings

#39795 repr: update docstring for possible values of the context argument
  base/strings/io.jl
Labels: display and printing

#41011 simpler and faster `deepcopy_internal` for `BigInt` and `BigFloat`
  base/gmp.jl
  base/mpfr.jl
Labels: bignums

#40848 trunc: clarify docstring and add examples
  base/float.jl
  base/int.jl
Labels: doc, maths

#41136 Fix typo in `eigen!` docstring
  stdlib/LinearAlgebra/src/eigen.jl
Labels: doc, linear algebra

#41123 add missing method for `rand(::_GLOBAL_RNG)`
  stdlib/Random/src/RNGs.jl
  stdlib/Random/test/runtests.jl
Labels: RNG, bugfix, merge me

#41120 Added a method to broaden schur for adjoint and transpose.
  stdlib/LinearAlgebra/src/schur.jl
  stdlib/LinearAlgebra/test/schur.jl
Labels: linear algebra, merge me

#41148 Fix show of StatStruct
  base/stat.jl
  test/file.jl
Labels: bugfix, display and printing

#41122 Set VERSION to 1.8.0-DEV, move 1.7 NEWS to HISTORY
  HISTORY.md
  NEWS.md
  VERSION
Labels: release

#41140 document getindex() with range of length 1.
  doc/src/manual/arrays.md
Labels: arrays, doc, merge me

#40110 Allow modules to optionally import nothing at all
  NEWS.md
  base/boot.jl
  doc/src/manual/modules.md
  src/module.c
  test/core.jl
Labels: merge me

#41167 Fix pipe operator row not rendering correctly
  doc/src/base/punctuation.md
Labels: doc

#41149 Add world age and interpreter arguments to code_warntype.
  stdlib/InteractiveUtils/src/codeview.jl
  test/reflection.jl
Labels: backport 1.7

#41067 sometimes faster `rand(::Xoshiro, ::UnitRange{Int128})`
  stdlib/Random/src/generation.jl
Labels: RNG, performance

#41014 faster `prod(::Array{BigInt})`
  base/gmp.jl
  test/gmp.jl
Labels: bignums, merge me, performance

#41179 [release-1.7] Bump the Pkg stdlib from b8bea6c6 to b2b215e0 (#41175)
  deps/checksums/Pkg-b2b215e098550c22e0e694890f964ed14299e4ba.tar.gz/md5
  deps/checksums/Pkg-b2b215e098550c22e0e694890f964ed14299e4ba.tar.gz/sha512
  deps/checksums/Pkg-b8bea6c6e21c3cd54cebc465d842dd6c5137d9f9.tar.gz/md5
  deps/checksums/Pkg-b8bea6c6e21c3cd54cebc465d842dd6c5137d9f9.tar.gz/sha512
  stdlib/Pkg.version
Labels: release, stdlib

#41106 simplify seeding for Xoshiro/TaskLocalRNG/GLOBAL_RNG
  stdlib/Random/src/RNGs.jl
  stdlib/Random/src/Xoshiro.jl
  stdlib/Random/test/runtests.jl
Labels: RNG, backport 1.7

#41207 Tests for flaot16 cube root
  test/float16.jl
Labels: float16, maths, test

#41184 Bump Documenter to 0.27.0
  doc/Manifest.toml
Labels: backport 1.6, backport 1.7, doc

#41150 make `show(::SparseMatrixCSC)` more consistent
  stdlib/SparseArrays/src/sparsematrix.jl
  stdlib/SparseArrays/test/sparse.jl
  test/show.jl
Labels: backport 1.7, display and printing, sparse

#41195 `hvncat`: Extended docstring, reorganized helper methods, more consistent error throwing
  base/abstractarray.jl
Labels: arrays, backport 1.7, doc, merge me

#41189 doc for property destructuring
  doc/src/manual/functions.md
Labels: doc, merge me

#41132 fix equality of eigen factorizations
  stdlib/LinearAlgebra/src/eigen.jl
  stdlib/LinearAlgebra/test/eigen.jl
Labels: backport 1.7, linear algebra, regression

#41174 Fixes for overlay tables
  base/experimental.jl
  src/toplevel.c
  test/compiler/contextual.jl
Labels: backport 1.7

#41177 clarify ArgumentError docstring
  base/docs/basedocs.jl
Labels: doc

#41178 fix #34288, method errors in nothrow inference of division intrinsics
  base/compiler/tfuncs.jl
  test/compiler/inference.jl
Labels: backport 1.7, bugfix, optimizer

#41169 Fix `in(x, ::AbstractRange)` for `NaN`/`Inf`
  base/range.jl
  test/ranges.jl
Labels: backport 1.6, backport 1.7, bugfix

#41205 Doc: Proper attribution
  src/task.c
  stdlib/Random/src/Xoshiro.jl
Labels: doc

#41194 `hvncat`: enable concatenations to return an array of the same kind
  base/abstractarray.jl
  test/bitarray.jl
Labels: arrays, backport 1.7

#41229 Fix `Rational{T}` constructor for abstract `T`
  base/rational.jl
  test/rational.jl
Labels: backport 1.6, backport 1.7, bugfix

#41203 reverse search fix
  base/strings/search.jl
  test/strings/search.jl
  test/strings/util.jl
Labels: backport 1.6, bugfix

#40182 choosetests: move testnames array at top-level
  test/choosetests.jl
Labels: testsystem

#41198 several small changes to documentation for multi-dimensional arrays
  doc/src/manual/arrays.md
  doc/src/manual/faq.md
Labels: arrays, doc

#40999 Document `map` on multi-dimensional arrays
  base/abstractarray.jl
Labels: doc, merge me

#41239 Stdlib JLLs: add `Test` to the list of test-only dependencies
  stdlib/CompilerSupportLibraries_jll/Project.toml
  stdlib/GMP_jll/Project.toml
  stdlib/LLVMLibUnwind_jll/Project.toml
  stdlib/LibGit2_jll/Project.toml
  stdlib/LibSSH2_jll/Project.toml
  stdlib/LibUV_jll/Project.toml
  stdlib/LibUnwind_jll/Project.toml
  stdlib/MPFR_jll/Project.toml
  stdlib/MbedTLS_jll/Project.toml
  stdlib/OpenBLAS_jll/Project.toml
  stdlib/OpenLibm_jll/Project.toml
  stdlib/PCRE2_jll/Project.toml
  stdlib/SuiteSparse_jll/Project.toml
  stdlib/Zlib_jll/Project.toml
  stdlib/dSFMT_jll/Project.toml
  stdlib/libLLVM_jll/Project.toml
  stdlib/libblastrampoline_jll/Project.toml
  stdlib/nghttp2_jll/Project.toml
  stdlib/p7zip_jll/Project.toml
Labels: stdlib JLLs, test

#41187 Fix some inferability issues in SparseArrays
  stdlib/SparseArrays/src/sparsematrix.jl
  stdlib/SparseArrays/src/sparsevector.jl
  stdlib/SparseArrays/test/sparse.jl
Labels: inference, sparse

#41085 use `textwidth` in Printf for `%s` and `%c` widths
  NEWS.md
  stdlib/Printf/src/Printf.jl
  stdlib/Printf/test/runtests.jl
Labels: display and printing, unicode

#41188 Remove many `*`/`mul!` methods for AdjOrTrans of sym/herm/diag/triangular
  stdlib/LinearAlgebra/src/bidiag.jl
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/LinearAlgebra/src/givens.jl
  stdlib/LinearAlgebra/src/symmetric.jl
  stdlib/LinearAlgebra/test/diagonal.jl
  stdlib/LinearAlgebra/test/symmetric.jl
Labels: linear algebra

#41151 1.7: Set VERSION to 1.7.0-beta1
  VERSION
Labels: release

#41256 [buildkite] Implement secrets encryption and sandboxing
  .buildkite/0_webui.yml
  .buildkite/cryptic_repo_keys/README.md
  .buildkite/cryptic_repo_keys/repo_key.2297e5e7
  .buildkite/llvm_passes.yml
  .buildkite/pipeline.yml
  .buildkite/rootfs_images/Manifest.toml
  .buildkite/rootfs_images/Project.toml
  .buildkite/rootfs_images/README.md
  .buildkite/rootfs_images/llvm-passes.jl
  .buildkite/rootfs_images/rootfs_utils.jl
  .buildkite/signed_pipeline_test.yml
Labels: ci

#41254 Backports for 1.7-beta2
  base/abstractarray.jl
  base/compiler/tfuncs.jl
  base/experimental.jl
  base/expr.jl
  base/range.jl
  base/rational.jl
  base/strings/search.jl
  deps/checksums/Pkg-13ed9373de1c6da3952ed6db99b1bac37d8deedc.tar.gz/md5
  deps/checksums/Pkg-13ed9373de1c6da3952ed6db99b1bac37d8deedc.tar.gz/sha512
  deps/checksums/Pkg-81af75b902586919a858f06949b7c9e6121f1629.tar.gz/md5
  deps/checksums/Pkg-81af75b902586919a858f06949b7c9e6121f1629.tar.gz/sha512
  deps/checksums/Statistics-4b3ef9aaa79350510ca0be395458f66051c2f92d.tar.gz/md5
  deps/checksums/Statistics-4b3ef9aaa79350510ca0be395458f66051c2f92d.tar.gz/sha512
  deps/checksums/Statistics-54f9b0d999813aa9fab039f632df222ffd2a96a8.tar.gz/md5
  deps/checksums/Statistics-54f9b0d999813aa9fab039f632df222ffd2a96a8.tar.gz/sha512
  doc/Manifest.toml
  src/toplevel.c
  stdlib/InteractiveUtils/src/codeview.jl
  stdlib/LinearAlgebra/src/eigen.jl
  stdlib/LinearAlgebra/test/eigen.jl
  stdlib/Pkg.version
  stdlib/Random/src/RNGs.jl
  stdlib/Random/src/Xoshiro.jl
  stdlib/Random/test/runtests.jl
  stdlib/SparseArrays/src/sparsematrix.jl
  stdlib/SparseArrays/test/sparse.jl
  stdlib/Statistics.version
  test/atomics.jl
  test/bitarray.jl
  test/compiler/contextual.jl
  test/compiler/inference.jl
  test/ranges.jl
  test/rational.jl
  test/reflection.jl
  test/show.jl
  test/strings/search.jl
  test/strings/util.jl
Labels: release

#40980 Export standard log levels from Logging stdlib.
  NEWS.md
  base/show.jl
  doc/src/manual/environment-variables.md
  stdlib/Logging/docs/src/index.md
  stdlib/Logging/src/Logging.jl
  stdlib/Logging/test/runtests.jl
  stdlib/Test/src/logging.jl
Labels: logging

#41250 Update Documenter to 0.27.2.
  doc/Manifest.toml
Labels: docsystem

#41255 fix emit_f_is to be safepoint-free, like jl_egal
  src/builtins.c
  src/cgutils.cpp
  src/codegen.cpp
  src/julia.h
  src/llvm-late-gc-lowering.cpp
Labels: backport 1.7, codegen

#41248 Added function to compute Diagonal*F.Q' and faster methods for other variants.
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/LinearAlgebra/src/special.jl
  stdlib/LinearAlgebra/test/qr.jl
  stdlib/LinearAlgebra/test/special.jl
Labels: linear algebra

#41247 allocate small strings in 8-byte-aligned pools
  src/array.c
  src/gc.c
  src/julia_internal.h
  src/julia_threads.h
Labels: performance, strings

#41259 fix #41253, parse error in `function (::T{})`
  src/julia-parser.scm
  test/syntax.jl
Labels: backport 1.7, bugfix, parser

#41277 fix handling of MethodTable in precompile files
  src/dump.c
Labels: backport 1.7, precompile

#40831 make AbstractArray{T}(...) constructor in LinearAlgebra more consistent
  stdlib/LinearAlgebra/src/LinearAlgebra.jl
  stdlib/LinearAlgebra/src/adjtrans.jl
  stdlib/LinearAlgebra/src/dense.jl
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/LinearAlgebra/src/factorization.jl
  stdlib/LinearAlgebra/src/givens.jl
  stdlib/LinearAlgebra/src/hessenberg.jl
  stdlib/LinearAlgebra/src/lu.jl
  stdlib/LinearAlgebra/src/qr.jl
  stdlib/LinearAlgebra/src/schur.jl
  stdlib/LinearAlgebra/src/triangular.jl
  stdlib/LinearAlgebra/src/tridiag.jl
  stdlib/LinearAlgebra/test/adjtrans.jl
  stdlib/LinearAlgebra/test/bidiag.jl
  stdlib/LinearAlgebra/test/diagonal.jl
  stdlib/LinearAlgebra/test/hessenberg.jl
  stdlib/LinearAlgebra/test/lu.jl
  stdlib/LinearAlgebra/test/symmetric.jl
  stdlib/LinearAlgebra/test/triangular.jl
  stdlib/LinearAlgebra/test/tridiag.jl
  test/testhelpers/ImmutableArrays.jl
Labels: arrays, linear algebra

#41252 Avoid unwrapping-wrapping combination in LinearAlgebra
  stdlib/LinearAlgebra/src/bidiag.jl
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/LinearAlgebra/src/lq.jl
  stdlib/LinearAlgebra/src/matmul.jl
  stdlib/LinearAlgebra/src/qr.jl
  stdlib/LinearAlgebra/src/special.jl
  stdlib/LinearAlgebra/src/symmetric.jl
  stdlib/LinearAlgebra/src/tridiag.jl
  stdlib/SparseArrays/src/linalg.jl
  stdlib/SparseArrays/src/sparsevector.jl
Labels: linear algebra

#41274 release-1.7: Set VERSION to 1.7.0-beta2
  VERSION
Labels: release

#41238 Transition the `coverage-linux64` pipeline to Buildkite
  .buildkite/coverage-linux64/0_webui.yml
  .buildkite/coverage-linux64/README.md
  .buildkite/coverage-linux64/pipeline.yml
  .buildkite/coverage-linux64/run_tests_base.jl
  .buildkite/coverage-linux64/upload_coverage.jl
Labels: build, ci, linux

#41282 Remove cmp argument from replacefield! docstring
  base/docs/basedocs.jl
Labels: backport 1.7

#41294 fix preference loading for non string value
  base/loading.jl
Labels: backport 1.6, backport 1.7, bugfix

#41305 Fix typeassert in worker-worker connection, fixes #41155.
  stdlib/Distributed/src/cluster.jl
Labels: backport 1.6, backport 1.7, bugfix, parallel

#41308 Fix inability to find support/{platform,dirpath}.h from julia_fasttls.h.
  src/julia_fasttls.h
Labels: backport 1.7, bugfix

#41309 Drop parens from JULIA_DEFINE_FAST_TLS in embedding.{c,md} to match recent redefinition.
  doc/src/manual/embedding.md
  test/embedding/embedding.c
Labels: backport 1.7, bugfix

#41322 [OpenBLAS_jll] Bump to `v0.3.13+6`
  deps/checksums/openblas
  deps/openblas.mk
  deps/patches/openblas-Only-filter-out-mavx-on-Sandybridge.patch
  deps/patches/openblas-filter-out-mavx-flag-on-zgemm-kernels.patch
  stdlib/OpenBLAS_jll/Project.toml
Labels: backport 1.7

#41297 Mild clean-up of triangular.jl
  stdlib/LinearAlgebra/src/bidiag.jl
  stdlib/LinearAlgebra/src/triangular.jl
  stdlib/LinearAlgebra/test/bidiag.jl
  stdlib/LinearAlgebra/test/triangular.jl
Labels: linear algebra

#41115 inference: Add some basic inference for PhiNode
  base/compiler/abstractinterpretation.jl
  base/compiler/optimize.jl
  base/compiler/typeinfer.jl
  base/compiler/utilities.jl
  src/codegen.cpp
  test/compiler/inference.jl
Labels: merge me

#41341 change doc for seed! thread-local -> task-local
  stdlib/Random/src/Random.jl
Labels: backport 1.7, doc

#41315 Fix #41299 - Dropped error case in :> special case inliner
  base/compiler/ssair/inlining.jl
  test/compiler/inline.jl
Labels: backport 1.7, bugfix, optimizer

#41373 README: start adding Buildkite status badges
  README.md
Labels: ci

#41375 Code coverage: fix the code coverage pipeline
  .buildkite/coverage-linux64/upload_coverage.jl
Labels: bugfix, ci, code coverage

#41352 Float16 input now gives Float 16 factors for svd,eigen and cholesky.
  stdlib/LinearAlgebra/src/cholesky.jl
  stdlib/LinearAlgebra/src/eigen.jl
  stdlib/LinearAlgebra/src/svd.jl
  stdlib/LinearAlgebra/test/cholesky.jl
  stdlib/LinearAlgebra/test/eigen.jl
  stdlib/LinearAlgebra/test/svd.jl
Labels: float16, linear algebra

#41363 fix equality of QRCompactWY
  stdlib/LinearAlgebra/src/LinearAlgebra.jl
  stdlib/LinearAlgebra/src/qr.jl
  stdlib/LinearAlgebra/test/factorization.jl
  stdlib/LinearAlgebra/test/testgroups
Labels: backport 1.6, backport 1.7, bugfix, equality, linear algebra

#41333 fix #41330: backslash not escaping `\r\n`
  base/shell.jl
  src/julia-parser.scm
  test/syntax.jl
Labels: backport 1.7, bugfix, parser, strings

#41345 fix `threadcall` for new ccall lookup strategy
  base/threadcall.jl
  src/jl_uv.c
Labels: backport 1.6, backport 1.7, bugfix

#41351 make `Task` smaller by rearranging fields
  src/jltypes.c
  src/julia.h
Labels: backport 1.7

#41395 backport #41363: fix equality of QRCompactWY
  stdlib/LinearAlgebra/src/LinearAlgebra.jl
  stdlib/LinearAlgebra/src/qr.jl
  stdlib/LinearAlgebra/test/factorization.jl
  stdlib/LinearAlgebra/test/testgroups
Labels: backport 1.6, bugfix, equality, linear algebra

#41245 strip spaces after backslash-escaped newline
  base/shell.jl
  src/julia-parser.scm
  test/syntax.jl
Labels: backport 1.7, parser, strings

#41353 fix #41346, update Random docs for Xoshiro256++
  doc/src/manual/documentation.md
  stdlib/Random/docs/src/index.md
Labels: backport 1.7, doc

#41383 inference: enable constant propagation for `invoke`d calls, fixes #41024
  base/compiler/abstractinterpretation.jl
  base/compiler/ssair/inlining.jl
  base/compiler/stmtinfo.jl
  test/compiler/inference.jl
Labels: backport 1.7, inference

#41287 fix excess array object padding
  src/array.c
  src/julia_internal.h
  src/options.h
  src/staticdata.c
  test/arrayops.jl
  test/cmdlineargs.jl
Labels: arrays, backport 1.7, performance

#41334 [Tasks] Mark parent as sticky if we use `@async`
  base/task.jl
  test/threads_exec.jl
Labels: backport 1.7, multithreading

#41410 fix #41347, better checks for `yield` and `yieldto` with finished tasks
  base/task.jl
  src/task.c
  test/misc.jl
Labels: backport 1.7

#41414 Added `edit(::Method)`. Fixes #41408
  stdlib/InteractiveUtils/src/editless.jl
Labels: backport 1.7

#41411 threads: move safepoint into loop
  src/partr.c
Labels: GC, backport 1.7, bugfix, multithreading

#41419 restrict getindex on `MethodList` to `Integer`
  base/reflection.jl
Labels: backport 1.7

#41412 `dlopen()` our `libblas` and `liblapack` within `libjulia-internal`
  stdlib/LinearAlgebra/src/LinearAlgebra.jl
Labels: backport 1.7, bugfix

#41380 Fix eltype of zero(::AbstractVector)
  base/abstractarray.jl
  test/arrayops.jl
Labels: arrays, dates
