Repository JuliaLang/julia, pull requests merged in 2021-02, with the labels that each got.

#39390 Set -fno-gnu-unique for building LLVM
  deps/Versions.make
  deps/checksums/clang
  deps/checksums/clang-11.0.1.src.tar.xz/md5
  deps/checksums/clang-11.0.1.src.tar.xz/sha512
  deps/checksums/llvm
  deps/checksums/llvm-tools
  deps/llvm.mk
  stdlib/libLLVM_jll/Project.toml
Labels: backport 1.6

#39404 Fix linear indexing for 0D views of OffsetVectors
  base/subarray.jl
  test/offsetarray.jl
Labels: backport 1.6, bugfix

#39446 fix #39426, at-which not working with `..` function
  stdlib/InteractiveUtils/src/macros.jl
  stdlib/InteractiveUtils/test/runtests.jl
  stdlib/Test/src/Test.jl
Labels: backport 1.6, bugfix

#39494 A few missing trig tests
  test/math.jl
Labels: maths, test

#39502 Bump openlibm to v0.7.4.
  deps/checksums/openlibm
  deps/openlibm.version
  stdlib/OpenLibm_jll/Project.toml
Labels: backport 1.6, external dependencies

#39507 Fill out `LIBPATH_list` and `PATH_list` in fake JLLs
  stdlib/CompilerSupportLibraries_jll/src/CompilerSupportLibraries_jll.jl
  stdlib/GMP_jll/src/GMP_jll.jl
  stdlib/LibCURL_jll/src/LibCURL_jll.jl
  stdlib/LibGit2_jll/src/LibGit2_jll.jl
  stdlib/LibOSXUnwind_jll/src/LibOSXUnwind_jll.jl
  stdlib/LibSSH2_jll/src/LibSSH2_jll.jl
  stdlib/LibUV_jll/src/LibUV_jll.jl
  stdlib/LibUnwind_jll/src/LibUnwind_jll.jl
  stdlib/MPFR_jll/src/MPFR_jll.jl
  stdlib/MbedTLS_jll/src/MbedTLS_jll.jl
  stdlib/MozillaCACerts_jll/src/MozillaCACerts_jll.jl
  stdlib/OpenBLAS_jll/src/OpenBLAS_jll.jl
  stdlib/OpenLibm_jll/src/OpenLibm_jll.jl
  stdlib/PCRE2_jll/src/PCRE2_jll.jl
  stdlib/SuiteSparse_jll/src/SuiteSparse_jll.jl
  stdlib/Zlib_jll/src/Zlib_jll.jl
  stdlib/dSFMT_jll/src/dSFMT_jll.jl
  stdlib/libLLVM_jll/src/libLLVM_jll.jl
  stdlib/nghttp2_jll/src/nghttp2_jll.jl
  stdlib/p7zip_jll/src/p7zip_jll.jl
Labels: backport 1.6

#39503 Add compat note for `reinterpret(reshape, T, A)`
  base/reinterpretarray.jl
Labels: backport 1.6

#39517 REPL,test: add dummy reader for output
  stdlib/REPL/test/repl.jl
  test/core.jl
  test/misc.jl
Labels: backport 1.6

#39520 Handle union of immutables in codegen of GC.at-preserve.
  src/codegen.cpp
  test/compiler/codegen.jl
Labels: backport 1.6, bugfix, codegen

#39303 Improve performance of `inv(::ComplexF64)`
  base/complex.jl
Labels: maths, merge me, performance

#39514 Add half-integers for sinpi and cospi too
  test/math.jl
Labels: maths, test

#39496 Realign docs `end`
  stdlib/Distributed/src/cluster.jl
Labels: doc

#39249 RFC: allow splatting in hvcat syntax
  base/abstractarray.jl
  src/julia-syntax.scm
  test/abstractarray.jl
Labels: arrays, lowering

#39525 fix #39521, obvious_subtype issue with `Type{}` and diagonal
  src/subtype.c
  test/subtype.jl
Labels: backport 1.6, bugfix, types and dispatch

#37168 Add deprecation warning for multiple successive semicolons
  NEWS.md
  src/julia-parser.scm
Labels: deprecation, parser

#39487 release-1.6: set VERSION to 1.6-rc1
  VERSION
Labels: release

#39547 Disable Profiler stack switch heuristic when running under rr
  src/julia_internal.h
  src/stackwalk.c
Labels: backport 1.6

#39431 Float16 exp2, exp, exp10
  base/math.jl
  base/special/exp.jl
Labels: float16, performance

#39411 Mention use of `;` on Windows for JULIA_DEPOT_PATH
  doc/src/manual/environment-variables.md
Labels: doc, windows

#39086 Update strings.md
  doc/src/manual/strings.md
Labels: doc, strings

#39434 fix invalidations due to convert(Nothing, ::Any)
  base/some.jl
Labels: latency

#39170 Update download_cmake.sh to cmake 3.19.2
  contrib/download_cmake.sh
Labels: build

#39543 [cli/trampolines] Clean up definitions, fix win32 exporting issue
  cli/Makefile
  cli/trampolines/common.h
  cli/trampolines/trampolines_aarch64.S
  cli/trampolines/trampolines_arm.S
  cli/trampolines/trampolines_i686.S
  cli/trampolines/trampolines_powerpc64le.S
  cli/trampolines/trampolines_x86_64.S
Labels: backport 1.6, power

#39435 fix some of StaticArrays invalidating Revise
  base/array.jl
  base/namedtuple.jl
Labels: latency

#39552 fix method overwrite in tuple test
  test/tuple.jl
Labels: test

#39537 cleanup missing, Float16 fallbacks, move exp2, exp10 documentation
  base/math.jl
  base/special/exp.jl
Labels: doc, float16, maths

#39550 Add tests for logs of subnormals
  test/math.jl
Labels: maths, test

#38053 add non recursive nature to parent docstring
  base/abstractarray.jl
Labels: doc

#38453 Update doc for dlsym function
  base/libdl.jl
Labels: doc

#35774 Add docs on parsing Date/Time/DateTime from strings and empty strings
  stdlib/Dates/docs/src/index.md
Labels: dates, doc

#36703 added docstrings for date exports
  stdlib/Dates/src/types.jl
Labels: doc

#39560 Improve first/last docstrings
  base/abstractarray.jl
Labels: doc

#39557 use sparse multiplication for sparse arrays time BitMatrix and BitVector and wrappers
  stdlib/SparseArrays/src/linalg.jl
Labels: linear algebra, performance, sparse

#38941 Mention `\Q...\E` in `Regex` docstring and manual
  base/regex.jl
  doc/src/manual/strings.md
Labels: doc

#39571 Fix doctest failure introduced by #38941
  doc/src/manual/strings.md
Labels: bug, doc

#39567 [build] Fix out-of-tree `stringreplace` invocations
  Makefile
Labels: backport 1.6

#39564 cleanup cleanup real subtype fallbacks
  base/math.jl
  base/special/cbrt.jl
Labels: float16, maths

#39562 Add `Base.isdone(itr::EachLine)`
  base/io.jl
  test/read.jl
Labels: I/O, needs tests

#39561 Test for arg error in cfunction and simple transcode tests
  test/ccall.jl
Labels: test

#39578 Remove unused ldexp code
  base/math.jl
  base/special/ldexp_exp.jl
Labels: maths

#39522 Do not print delimiters twice in show(::OffsetMatrix) for matrices with certain shifted axes
  base/arrayshow.jl
  test/offsetarray.jl
Labels: display and printing

#39553 Fix misunwind during Profile test under rr
  deps/Versions.make
  deps/checksums/unwind
  deps/patches/libunwind-rsp-cfa.patch
  deps/unwind.mk
Labels: ci, test

#39585 outdent `UUID` doc
  base/uuid.jl
Labels: doc

#39491 [file] Fix relative symlinks to directories on Windows
  base/file.jl
  test/file.jl
Labels: backport 1.6

#39568 Improve error when generated function is not pure
  src/method.c
  test/core.jl
Labels: error messages

#39575 strengthen the inference barrier to show a Type
  base/show.jl
Labels: display and printing

#39570 fix bug in `let` when a global var is both shadowed and used in an RHS
  src/julia-syntax.scm
  test/core.jl
  test/syntax.jl
Labels: backport 1.6, bugfix, lowering

#39579 add missing io arg to `print_statement_costs`
  base/reflection.jl
Labels: I/O

#39581 freebsd: Register JIT unwind info
  src/debuginfo.cpp
Labels: freebsd

#39572 [loading] Search in Sys.STDLIB if name/uuid is known.
  base/loading.jl
  test/cmdlineargs.jl
Labels: backport 1.6, packages

#39506 fix some invalidations with ChainRulesCore
  base/show.jl
  stdlib/Logging/src/ConsoleLogger.jl
Labels: latency

#39542 clarify documentation for @view
  base/views.jl
Labels: arrays, doc

#39591 [p7zip_jll] Set `LIBPATH` and `LIBPATH_list` at init-time
  stdlib/p7zip_jll/src/p7zip_jll.jl
Labels: backport 1.6

#39603 Add `JULIA_PKG_SERVER` to Environment Variables in docs
  doc/src/manual/environment-variables.md
Labels: doc, packages

#39615 Update Downloads.jl
  deps/checksums/Downloads-0d798cfe2c06c304833dde913552fe13559a0c20.tar.gz/md5
  deps/checksums/Downloads-0d798cfe2c06c304833dde913552fe13559a0c20.tar.gz/sha512
  deps/checksums/Downloads-2b4bed901185edcb59389515378eba2f26aaa577.tar.gz/md5
  deps/checksums/Downloads-2b4bed901185edcb59389515378eba2f26aaa577.tar.gz/sha512
  stdlib/Downloads.version
Labels: backport 1.6, stdlib

#39608 Fix for infinite loop when passing 0d array to setindex of n-dim arrays
  base/indices.jl
  test/arrayops.jl
Labels: arrays, backport 1.6

#39616 Update Pkg.jl
  deps/checksums/Pkg-47105aaefb7eb8bda5c002315ccf1a28be8fdabb.tar.gz/md5
  deps/checksums/Pkg-47105aaefb7eb8bda5c002315ccf1a28be8fdabb.tar.gz/sha512
  deps/checksums/Pkg-fe759b2449b3ace291b6a5e43bd7ecff1767ff91.tar.gz/md5
  deps/checksums/Pkg-fe759b2449b3ace291b6a5e43bd7ecff1767ff91.tar.gz/sha512
  stdlib/Pkg.version
  test/precompile.jl
Labels: external dependencies, stdlib

#39604 expand use of egal for testing type equality
  src/builtins.c
  src/julia_internal.h
  src/subtype.c
  test/subtype.jl
Labels: backport 1.6, types and dispatch

#39602 fix #39600: broadcast fusion broken for comparison
  src/julia-syntax.scm
  test/syntax.jl
Labels: backport 1.6, broadcast, bugfix, lowering

#39618 improve constraint propagation with multiple ||
  src/julia-syntax.scm
  test/broadcast.jl
  test/compiler/inference.jl
Labels: inference, lowering

#39500 update the LibGit2 checksums
  deps/checksums/LibGit2.v1.2.1+0.x86_64-apple-darwin.tar.gz/md5
  deps/checksums/LibGit2.v1.2.1+0.x86_64-apple-darwin.tar.gz/sha512
  deps/checksums/LibGit2.v1.2.2+0.x86_64-apple-darwin.tar.gz/md5
  deps/checksums/LibGit2.v1.2.2+0.x86_64-apple-darwin.tar.gz/sha512
  deps/checksums/libgit2
Labels: libgit2

#39621 Lock cfunction trampoline cache and freelist accesses.
  src/runtime_ccall.cpp
  test/threads_exec.jl
Labels: backport 1.6, bugfix, multithreading

#39647 Implement float() and complex() for Missing
  base/missing.jl
  test/ambiguous.jl
  test/missing.jl
Labels: complex, missing data

#39649 Test for endswith
  test/strings/util.jl
Labels: strings, test

#39646 add Base.pkgdir to docs
  doc/src/base/base.md
Labels: doc

#39556 faster, more accurate log2, log10
  base/math.jl
  base/special/log.jl
Labels: maths, performance

#39659 Test only minimum duration of `timedwait`
  test/channels.jl
Labels: test

#39660 Missing tests for string()
  test/strings/io.jl
Labels: strings, test

#39677 Improve countlines docstring
  base/io.jl
Labels: doc

#39625 Update to LibCURL 7.73.0+4
  deps/checksums/curl
  deps/curl.mk
  stdlib/LibCURL_jll/Project.toml
Labels: arm, external dependencies

#39664 libjulia: return newly-defined method.
  src/julia.h
  src/method.c
Labels: backport 1.6

#39682 Specialize `BigInt` construction for integers in range of `Clong`
  base/gmp.jl
Labels: bignums, performance

#39606 Fixes some inference issues
  base/compiler/abstractinterpretation.jl
  base/compiler/tfuncs.jl
  base/compiler/types.jl
  base/compiler/typeutils.jl
  src/jlapi.c
Labels: inference

#39678 Fix docstring
  base/abstractarray.jl
Labels: doc

#39623 avoid excessive renaming in subtype of intersection result
  src/gf.c
  src/subtype.c
  test/subtype.jl
Labels: backport 1.6, latency, types and dispatch

#39712 Add Half precision ppc patch and codesign LLVM binaries
  deps/Versions.make
  deps/checksums/clang
  deps/checksums/llvm
  deps/llvm.mk
  deps/patches/llvm-11-D96283-dagcombine-half.patch
  stdlib/libLLVM_jll/Project.toml
Labels: backport 1.6, power, upstream

#39731 fix the description of ctime
  base/stat.jl
Labels: doc

#39724 Add docs for emitting bounds check
  doc/src/devdocs/boundscheck.md
Labels: doc

#39726 avoid corrupting String on conversion of StringVector to String
  src/array.c
  test/core.jl
Labels: backport 1.6, bugfix

#39737 Fix typo in BitVector constructor
  base/bitarray.jl
  test/bitarray.jl
Labels: backport 1.6, bugfix

#39679 Switch macOS task mechanism back to ASM
  src/julia_threads.h
Labels: mac, performance

#39735 Use `MACOSX_VERSION_MIN=11` on Apple silicon
  Make.inc
Labels: arm, mac

#39689 Protect handle_message from Integer subtype invalidation
  base/logging.jl
  stdlib/Logging/src/ConsoleLogger.jl
Labels: backport 1.6

#39442 support type annotations in property destructuring
  src/julia-syntax.scm
  test/syntax.jl
Labels: lowering

#39654 Add test documenting #10561, two-digit year parsing
  stdlib/Dates/test/io.jl
Labels: dates, test

#39127 Replace libosxunwind wth LLVM libunwind
  Make.inc
  Makefile
  contrib/refresh_checksums.mk
  deps/Makefile
  deps/Versions.make
  deps/checksums/llvmunwind
  deps/checksums/osxunwind
  deps/llvm.mk
  deps/patches/llvm-libunwind-force-dwarf.patch
  deps/patches/llvm-libunwind-prologue-epilogue.patch
  deps/unwind.mk
  doc/build/build.md
  src/julia_internal.h
  src/signals-mach.c
  src/stackwalk.c
  stdlib/LLVMLibUnwind_jll/Project.toml
  stdlib/LLVMLibUnwind_jll/src/LLVMLibUnwind_jll.jl
  stdlib/LLVMLibUnwind_jll/test/runtests.jl
  stdlib/LibOSXUnwind_jll/test/runtests.jl
  stdlib/Makefile
Labels: build, mac, stdlib

#39216 WIP: Upgrade to OpenBLAS 0.3.13
  deps/Versions.make
  deps/blas.mk
  deps/checksums/openblas
  deps/openblas.version
  deps/patches/openblas-exshift.patch
  deps/patches/openblas-ofast-power.patch
  deps/patches/openblas-winexit.patch
  stdlib/LinearAlgebra/src/LinearAlgebra.jl
  stdlib/LinearAlgebra/src/hessenberg.jl
  stdlib/LinearAlgebra/test/eigen.jl
  stdlib/OpenBLAS_jll/Project.toml
Labels: external dependencies

#39745 codegen: define return_roots in normalized form
  src/codegen.cpp
  src/llvm-late-gc-lowering.cpp
Labels: backport 1.6, bugfix, codegen

#39747 codegen: guard phi node loads of invalid inputs
  src/codegen.cpp
Labels: backport 1.6, bugfix, codegen

#39744 fix type uniquing (caching) in incremental deserializer
  src/dump.c
  test/precompile.jl
Labels: backport 1.6, precompile

#39728 ensure to show the whole type, even if the proper subset matched an alias
  base/show.jl
  test/show.jl
Labels: backport 1.6, display and printing

#39381 Add support to multiple property pairs in sprint
  NEWS.md
  base/strings/io.jl
  test/strings/io.jl
Labels: display and printing

#39769 Update to GMP 6.2.1
  deps/Versions.make
  deps/checksums/gmp
  deps/gmp.mk
  deps/patches/gmp-apple-arm64.patch
  stdlib/GMP_jll/Project.toml
  stdlib/GMP_jll/test/runtests.jl
Labels: arm, external dependencies, mac

#39753 proper error for assignment to unary ::
  src/julia-syntax.scm
  test/syntax.jl
Labels: error messages, lowering

#39772 [libgit2] Fix zlib stream abandonment causing clone error on 32-bit systems
  deps/Versions.make
  deps/checksums/libgit2
  deps/libgit2.mk
  deps/patches/libgit2-continue-zlib.patch
  stdlib/LibGit2_jll/Project.toml
Labels: backport 1.6, ci, upstream

#39533 specialize copyto! and multiplication by numbers for Q from qr
  stdlib/LinearAlgebra/src/qr.jl
  stdlib/LinearAlgebra/test/qr.jl
Labels: linear algebra, performance

#39809 make copy correctly handle 0-dimensional SubArray
  base/subarray.jl
  test/subarray.jl
Labels: backport 1.6, bugfix

#39778 jl_egal_types: don't reject equivalence just for gensyms
  src/builtins.c
  test/core.jl
Labels: backport 1.6

#39788 clarify non-scalar indexed assignment
  base/indices.jl
  doc/src/manual/arrays.md
Labels: doc

#39147 Allow kwarg in function composition
  base/operators.jl
  test/operators.jl
Labels: keyword arguments, triage

#39812 add basic overview of when to use type declarations
  doc/src/manual/functions.md
Labels: doc

#38905 inference: inter-procedural conditional constraint back-propagation
  base/boot.jl
  base/compiler/abstractinterpretation.jl
  base/compiler/typeinfer.jl
  base/compiler/typelattice.jl
  base/compiler/typelimits.jl
  base/essentials.jl
  base/show.jl
  base/some.jl
  src/builtins.c
  src/jl_exported_data.inc
  src/jltypes.c
  src/julia.h
  src/staticdata.c
  test/compiler/inference.jl
Labels: inference

#39790 LinearAlgebra._generic_matmul! : Avoid division by zero for tile_size.
  stdlib/LinearAlgebra/src/matmul.jl
  stdlib/LinearAlgebra/test/matmul.jl
Labels: bugfix, linear algebra

#39833 Update Downloads.jl to fix download hanging, fixes #39789.
  deps/checksums/Downloads-2b4bed901185edcb59389515378eba2f26aaa577.tar.gz/md5
  deps/checksums/Downloads-2b4bed901185edcb59389515378eba2f26aaa577.tar.gz/sha512
  deps/checksums/Downloads-6bb83068bd796c4890baaeb39628ff79a4979374.tar.gz/md5
  deps/checksums/Downloads-6bb83068bd796c4890baaeb39628ff79a4979374.tar.gz/sha512
  stdlib/Downloads.version
Labels: backport 1.6

#39701 Add \ for Sym/Tri/Bi/Diagonal and support non-commutative numbers
  stdlib/LinearAlgebra/src/bidiag.jl
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/LinearAlgebra/src/tridiag.jl
  stdlib/LinearAlgebra/test/bidiag.jl
  stdlib/LinearAlgebra/test/tridiag.jl
Labels: linear algebra

#39821 fix #39804, ABI handling of structs with String references
  src/abi_aarch64.cpp
  src/abi_ppc64le.cpp
  src/abi_x86_64.cpp
  src/ccall.cpp
  test/ccall.jl
Labels: backport 1.6, bugfix, codegen

#39845 [LinearAlgebra] Add `libblas` and `liblapack` bindings in again
  stdlib/LinearAlgebra/src/blas.jl
Labels: linear algebra

#39843 Add SuiteSparse checksums
  deps/checksums/suitesparse
Labels: build, linear algebra, sparse

#39846 Bump libblastrampoline to v3.0.1
  deps/blastrampoline.version
  deps/checksums/blastrampoline
  stdlib/libblastrampoline_jll/Project.toml
Labels: linear algebra

#39854 cmdlineargs test: on 32-bit systems, impose a constant upper limit on the number of threads
  test/cmdlineargs.jl
Labels: backport 1.6

#39751 Specialize LinearAlgebra.BLAS.dot for strided vectors of floats.
  stdlib/LinearAlgebra/src/blas.jl
  stdlib/LinearAlgebra/test/matmul.jl
Labels: linear algebra, merge me
