Repository JuliaLang/julia, pull requests merged in 2021-07, with the labels that each got.

#41431 Remove the LLVMExtra api
  src/Makefile
  src/llvm-api.cpp
Labels: backport 1.7

#41421 [LLVM] Add patches for eh_frame emission on AArch64/Darwin
  deps/Versions.make
  deps/checksums/clang
  deps/checksums/llvm
  deps/llvm.mk
  deps/patches/llvm-12-fde-symbols-aarch64.patch
  deps/patches/llvm-12-force-eh_frame-aarch64.patch
  stdlib/libLLVM_jll/Project.toml
Labels: backport 1.7, external dependencies

#41427 fix #41416, splatted default argument lost with keyword argument
  src/ast.scm
  src/julia-syntax.scm
  test/keywordargs.jl
Labels: backport 1.6, backport 1.7, bugfix, lowering

#41424 make "Add information to passing tests" a bit more backwards compatible
  stdlib/Test/src/Test.jl
Labels: backport 1.7

#41432 Update Pkg for 1.7.0.
  deps/checksums/Pkg-81af75b902586919a858f06949b7c9e6121f1629.tar.gz/md5
  deps/checksums/Pkg-81af75b902586919a858f06949b7c9e6121f1629.tar.gz/sha512
  deps/checksums/Pkg-df2476a01c01cdadd553dbf010b21fabe7e211d3.tar.gz/md5
  deps/checksums/Pkg-df2476a01c01cdadd553dbf010b21fabe7e211d3.tar.gz/sha512
  stdlib/Pkg.version
Labels: backport 1.7

#41413 colored printing for type alias.
  base/show.jl
Labels: display and printing

#40239 Add the recursive blocked Schur algorithm for matrix square root
  stdlib/LinearAlgebra/src/triangular.jl
  stdlib/LinearAlgebra/test/triangular.jl
Labels: linear algebra, merge me, performance

#40628 fix `partially_inline!` with `isdefined`
  base/meta.jl
  test/meta.jl
Labels: backport 1.7

#40738 fix slurping into function definition
  src/julia-syntax.scm
  test/syntax.jl
Labels: backport 1.7, lowering

#40382 deprecate unsafe_length for length
  NEWS.md
  base/abstractarray.jl
  base/broadcast.jl
  base/checked.jl
  base/deprecated.jl
  base/indices.jl
  base/multidimensional.jl
  base/range.jl
  base/subarray.jl
  doc/src/base/collections.md
  stdlib/Dates/test/ranges.jl
  test/ranges.jl
  test/testhelpers/Furlongs.jl
  test/testhelpers/InfiniteArrays.jl
  test/testhelpers/OffsetArrays.jl
Labels: arrays, merge me

#41377 README: only have a single Buildkite badge
  README.md
Labels: ci

#41394 Concatenation with UniformScaling and numbers
  stdlib/LinearAlgebra/src/LinearAlgebra.jl
  stdlib/LinearAlgebra/src/uniformscaling.jl
  stdlib/LinearAlgebra/test/uniformscaling.jl
  stdlib/SparseArrays/src/sparsevector.jl
Labels: arrays, linear algebra, merge me

#41438 codegen: complete handling for partial-layout objects
  src/ccall.cpp
  src/cgutils.cpp
  src/codegen.cpp
  src/datatype.c
  src/jltypes.c
  src/julia_internal.h
  test/compiler/codegen.jl
Labels: backport 1.7, bugfix, codegen, merge me

#41448 Mention integers in `mod1` docstring
  base/operators.jl
  base/range.jl
Labels: doc, merge me

#41460 remove dependency of Pkg from libblastrampoline_jll
  stdlib/libblastrampoline_jll/Project.toml
Labels: backport 1.7

#41466 Export jl_field_index from libjulia
  src/jl_exported_funcs.inc
Labels: backport 1.7

#41473 MPFR tests: skip the `log2(x) == log2(42)` test
  test/mpfr.jl
Labels: merge me

#41369 non-power-of-two atomic handling
  src/cgutils.cpp
  src/datatype.c
  src/processor.cpp
  test/atomics.jl
Labels: backport 1.7, bugfix, merge me, multithreading

#41474 Remove mentions of `USE_INTEL_MKL` from the build docs
  doc/build/build.md
Labels: build, doc, merge me

#41469 put back Any16 and All16 since some packges seem to rely on it
  base/deprecated.jl
Labels: backport 1.7

#41477 Try to improve example for insert!
  base/array.jl
Labels: doc

#41478 Update `LinRange` example to comply with Julia > v1.6
  base/range.jl
Labels: merge me

#41480 remove trailing whitespace from #41448
  base/operators.jl
Labels: merge me

#41298 Fix pivoted cholesky docstrings
  stdlib/LinearAlgebra/src/cholesky.jl
Labels: doc, linear algebra

#36177 Use Braille to display adjoint and transposed sparse matrices
  stdlib/SparseArrays/src/sparsematrix.jl
  stdlib/SparseArrays/test/sparse.jl
Labels: display and printing, forgetmenot, sparse

#41453 See also `summarysize` from docstring for `sizeof`
  base/essentials.jl
  base/summarysize.jl
Labels: doc

#41465 Emit traps for unreachable nodes
  src/codegen.cpp
Labels: codegen

#41483 fix #41157, unnecessary assertion on `Tuple{Union{}}`
  src/intrinsics.cpp
  test/compiler/codegen.jl
Labels: backport 1.7, bugfix, codegen

#41321 Add embedding and whitespace jobs to buildkite
  .buildkite/embedding.yml
  .buildkite/llvm_passes.yml
  .buildkite/pipeline.yml
  .buildkite/whitespace.yml
Labels: build, ci

#41487 release-1.7: Set VERSION to 1.7.0-beta3
  VERSION
Labels: release

#41501 fix patch targets in openblas build (when not using binarybuilder)
  deps/openblas.mk
Labels: backport 1.7, build

#41491 fix #41489: inference of `+(::Rational, Rational)`
  base/rational.jl
  test/rational.jl
Labels: backport 1.7, inference, rationals

#41496 Initialize n_uninitialized for Symbol and SimpleVector
  src/jltypes.c
Labels: backport 1.7

#41197 `hvncat`: Better handling of 0- and 1-length dims/shape args
  base/abstractarray.jl
  test/abstractarray.jl
Labels: arrays, backport 1.7

#41492 fix #40773, bug in `summarysize` on arrays of inlined structs with pointers
  base/summarysize.jl
  test/misc.jl
Labels: backport 1.7, bugfix

#41441 add a GC safepoint in Task.wait
  base/task.jl
Labels: GC, multithreading

#41507 CI (code coverage): run some tests in serial
  .buildkite/0_webui.yml
  .buildkite/coverage-linux64/0_webui.yml
  .buildkite/coverage-linux64/pipeline.yml
  .buildkite/coverage-linux64/run_tests_parallel.jl
  .buildkite/coverage-linux64/run_tests_serial.jl
Labels: ci

#41485 Distributed: add C shell support (fixes #32690)
  base/cmd.jl
  base/shell.jl
  stdlib/Distributed/src/Distributed.jl
  stdlib/Distributed/src/managers.jl
  test/spawn.jl
Labels: parallel

#41457 faster findfirst(iszero) for byte arrays
  base/strings/search.jl
  base/strings/string.jl
  test/strings/search.jl
Labels: performance

#35781 Simple tests for IdSet
  test/sets.jl
Labels: test

#41543 CI (Buildkite): use a consistent naming scheme for labels, keys, and commit statuses
  .buildkite/embedding.yml
  .buildkite/llvm_passes.yml
  .buildkite/whitespace.yml
Labels: ci

#41544 CI: Add more Debian packages to the `llvm-passes` rootfs image
  .buildkite/rootfs_images/llvm-passes.jl
Labels: ci

#41545 Replace `.*` with `*` in some 3-arg `*` methods
  stdlib/LinearAlgebra/src/matmul.jl
Labels: backport 1.7, linear algebra

#41549 CI (Buildkite): rootfs_images: allow user to override the default value of `tag_name`
  .buildkite/rootfs_images/llvm-passes.jl
  .buildkite/rootfs_images/rootfs_utils.jl
Labels: ci

#41559 Fix `get-task-allow` entitlement
  contrib/mac/app/Entitlements.plist
Labels: backport 1.6, backport 1.7, mac

#41553 catch exception and unlock synctake. issue #33972
  stdlib/Distributed/src/remotecall.jl
  stdlib/Distributed/test/distributed_exec.jl
Labels: bugfix, parallel

#41534 Adding tests for the "linear algebra" package
  stdlib/LinearAlgebra/test/cholesky.jl
  stdlib/LinearAlgebra/test/diagonal.jl
  stdlib/LinearAlgebra/test/tridiag.jl
Labels: linear algebra

#41556 add a test for #41096
  test/compiler/codegen.jl
Labels: backport 1.6, backport 1.7, test

#41551 add default "auto" as option to --check-bounds
  NEWS.md
  base/util.jl
  doc/man/julia.1
  doc/src/devdocs/boundscheck.md
  doc/src/manual/command-line-options.md
  src/jloptions.c
  test/cmdlineargs.jl
Labels: backport 1.6, backport 1.7

#40657 Add tests for indexing arrays with IdentityUnitRanges
  test/abstractarray.jl
Labels: test

#41066 slightly faster `rand(::UnitRange{BigInt})`
  stdlib/Random/src/generation.jl
  stdlib/Random/test/runtests.jl
Labels: RNG, bignums, merge me, performance

#41530 CI: add the sanitizers pipelines (e.g. ASAN) to Buildkite
  .buildkite/pipeline.yml
  .buildkite/sanitizers.yml
  contrib/asan/Make.user.asan
  contrib/asan/Make.user.tools
  contrib/asan/build.sh
  contrib/asan/check.jl
Labels: backport 1.6, backport 1.7, build, ci, merge me

#41516 fix another bug in circular type detection
  src/builtins.c
  test/core.jl
Labels: backport 1.7, bugfix, merge me, types and dispatch

#41560 update expression size rules
  src/ast.c
  test/syntax.jl
Labels: lowering

#41539 Reduce reliance on global jl_LLVMContext
  src/abi_aarch64.cpp
  src/abi_arm.cpp
  src/abi_llvm.cpp
  src/abi_ppc64le.cpp
  src/abi_win32.cpp
  src/abi_win64.cpp
  src/abi_x86.cpp
  src/abi_x86_64.cpp
  src/ccall.cpp
Labels: codegen, merge me

#41577 [release-1.6] Set VERSION to 1.6.2
  VERSION
Labels: release

#41583 [deps] Replace `-L` option to `xargs` with `-n`
  deps/tools/bb-install.mk
Labels: backport 1.7, bugfix, build

#41571 CI (rootfs_utils): Require that the user explicitly specify the `tag_name`
  .buildkite/rootfs_images/llvm-passes.jl
  .buildkite/rootfs_images/rootfs_utils.jl
Labels: ci, merge me

#41515 increase specialization of `_totuple`
  base/tuple.jl
Labels: backport 1.7, performance

#41594 REPL doc lookup assumed ASCII for the given string
  stdlib/REPL/src/docview.jl
  stdlib/REPL/test/docview.jl
Labels: REPL, backport 1.6, backport 1.7, docsystem, merge me

#41563 optimizations for intrinsic atomics
  src/intrinsics.cpp
  src/julia_internal.h
  src/runtime_intrinsics.c
  test/intrinsics.jl
Labels: backport 1.7, codegen, merge me, multithreading, performance

#41578 Revert "Extend `Eigen` to keep additional information from `geevx` (#…
  stdlib/LinearAlgebra/src/eigen.jl
  stdlib/LinearAlgebra/test/eigen.jl
Labels: backport 1.7

#41196 `hvncat`: Stronger argument checks
  base/abstractarray.jl
  test/abstractarray.jl
Labels: arrays, backport 1.7, bugfix

#41576 REPL.TerminalMenus: Allow keybindings in RadioMenu
  stdlib/REPL/src/TerminalMenus/RadioMenu.jl
Labels: REPL

#41591 CI (rootfs images): when uploading a tarball, don't allow it to override an existing tarball (unless the user provides the `--force-overwrite` command-line flag)
  .buildkite/rootfs_images/llvm-passes.jl
  .buildkite/rootfs_images/rootfs_utils.jl
Labels: backport 1.6, backport 1.7, ci

#41201 `hvncat`: Ensure output ndims are >= the ndims of input arrays
  base/abstractarray.jl
  test/abstractarray.jl
Labels: backport 1.7, bugfix

#41610 CI (rootfs images): fix a bug in the `upload_rootfs_image` function
  .buildkite/rootfs_images/rootfs_utils.jl
Labels: backport 1.6, backport 1.7, ci

#41567 Implement generic bitstring for primitive types
  base/intfuncs.jl
  test/intfuncs.jl
Labels: needs tests

#41286 Move compile timing to inside `@time`'s main timing block. Fixes >100% compilation time reports
  base/timing.jl
Labels: backport 1.6, backport 1.7

#41596 Do not error when showing invalid enums (#40042)
  base/Enums.jl
  test/enums.jl
Labels: backport 1.6, backport 1.7, bugfix, display and printing

#38405 Make Distributed.jl `Worker` struct thread-safe.
  stdlib/Distributed/src/cluster.jl
  stdlib/Distributed/src/macros.jl
  stdlib/Distributed/src/managers.jl
  stdlib/Distributed/src/messages.jl
  stdlib/Distributed/src/remotecall.jl
  stdlib/Distributed/test/distributed_exec.jl
  stdlib/Distributed/test/threads.jl
Labels: backport 1.7, bugfix, multithreading, parallel

#41636 Fix incorrect indexing in :foreigncall docs
  doc/src/devdocs/ast.md
Labels: doc

#41340 Improve documentation for `fill`
  base/array.jl
Labels: doc

#41641 fixup! Merge pull request #38405 from JuliaLang/vc/distributed_ts
  stdlib/Distributed/src/cluster.jl
Labels: backport 1.7, embarrassing-bugfix, multithreading

#41617 pretty-printing for ncat and nrow expressions
  base/show.jl
  test/show.jl
Labels: backport 1.7, display and printing

#40767 Simplify comparison for AbstractUnitRange and OneTo
  base/range.jl
Labels: ranges

#40344 Add special methods for Cartesian indexing of CartesianIndices for certain permissible indices
  base/multidimensional.jl
  base/subarray.jl
  test/cartesian.jl
  test/ranges.jl
  test/subarray.jl
Labels: arrays, performance

#41587 codegen: optimize setfield/arrayset with inline isa test
  src/builtins.c
  src/cgutils.cpp
  src/codegen.cpp
  test/atomics.jl
Labels: backport 1.7, codegen, merge me, multithreading

#41629 [LLVM] upgrade LLVM to 12.0.1
  Make.inc
  contrib/asan/Make.user.asan
  contrib/asan/build.sh
  deps/Versions.make
  deps/checksums/clang
  deps/checksums/llvm
  doc/src/devdocs/llvm.md
  src/Makefile
  stdlib/libLLVM_jll/Project.toml
Labels: backport 1.7, external dependencies

#41614 make precompile files writable
  base/loading.jl
  test/precompile.jl
Labels: backport 1.6, backport 1.7, packages

#41622 while loop -> for loop in _simplify_include_frames (fixes #41566)
  base/errorshow.jl
Labels: backport 1.6, backport 1.7, bugfix

#41651 [LLVM] Add missing GPU related patch
  deps/llvm.mk
Labels: backport 1.7, gpu, merge me, upstream

#34946 Extended performance tips about abstract types
  doc/src/manual/performance-tips.md
Labels: doc, forgetmenot

#41653 Always send log messages to stderr by default
  base/logging.jl
  stdlib/Logging/src/ConsoleLogger.jl
  test/corelogging.jl
Labels: backport 1.7, logging

#41657 codegen: add missing return after error check
  src/intrinsics.cpp
Labels: backport 1.7, codegen, embarrassing-bugfix

#41658 codegen: avoid attempting to box singleton objects unnecessarily
  src/codegen.cpp
Labels: backport 1.7, bugfix, codegen

#41611 Fix significand docstring
  base/math.jl
Labels: doc

#41646 fix memory corruption in `deleteat!`
  src/array.c
Labels: backport 1.6, backport 1.7, bugfix

#41575 some optimizations for `Array{Symbol}`
  base/summarysize.jl
  src/gc.c
Labels: performance

#41660 fix #41654, layout of 0-field structs with circular supertypes
  src/builtins.c
  test/core.jl
Labels: backport 1.7, bugfix

#41648 CI: delete the `.buildkite/rootfs_images` directory
  .buildkite/rootfs_images/Manifest.toml
  .buildkite/rootfs_images/Project.toml
  .buildkite/rootfs_images/README.md
  .buildkite/rootfs_images/llvm-passes.jl
  .buildkite/rootfs_images/rootfs_utils.jl
Labels: backport 1.6, backport 1.7, ci

#41639 Filesystem: add `hardlink` function
  NEWS.md
  base/exports.jl
  base/file.jl
  doc/src/base/file.md
  src/jl_uv.c
  test/file.jl
Labels: filesystem

#41527 in ascii(s) docs, note how to discard non-ascii chars
  base/strings/basic.jl
  base/strings/util.jl
Labels: doc, unicode

#41550 Revise isdisjoint documentation and add doctest
  base/abstractset.jl
Labels: doc

#41552 done todo at the latex code block function
  stdlib/Markdown/src/render/latex.jl
  stdlib/Markdown/test/runtests.jl
Labels: markdown

#41665 Update div.jl
  base/div.jl
Labels: doc, merge me

#41482 fix julia_asserts to depend only on julia build mode
  src/ccall.cpp
  src/codegen.cpp
  src/julia_assert.h
Labels: bugfix, build

#41662 fix error message for Core.Intrinsics functions
  src/builtins.c
Labels: error messages

#41645 [build] Automatically set `USE_BINARYBUILDER_CSL=0` when local CSL is new
  Make.inc
  deps/csl.mk
  stdlib/CompilerSupportLibraries_jll/Project.toml
Labels: backport 1.6, backport 1.7, build

#41667 Fix `fieldtype_tfunc` for union types
  base/compiler/tfuncs.jl
  test/compiler/inference.jl
Labels: backport 1.7, bugfix, inference, merge me

#41671 improve docstring for `::`
  base/docs/basedocs.jl
Labels: doc, merge me

#41682 Update the `file.jl` tests to allow for both `EPERM` and `EINVAL` in the non-root CHOWN tests
  test/file.jl
Labels: backport 1.6, backport 1.7, merge me, test

#41619 add length type parameter to StepRangeLen
  base/broadcast.jl
  base/range.jl
  base/twiceprecision.jl
  test/ranges.jl
Labels: backport 1.7, merge me

#41258 improve constant prop in gcd
  base/intfuncs.jl
  test/intfuncs.jl
Labels: performance, rationals

#41541 CI (Buildkite): Add the `package_linux64` and `doctest` builders
  .buildkite/misc/doctest.yml
  .buildkite/misc/embedding.yml
  .buildkite/misc/llvmpasses.yml
  .buildkite/misc/whitespace.yml
  .buildkite/pipeline.yml
  .buildkite/platforms/linux64.yml
  .buildkite/rr_capture.jl
Labels: backport 1.6, backport 1.7, ci

#41698 CI (Buildkite): Update all rootfs images to version v3.1, add some documentation, and reorganize/rename/move a bunch of configuration files
  .buildkite/README.md
  .buildkite/coverage-linux64/0_webui.yml
  .buildkite/coverage-linux64/README.md
  .buildkite/coverage-linux64/pipeline.yml
  .buildkite/coverage-linux64/run_tests_parallel.jl
  .buildkite/coverage-linux64/run_tests_serial.jl
  .buildkite/experimental/pipeline.yml
  .buildkite/pipeline.yml
  .buildkite/pipelines/experimental/0_webui.yml
  .buildkite/pipelines/experimental/README.md
  .buildkite/pipelines/experimental/launch_unsigned_builders.yml
  .buildkite/pipelines/experimental/misc/sanitizers.yml
  .buildkite/pipelines/main/0_webui.yml
  .buildkite/pipelines/main/README.md
  .buildkite/pipelines/main/launch_unsigned_builders.yml
  .buildkite/pipelines/main/misc/doctest.yml
  .buildkite/pipelines/main/misc/embedding.yml
  .buildkite/pipelines/main/misc/llvmpasses.yml
  .buildkite/pipelines/main/misc/signed_pipeline_test.yml
  .buildkite/pipelines/main/misc/whitespace.yml
  .buildkite/pipelines/main/platforms/linux64.yml
  .buildkite/pipelines/scheduled/0_webui.yml
  .buildkite/pipelines/scheduled/README.md
  .buildkite/pipelines/scheduled/coverage/coverage_linux64.yml
  .buildkite/pipelines/scheduled/coverage/run_tests_parallel.jl
  .buildkite/pipelines/scheduled/coverage/upload_coverage.jl
  .buildkite/pipelines/scheduled/launch_unsigned_builders.yml
  .buildkite/utilities/rr/rr_capture.jl
Labels: backport 1.6, backport 1.7, ci

#41700 CI (Buildkite): include the short commit hash in the artifact filename
  .buildkite/pipelines/main/platforms/linux64.yml
Labels: backport 1.6, backport 1.7, ci

#41706 CI (Buildkite): for the signed pipeline test, use `signature_file` instead of `signature`
  .buildkite/pipelines/main/0_webui.yml
  .buildkite/pipelines/main/misc/signed_pipeline_test.yml.signature
Labels: backport 1.6, backport 1.7, ci

#41644 [ARM/AArch64] Use CreateFence instead of inline assembly
  src/cgutils.cpp
Labels: arm

#41676 Init codegen during sysimg restore.
  src/init.c
  src/staticdata.c
Labels: backport 1.7, bugfix

#41701 add compat annotations for `replace` on tuples
  HISTORY.md
  base/set.jl
Labels: doc

#41479 Fix `length(::AbstractUnitRange)` and speed up `length(::AbstractUnitRange{<:Rational})`
  base/range.jl
  base/rational.jl
  test/ranges.jl
Labels: backport 1.7, forgetmenot

#41710 upgrade libuv to v2-1.42.0
  Make.inc
  Makefile
  contrib/refresh_checksums.mk
  deps/checksums/libuv
  deps/libuv.version
  stdlib/LibUV_jll/Project.toml
Labels: I/O, backport 1.7, external dependencies

#41719 Explain how to enable debug for multiple modules
  stdlib/Logging/docs/src/index.md
Labels: doc, merge me

#40783 add stream shutdown and support half-duplex operation
  NEWS.md
  base/coreio.jl
  base/exports.jl
  base/io.jl
  base/iobuffer.jl
  base/libuv.jl
  base/process.jl
  base/stream.jl
  doc/src/base/io-network.md
  stdlib/Distributed/src/process_messages.jl
  stdlib/Sockets/src/Sockets.jl
  stdlib/Sockets/test/runtests.jl
  test/iobuffer.jl
  test/spawn.jl
Labels: I/O, Sockets

#41722 Revert "Merge pull request #38405 from JuliaLang/vc/distributed_ts"
  stdlib/Distributed/src/cluster.jl
  stdlib/Distributed/src/macros.jl
  stdlib/Distributed/src/managers.jl
  stdlib/Distributed/src/messages.jl
  stdlib/Distributed/src/remotecall.jl
  stdlib/Distributed/test/distributed_exec.jl
  stdlib/Distributed/test/threads.jl
Labels: backport 1.7

#41634 Changed isone type to AbstractMatrix + added test
  stdlib/LinearAlgebra/src/dense.jl
  test/numbers.jl
Labels: linear algebra
