Repository JuliaLang/julia, pull requests merged in 2021-04, with the labels that each got.

#40278 fix docstrings on `first` and `last`
  base/abstractarray.jl
Labels: doc

#40281 add a missing propagate_inbounds to a getindex method
  base/abstractarray.jl
  test/boundscheck_exec.jl
Labels: arrays, backport 1.6, performance

#39794 add Returns
  NEWS.md
  base/abstractarray.jl
  base/abstractarraymath.jl
  base/array.jl
  base/dict.jl
  base/env.jl
  base/exports.jl
  base/multidimensional.jl
  base/operators.jl
  base/reshapedarray.jl
  base/show.jl
  test/abstractarray.jl
  test/arrayops.jl
  test/bitarray.jl
  test/ccall.jl
  test/channels.jl
  test/core.jl
  test/generic_map_tests.jl
  test/iterators.jl
  test/offsetarray.jl
  test/operators.jl
  test/reduce.jl
  test/show.jl
  test/subarray.jl
  test/tuple.jl
Labels: feature

#40253 docs: clarification about the integer division with 'div'
  base/div.jl
  base/operators.jl
Labels: doc

#40194 Support cis(A) for matrix A
  NEWS.md
  stdlib/LinearAlgebra/docs/src/index.md
  stdlib/LinearAlgebra/src/dense.jl
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/LinearAlgebra/src/symmetric.jl
  stdlib/LinearAlgebra/test/dense.jl
  stdlib/LinearAlgebra/test/diagonal.jl
  stdlib/LinearAlgebra/test/symmetric.jl
Labels: linear algebra, needs compat annotation, needs news

#40287 Update CSL
  Makefile
  contrib/refresh_checksums.mk
  deps/Makefile
  deps/checksums/compilersupportlibraries
  deps/llvm.mk
  deps/tools/common.mk
  deps/tools/uninstallers.mk
  stdlib/CompilerSupportLibraries_jll/Project.toml
  stdlib/Makefile
Labels: build

#39518 RFC: Add detach(::Task) method to monitor for Task failures
  base/exports.jl
  base/task.jl
  doc/src/base/parallel.md
  doc/src/manual/asynchronous-programming.md
  doc/src/manual/distributed-computing.md
  doc/src/manual/networking-and-streams.md
  doc/src/manual/running-external-programs.md
  stdlib/Distributed/src/cluster.jl
  stdlib/Distributed/src/macros.jl
  stdlib/Distributed/src/managers.jl
  stdlib/Distributed/src/process_messages.jl
  stdlib/Distributed/src/remotecall.jl
  stdlib/REPL/src/LineEdit.jl
  stdlib/REPL/src/REPL.jl
  stdlib/REPL/test/repl.jl
Labels: merge me

#40274 replace broken replaceuserpath function with existing contractuser one
  base/errorshow.jl
Labels: backport 1.6

#40321 Fix rounding cases for fixed-width printing in ryu routines
  base/ryu/exp.jl
  base/ryu/fixed.jl
  stdlib/Printf/test/runtests.jl
Labels: backport 1.6, bugfix

#40319 Fix #40318 by using UInt to convert instead of Int on Ptr
  stdlib/Printf/src/Printf.jl
  stdlib/Printf/test/runtests.jl
Labels: backport 1.6, bugfix

#39395 make printing of typealias env shorter using `{<:T}` syntax, when possible
  base/show.jl
  doc/src/manual/types.md
  stdlib/InteractiveUtils/test/runtests.jl
  stdlib/REPL/src/docview.jl
  test/docs.jl
  test/reflection.jl
  test/show.jl
Labels: display and printing

#40293 fix macro hygiene for `@nospecialize(::T)`
  src/macroexpand.scm
  test/syntax.jl
Labels: backport 1.6, bugfix, macros

#40325 fix typo
  base/abstractdict.jl
  base/essentials.jl
Labels: doc, merge me

#40294 Fix reduce(vcat,...) type inference (#40277)
  base/abstractarray.jl
  test/abstractarray.jl
Labels: backport 1.6, inference

#40017 Fix eltype example in Methods section of manual
  doc/src/manual/methods.md
Labels: doc

#40173 make radical operators juxtaposable
  NEWS.md
  src/julia-parser.scm
  test/syntax.jl
Labels: merge me, parser

#40061 document rtol and atol for ≈ in at-test macro
  stdlib/Test/docs/src/index.md
Labels: doc, merge me, testsystem

#39932 make fuzzy scoring more robust against whitespaces
  stdlib/REPL/src/docview.jl
  stdlib/REPL/test/docview.jl
Labels: REPL

#39750 RFC: Add cross references in subset related operator's docs.
  base/abstractset.jl
Labels: doc, merge me

#40304 Add hint in case of missing operator
  base/errorshow.jl
  test/errorshow.jl
Labels: error messages, merge me

#39850 Add register_error_hint for UndefVarError
  base/Base.jl
  base/errorshow.jl
  test/errorshow.jl
Labels: error messages, merge me

#39173 Adds method to Base.summary() for functions
  base/show.jl
Labels: display and printing

#39207 Fix some inferability issues in SparseArrays
  stdlib/SparseArrays/src/sparsematrix.jl
  stdlib/SparseArrays/src/sparsevector.jl
  stdlib/SparseArrays/test/sparse.jl
Labels: sparse

#38973 Use dot and views in QR code
  stdlib/LinearAlgebra/src/generic.jl
  stdlib/LinearAlgebra/src/qr.jl
Labels: linear algebra, performance

#38953 [doc] Add example for NaN comparision
  doc/src/manual/integers-and-floating-point-numbers.md
Labels: doc

#40156 correct reverseind example for Unicode
  base/strings/basic.jl
Labels: doc, unicode

#40330 fix inconsistent BroadcastFunction behavior
  base/broadcast.jl
  test/broadcast.jl
Labels: broadcast

#40332 Revert "Fix some inferability issues in SparseArrays"
  stdlib/SparseArrays/src/sparsematrix.jl
  stdlib/SparseArrays/src/sparsevector.jl
  stdlib/SparseArrays/test/sparse.jl
Labels: priority

#40334 test: fix bad copy in #40304
  test/errorshow.jl
Labels: merge me, priority

#40333 remove UndefVarError deprecation from v0.5
  base/errorshow.jl
  test/errorshow.jl
Labels: merge me

#40323 Fix relpath when path and startpath are in the same drive
  base/path.jl
  test/path.jl
Labels: backport 1.6, bugfix

#40343 Use 0.3.13+4 openblas binaries to fix #40279
  deps/checksums/gmp
  deps/checksums/libgit2
  deps/checksums/openblas
  deps/checksums/pcre
  deps/checksums/suitesparse
  stdlib/LinearAlgebra/docs/src/index.md
  stdlib/LinearAlgebra/src/symmetriceigen.jl
  stdlib/LinearAlgebra/src/tridiag.jl
  stdlib/LinearAlgebra/test/schur.jl
  stdlib/OpenBLAS_jll/Project.toml
Labels: backport 1.6, linear algebra

#40144 Fix real matrix sqrt and log for edge cases
  stdlib/LinearAlgebra/src/triangular.jl
  stdlib/LinearAlgebra/test/dense.jl
Labels: bugfix, linear algebra

#36211 Normalize (simplify) `UnionAll`s when used as type parameter
  src/jltypes.c
  test/core.jl
  test/subtype.jl
Labels: backport 1.6

#39111 Update Emoji Completions
  stdlib/REPL/src/emoji_symbols.jl
Labels: REPL, 😃🍕 and other emoji

#40376 errorshow: fix bad test from #40304
  base/errorshow.jl
  test/errorshow.jl
Labels: merge me, priority

#40286 fix #40249, reshaping SharedArray on another process
  stdlib/SharedArrays/src/SharedArrays.jl
  stdlib/SharedArrays/test/runtests.jl
Labels: arrays, backport 1.6, bugfix

#40357 Show methods for LBTConfig and LBTLibraryInfo
  stdlib/LinearAlgebra/src/lbt.jl
Labels: linear algebra

#40217 [build] Add `symlink_system_library` calls for CSL
  Make.inc
  Makefile
  base/Makefile
  deps/csl.mk
Labels: backport 1.6

#40351 Update reducedim.jl to fix a few doc strings.
  base/reducedim.jl
Labels: doc, merge me

#39312 Add `lock` wrapper for Channels.
  NEWS.md
  base/channels.jl
  base/condition.jl
  base/weakkeydict.jl
Labels: merge me

#40233 don't use realpath in Sys.which
  base/sysinfo.jl
  test/spawn.jl
Labels: bugfix, merge me

#35520 Tests to help improve coverage
  test/hashing.jl
Labels: hashing, merge me, test

#38484 Remove a few redundant diagonal `ldiv!` methods
  stdlib/LinearAlgebra/src/diagonal.jl
Labels: linear algebra, merge me

#40377 Backport 1.6 of PR #40328.
  test/regex.jl
Labels: merge me

#40378 Provide an error message for `Distributed.deserialize_msg`
  stdlib/Distributed/src/messages.jl
Labels: parallel

#39322 [Test] Define `broken`/`skip` keyword argument for `@test`
  NEWS.md
  stdlib/Test/src/Test.jl
  stdlib/Test/test/runtests.jl
  test/complex.jl
  test/ranges.jl
Labels: needs news, testsystem

#38725 Only print a single `LoadError:` prefix for nested LoadErrors during showerror
  base/errorshow.jl
Labels: error messages

#38762 Hint on how to type the ÷ sign
  doc/src/manual/mathematical-operations.md
Labels: doc, merge me

#38789 Replace _iszero by iszerodefined && iszero
  stdlib/LinearAlgebra/src/structuredbroadcast.jl
  stdlib/LinearAlgebra/test/structuredbroadcast.jl
Labels: linear algebra, merge me

#40395 fix #40337, no error info from serialized TaskFailedException
  base/task.jl
  stdlib/Distributed/src/clusterserialize.jl
  stdlib/Distributed/test/distributed_exec.jl
  stdlib/Serialization/src/Serialization.jl
Labels: backport 1.6, bugfix, error handling, parallel

#40396 Bump OpenBLAS_jll to `v0.3.13+5`
  deps/checksums/openblas
  deps/checksums/suitesparse
  stdlib/LinearAlgebra/docs/src/index.md
  stdlib/LinearAlgebra/src/symmetriceigen.jl
  stdlib/LinearAlgebra/src/tridiag.jl
  stdlib/OpenBLAS_jll/Project.toml
Labels: build, linear algebra

#37910 Attempt at fixing #33413, crash with `cglobal(dlsym(...))`
  src/julia-syntax.scm
  test/ccall.jl
Labels: codegen, parser

#40402 Avoid AbstractString in GitError struct
  stdlib/LibGit2/src/error.jl
Labels: latency, libgit2, performance

#40400 Bump MACOSX_VERSION_MIN from 10.9 to 10.10
  Make.inc
Labels: build, mac

#40403 Fix temp install of BugReporting.jl, fixes #40398.
  stdlib/InteractiveUtils/src/InteractiveUtils.jl
Labels: backport 1.6

#40364 searchsorted ranges: simplify code, fix bug with Unsigned needle
  base/range.jl
  base/sort.jl
  test/sorting.jl
Labels: backport 1.6, bugfix

#40380 remove method definition for `Int` in test/core.jl
  test/core.jl
Labels: test

#40394 docs: more scope lawyering (re #40238)
  doc/src/manual/variables-and-scoping.md
Labels: merge me

#40379 inference: limit single-level nested `Type` signature
  base/compiler/typelimits.jl
  test/compiler/inference.jl
Labels: inference

#39594 Dot-broadcasting for short-circuiting ops .&& and .||
  NEWS.md
  base/broadcast.jl
  src/julia-parser.scm
  src/julia-syntax.scm
  test/broadcast.jl
Labels: broadcast, lowering

#40408 remove unnecessary `@generated` from literal_pow
  base/intfuncs.jl
Labels: maths

#40339 Implemented bitwise nand and nor; tests and docs included.
  base/bitarray.jl
  base/bool.jl
  base/exports.jl
  base/gmp.jl
  base/operators.jl
  doc/src/base/math.md
  doc/src/manual/mathematical-operations.md
  stdlib/REPL/src/latex_symbols.jl
  test/bitarray.jl
  test/gmp.jl
  test/missing.jl
  test/numbers.jl
Labels: maths, merge me

#39403 Add U+2AEA (⫪) and U+2AEB (⫫) to binary operators
  NEWS.md
  src/julia-parser.scm
  stdlib/REPL/src/latex_symbols.jl
  test/syntax.jl
Labels: merge me, parser, unicode

#40057 Improve flow of documentation for non-standard strings
  doc/src/manual/metaprogramming.md
  doc/src/manual/strings.md
Labels: doc

#20627 assorted subtyping tests
  test/ambiguous.jl
  test/subtype.jl
Labels: merge me, test, types and dispatch

#38956 Implement basic pager using TerminalMenus
  stdlib/REPL/src/TerminalMenus/Pager.jl
  stdlib/REPL/src/TerminalMenus/TerminalMenus.jl
  stdlib/REPL/test/TerminalMenus/pager.jl
  stdlib/REPL/test/TerminalMenus/runtests.jl
Labels: merge me

#40391 `replace` with optional matching fails when there is no match (31456)
  base/pcre.jl
  base/regex.jl
  test/strings/util.jl
Labels: forgetmenot

#29884 Allow any f for sum/minimum/maximum(f, v::AbstractSparseVector)
  stdlib/SparseArrays/src/sparsevector.jl
  stdlib/SparseArrays/test/sparsevector.jl
Labels: sparse

#40428 fix a typo in TOML error message
  base/toml_parser.jl
Labels: TOML, backport 1.6

#40165 Fix eigvals(:::SymTridagonal) with longer off-diagonal vector
  stdlib/LinearAlgebra/src/lapack.jl
  stdlib/LinearAlgebra/test/lapack.jl
  stdlib/LinearAlgebra/test/tridiag.jl
Labels: linear algebra

#40039 Preserve Hessenberg shape when possible
  NEWS.md
  stdlib/LinearAlgebra/src/hessenberg.jl
  stdlib/LinearAlgebra/test/hessenberg.jl
  test/testhelpers/Furlongs.jl
Labels: linear algebra

#40433 fix typo in io.jl
  base/strings/io.jl
Labels: doc

#40365 fix #32843, codegen attempting `typeof(NULL)` for some union tags
  src/cgutils.cpp
  src/codegen.cpp
  test/compiler/codegen.jl
Labels: backport 1.6, bugfix, codegen

#40411 fix #39982, reduce cursor artifacts in REPL after #39538
  stdlib/REPL/src/LineEdit.jl
  stdlib/REPL/src/options.jl
Labels: REPL

#40437 fix verbose IRCode printing with long file names
  base/compiler/ssair/show.jl
  test/show.jl
Labels: bugfix, display and printing

#40425 Fix wine bootstrap
  Make.inc
  Makefile
  base/Makefile
  base/env.jl
  cli/Makefile
  cli/list_strip_symbols.h
  src/Makefile
  sysimage.mk
Labels: build, windows, wine

#40386 Add type asserts to (try)parse(::TimeType, ...) to help inference.
  stdlib/Dates/src/parse.jl
  stdlib/Dates/test/io.jl
Labels: dates

#37940 Add vim bindings to TerminalMenus
  stdlib/REPL/src/TerminalMenus/AbstractMenu.jl
  stdlib/REPL/test/TerminalMenus/runtests.jl
Labels: REPL

#40250 define dot between AbstractMatrix and UniformScaling
  NEWS.md
  stdlib/LinearAlgebra/src/uniformscaling.jl
  stdlib/LinearAlgebra/test/uniformscaling.jl
Labels: linear algebra

#40223 improve fastmath for `exp` and friends
  base/fastmath.jl
  base/special/exp.jl
Labels: maths, performance

#40473 RFC: a safepoint in yield
  src/jl_uv.c
Labels: multithreading

#40459 further parametrize IRShow
  base/compiler/ssair/show.jl
  base/reflection.jl
  base/show.jl
  stdlib/InteractiveUtils/src/codeview.jl
  test/show.jl
Labels: display and printing

#40479 fix #40478: MethodError hint printed twice
  base/errorshow.jl
  test/errorshow.jl
Labels: bugfix, error messages

#40452 fix #39982, remove cursor artifacts in REPL after #40411
  stdlib/REPL/src/LineEdit.jl
Labels: REPL

#40463 improve various inferrabilities, fix some errors
  base/compiler/ssair/inlining.jl
  base/compiler/ssair/verify.jl
  base/deprecated.jl
  base/iterators.jl
  base/loading.jl
  base/strings/basic.jl
  base/strings/util.jl
  base/toml_parser.jl
  base/version.jl
  stdlib/Distributed/src/cluster.jl
  stdlib/Distributed/src/remotecall.jl
  stdlib/LibGit2/src/error.jl
Labels: inference

#40481 prevent conj! into uninitialized memory
  stdlib/LinearAlgebra/src/matmul.jl
Labels: backport 1.6, linear algebra

#32120 Relax constrain on `lq` to allwo `AbstractMatrix`
  stdlib/LinearAlgebra/src/lq.jl
Labels: linear algebra

#40496 fix %a/%A format for zeros
  stdlib/Printf/src/Printf.jl
  stdlib/Printf/test/runtests.jl
Labels: bugfix, display and printing

#38254 Add examples for @text_str and @html_str
  base/docs/utils.jl
Labels: doc

#38253 Add docstring example to VecOrMat
  base/array.jl
Labels: doc

#40468 Allow use of 32 element tuples without dynamic allocation
  base/combinatorics.jl
  base/operators.jl
  base/tuple.jl
Labels: merge me

#38994 [CLI] error on not finding symbol
  cli/loader_lib.c
  src/jl_exported_funcs.inc
  src/threading.c
Labels: merge me

#39025 document how to use at_test_logs to check for no warnings
  stdlib/Test/src/logging.jl
Labels: doc, merge me

#38483 Extend `Eigen` to keep additional information from `geevx`
  stdlib/LinearAlgebra/src/eigen.jl
Labels: linear algebra, merge me

#39467 Simplify some views of Adjoint matrices
  stdlib/LinearAlgebra/src/adjtrans.jl
  stdlib/LinearAlgebra/test/adjtrans.jl
Labels: arrays

#40504 Revert "Simplify some views of Adjoint matrices"
  stdlib/LinearAlgebra/src/adjtrans.jl
  stdlib/LinearAlgebra/test/adjtrans.jl
Labels: linear algebra, merge me

#40502 Restrict `vec(::Transpose)` shortcut to numbers
  stdlib/LinearAlgebra/src/adjtrans.jl
  stdlib/LinearAlgebra/test/adjtrans.jl
Labels: linear algebra, merge me

#39441 float16 cbrt, 50% faster
  base/special/cbrt.jl
Labels: float16, maths, merge me, performance

#39665 Relax type restriction on `factors` field of `LQPackedQ`
  stdlib/LinearAlgebra/src/lq.jl
Labels: linear algebra

#40464 Add references to Performance Tips and Workflow Tips to Getting Started.
  doc/src/manual/getting-started.md
Labels: doc

#39447 Overload permutedims for Diagonal
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/LinearAlgebra/test/diagonal.jl
Labels: linear algebra

#40515 add spzeros(::Tuple{<:Integer})
  stdlib/SparseArrays/src/sparsevector.jl
  stdlib/SparseArrays/test/sparsevector.jl
Labels: merge me, sparse

#40509 Fix `kron` with `Diagonal`
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/LinearAlgebra/test/diagonal.jl
Labels: bugfix, linear algebra

#38919 Move CHOLMOD.common_struct from Vector{UInt8} to an actual struct
  deps/SuiteSparse_wrapper.c
  stdlib/SuiteSparse/src/cholmod.jl
  stdlib/SuiteSparse/src/spqr.jl
  stdlib/SuiteSparse/test/cholmod.jl
  stdlib/SuiteSparse_jll/Project.toml
Labels: linear algebra, sparse, stdlib

#40444 [SparseArrays] similar on sparse matrix returned uninitialized space
  stdlib/SparseArrays/src/sparsematrix.jl
  stdlib/SparseArrays/src/sparsevector.jl
  stdlib/SparseArrays/test/sparse.jl
  stdlib/SparseArrays/test/sparsevector.jl
Labels: sparse

#39513 Reductions of Transpose, Adjoint, PermutedDimsArray
  base/Base.jl
  base/permuteddimsarray.jl
  stdlib/LinearAlgebra/src/adjtrans.jl
  stdlib/LinearAlgebra/test/adjtrans.jl
  test/arrayops.jl
Labels: arrays, merge me

#39432 faster Float16 sinh
  base/special/hyperbolic.jl
Labels: float16, maths, merge me, performance

#40487 safepoints are required in any lock than may be used with allocations
  src/codegen.cpp
  src/dlload.c
  src/gc.c
  src/gf.c
  src/julia.h
  src/julia_internal.h
  src/module.c
  src/runtime_ccall.cpp
Labels: backport 1.6, bugfix, multithreading

#40456 add `selectdim(A, 2, 3:4)` example
  base/abstractarraymath.jl
Labels: doc

#40470 Added docstring for ->
  base/docs/basedocs.jl
Labels: doc

#40486 Add Documentation to RegexMatch and keys(::RegexMatch)
  base/regex.jl
  doc/src/base/strings.md
  doc/src/manual/strings.md
Labels: doc

#39033 Missing branch for last_error
  stdlib/LibGit2/test/libgit2.jl
Labels: error handling, libgit2, test

#40446 Add scal!(a,X)
  stdlib/LinearAlgebra/src/blas.jl
  stdlib/LinearAlgebra/test/blas.jl
Labels: linear algebra

#38606 Add many "see also" links to docstrings
  base/abstractarray.jl
  base/abstractarraymath.jl
  base/abstractset.jl
  base/accumulate.jl
  base/array.jl
  base/bool.jl
  base/combinatorics.jl
  base/complex.jl
  base/div.jl
  base/docs/basedocs.jl
  base/essentials.jl
  base/file.jl
  base/float.jl
  base/hashing.jl
  base/iddict.jl
  base/int.jl
  base/irrationals.jl
  base/iterators.jl
  base/math.jl
  base/mathconstants.jl
  base/missing.jl
  base/multidimensional.jl
  base/number.jl
  base/operators.jl
  base/permuteddimsarray.jl
  base/promotion.jl
  base/reduce.jl
  base/reducedim.jl
  base/reflection.jl
  base/set.jl
  base/show.jl
  base/some.jl
  base/sort.jl
  base/special/exp.jl
  base/special/trig.jl
  base/strings/io.jl
  base/strings/util.jl
  base/threadingconstructs.jl
  base/tuple.jl
  doc/src/base/arrays.md
  doc/src/base/base.md
  doc/src/base/math.md
  stdlib/Distributed/docs/src/index.md
  stdlib/InteractiveUtils/docs/src/index.md
  stdlib/InteractiveUtils/src/InteractiveUtils.jl
  stdlib/InteractiveUtils/src/macros.jl
  stdlib/LinearAlgebra/docs/src/index.md
  stdlib/LinearAlgebra/src/dense.jl
  stdlib/LinearAlgebra/src/generic.jl
  stdlib/Printf/docs/src/index.md
Labels: doc

#40534 enable new Float16 methods for sinh and cbrt
  base/math.jl
Labels: merge me

#40526 Fix eigvecs(:::SymTridiagonal) with longer off-diagonal vector
  stdlib/LinearAlgebra/src/lapack.jl
  stdlib/LinearAlgebra/test/lapack.jl
  stdlib/LinearAlgebra/test/tridiag.jl
Labels: linear algebra

#40528 Promote eltype when dividing UniformScaling by matrix
  stdlib/LinearAlgebra/src/uniformscaling.jl
  stdlib/LinearAlgebra/test/uniformscaling.jl
Labels: linear algebra

#40533 docs: mention privacy of type fields in style-guide
  doc/src/manual/style-guide.md
Labels: doc

#40520 SparseArrays: add Printf to test deps.
  stdlib/SparseArrays/Project.toml
Labels: backport 1.6

#40517 remove `===` for singleton equality tip
  doc/src/manual/performance-tips.md
Labels: doc

#27442 take!(::IOBuffer) does make copies
  base/iobuffer.jl
Labels: doc

#40512 Sign julia.exe executable within the installer
  contrib/windows/build-installer.iss
  contrib/windows/julia.rc
Labels: backport 1.6, windows

#34798 Document some guarantees that should be provided by `isequal`
  base/operators.jl
Labels: doc

#35715 Document what public API means
  doc/src/base/base.md
  doc/src/manual/faq.md
Labels: doc

#33824 add docstring for @ at the REPL
  base/docs/basedocs.jl
  doc/src/base/punctuation.md
  doc/src/manual/metaprogramming.md
Labels: doc, merge me

#40549 unexport cat_shape
  base/deprecated.jl
Labels: backport 1.6

#39373 Transpose and Adjoint support for exp, log and sqrt functions
  stdlib/LinearAlgebra/src/dense.jl
  stdlib/LinearAlgebra/test/dense.jl
Labels: linear algebra, merge me

#40540 add some docs for Dates formatters
  stdlib/Dates/docs/src/index.md
  stdlib/Dates/src/io.jl
Labels: dates, doc, stdlib

#39028 at_test_nowarn does not suppress the content of stderr anymore
  stdlib/Test/src/Test.jl
Labels: error messages, merge me

#39609 added docstring for single-quote in basedocs.jl
  base/docs/basedocs.jl
Labels: doc

#40551 Fix rational division by zero
  base/gmp.jl
  test/gmp.jl
Labels: backport 1.6, bugfix

#40423 logging: redirect closed streams to stderr/stdout
  base/logging.jl
  stdlib/Logging/src/ConsoleLogger.jl
  stdlib/Logging/src/Logging.jl
  test/corelogging.jl
Labels: logging, merge me

#40554 Document splitext() with multiple extensions
  base/path.jl
Labels: doc, merge me

#21261 add parametric invariance section
  doc/src/manual/faq.md
Labels: doc, merge me, types and dispatch

#36685 Update noteworthy-differences.md
  doc/src/manual/noteworthy-differences.md
Labels: doc, merge me

#38282 allow creating an undef Diagonal
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/LinearAlgebra/test/diagonal.jl
Labels: linear algebra, merge me

#36073 Add docstring for keys(::AbstractArray)
  base/abstractarray.jl
  doc/src/base/arrays.md
Labels: doc, merge me

#19044 fetch is a noop when on the same worker
  doc/src/manual/distributed-computing.md
Labels: doc, merge me, parallel

#39574 RFC: process: make SIGPIPE an always failure
  base/process.jl
  test/spawn.jl
Labels: I/O, merge me

#40543 remove some exports from Broadcast
  base/Base.jl
  base/broadcast.jl
Labels: broadcast

#40544 Mention that dropdims'ed array shares memory
  base/abstractarraymath.jl
Labels: doc

#30579 Document assignment destructuring
  base/tuple.jl
  doc/src/manual/functions.md
  doc/src/manual/variables.md
Labels: doc

#38263 Fix #31368: joinpath works on collections of paths
  base/path.jl
  test/path.jl
Labels: merge me

#40507 release-1.6: Set VERSION to 1.6.1
  VERSION
Labels: release

#25157 Make \cdot and \cdotp operators equivalent
  NEWS.md
  doc/src/manual/variables.md
  src/flisp/julia_charmap.h
  src/flisp/julia_extensions.c
  src/julia-parser.scm
  test/syntax.jl
Labels: merge me, parser

#40587 [release-1.6] Set VERSION to 1.6.2 prerelease
  VERSION
Labels: release

#40236 faster Float32 and Float16 pow
  base/math.jl
Labels: maths, performance

#40593 avoid excessive inlining of Ryu
  base/ryu/exp.jl
  base/ryu/fixed.jl
  base/ryu/shortest.jl
Labels: backport 1.6

#40589 Add CHOLMOD error handler
  stdlib/SuiteSparse/src/cholmod.jl
  stdlib/SuiteSparse/src/cholmod_h.jl
  stdlib/SuiteSparse/test/cholmod.jl
Labels: linear algebra, sparse
