Repository JuliaLang/julia, pull requests merged in 2021-12, with the labels that each got.

#43276 Fix (add|set)env to keep currently set dir for the command
  base/cmd.jl
  test/spawn.jl
Labels: bugfix, backport 1.6, backport 1.7

#43281 Add path length note to `connect`/`listen`
  stdlib/Sockets/src/PipeServer.jl
Labels: doc

#43265 optimizer: fix #43254, avoid infinite CFG traversal in SROA's domination analysis
  base/compiler/ssair/passes.jl
Labels: embarrassing-bugfix, optimizer

#43293 Revert "improve constraint propagation with `&&` in `||`"
  src/julia-syntax.scm
  test/compiler/inference.jl
Labels: regression, lowering, merge me

#36339 change intersect order to reduce time
  base/abstractset.jl
  test/sets.jl
Labels: performance, collections, triage, forgetmenot

#42339 [Distributed] Worker local race condition between put! and fetch for Futures
  stdlib/Distributed/src/remotecall.jl
  stdlib/Distributed/test/distributed_exec.jl
Labels: parallel, multithreading, stdlib, backport 1.7

#43252 Test: add durations to testset reports
  stdlib/Test/Project.toml
  stdlib/Test/docs/src/index.md
  stdlib/Test/src/Test.jl
  stdlib/Test/test/runtests.jl
  test/runtests.jl
Labels: testsystem, stdlib

#43345 Docs: re-resolve Manifest to include julia version (& project hash)
  doc/Manifest.toml
Labels: merge me

#43346 Allow underscores in big"[float]"
  base/int.jl
  test/int.jl
Labels: maths, bignums

#43348 NFC: optimizer: minor improvements on SROA pass
  base/compiler/ssair/inlining.jl
  base/compiler/ssair/passes.jl
Labels: optimizer, merge me

#43306 datatype: finish layout corrections
  src/array.c
  src/datatype.c
  src/jltypes.c
  src/julia.h
  test/compiler/codegen.jl
Labels: backport 1.7

#43349 Update punctuation.md to fix missing pipe
  doc/src/base/punctuation.md
Labels: doc

#43298 Avoid un-necessary reconfigure step on deps/gmp
  deps/gmp.mk
Labels: backport 1.7

#43359 doc: manually URL encode single quote in URL to fix pdf build
  doc/src/manual/functions.md
Labels: doc, backport 1.7

#43361 Look for package name in `[extras]` for Preferences
  base/loading.jl
  test/loading.jl
Labels: packages, bugfix, merge me, backport 1.6, backport 1.7

#43360 refine and cleanup handling of range arithmetic
  base/range.jl
  stdlib/Dates/src/Dates.jl
  stdlib/Dates/src/periods.jl
  stdlib/Dates/src/ranges.jl
  test/ranges.jl
Labels: ranges

#43152 release-1.6: Backports for 1.6.5
  Makefile
  base/asyncevent.jl
  base/compiler/ssair/show.jl
  base/expr.jl
  base/loading.jl
  base/version_git.sh
  deps/checksums/libuv
  deps/checksums/openblas
  deps/libuv.version
  doc/Manifest.toml
  doc/make.jl
  stdlib/Distributed/src/remotecall.jl
  stdlib/LibUV_jll/Project.toml
  stdlib/OpenBLAS_jll/Project.toml
  stdlib/Test/src/Test.jl
  stdlib/Test/test/runtests.jl
  test/syntax.jl
Labels: release

#43408 SROA: Ensure that unused structs are preserved in ccall
  base/compiler/ssair/passes.jl
  test/compiler/irpasses.jl
Labels: optimizer, merge me

#42972 Mention `norm` in docstring of `hypot`
  base/math.jl
Labels: doc

#43421 Fix typo: \nor is \barvee instead of \veebar
  base/bool.jl
Labels: doc

#41640 Replace Val-types in cholesky[!]
  NEWS.md
  stdlib/LinearAlgebra/src/cholesky.jl
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/LinearAlgebra/test/cholesky.jl
  stdlib/LinearAlgebra/test/factorization.jl
Labels: linear algebra

#42878 Manual: Move introduction about command line arguments from "Getting Started" to "Command-line options"
  doc/src/manual/command-line-options.md
  doc/src/manual/getting-started.md
Labels: doc

#43297 release-1.7: Backports for 1.7.1
  base/loading.jl
  base/version_git.sh
  deps/checksums/Pkg-0779de5302e03bf768f9167fa4aad4d78ba3af96.tar.gz/md5
  deps/checksums/Pkg-0779de5302e03bf768f9167fa4aad4d78ba3af96.tar.gz/sha512
  deps/checksums/Pkg-0fae7809dbaa400d99cbe3a5b39c82332a1381d1.tar.gz/md5
  deps/checksums/Pkg-0fae7809dbaa400d99cbe3a5b39c82332a1381d1.tar.gz/sha512
  deps/checksums/openblas
  deps/gmp.mk
  doc/Manifest.toml
  doc/make.jl
  doc/src/manual/functions.md
  src/array.c
  src/datatype.c
  src/jltypes.c
  src/julia.h
  src/signals-unix.c
  stdlib/Distributed/src/remotecall.jl
  stdlib/Distributed/test/distributed_exec.jl
  stdlib/OpenBLAS_jll/Project.toml
  stdlib/Pkg.version
  stdlib/Test/src/Test.jl
  stdlib/Test/test/runtests.jl
  test/compiler/codegen.jl
  test/loading.jl
Labels: release

#43424 Add test for IdSet pop with default
  test/sets.jl
Labels: test

#43433 use IEEEFloat to clean up floats.jl
  base/float.jl
Labels: merge me

#43370 Add support for per-module max_methods.
  base/compiler/abstractinterpretation.jl
  base/experimental.jl
  src/ast.c
  src/dump.c
  src/interpreter.c
  src/julia.h
  src/julia_internal.h
  src/module.c
Labels: latency, merge me

#43443 support Unicode 14.0.0 (via utf8proc 2.7.0)
  NEWS.md
  deps/checksums/utf8proc
  deps/utf8proc.version
Labels: unicode

#43415 some precompilation improvements
  base/compiler/abstractinterpretation.jl
  base/compiler/types.jl
  src/gf.c
  src/jitlayers.cpp
Labels: precompile

#43325 [Serialization] support AbstractLock and GenericCondition
  base/deepcopy.jl
  stdlib/Serialization/src/Serialization.jl
  stdlib/Serialization/test/runtests.jl
Labels: merge me

#43472 Fix a case of `-Wmisleading-indentation` when building with Clang
  src/abi_x86.cpp
Labels: embarrassing-bugfix, merge me

#43397 release-1.6: Set VERSION to 1.6.5
  VERSION
Labels: release

#43483 add const keyword to broadcasted AndAnd
  base/broadcast.jl
  test/broadcast.jl
Labels: performance, bugfix, backport 1.7

#43479 inlining: add missing late special handling for `UnionAll` method call
  base/compiler/ssair/inlining.jl
  test/compiler/inline.jl
Labels: optimizer

#43410 fix overflow bug in prevpow
  base/intfuncs.jl
  test/intfuncs.jl
Labels: maths, bugfix

#42225 reverse iteration for eachline
  NEWS.md
  base/io.jl
  base/iterators.jl
  test/read.jl
Labels: I/O, strings, merge me

#43495 [release-1.6] Set VERSION to 1.6.6 prerelease
  VERSION
Labels: release

#43127 Make LinearAlgebra.jl independent of SparseArrays.jl
  NEWS.md
  stdlib/LinearAlgebra/Project.toml
  stdlib/LinearAlgebra/docs/src/index.md
  stdlib/LinearAlgebra/src/LinearAlgebra.jl
  stdlib/LinearAlgebra/src/adjtrans.jl
  stdlib/LinearAlgebra/src/bidiag.jl
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/LinearAlgebra/src/special.jl
  stdlib/LinearAlgebra/src/svd.jl
  stdlib/LinearAlgebra/src/tridiag.jl
  stdlib/LinearAlgebra/src/uniformscaling.jl
  stdlib/LinearAlgebra/test/addmul.jl
  stdlib/LinearAlgebra/test/adjtrans.jl
  stdlib/LinearAlgebra/test/ambiguous_exec.jl
  stdlib/LinearAlgebra/test/bidiag.jl
  stdlib/LinearAlgebra/test/diagonal.jl
  stdlib/LinearAlgebra/test/special.jl
  stdlib/LinearAlgebra/test/symmetric.jl
  stdlib/LinearAlgebra/test/triangular.jl
  stdlib/LinearAlgebra/test/tridiag.jl
  stdlib/LinearAlgebra/test/uniformscaling.jl
  stdlib/SparseArrays/docs/src/index.md
  stdlib/SparseArrays/src/SparseArrays.jl
  stdlib/SparseArrays/src/sparsevector.jl
  stdlib/SparseArrays/test/sparse.jl
Labels: linear algebra, sparse

#43524 Use correct delimiter for inline code in DelimitedFiles.
  stdlib/DelimitedFiles/src/DelimitedFiles.jl
Labels: doc, merge me

#43480 release-1.7: set VERSION to 1.7.1
  VERSION
Labels: backport 1.7

#41270 RFC: Low-level API for `schedule` and `wait`
  base/task.jl
  doc/src/base/parallel.md
Labels: doc, multithreading

#43488 optimizer: improve SROA performance
  base/compiler/ssair/passes.jl
Labels: optimizer

#43502 some compiler-related improvements and fixes
  base/compiler/abstractinterpretation.jl
  base/compiler/ssair/slot2ssa.jl
  base/compiler/tfuncs.jl
  base/reflection.jl
  test/opaque_closure.jl
Labels: merge me

#43533 Improve inference for fallback TerminalMenu config access
  stdlib/REPL/src/TerminalMenus/AbstractMenu.jl
Labels: merge me

#43528 [release-1.7] Set VERSION to 1.7.2 prerelease
  VERSION
Labels: release

#43367 Add precompiles & disable constprop
  base/condition.jl
  base/dict.jl
  base/loading.jl
  base/logging.jl
  base/stacktraces.jl
  base/util.jl
  contrib/generate_precompile.jl
Labels: latency

#43549 Add tests for Dense/Strided * (Sym)Tridiagonal
  stdlib/LinearAlgebra/test/special.jl
Labels: test, linear algebra

#43541 Fix a few cases of REPL completion crash
  stdlib/REPL/src/REPLCompletions.jl
  stdlib/REPL/test/replcompletions.jl
Labels: REPL, bugfix, merge me

#43523 Add atan support for missings
  base/math.jl
  test/missing.jl
Labels: maths, needs tests, missing data

#38879 Manually implement tempname on non-windows
  base/file.jl
  test/file.jl
Labels: merge me

#43570 win32: Fix SEH frame sentinel
  src/win32_ucontext.c
Labels: windows, wine, backport 1.6, backport 1.7

#43575 `Base.runtests`: unset `JULIA_PROJECT` and `JULIA_LOAD_PATH`
  base/util.jl
Labels: test, testsystem, backport 1.6, backport 1.7

#43565 optimizer: compute side-effect-freeness for array allocations
  base/array.jl
  base/boot.jl
  base/compiler/optimize.jl
  base/compiler/tfuncs.jl
  base/reflection.jl
  src/array.c
  src/jl_exported_funcs.inc
  src/julia.h
  test/cmdlineargs.jl
  test/compiler/inline.jl
  test/compiler/irpasses.jl
Labels: optimizer

#43585 Update LinearAlgebra QR tests so that MKL.jl tests pass
  stdlib/LinearAlgebra/test/qr.jl
Labels: test, linear algebra

#43576 One and oneunit for triangular matrices
  stdlib/LinearAlgebra/src/special.jl
  stdlib/LinearAlgebra/test/triangular.jl
Labels: linear algebra

#43540 dropped an extra println statement, maintained readability.
  stdlib/LinearAlgebra/src/bidiag.jl
Labels: linear algebra, display and printing

#43606 Seed Libc rng from system entropy
  base/Base.jl
  base/libc.jl
  base/randomdevice.jl
  stdlib/Random/src/RNGs.jl
Labels: RNG

#43516 Change `shm_open()` calling ABI on aarch64 Darwin
  stdlib/SharedArrays/src/SharedArrays.jl
Labels: mac, apple silicon, backport 1.7
