Repository JuliaLang/julia, pull requests merged in 2021-01, with the labels that each got.

#39057 Written tests for typemin/typemax
  test/int.jl
Labels: merge me, test

#37741 Fixes for non-Int based lengths
  base/abstractarray.jl
  base/arrayshow.jl
  base/range.jl
  base/reshapedarray.jl
  base/subarray.jl
  test/abstractarray.jl
  test/subarray.jl
  test/testhelpers/InfiniteArrays.jl
Labels: backport 1.6

#39097 Bump Documenter to 0.26.1
  doc/Manifest.toml
Labels: backport 1.6, doc

#39013 filesystem: use libuv for rmdir directly
  base/file.jl
  test/file.jl
Labels: filesystem

#38915 Measure compile time only when using time macros pt.2: handling when code under test throws and make compile timing thread-local
  base/timing.jl
  src/aotcompile.cpp
  src/gf.c
  src/jitlayers.cpp
  src/julia_internal.h
  src/threading.c
Labels: backport 1.6

#39112 fix Meta.partially_inline! again
  base/meta.jl
  test/meta.jl
Labels: backport 1.6, bugfix

#39078 Test for Windows delete permissions in system folders
  test/file.jl
Labels: backport 1.6, test

#39072 Add a warning that HTML should not be used #38909
  base/docs/utils.jl
Labels: doc

#39133 Remove try from at-time and close compile timer during throw
  base/timing.jl
  src/task.c
  test/core.jl
Labels: backport 1.6

#39119 Fix alloc opt pass on LLVM 11+.
  src/llvm-alloc-opt.cpp
  test/llvmpasses/alloc-opt3.jl
Labels: backport 1.6, bugfix, codegen, performance

#39107 fix part of #38936, getfield elim handling union of tuples
  base/compiler/ssair/passes.jl
  base/compiler/typeutils.jl
  test/compiler/irpasses.jl
Labels: backport 1.6, optimizer

#39100 `addenv()`, by default, should inherit from `ENV`
  base/cmd.jl
  test/spawn.jl
Labels: backport 1.6

#39115 remove Core._apply Builtin
  base/boot.jl
  base/compiler/abstractinterpretation.jl
  base/compiler/compiler.jl
  base/compiler/optimize.jl
  base/compiler/ssair/inlining.jl
  base/compiler/types.jl
  src/builtin_proto.h
  src/builtins.c
  src/codegen.cpp
  src/module.c
  src/staticdata.c
  src/toplevel.c
  stdlib/InteractiveUtils/src/macros.jl
  test/compiler/inference.jl
  test/compiler/inline.jl
Labels: backport 1.6

#39130 fix #39117, overly-specific type from `default_eltype`
  base/array.jl
  test/dict.jl
Labels: backport 1.6, bugfix

#39051 Annotate function arguments with sext/zext
  src/codegen.cpp
Labels: backport 1.6, codegen, power, upstream

#38270 added automatic keyword assignment support to test macro
  stdlib/Test/src/Test.jl
  stdlib/Test/test/runtests.jl
Labels: backport 1.5, backport 1.6, bugfix, merge me, testsystem

#39142 fix some compiler warnings
  src/builtins.c
  src/threading.c
Labels: backport 1.6

#39146 Backports release 1.6-beta1
  base/array.jl
  base/cmd.jl
  base/compiler/ssair/passes.jl
  base/compiler/typeutils.jl
  base/timing.jl
  src/llvm-alloc-opt.cpp
  src/task.c
  test/compiler/irpasses.jl
  test/core.jl
  test/dict.jl
  test/file.jl
  test/llvmpasses/alloc-opt3.jl
  test/spawn.jl
Labels: release

#39149 fix count(::BitArray; dims)
  base/bitarray.jl
  test/bitarray.jl
Labels: backport 1.6, bugfix, fold

#39140 gf: avoid adding cache entries wider than the original method
  src/gf.c
Labels: backport 1.6

#39158 fix logdet(Diagonal{<:Real}) with negative entries
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/LinearAlgebra/test/diagonal.jl
Labels: bugfix, linear algebra

#39150 make lowrankupdate/downdate more permissive
  stdlib/LinearAlgebra/src/cholesky.jl
  stdlib/LinearAlgebra/test/cholesky.jl
Labels: linear algebra

#39169 Add the public `Dates.periods` function for getting the `Vector` of `Period`s that comprise a `CompoundPeriod`
  NEWS.md
  stdlib/Dates/docs/src/index.md
  stdlib/Dates/src/periods.jl
  stdlib/Dates/test/periods.jl
Labels: dates, stdlib

#39189 Add compat note to Dates.periods docstring
  stdlib/Dates/src/periods.jl
Labels: dates, merge me

#39132 improve redirect_std* functions
  base/stream.jl
Labels: I/O

#39118 [release-1.6] NEWS and a doc fix for #36778
  NEWS.md
  doc/src/manual/environment-variables.md
Labels: doc, multithreading

#39032 Docs and news for #38952
  NEWS.md
  doc/src/manual/environment-variables.md
Labels: doc, multithreading

#39074 improve inferrability of tuple slicing
  base/range.jl
  test/tuple.jl
Labels: performance

#38876 [WIP] Speed up dense-sparse matmul
  stdlib/SparseArrays/src/linalg.jl
Labels: backport 1.6, linear algebra, performance, sparse

#27843 Let tmerge form a Union more often
  base/compiler/typelimits.jl
  test/compiler/inference.jl
Labels: inference

#39179 Add some costly precompiles
  contrib/generate_precompile.jl
Labels: latency

#39211 Add libldl to SuiteSparse libs
  deps/suitesparse.mk
Labels: build, external dependencies

#39212 Copy libgomp as part of CSL build
  deps/csl.mk
Labels: build, external dependencies

#39214 Fix spawn test when env `BAR` is set
  test/spawn.jl
Labels: test

#39131 MbedTLS source build fixes
  deps/mbedtls.mk
  deps/tools/common.mk
Labels: build

#39233 Remove csl and suitesparse from DEPS_LIBS_STAGED
  deps/Makefile
Labels: build

#39215 fix return type for `jl_uncompress_argnames`
  base/methodshow.jl
Labels: backport 1.6

#39094 add patches for PPC
  contrib/refresh_checksums.mk
  deps/Versions.make
  deps/checksums/clang
  deps/checksums/llvm
  deps/llvm.mk
  deps/patches/llvm-11-D93092-ppc-knownbits.patch
  deps/patches/llvm-11-ppc-half-ctr.patch
  deps/patches/llvm-11-ppc-sp-from-bp.patch
  deps/patches/llvm-rGb498303066a6-gcc11-header-fix.patch
  stdlib/libLLVM_jll/Project.toml
Labels: backport 1.6, external dependencies, power

#38878 Add getindex methods for NamedTuple
  NEWS.md
  base/namedtuple.jl
  test/namedtuple.jl
Labels: collections, needs compat annotation, needs news

#39234 Add distclean-csl rule
  deps/csl.mk
Labels: build

#38258 allow running doctests with Revise
  Makefile
  doc/Makefile
  doc/make.jl
Labels: docsystem, test

#39087 Allow SVD of vectors
  stdlib/LinearAlgebra/src/svd.jl
  stdlib/LinearAlgebra/test/svd.jl
Labels: linear algebra

#39237 fix #39218, bug in subtyping fast path for tuples with repeated elements
  src/subtype.c
  test/subtype.jl
Labels: backport 1.6, bugfix, types and dispatch

#39210 [Artifacts]: Support `using Pkg.Artifacts` with LazyArtifacts
  stdlib/Artifacts/src/Artifacts.jl
  stdlib/Artifacts/test/runtests.jl
Labels: backport 1.6

#39255 Fix assertions
  src/jitlayers.cpp
Labels: backport 1.6, merge me

#39251 Fix binaryplatforms `union` invalidation
  base/binaryplatforms.jl
Labels: backport 1.6

#39246 staticdata: fix unreferenced data assertion
  src/staticdata.c
Labels: backport 1.6, bugfix

#39236 codegen: mostly fix uses of undefined PhiNodes
  src/codegen.cpp
  test/compiler/codegen.jl
Labels: backport 1.6

#39262 fix #39259, leave `Main.ARGS` unresolved on startup
  contrib/generate_precompile.jl
  test/cmdlineargs.jl
Labels: backport 1.6

#39252 Prevent TOML invalidation by pirates of `T[elements...]`
  base/toml_parser.jl
Labels: backport 1.6

#39152 Fix macos codesign workflow
  contrib/mac/app/Makefile
Labels: backport 1.6

#39274 Use arch-independent magic number as start seed for Preferences hash
  base/loading.jl
Labels: backport 1.6

#38775 [Make] remove BINARYBUILDER_LLVM_ASSERTS and use LLVM_ASSERTIONS instead
  Make.inc
  contrib/refresh_checksums.mk
  deps/llvm.mk
  src/ccall.cpp
  src/debuginfo.cpp
  test/llvmpasses/llvmcall.jl
Labels: backport 1.6

#39273 quote bindings with spaces in doc search
  stdlib/REPL/src/docview.jl
  stdlib/REPL/test/docview.jl
Labels: REPL, docsystem

#39265 aotcompile: avoid cache lookup when disallowed
  src/codegen.cpp
Labels: backport 1.6, bug, codegen

#39286 Fix tests sensitive to `--color=yes`
  stdlib/REPL/test/repl.jl
  test/ccall.jl
  test/cmdlineargs.jl
  test/loading.jl
  test/spawn.jl
Labels: test

#39238 Address corner cases in "loading" test suite
  test/loading.jl
Labels: test

#39260 Update LLVM to 11.0.1
  Make.inc
  contrib/refresh_checksums.mk
  deps/Versions.make
  deps/checksums/clang
  deps/checksums/clang-11.0.1.src.tar.xz/md5
  deps/checksums/clang-11.0.1.src.tar.xz/sha512
  deps/checksums/compiler-rt-11.0.0.src.tar.xz/md5
  deps/checksums/compiler-rt-11.0.0.src.tar.xz/sha512
  deps/checksums/compiler-rt-11.0.1.src.tar.xz/md5
  deps/checksums/compiler-rt-11.0.1.src.tar.xz/sha512
  deps/checksums/libcxx-11.0.1.src.tar.xz/md5
  deps/checksums/libcxx-11.0.1.src.tar.xz/sha512
  deps/checksums/lldb-11.0.0.src.tar.xz/md5
  deps/checksums/lldb-11.0.0.src.tar.xz/sha512
  deps/checksums/lldb-11.0.1.src.tar.xz/md5
  deps/checksums/lldb-11.0.1.src.tar.xz/sha512
  deps/checksums/llvm
  deps/llvm.mk
  deps/patches/llvm-11-D94813-mergeicmps.patch
  deps/patches/llvm-11-D94828-ppc-half-fpconv.patch
  src/ccall.cpp
  src/debuginfo.cpp
  stdlib/libLLVM_jll/Project.toml
  test/llvmpasses/llvmcall.jl
Labels: backport 1.6

#39153 improve performance of disabling finalizers in locks
  base/gcutils.jl
  base/lock.jl
  base/locks-mt.jl
  src/ccall.cpp
  src/gc.c
  src/julia_threads.h
  src/locks.h
  src/rtutils.c
Labels: backport 1.6, multithreading, performance

#39315 Only create legal int types during alloc opt
  src/llvm-alloc-opt.cpp
  test/llvmpasses/alloc-opt.jl
  test/llvmpasses/alloc-opt2.jl
Labels: backport 1.6, codegen, gpu

#39316 Preserve input type for unaliascopy(::ReinterpretArray)
  base/reinterpretarray.jl
  test/reinterpretarray.jl
Labels: backport 1.6

#39319 Rebase: Performance regression of scalar randn() between Julia 1.4 and 1.5
  stdlib/Random/src/normal.jl
Labels: backport 1.6

#39314 Use lispy tuples in cat (fixes #21673)
  base/abstractarray.jl
Labels: backport 1.6, performance

#39321 make `extrema` with dims inferrable
  base/multidimensional.jl
  test/reduce.jl
Labels: backport 1.6

#39116 Improve inference SCC '[limited]' code computation
  base/compiler/abstractinterpretation.jl
  base/compiler/inferencestate.jl
  base/compiler/tfuncs.jl
  base/compiler/typeinfer.jl
  base/compiler/typelattice.jl
  base/compiler/typelimits.jl
Labels: backport 1.6, inference, latency

#39331 Docs: add note about `IOBuffer` to `countlines` and `eachline`
  base/io.jl
Labels: doc

#39309 Update threadingconstructs.jl
  base/threadingconstructs.jl
Labels: doc, multithreading

#39336 fix failing `enable_finalizers` test
  test/misc.jl
Labels: backport 1.6

#39333 Fix performance regression in broadcasting with CartesianIndices
  base/broadcast.jl
Labels: backport 1.6, broadcast, performance

#39324 LibGit2: patch to pass hostkey & port to host verify callback
  deps/Versions.make
  deps/checksums/LibGit2.v1.2.1+0.x86_64-apple-darwin.tar.gz/md5
  deps/checksums/LibGit2.v1.2.1+0.x86_64-apple-darwin.tar.gz/sha512
  deps/libgit2.mk
  deps/patches/libgit2-hostkey.patch
  stdlib/LibGit2/src/callbacks.jl
  stdlib/LibGit2/src/consts.jl
  stdlib/LibGit2/test/libgit2.jl
Labels: backport 1.6

#37299 define keys on RegexMatch
  NEWS.md
  base/regex.jl
  test/regex.jl
Labels: triage

#35806 add a test that error can be inferred to bottom
  test/compiler/inference.jl
Labels: merge me

#34355 Make RegexMatch iterable
  NEWS.md
  base/regex.jl
  test/regex.jl
Labels: merge me, strings

#39065 Fix jl_new_task to avoid allocating stack twice
  src/task.c
Labels: merge me

#39285 implement property destructuring
  NEWS.md
  src/julia-syntax.scm
  test/syntax.jl
Labels: lowering, needs news, triage

#39279 Correct mbedtls-cmake-findpy.patch whitespace.
  deps/patches/mbedtls-cmake-findpy.patch
Labels: backport 1.6, build

#39267 minor speedup and accuracy improvement for atanh
  base/special/hyperbolic.jl
Labels: maths, merge me, performance

#39310 Update PCRE2 to 10.36
  deps/Versions.make
  deps/checksums/pcre
  deps/patches/pcre2-cet-flags.patch
  deps/patches/pcre2-sljit-apple-silicon-support.patch
  deps/pcre.mk
  stdlib/PCRE2_jll/Project.toml
  stdlib/PCRE2_jll/test/runtests.jl
Labels: external dependencies

#39375 inference: SCC handling missing for return_type_tfunc
  base/compiler/tfuncs.jl
Labels: backport 1.6

#39343 gf: invalidate when adding new methods
  src/gf.c
  test/worlds.jl
Labels: backport 1.6, embarrassing-bugfix

#39372 Fixed a spelling error.
  doc/src/manual/arrays.md
Labels: doc, merge me

#39332 inference: a bit code clean up
  base/compiler/abstractinterpretation.jl
Labels: inference

#39358 fix REPL summary for types
  stdlib/REPL/src/docview.jl
  test/docs.jl
Labels: REPL, display and printing

#39369 Fix #39367, doc for inbounds use each index
  base/essentials.jl
Labels: doc

#39366 bugfixes for showing type aliases
  base/show.jl
  test/show.jl
Labels: backport 1.6, bugfix

#39073 Add basic docs for (Lazy)Artifacts stdlibs
  stdlib/Artifacts/docs/src/index.md
  stdlib/Artifacts/src/Artifacts.jl
  stdlib/LazyArtifacts/docs/src/index.md
Labels: backport 1.6, doc, stdlib

#39399 test: fix merge conflict in show
  test/docs.jl
Labels: merge me, priority

#39387 Don't touch gvars when compiling for an external back-end.
  src/aotcompile.cpp
Labels: backport 1.6, codegen, gpu

#39398 [LLVM] Replace patch for half FP on Power8
  deps/llvm.mk
  deps/patches/llvm-11-D94058-sext-atomic-ops.patch
  deps/patches/llvm-11-D94828-ppc-half-fpconv.patch
  deps/patches/llvm-11-D94980-CTR-half.patch
Labels: backport 1.6, power

#39352 add Cholesky constructors for triangular matrices
  stdlib/LinearAlgebra/src/cholesky.jl
  stdlib/LinearAlgebra/test/cholesky.jl
Labels: linear algebra

#39413 fix repr of `(x...)...`
  base/show.jl
  test/show.jl
Labels: bugfix, display and printing

#39408 fix #39405, saving modules with renamed imports
  src/dump.c
  src/staticdata.c
  test/precompile.jl
Labels: backport 1.6, bugfix

#39406 Revert "Let tmerge form a Union more often (#27843)"
  base/compiler/typelimits.jl
  test/compiler/inference.jl
Labels: backport 1.6, latency

#39407 fix `isknownlength` for new Vararg representation
  base/compiler/typeutils.jl
  test/compiler/inference.jl
Labels: bugfix, inference

#39414 implement with fewer afoldl methods
  base/operators.jl
  test/operators.jl
Labels: backport 1.6

#39393 fix #39379, use first∘LinearIndices instead of 1
  base/abstractarray.jl
  test/offsetarray.jl
Labels: arrays, backport 1.6, bugfix

#39429 remove bad method specialization from cache
  base/Base.jl
  src/gf.c
Labels: backport 1.6, bugfix

#39420 Fix ~700 PyPlot invalidations
  base/binaryplatforms.jl
  base/docs/Docs.jl
  base/errorshow.jl
  base/file.jl
  base/namedtuple.jl
  base/stacktraces.jl
  stdlib/Markdown/src/parse/parse.jl
Labels: latency

#39256 make compact type alias output more compact
  base/show.jl
Labels: backport 1.6, display and printing

#39185 Fix broadcast error when eltype is inconsistent with getindex
  base/broadcast.jl
  test/broadcast.jl
Labels: backport 1.6, broadcast, bugfix

#39422 render Regex and SubstitionString correctly for repr
  base/regex.jl
  base/strings/io.jl
  test/regex.jl
Labels: display and printing

#39451 [doc] Fix subheadings in FAQ: slurping/splatting
  doc/src/manual/faq.md
Labels: doc

#39428 InteractiveUtils: add more info to code_warntype
  base/methodshow.jl
  base/show.jl
  stdlib/InteractiveUtils/src/codeview.jl
  stdlib/InteractiveUtils/test/highlighting.jl
  stdlib/InteractiveUtils/test/runtests.jl
  stdlib/Test/src/Test.jl
Labels: display and printing

#39469 Fix bullet list formatting in Logging docs.
  stdlib/Logging/docs/src/index.md
Labels: doc
