Repository JuliaLang/julia, pull requests merged in 2021-08, with the labels that each got.

#41752 guard isempty (close #41656)
  contrib/generate_precompile.jl
  test/misc.jl
Labels: backport 1.6, backport 1.7

#41758 Small documentation enhancement and typo fix
  doc/src/manual/arrays.md
  doc/src/manual/style-guide.md
Labels: doc, merge me

#41732 Profile: Shuffle profile round robin thread order before taking every sample
  src/signal-handling.c
  src/signals-mach.c
  src/signals-unix.c
Labels: feature, performance

#41650 Printf %g/%G format fix for Inf/NaN
  stdlib/Printf/src/Printf.jl
  stdlib/Printf/test/runtests.jl
Labels: backport 1.6, backport 1.7, bugfix

#40803 Enable conversion of `CompoundPeriod` to `Period`
  stdlib/Dates/src/periods.jl
  stdlib/Dates/test/periods.jl
Labels: dates

#41687 fix #40048, stack overflows in type intersection
  src/subtype.c
  test/subtype.jl
Labels: backport 1.7, bugfix, types and dispatch

#41486 Update networking-and-streams.md
  doc/src/manual/networking-and-streams.md
Labels: doc, merge me

#41734 [Sockets] Embed note warning about broken DNS configuration
  stdlib/Sockets/test/runtests.jl
Labels: merge me

#41767 Set VERSION to 1.7.0-beta4
  VERSION
Labels: release

#41783 string: improve error message for in -> occursin
  base/strings/search.jl
Labels: merge me

#41776 fix `break` outside of loop in gc-debug
  src/gc-debug.c
Labels: GC

#41796 CI (Buildkite): on the `platform_linux` jobs, after building Julia, make sure that the working directory is clean
  .buildkite/pipelines/main/platforms/linux64.yml
Labels: ci, backport 1.6, backport 1.7

#41812 CI: Disable Codecov commit statuses
  .codecov.yml
Labels: ci, backport 1.6, backport 1.7

#41811 CI (Buildbot): As soon as a PR is created or updated, create pending (yellow) commit statuses for all Buildbot jobs
  .github/CODEOWNERS
  .github/workflows/statuses.yml
Labels: ci, backport 1.6, backport 1.7

#41814 CI (Buildbot): for the "Create Pending Statuses" GitHub Actions workflow, use the `pull_request_target` event instead of the `pull_request` event
  .github/workflows/statuses.yml
Labels: ci, backport 1.6, backport 1.7

#41815 CI (Buildbot): Fix a bug in the "Create Pending Statuses" GitHub Actions workflow
  .github/workflows/statuses.yml
Labels: ci, backport 1.6, backport 1.7

#41817 CI (Buildbot): a simpler way of getting the SHA for the "Statuses" action
  .github/workflows/statuses.yml
Labels: ci, backport 1.6, backport 1.7

#41822 CI (Buildbot, GHA): in the "Statuses" workflow, we only need to create pending (yellow) statuses for the `tester_` jobs
  .github/workflows/statuses.yml
Labels: ci, backport 1.6, backport 1.7

#41824 CI (Buildbot, GHA): in the "Statuses" workflow, remove the `macosaarch64` and `musl64` statuses
  .github/workflows/statuses.yml
Labels: ci, backport 1.6, backport 1.7

#41831 CI (Buildbot, GHA): in the "Statuses" workflow, remove the `tester_linuxppc64le` status
  .github/workflows/statuses.yml
Labels: ci, backport 1.6, backport 1.7

#41832 CI (Buildbot, GHA): In the "Statuses" workflow, remove the `tester_linuxarmv7l` status
  .github/workflows/statuses.yml
Labels: ci, backport 1.6, backport 1.7

#41825 CI (Buildbot, GHA): add a note about token permissions
  .github/workflows/statuses.yml
Labels: ci, backport 1.6, backport 1.7

#38791 ?(x, y)TAB completes methods accepting x, y
  NEWS.md
  stdlib/REPL/docs/src/index.md
  stdlib/REPL/src/LineEdit.jl
  stdlib/REPL/src/REPL.jl
  stdlib/REPL/src/REPLCompletions.jl
  stdlib/REPL/test/replcompletions.jl
Labels: REPL, forgetmenot

#41838 typo fix in documentation
  doc/src/manual/running-external-programs.md
Labels: doc

#41842 Include an additional patch for OpenBLAS.
  deps/checksums/openblas
  deps/openblas.mk
  deps/patches/openblas-armv8-volatile-detecion.patch
  stdlib/OpenBLAS_jll/Project.toml
Labels: arm, external dependencies, backport 1.7

#41828 [IRShow] expose index information to postprinter
  base/compiler/ssair/show.jl
Labels: display and printing

#41851 CI (Buildbot, GHA): Simplify the `permissions` key in the workflow file for the "Statuses" workflow
  .github/workflows/statuses.yml
Labels: ci, backport 1.6, backport 1.7

#41849 win: fix lock function call for backtrace collection
  src/signals-win.c
Labels: windows, error handling, backport 1.6, backport 1.7

#41659 atomics: switch to using Pair for return pairs
  base/Base.jl
  base/boot.jl
  base/compiler/tfuncs.jl
  base/expr.jl
  base/pair.jl
  src/cgutils.cpp
  src/codegen.cpp
  src/datatype.c
  src/gc.c
  src/init.c
  src/jl_exported_data.inc
  src/jl_exported_funcs.inc
  src/jltypes.c
  src/julia.h
  src/runtime_intrinsics.c
  src/staticdata.c
  test/atomics.jl
  test/intrinsics.jl
  test/show.jl
Labels: multithreading, backport 1.7

#41821 Profile: allocate buffer for n instruction pointers per thread
  stdlib/Profile/src/Profile.jl
Labels: merge me, profiler

#41861 make: clean external stdlib clones
  stdlib/Makefile
Labels: merge me

#41835 Revert "Add vim bindings to TerminalMenus (#37940)"
  stdlib/REPL/src/TerminalMenus/AbstractMenu.jl
  stdlib/REPL/test/TerminalMenus/runtests.jl
Labels: backport 1.7

#41756 clarify that test macro throws outside a testset if it fails
  stdlib/Test/src/Test.jl
Labels: doc

#41864 CI (Buildkite): `llvmpasses`: use the latest rootfs image
  .buildkite/pipelines/main/misc/llvmpasses.yml
Labels: ci, merge me, backport 1.6, backport 1.7

#41860 MINSIGSTKSZ is no longer constant in glibc
  src/task.c
Labels: merge me

#41881 Nothing comparison improvement in `stdlib/Distributed/src/managers.jl`
  stdlib/Distributed/src/managers.jl
Labels: merge me

#41887 REPL: Don't look for missing packages in code that isn't going to be run
  stdlib/REPL/src/REPL.jl
  stdlib/REPL/test/repl.jl
Labels: backport 1.7

#41883 fix: typo spelling grammar
  base/compiler/tfuncs.jl
  src/cgutils.cpp
  src/features_x86.h
  src/gf.c
  src/interpreter.c
  src/llvm-late-gc-lowering.cpp
  src/llvm-lower-handlers.cpp
  test/compiler/inference.jl
  test/compiler/irpasses.jl
  test/show.jl
Labels: merge me

#41452 [LinearAlgebra] flesh out LBT API a bit more
  stdlib/LinearAlgebra/src/blas.jl
  stdlib/LinearAlgebra/src/lbt.jl
Labels: linear algebra, backport 1.7

#41873 docs: add v1.7 compat for @atomic... + fix links
  base/expr.jl
  doc/src/manual/multi-threading.md
Labels: doc, backport 1.7

#41874 Add tests for issue #10966
  test/sorting.jl
Labels: test

#39241 range(; stop) and range(; length). Single keyword args only. Single pos arg not allowed.
  NEWS.md
  base/range.jl
  test/ranges.jl
Labels: triage

#41898 ensure that the non-REPL precompile code actually get precompiled
  contrib/generate_precompile.jl
Labels: backport 1.7

#41855 mention typeof functions in types docs
  doc/src/manual/types.md
Labels: doc

#41901 add a showerror implementation for InvalidStateException
  base/channels.jl
  doc/src/manual/asynchronous-programming.md
Labels: error messages

#41902 code quote the atomic orderings in the manual
  doc/src/manual/multi-threading.md
Labels: doc

#41888 Support `@test_throws` just checking the error message
  NEWS.md
  stdlib/Test/src/Test.jl
  stdlib/Test/test/runtests.jl
Labels: merge me

#41877 Fix ~370 invalidations from Expr(:ncat, ...) pretty-printing
  base/show.jl
Labels: latency, merge me, backport 1.7

#41878 Fix ~50 invalidations stemming from `modules_to_be_loaded`
  stdlib/REPL/src/REPL.jl
  stdlib/REPL/test/repl.jl
Labels: latency, backport 1.7

#40872 fixed inconsistency in allowed precision
  base/mpfr.jl
  test/mpfr.jl
Labels: bignums

#41913 Attribution for "insert_backedges" invalidations
  src/dump.c
Labels: latency

#41905 fix module redefinition warning when running tests
  test/compiler/inference.jl
Labels: testsystem

#41900 Update BinaryBuilder libuv to 2.0.1+4
  deps/checksums/libuv
  stdlib/LibUV_jll/Project.toml
Labels: freebsd, external dependencies

#41746 add compat annotations for `replace` on tuples
  NEWS.md
  base/set.jl
Labels: merge me

#41511 Avoid potential ambiguities for `[h/v/hv]cat` in packages
  stdlib/LinearAlgebra/src/uniformscaling.jl
Labels: linear algebra, arrays, triage, latency, merge me

#41807 Allow AbstractUnitRange for string getindex
  base/strings/string.jl
  base/strings/substring.jl
Labels: merge me

#41863 Force type stability of `_invoked_shouldlog` & friends for non-concrete loggers
  base/logging.jl
Labels: merge me

#41926 quote DimensionMismatch in docstring
  base/abstractarray.jl
Labels: doc

#41513 Support negative strides in `BLAS.gemv!`
  stdlib/LinearAlgebra/src/blas.jl
  stdlib/LinearAlgebra/test/blas.jl
Labels: linear algebra

#41672 small optimization to subtyping
  src/subtype.c
Labels: performance, types and dispatch, backport 1.7

#41956 README: add a link to the `base-buildkite-docs` repository
  .buildkite/README.md
Labels: ci, merge me, backport 1.6, backport 1.7

#41930 Derive better name for methods with external method tables.
  src/interpreter.c
  src/method.c
Labels: gpu, backport 1.7

#41967 Move the checksums for the SuiteSparse.jl external stdlib into the `deps/checksums/suitesparse` file
  deps/checksums/SuiteSparse-76856153eef26c008f13520ffa12288e214fe02c.tar.gz/md5
  deps/checksums/SuiteSparse-76856153eef26c008f13520ffa12288e214fe02c.tar.gz/sha512
  deps/checksums/suitesparse
Labels: linear algebra, external dependencies, stdlib

#41961 Validate CodeInstances with no external edges
  src/dump.c
  test/precompile.jl
Labels: precompile

#41882 inference: prioritize `force_constant_prop` over `const_prop_entry_heuristic`
  base/compiler/abstractinterpretation.jl
  test/compiler/inline.jl
Labels: inference

#41982 [release-1.7] Bump the SuiteSparse stdlib from ec4b40a to b2d965a
  deps/checksums/SuiteSparse-ec4b40ad9c0490ebf0969a41d4f880620db3f6f9.tar.gz/md5
  deps/checksums/SuiteSparse-ec4b40ad9c0490ebf0969a41d4f880620db3f6f9.tar.gz/sha512
  deps/checksums/suitesparse
  stdlib/SuiteSparse.version
Labels: linear algebra, stdlib, release

#40778 fix #25678: return matters for generated functions
  base/expr.jl
  test/syntax.jl
Labels: lowering

#41925 ml-matches: fix performance trap
  src/gf.c
Labels: latency

#41973 Upgrade OpenBLAS to v0.3.17
  deps/Versions.make
  deps/checksums/openblas
  deps/openblas.mk
  deps/openblas.version
  deps/patches/neoverse-generic-kernels.patch
  deps/patches/openblas-Only-filter-out-mavx-on-Sandybridge.patch
  deps/patches/openblas-armv8-volatile-detecion.patch
  deps/patches/openblas-exshift.patch
  deps/patches/openblas-filter-out-mavx-flag-on-zgemm-kernels.patch
  deps/patches/openblas-ofast-power.patch
  deps/patches/openblas-winexit.patch
  stdlib/LinearAlgebra/src/LinearAlgebra.jl
  stdlib/LinearAlgebra/src/hessenberg.jl
  stdlib/OpenBLAS_jll/Project.toml
Labels: external dependencies

#41276 "fixed" static linking of libllvm and julia
  src/Makefile
Labels: build

#41867 fix a case where Vararg.T might be accessed when undefined
  base/compiler/typelimits.jl
  test/compiler/inference.jl
Labels: bugfix, merge me, backport 1.7

#41976 fix #41908, inference error in subst_trivial_bounds
  base/compiler/utilities.jl
  test/compiler/inference.jl
Labels: bugfix, inference, merge me, backport 1.7

#41917 Various inferrability improvements
  base/arrayshow.jl
  base/error.jl
  base/range.jl
  contrib/generate_precompile.jl
  stdlib/Logging/src/ConsoleLogger.jl
  stdlib/REPL/src/docview.jl
  stdlib/Test/src/Test.jl
Labels: merge me

#41885 Eliminate fallback `reduce_empty`
  base/errorshow.jl
  base/reduce.jl
  stdlib/SparseArrays/test/sparse.jl
  test/abstractarray.jl
  test/missing.jl
  test/reduce.jl
  test/reducedim.jl
  test/spawn.jl
  test/tuple.jl
Labels: latency

#41323 deprecate `@_(no)inline_meta` in favor of no-arg `@(no)inline`
  base/Base.jl
  base/abstractarray.jl
  base/array.jl
  base/boot.jl
  base/checked.jl
  base/compiler/compiler.jl
  base/deprecated.jl
  base/error.jl
  base/essentials.jl
  base/experimental.jl
  base/expr.jl
  base/gcutils.jl
  base/generator.jl
  base/indices.jl
  base/loading.jl
  base/multidimensional.jl
  base/ntuple.jl
  base/number.jl
  base/operators.jl
  base/pointer.jl
  base/promotion.jl
  base/range.jl
  base/rational.jl
  base/reinterpretarray.jl
  base/reshapedarray.jl
  base/set.jl
  base/subarray.jl
  base/tuple.jl
  base/twiceprecision.jl
  stdlib/LinearAlgebra/src/adjtrans.jl
  test/compiler/codegen.jl
  test/opaque_closure.jl
  test/syntax.jl
  test/vecelement.jl
Labels: forgetmenot

#41998 Remove some trailing whitespace
  stdlib/REPL/src/docview.jl
Labels: merge me

#41733 Make `jl_cumulative_compile_time_ns` global (and reentrant).
  base/timing.jl
  src/aotcompile.cpp
  src/gf.c
  src/jitlayers.cpp
  src/julia_internal.h
  src/task.c
  src/threading.c
  test/misc.jl
Labels: backport 1.7

#41970 Fix `gemv!` bug introduced in #41513
  stdlib/LinearAlgebra/src/blas.jl
  stdlib/LinearAlgebra/test/blas.jl
Labels: linear algebra, bugfix, embarrassing-bugfix

#41993 Update LLVM libunwind to 12.0.1
  deps/Versions.make
  deps/checksums/llvmunwind
  stdlib/LLVMLibUnwind_jll/Project.toml
Labels: mac, external dependencies

#41857 store location of loop boundary
  src/julia-parser.scm
  stdlib/Distributed/src/macros.jl
  test/testhelpers/coverage_file.info
  test/testhelpers/coverage_file.info.bad
Labels: parser

#42034 inference: add missing `LimitedAccuracy` handlings
  base/compiler/abstractinterpretation.jl
  base/compiler/typelattice.jl
Labels: inference, backport 1.7

#42024 improve atomic docs
  base/docs/basedocs.jl
Labels: backport 1.7

#42026 Reduced number of allocations for dense matrix exp
  stdlib/LinearAlgebra/src/dense.jl
Labels: performance, linear algebra

#42035 fix missing layout allocation
  src/jltypes.c
  test/compiler/codegen.jl
Labels: types and dispatch, embarrassing-bugfix, merge me, backport 1.7

#42038 Add FreeBSD support to jl_get_rsp_from_ctx
  src/signals-unix.c
Labels: freebsd

#42039 Infer eltype explicitly in LinRange
  base/range.jl
  test/ranges.jl
Labels: ranges

#42032 RFC: Allow vectors for indexing in getindex(::UniformScaling, ...)
  stdlib/LinearAlgebra/src/uniformscaling.jl
  stdlib/LinearAlgebra/test/uniformscaling.jl
Labels: linear algebra

#42050 Fix Sys.which test when running a debug build of Julia
  test/spawn.jl
Labels: test

#41839 Fix a precision issue in `abstract_iteration`
  base/compiler/abstractinterpretation.jl
  test/compiler/inference.jl
Labels: bugfix, inference, backport 1.6, backport 1.7

#42069 Fix grammar in deprecation warning
  stdlib/Test/src/Test.jl
Labels: merge me

#41447 make failure to precompile a method return a value instead of a unconditionally warn
  base/loading.jl
  test/ambiguous.jl
Labels: bugfix, triage, backport 1.7

#34541 inference: make getfield_tfunc more robust for abstract PartialStruct
  base/compiler/tfuncs.jl
Labels: merge me
