Repository JuliaLang/julia, pull requests merged in 2022-11, with the labels that each got.

#47406 loader_fputs convert to utf16 only for Windows console
  cli/loader.h
  cli/loader_win_utils.c
Labels: windows

#47402 Unrevert 46845 (Add `jl_print_task_backtraces()`)
  src/stackwalk.c
Labels: merge me, re-land

#47398 add hvncat to the cat see also section
  base/abstractarray.jl
Labels: doc

#47264 Detect bad arguments to code_native
  base/reflection.jl
  stdlib/InteractiveUtils/src/InteractiveUtils.jl
  stdlib/InteractiveUtils/test/runtests.jl
Labels: merge me

#47426 Delete the `.github/workflows/statuses.yml`
  .github/workflows/statuses.yml
Labels: ci

#47411 Bugfix; do not allocate more than needed
  cli/loader_win_utils.c
Labels: merge me

#47395 Don't warn about skipping tests that were not skipped
  test/choosetests.jl
Labels: testsystem

#47392 support Unicode 15 via utf8proc 2.8
  NEWS.md
  deps/checksums/utf8proc
  deps/utf8proc.version
Labels: unicode

#47368 Improve error message for non-distinct static param names
  src/julia-syntax.scm
  test/syntax.jl
Labels: merge me

#47330 Add QuickSort's stability to news
  NEWS.md
Labels: doc

#47229 memassign_safe: move src and dst to next buffer position
  src/datatype.c
Labels: embarrassing-bugfix, backport 1.8

#47397 Fix LAPACK test: don't call `sygvd!` on `undef`ed matrix
  stdlib/LinearAlgebra/test/lapack.jl
Labels: test, linear algebra, merge me, backport 1.6, backport 1.8

#40790 Make `norm` handle `missing`s
  stdlib/LinearAlgebra/src/generic.jl
  stdlib/LinearAlgebra/test/generic.jl
Labels: linear algebra, missing data

#44093 many types should define broadcastable(o) = Ref(o)
  doc/src/manual/interfaces.md
  doc/src/manual/types.md
Labels: doc, broadcast

#47422 [deps] Do not build CLI of libgit2
  deps/checksums/libgit2
  deps/libgit2.mk
  stdlib/LibGit2_jll/Project.toml
Labels: build, external dependencies

#47303 Stop incorrectly documenting the default sorting algorithms
  base/sort.jl
Labels: doc, sort

#47419 cgmemmgr,macos: add missing shared_map_lock initialization
  src/cgmemmgr.cpp
Labels: mac, freebsd, codegen, backport 1.6, backport 1.8

#47110 Remove complexity and ambiguity from function example
  doc/src/manual/functions.md
Labels: doc, merge me

#46892 clear info on colon operator
  base/range.jl
Labels: doc, merge me

#47186 Avoid overflow in first/last (continue #45843)
  base/abstractarray.jl
  test/abstractarray.jl
  test/offsetarray.jl
Labels: arrays, merge me

#45582 [CompilerSupportLibraries_jll] Upgrade to libraries from GCC 12
  Make.inc
  base/Makefile
  deps/checksums/compilersupportlibraries
  deps/csl.mk
  stdlib/CompilerSupportLibraries_jll/Project.toml
  stdlib/CompilerSupportLibraries_jll/src/CompilerSupportLibraries_jll.jl
Labels: build, external dependencies, backport 1.6, stdlib JLLs, backport 1.8

#47379 Handle incorrect call type in abstract_invoke
  base/compiler/abstractinterpretation.jl
  test/compiler/AbstractInterpreter.jl
Labels: merge me

#45975 [docs/base] add a type tree for `Number`
  doc/src/base/numbers.md
Labels: doc, merge me

#43947 Fix isdone for empty product iterators, fixes #43921
  base/iterators.jl
  test/iterators.jl
Labels: merge me, backport 1.6, backport 1.8

#46696 Order of operation in a composed function
  base/operators.jl
Labels: doc

#46695 in operator with missing on Dicts keys and values
  base/operators.jl
Labels: doc, missing data

#47342 add an example of using `sizeof` on a struct with padding
  base/essentials.jl
Labels: doc

#47430 Ignore ANSI colour codes in printing Diagonal, etc
  base/arrayshow.jl
  test/show.jl
Labels: backport 1.8

#47438 fix up `Conditional`-forwarding for vararg methods
  base/compiler/inferenceresult.jl
  test/compiler/inference.jl
Labels: inference, backport 1.8

#47444 [CompilerSupportLibraries_jll] Update to new build
  deps/checksums/compilersupportlibraries
  stdlib/CompilerSupportLibraries_jll/Project.toml
Labels: build, mac, external dependencies, backport 1.6, stdlib JLLs, backport 1.8

#47433 CircleCI caching: allow ftime to be ceil(ftime_req) in Base.stale_cachefile
  base/loading.jl
Labels: backport 1.6, backport 1.8

#42006 add `reinterpret` example for lazy array containers
  base/essentials.jl
  base/reinterpretarray.jl
Labels: doc, merge me

#47446 Make tiny Ryu.pow5 function definition inline (style)
  base/ryu/utils.jl
Labels: merge me

#47434 more documentation for assignment vs mutation
  doc/src/base/punctuation.md
  doc/src/manual/functions.md
  doc/src/manual/variables.md
Labels: doc, merge me

#47234 signals: try harder to validate SEGV causes
  src/gf.c
  src/init.c
  src/julia_internal.h
  src/options.h
  src/signal-handling.c
  src/signals-mach.c
  src/signals-unix.c
  src/signals-win.c
  src/staticdata.c
Labels: ci

#47172 Rename buffer to scratch in sorting
  base/sort.jl
  test/sorting.jl
Labels: merge me, sort

#47460 Delete `.github/workflows/rerun_failed.yml`
  .github/workflows/rerun_failed.yml
Labels: ci, merge me, backport 1.8

#47134 Profile: save a heap snapshot after a profile peek via SIGUSR1/SIGINFO (via opt-in)
  stdlib/Profile/docs/src/index.md
  stdlib/Profile/src/Profile.jl
Labels: merge me

#30089 Remove `n_waiters(c::GenericCondition)`
  base/condition.jl
Labels: merge me

#47477 put back legacybindings for `libblas` and `liblapack`
  stdlib/LinearAlgebra/src/blas.jl
  stdlib/LinearAlgebra/src/lapack.jl
Labels: linear algebra

#47212 Faster rem_pio2 kernel for `Float32`
  base/special/rem_pio2.jl
Labels: performance, maths

#47482 Removed attributes from arguments to gc_preserve_begin
  src/llvm-alloc-opt.cpp
  test/llvmpasses/alloc-opt-pass.jl
Labels: merge me, backport 1.6, llvm, backport 1.8

#47480 Fast path constants in update_julia_type only if correct type
  src/codegen.cpp
  test/compiler/codegen.jl
Labels: merge me

#47487 tweak test cases added in #47379
  test/compiler/AbstractInterpreter.jl
  test/compiler/inference.jl
Labels: merge me

#47107 Relax `StridedArray` signatures wherever possible
  stdlib/LinearAlgebra/src/adjtrans.jl
  stdlib/LinearAlgebra/src/bidiag.jl
  stdlib/LinearAlgebra/src/bunchkaufman.jl
  stdlib/LinearAlgebra/src/cholesky.jl
  stdlib/LinearAlgebra/src/dense.jl
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/LinearAlgebra/src/factorization.jl
  stdlib/LinearAlgebra/src/hessenberg.jl
  stdlib/LinearAlgebra/src/lq.jl
  stdlib/LinearAlgebra/src/lu.jl
  stdlib/LinearAlgebra/src/matmul.jl
  stdlib/LinearAlgebra/src/qr.jl
  stdlib/LinearAlgebra/src/schur.jl
  stdlib/LinearAlgebra/src/svd.jl
  stdlib/LinearAlgebra/src/symmetric.jl
  stdlib/LinearAlgebra/src/symmetriceigen.jl
  stdlib/LinearAlgebra/src/transpose.jl
  stdlib/LinearAlgebra/src/triangular.jl
  stdlib/LinearAlgebra/src/tridiag.jl
  stdlib/LinearAlgebra/test/lu.jl
Labels: linear algebra

#47489 Improve backwards compatibility in sorting
  base/sort.jl
Labels: sort

#46976 Probe and dlopen() the correct libstdc++
  Make.inc
  Makefile
  NEWS.md
  cli/Makefile
  cli/loader_lib.c
  deps/csl.mk
Labels: merge me

#47469 Warn folks away from metaprogramming
  doc/src/manual/metaprogramming.md
Labels: doc, merge me

#47509 Don't show redundant typeinfo when printing LinRange
  base/range.jl
Labels: display and printing, merge me

#47510 Fix erroneous generalization from #47107
  stdlib/LinearAlgebra/src/triangular.jl
Labels: linear algebra, embarrassing-bugfix, merge me

#47255 faster `inv` for normal sized `ComplexF64`
  base/complex.jl
  doc/src/manual/complex-and-rational-numbers.md
Labels: performance, maths, complex

#47516 Revert "Don't show redundant typeinfo when printing LinRange"
  base/range.jl
Labels: revert

#47117 Dates: Error on construction/parsing with empty strings
  NEWS.md
  stdlib/Dates/docs/src/index.md
  stdlib/Dates/src/parse.jl
  stdlib/Dates/test/io.jl
Labels: dates

#47521 Don't show redundant typeinfo when printing LinRange (take 2)
  base/range.jl
Labels: windows, display and printing, re-land

#47549 Switch Coveralls to Codecov in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: doc

#47547 Remove misleading statement in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: doc

#47552 Fix documentation mistake in Test.jl
  stdlib/Test/src/Test.jl
Labels: doc, testsystem

#47464 improve performance of `isapprox(::AbstractArray, ::AbstractArray)` when `rtol = 0`
  stdlib/LinearAlgebra/src/generic.jl
Labels: performance, merge me

#47514 Fix code alignment in example
  doc/src/devdocs/boundscheck.md
Labels: doc, merge me

#47222 Set VERSION to 1.10.0-DEV
  HISTORY.md
  NEWS.md
  VERSION
Labels: DO NOT MERGE, release

#47556 release-1.8: set VERSION to 1.8.3
  VERSION
Labels: release

#41744 Faster and more accurate sinpi, cospi, sincospi for Float32, Float64
  base/complex.jl
  base/math.jl
  base/special/trig.jl
Labels: performance, maths

#46844 Limit initial OpenBLAS thread count
  stdlib/OpenBLAS_jll/src/OpenBLAS_jll.jl
Labels: backport 1.8, backport 1.9

#47352 Fix parsing of gfortran version
  Make.inc
  contrib/normalize_triplet.py
Labels: windows

#47545 export `jl_gc_set_max_memory`
  src/gc.c
  src/jl_exported_funcs.inc
  src/jloptions.c
  src/julia.h
  src/julia_internal.h
Labels: embedding

#47259 fix #46778, `precompile()` for abstract but compileable signatures
  contrib/generate_precompile.jl
  src/gf.c
  test/precompile.jl
Labels: precompile, bugfix, latency, backport 1.9

#47571 minor compiler cleanups
  base/compiler/optimize.jl
  base/compiler/ssair/irinterp.jl
  base/compiler/typeinfer.jl
Labels: merge me

#47580 ensure bindings handle write barriers for ty and globalref
  src/builtins.c
  src/gc.c
  src/module.c
Labels: bugfix, merge me, backport 1.6, backport 1.8, backport 1.9

#47575 optimizer: exclude `ConditionalsLattice` from the optimizer lattice
  base/compiler/abstractlattice.jl
  base/compiler/typeinfer.jl
  base/compiler/types.jl
Labels: inference, optimizer, merge me

#47567 Improve effect analysis of bitshifts by non `Int` and `UInt` `Integer`s
  base/int.jl
  base/operators.jl
  test/int.jl
Labels: effects, backport 1.9

#47562 `backports-release-1.8`: remove some GitHub Actions workflows that we no longer use
  .github/workflows/statuses.yml
Labels: ci

#47573 Fix error in docstring and improve comment in gcdx
  base/intfuncs.jl
Labels: doc, maths

#47578 Improve performance of atomic load in toplevel code
  src/codegen.cpp
Labels: performance, backport 1.8, backport 1.9

#47582 Update the "stable" version in the README from 1.8.2 to 1.8.3
  README.md
Labels: doc, merge me

#47626 InteractiveUtils: use quoted `typesof` in macroexpansion
  stdlib/InteractiveUtils/src/macros.jl
Labels: bugfix

#47633 Add an option to not run compiler in IR2OC
  base/opaque_closure.jl
  src/interpreter.c
  src/julia_internal.h
  src/opaque_closure.c
Labels: codegen

#47624 the variable assert should before it being used
  src/method.c
Labels: merge me

#47600 use jl_phicnode_type to create phicnode struct
  src/ast.c
Labels: merge me

#47594 fix tab completion of invalid identifiers
  stdlib/REPL/src/REPLCompletions.jl
  stdlib/REPL/test/replcompletions.jl
Labels: REPL, needs tests

#41199 inference: implement type-based alias analysis to refine constrained field
  base/boot.jl
  base/compiler/abstractinterpretation.jl
  base/compiler/abstractlattice.jl
  base/compiler/inferenceresult.jl
  base/compiler/optimize.jl
  base/compiler/ssair/irinterp.jl
  base/compiler/tfuncs.jl
  base/compiler/typeinfer.jl
  base/compiler/typelattice.jl
  base/compiler/typelimits.jl
  base/compiler/typeutils.jl
  base/compiler/utilities.jl
  base/reflection.jl
  src/jltypes.c
  src/staticdata.c
  test/compiler/AbstractInterpreter.jl
  test/compiler/inference.jl
Labels: inference

#47586 Improve Intel VTune integration
  Make.inc
Labels: performance, backport 1.9

#47596 build: separate stdlib manifests by version
  Make.inc
  Makefile
  cli/Makefile
  deps/tools/common.mk
  deps/tools/git-external.mk
  deps/tools/stdlib-external.mk
  deps/tools/uninstallers.mk
  stdlib/Makefile
  sysimage.mk
Labels: build

#47634 Algorithmic improvements for LateLowerGC pass
  src/llvm-late-gc-lowering.cpp
  test/llvmpasses/refinements.ll
Labels: GC, needs pkgeval

#47579 Doc: The default sorting alg. is stable from 1.9
  doc/src/base/sort.md
Labels: doc, merge me, sort, backport 1.9

#47109 Unroll `foldl/r` at julia level for small `NamedTuple`
  base/reduce.jl
  base/tuple.jl
  test/namedtuple.jl
  test/reduce.jl
Labels: merge me, fold

#47659 update MPFR
  deps/checksums/mpfr
  deps/mpfr.version
  stdlib/MPFR_jll/Project.toml
  stdlib/MPFR_jll/test/runtests.jl
Labels: external dependencies, backport 1.9

#47652 optimizer: minor NFC cleanups on slot2ssa
  base/compiler/ssair/slot2ssa.jl
Labels: optimizer, merge me

#47657 Add compat note for `sortperm(x; dims)`
  base/sort.jl
Labels: doc, sort, backport 1.9

#42832 Doc: Fix mapreduce_first docstring error
  base/reduce.jl
Labels: doc, merge me

#47544 [CompilerSupportLibraries_jll] Upgrade to libraries from GCC 12
  Make.inc
  base/Makefile
  deps/checksums/compilersupportlibraries
  deps/csl.mk
  stdlib/CompilerSupportLibraries_jll/Project.toml
  stdlib/CompilerSupportLibraries_jll/src/CompilerSupportLibraries_jll.jl
Labels: build, external dependencies, stdlib JLLs

#47674 Add an inference option to assume no new bindings being added
  base/compiler/abstractinterpretation.jl
  base/compiler/types.jl
Labels: inference

#47589 Introduces get-lld to fix `make full-source-dist USE_BINARYBUILDER=0`
  deps/llvm.mk
Labels: build, bugfix, backport 1.9

#47503 Print the detailed type on heap snapshot
  .gitignore
  src/gc-heap-snapshot.cpp
Labels: backport 1.9

#46825 Remove typeinfer lock altogether
  base/compiler/typeinfer.jl
  base/loading.jl
  doc/src/devdocs/locks.md
  src/aotcompile.cpp
  src/dump.c
  src/gf.c
  src/jitlayers.cpp
  src/julia.h
  src/julia_internal.h
  src/task.c
Labels: inference, backport 1.9

#47585 LinearAlgebra: Speed up the trace function
  stdlib/LinearAlgebra/src/adjtrans.jl
  stdlib/LinearAlgebra/src/bidiag.jl
  stdlib/LinearAlgebra/src/dense.jl
  stdlib/LinearAlgebra/src/symmetric.jl
  stdlib/LinearAlgebra/src/triangular.jl
  stdlib/LinearAlgebra/src/tridiag.jl
  stdlib/LinearAlgebra/test/adjtrans.jl
  stdlib/LinearAlgebra/test/bidiag.jl
  stdlib/LinearAlgebra/test/triangular.jl
  stdlib/LinearAlgebra/test/tridiag.jl
Labels: performance, linear algebra

#47605 Fix regression in generic_bitcast with Union{} arguments.
  src/intrinsics.cpp
  test/compiler/codegen.jl
Labels: regression, codegen, bugfix, merge me, backport 1.9

#47668 [Filesystem]: `rm(; recursive=true)` should ignore `UV_EACCES`
  base/file.jl
  test/file.jl
Labels: backport 1.8, backport 1.9

#47690 add string literal continuation syntax to docs for `"`
  base/docs/basedocs.jl
Labels: doc

#47511 Fix overflow in pow5
  base/ryu/utils.jl
  test/ryu.jl
Labels: maths, bugfix, display and printing, backport 1.9

#47711 Fix and simplify inference timing logic
  src/gf.c
  src/julia.h
  src/task.c
Labels: bugfix

#47716 Add loose compilation time test
  test/misc.jl
Labels: test

#47699 Fix GCExt test
  Makefile
  src/julia_gcext.h
  test/gcext/LocalTest.jl
  test/gcext/Makefile
  test/gcext/gcext-test.jl
  test/gcext/gcext.c
Labels: multithreading, GC, backport 1.9

#47572 `Test`: fix `allowed_undefineds` typo
  stdlib/Test/src/Test.jl
Labels: doc, testsystem, merge me

#47693 Allow crc32c hashing of SubString{String}
  base/util.jl
  stdlib/CRC32c/src/CRC32c.jl
  stdlib/CRC32c/test/runtests.jl
Labels: strings, hashing

#47708 Fix Markdown header underlines
  stdlib/Markdown/src/render/terminal/render.jl
  stdlib/Markdown/test/runtests.jl
Labels: markdown

#47637 Fix REPL keybinding CTRL-Q for stdlib methods
  stdlib/REPL/src/REPL.jl
Labels: backport 1.6, backport 1.8, backport 1.9

#47564 Reuse `du2` of `Tridiagonal` matrix for pivoting in `lu!` if extant
  stdlib/LinearAlgebra/src/lu.jl
Labels: performance, linear algebra, merge me

#47557 Add shortcuts to `axp[b]y`
  stdlib/LinearAlgebra/src/generic.jl
  stdlib/LinearAlgebra/test/generic.jl
Labels: linear algebra

#47665 fix 5-arg `mul!` for vectors of vectors
  stdlib/LinearAlgebra/src/matmul.jl
  stdlib/LinearAlgebra/test/matmul.jl
Labels: linear algebra, backport 1.8, backport 1.9

#47728 Add link to alloc profiler issue in Profile docs
  doc/src/manual/profile.md
Labels: doc

#47666 Fix nth_methtable tparam of -1 when n==0
  src/method.c
Labels: backport 1.9

#47682 Make `Some` example in `something` docstring more informative
  base/some.jl
Labels: doc, merge me

#47646 Add section headings to the Doc's home page & links
  doc/src/index.md
Labels: doc

#47705 reflection: support additional call syntaxes for `@invoke[latest]`
  base/reflection.jl
  test/misc.jl
Labels: merge me

#47583 Doc: improve @(s)printf docstrings
  stdlib/Printf/src/Printf.jl
Labels: doc, stdlib

#47734 Revert "Doc: improve @(s)printf docstrings"
  stdlib/Printf/src/Printf.jl
Labels: revert

#47671 improve inlining cost analysis for invoke
  base/compiler/optimize.jl
Labels: optimizer, merge me

#47739 Fix generator-invocation legality check for varargs generators
  base/reflection.jl
  test/staged.jl
Labels: bugfix, inference, backport 1.6, backport 1.8, backport 1.9

#44527 Support external linkage in "sysimages"
  base/compiler/typeinfer.jl
  base/loading.jl
  deps/llvm.mk
  src/Makefile
  src/aotcompile.cpp
  src/clangsa/GCChecker.cpp
  src/codegen-stubs.c
  src/codegen.cpp
  src/datatype.c
  src/dlload.c
  src/dump.c
  src/gc.c
  src/gf.c
  src/init.c
  src/ircode.c
  src/jitlayers.h
  src/jl_exported_funcs.inc
  src/julia.expmap
  src/julia.h
  src/julia_gcext.h
  src/julia_internal.h
  src/llvm-multiversioning.cpp
  src/method.c
  src/module.c
  src/precompile.c
  src/processor.cpp
  src/processor.h
  src/processor_arm.cpp
  src/processor_fallback.cpp
  src/processor_x86.cpp
  src/rtutils.c
  src/staticdata.c
  src/staticdata_utils.c
  src/subtype.c
  src/support/arraylist.h
  src/support/rle.h
  src/threading.c
  stdlib/LLD_jll/src/LLD_jll.jl
  stdlib/Profile/src/Allocs.jl
  test/gcext/.gitignore
  test/gcext/DependsOnForeign/Manifest.toml
  test/gcext/DependsOnForeign/Project.toml
  test/gcext/DependsOnForeign/src/DependsOnForeign.jl
  test/gcext/Foreign/Manifest.toml
  test/gcext/Foreign/Project.toml
  test/gcext/Foreign/deps/foreignlib.c
  test/gcext/Foreign/src/Foreign.jl
  test/gcext/ForeignObjSerialization/Manifest.toml
  test/gcext/ForeignObjSerialization/Project.toml
  test/gcext/ForeignObjSerialization/src/ForeignObjSerialization.jl
  test/gcext/Makefile
  test/gcext/gcext-test.jl
  test/precompile.jl
Labels: precompile, latency, backport 1.9

#47707 Bump libuv.
  base/sysinfo.jl
  deps/checksums/libuv
  deps/libuv.version
  src/gc.c
  stdlib/LibUV_jll/Project.toml
Labels: build, external dependencies, stdlib JLLs, backport 1.9

#46864 Add a warning about inadvertent Diagonal(::Matrix)
  stdlib/LinearAlgebra/src/diagonal.jl
Labels: doc, linear algebra, merge me

#47683 reduce ambiguity in *diagonal multiplication code
  stdlib/LinearAlgebra/src/bidiag.jl
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/LinearAlgebra/src/hessenberg.jl
  stdlib/LinearAlgebra/src/tridiag.jl
Labels: linear algebra

#47358 Provider cycleclock() for 32bit ARM targets
  src/julia_internal.h
Labels: build, 32-bit, arm, backport 1.9

#47742 strengthen setglobal to default to release-consume ordering
  src/builtins.c
  src/codegen.cpp
Labels: multithreading, backport 1.9
