Repository JuliaLang/julia, pull requests merged in 2022-04, with the labels that each got.

#44804 follow up #44786, fix `findsup` to return correct `overlayed` value
  base/compiler/methodtable.jl
  test/compiler/AbstractInterpreter.jl
Labels: embarrassing-bugfix, backport 1.8

#44808 effects: replaces usages of `ALWAYS_FALSE` with `TRISTATE_UNKNOWN`
  base/compiler/abstractinterpretation.jl
  base/compiler/tfuncs.jl
  base/compiler/types.jl
Labels: merge me

#44683 Added Pluto.jl to Browser workflow in docs
  doc/src/manual/workflow-tips.md
Labels: doc

#44440 Migrate codegen to operate on orc::ThreadSafeModule
  doc/src/devdocs/locks.md
  src/aotcompile.cpp
  src/ccall.cpp
  src/codegen-stubs.c
  src/codegen.cpp
  src/disasm.cpp
  src/jitlayers.cpp
  src/jitlayers.h
  src/jl_exported_funcs.inc
  src/julia_internal.h
  src/runtime_intrinsics.c
  stdlib/InteractiveUtils/src/codeview.jl
Labels: codegen, merge me

#44775 add new `:total_may_throw` utility setting for `@assume_effects`
  base/compiler/abstractinterpretation.jl
  base/compiler/types.jl
  base/expr.jl
  test/compiler/inline.jl
Labels: backport 1.8

#44827 Fix implicit binding import for aliased bindings
  src/module.c
  test/syntax.jl
Labels: merge me

#30937 Tests for bad arguments to at-threads
  test/threads.jl
Labels: test, multithreading, merge me

#44758 Seperate `LinearAlgebra.axp(b)y!` and `BLAS.axp(b)y!`.
  stdlib/LinearAlgebra/docs/src/index.md
  stdlib/LinearAlgebra/src/blas.jl
  stdlib/LinearAlgebra/src/generic.jl
  stdlib/LinearAlgebra/src/matmul.jl
  stdlib/LinearAlgebra/test/generic.jl
  stdlib/LinearAlgebra/test/matmul.jl
Labels: linear algebra

#44744 clarification of export list
  doc/src/manual/modules.md
Labels: doc

#39110 improve str macro doc help
  stdlib/REPL/src/docview.jl
  stdlib/REPL/test/docview.jl
  stdlib/REPL/test/replcompletions.jl
Labels: merge me

#44836 Delete trailing whitespace
  stdlib/REPL/src/docview.jl
Labels: merge me

#44266 graphemes(s, m:n) substring slicing
  NEWS.md
  stdlib/Unicode/src/Unicode.jl
  stdlib/Unicode/test/runtests.jl
Labels: unicode, strings, merge me

#44230 Add radix sort
  base/sort.jl
  test/sorting.jl
Labels: performance

#44522 Stricter tests in int.jl
  test/int.jl
Labels: test

#44842 Partially revert PR 42703 to fix embedding with MSVC
  src/support/dtypes.h
  src/support/platform.h
Labels: windows, embedding

#44778 Detect multiple concurent writes to Dict + remove dead code
  base/dict.jl
Labels: merge me

#44577 Instrument AllocOpt
  src/llvm-alloc-opt.cpp
Labels: merge me, llvm

#44810 [Zlib_jll] Update to v1.2.12+3
  deps/checksums/zlib
  deps/zlib.version
  stdlib/Zlib_jll/Project.toml
  stdlib/Zlib_jll/test/runtests.jl
Labels: external dependencies, backport 1.6, stdlib JLLs, backport 1.7, backport 1.8

#44854 Fix leftover indentation TODOs from #44440
  src/codegen.cpp
  src/disasm.cpp
  src/jitlayers.cpp
Labels: codegen, merge me

#44855 fix `getglobal_nothrow`
  base/compiler/tfuncs.jl
  test/compiler/inline.jl
Labels: embarrassing-bugfix, merge me

#44820 Support TATAS-like usage in `islocked` and `trylock` spec
  base/lock.jl
Labels: doc, multithreading, merge me

#44592 Add statistics/verification to cpufeatures and julia-licm
  src/llvm-cpufeatures.cpp
  src/llvm-julia-licm.cpp
Labels: merge me

#44850 Check if `_POSIX_C_SOURCE` is defined before using its value
  src/signals-unix.c
Labels: merge me

#44862 Simplify InsertionSort
  base/sort.jl
Labels: merge me

#43966 Small doc clearifications on embedding and the GC, plus information on threading restrictions
  doc/src/manual/embedding.md
Labels: doc

#44792 Implements flatmap
  base/iterators.jl
  test/iterators.jl
Labels: merge me

#44432 fix Libc.rand and seed problems
  base/Base.jl
  base/error.jl
  base/libc.jl
  base/randomdevice.jl
  src/coverage.cpp
  src/gc-debug.c
  src/init.c
  src/jl_exported_funcs.inc
  src/jl_uv.c
  src/julia.h
  src/julia_atomics.h
  src/julia_internal.h
  src/runtime_ccall.cpp
  src/signal-handling.c
  src/signals-unix.c
  src/sys.c
  src/task.c
  src/threading.c
  stdlib/Random/src/RNGs.jl
  stdlib/Random/test/runtests.jl
  test/error.jl
Labels: RNG

#44797 fix missing field type initialization vars
  src/jltypes.c
  test/core.jl
Labels: backport 1.6, backport 1.7, backport 1.8

#44578 Add statistics and verification to our floating point passes
  src/llvm-demote-float16.cpp
  src/llvm-muladd.cpp
  src/llvm-multiversioning.cpp
  src/llvm-simdloop.cpp
Labels: codegen, merge me

#44600 Remove the imaging_mode global and thread it through codegen_params
  src/aotcompile.cpp
  src/ccall.cpp
  src/cgutils.cpp
  src/codegen.cpp
  src/jitlayers.cpp
  src/jitlayers.h
Labels: merge me

#44899 Replace unicode Input `\sqspne` with `\sqsupsetneq`
  stdlib/REPL/src/latex_symbols.jl
Labels: merge me

#44874 Make some `islocked` methods "TATAS-compatible"
  base/lock.jl
  base/locks-mt.jl
Labels: multithreading, merge me

#44714 fallback randn/randexp for AbstractFloat
  NEWS.md
  stdlib/Random/src/Random.jl
  stdlib/Random/src/normal.jl
  stdlib/Random/test/runtests.jl
Labels: RNG, triage

#44761 fix #44735, raise exception on `Vararg`-arguments in `subtype` rather than abort
  base/reflection.jl
  src/subtype.c
  test/subtype.jl
Labels: backport 1.8

#44901 Use EmittedUndefVarErrors Statistic
  src/codegen.cpp
Labels: merge me

#42902 allow slurping in any position
  NEWS.md
  base/bitarray.jl
  base/namedtuple.jl
  base/strings/basic.jl
  base/tuple.jl
  doc/src/base/collections.md
  doc/src/manual/functions.md
  src/julia-syntax.scm
  test/syntax.jl
Labels: lowering, feature

#44908 ASAN: Minimal system image to reduce CI time.
  contrib/asan/Make.user.asan
Labels: ci, merge me

#44917 Add `skip(::BufferStream, n)`
  base/stream.jl
Labels: I/O

#44918 CI (`Create Buildbot Statuses`): remove `tester_macos64` from the list
  .github/workflows/statuses.yml
Labels: ci

#44605 Move to a pool of threadsafecontexts
  doc/src/devdocs/locks.md
  src/aotcompile.cpp
  src/codegen.cpp
  src/jitlayers.cpp
  src/jitlayers.h
Labels: codegen, merge me, llvm

#44807 Fix "anonymous types declared in an anonymous union" warnings
  src/julia.h
Labels: backport 1.8

#44896 inference: don't widen `iskindtype`-type to `Type` within `tuple_tfunc`
  base/compiler/tfuncs.jl
  test/compiler/inference.jl
Labels: inference

#44923 Use context lock instead of codegen lock
  src/disasm.cpp
Labels: codegen, merge me, llvm

#44805 Updated 32 bit heuristics
  src/gc.c
Labels: 32-bit, GC, merge me

#44942 Properly set Vboxed field during union codegen
  src/codegen.cpp
  test/compiler/codegen.jl
Labels: merge me, backport 1.6, backport 1.8

#44912 Pool more JIT resources to reduce memory usage/contention
  doc/src/devdocs/locks.md
  src/jitlayers.cpp
  src/jitlayers.h
Labels: codegen, merge me, llvm

#44752 predicate function negation with ComposedFunction
  NEWS.md
  base/operators.jl
  base/show.jl
  test/operators.jl
Labels: merge me

#44924 Drop some unnecessary codegen lock/unlock calls
  src/disasm.cpp
  src/jitlayers.cpp
Labels: codegen, merge me

#41246 Round from zero support for non-BigFloats
  NEWS.md
  base/div.jl
  base/floatfuncs.jl
  base/rounding.jl
  test/int.jl
  test/numbers.jl
  test/rounding.jl
Labels: maths, merge me

#44936 More "thread-safe" LazyString
  base/array.jl
  base/essentials.jl
  base/expr.jl
  base/meta.jl
  base/show.jl
  base/strings/lazy.jl
  stdlib/Serialization/src/Serialization.jl
  stdlib/Serialization/test/runtests.jl
Labels: multithreading

#44961 Temporarily move the `REPL` test suite to node 1, to buy us time until we fix the underlying bugs
  test/runtests.jl
Labels: testsystem, ci

#44964 NFC: fix typo, add more tests for `@inline`-declaration
  base/compiler/typeinfer.jl
  test/compiler/inline.jl
Labels: merge me

#44865 make `exp(::Float32)` and friends vectorize
  base/special/exp.jl
Labels: performance, maths

#44956 asyncevents: fix missing GC root and race
  base/asyncevent.jl
Labels: backport 1.7, backport 1.8

#44704 cache `Type{wrapper}` for faster lookups
  src/datatype.c
  src/dump.c
  src/jltypes.c
  src/julia.h
  src/staticdata.c
Labels: types and dispatch, latency

#44870 Some minimal LLVM15 compat
  src/cgutils.cpp
  src/disasm.cpp
  src/llvm-remove-addrspaces.cpp
Labels: llvm

#44972 [REPL] Fix a REPL test failure by removing an erroneous space in test (introduced by #33805)
  stdlib/REPL/test/repl.jl
  test/runtests.jl
Labels: test, REPL, ci, merge me, backport 1.6, backport 1.7, backport 1.8

#44566 make inplace `Rational{BigInt}` arithmetic from gmplib available
  base/gmp.jl
  test/gmp.jl
Labels: rationals, bignums

#44966 inference: properly compare vararg-tuple `PartialStruct`s
  base/compiler/abstractinterpretation.jl
  base/compiler/typelimits.jl
  test/compiler/inference.jl
Labels: backport 1.8

#44905 flatmap docstring fixes, NEWS
  NEWS.md
  base/iterators.jl
  doc/src/base/iterators.md
Labels: merge me

#44959 Revert "Makefile wildcard globs only work at end"
  test/Makefile
Labels: merge me

#44967 Remove PTLS load inside JIT
  src/debuginfo.cpp
Labels: codegen, merge me

#44970 add tuple type printing with `Vararg`, and port to static_show
  base/show.jl
  src/rtutils.c
  test/show.jl
Labels: display and printing, merge me

#44974 fix lowering of closure supertypes
  src/julia-syntax.scm
Labels: lowering, merge me

#44883 Reland "IO: tie lifetime of handle field to container"
  base/asyncevent.jl
  base/libuv.jl
  base/process.jl
  base/stream.jl
  src/init.c
  src/jl_uv.c
  src/julia_internal.h
  stdlib/FileWatching/src/FileWatching.jl
  stdlib/Sockets/src/Sockets.jl
  test/testhelpers/FakePTYs.jl
Labels: merge me

#41638 Make math-mode=fast no op, it's too dangerous
  src/jloptions.c
  test/cmdlineargs.jl
Labels: needs news

#44976 Fix embedding with MSVC
  src/support/dtypes.h
Labels: merge me

#44971 more friendly/useful error for stack overflow in type inference
  src/gf.c
Labels: error handling, inference

#44982 syntax: expressions used in value position had the wrong line number
  src/ast.scm
  src/julia-syntax.scm
Labels: lowering

#44993 test cleanup for #44444
  test/misc.jl
Labels: merge me

#44997 Move DEBUG_TYPE below LLVM headers
  src/codegen.cpp
  src/llvm-alloc-opt.cpp
Labels: merge me

#44988 export `LazyString` documentation in the manual
  base/regex.jl
  base/strings/lazy.jl
  doc/src/base/strings.md
Labels: doc

#45007 compatibility fix for ORC JIT in llvm 14
  src/jitlayers.cpp
Labels: llvm

#45018 eliminate uninferrable `typeof(x) === T` conditions
  base/array.jl
  base/broadcast.jl
  base/strings/basic.jl
  base/toml_parser.jl
Labels: merge me

#45017 inference: don't forget to add backedge for effect-free frame
  base/compiler/abstractinterpretation.jl
  test/compiler/inference.jl
Labels: merge me, backport 1.8

#45022 remove some redundant `show` methods
  base/operators.jl
  base/show.jl
Labels: display and printing

#45016 Fix use-after-free bugs in debuginfo
  src/Makefile
  src/codegen.cpp
  src/debug-registry.h
  src/debuginfo.cpp
  src/jitlayers.h
  src/processor.h
Labels: mac, bugfix, merge me

#45026 Slight update to doc for PDF to render correctly
  base/floatfuncs.jl
Labels: doc, merge me, backport 1.6, backport 1.8

#44840 Bump Documenter to get the new pdf improvements for the manual.
  doc/Manifest.toml
Labels: doc

#44914 Protect shared JIT variables from being modified unsafely
  doc/src/devdocs/locks.md
  src/aotcompile.cpp
  src/codegen.cpp
  src/disasm.cpp
  src/jitlayers.cpp
  src/jitlayers.h
  src/llvm-cpufeatures.cpp
Labels: merge me

#45030 inference: relax backedge optimization condition
  base/compiler/abstractinterpretation.jl
Labels: backport 1.8

#44801 Fix call to `jl_apply_array_type` in multidimensional array example for embedding
  doc/src/manual/embedding.md
Labels: doc, embedding

#44984 `FileWatching.Pidfile`: on Windows, we must rename a file before we can delete it
  stdlib/FileWatching/src/pidfile.jl
Labels: bugfix, filesystem

#44926 Use a queue instead of a stack for the context pool
  src/jitlayers.h
Labels: codegen, merge me

#45037 `Distributed` test suite: wrap another thread-unsafe test in `poll_while`
  stdlib/Distributed/test/distributed_exec.jl
Labels: parallel, test, multithreading

#45034 [doc] Add a Cover page to PDF doc
  doc/make.jl
  doc/src/assets/cover-splash.tex
  doc/src/assets/cover.tex
  doc/src/assets/custom.sty
  doc/src/assets/logo.tex
  doc/src/assets/preamble.tex
Labels: docsystem, merge me, backport 1.8

#45071 Correct man-custom-indices ref in devdocs
  doc/src/devdocs/boundscheck.md
Labels: doc, merge me, backport 1.8

#45072 Correct typo in devdocs gc-sa
  doc/src/devdocs/gc-sa.md
Labels: doc, merge me, backport 1.8

#44790 [release-1.6] Set VERSION to 1.6.7 prerelease
  VERSION
Labels: release

#44925 Add LinearAlgebra.normalize fallback for scalars (#44835)
  NEWS.md
  stdlib/LinearAlgebra/src/generic.jl
  stdlib/LinearAlgebra/test/generic.jl
Labels: linear algebra

#42302 Add threadpool support to runtime
  base/options.jl
  base/partr.jl
  base/task.jl
  base/threadcall.jl
  base/threadingconstructs.jl
  doc/src/base/multi-threading.md
  doc/src/manual/multi-threading.md
  src/jl_exported_data.inc
  src/jl_exported_funcs.inc
  src/jloptions.c
  src/jloptions.h
  src/julia.h
  src/julia_threads.h
  src/options.h
  src/partr.c
  src/task.c
  src/threading.c
  test/llvmpasses/alloc-opt-gcframe.jl
  test/llvmpasses/late-lower-gc.ll
  test/misc.jl
  test/threadpool_latency.jl
  test/threadpool_use.jl
  test/threads.jl
Labels: multithreading

#44664 lower `new()` to reference the called object instead of re-creating it with apply_type
  src/julia-syntax.scm
  test/syntax.jl
Labels: lowering, needs nanosoldier run

#45092 Mention the possibility to ahead-of-time compile Julia in the introdu…
  doc/src/index.md
Labels: doc

#44955 Add new GC STATS (max memory used, and max pause time)
  base/timing.jl
  src/gc.c
  src/gc.h
Labels: GC

#45104 Use `isa` in the docstring of Union
  base/docs/basedocs.jl
Labels: doc

#44983 add global fastmath removal to news.
  NEWS.md
Labels: doc, merge me, backport 1.8

#43236 Convert markup generation to a function
  doc/make.jl
Labels: docsystem
