Repository JuliaLang/julia, pull requests merged in 2022-12, with the labels that each got.

#47762 inlining: follow up #47371, remove unused `override_effects` keyword arg
  base/compiler/ssair/inlining.jl
Labels: optimizer

#47546 faster `BigFloat(::Float64)`
  base/mpfr.jl
Labels: performance, maths, bignums

#47763 Update the libuv checksums
  deps/checksums/libuv
Labels: external dependencies, merge me

#47719 fix unescaping in `global` expressions
  src/macroexpand.scm
  test/syntax.jl
Labels: bugfix, macros, backport 1.6, backport 1.8, backport 1.9

#47765 minor perf optimization on `abstract_call`
  base/compiler/abstractinterpretation.jl
Labels: performance

#47767 two-character typo fixed
  doc/src/manual/faq.md
Labels: doc

#47678 fix #47662, broken --compile=all on 1.8.x
  src/gf.c
  src/julia_internal.h
Labels: bugfix, release

#47383 Refactor and document sorting dispatch
  base/sort.jl
  test/sorting.jl
Labels: sort, backport 1.9

#47773 check that file exist in whitespace checker before trying to read it
  contrib/check-whitespace.jl
Labels: ci

#47783 Prioritize build_dir for generated headers
  src/julia.h
  src/julia_internal.h
Labels: build

#47754 Remove obsolete methods/type restrictions in LinAlg
  stdlib/LinearAlgebra/src/hessenberg.jl
  stdlib/LinearAlgebra/src/special.jl
  stdlib/LinearAlgebra/src/tridiag.jl
  stdlib/LinearAlgebra/test/special.jl
Labels: linear algebra

#47803 Set `OPENBLAS_NUM_THREADS=1` on local Distributed workers
  stdlib/Distributed/src/managers.jl
Labels: ci, backport 1.6, backport 1.8, backport 1.9

#47501 Add native julia fmod
  base/float.jl
  test/numbers.jl
Labels: performance, backport 1.9

#47782 Generalize Bool parse method to AbstractString
  base/parse.jl
  test/parse.jl
Labels: strings

#47809 devdocs: update blog posts that explain our inference algorithm
  doc/src/devdocs/inference.md
Labels: doc

#47819 Spell out that atol = absolute tolerance for isapprox
  base/floatfuncs.jl
Labels: doc

#46356 Add fast `isdisjoint` method for ranges
  base/abstractset.jl
  test/sets.jl
Labels: performance, ranges

#47524 correct incomplete sentence
  stdlib/Dates/docs/src/index.md
Labels: doc, merge me

#47220 Fix libjulia install name and libjulia-internal rpath on OS X
  Makefile
  cli/Makefile
  src/Makefile
Labels: build, mac, merge me, backport 1.9

#47695 Add support for "package extensions" to code loading
  NEWS.md
  base/loading.jl
  doc/src/manual/code-loading.md
  test/loading.jl
  test/project/Extensions/ExtDep.jl/Project.toml
  test/project/Extensions/ExtDep.jl/src/ExtDep.jl
  test/project/Extensions/ExtDep2/Project.toml
  test/project/Extensions/ExtDep2/src/ExtDep2.jl
  test/project/Extensions/HasDepWithExtensions.jl/Manifest.toml
  test/project/Extensions/HasDepWithExtensions.jl/Project.toml
  test/project/Extensions/HasDepWithExtensions.jl/src/HasDepWithExtensions.jl
  test/project/Extensions/HasExtensions.jl/Manifest.toml
  test/project/Extensions/HasExtensions.jl/Project.toml
  test/project/Extensions/HasExtensions.jl/ext/Extension.jl
  test/project/Extensions/HasExtensions.jl/ext/ExtensionFolder/ExtensionFolder.jl
  test/project/Extensions/HasExtensions.jl/src/HasExtensions.jl
Labels: packages

#47824 Bring back methods for addition of `UniformScaling`
  stdlib/LinearAlgebra/src/special.jl
Labels: linear algebra

#47677 more field property annotations
  base/Base.jl
  base/compiler/tfuncs.jl
  base/operators.jl
  base/reflection.jl
  doc/src/base/base.md
  src/Makefile
  src/ccall.cpp
  src/codegen.cpp
  src/datatype.c
  src/gf.c
  src/init.c
  src/interpreter.c
  src/jitlayers.cpp
  src/jltypes.c
  src/julia.h
  src/method.c
  src/module.c
  src/rtutils.c
  src/stackwalk.c
  src/staticdata.c
  src/toplevel.c
  stdlib/Serialization/src/Serialization.jl
  test/atomics.jl
  test/core.jl
  test/stacktraces.jl
Labels: llvm

#47836 inference: simplify `sptypes_from_meth_instance`
  base/compiler/inferencestate.jl
Labels: merge me

#47834 Fix typo in docstring
  base/asyncevent.jl
Labels: doc

#47842 add getindex(nt::NamedTuple, ::Colon) method
  base/namedtuple.jl
  test/namedtuple.jl
Labels: collections

#47858 Fix typo
  base/threadingconstructs.jl
Labels: doc

#47862 deps/llvm.mk: completely disable building LLVM bindings
  deps/llvm.mk
Labels: build, external dependencies

#47857 inference: simplify `is_const_prop_profitable_arg`
  base/compiler/abstractinterpretation.jl
Labels: inference

#47817 Explain Reentrant
  base/lock.jl
Labels: doc, merge me

#47825 Dict: decrement `h.ndel` when overwriting deleted entry
  base/dict.jl
Labels: performance

#47865 Fix missing GC root in Symbol construction
  base/boot.jl
Labels: GC, backport 1.8, backport 1.9

#47851 inference: normalize lattice naming
  base/compiler/abstractinterpretation.jl
  base/compiler/abstractlattice.jl
  base/compiler/inferenceresult.jl
  base/compiler/tfuncs.jl
  base/compiler/typelimits.jl
  base/compiler/typeutils.jl
  base/compiler/utilities.jl
  test/compiler/AbstractInterpreter.jl
Labels: inference

#47667 ensure proper handling of sparams for widened compile signatures
  base/compiler/typeinfer.jl
  base/compiler/utilities.jl
  src/gf.c
  src/jitlayers.cpp
  src/jltypes.c
  src/julia.h
  src/julia_internal.h
  src/precompile.c
  src/subtype.c
  stdlib/Random/src/Random.jl
  test/compiler/inference.jl
  test/core.jl
  test/precompile.jl
Labels: don't squash, backport 1.9

#47876 TOML: print: handle mixed vector of dicts and non-dicts
  stdlib/TOML/src/print.jl
  stdlib/TOML/test/print.jl
Labels: backport 1.9

#46836 Reduce codegen lock scope
  src/aotcompile.cpp
  src/gf.c
  src/jitlayers.cpp
Labels: codegen

#47830 revert Improve effect analysis of bitshifts #47567
  base/int.jl
  base/operators.jl
  test/int.jl
Labels: bugfix

#47822 Fixups for #47383 (fixes `runbenchmarks("sort")`)
  base/sort.jl
  test/sorting.jl
Labels: bugfix, sort, backport 1.9

#47881 Fix the `stage` and `version-check` targets for `make -C deps`
  deps/Makefile
Labels: build, bugfix

#47592 Make jl_binding_t into a first-class object
  base/compiler/abstractinterpretation.jl
  base/compiler/tfuncs.jl
  src/builtins.c
  src/cgutils.cpp
  src/codegen.cpp
  src/common_symbols1.inc
  src/common_symbols2.inc
  src/gc-debug.c
  src/gc.c
  src/gc.h
  src/jl_exported_data.inc
  src/jltypes.c
  src/julia.h
  src/julia_internal.h
  src/julia_threads.h
  src/llvm-alloc-helpers.cpp
  src/llvm-alloc-opt.cpp
  src/llvm-final-gc-lowering.cpp
  src/llvm-julia-licm.cpp
  src/llvm-late-gc-lowering.cpp
  src/llvm-pass-helpers.cpp
  src/llvm-pass-helpers.h
  src/module.c
  src/serialize.h
  src/staticdata.c
  test/core.jl
Labels: merge me

#47891 Optimize TLS access in generated code on FreeBSD
  src/threading.c
Labels: performance, freebsd, multithreading, merge me

#47878 add back wordaround for `Slot objects should not occur in an AST` in Ipython mode
  stdlib/REPL/src/REPL.jl
  stdlib/REPL/test/repl.jl
Labels: REPL, backport 1.9

#47889 Reduce invalidations when loading JuliaData packages
  base/Base.jl
  base/array.jl
  base/loading.jl
  base/logging.jl
  base/reinterpretarray.jl
  base/show.jl
  base/strings/util.jl
Labels: latency, merge me, backport 1.9

#47813 intersect: fix a minor soundness issue with supertypes
  src/subtype.c
  test/docs.jl
  test/subtype.jl
Labels: merge me, backport 1.9

#47901 make Ctrl-C during sleeping work better
  src/partr.c
Labels: bugfix, merge me, backport 1.8, backport 1.9

#47872 Added hseqr! LAPACK function
  stdlib/LinearAlgebra/docs/src/index.md
  stdlib/LinearAlgebra/src/lapack.jl
  stdlib/LinearAlgebra/src/schur.jl
  stdlib/LinearAlgebra/test/schur.jl
Labels: linear algebra

#47864 [CompilerSupportLibraries_jll] Upgrade to v1.0.2 and install `libsspdll.a` on Windows
  Makefile
  deps/checksums/compilersupportlibraries
  stdlib/CompilerSupportLibraries_jll/Project.toml
Labels: build, external dependencies, merge me, stdlib JLLs

#47893 revert promotions of abstract arrays inside other arrays
  base/range.jl
  stdlib/LinearAlgebra/src/adjtrans.jl
  test/bitarray.jl
  test/broadcast.jl
Labels: backport 1.9

#47927 only load extensions once dependencies have finished loading
  base/loading.jl
  test/loading.jl
  test/project/Extensions/ExtDep.jl/Project.toml
  test/project/Extensions/ExtDep.jl/src/ExtDep.jl
  test/project/Extensions/HasDepWithExtensions.jl/Manifest.toml
  test/project/Extensions/SomePackage/Project.toml
  test/project/Extensions/SomePackage/src/SomePackage.jl
Labels: packages, backport 1.9

#47877 fix another case where we might return free TypeVar
  src/subtype.c
  test/subtype.jl
Labels: types and dispatch, merge me

#47924 Precompile cache: always add worklist CIs
  src/staticdata_utils.c
Labels: latency, backport 1.9

#47622 Add bounds check to `Slices` indexing
  base/slicearray.jl
  test/arrayops.jl
Labels: arrays, backport 1.9

#47925 compute env for typeintersect better
  src/jltypes.c
  src/julia.h
  src/subtype.c
Labels: types and dispatch, merge me

#47761 Use textwidth to compute string width
  stdlib/Markdown/src/render/terminal/formatting.jl
Labels: merge me, markdown

#47940 [PCRE2_jll] Upgrade to 10.42
  deps/checksums/pcre
  deps/pcre.version
  stdlib/PCRE2_jll/Project.toml
  stdlib/PCRE2_jll/test/runtests.jl
Labels: build, external dependencies, backport 1.6, stdlib JLLs, backport 1.9

#47951 tweak extension header in manual for search-ability
  doc/src/manual/code-loading.md
Labels: merge me

#47941 subtype: fix merge_env innervars getting copied to itself
  src/subtype.c
  test/subtype.jl
Labels: types and dispatch, merge me

#47945 Format extensions with parent in `@time_imports` report
  base/loading.jl
  doc/src/manual/code-loading.md
  stdlib/InteractiveUtils/src/macros.jl
Labels: backport 1.9

#47958 [backports-1.6] [win] fixes for msys2 build system
  Make.inc
  Makefile
  cli/Makefile
  doc/build/windows.md
Labels: build, windows, ci, release

#47947 fix incorrect inference of `NamedTuple{(), <:Any}`
  base/compiler/tfuncs.jl
  test/compiler/inference.jl
Labels: needs tests

#47689 inference: mark flag for effect-free `:call`s during abstractinterpret
  base/compiler/abstractinterpretation.jl
  base/compiler/inferencestate.jl
  test/compiler/inline.jl
Labels: inference, effects

#47946 Apply `InitialOptimizations` more consistently in sorting
  base/sort.jl
Labels: performance, bugfix, sort, backport 1.9

#47804 Change `@test ex broken=true` to error if `ex` evaluates to non-boolean
  stdlib/Test/src/Test.jl
  test/ccall.jl
  test/sets.jl
  test/subtype.jl
Labels: testsystem

#47969 Add NEWS entry for #47804
  NEWS.md
Labels: merge me

#47959 move regex anchor tests to test/; make more precise
  stdlib/PCRE2_jll/test/runtests.jl
  test/regex.jl
Labels: test, strings

#47968 [release-1.6] Disable affinity testing when run inside of cpusets
  test/threads.jl
Labels: merge me

#47911 release-1.8: set VERSION to 1.8.4
  VERSION
Labels: release

#47984 Add Juliaup and versions.json to release process instructions
  Makefile
Labels: merge me

#47986 Restore libgcc_s symlinking in !macOS
  base/Makefile
Labels: build, backport 1.6, backport 1.8, backport 1.9

#47914 Testsystem: allow skipping tests that require Internet with `--skip internet_required`
  test/choosetests.jl
Labels: testsystem

#47972 Define `gt_fast` and `ge_fast`
  base/fastmath.jl
Labels: performance, merge me

#48005 compiler: Use correct method to construct empty NamedTuple
  base/compiler/abstractinterpretation.jl
  test/compiler/inference.jl
Labels: merge me

#47994 irinterp: improve semi-concrete interpretation accuracy
  base/boot.jl
  base/compiler/optimize.jl
  base/compiler/typelattice.jl
  base/opaque_closure.jl
  src/ccall.cpp
  src/codegen.cpp
  src/interpreter.c
  src/jltypes.c
  src/julia.h
  src/julia_internal.h
  test/compiler/inference.jl
Labels: don't squash

#47184 Implement support for object caching through pkgimages
  Makefile
  base/Base.jl
  base/Makefile
  base/linking.jl
  base/loading.jl
  base/options.jl
  base/util.jl
  contrib/cache_stdlibs.jl
  contrib/print_sorted_stdlibs.jl
  deps/checksums/compilersupportlibraries
  doc/make.jl
  doc/src/devdocs/pkgimg.md
  doc/src/devdocs/sysimg.md
  doc/src/manual/code-loading.md
  doc/src/manual/command-line-interface.md
  doc/src/manual/environment-variables.md
  doc/src/manual/methods.md
  doc/src/manual/modules.md
  doc/src/manual/performance-tips.md
  src/aotcompile.cpp
  src/codegen-stubs.c
  src/codegen.cpp
  src/coverage.cpp
  src/debug-registry.h
  src/debuginfo.cpp
  src/debuginfo.h
  src/disasm.cpp
  src/jitlayers.h
  src/jl_exported_data.inc
  src/jl_exported_funcs.inc
  src/jloptions.c
  src/jloptions.h
  src/julia.h
  src/julia_internal.h
  src/llvm-multiversioning.cpp
  src/precompile.c
  src/precompile_utils.c
  src/processor.cpp
  src/processor.h
  src/processor_arm.cpp
  src/processor_fallback.cpp
  src/processor_x86.cpp
  src/staticdata.c
  src/staticdata_utils.c
  stdlib/CompilerSupportLibraries_jll/Project.toml
  test/compiler/contextual.jl
  test/loading.jl
  test/precompile.jl
Labels: latency

#47956 Initialize the rng of external threads
  src/threading.c
Labels: RNG, multithreading, backport 1.9

#47725 Fix zero-length Markdown headers
  stdlib/Markdown/src/render/terminal/render.jl
  stdlib/Markdown/test/runtests.jl
Labels: merge me, markdown

#48013 release-1.9: set VERSION to 1.9.0-beta1
  VERSION
Labels: release

#47976 Update calling-c-and-fortran-code.md
  doc/src/manual/calling-c-and-fortran-code.md
Labels: doc, ffi

#47997 Fix doc comment in `__convert_digit`
  base/parse.jl
Labels: doc

#48017 replace broken link in manual
  doc/src/manual/variables.md
Labels: doc, unicode

#47933 Add option to `jl_print_task_backtraces(bool)` to control whether or not to print DONE tasks
  src/stackwalk.c
Labels: backport 1.9

#46256 Add dereferenceable LLVM attribute to some GC functions
  src/cgutils.cpp
  src/codegen.cpp
  src/llvm-final-gc-lowering.cpp
  src/llvm-pass-helpers.cpp
  test/llvmpasses/alloc-opt-gcframe.jl
  test/llvmpasses/final-lower-gc.ll
Labels: codegen, llvm

#48012 [CompilerSupportLibraries_jll] Add `libssp` as product on Windows
  stdlib/CompilerSupportLibraries_jll/src/CompilerSupportLibraries_jll.jl
  stdlib/CompilerSupportLibraries_jll/test/runtests.jl
Labels: stdlib JLLs, backport 1.8, backport 1.9

#48019 Change permissions of stdlib pkgimgs
  base/loading.jl
Labels: backport 1.9

#47966 Replace dynamic dispatch with runtime branch on `rev` keyword in sortperm
  base/sort.jl
  test/sorting.jl
Labels: performance, sort, backport 1.9

#48033 Don't double-count inference time
  src/aotcompile.cpp
  src/gf.c
  src/jitlayers.cpp
  src/julia.h
  src/task.c
  test/misc.jl
Labels: merge me, backport 1.9

#48027 [CompilerSupportLibraries_jll] Add libssp for more platforms
  stdlib/CompilerSupportLibraries_jll/src/CompilerSupportLibraries_jll.jl
  stdlib/CompilerSupportLibraries_jll/test/runtests.jl
Labels: stdlib JLLs, backport 1.8, backport 1.9

#48026 Backports for 1.9.0-beta2
  base/loading.jl
  base/sort.jl
  deps/checksums/pcre
  deps/pcre.version
  doc/src/manual/code-loading.md
  src/stackwalk.c
  src/threading.c
  stdlib/CompilerSupportLibraries_jll/src/CompilerSupportLibraries_jll.jl
  stdlib/CompilerSupportLibraries_jll/test/runtests.jl
  stdlib/InteractiveUtils/src/macros.jl
  stdlib/PCRE2_jll/Project.toml
  stdlib/PCRE2_jll/test/runtests.jl
  test/sorting.jl
Labels: release

#48023 Add remarks for more cases of failed method lookup
  base/compiler/typeinfer.jl
Labels: inference

#48022 Stop renumbering statements in inference proper
  base/compiler/ssair/irinterp.jl
  base/compiler/ssair/slot2ssa.jl
  base/compiler/typeinfer.jl
Labels: inference

#47983 Parallelize precompiles generation
  contrib/generate_precompile.jl
Labels: build, merge me

#48036 Adjust assertion for pkgimage & code-coverage
  src/coverage.cpp
  src/jitlayers.h
Labels: bugfix, backport 1.9, pkgimage

#48003 isassigned: check bounds on multidimensional indexes
  base/array.jl
  test/core.jl
Labels: bugfix, merge me

#47979 Remove unsafe initialized=true option in sortperm!
  NEWS.md
  base/sort.jl
Labels: merge me, sort
