Repository JuliaLang/julia, pull requests merged in 2022-05, with the labels that each got.

#45048 Create a copy while evaluating eigvals(::Diagonal)
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/LinearAlgebra/test/diagonal.jl
Labels: linear algebra, backport 1.6, backport 1.7, backport 1.8

#45146 Allow constprop to improve constant results to Bottom
  base/compiler/abstractinterpretation.jl
  test/compiler/inline.jl
Labels: merge me

#45009 Fix bug in `pinv`
  stdlib/LinearAlgebra/src/dense.jl
  stdlib/LinearAlgebra/test/pinv.jl
Labels: linear algebra, backport 1.6, backport 1.7, backport 1.8

#45139 Small documentation fix
  base/math.jl
Labels: doc

#45004 Enable manual shrinkage of Dict
  NEWS.md
  base/dict.jl
  test/dict.jl
Labels: collections, merge me

#45156 Introduce in!(x, s::Set) to improve performance of unique()
  base/set.jl
Labels: performance, collections

#45159 speed up `divrem(::BigInt, Integer)`
  base/gmp.jl
Labels: performance, bignums

#45150 fix logging macros to use the updated stdlib path
  base/logging.jl
  base/methodshow.jl
  test/corelogging.jl
Labels: logging

#45176 [deps] Remove Python workaround in LLVM build, no longer necessary
  deps/llvm.mk
Labels: build, mac, external dependencies, backport 1.8

#44498 Docs: explain what Base64 encoding is
  stdlib/Base64/src/Base64.jl
Labels: doc

#45033 Amend Logging docs with environment variable help
  stdlib/Logging/docs/src/index.md
Labels: doc

#44711 document that promote_type can input more than two types
  base/promotion.jl
Labels: doc

#42913 Additional info on copying arrays
  doc/src/manual/noteworthy-differences.md
Labels: doc, arrays

#45149 Fix different .cachepath initialization points for precompile load
  base/loading.jl
  test/precompile.jl
Labels: backport 1.8

#45209 Revert "Clarify that `modifyproperty!` does not call `convert`"
  base/docs/basedocs.jl
Labels: merge me

#45228 Fixed a typo
  stdlib/REPL/docs/src/index.md
Labels: doc

#39576 Added edge case tests for set module in unique, unique!, and allunique
  test/sets.jl
Labels: test, merge me

#35916 Added tests for Iterators to cover a few edge cases.
  test/iterators.jl
Labels: test, merge me

#40410 Revamp and expand let docs
  base/docs/basedocs.jl
Labels: doc, forgetmenot, merge me

#45237 Fix some tuple tests to catch Any32
  test/tuple.jl
Labels: test, collections

#45235 Missing test for uuid
  test/loading.jl
Labels: test

#45227 Add test for AbstractString ends/startswith
  test/strings/basic.jl
Labels: test, strings

#38069 Add tests for Unicode, char.jl and string/basic.jl
  stdlib/Unicode/test/runtests.jl
  test/char.jl
  test/strings/basic.jl
Labels: test, unicode, merge me

#40491 add a test to ensure conj! is not called on uninitialized memory in matmul
  stdlib/LinearAlgebra/test/matmul.jl
Labels: test

#44999 Refresh stale file handles for REPL history.
  stdlib/REPL/src/REPL.jl
Labels: REPL

#44264 make `randstring` 25% faster for ASCII
  stdlib/Random/src/misc.jl
Labels: performance, RNG

#44767 Consider additional default ssh keys for LibGit2.
  stdlib/LibGit2/src/callbacks.jl
Labels: backport 1.8

#41013 document local methods, warn about branches
  doc/src/manual/methods.md
Labels: doc, merge me

#44642 Add missing docstrings in manual
  doc/src/base/base.md
  doc/src/base/numbers.md
  doc/src/base/parallel.md
  stdlib/CRC32c/docs/src/index.md
  stdlib/DelimitedFiles/docs/src/index.md
  stdlib/Distributed/docs/src/index.md
  stdlib/LibGit2/docs/src/index.md
  stdlib/Mmap/docs/src/index.md
  stdlib/REPL/docs/src/index.md
  stdlib/Serialization/docs/src/index.md
  stdlib/SharedArrays/docs/src/index.md
Labels: doc, merge me

#42717 Add pretty printing for splat(f)
  NEWS.md
  base/deprecated.jl
  base/exports.jl
  base/iterators.jl
  base/operators.jl
  base/show.jl
  base/strings/search.jl
  doc/src/base/base.md
  doc/src/devdocs/ast.md
  stdlib/LinearAlgebra/src/LinearAlgebra.jl
  stdlib/LinearAlgebra/src/qr.jl
  test/broadcast.jl
  test/compiler/inference.jl
  test/iterators.jl
Labels: display and printing, merge me

#45199 fix #45171, keyword sorter location should just be definition line
  src/julia-syntax.scm
  src/utils.scm
  test/backtrace.jl
Labels: error handling, lowering, bugfix

#45239 follow up #44063, add more test for improved inferrability
  test/tuple.jl
Labels: merge me

#45247 Fix missing codeblock in `donotdelete` docs
  base/docs/basedocs.jl
Labels: doc

#45242 make libgit2 tests robust against line endings
  stdlib/LibGit2/test/libgit2.jl
Labels: test, libgit2

#45241 Make file test robust for other OS languages
  test/file.jl
Labels: test

#45234 move slow searchsorted testset to end of file
  test/sorting.jl
Labels: test

#43522 clarify doc for Iterators.reverse
  base/iterators.jl
Labels: doc, iteration

#43517 Move bounds checks on `copyto!(dst, n, src)`
  base/abstractarray.jl
  test/arrayops.jl
Labels: merge me

#45208 add documentation about using `@cfunction` to call Julia functions when embedding
  doc/src/manual/embedding.md
  test/embedding/embedding-test.jl
  test/embedding/embedding.c
Labels: doc, embedding, merge me

#45240 fix same content being shown successively in REPL
  stdlib/REPL/src/REPL.jl
  stdlib/REPL/test/repl.jl
Labels: REPL, bugfix

#37568 RFC: handle colors in Dict limit printing
  base/dict.jl
  base/show.jl
  test/dict.jl
Labels: display and printing

#44941 Stop using permute!! and invpermute!!
  base/combinatorics.jl
Labels: performance, merge me

#45261 docs: `isfile`: direct write instead of IO
  base/stat.jl
Labels: doc

#45248 Test for setting/getting rounding for F32 and F64
  test/rounding.jl
Labels: test, maths

#45206 rewrite the C/Fortran calling manual to use `@ccall` as the "first class" way of calling
  doc/src/manual/calling-c-and-fortran-code.md
Labels: doc

#45264 Add compat information in docstring of AbstractPattern.
  base/regex.jl
Labels: doc, merge me

#45263 Doc: small clarification of documentation of `rand`
  doc/src/manual/arrays.md
Labels: doc, merge me

#43559 Add section on additional spurious warnings to the Valgrind devdocs
  doc/src/devdocs/valgrind.md
Labels: doc

#41696 Speed up vect by delegating to getindex
  base/array.jl
  test/compiler/codegen.jl
Labels: performance, arrays

#43375 Fast paths for `allunique`
  base/set.jl
  test/sets.jl
Labels: performance

#44103 docs: Improve discoverability of `atreplinit` (mention it in Manual>"Command-line Interface">"Startup file")
  doc/make.jl
  doc/src/manual/command-line-interface.md
  doc/src/manual/getting-started.md
Labels: doc, merge me

#45252 Make dump_llvm_ir C-api compatible
  src/aotcompile.cpp
  src/codegen.cpp
  src/disasm.cpp
  src/jitlayers.cpp
  src/jitlayers.h
Labels: merge me

#29371 Minor English fixes/improvements
  doc/src/manual/embedding.md
Labels: doc, merge me

#43723 Skip some `reshape`s caused by `view`
  base/subarray.jl
  test/subarray.jl
Labels: merge me

#43439 LibGit2: expose trace_set
  stdlib/LibGit2/docs/src/index.md
  stdlib/LibGit2/src/LibGit2.jl
  stdlib/LibGit2/src/callbacks.jl
  stdlib/LibGit2/src/consts.jl
  stdlib/LibGit2/test/libgit2.jl
Labels: libgit2

#43394 allow CartesianIndex in `isassigned`
  base/multidimensional.jl
  test/abstractarray.jl
  test/cartesian.jl
Labels: arrays, merge me

#44376 Allow constructing WorkerPool from AbstractRange{Int}
  stdlib/Distributed/src/workerpool.jl
  stdlib/Distributed/test/distributed_exec.jl
Labels: parallel, merge me

#45281 Restrict Regex signatures from SubString to SubString{String}
  base/regex.jl
Labels: merge me

#45279 Document and export `contractuser`
  base/exports.jl
  base/path.jl
  doc/src/base/file.md
  stdlib/Logging/src/ConsoleLogger.jl
  test/path.jl
Labels: filesystem

#45250 Test for MethodError for gcd/lcm/gcdx
  test/intfuncs.jl
Labels: test, maths

#45255 fix keyword values being shown in `MethodError`
  base/errorshow.jl
  test/errorshow.jl
Labels: error messages

#33759 REPL: allow editing current input in editor (via Meta-e)
  NEWS.md
  stdlib/REPL/docs/src/index.md
  stdlib/REPL/src/LineEdit.jl
  stdlib/REPL/src/REPL.jl
  stdlib/REPL/test/repl.jl
Labels: REPL

#45130 Add tests for `@time` compilation reporting
  test/misc.jl
Labels: merge me

#45296 Two missing tests for LazyString
  test/strings/basic.jl
Labels: test, strings, merge me

#45218 Clarify that `modifyproperty!` does not call `convert` currently
  base/docs/basedocs.jl
Labels: doc, multithreading, merge me

#31944 Audit some more @assert usage in base
  base/views.jl
Labels: merge me

#33636 Improved error messages for vcat/hcat on BitArray
  base/bitarray.jl
Labels: merge me, error messages

#38498 Make sure that eltyp is actually used for LinearAlgebra test
  stdlib/LinearAlgebra/test/lapack.jl
Labels: linear algebra, forgetmenot

#44564 Generalize or restrict a few basic operators
  NEWS.md
  base/operators.jl
  stdlib/Dates/docs/src/index.md
  stdlib/LinearAlgebra/src/adjtrans.jl
  stdlib/LinearAlgebra/test/bidiag.jl
  stdlib/LinearAlgebra/test/dense.jl
  stdlib/LinearAlgebra/test/diagonal.jl
  stdlib/LinearAlgebra/test/generic.jl
  test/errorshow.jl
  test/int.jl
Labels: linear algebra, merge me

#44571 Add RowNonZero pivoting strategy to `lu`
  NEWS.md
  stdlib/LinearAlgebra/src/LinearAlgebra.jl
  stdlib/LinearAlgebra/src/factorization.jl
  stdlib/LinearAlgebra/src/lu.jl
  stdlib/LinearAlgebra/test/generic.jl
Labels: linear algebra, merge me

#45293 Add section for properties to the interface section
  doc/src/manual/interfaces.md
  doc/src/manual/types.md
Labels: doc

#34510 Subtype error
  src/builtins.c
  test/errorshow.jl
  test/subtype.jl
Labels: merge me, error messages

#45308 Restore export of jl_options
  cli/loader.h
  cli/loader_lib.c
  src/Makefile
  src/jl_exported_data.inc
  src/jl_exported_funcs.inc
  src/jloptions.c
  src/jloptions.h
  src/julia.h
  test/embedding/embedding.c
Labels: backport 1.6

#45291 document unique(i -> a[i], eachindex(a)) trick
  base/set.jl
Labels: doc, merge me

#45289 Fix `copyto!(dest, Rdest::CartesianIndices, src, Rsrc::CartesianIndices)` with different step.
  base/multidimensional.jl
  test/copy.jl
Labels: arrays, bugfix, merge me, backport 1.6, backport 1.8

#45287 document identify_package and locate_package
  base/loading.jl
  doc/src/base/base.md
Labels: doc

#45313 make Tuple(x) inferable for number type
  base/tuple.jl
  test/tuple.jl
Labels: merge me

#45148 Mention use of `@sprintf` to generate a String
  stdlib/Printf/src/Printf.jl
Labels: doc, strings

#45220 doc: clarify edge cases when converting rational to float
  doc/src/manual/complex-and-rational-numbers.md
Labels: doc

#32310 add Slices array type for eachslice/eachrow/eachcol
  NEWS.md
  base/Base.jl
  base/abstractarraymath.jl
  base/exports.jl
  base/slicearray.jl
  doc/src/base/arrays.md
  test/arrayops.jl
Labels: arrays

#45322 Add particular warning about `1:length(A)` pattern
  base/essentials.jl
Labels: doc, merge me

#45132 build: include sysimage output in timing report
  base/client.jl
  base/initdefs.jl
  base/sysimg.jl
  contrib/generate_precompile.jl
  src/init.c
  src/julia.h
  src/precompile.c
Labels: build

#44794 optimizer: use count checking framework
  base/compiler/ssair/inlining.jl
  base/compiler/ssair/ir.jl
  base/compiler/ssair/passes.jl
  base/compiler/ssair/slot2ssa.jl
  base/compiler/utilities.jl
  test/compiler/ssair.jl
Labels: optimizer, merge me

#45333 Fix typo in #45289.
  base/multidimensional.jl
  test/copy.jl
Labels: embarrassing-bugfix, backport 1.6, backport 1.8

#43263 document require_one_based_indexing
  base/abstractarray.jl
Labels: doc, merge me

#41715 `@testset for`: avoid calling finish twice when it errors
  stdlib/Test/src/Test.jl
Labels: testsystem, bugfix, merge me

#39126 Minor improvements of _tablesz implementation
  base/abstractdict.jl
Labels: merge me

#45335 preserve -- in ARGS when it follows a non-option argument
  base/client.jl
  src/jloptions.c
  test/cmdlineargs.jl
Labels: merge me

#45325 make floating point pow tests better
  test/math.jl
Labels: test, maths

#45189 Resurrect libunwind patches
  deps/patches/llvm-libunwind-force-dwarf.patch
  deps/patches/llvm-libunwind-freebsd-libgcc-api-compat.patch
  deps/patches/llvm-libunwind-prologue-epilogue.patch
  deps/patches/llvm-libunwind-revert-monorepo-requirement.patch
  deps/unwind.mk
Labels: build, mac, external dependencies, backport 1.8

#45346 [deps] Use newer `config.sub` when building nghttp2
  deps/nghttp2.mk
Labels: build, external dependencies, apple silicon, backport 1.8

#45249 codegen: explicitly handle Float16 intrinsics
  src/APInt-C.cpp
  src/julia.expmap
  src/julia_internal.h
  src/llvm-demote-float16.cpp
  src/runtime_intrinsics.c
Labels: float16, backport 1.8

#45343 IO docstrings: Use `write(filename, contents)` when available
  base/io.jl
Labels: doc, merge me

#45121 Use externally hosted DelimitedFiles and move it out of the sysimage
  base/sysimg.jl
  deps/checksums/DelimitedFiles-f520e069d2eb8282e8a07dcb384fe0e0c6293bc3.tar.gz/md5
  deps/checksums/DelimitedFiles-f520e069d2eb8282e8a07dcb384fe0e0c6293bc3.tar.gz/sha512
  stdlib/.gitignore
  stdlib/DelimitedFiles.version
  stdlib/DelimitedFiles/Project.toml
  stdlib/DelimitedFiles/docs/src/index.md
  stdlib/DelimitedFiles/src/DelimitedFiles.jl
  stdlib/DelimitedFiles/test/runtests.jl
  stdlib/Makefile
  test/offsetarray.jl
  test/precompile.jl
  test/read.jl
Labels: excision, stdlib

#30500 implement a hash function for Enums
  base/Enums.jl
  test/enums.jl
Labels: merge me

#45357 Fix a few pre-NewPM nits
  src/aotcompile.cpp
  src/codegen.cpp
  src/jitlayers.cpp
  src/llvm-multiversioning.cpp
  src/passes.h
Labels: codegen, llvm

#45368 Update distributed doc
  doc/src/manual/distributed-computing.md
  stdlib/Distributed/src/managers.jl
Labels: doc, parallel

#45369 added new command line option heap_size_hint for greedy GC
  NEWS.md
  base/options.jl
  doc/man/julia.1
  src/gc.c
  src/jloptions.c
  src/jloptions.h
  src/julia_internal.h
Labels: GC

#45365 Fix error in validating complex row-first hvncat
  base/abstractarray.jl
  test/abstractarray.jl
Labels: bugfix, backport 1.7, backport 1.8

#35604 Clarify Revise and testing workflow
  CONTRIBUTING.md
Labels: doc

#45375 Apply patch for GMP CVE-2021-43618
  deps/checksums/gmp
  deps/gmp.mk
  deps/patches/gmp-CVE-2021-43618.patch
  stdlib/GMP_jll/Project.toml
Labels: build, external dependencies, security, backport 1.6, backport 1.7, backport 1.8

#45317 Test: Add fail-fast mechanism
  NEWS.md
  stdlib/Test/src/Test.jl
  stdlib/Test/test/runtests.jl
Labels: testsystem, feature

#45407 Zlib: update version number
  deps/Versions.make
Labels: build

#45391 OpenBLAS: Find objconv in its proper path
  deps/openblas.mk
Labels: build, external dependencies, backport 1.8

#45408 Update nghttp2 to 1.47.0
  deps/Versions.make
  deps/checksums/nghttp2
  deps/nghttp2.mk
  stdlib/nghttp2_jll/Project.toml
  stdlib/nghttp2_jll/test/runtests.jl
Labels: build, external dependencies

#45398 Update PCRE2 to 10.40
  deps/Versions.make
  deps/checksums/pcre
  deps/patches/pcre2-sljit-apple-silicon-support.patch
  deps/patches/pcre2-sljit-nomprotect.patch
  deps/pcre.mk
  stdlib/PCRE2_jll/Project.toml
  stdlib/PCRE2_jll/test/runtests.jl
Labels: build, external dependencies, security

#45409 Do not set MCPU on Apple Silicon
  Make.inc
Labels: build, apple silicon, backport 1.8

#45412 set default blas num threads to Sys.CPU_THREADS / 2 in absence of OPENBLAS_NUM_THREADS
  stdlib/LinearAlgebra/src/LinearAlgebra.jl
Labels: performance, linear algebra, backport 1.8

#45008 Add docstring for fallback `fetch(::Any)` method
  base/task.jl
  doc/src/base/parallel.md
Labels: doc, parallel

#45420 Don't error when transposing a single character
  stdlib/REPL/src/LineEdit.jl
  stdlib/REPL/test/lineedit.jl
Labels: REPL, bugfix, backport 1.8

#45382 Minor fixes to Random.seed! docstring
  stdlib/Random/src/Random.jl
Labels: doc

#45421 Add nothrow modeling for global assignment
  base/compiler/abstractinterpretation.jl
  test/compiler/inference.jl
Labels: merge me

#45370 Disallow reinterpreting a non-singleton array into a singleton type
  base/reinterpretarray.jl
  test/reinterpretarray.jl
Labels: arrays, bugfix, backport 1.8

#45423 Make finalizer a built-in
  base/compiler/tfuncs.jl
  base/docs/basedocs.jl
  base/gcutils.jl
  src/builtin_proto.h
  src/builtins.c
  src/codegen.cpp
  src/gc.c
  src/julia_internal.h
  src/staticdata.c
Labels: merge me

#45451 fix #45440, improve the robustness of concrete-evaled callsite inlining
  base/compiler/ssair/inlining.jl
Labels: backport 1.8

#45413 Update libuv to latest commit
  deps/checksums/libuv
  deps/libuv.version
Labels: build

#45419 make `mbedTLS` warnings non fatal
  deps/mbedtls.mk
Labels: build

#45061 Updates to findmin/findmax: function application over multidims
  base/reduce.jl
  base/reducedim.jl
  test/reducedim.jl
Labels: needs tests

#44061 Preserve shape when collecting broadcasted objects
  base/broadcast.jl
  test/broadcast.jl
Labels: merge me

#44394 Support `@deprecate`ing qualified function names
  base/deprecated.jl
  test/deprecation_exec.jl
Labels: merge me

#45349 improve discoverability of manually typed array literals
  doc/src/manual/arrays.md
Labels: doc, merge me

#31492 Clarify that jl_init_with_image can be called with abspath sysimage
  src/jlapi.c
  src/julia.h
Labels: merge me

#45466 set VERSION to 1.8.0-rc1
  VERSION
Labels: backport 1.8

#45380 Make llvmunwind depend on llvm
  deps/unwind.mk
Labels: build, mac, external dependencies

#45443 Update LibCURL to 7.83.1
  deps/Versions.make
  deps/checksums/curl
  deps/curl.mk
  stdlib/LibCURL_jll/Project.toml
Labels: build, external dependencies, backport 1.6, backport 1.8

#45504 csl.mk: use libgcc_s 1.1 on aarch64-darwin
  deps/csl.mk
Labels: build, external dependencies, apple silicon

#45478 follow #45440, add assertion to check concrete-eval call is compileable
  base/compiler/ssair/inlining.jl
Labels: backport 1.8

#45276 inference: refactor the core loops to use less memory
  base/compiler/abstractinterpretation.jl
  base/compiler/compiler.jl
  base/compiler/inferencestate.jl
  base/compiler/optimize.jl
  base/compiler/ssair/driver.jl
  base/compiler/ssair/ir.jl
  base/compiler/ssair/passes.jl
  base/compiler/tfuncs.jl
  base/compiler/typeinfer.jl
  base/compiler/typelattice.jl
  test/compiler/inference.jl
Labels: inference

#45479 inference: NFC refactoring on `Conditional`/`InterConditional`
  base/boot.jl
  base/compiler/abstractinterpretation.jl
  base/compiler/inferenceresult.jl
  base/compiler/tfuncs.jl
  base/compiler/typelattice.jl
  base/compiler/typelimits.jl
  src/builtins.c
  src/jl_exported_data.inc
  src/jltypes.c
  src/julia.h
  src/staticdata.c
  test/compiler/inference.jl
Labels: inference

#45509 Say how to test stdlib packages in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: doc

#40996 Speed up `mapslices`
  base/abstractarray.jl
  test/arrayops.jl
Labels: performance, arrays

#45515 Don't gzip staging tarballs.
  deps/tools/common.mk
Labels: build
