Repository JuliaLang/julia, pull requests merged in 2022-07, with the labels that each got.

#45120 Remove duplicate definition of jl_gc_safepoint
  src/julia_threads.h
Labels: backport 1.8

#45919 Fix LLVM source build version references
  deps/checksums/llvm
  deps/llvm.version
Labels: embarrassing-bugfix, merge me

#45861 improve cache loading behaviors
  base/loading.jl
  test/precompile.jl
Labels: backport 1.8

#45908 [deps/llvm] don't use hardcode `LLVM_SHARED_LIB_NAME`
  Makefile
  deps/llvm-ver.make
  deps/llvm.mk
  src/Makefile
Labels: build, external dependencies

#45904 fix #45903, in place broadcast into a bit-masked bitmatrix
  base/broadcast.jl
  test/broadcast.jl
Labels: broadcast, backport 1.6, backport 1.8

#44507 Extend `strides` for `ReshapedArray` with strided parent.
  base/reinterpretarray.jl
  base/reshapedarray.jl
  stdlib/LinearAlgebra/src/blas.jl
  stdlib/LinearAlgebra/test/blas.jl
  test/abstractarray.jl
Labels: linear algebra, arrays, backport 1.8

#45883 Account for empty MethodList in show_method_table
  base/methodshow.jl
  test/show.jl
Labels: bugfix

#45938 Backport #45727 and a patch to make it work
  src/gc.c
  src/init.c
Labels: merge me

#45923 Aggressive constant propagation in `_eachslice`
  base/slicearray.jl
  test/arrayops.jl
Labels: merge me

#45920 don't nest `Stateful`s
  base/iterators.jl
  test/iterators.jl
Labels: merge me

#45943 Fix doctests after factorization internals unexport.
  stdlib/LinearAlgebra/src/qr.jl
Labels: doc

#45898 Remove unnecessary name qualification in docstrings
  stdlib/Dates/src/Dates.jl
  stdlib/Dates/src/accessors.jl
  stdlib/Dates/src/adjusters.jl
  stdlib/Dates/src/periods.jl
  stdlib/Dates/src/query.jl
  stdlib/Dates/src/rounding.jl
  stdlib/LibGit2/src/LibGit2.jl
  stdlib/LibGit2/src/reference.jl
  stdlib/LinearAlgebra/src/factorization.jl
  stdlib/LinearAlgebra/src/matmul.jl
  stdlib/Sockets/src/addrinfo.jl
Labels: doc

#45896 union-types: use insertion (stable) sort instead of qsort
  base/sort.jl
  src/jltypes.c
Labels: backport 1.6, backport 1.7, backport 1.8

#45885 Fix typo in comment, remove unnecessary escaping, and simplify toms
  stdlib/Dates/src/periods.jl
Labels: dates

#45933 [deps/curl]: sync build flags with `Yggdrasil/LibCURL`
  deps/curl.mk
Labels: build, external dependencies

#45834 attempt to make domsort faster, more correct for enter block
  base/Base.jl
  base/compiler/compiler.jl
  base/compiler/ssair/domtree.jl
  base/compiler/ssair/passes.jl
  base/compiler/ssair/slot2ssa.jl
  base/iterators.jl
  test/docs.jl
Labels: inference

#45605 Complete size checks in `BLAS.[sy/he]mm!`
  stdlib/LinearAlgebra/src/blas.jl
  stdlib/LinearAlgebra/test/blas.jl
  stdlib/LinearAlgebra/test/symmetric.jl
Labels: linear algebra, bugfix, backport 1.6, backport 1.8

#45899 fix freeze on `@threads` loop exit
  src/jl_uv.c
  src/partr.c
Labels: merge me, backport 1.8

#45862 Proof performance tips for clarity
  doc/src/manual/performance-tips.md
Labels: doc

#45946 Backports for 1.8-rc2/1.8.0
  base/array.jl
  base/broadcast.jl
  base/reinterpretarray.jl
  base/reshapedarray.jl
  base/sort.jl
  src/Makefile
  src/jl_uv.c
  src/jltypes.c
  src/partr.c
  stdlib/LinearAlgebra/src/blas.jl
  stdlib/LinearAlgebra/src/bunchkaufman.jl
  stdlib/LinearAlgebra/src/cholesky.jl
  stdlib/LinearAlgebra/src/lq.jl
  stdlib/LinearAlgebra/src/lu.jl
  stdlib/LinearAlgebra/src/qr.jl
  stdlib/LinearAlgebra/test/blas.jl
  stdlib/LinearAlgebra/test/symmetric.jl
  test/abstractarray.jl
  test/broadcast.jl
  test/offsetarray.jl
Labels: release

#45963 release-1.8: set VERSION to 1.8.0-rc2
  VERSION
Labels: release

#45366 Improving `Printf` error messages
  NEWS.md
  stdlib/Printf/src/Printf.jl
  stdlib/Printf/test/runtests.jl
Labels: display and printing, error messages

#45912 [deps/zlib]: fix source build
  deps/zlib.mk
Labels: build, external dependencies

#45961 Document that `L`ength parameter needs Julia 1.7
  base/range.jl
Labels: doc

#41709 Make minmax faster for Float32/64
  base/math.jl
  base/mpfr.jl
  base/reduce.jl
  test/numbers.jl
Labels: performance

#45978 [doc/LinearAlgebra]: add exported functions to doc
  stdlib/LinearAlgebra/docs/src/index.md
Labels: doc, linear algebra

#45988 Update `Documenter` version, deploy to tarball
  doc/Manifest.toml
  doc/make.jl
Labels: backport 1.8

#45966 Add channel state checks to reduce exceptions
  base/channels.jl
  base/task.jl
Labels: performance, backport 1.8

#46001 Note that the compiler performs loop unrolling
  doc/src/manual/metaprogramming.md
Labels: doc

#45987 Expand on `objectid` docstring
  base/reflection.jl
Labels: doc, hashing

#45945 Better precision for cispi(::Complex)
  base/complex.jl
  test/complex.jl
Labels: performance, complex, merge me

#45529 Docs.jl: Fix extracting name of parametric functors (fix for #44889)
  base/docs/Docs.jl
  stdlib/REPL/src/docview.jl
  test/docs.jl
Labels: docsystem, merge me

#45986 release-1.8: Backports for 1.8-rc3
  base/channels.jl
  base/task.jl
  deps/Versions.make
  deps/checksums/nghttp2
  deps/nghttp2.mk
  doc/Manifest.toml
  doc/make.jl
  stdlib/nghttp2_jll/Project.toml
  stdlib/nghttp2_jll/test/runtests.jl
Labels: release

#45965 Add example for Threads.foreach on a Channel
  base/threads_overloads.jl
Labels: doc

#45925 Improve evaluation of nested `ComposedFunction`s
  base/operators.jl
  test/operators.jl
Labels: merge me

#45137 Improve docs for `sin` and some friends
  base/math.jl
  base/promotion.jl
Labels: doc

#46012 Doctest example for eof
  base/io.jl
Labels: doc, merge me

#46004 Add tests to improve coverage of regex
  test/regex.jl
Labels: test

#46040 fix convert call in Artifacts.jl
  stdlib/Artifacts/src/Artifacts.jl
Labels: needs tests, backport 1.6, backport 1.7, backport 1.8

#46033 Define regular expressions; clarify PCRE version
  doc/src/manual/strings.md
Labels: doc, merge me

#45212 give finalizers their own RNG state
  src/gc.c
  src/task.c
  stdlib/Random/src/RNGs.jl
  stdlib/Random/test/runtests.jl
Labels: RNG, GC, backport 1.8

#46022 mark two_mul as consistent
  base/math.jl
  test/math.jl
Labels: performance, maths

#46028 Close race condition in Filewatching tests
  stdlib/FileWatching/test/pidfile.jl
Labels: apple silicon

#46053 Allow `BUILDKITE_BRANCH` to provide branch name
  base/version_git.sh
Labels: backport 1.6, backport 1.7, backport 1.8

#46055 Fix `regex` test on 32bit systems
  test/regex.jl
Labels: test, merge me

#46035 LinearAlgebra.BLAS: sort and group blas functions
  stdlib/LinearAlgebra/docs/src/index.md
  stdlib/LinearAlgebra/src/blas.jl
Labels: doc, linear algebra, stdlib, merge me

#46027 Document `y` vs `Y` in dateformat
  stdlib/Dates/src/io.jl
Labels: doc, dates

#46062 Show IR verification failures.
  src/llvm-cpufeatures.cpp
  src/llvm-multiversioning.cpp
  src/llvm-simdloop.cpp
Labels: llvm

#46042 Fix semantic error in effect documentation
  base/expr.jl
Labels: doc

#45275 document and export `samefile`
  base/exports.jl
  base/stat.jl
  doc/src/base/file.md
Labels: filesystem, feature, merge me

#45980 [nghttp2_jll] Upgrade to v1.48.0
  deps/checksums/nghttp2
  deps/nghttp2.version
  stdlib/nghttp2_jll/Project.toml
  stdlib/nghttp2_jll/test/runtests.jl
Labels: build, external dependencies, backport 1.8

#46063 Update LLVM to include additional patches.
  deps/checksums/clang
  deps/checksums/lld
  deps/checksums/llvm
  deps/clang.version
  deps/lld.version
  deps/llvm-tools.version
  deps/llvm.version
  stdlib/libLLVM_jll/Project.toml
Labels: llvm

#46072 Remove examples of time_imports nesting given it was a bug
  HISTORY.md
  NEWS.md
  stdlib/InteractiveUtils/src/macros.jl
Labels: backport 1.8

#45835 fix #45825, BitArray methods assuming 1-indexing of AbstractArray
  base/abstractarray.jl
  base/bitarray.jl
  test/bitarray.jl
Labels: arrays, bugfix, backport 1.6, backport 1.7, backport 1.8

#46091 Update LLVM to include additional patches.
  deps/Versions.make
  deps/checksums/clang
  deps/checksums/llvm
  deps/llvm.version
  stdlib/libLLVM_jll/Project.toml
Labels: llvm

#45699 Stop using view in adaptive sort
  base/sort.jl
Labels: merge me, sort

#46095 fix sort(Union{}[])
  base/sort.jl
  test/sorting.jl
Labels: sort

#45649 Emit aliases to FP16 conversion routines
  src/APInt-C.cpp
  src/aotcompile.cpp
  src/jitlayers.cpp
  src/jitlayers.h
  src/julia.expmap
  src/julia_internal.h
  src/runtime_intrinsics.c
  test/intrinsics.jl
Labels: float16, backport 1.6, backport 1.7, backport 1.8

#45890 Export jl_is_foreign_type
  src/jl_exported_funcs.inc
Labels: merge me, backport 1.8

#46114 Fix fast path for `strides(::ReinterpretArray)` with dense parent.
  base/reinterpretarray.jl
  test/abstractarray.jl
  test/reinterpretarray.jl
Labels: arrays, embarrassing-bugfix, backport 1.8

#46050 Specialize tuple setindex to avoid ntuple-related performance regression.
  base/tuple.jl
  test/tuple.jl
Labels: performance, backport 1.8

#46085 Use `max(1, Sys.CPU_THREADS)` BLAS threads for `aarch64`.
  stdlib/LinearAlgebra/src/LinearAlgebra.jl
Labels: backport 1.8

#45900 Explicitly derive alloca AS from DL
  src/cgutils.cpp
  src/codegen.cpp
  src/codegen_shared.h
  src/llvm-alloc-opt.cpp
  src/llvm-final-gc-lowering.cpp
  src/llvm-late-gc-lowering.cpp
  src/llvm-lower-handlers.cpp
  src/llvm-propagate-addrspaces.cpp
  test/llvmpasses/alloc-opt-gcframe-addrspaces.jl
  test/llvmpasses/final-lower-gc-addrspaces.ll
  test/llvmpasses/late-lower-gc-addrspaces.ll
  test/llvmpasses/lower-handlers-addrspaces.ll
  test/llvmpasses/propagate-addrspace-non-zero.ll
Labels: codegen, bugfix, merge me

#46105 fix `_builtin_nothrow` for `arrayset`
  base/compiler/tfuncs.jl
  test/compiler/effects.jl
Labels: bugfix

#46100 Fix timev compilation time tracking and add tests
  base/timing.jl
  test/misc.jl
Labels: backport 1.8

#46103 [release-1.6] Set VERSION to 1.6.8 prerelease
  VERSION
Labels: release

#46126 add missing 1.8 NEWS item: Distributed SSHManager csh support
  HISTORY.md
Labels: backport 1.8

#46118 [LinearAlgebra] Support more variables to set OpenBLAS threads
  stdlib/LinearAlgebra/src/LinearAlgebra.jl
Labels: linear algebra, backport 1.8

#46129 Better getfield error message
  src/builtins.c
  test/core.jl
Labels: error messages

#46044 2 arg getfield is always consistent
  base/compiler/tfuncs.jl
  base/special/log.jl
  test/compiler/effects.jl
  test/math.jl
Labels: performance

#45957 Makefile: fix `PATH` set
  Makefile
Labels: build

#43536 Add REPL-completion for keyword arguments
  stdlib/REPL/src/REPLCompletions.jl
  stdlib/REPL/test/replcompletions.jl
Labels: REPL, keyword arguments

#46145 Add tests for hvncat to avoid issues with non-numeric types
  test/abstractarray.jl
Labels: test, arrays

#46102 Test that sorting preserves object identity
  test/sorting.jl
Labels: test, sort

#46037 simplify/style in CompoundPeriod
  stdlib/Dates/src/periods.jl
Labels: dates

#46079 Add Metaprogramming manual reference to `macro` docstring
  base/docs/basedocs.jl
Labels: doc

#36420 Fix rem2pi for NaN
  base/math.jl
  test/numbers.jl
Labels: maths, backport 1.6, backport 1.7, backport 1.8

#45489 Revert broadening of arithmetic `Any` methods (revert #44564 and #45320)
  NEWS.md
  base/operators.jl
  stdlib/Dates/docs/src/index.md
  stdlib/LinearAlgebra/src/adjtrans.jl
  stdlib/LinearAlgebra/test/bidiag.jl
  stdlib/LinearAlgebra/test/dense.jl
  stdlib/LinearAlgebra/test/diagonal.jl
  stdlib/LinearAlgebra/test/generic.jl
  test/errorshow.jl
  test/int.jl
Labels: merge me

#46088 tcp: re-enable half-duplex operation support
  base/stream.jl
Labels: I/O

#46163 fix rem2pi for non-finite arguments
  base/math.jl
  test/numbers.jl
Labels: bugfix, backport 1.6, backport 1.7, backport 1.8

#46157 mac: Produce coredumps on segfault
  src/signals-mach.c
Labels: mac

#46161 `copyto!` fix for `BitArray`/`AbstractArray`
  base/abstractarray.jl
  base/bitarray.jl
  test/bitarray.jl
  test/copy.jl
Labels: arrays, bugfix, backport 1.6, backport 1.8

#46162 Save matrix allocation in `Matrix(::AbstractQ)`
  stdlib/LinearAlgebra/src/qr.jl
Labels: linear algebra

#46138 Print more context for complex test conditions
  stdlib/Test/src/Test.jl
  stdlib/Test/src/logging.jl
  stdlib/Test/test/runtests.jl
  test/cmdlineargs.jl
Labels: testsystem, stdlib

#46125 devdoc/build: remove unused step
  doc/src/devdocs/build/windows.md
Labels: build

#46187 Fix a typo in the docstring for `@testset let` in the Test stdlib
  stdlib/Test/src/Test.jl
Labels: doc, testsystem, stdlib, merge me

#46192 Throw descriptive BoundsError in `copyto!`
  base/array.jl
Labels: arrays, error messages

#46186 Print more context when FileWatching test fails; also make small tweaks to the `ContextTestSet` (`@testset let ...`) functionality in the Test stdlib
  stdlib/FileWatching/test/runtests.jl
  stdlib/Test/src/Test.jl
Labels: testsystem, filesystem, stdlib

#46208 inference: fix #46207, make sure we never form nested `Conditional`
  base/compiler/abstractinterpretation.jl
  test/compiler/inference.jl
Labels: backport 1.8

#45968 Support `begin` and `end` in `gen_call_with_extracted_types` users
  stdlib/InteractiveUtils/src/macros.jl
  stdlib/InteractiveUtils/test/runtests.jl
Labels: macros, stdlib, merge me

#46194 Use applicable correctly in sort!
  base/sort.jl
Labels: performance, bugfix, sort

#46175 Create the new pass manager pipelines
  src/Makefile
  src/aotcompile.cpp
  src/disasm.cpp
  src/jitlayers.h
  src/llvm-julia-passes.inc
  src/pipeline.cpp
Labels: codegen, llvm

#46205 How to pass options to julia using #!/usr/bin/env -S
  doc/src/manual/faq.md
Labels: doc
