Repository JuliaLang/julia, pull requests merged in 2022-03, with the labels that each got.

#39949 Implement intersect for ProductIterator (matching CartesianIndices behaviour)
  base/iterators.jl
  test/iterators.jl
Labels: iteration

#35440 be specific on calling compilecache
  doc/src/manual/modules.md
Labels: doc, merge me

#44335 fix #44328: method validation for opaque closures
  base/compiler/validation.jl
  src/julia-syntax.scm
Labels: bugfix, merge me, backport 1.8

#44096 implement promote for BitArray
  base/indices.jl
  base/promotion.jl
  base/range.jl
  base/reducedim.jl
  test/bitarray.jl
  test/broadcast.jl
Labels: merge me

#43827 Remove jl_LLVMContext
  src/aotcompile.cpp
  src/cgutils.cpp
  src/codegen-stubs.c
  src/codegen.cpp
  src/jitlayers.cpp
  src/jitlayers.h
  src/jl_exported_funcs.inc
  src/julia_internal.h
  src/precompile.c
  stdlib/InteractiveUtils/src/codeview.jl
Labels: breaking, codegen, excision

#43900 Add precision about stateful iterators to `isempty`
  base/essentials.jl
Labels: doc, collections

#44364 Split the JIT compiler into an optimizer and concurrent compiler layer
  src/jitlayers.cpp
  src/jitlayers.h
Labels: codegen, latency

#44379 Remove BLAS.vendor() that was deprecated in 1.7
  base/Base.jl
  stdlib/LinearAlgebra/src/blas.jl
Labels: linear algebra

#44345 Fix memory error during precompilation
  src/dump.c
Labels: merge me, backport 1.8

#44422 Make type of `PartialStruct`'s `typ` field more precise
  src/jltypes.c
Labels: merge me

#44390 Improve inference in typejoin
  base/essentials.jl
  base/promotion.jl
Labels: merge me

#44419 add jl_egal and jl_gc_safepoint back to exports list
  src/jl_exported_funcs.inc
  src/jlapi.c
  src/julia.h
Labels: backport 1.8

#44424 [release-1.7] update Downloads.jl to 1.5.3
  deps/checksums/Downloads-26d79afcde9cf837a331fce023b31f1d3699700c.tar.gz/md5
  deps/checksums/Downloads-26d79afcde9cf837a331fce023b31f1d3699700c.tar.gz/sha512
  deps/checksums/Downloads-b0f23d0ed40cf7c5c5896f957d8163a68dfbc805.tar.gz/md5
  deps/checksums/Downloads-b0f23d0ed40cf7c5c5896f957d8163a68dfbc805.tar.gz/sha512
  stdlib/Downloads.version
Labels: stdlib, merge me

#43802 Remove jl_data_layout and jl_TargetMachine
  src/Makefile
  src/aotcompile.cpp
  src/codegen.cpp
  src/disasm.cpp
  src/jitlayers.cpp
  src/jitlayers.h
  src/llvm-cpufeatures.cpp
Labels: codegen, excision, merge me

#44168 Clarify the behavior of `@threads for`
  base/threadingconstructs.jl
Labels: doc, multithreading, backport 1.8

#44319 fix error show edge case
  base/errorshow.jl
  test/error.jl
Labels: error handling, bugfix, display and printing, merge me, backport 1.8

#44333 use fewer slots in lowering keyword arguments
  base/namedtuple.jl
  src/julia-syntax.scm
Labels: performance, lowering

#44421 Make an inference hot-path slightly faster
  base/compiler/ssair/inlining.jl
  base/compiler/typelattice.jl
  test/compiler/inline.jl
  test/worlds.jl
Labels: latency

#44416 optimizer: bail out of inlining if ir_inline_unionsplit will fail
  base/compiler/ssair/inlining.jl
Labels: optimizer, merge me, backport 1.8

#44441 Fix error msg test on 32-bit
  test/error.jl
Labels: bugfix, merge me

#44438 Forbid InterConditional in PartialStruct fields
  base/compiler/abstractinterpretation.jl
Labels: merge me

#43770 Remove debug information globals
  src/cgutils.cpp
  src/codegen.cpp
Labels: codegen, excision

#44446 Fix htable cleanup
  src/dump.c
Labels: backport 1.8

#44468 Remove various int types from optimization passes
  src/Makefile
  src/codegen.cpp
  src/codegen_shared.h
  src/llvm-alloc-opt.cpp
  src/llvm-final-gc-lowering.cpp
  src/llvm-late-gc-lowering.cpp
  src/llvm-multiversioning.cpp
  src/llvm-pass-helpers.cpp
  src/llvm-pass-helpers.h
  src/llvm-ptls.cpp
Labels: codegen, merge me, llvm

#44462 [JuliaLICM] Use `getLoopAnalysisUsage`
  src/llvm-julia-licm.cpp
Labels: codegen, embarrassing-bugfix, merge me

#44453 [RemoveAddrspaces] make MappedTypes non-static
  src/llvm-remove-addrspaces.cpp
Labels: bug, merge me, backport 1.6, backport 1.7, backport 1.8

#44444 Fix or suppress some noisy tests 🏌️‍♂️
  deps/checksums/SHA-2d1f84e6f8417a1a368de48318640d948b023e7a.tar.gz/md5
  deps/checksums/SHA-2d1f84e6f8417a1a368de48318640d948b023e7a.tar.gz/sha512
  deps/checksums/SHA-57c3a8c8358021b7a58526364e6885768fd95de2.tar.gz/md5
  deps/checksums/SHA-57c3a8c8358021b7a58526364e6885768fd95de2.tar.gz/sha512
  stdlib/Artifacts/test/refresh_artifacts.jl
  stdlib/FileWatching/test/pidfile.jl
  stdlib/LazyArtifacts/test/runtests.jl
  stdlib/LibGit2/test/bad_ca_roots.jl
  stdlib/REPL/test/repl.jl
  stdlib/SHA.version
  test/backtrace.jl
  test/boundscheck_exec.jl
  test/deprecation_exec.jl
  test/loading.jl
  test/misc.jl
  test/secretbuffer.jl
  test/specificity.jl
  test/syntax.jl
Labels: merge me, backport 1.8

#44429 Revert "[release-1.7] update Downloads.jl to 1.5.3"
  deps/checksums/Downloads-26d79afcde9cf837a331fce023b31f1d3699700c.tar.gz/md5
  deps/checksums/Downloads-26d79afcde9cf837a331fce023b31f1d3699700c.tar.gz/sha512
  deps/checksums/Downloads-b0f23d0ed40cf7c5c5896f957d8163a68dfbc805.tar.gz/md5
  deps/checksums/Downloads-b0f23d0ed40cf7c5c5896f957d8163a68dfbc805.tar.gz/sha512
  stdlib/Downloads.version
Labels: stdlib, merge me

#44433 [backports-release-1.7] update to Downloads 1.5.3
  deps/checksums/Downloads-26d79afcde9cf837a331fce023b31f1d3699700c.tar.gz/md5
  deps/checksums/Downloads-26d79afcde9cf837a331fce023b31f1d3699700c.tar.gz/sha512
  deps/checksums/Downloads-b0f23d0ed40cf7c5c5896f957d8163a68dfbc805.tar.gz/md5
  deps/checksums/Downloads-b0f23d0ed40cf7c5c5896f957d8163a68dfbc805.tar.gz/sha512
  stdlib/Downloads.version
Labels: stdlib, merge me

#44426 Add per-methtable max methods mechanism
  base/abstractarray.jl
  base/compiler/abstractinterpretation.jl
  base/experimental.jl
  src/datatype.c
  src/dump.c
  src/jltypes.c
  src/julia.h
  stdlib/Serialization/src/Serialization.jl
  test/compiler/inference.jl
Labels: merge me

#44484 Fix missing T_size->getSizeTy in llvm-ptls
  src/llvm-ptls.cpp
Labels: mac, embarrassing-bugfix

#44479 Fix intermittent `threaded loop executed in order` test warning
  test/threads_exec.jl
Labels: multithreading, backport 1.8

#44505 correct phinode definition
  doc/src/devdocs/ssair.md
Labels: doc

#44463 Try to speed up LateLowerGCFrame::ComputeLiveness
  src/llvm-late-gc-lowering.cpp
Labels: performance, latency

#44492 Do not allocate so many arrays in optimizer hot path
  base/compiler/ssair/slot2ssa.jl
Labels: latency

#44456 fix -1.0^big
  base/math.jl
  test/math.jl
Labels: maths, bugfix, backport 1.8

#44516 RFC: remove deprecation warning for `@_inline_meta`
  base/deprecated.jl
Labels: backport 1.8

#44503 Base64 optional padding tests
  stdlib/Base64/src/decode.jl
  stdlib/Base64/test/runtests.jl
Labels: merge me

#44491 apply increased maximum file descriptor limit to all unix
  src/support/libsupportinit.c
Labels: merge me

#44476 process: ensure uvfinalize and _uv_close_cb are synchronized
  base/process.jl
  src/jl_uv.c
Labels: backport 1.6, backport 1.7, backport 1.8

#44464 ensure invoke kwargs work on Types
  src/builtins.c
  test/core.jl
Labels: merge me, backport 1.6, backport 1.7, backport 1.8

#44487 [CompilerSupportLibraries_jll] Update to v0.5.2
  Make.inc
  base/Makefile
  deps/checksums/compilersupportlibraries
  stdlib/CompilerSupportLibraries_jll/Project.toml
  stdlib/CompilerSupportLibraries_jll/src/CompilerSupportLibraries_jll.jl
Labels: build, external dependencies, apple silicon, backport 1.7, backport 1.8

#44524 export CanonicalIndexError
  base/exports.jl
Labels: backport 1.8

#44511 follow up #44448, correct `findall`/`findsup` for `OverlayMethodTable`
  base/compiler/abstractinterpretation.jl
  base/compiler/methodtable.jl
  base/reflection.jl
Labels: backport 1.8

#44531 [libblastrampoline] Ugrade to v5.0.2
  deps/Versions.make
  deps/checksums/blastrampoline
  stdlib/libblastrampoline_jll/Project.toml
Labels: linear algebra, external dependencies

#44215 Put off major collections to improve GC times.
  src/gc-debug.c
  src/gc.c
  src/gc.h
Labels: performance, GC

#44510 [Makefile] Fix codesign of libjulia when installing it on macOS
  Makefile
  contrib/codesign.sh
Labels: build, mac

#43053 [`master` branch] CI (Buildkite): remove the `.buildkite` folder
  .buildkite-external-version
  .buildkite/README.md
  .buildkite/cryptic_repo_keys/.gitignore
  .buildkite/cryptic_repo_keys/README.md
  .buildkite/cryptic_repo_keys/repo_key.2297e5e7
  .buildkite/pipelines/experimental/0_webui.yml
  .buildkite/pipelines/experimental/README.md
  .buildkite/pipelines/experimental/launch_unsigned_builders.yml
  .buildkite/pipelines/main/0_webui.yml
  .buildkite/pipelines/main/README.md
  .buildkite/pipelines/main/launch_unsigned_builders.yml
  .buildkite/pipelines/main/misc/doctest.yml
  .buildkite/pipelines/main/misc/embedding.yml
  .buildkite/pipelines/main/misc/llvmpasses.yml
  .buildkite/pipelines/main/misc/sanitizers.yml
  .buildkite/pipelines/main/misc/signed_pipeline_test.yml
  .buildkite/pipelines/main/misc/signed_pipeline_test.yml.signature
  .buildkite/pipelines/main/misc/whitespace.yml
  .buildkite/pipelines/main/platforms/package_linux.arches
  .buildkite/pipelines/main/platforms/package_linux.yml
  .buildkite/pipelines/main/platforms/tester_linux.arches
  .buildkite/pipelines/main/platforms/tester_linux.yml
  .buildkite/pipelines/scheduled/0_webui.yml
  .buildkite/pipelines/scheduled/README.md
  .buildkite/pipelines/scheduled/coverage/coverage_linux64.yml
  .buildkite/pipelines/scheduled/coverage/coverage_linux64.yml.signature
  .buildkite/pipelines/scheduled/coverage/run_tests_parallel.jl
  .buildkite/pipelines/scheduled/coverage/upload_coverage.jl
  .buildkite/pipelines/scheduled/launch_unsigned_jobs.yml
  .buildkite/pipelines/scheduled/no_bb/no_bb_package_linux.arches
  .buildkite/pipelines/scheduled/no_bb/no_bb_tester_linux.arches
  .buildkite/secrets/.gitignore
  .buildkite/secrets/ssh_docs_deploy.encrypted
  .buildkite/secrets/ssh_docs_deploy.pub
  .buildkite/utilities/platforms/platforms.sh
  .buildkite/utilities/rr/rr_capture.jl
  .gitignore
Labels: ci

#44555 [LLVM/ABI] Don't pass null pointer to byVal attribute
  src/abi_x86_64.cpp
  src/ccall.cpp
Labels: needs pkgeval, backport 1.8

#44528 `range` uses `TwicePrecision` when possible (part 2)
  base/twiceprecision.jl
  test/ranges.jl
Labels: ranges, backport 1.8

#44534 Fix a concurrency bug in `iterate(::Dict)`
  NEWS.md
  base/dict.jl
Labels: multithreading, collections, merge me

#44556 [Make.inc] Require C11 standard
  Make.inc
  contrib/julia-config.jl
  src/support/ios.h
Labels: build, merge me

#44543 libuv: bump version to v2-1.44.1
  base/libc.jl
  deps/checksums/libuv
  deps/libuv.version
  src/sys.c
  stdlib/LibUV_jll/Project.toml
Labels: merge me

#44574 Bump libblastrampoline to v5.1.0
  deps/Versions.make
  deps/checksums/blastrampoline
  stdlib/libblastrampoline_jll/Project.toml
Labels: build, linear algebra, backport 1.8

#44529 fix precision issue in Float64^Float64.
  base/intfuncs.jl
  base/math.jl
  doc/src/manual/complex-and-rational-numbers.md
  test/math.jl
Labels: maths, embarrassing-bugfix, backport 1.8

#44569 Create a table for badges in `README`
  README.md
Labels: doc

#44581 extend the API for `LazyString` a bit
  base/strings/lazy.jl
  test/strings/basic.jl
Labels: backport 1.8

#44358 Remove number / vector
  NEWS.md
  stdlib/LinearAlgebra/src/generic.jl
  stdlib/LinearAlgebra/test/dense.jl
Labels: linear algebra

#44580 Fix llvm powi intrinsic calls in fastmath.jl
  base/fastmath.jl
Labels: maths

#44594 CI (`Create Buildbot Statuses`): add `linux32` to the list
  .github/workflows/statuses.yml
Labels: ci

#44404 inference: refine PartialStruct lattice tmerge
  base/compiler/typelattice.jl
  base/compiler/typelimits.jl
  test/compiler/inference.jl
Labels: inference, merge me, backport 1.8

#44573 Refactor JIT engine to make it friendlier to multiple contexts
  src/jitlayers.cpp
  src/jitlayers.h
Labels: codegen, llvm

#44608 Fix PR number for `@inline/@noinline` annotations
  HISTORY.md
Labels: merge me

#44609 follow up #44608, add missing reference
  HISTORY.md
Labels: merge me

#44412 Update dirpath.h
  src/support/dirpath.h
Labels: backport 1.8

#44231 implement `setproperty!` for modules
  NEWS.md
  base/Base.jl
  base/boot.jl
  base/compiler/abstractinterpretation.jl
  base/compiler/optimize.jl
  base/compiler/ssair/passes.jl
  base/compiler/tfuncs.jl
  base/compiler/utilities.jl
  base/docs/basedocs.jl
  doc/src/manual/variables-and-scoping.md
  doc/src/manual/variables.md
  src/builtin_proto.h
  src/builtins.c
  src/codegen.cpp
  src/module.c
  src/staticdata.c
  src/toplevel.c
  stdlib/Serialization/src/Serialization.jl
  test/core.jl
  test/misc.jl
Labels: needs tests, modules, merge me

#44561 effects: complements #43852, implement effect override mechanisms
  base/compiler/abstractinterpretation.jl
  base/compiler/inferencestate.jl
  base/compiler/typeinfer.jl
  base/compiler/types.jl
  test/compiler/inline.jl
Labels: backport 1.8

#44515 `AbstractInterpreter`: enable selective pure/concrete eval for external `AbstractInterpreter` with overlayed method table
  base/compiler/abstractinterpretation.jl
  base/compiler/inferencestate.jl
  base/compiler/methodtable.jl
  base/compiler/ssair/show.jl
  base/compiler/tfuncs.jl
  base/compiler/typeinfer.jl
  base/compiler/types.jl
  base/reflection.jl
  test/compiler/AbstractInterpreter.jl
Labels: backport 1.8

#44617 follow up #44404, remove duplicated `tmeet` definition
  base/compiler/typelattice.jl
Labels: backport 1.8

#44542 pcre: remove nthreads constant dependency
  base/Base.jl
  base/client.jl
  base/pcre.jl
Labels: multithreading, merge me

#44616 Set `USECLANG` and `USEGCC` based on the actual compilers used
  Make.inc
Labels: build

#43961 Provide more information on unsafe pointer APIs
  base/pointer.jl
Labels: doc

#44622 set VERSION to 1.8.0-beta2
  VERSION
Labels: release

#44377 [`release-1.8` branch] CI (Buildkite): remove the `.buildkite` folder
  .buildkite-external-version
  .buildkite/README.md
  .buildkite/cryptic_repo_keys/.gitignore
  .buildkite/cryptic_repo_keys/README.md
  .buildkite/cryptic_repo_keys/repo_key.2297e5e7
  .buildkite/pipelines/experimental/0_webui.yml
  .buildkite/pipelines/experimental/README.md
  .buildkite/pipelines/experimental/launch_unsigned_builders.yml
  .buildkite/pipelines/main/0_webui.yml
  .buildkite/pipelines/main/README.md
  .buildkite/pipelines/main/launch_unsigned_builders.yml
  .buildkite/pipelines/main/misc/doctest.yml
  .buildkite/pipelines/main/misc/embedding.yml
  .buildkite/pipelines/main/misc/llvmpasses.yml
  .buildkite/pipelines/main/misc/sanitizers.yml
  .buildkite/pipelines/main/misc/signed_pipeline_test.yml
  .buildkite/pipelines/main/misc/signed_pipeline_test.yml.signature
  .buildkite/pipelines/main/misc/whitespace.yml
  .buildkite/pipelines/main/platforms/package_linux.arches
  .buildkite/pipelines/main/platforms/package_linux.yml
  .buildkite/pipelines/main/platforms/tester_linux.arches
  .buildkite/pipelines/main/platforms/tester_linux.yml
  .buildkite/pipelines/scheduled/0_webui.yml
  .buildkite/pipelines/scheduled/README.md
  .buildkite/pipelines/scheduled/coverage/coverage_linux64.yml
  .buildkite/pipelines/scheduled/coverage/coverage_linux64.yml.signature
  .buildkite/pipelines/scheduled/coverage/run_tests_parallel.jl
  .buildkite/pipelines/scheduled/coverage/upload_coverage.jl
  .buildkite/pipelines/scheduled/launch_unsigned_jobs.yml
  .buildkite/pipelines/scheduled/no_bb/no_bb_package_linux.arches
  .buildkite/pipelines/scheduled/no_bb/no_bb_tester_linux.arches
  .buildkite/secrets/.gitignore
  .buildkite/secrets/ssh_docs_deploy.encrypted
  .buildkite/secrets/ssh_docs_deploy.pub
  .buildkite/utilities/platforms/platforms.sh
  .buildkite/utilities/rr/rr_capture.jl
  .gitignore
Labels: ci

#44629 [LibGit2] Teach tests to be resilient to `init.defaultBranch`
  stdlib/LibGit2/test/libgit2.jl
Labels: libgit2, merge me, backport 1.8

#44628 Fix some inference failures in Base.require call graph
  base/cmd.jl
  base/deprecated.jl
  base/loading.jl
  base/process.jl
  base/show.jl
  base/stat.jl
  base/toml_parser.jl
Labels: latency

#44500 Improve inference for string operations
  base/binaryplatforms.jl
  base/io.jl
  base/iostream.jl
  base/logging.jl
  base/process.jl
  base/show.jl
  base/strings/substring.jl
  stdlib/Logging/src/ConsoleLogger.jl
  stdlib/REPL/src/LineEdit.jl
  stdlib/REPL/src/TerminalMenus/AbstractMenu.jl
  stdlib/p7zip_jll/src/p7zip_jll.jl
  test/corelogging.jl
Labels: latency

#44637 Ignore potential errors during dbg-related object construction on Darwin.
  src/debuginfo.cpp
Labels: mac, backport 1.8

#44347 Use `apple-m1` as the base mcpu for `aarch64-apple-darwin`
  Make.inc
Labels: build, apple silicon

#44634 inference: follow up #44515, correctly encode `Effects.overlayed` effect
  base/boot.jl
  base/compiler/compiler.jl
  base/compiler/types.jl
  src/dump.c
  src/gf.c
  src/jltypes.c
  src/julia.h
  src/serialize.h
Labels: backport 1.8

#44638 fix regression introduced in #44231
  base/compiler/tfuncs.jl
  test/compiler/irpasses.jl
Labels: bugfix, merge me

#44659 Fix performance of merging Dicts by sizehint!
  base/abstractdict.jl
  base/dict.jl
Labels: performance

#44666 inference: minor refactor on `typeinf_edge`
  base/compiler/abstractinterpretation.jl
  base/compiler/typeinfer.jl
Labels: inference

#44513 Swiss tables design for `Dict`
  base/dict.jl
  base/set.jl
Labels: performance, collections

#44672 Also record overriden ipo effects in InferenceState
  base/compiler/typeinfer.jl
Labels: backport 1.8

#44625 Fix code coverage in specific path mode
  base/compiler/optimize.jl
  base/compiler/ssair/inlining.jl
  base/compiler/utilities.jl
  base/options.jl
  src/init.c
  test/cmdlineargs.jl
Labels: backport 1.8

#44687 Fallback implementation of sizehint! for AbstractDict
  base/abstractdict.jl
  base/abstractset.jl
  base/array.jl
  test/dict.jl
  test/sets.jl
Labels: merge me

#44630 syntax: deparse function end
  src/ast.scm
  test/syntax.jl
Labels: lowering

#44677 More flexible test affinity setting
  test/threads.jl
Labels: test, multithreading, bugfix, ci, merge me, backport 1.8

#44668 inference: override `InterConditional` result with `Const` carefully
  base/compiler/abstractinterpretation.jl
  test/compiler/inference.jl
Labels: inference, backport 1.8

#44351 add doc string for `uppercase(::AbstractChar)` and friends
  base/strings/unicode.jl
Labels: doc

#44639 Add system info to start of testsuite. Profile: don't spawn profile listener on windows
  stdlib/Profile/src/Profile.jl
  stdlib/Profile/test/runtests.jl
  test/runtests.jl
Labels: merge me, profiler, backport 1.8

#44641 types: fix layout issues for Tuple
  src/datatype.c
  src/jl_exported_funcs.inc
  src/jltypes.c
  test/core.jl
Labels: merge me, backport 1.8

#44615 Fix performance bug for `*` with `AbstractQ`
  stdlib/LinearAlgebra/src/bidiag.jl
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/LinearAlgebra/src/special.jl
  stdlib/LinearAlgebra/src/tridiag.jl
  stdlib/LinearAlgebra/test/special.jl
Labels: performance, linear algebra, backport 1.8

#44671 avoid using `@sync_add` on remotecalls
  base/task.jl
  stdlib/Distributed/src/Distributed.jl
  stdlib/Distributed/src/clusterserialize.jl
  stdlib/Distributed/src/macros.jl
Labels: performance, parallel

#44653 port partr multiq to julia
  base/Base.jl
  base/boot.jl
  base/partr.jl
  base/task.jl
  src/builtins.c
  src/gc.c
  src/init.c
  src/jl_exported_funcs.inc
  src/jltypes.c
  src/julia.h
  src/partr.c
  src/staticdata.c
  src/task.c
Labels: multithreading

#44707 Make `Matrix` cntr work for structured matrices for `zero(T) !isa T`
  stdlib/LinearAlgebra/src/bidiag.jl
  stdlib/LinearAlgebra/src/dense.jl
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/LinearAlgebra/src/tridiag.jl
  stdlib/LinearAlgebra/test/special.jl
Labels: linear algebra, embarrassing-bugfix, backport 1.8

#44709 Clarify documentation of global variables, fixes #44695
  doc/src/manual/performance-tips.md
Labels: doc

#44728 build: allow `Make.user` to tweak bootstrap debug level
  Make.inc
  sysimage.mk
Labels: build

#44736 Recover `ax(b)py!`'s behavior on 1.7
  stdlib/LinearAlgebra/src/blas.jl
  stdlib/LinearAlgebra/test/generic.jl
Labels: linear algebra, backport 1.8

#44729 Avoid copy in getindex(::AbstractQ, ...)
  stdlib/LinearAlgebra/src/qr.jl
  stdlib/LinearAlgebra/test/qr.jl
Labels: linear algebra, backport 1.8

#44747 Use correct variable for threads auto
  src/jl_exported_funcs.inc
  src/julia.h
  src/sys.c
  test/cmdlineargs.jl
Labels: backport 1.8

#44582 Fix eltype determination in `det`
  stdlib/LinearAlgebra/src/generic.jl
  stdlib/LinearAlgebra/test/generic.jl
Labels: linear algebra, merge me

#44760 Eliminate trailing whitespace in stdlib/LinearAlgebra/test/generic.jl
  stdlib/LinearAlgebra/test/generic.jl
Labels: merge me

#44727 fix oc lowering with return type annotations
  src/julia-syntax.scm
  test/syntax.jl
Labels: lowering, bugfix, backport 1.7, backport 1.8

#44733 [Random] Document `default_rng` and remove references to `GLOBAL_RNG`
  stdlib/Random/docs/src/index.md
  stdlib/Random/src/RNGs.jl
  stdlib/Random/src/Random.jl
  stdlib/Random/src/misc.jl
  stdlib/Random/src/normal.jl
Labels: doc, RNG

#44755 optimizer: eliminate more `isdefined` checks
  base/compiler/ssair/passes.jl
  test/compiler/irpasses.jl
Labels: optimizer

#44742 release-1.6: Set VERSION to 1.6.6
  VERSION
Labels: release

#44710 Backports for 1.8-rc1/beta3
  base/compiler/abstractinterpretation.jl
  base/mpfr.jl
  base/task.jl
  src/datatype.c
  src/jl_exported_funcs.inc
  src/jltypes.c
  src/julia-syntax.scm
  src/processor_arm.cpp
  stdlib/Distributed/src/Distributed.jl
  stdlib/Distributed/src/clusterserialize.jl
  stdlib/Distributed/src/macros.jl
  stdlib/LinearAlgebra/src/bidiag.jl
  stdlib/LinearAlgebra/src/blas.jl
  stdlib/LinearAlgebra/src/dense.jl
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/LinearAlgebra/src/qr.jl
  stdlib/LinearAlgebra/src/special.jl
  stdlib/LinearAlgebra/src/tridiag.jl
  stdlib/LinearAlgebra/test/generic.jl
  stdlib/LinearAlgebra/test/qr.jl
  stdlib/LinearAlgebra/test/special.jl
  stdlib/Profile/src/Profile.jl
  stdlib/Profile/test/runtests.jl
  test/compiler/inference.jl
  test/core.jl
  test/mpfr.jl
  test/runtests.jl
  test/syntax.jl
  test/threads.jl
Labels: release

#44777 Pass around effects during inference cacheing
  base/compiler/typeinfer.jl
Labels: merge me

#44770 fix handling of `.op` in lowering
  src/ast.scm
  test/syntax.jl
Labels: lowering, bugfix, backport 1.6, backport 1.7, backport 1.8

#44721 partr: add dynamic scaling and optimize code
  base/condition.jl
  base/linked_list.jl
  base/partr.jl
  base/pcre.jl
  base/task.jl
  doc/src/manual/multi-threading.md
  src/init.c
  src/partr.c
  test/threads_exec.jl
Labels: multithreading

#44764 fix #44763, implement missing effects propagation from `abstract_invoke`
  base/compiler/abstractinterpretation.jl
  base/compiler/types.jl
  test/compiler/inference.jl
Labels: backport 1.8

#44737 Update index.md
  stdlib/LinearAlgebra/docs/src/index.md
Labels: doc

#44762 fix #44732, propagate effects of a thrown concrete call correctly
  base/compiler/abstractinterpretation.jl
  base/compiler/ssair/inlining.jl
  base/compiler/stmtinfo.jl
  test/compiler/inline.jl
Labels: backport 1.8

#43510 Allow pushing to vector after 3-arg ldiv!
  stdlib/LinearAlgebra/src/factorization.jl
  stdlib/LinearAlgebra/test/lu.jl
  stdlib/LinearAlgebra/test/qr.jl
Labels: linear algebra, bugfix, backport 1.6, backport 1.7, backport 1.8

#44749 fix `===` when encountering null pointer
  src/builtins.c
  test/core.jl
Labels: needs tests, backport 1.6, backport 1.8

#44774 set VERSION to 1.8.0-beta3
  VERSION
Labels: release

#44651 Fix performance issue with diagonal multiplication
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/LinearAlgebra/src/generic.jl
Labels: performance, linear algebra, backport 1.8

#44781 profile: fix async deadlock
  src/debuginfo.cpp
Labels: backport 1.6, backport 1.7, backport 1.8

#44454 Increase codegen thread safety
  doc/src/devdocs/locks.md
  src/ccall.cpp
  src/codegen.cpp
  src/intrinsics.cpp
  src/jitlayers.cpp
  src/jitlayers.h
Labels: merge me

#44450 Fewer warnings in 'make clean' in clean directory
  Make.inc
  base/Makefile
  contrib/mac/frameworkapp/Makefile
  deps/curl.mk
  deps/dsfmt.mk
  deps/gmp.mk
  deps/libgit2.mk
  deps/libssh2.mk
  deps/libsuitesparse.mk
  deps/libuv.mk
  deps/libwhich.mk
  deps/llvm.mk
  deps/mbedtls.mk
  deps/mpfr.mk
  deps/nghttp2.mk
  deps/objconv.mk
  deps/openblas.mk
  deps/openlibm.mk
  deps/p7zip.mk
  deps/patchelf.mk
  deps/pcre.mk
  deps/tools/bb-install.mk
  deps/tools/common.mk
  deps/tools/git-external.mk
  deps/tools/stdlib-external.mk
  deps/unwind.mk
  deps/utf8proc.mk
  deps/zlib.mk
  doc/Makefile
  src/Makefile
Labels: build

#44725 fix #44705, fix `tuple_tfunc` on `Union` containing `Type{...}`
  base/compiler/tfuncs.jl
  test/compiler/inference.jl
Labels: merge me

#44788 fix potential error within `multiq_sift_down`
  base/partr.jl
Labels: merge me

#44699 Initialize jl_page_size when not calling julia_init.
  src/codegen.cpp
Labels: bugfix, llvm, backport 1.8

#44469 Remove some pointer types from JuliaPassContext
  src/llvm-alloc-opt.cpp
  src/llvm-final-gc-lowering.cpp
  src/llvm-late-gc-lowering.cpp
  src/llvm-pass-helpers.cpp
  src/llvm-pass-helpers.h
  src/llvm-ptls.cpp
Labels: merge me, llvm

#44786 effects: change the `overlayed::Bool` property to `nonoverlayed::Bool`
  base/compiler/abstractinterpretation.jl
  base/compiler/inferencestate.jl
  base/compiler/methodtable.jl
  base/compiler/ssair/show.jl
  base/compiler/tfuncs.jl
  base/compiler/types.jl
  src/julia.h
Labels: backport 1.8

#44512 optimizer: inline abstract union-split callsite
  base/compiler/ssair/inlining.jl
  base/sort.jl
  test/compiler/inline.jl
Labels: optimizer, latency

#44793 Change type of donotdelete intrinsics
  src/codegen.cpp
Labels: codegen, merge me

#44799 Propagate `TMPDIR` in `Distributed` tests
  stdlib/Distributed/test/distributed_exec.jl
Labels: ci

#44785 effects: add reflection utility for the new effect analysis
  base/compiler/abstractinterpretation.jl
  base/compiler/typeinfer.jl
  base/compiler/types.jl
  base/reflection.jl
  test/compiler/irpasses.jl
  test/reflection.jl
Labels: backport 1.8

#44806 Fix typo in a docstring
  base/stream.jl
Labels: doc, merge me

#44350 Silence all warnings when building with GCC on Linux
  src/ccall.cpp
  src/cgutils.cpp
  src/crc32c.c
  src/dlload.c
  src/dump.c
  src/gc-debug.c
  src/jitlayers.cpp
  src/jitlayers.h
Labels: build, triage

#44110 abs2(::Number) fallback
  base/number.jl
  test/numbers.jl
Labels: maths, merge me

#34879 Makefile wildcard globs only work at end
  test/Makefile
Labels: merge me
