Repository JuliaLang/julia, pull requests merged in 2023-04, with the labels that each got.

#49212 Make :open ccall use variadic cconv
  base/file.jl
  test/file.jl
  test/testhelpers/FakePTYs.jl
Labels: power, bugfix, merge me, backport 1.6, backport 1.8, backport 1.9

#49208 release-1.9: set VERSION to 1.9.0-rc2
  VERSION
Labels: release

#48853 effects: assume `:nothrow`-ness more when bounds checking is manually turned off
  base/compiler/tfuncs.jl
  test/compiler/effects.jl
Labels: don't squash, effects

#47154 effects: power-up effects analysis for array operations
  base/array.jl
  base/compiler/tfuncs.jl
  base/essentials.jl
  base/tuple.jl
  test/compiler/EscapeAnalysis/local.jl
  test/compiler/effects.jl
  test/precompile.jl
Labels: arrays, effects

#48913 inference: refactoring to allow irinterp to perform `:call` inference
  base/compiler/abstractinterpretation.jl
  base/compiler/compiler.jl
  base/compiler/inferenceresult.jl
  base/compiler/inferencestate.jl
  base/compiler/optimize.jl
  base/compiler/ssair/irinterp.jl
  base/compiler/ssair/passes.jl
  base/compiler/tfuncs.jl
  base/compiler/typeinfer.jl
  base/compiler/types.jl
  test/compiler/datastructures.jl
  test/compiler/inference.jl
Labels: inference

#49132 move out Profile from the sysimage
  base/Base.jl
  base/sysimg.jl
  contrib/generate_precompile.jl
  pkgimage.mk
  stdlib/Profile/src/Profile.jl
  stdlib/Profile/src/precompile.jl
  test/precompile.jl
Labels: stdlib

#49240 Small fix to GC marking
  src/gc.c
Labels: merge me

#49244 (re-)allow include_dependency(directory)
  base/loading.jl
Labels: merge me, backport 1.9

#49215 subtype: allocate space for small environments on the stack
  src/subtype.c
Labels: merge me

#49242 use Pkg.precompile during loading via Pkg hook
  base/loading.jl
Labels: precompile

#49131 move out SharedArrays from the sysimage
  base/sysimg.jl
  pkgimage.mk
  test/precompile.jl
Labels: stdlib

#49130 move out LazyArtifacts from the sysimage
  base/sysimg.jl
  pkgimage.mk
  test/precompile.jl
Labels: stdlib

#49248 Fix LazyString building with non-ASCII preceding $
  base/strings/lazy.jl
  test/strings/basic.jl
Labels: strings, bugfix, merge me, backport 1.9

#49134 move out Test from the sysimage
  base/sysimg.jl
  contrib/generate_precompile.jl
  pkgimage.mk
  stdlib/Distributed/test/splitrange.jl
  stdlib/Test/src/Test.jl
  stdlib/Test/src/precompile.jl
  test/loading.jl
Labels: stdlib

#49264 Log only if something was invalidated
  src/gf.c
Labels: merge me

#49101 make default worker pool an AbstractWorkerPool
  stdlib/Distributed/src/pmap.jl
  stdlib/Distributed/src/workerpool.jl
  stdlib/Distributed/test/distributed_exec.jl
Labels: parallel, backport 1.8, backport 1.9

#49261 Some simple intersection/subtyping performance tuning.
  src/jltypes.c
  src/julia_internal.h
  src/subtype.c
Labels: types and dispatch, needs pkgeval

#49269 more robust validation of allocation type
  src/datatype.c
  src/intrinsics.cpp
  src/runtime_intrinsics.c
Labels: error handling, backport 1.9

#49276 normalize unions made in subtyping
  src/jltypes.c
  src/subtype.c
Labels: types and dispatch

#49277 subtype: reuse existing allocations when possible
  src/subtype.c
Labels: merge me

#49283 deps: Upgrade OpenBLAS to v0.3.23
  deps/checksums/openblas
  deps/openblas.mk
  deps/openblas.version
  deps/patches/openblas-power-test.patch
  stdlib/OpenBLAS_jll/Project.toml
Labels: build, merge me

#49243 Silence `gfortran: command not found` in build logs
  Make.inc
Labels: build, merge me

#49043 Recompile sysimage when generate_precompile.jl is changed
  sysimage.mk
Labels: build

#49279 simply Union inside UnionAll inside Union during construction
  src/jltypes.c
Labels: merge me

#49303 fix new scope assignment warning in Distributed
  stdlib/Distributed/test/distributed_exec.jl
Labels: backport 1.9

#49257 Revert "delay loading of extensions as much as possible (#48674)"
  base/loading.jl
  test/project/Extensions/HasDepWithExtensions.jl/src/HasDepWithExtensions.jl
Labels: backport 1.9

#49167 apply_type_tfunc: add heuristic complexity limit
  base/compiler/tfuncs.jl
  base/compiler/typeutils.jl
  test/compiler/inference.jl
Labels: merge me

#49123 avoid calling no-op convert most of the time
  base/Base.jl
  base/array.jl
  base/compiler/abstractinterpretation.jl
  base/dict.jl
  base/essentials.jl
  base/iddict.jl
  base/logging.jl
  base/namedtuple.jl
  base/pair.jl
  base/reducedim.jl
  base/tuple.jl
  src/julia-syntax.scm
  test/compiler/inference.jl
  test/compiler/inline.jl
  test/core.jl
Labels: lowering, latency, don't squash

#47995 Do not use `widen` for 128-bit ints in `MultiplicativeInverses`
  base/multinverses.jl
  test/numbers.jl
Labels: performance, maths, merge me

#49313 [REPLCompletions] this code uses `nothing` as the failure token type
  stdlib/REPL/src/REPLCompletions.jl
  stdlib/REPL/test/replcompletions.jl
Labels: merge me

#49312 irshow: Be more robust in the face of invalid :invoke Exprs
  base/compiler/ssair/show.jl
  test/show.jl
Labels: merge me

#48749 Resolve artifact ambiguities using shortest match
  base/binaryplatforms.jl
  test/binaryplatforms.jl
Labels: backport 1.9

#48809 Fix imaging value for generating sysimages for multiple targets
  src/jitlayers.h
  test/cmdlineargs.jl
Labels: bugfix, backport 1.9

#49334 Further relax another piece of the AbstractQ tests
  stdlib/LinearAlgebra/test/abstractq.jl
Labels: linear algebra, merge me

#49333 Add optional vscale prefix to loopinfo test
  test/llvmpasses/loopinfo.jl
Labels: test, arm, bugfix, llvm

#49077 split typemap more frequently / aggressively
  src/gf.c
  src/typemap.c
Labels: merge me

#48228 fix another case where we might return free TypeVar
  src/subtype.c
  test/compiler/inference.jl
  test/subtype.jl
Labels: types and dispatch, merge me

#49338 Fix type_more_complex
  base/compiler/typelimits.jl
  test/compiler/inference.jl
Labels: merge me

#49345 Fix union estimation on non-type parameters.
  src/subtype.c
  test/subtype.jl
Labels: types and dispatch, backport 1.9

#49262 Add syevd LAPACK Hermitian eigensolver
  stdlib/LinearAlgebra/docs/src/index.md
  stdlib/LinearAlgebra/src/lapack.jl
  stdlib/LinearAlgebra/test/lapack.jl
Labels: linear algebra

#49314 Rename `ipython_mode` to `numbered_prompt`
  HISTORY.md
  stdlib/REPL/docs/src/index.md
  stdlib/REPL/src/REPL.jl
  stdlib/REPL/test/repl.jl
Labels: REPL, backport 1.9

#49342 Make `normalize` work for `Number`s
  stdlib/LinearAlgebra/src/generic.jl
  stdlib/LinearAlgebra/test/generic.jl
  test/testhelpers/DualNumbers.jl
Labels: linear algebra

#49344 LDLT: Restrict several methods to SymTridiagonal
  stdlib/LinearAlgebra/src/ldlt.jl
Labels: linear algebra

#49357 Fix unclosed code fence in src/manual/methods.md
  doc/src/manual/methods.md
Labels: doc, merge me

#49363 Minor `AbstractQ` audit
  stdlib/LinearAlgebra/src/abstractq.jl
  stdlib/LinearAlgebra/test/abstractq.jl
Labels: linear algebra, bugfix

#49331 Add example to be more clear about meaning of inputs
  stdlib/LinearAlgebra/src/eigen.jl
Labels: doc, linear algebra

#49385 Bump LLVM to 14.0.6-3
  deps/checksums/clang
  deps/checksums/llvm
  deps/clang.version
  deps/llvm-tools.version
  deps/llvm.version
  stdlib/libLLVM_jll/Project.toml
Labels: llvm, backport 1.9

#49216 Update style-guide.md
  doc/src/manual/style-guide.md
Labels: doc

#49379 Clarify Cxx.jl. Update calling-c-and-fortran-code.md
  doc/src/manual/calling-c-and-fortran-code.md
  doc/src/manual/embedding.md
Labels: doc, merge me

#49396 Update checksum for LBT 5.7
  deps/checksums/blastrampoline
Labels: build

#49140 profiling: add Task/GC/Inference/Codegen signposts for Tracy
  Make.inc
  base/loading.jl
  deps/checksums/libtracyclient
  deps/libtracyclient.mk
  deps/libtracyclient.version
  deps/patches/libTracyClient-no-crash-handler.patch
  deps/patches/libTracyClient-no-sampling.patch
  deps/patches/libTracyClient-plot-config.patch
  src/aotcompile.cpp
  src/ast.c
  src/codegen.cpp
  src/gc.c
  src/gf.c
  src/init.c
  src/ircode.c
  src/jitlayers.cpp
  src/jlapi.c
  src/jltypes.c
  src/julia.h
  src/julia_internal.h
  src/method.c
  src/options.h
  src/rtutils.c
  src/safepoint.c
  src/staticdata.c
  src/support/ios.c
  src/support/ios.h
  src/task.c
  src/timing.c
  src/timing.h
  src/toplevel.c
Labels: merge me

#49320 gf: add `max_varargs` field to jl_method_t
  src/gf.c
  src/jltypes.c
  src/julia.h
  src/method.c
Labels: merge me

#49401 redirect muladd for BigFloat to fma
  base/mpfr.jl
Labels: performance, bignums, merge me

#49309 Guidelines for documenting usntable contributions (#49296)
  CONTRIBUTING.md
Labels: doc

#49135 move Pkg out of the sysimage
  base/sysimg.jl
  contrib/generate_precompile.jl
  deps/checksums/Pkg-2618945685d32b1e595f00ef809d545067ae01f1.tar.gz/md5
  deps/checksums/Pkg-2618945685d32b1e595f00ef809d545067ae01f1.tar.gz/sha512
  deps/checksums/Pkg-7ebf98b4365e3b68a3d0784f7470baa7b2c4b6bc.tar.gz/md5
  deps/checksums/Pkg-7ebf98b4365e3b68a3d0784f7470baa7b2c4b6bc.tar.gz/sha512
  pkgimage.mk
  stdlib/Pkg.version
  stdlib/REPL/src/REPL.jl
  test/precompile.jl
Labels: stdlib

#49431 remove Serialization from being stated as being a dependency of Random
  pkgimage.mk
  stdlib/Random/Project.toml
Labels: stdlib

#49424 Allow conversion of `AbstractQ` to `AbstractArray`
  stdlib/LinearAlgebra/src/abstractq.jl
Labels: linear algebra

#49383 prevent `display` in REPL from erroring on non standard prompts
  stdlib/REPL/src/REPL.jl
Labels: backport 1.9

#49393 subtype: replace leaf-bound typevars if they would result in Tuple{Union{}} otherwise
  src/subtype.c
Labels: types and dispatch

#49395 simplify Broadcast object computations
  base/broadcast.jl
  test/broadcast.jl
Labels: broadcast

#49315 Only add big objarray to remset once
  src/gc.c
Labels: GC

#49263 Save a couple loads/stores in sweep pages
  src/gc-debug.c
  src/gc.c
  src/gc.h
Labels: performance, GC

#49434 Add ITTAPI hooks to jl_mutex_wait
  src/Makefile
  src/datatype.c
  src/gc.c
  src/init.c
  src/jl_uv.c
  src/julia_locks.h
  src/method.c
  src/module.c
  src/runtime_ccall.cpp
  src/staticdata.c
  src/staticdata_utils.c
  src/threading.c
  src/timing.h
Labels: profiler

#49417 Make generic cholesky throw on non-psd input
  stdlib/LinearAlgebra/src/cholesky.jl
  stdlib/LinearAlgebra/test/cholesky.jl
Labels: linear algebra

#46054 Support two argument at-irrational
  base/irrationals.jl
  base/mathconstants.jl
  test/numbers.jl
Labels: maths, merge me

#49457 Revert "add morespecific rule for Type{Union{}}"
  NEWS.md
  base/abstractarray.jl
  base/array.jl
  base/arrayshow.jl
  base/boot.jl
  base/broadcast.jl
  base/complex.jl
  base/essentials.jl
  base/float.jl
  base/generator.jl
  base/indices.jl
  base/io.jl
  base/iterators.jl
  base/missing.jl
  base/number.jl
  base/operators.jl
  base/parse.jl
  base/promotion.jl
  base/some.jl
  base/traits.jl
  deps/checksums/Statistics-a3feba2bb63f06b7f40024185e9fa5f6385e2510.tar.gz/md5
  deps/checksums/Statistics-a3feba2bb63f06b7f40024185e9fa5f6385e2510.tar.gz/sha512
  deps/checksums/Statistics-e9ac70b760dcf87b77affe6c068548a3325d6e2b.tar.gz/md5
  deps/checksums/Statistics-e9ac70b760dcf87b77affe6c068548a3325d6e2b.tar.gz/sha512
  src/gf.c
  src/jltypes.c
  src/julia_internal.h
  src/subtype.c
  src/typemap.c
  stdlib/Statistics.version
  test/abstractarray.jl
  test/ambiguous.jl
  test/core.jl
  test/missing.jl
  test/some.jl
  test/specificity.jl
Labels: revert

#48443 Adjoint for diagonal should be lazy
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/LinearAlgebra/test/diagonal.jl
Labels: linear algebra

#49376 Subtype: Improve `simple_meet` resolution for `Union` inputs
  src/jltypes.c
  src/subtype.c
  test/subtype.jl
Labels: types and dispatch, backport 1.9

#49441 make extension not load twice on workers
  base/loading.jl
  stdlib/Distributed/src/Distributed.jl
  test/loading.jl
Labels: packages, backport 1.9

#49461 Remove unnecessary allocation in `BitSet()`
  base/bitset.jl
Labels: performance, merge me

#49448 Expose JL_TIMING tracking to VTune
  src/codegen.cpp
  src/gc.c
  src/jitlayers.cpp
  src/threading.c
  src/timing.c
  src/timing.h
Labels: profiler

#49442 rename `jl_tls_offset` in sysimage to avoid naming clash with `libjulia-internal`
  src/llvm-ptls.cpp
  src/staticdata.c
Labels: backport 1.9

#49470 reland: add morespecific rule for Type{Union{}}
  NEWS.md
  base/abstractarray.jl
  base/array.jl
  base/arrayshow.jl
  base/boot.jl
  base/broadcast.jl
  base/complex.jl
  base/essentials.jl
  base/float.jl
  base/generator.jl
  base/indices.jl
  base/io.jl
  base/iterators.jl
  base/missing.jl
  base/number.jl
  base/operators.jl
  base/parse.jl
  base/promotion.jl
  base/some.jl
  base/traits.jl
  deps/checksums/Statistics-a3feba2bb63f06b7f40024185e9fa5f6385e2510.tar.gz/md5
  deps/checksums/Statistics-a3feba2bb63f06b7f40024185e9fa5f6385e2510.tar.gz/sha512
  deps/checksums/Statistics-e9ac70b760dcf87b77affe6c068548a3325d6e2b.tar.gz/md5
  deps/checksums/Statistics-e9ac70b760dcf87b77affe6c068548a3325d6e2b.tar.gz/sha512
  src/gf.c
  src/jltypes.c
  src/julia_internal.h
  src/subtype.c
  src/typemap.c
  stdlib/Statistics.version
  test/abstractarray.jl
  test/ambiguous.jl
  test/core.jl
  test/missing.jl
  test/some.jl
  test/specificity.jl
Labels: latency, re-land

#49447 improve effects of `objectid` and `getindex(::Dict)`
  base/dict.jl
  base/reflection.jl
  src/jltypes.c
  test/core.jl
  test/dict.jl
Labels: performance, effects

#49477 Subtype: minor optimization for `simple_intersect`
  src/jltypes.c
Labels: types and dispatch, backport 1.9

#49391 [Inference] limit inference timing recording to `NativeInterpreter` only
  base/compiler/ssair/irinterp.jl
  base/compiler/typeinfer.jl
Labels: inference, gpu, backport 1.9, caching

#49500 Backports release 1.9
  base/binaryplatforms.jl
  base/compiler/ssair/irinterp.jl
  base/compiler/typeinfer.jl
  test/binaryplatforms.jl
Labels: release

#49502 [BinaryPlatforms] Change "shortest match" algorithm to "best match"
  base/binaryplatforms.jl
  test/binaryplatforms.jl
Labels: backport 1.9

#49505 Fix in GC chunking code
  src/gc.c
Labels: GC, merge me

#49480 show the root module in tracing for __init__ as well
  src/module.c
  src/timing.c
Labels: profiler

#49496 instrument `jl_load_dynamic_library` to the profiler
  src/dlload.c
  src/timing.c
  src/timing.h
Labels: profiler

#49493 Add more profiling events
  src/aotcompile.cpp
  src/gf.c
  src/processor.cpp
  src/stackwalk.c
  src/staticdata.c
  src/staticdata_utils.c
  src/threading.c
  src/timing.h
Labels: profiler

#49504 release-1.9: set VERSION to 1.9.0-rc3
  VERSION
Labels: release

#49520 add some very basic documentaton about supported tracing profilers
  doc/make.jl
  doc/src/devdocs/external_profilers.md
  doc/src/devdocs/tracy.png
Labels: doc, merge me, profiler

#49499 Intersect: fix `intersect_tuple` for inputs with bad normalization.
  src/subtype.c
  test/subtype.jl
Labels: types and dispatch, bugfix

#49495 show line info + module in `ADD_METHOD` profiling
  src/gf.c
  src/timing.c
  src/timing.h
Labels: merge me, profiler

#49534 remove debug print from loading test
  test/loading.jl
Labels: test, backport 1.9

#49419 typemin divided by negative 1 is an error
  test/numbers.jl
Labels: test

#49537 add two more explicit precompile statements
  contrib/generate_precompile.jl
Labels: latency, backport 1.9

#49524 color compilation with red in tracy during recompilation
  src/jitlayers.cpp
Labels: profiler

#49551 Preserve LLVM function attributes during address space removal pass.
  src/llvm-remove-addrspaces.cpp
  test/llvmpasses/remove-addrspaces.ll
Labels: codegen, backport 1.8, backport 1.9

#49547 Fix starting range in REPLCompletions
  stdlib/REPL/src/REPLCompletions.jl
  stdlib/REPL/test/replcompletions.jl
Labels: REPL, bugfix

#49446 Fix dyld lock not getting unlocked on invalid threads.
  src/signals-mach.c
Labels: merge me
