Repository JuliaLang/julia, pull requests merged in 2023-02, with the labels that each got.

#48465 More stringent range testing
  test/ranges.jl
Labels: test, ranges

#48479 Subtype: Code clean for union state stack.
  src/subtype.c
Labels: types and dispatch, merge me

#48474 Add test for sprint (fixes: #45066)
  test/strings/io.jl
Labels: merge me

#48410 Reduce the extra overhead caused by greedy `equal_unions`
  src/subtype.c
Labels: performance, types and dispatch

#48469 Avoid unnecessary Docs.META initializations
  base/docs/Docs.jl
  stdlib/REPL/src/docview.jl
Labels: docsystem, backport 1.9

#48441 Subtype: avoid false alarm caused by eager `forall_exists_subtype`.
  src/subtype.c
  test/subtype.jl
Labels: types and dispatch, bugfix

#48492 Clarify usage of JULIA_PROJECT=@. envvar
  doc/src/manual/environment-variables.md
Labels: doc, merge me

#48462 faster `isfinite` for floats
  base/float.jl
Labels: performance, maths

#48485 Backport: Add `!noalias` and `!alias.scope` metadata
  src/ccall.cpp
  src/cgutils.cpp
  src/codegen.cpp
  src/intrinsics.cpp
  test/llvmpasses/aliasscopes.jl
Labels: backport 1.9

#48446 fix mask computation when marking objarray
  src/gc.c
Labels: GC

#48484 more precise return type descriptions for some methods in `Base`
  base/file.jl
  base/libc.jl
  base/loading.jl
  base/path.jl
  stdlib/InteractiveUtils/src/clipboard.jl
Labels: doc

#48472 Add test for the macro nall
  test/cartesian.jl
Labels: merge me

#40105 adding dynamic width and precision to printf
  NEWS.md
  stdlib/Printf/src/Printf.jl
  stdlib/Printf/test/runtests.jl
Labels: display and printing, merge me

#48497 3% faster radix sort
  base/sort.jl
Labels: performance, sort

#48504 automatically detect and debug deadlocks in package loading
  base/loading.jl
  test/loading.jl
Labels: packages, merge me

#48489 replace `/bin/date` with `date` in version_git.sh
  base/version_git.sh
Labels: build

#48478 abstractarray test: only test broken test on one iteration to reduce test report noise
  test/abstractarray.jl
Labels: test, arrays

#48367 fix type stability of `powermod`
  base/intfuncs.jl
  test/intfuncs.jl
Labels: performance, maths, bugfix

#48435 Fix `Base.libblas_name`/`Base.liblapack_name`
  base/Base.jl
  stdlib/LinearAlgebra/test/blas.jl
  stdlib/libblastrampoline_jll/src/libblastrampoline_jll.jl
Labels: linear algebra, backport 1.9

#48454 Use `sum` in `count` for constant folding of type based predicates
  base/reduce.jl
Labels: performance, fold

#48475 precompile: do not reanimate zombie external methods
  src/staticdata.c
  src/staticdata_utils.c
  test/precompile.jl
Labels: precompile, bugfix, merge me, backport 1.9

#48527 Add path tracking options from #44359 to docs
  doc/src/manual/command-line-interface.md
Labels: doc, backport 1.8, backport 1.9

#48530 fix `retry_load_extensions` docstring typo
  base/loading.jl
Labels: doc

#48421 typelimits: Prevent accidental infinite growth in size limiting
  base/compiler/tfuncs.jl
  base/compiler/typelimits.jl
  test/compiler/inference.jl
Labels: merge me

#46197 mark-loop timing probe
  src/gc.c
Labels: merge me

#48539 add CTRL_R to repl precompile
  contrib/generate_precompile.jl
Labels: REPL, backport 1.9

#48541 More tests for rem2pi branches
  test/numbers.jl
Labels: test, maths

#48548 add more tests for `julia_cmd()`
  base/util.jl
  test/cmdlineargs.jl
Labels: test

#48546 Missing isequal test for missing
  test/missing.jl
Labels: test

#48557 Protect `cmd_gen` against invalidation
  base/cmd.jl
Labels: latency, backport 1.9

#48550 improve error message when an extension fails to load
  base/loading.jl
Labels: packages, backport 1.9

#48537 Changed Caption of last -Next button in Windows InstallationWizard to -Install button
  contrib/windows/build-installer.iss
Labels: build, windows

#48562 Change uses of int to size_t in MurmurHash
  src/support/MurmurHash3.c
  src/support/MurmurHash3.h
  test/hashing.jl
Labels: backport 1.6, backport 1.9

#48566 [compiler] Fix effects of supertype abstract interpretation
  base/compiler/abstractinterpretation.jl
Labels: bugfix, backport 1.8, effects, backport 1.9

#48513 ensure extension triggers are only run by the package that satified them
  base/loading.jl
Labels: backport 1.9

#48571 give a hint towards `Base.retry_load_extensions` when an extension fails to load
  base/loading.jl
Labels: backport 1.9

#48567 Restrict `path` to be an `AbstractString` in `lbt_forward()`
  stdlib/LinearAlgebra/src/lbt.jl
Labels: backport 1.9

#48575 Implement tanpi
  base/exports.jl
  base/math.jl
  base/mpfr.jl
  base/special/trig.jl
  test/math.jl
Labels: maths

#48515 Define iterate for RemoteChannel
  stdlib/Distributed/src/Distributed.jl
  stdlib/Distributed/src/remotecall.jl
  stdlib/Distributed/test/distributed_exec.jl
Labels: parallel

#48512 Allow keyword arg to control Test printing, defaults to global
  stdlib/Test/src/Test.jl
Labels: testsystem

#48574 set VERSION to 1.9.0-beta4
  VERSION
Labels: release

#48572 build: add libjulia-internal symlink as dependency for libjulia-codegen
  src/Makefile
Labels: build

#48583 [compiler] Teach type inference that `GotoIfNot` can throw
  base/compiler/abstractinterpretation.jl
  test/compiler/effects.jl
Labels: backport 1.9

#48534 Subtype: skip more identical check for `X::Tuple <: Y::Tuple`
  src/clangsa/GCChecker.cpp
  src/subtype.c
  src/support/analyzer_annotations.h
  test/subtype.jl
Labels: performance, types and dispatch

#46791 effects: taint `:nothrow` effect on unknown `:static_parameter`
  base/compiler/abstractinterpretation.jl
  base/compiler/inferencestate.jl
  base/compiler/optimize.jl
  base/compiler/ssair/slot2ssa.jl
  base/compiler/ssair/verify.jl
  stdlib/Test/src/Test.jl
  test/compiler/effects.jl
  test/compiler/inference.jl
Labels: bugfix, effects, backport 1.9

#48544 Update LLVM build to 14.0.6+2
  deps/checksums/clang
  deps/checksums/lld
  deps/checksums/llvm
  deps/clang.version
  deps/lld.version
  deps/llvm-tools.version
  deps/llvm.version
  stdlib/libLLVM_jll/Project.toml
Labels: build, external dependencies, stdlib JLLs, backport 1.9

#48347 More helpful error messages for calling log/sqrt with negative real arguments
  base/docs/basedocs.jl
  base/math.jl
  base/mpfr.jl
  base/special/log.jl
  doc/src/manual/complex-and-rational-numbers.md
  doc/src/manual/control-flow.md
  doc/src/manual/faq.md
  stdlib/Distributed/src/remotecall.jl
  stdlib/Distributed/test/distributed_exec.jl
  stdlib/Test/src/Test.jl
Labels: doc

#46499 Add Float16 to supported x86 processors
  src/features_x86.h
  src/llvm-demote-float16.cpp
  src/llvm-multiversioning.cpp
  src/processor_x86.cpp
  test/llvmpasses/float16.ll
Labels: float16

#48594 remove `REPL.__init__`
  base/docs/Docs.jl
  base/loading.jl
  stdlib/REPL/src/REPL.jl
Labels: REPL, docsystem, precompile

#48587 Increase test coverage for `int.jl`
  test/int.jl
Labels: test

#48604 Add more examples to JULIA_LLVM_ARGS section
  doc/src/devdocs/llvm.md
Labels: doc

#48561 Fix bounds on floating point range testing
  test/ranges.jl
Labels: ranges

#48597 fix error message for passing an argument to a cmdline option that doesn't accept one
  src/jloptions.c
  test/cmdlineargs.jl
Labels: error messages

#48618 avoid copy in getindex(::RegexMatch,::String)
  base/regex.jl
Labels: performance, strings

#48619 document regex supertypes
  base/regex.jl
Labels: doc, strings

#48609 permute! and invpermute! - explain fully in-place alternatives
  base/combinatorics.jl
Labels: doc

#48592 force singlethreading during precompilation
  base/loading.jl
Labels: backport 1.9

#48467 Limit the `src` style in structured broadcast.
  stdlib/LinearAlgebra/src/structuredbroadcast.jl
  stdlib/LinearAlgebra/test/structuredbroadcast.jl
Labels: linear algebra, bugfix, broadcast

#48565 Document WeakRef
  base/gcutils.jl
  base/weakkeydict.jl
  doc/src/base/base.md
Labels: doc

#48614 Allow for use 60% of constrained/total system memory
  src/gc.c
Labels: GC, backport 1.9

#48188 Correct bug in read_sub
  base/iobuffer.jl
  test/iobuffer.jl
Labels: bugfix

#47838 provide documentation for the as keyword
  base/docs/basedocs.jl
  doc/src/base/base.md
Labels: doc

#47692 document that `get` and `replace` accept a type as first argument
  base/dict.jl
  base/set.jl
Labels: doc

#47680 Support building dependencies with Emscripten
  deps/dsfmt.mk
  deps/gmp.mk
  deps/libuv.mk
  deps/mpfr.mk
  deps/pcre.mk
Labels: build, external dependencies, wasm

#48620 Fix final gc lowering on dynamically sized allocation
  src/llvm-final-gc-lowering.cpp
  src/llvm-pass-helpers.cpp
  src/llvm-pass-helpers.h
  test/llvmpasses/final-lower-gc.ll
Labels: merge me, backport 1.8, backport 1.9

#47647 Add \veedot operator
  doc/src/base/math.md
  src/julia-parser.scm
  stdlib/REPL/src/latex_symbols.jl
Labels: parser, feature

#47670 consistency on :, UnitRange, StepRange, & StepRangeLen
  base/range.jl
Labels: doc, ranges

#47614 Fix misleading info on the difference between "using" and "import"
  doc/src/manual/faq.md
Labels: doc

#48445 UniformScaling: `copyto!` banded matrices
  stdlib/LinearAlgebra/src/uniformscaling.jl
  stdlib/LinearAlgebra/test/bidiag.jl
  stdlib/LinearAlgebra/test/diagonal.jl
  stdlib/LinearAlgebra/test/tridiag.jl
  test/testhelpers/FillArrays.jl
  test/testhelpers/InfiniteArrays.jl
Labels: linear algebra

#48628 Bump LLD to get dsymutil and run it through the pkgimgs
  Makefile
  base/linking.jl
  base/loading.jl
  deps/checksums/lld
  deps/lld.version
  stdlib/LLD_jll/Project.toml
Labels: backport 1.9

#48659 Update checksums for llvm 14.0.6+2
  deps/checksums/llvm
Labels: build, merge me, backport 1.9

#48634 Remove unused "deps" mechanism in internal sorting keywords [NFC]
  base/sort.jl
Labels: merge me, sort

#31854 Include Test.{Result, Pass, Fail, Error, Broken} in documentation
  stdlib/Test/docs/src/index.md
  stdlib/Test/src/Test.jl
Labels: doc, testsystem, merge me

#48123 replace mfence with lock'ed inst on x86
  src/julia_atomics.h
Labels: codegen

#48637 Additional sorting stability unit test
  test/sorting.jl
Labels: test, sort

#48633 add new precompile kwarg `timing=true` to the news
  NEWS.md
Labels: doc, packages

#48560 [backports-release-1.8] don't use hardcode `LLVM_SHARED_LIB_NAME` (#45908)
  Makefile
  deps/Versions.make
  deps/llvm-ver.make
  deps/llvm.mk
  deps/llvm.version
  src/Makefile
Labels: external dependencies

#48503 Add complete documentation for `Base.countlines()`
  base/io.jl
Labels: doc, I/O

#48197 another fix to `--compile=all` on 1.8
  src/gf.c
Labels: backport 1.8

#48413 Docs: sort: clarify link between `Ordering` and `sort`.
  doc/src/base/sort.md
Labels: doc, sort

#45829 Throw an error if trying to access unassigned data in Base.RefValue
  base/refvalue.jl
  test/core.jl
Labels: error handling

#48392 julia_cmd() docstring: include pkgimages
  base/util.jl
Labels: doc, merge me, backport 1.9

#48586 make `insert_extension_triggers` idempotent
  base/loading.jl
Labels: merge me, backport 1.9

#48638 Add unit tests for presorted inputs to sorting
  base/sort.jl
  test/sorting.jl
Labels: test, merge me, sort

#48636 Add unit tests for WithoutMissingVector
  test/sorting.jl
Labels: test, merge me, sort

#40718 Add UInt/Int to _str_sizehint for printing to strings
  base/strings/io.jl
Labels: performance, strings, merge me

#46153 [REPL] Meta-e: Don't execute the edited code when exiting editor
  stdlib/REPL/src/LineEdit.jl
Labels: REPL, merge me, backport 1.9

#47774 faster digits(::BigInt, base=2^n) via mpz_export
  base/gmp.jl
  test/gmp.jl
Labels: performance, bignums

#45164 Support italic style in printstyled.
  NEWS.md
  base/util.jl
  test/misc.jl
Labels: display and printing

#48660 Disable frame-pointer-optimiation on Linux
  src/codegen.cpp
Labels: linux, profiler, backport 1.9

#48643 Correct docs on `nthreads`
  doc/src/manual/multi-threading.md
Labels: doc

#48666 compiler: Fix typo in ConstAPI removal
  base/compiler/inferencestate.jl
Labels: bugfix

#45577 Faster binary gcd
  base/intfuncs.jl
Labels: performance, merge me

#47732 Simplify error handling in BitSet
  base/bitset.jl
  test/bitset.jl
Labels: error handling, merge me

#43055 Make startswith work with IO objects
  NEWS.md
  base/essentials.jl
  base/strings/util.jl
  test/strings/basic.jl
Labels: I/O, merge me

#48653 Use `cld` instead of float division in `range.jl` `_findin`
  base/range.jl
Labels: performance, ranges

#48654 Use `fld` in `_colon` method in `range.jl`, rather than floating point division
  base/range.jl
Labels: performance, ranges

#45127 Fix Base.libllvm_path and jl_get_libllvm don't support non-ASCII characters in path on Windows (#45126)
  src/codegen.cpp
Labels: backport 1.9

#48672 restore kwcall_mt optimizations
  src/staticdata.c
  test/keywordargs.jl
Labels: backport 1.9

#48677 Put back getfield :boundscheck hack
  base/compiler/abstractinterpretation.jl
  test/compiler/effects.jl
Labels: backport 1.9

#31836 Add matrix symmetrizing functions
  NEWS.md
  stdlib/LinearAlgebra/docs/src/index.md
  stdlib/LinearAlgebra/src/LinearAlgebra.jl
  stdlib/LinearAlgebra/src/symmetric.jl
  stdlib/LinearAlgebra/test/symmetric.jl
Labels: linear algebra

#46874 Introduce `AdjointFactorization` not subtyping `AbstractMatrix`
  NEWS.md
  stdlib/LinearAlgebra/docs/src/index.md
  stdlib/LinearAlgebra/src/LinearAlgebra.jl
  stdlib/LinearAlgebra/src/adjtrans.jl
  stdlib/LinearAlgebra/src/factorization.jl
  stdlib/LinearAlgebra/src/hessenberg.jl
  stdlib/LinearAlgebra/src/lq.jl
  stdlib/LinearAlgebra/src/lu.jl
  stdlib/LinearAlgebra/src/qr.jl
  stdlib/LinearAlgebra/test/adjtrans.jl
  stdlib/LinearAlgebra/test/factorization.jl
  stdlib/LinearAlgebra/test/qr.jl
Labels: breaking, linear algebra

#48639 define tfuncs for applicable and hasmethod
  base/Base.jl
  base/boot.jl
  base/compiler/abstractinterpretation.jl
  base/compiler/tfuncs.jl
  base/methodshow.jl
  base/reflection.jl
  test/compiler/inference.jl
Labels: merge me

#48687 Tabs to spaces. Oops, sorry.
  test/math.jl
Labels: merge me

#48675 remove lgamma(Float16) definition
  base/math.jl
Labels: float16

#48691 Make sure `rename_unionall` really rename all enclosing `UnionAll`s
  base/essentials.jl
  test/compiler/inference.jl
Labels: merge me

#46196 Don't subtype `AbstractQ <: AbstractMatrix`
  NEWS.md
  stdlib/LinearAlgebra/docs/src/index.md
  stdlib/LinearAlgebra/src/LinearAlgebra.jl
  stdlib/LinearAlgebra/src/abstractq.jl
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/LinearAlgebra/src/hessenberg.jl
  stdlib/LinearAlgebra/src/lq.jl
  stdlib/LinearAlgebra/src/qr.jl
  stdlib/LinearAlgebra/src/special.jl
  stdlib/LinearAlgebra/src/uniformscaling.jl
  stdlib/LinearAlgebra/test/abstractq.jl
  stdlib/LinearAlgebra/test/hessenberg.jl
  stdlib/LinearAlgebra/test/lq.jl
  stdlib/LinearAlgebra/test/qr.jl
  stdlib/LinearAlgebra/test/testgroups
  test/bitarray.jl
Labels: speculative, breaking, linear algebra, linalg triage

#48685 Remove the rem_float intrinsics
  base/compiler/tfuncs.jl
  base/fastmath.jl
  src/intrinsics.cpp
  src/intrinsics.h
  src/julia_internal.h
  src/runtime_intrinsics.c
  test/intrinsics.jl
Labels: performance

#48682 deprecate `@pure` and make it just alias to `@assume_effects :foldable`
  NEWS.md
  base/compiler/abstractinterpretation.jl
  base/compiler/ssair/EscapeAnalysis/EscapeAnalysis.jl
  base/compiler/ssair/EscapeAnalysis/interprocedural.jl
  base/compiler/typeinfer.jl
  base/deprecated.jl
  base/essentials.jl
  base/expr.jl
  doc/src/base/base.md
  doc/src/devdocs/ast.md
  src/ast.c
  src/ircode.c
  src/jl_exported_funcs.inc
  src/jltypes.c
  src/julia.h
  src/julia_internal.h
  src/method.c
  stdlib/Serialization/src/Serialization.jl
  test/compiler/AbstractInterpreter.jl
  test/compiler/contextual.jl
  test/compiler/inference.jl
  test/compiler/inline.jl
  test/core.jl
Labels: deprecation, effects

#48695 Intersect: avoid re-wrapping inner-var.
  src/subtype.c
  test/subtype.jl
Labels: types and dispatch, bugfix

#48694 Relax abstractq test
  stdlib/LinearAlgebra/src/adjtrans.jl
  stdlib/LinearAlgebra/test/abstractq.jl
Labels: doc, linear algebra

#48686 ensure the path regexes will accept all valid paths
  base/binaryplatforms.jl
  base/compiler/ssair/show.jl
  base/deprecated.jl
  base/libc.jl
  base/methodshow.jl
  base/path.jl
  base/regex.jl
  base/set.jl
  base/shell.jl
  test/path.jl
  test/regex.jl
Labels: merge me

#48673 Encode link_id in tagged linkage
  src/codegen.cpp
  src/gc.c
  src/jl_exported_data.inc
  src/julia_internal.h
  src/staticdata.c
  src/staticdata_utils.c
Labels: backport 1.9

#48676 do lazy reallocation after take!(iobuffer)
  base/iobuffer.jl
  base/strings/basic.jl
  base/strings/io.jl
  stdlib/REPL/src/LineEdit.jl
  stdlib/REPL/test/lineedit.jl
Labels: speculative, performance, strings

#48127 Document numerical error in `rank`
  stdlib/LinearAlgebra/src/generic.jl
Labels: doc, linear algebra

#48437 `@inbounds` in `copyto!` for structured broadcasting
  stdlib/LinearAlgebra/src/structuredbroadcast.jl
Labels: linear algebra, merge me

#48703 only load extension triggers from the evnironment where the parent package is loaded
  base/loading.jl
  test/loading.jl
  test/project/Extensions/EnvWithHasExtensions/Manifest.toml
  test/project/Extensions/EnvWithHasExtensions/Project.toml
  test/project/Extensions/EnvWithHasExtensionsv2/Manifest.toml
  test/project/Extensions/EnvWithHasExtensionsv2/Project.toml
  test/project/Extensions/HasExtensions_v2.jl/Project.toml
  test/project/Extensions/HasExtensions_v2.jl/ext/Extension2.jl
  test/project/Extensions/HasExtensions_v2.jl/src/HasExtensions.jl
Labels: packages, backport 1.9

#48689 [OpenBLAS_jll] Upgrade to new build optimised for PowerPC
  Make.inc
  deps/checksums/openblas
  deps/openblas.mk
  deps/patches/openblas-power-test.patch
  stdlib/OpenBLAS_jll/Project.toml
Labels: power, external dependencies, stdlib JLLs, backport 1.9

#48645 faster `hypot(::IEEEFloat...)` (re-do)
  base/math.jl
Labels: performance, maths, merge me, re-land

#48671 put back DelimitedFiles as a non-sysimage "stdlib"
  contrib/cache_stdlibs.jl
  deps/checksums/DelimitedFiles-db79c842f95f55b1f8d8037c0d3363ab21cd3b90.tar.gz/md5
  deps/checksums/DelimitedFiles-db79c842f95f55b1f8d8037c0d3363ab21cd3b90.tar.gz/sha512
  stdlib/.gitignore
  stdlib/DelimitedFiles.version
  stdlib/Makefile
  test/loading.jl
Labels: packages, stdlib, backport 1.9

#48526 Test: add space after test failure for visual clarity
  stdlib/Test/docs/src/index.md
  stdlib/Test/src/Test.jl
Labels: testsystem, backport 1.9

#48746 Add world argument to jl_create_native.
  src/aotcompile.cpp
  src/codegen-stubs.c
  src/julia_internal.h
  src/precompile_utils.c
Labels: backport 1.9

#47832 Atomically order specsigflags, specptr, and invoke
  src/codegen.cpp
  src/gf.c
  src/jitlayers.cpp
  src/julia.h
  src/julia_atomics.h
  src/opaque_closure.c
  src/staticdata.c
Labels: codegen, multithreading, merge me

#48763 Revert "generators: expose caller's world to GeneratedFunctionStub"
  base/Base.jl
  base/boot.jl
  base/compiler/abstractinterpretation.jl
  base/compiler/bootstrap.jl
  base/compiler/inferencestate.jl
  base/compiler/optimize.jl
  base/compiler/typeinfer.jl
  base/compiler/types.jl
  base/compiler/utilities.jl
  base/compiler/validation.jl
  base/expr.jl
  base/reflection.jl
  doc/src/devdocs/ast.md
  src/aotcompile.cpp
  src/ast.c
  src/gf.c
  src/interpreter.c
  src/jitlayers.cpp
  src/julia-syntax.scm
  src/julia.h
  src/julia_internal.h
  src/method.c
  test/ambiguous.jl
  test/compiler/contextual.jl
  test/compiler/inference.jl
  test/compiler/validation.jl
  test/core.jl
  test/opaque_closure.jl
  test/reflection.jl
  test/staged.jl
  test/syntax.jl
Labels: merge me, revert

#48758 [LibCURL_jll] Add major extension to SONAME
  stdlib/LibCURL_jll/src/LibCURL_jll.jl
Labels: linux, stdlib JLLs

#48720 faster iteration over subarrays (views)
  base/abstractarray.jl
Labels: performance, arrays, iteration

#48708 make `MultiplicativeInverse<:Number`
  base/multinverses.jl
  test/numbers.jl
Labels: maths

#48790 Remove old config.sub hack
  deps/mpfr.mk
  deps/patches/config.sub
Labels: build, external dependencies, merge me

#48723 enable re-using external code in pkgimages
  base/linking.jl
  src/aotcompile.cpp
  src/codegen.cpp
  src/jitlayers.h
  src/julia.h
  src/staticdata.c
Labels: latency, backport 1.9

#48788 [Make.inc] Define new variable `PATCHELF_SET_RPATH_ARG`
  Make.inc
  Makefile
Labels: build, merge me, backport 1.9

#48789 [LibGit2_jll] Update to v1.6.1
  deps/checksums/cacert-2022-10-11.pem/md5
  deps/checksums/cacert-2022-10-11.pem/sha512
  deps/checksums/cacert-2023-01-10.pem/md5
  deps/checksums/cacert-2023-01-10.pem/sha512
  deps/checksums/libgit2
  deps/libgit2.mk
  deps/libgit2.version
  deps/patches/libgit2-agent-nonfatal.patch
  deps/patches/libgit2-hostkey.patch
  deps/patches/libgit2-lowercase-windows-h.patch
  stdlib/LibGit2_jll/Project.toml
  stdlib/LibGit2_jll/src/LibGit2_jll.jl
  stdlib/LibGit2_jll/test/runtests.jl
  stdlib/MozillaCACerts_jll/Project.toml
Labels: build, libgit2, external dependencies, stdlib JLLs

#48795 [nghttp2_jll] Upgrade to v1.52.0
  deps/checksums/nghttp2
  deps/nghttp2.version
  stdlib/nghttp2_jll/Project.toml
  stdlib/nghttp2_jll/test/runtests.jl
Labels: build, external dependencies, stdlib JLLs

#48796 Accept weakdeps as a source for UUIDS for Preferences
  base/loading.jl
Labels: backport 1.9

#48073 Cover binomial cases for large K (BigInt)
  base/gmp.jl
  test/combinatorics.jl
Labels: bignums

#48810 add a type assert to logging to prevent Base.require invalidation
  base/logging.jl
Labels: latency, backport 1.8, backport 1.9

#48710 Simplify name reversal, add # to separate name from number
  src/cgutils.cpp
Labels: codegen, merge me

#48712 Add `libjulia-internal` to ORCJIT symbol resolution
  src/jitlayers.cpp
Labels: backport 1.8, backport 1.9

#48806 Update MbedTLS to 2.28.2
  deps/checksums/mbedtls
  deps/mbedtls.mk
  deps/mbedtls.version
  stdlib/MbedTLS_jll/Project.toml
  stdlib/MbedTLS_jll/test/runtests.jl
Labels: build, external dependencies, security, stdlib JLLs, backport 1.9
