Repository JuliaLang/julia, pull requests merged in 2023-07, with the labels that each got.

#41200 `hvncat`: Added inbounds annotations that improve performance
  base/abstractarray.jl
Labels: arrays

#50383 Parse pass options in opt/PassBuilder
  src/pipeline.cpp
  test/llvmpasses/parsing.ll
Labels: llvm

#50390 Expose PassBuilder callback registration via C api
  src/codegen-stubs.c
  src/jl_exported_funcs.inc
  src/pipeline.cpp
Labels: llvm

#50314 Set `VERSION` to `1.11.0-DEV`
  HISTORY.md
  NEWS.md
  VERSION
Labels: merge me

#48625 add replace(io, str, patterns...)
  NEWS.md
  base/strings/util.jl
  doc/src/base/strings.md
  test/strings/util.jl
Labels: strings, merge me

#50392 release-1.9: Set VERSION to 1.9.2
  VERSION
Labels: release

#50411 Fix weird dispatch of * with zero arguments
  stdlib/LinearAlgebra/src/givens.jl
  test/operators.jl
Labels: backport 1.10

#50310 Add devdocs/jit.md to the menu
  doc/make.jl
Labels: doc

#50259 fix conversion of empty `Dates.CompoundPeriod()` to zero units
  stdlib/Dates/src/periods.jl
  stdlib/Dates/test/periods.jl
Labels: merge me

#50202 Remove dynamic dispatch from _wait/wait2
  base/task.jl
Labels: performance, multithreading, backport 1.10

#50064 Fix numbered prompt with input only with comment
  stdlib/REPL/src/REPL.jl
  stdlib/REPL/test/repl.jl
Labels: backport 1.9, backport 1.10

#50399 REPL/latex_symbols: define commands for « and »
  stdlib/REPL/src/latex_symbols.jl
Labels: REPL, unicode, merge me

#50402 Add CPU feature helper function
  src/jl_exported_funcs.inc
  src/processor.h
  src/processor_arm.cpp
  src/processor_fallback.cpp
  src/processor_x86.cpp
  test/sysinfo.jl
Labels: backport 1.10

#50387 update newpages pointer after actually sweeping pages
  src/gc.c
Labels: GC, backport 1.10

#50424 avoid potential type-instability in _replace_(str, ...)
  base/strings/util.jl
Labels: strings, merge me, backport 1.10

#50437 Fix some inference checks in reduce tests
  test/reduce.jl
Labels: test

#26307 remove type parameter from AbstractTriangular
  stdlib/LinearAlgebra/src/special.jl
  stdlib/LinearAlgebra/src/triangular.jl
Labels: linear algebra, backport 1.10

#50420 `release-1.10`: set `VERSION` to `1.10.0-alpha1`
  VERSION
Labels: release

#50418 release-1.9: set VERSION to 1.9.3-dev
  VERSION
Labels: release

#48273 copyuntil(out::IO, in::IO, delim)
  NEWS.md
  base/exports.jl
  base/io.jl
  base/iobuffer.jl
  base/iostream.jl
  doc/src/base/io-network.md
  src/flisp/iostream.c
  src/support/ios.c
  src/support/ios.h
  src/sys.c
  test/read.jl
Labels: performance, I/O, strings, merge me

#50391 Define `Base.isstored` for Diagonals and Triangular matrices
  stdlib/LinearAlgebra/src/bidiag.jl
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/LinearAlgebra/src/triangular.jl
  stdlib/LinearAlgebra/src/tridiag.jl
  stdlib/LinearAlgebra/test/bidiag.jl
  stdlib/LinearAlgebra/test/diagonal.jl
Labels: linear algebra, merge me

#50430 make `splice!` work when `replacement` is a length-1 generator
  base/array.jl
Labels: merge me

#48976 More consistent findall output type (take 2)
  base/array.jl
  test/functional.jl
Labels: inference, search & find, merge me

#50436 docs: fix link in `AbstractString` docstring
  base/strings/basic.jl
Labels: doc

#50376 Add some documentation about ahead of time compilation mechanics
  doc/make.jl
  doc/src/devdocs/aot.md
Labels: doc, merge me

#50444 Optimize getfield lowering to avoid boxing in some cases
  src/codegen.cpp
  src/datatype.c
  src/jl_exported_funcs.inc
  src/julia.h
  src/rtutils.c
  test/compiler/codegen.jl
Labels: merge me, backport 1.9

#48387 Improve documentation of sort-related functions
  base/operators.jl
  base/ordering.jl
  base/sort.jl
  doc/src/base/base.md
  doc/src/base/sort.md
  doc/src/manual/missing.md
Labels: doc, sort, backport 1.10

#50118 Make `(1:3:4)[6148914691236517207]` throw
  base/range.jl
  test/ranges.jl
Labels: bugfix, ranges

#50465 Remove FATAL_TYPE_BOUND_ERROR
  base/compiler/ssair/inlining.jl
Labels: merge me

#50464 report if task has started in show method
  base/task.jl
Labels: display and printing

#50319 Document llvm passes in more depth
  doc/make.jl
  doc/src/devdocs/llvm-passes.md
Labels: doc, merge me

#50481 docs: `maximum` is for array reduction, not `max`.
  doc/src/manual/noteworthy-differences.md
Labels: merge me

#50484 minor cleanup on `Core.Compiler.type_annotate!`
  base/compiler/typeinfer.jl
Labels: merge me

#50466 relax assertion involving pg->nold to reflect that it may be a bit in…
  src/gc.c
Labels: GC, merge me, backport 1.10

#50489 Fix minor typos in comments / docs
  base/expr.jl
  doc/src/devdocs/aot.md
  src/jltypes.c
Labels: merge me

#50490 Fix compat annotation for italic printstyled
  base/util.jl
Labels: doc, backport 1.10

#50462 clarify r"..."x mode
  base/regex.jl
Labels: doc, strings

#50482 Clarify compat note in randcycle
  stdlib/Random/src/misc.jl
Labels: doc, RNG

#50478 Better code rendering
  doc/src/manual/mathematical-operations.md
Labels: doc

#50493 whitespace fix in randcycle
  stdlib/Random/src/misc.jl
Labels: doc, merge me

#48363 Revise sort.md and docstrings in sort.jl
  base/sort.jl
  doc/src/base/sort.md
Labels: doc, sort, backport 1.10

#48977 Update SparseArrays.jl stdlib for SuiteSparse 7
  Makefile
  base/Makefile
  deps/checksums/SparseArrays-2c7f4d6d839e9a97027454a037bfa004c1eb34b0.tar.gz/md5
  deps/checksums/SparseArrays-2c7f4d6d839e9a97027454a037bfa004c1eb34b0.tar.gz/sha512
  deps/checksums/SparseArrays-8affe9e499379616e33fc60a24bb31500e8423d7.tar.gz/md5
  deps/checksums/SparseArrays-8affe9e499379616e33fc60a24bb31500e8423d7.tar.gz/sha512
  deps/checksums/suitesparse
  deps/libsuitesparse.mk
  deps/libsuitesparse.version
  stdlib/SparseArrays.version
  stdlib/SuiteSparse_jll/Project.toml
  stdlib/SuiteSparse_jll/src/SuiteSparse_jll.jl
  stdlib/SuiteSparse_jll/test/runtests.jl
Labels: sparse, stdlib, stdlib JLLs

#50318 unify `shuffle` and `randperm`
  stdlib/Random/src/misc.jl
Labels: RNG

#50476 Profile: Add specifying dir for `take_heap_snapshot` and handling if current dir is unwritable
  stdlib/Profile/src/Profile.jl
Labels: profiler

#50487 clarify documentation for randcycle
  stdlib/Random/src/misc.jl
Labels: doc, RNG, merge me

#49796 Rework introduction to SSA-IR in dev docs
  doc/src/devdocs/ssair.md
Labels: doc, merge me

#50461 fix typo in the --gcthreads argument description
  src/jloptions.c
Labels: doc, backport 1.10

#50525 only check that values are finite in `generic_lufact` when `check=true`
  stdlib/LinearAlgebra/src/lu.jl
  stdlib/LinearAlgebra/test/lu.jl
Labels: linear algebra, bugfix

#50485 cleanups to copyuntil
  base/io.jl
  base/iostream.jl
  test/read.jl
Labels: I/O, merge me

#50533 ensure internal_obj_base_ptr checks whether objects past freelist pointer are in freelist
  src/gc.c
Labels: GC, backport 1.10

#49322 improve cat design / performance
  base/abstractarray.jl
  base/array.jl
  deps/checksums/SparseArrays-2c7f4d6d839e9a97027454a037bfa004c1eb34b0.tar.gz/md5
  deps/checksums/SparseArrays-2c7f4d6d839e9a97027454a037bfa004c1eb34b0.tar.gz/sha512
  deps/checksums/SparseArrays-b4b0e721ada6e8cf5f6391aff4db307be69b0401.tar.gz/md5
  deps/checksums/SparseArrays-b4b0e721ada6e8cf5f6391aff4db307be69b0401.tar.gz/sha512
  stdlib/LinearAlgebra/src/special.jl
  stdlib/LinearAlgebra/src/uniformscaling.jl
  stdlib/SparseArrays.version
  test/abstractarray.jl
Labels: arrays, latency

#50540 gc: remove over-eager assertion
  src/gf.c
Labels: GC, bugfix

#50542 gf: remove unnecessary assert cycle==depth
  src/gf.c
Labels: backport 1.10

#50527 Remove mentions of “home project” in documentation and output
  doc/man/julia.1
  doc/src/manual/command-line-interface.md
  src/jloptions.c
Labels: doc

#43322 Make `Broadcast.flatten(bc).f` more complier frendly. (better inferred and inlined)
  base/broadcast.jl
  test/broadcast.jl
Labels: broadcast, inference

#50500 Name LLVM function arguments
  src/aotcompile.cpp
  src/codegen.cpp
  test/compiler/codegen.jl
  test/llvmpasses/fastmath.jl
Labels: llvm

#50555 sroa: Fix accidentally dropped condition
  base/compiler/ssair/passes.jl
  test/compiler/irpasses.jl
Labels: merge me

#50530 Assume size is non-negative for increased efficiency
  base/abstractarray.jl
  base/range.jl
  test/testhelpers/InfiniteArrays.jl
Labels: performance, arrays, collections

#50058 Add unwrapping mechanism for triangular mul and solves
  stdlib/LinearAlgebra/src/adjtrans.jl
  stdlib/LinearAlgebra/src/bidiag.jl
  stdlib/LinearAlgebra/src/hessenberg.jl
  stdlib/LinearAlgebra/src/matmul.jl
  stdlib/LinearAlgebra/src/triangular.jl
  stdlib/LinearAlgebra/test/triangular.jl
Labels: linear algebra, merge me, backport 1.10

#50551 typeintersect: also record chained `innervars`
  src/subtype.c
  test/subtype.jl
Labels: types and dispatch, needs pkgeval, backport 1.10

#50561 remove `:boundscheck` argument from `Core._svec_ref`
  base/compiler/ssair/inlining.jl
  base/compiler/ssair/passes.jl
  base/essentials.jl
  src/builtins.c
  test/compiler/inference.jl
  test/core.jl
Labels: backport 1.10

#50566 Print LLVM module when verification fails
  src/aotcompile.cpp
  src/jitlayers.cpp
  src/llvm-alloc-opt.cpp
  src/llvm-cpufeatures.cpp
  src/llvm-demote-float16.cpp
  src/llvm-final-gc-lowering.cpp
  src/llvm-julia-licm.cpp
  src/llvm-late-gc-lowering.cpp
  src/llvm-lower-handlers.cpp
  src/llvm-muladd.cpp
  src/llvm-multiversioning.cpp
  src/llvm-propagate-addrspaces.cpp
  src/llvm-ptls.cpp
  src/llvm-remove-addrspaces.cpp
  src/llvm-simdloop.cpp
  src/passes.h
  src/pipeline.cpp
Labels: codegen, llvm

#50552 read(io, Char): fix read with too many leading ones
  base/filesystem.jl
  base/io.jl
  test/char.jl
Labels: I/O, strings, bugfix, backport 1.6, backport 1.10

#50541 precompile: ensure globals are not accidentally created where disallowed
  src/module.c
  src/staticdata.c
  src/toplevel.c
  test/precompile.jl
  test/staged.jl
Labels: backport 1.10

#50565 Add getfield/setfield names, propagate names through more places
  src/cgutils.cpp
  src/codegen.cpp
  src/intrinsics.cpp
Labels: codegen, llvm

#50571 Fix off-by-one in generator nospecialize
  src/julia-syntax.scm
  test/precompile.jl
Labels: lowering, bugfix

#50576 use atomic compare exchange when setting the GC mark-bit
  src/gc.c
Labels: GC, merge me, backport 1.10

#50585 Require -g2 for llvm names, set code_llvm to -g2
  src/aotcompile.cpp
  src/codegen.cpp
  test/compiler/codegen.jl
Labels: codegen, llvm

#50516 Fix visibility of assert on GCC12/13
  src/julia_assert.h
Labels: build, backport 1.9, backport 1.10

#50591 build: fix various makefile bugs
  Make.inc
  deps/csl.mk
  deps/sanitizers.mk
Labels: build, merge me, backport 1.9, backport 1.10

#50610 Add extra profiling events to JIT/AOT compilation
  src/aotcompile.cpp
  src/jitlayers.cpp
  src/jitlayers.h
  src/timing.h
Labels: profiler, llvm

#50599 faster invalid object lookup in conservative gc
  src/gc.c
Labels: performance, GC, embarrassing-bugfix, backport 1.10

#50144 Page based heap size heuristics
  NEWS.md
  doc/src/devdocs/gc.md
  src/gc-debug.c
  src/gc-pages.c
  src/gc.c
  src/gc.h
  src/jl_exported_funcs.inc
  src/julia_threads.h
  test/testenv.jl
Labels: GC, backport 1.10

#50639 Backport LLVM patches to fix various issues.
  deps/checksums/clang
  deps/checksums/lld
  deps/checksums/llvm
  deps/clang.version
  deps/lld.version
  deps/llvm-tools.version
  deps/llvm.version
  stdlib/LLD_jll/Project.toml
  stdlib/libLLVM_jll/Project.toml
  test/fastmath.jl
Labels: build, upstream, external dependencies, merge me, stdlib JLLs, backport 1.10

#50630 Add function signature to code_native and code_llvm
  src/codegen.cpp
  src/disasm.cpp
Labels: codegen, llvm

#50572 Add `Base.format_bytes(; binary=false)` option
  base/timing.jl
Labels: display and printing, feature

#50546 Revert storage of method instance in LineInfoNode
  base/compiler/ssair/inlining.jl
  base/compiler/typeinfer.jl
  test/stacktraces.jl
Labels: revert, backport 1.10

#50631 Shift DCE pass to optimize imaging mode code better
  src/pipeline.cpp
Labels: codegen, llvm, backport 1.10

#50622 add `using Random` to UUIDs docstring
  stdlib/UUIDs/src/UUIDs.jl
Labels: doc, RNG

#50568 `Array(::AbstractRange)` should return an `Array`
  base/range.jl
  test/ranges.jl
Labels: backport 1.9, backport 1.10

#50427 Don't use integer division for cong
  base/partr.jl
  src/gc.c
  src/julia_internal.h
  src/partr.c
  src/signal-handling.c
  src/sys.c
Labels: merge me

#50662 release-1.10: set VERSON to 1.10.0-beta1
  VERSION
Labels: release

#50523 Avoid generic call in most cases for getproperty
  src/codegen.cpp
  test/compiler/codegen.jl
Labels: backport 1.9, backport 1.10

#50632 Remove literal_static_pointer_val from literal_pointer_val implementation
  src/aotcompile.cpp
  src/ccall.cpp
  src/cgutils.cpp
  src/codegen.cpp
  src/jitlayers.cpp
  src/jitlayers.h
Labels: codegen, merge me, llvm

#50655 fix hashing regression.
  base/float.jl
  base/rational.jl
  test/hashing.jl
Labels: rationals, bugfix, hashing, backport 1.10

#50638 Clean up various naming aspects of codegen
  src/ccall.cpp
  src/cgutils.cpp
  src/codegen.cpp
Labels: codegen, merge me, llvm

#50675 Base.MPFR: don't `ccall` for `signbit`
  base/mpfr.jl
Labels: bignums

#50074 Add `Libdl.LazyLibrary`
  Makefile
  NEWS.md
  base/Base.jl
  base/libdl.jl
  base/threads.jl
  doc/src/devdocs/locks.md
  src/Makefile
  src/ccall.cpp
  src/ccalllazybar.c
  src/ccalllazyfoo.c
  src/ccalltest.c
  src/ccalltest_common.h
  src/init.c
  src/jl_exported_data.inc
  src/jltypes.c
  src/julia.h
  src/runtime_ccall.cpp
  stdlib/Libdl/src/Libdl.jl
  stdlib/Libdl/test/runtests.jl
Labels: merge me

#50670 Make reinterpret specialize fully.
  base/essentials.jl
  test/compiler/inline.jl
Labels: performance, merge me, backport 1.10

#49908 document Libc.FILE
  base/libc.jl
  doc/src/base/libc.md
Labels: doc

#49915 Revert "Remove number / vector (#44358)"
  stdlib/LinearAlgebra/src/generic.jl
  stdlib/LinearAlgebra/test/dense.jl
Labels: backport 1.9

#33892 A legendary tale of why we should make pmap default to using CachingPool
  NEWS.md
  stdlib/Distributed/src/pmap.jl
Labels: parallel, merge me

#50689 Attach `tanpi` docstring to method
  base/special/trig.jl
Labels: doc, backport 1.10

#50671 Fix rdiv of complex lhs by real factorizations
  stdlib/LinearAlgebra/src/factorization.jl
  stdlib/LinearAlgebra/src/hessenberg.jl
  stdlib/LinearAlgebra/src/lu.jl
  stdlib/LinearAlgebra/test/hessenberg.jl
  stdlib/LinearAlgebra/test/lu.jl
Labels: linear algebra, backport 1.10

#50337 Allocation Profiler: Types for all allocations
  doc/src/manual/profile.md
  src/gc-alloc-profiler.h
  src/gc.c
  src/jl_exported_funcs.inc
  src/llvm-final-gc-lowering.cpp
  src/llvm-late-gc-lowering.cpp
  src/llvm-pass-helpers.cpp
  stdlib/Profile/test/allocs.jl
  test/llvmpasses/alloc-opt-gcframe.ll
  test/llvmpasses/final-lower-gc.ll
  test/llvmpasses/late-lower-gc-addrspaces.ll
  test/llvmpasses/late-lower-gc.ll
Labels: merge me

#50695 broadcast: simplify ndims
  base/broadcast.jl
  test/subarray.jl
Labels: broadcast

#50724 Merge opaque closure modules with the rest of the workqueue
  src/aotcompile.cpp
  src/codegen.cpp
  src/jitlayers.cpp
  src/jitlayers.h
Labels: codegen, llvm

#50723 Print out module in more places when we abort
  src/jitlayers.cpp
  src/pipeline.cpp
  src/timing.h
Labels: codegen, llvm
