Repository JuliaLang/julia, pull requests merged in 2023-10, with the labels that each got.

#51508 fix some test noise that has been accumulating
  base/hamt.jl
  stdlib/REPL/test/docview.jl
  test/errorshow.jl
  test/rounding.jl
Labels: test, merge me

#34587 Add Libc.mkfifo
  NEWS.md
  base/libc.jl
  doc/src/base/libc.md
  test/file.jl
Labels: merge me

#51514 Add error on missing ccallable
  src/codegen.cpp
  src/staticdata.c
Labels: precompile

#51541 Fix string index error in tab completion code
  stdlib/REPL/src/REPLCompletions.jl
  stdlib/REPL/test/replcompletions.jl
Labels: REPL, unicode, bugfix, backport 1.10

#51539 Fix copy-paste mistake in docs of Test
  stdlib/Test/docs/src/index.md
Labels: doc

#51530 Don't mark nonlocal symbols as hidden
  src/aotcompile.cpp
  src/codegen.cpp
  src/staticdata.c
Labels: precompile, backport 1.10

#51486 [LAPACK] Update the dispatch of getrf!
  stdlib/LinearAlgebra/src/lapack.jl
  stdlib/LinearAlgebra/test/lapack.jl
Labels: linear algebra

#51542 release-1.10: set VERSION to 1.10.0-beta3
  VERSION
Labels: release

#51549 Move LazyArtifacts out of the mono-repo
  deps/checksums/LazyArtifacts-e9a36338d5d0dfa4b222f4e11b446cbb7ea5836c.tar.gz/md5
  deps/checksums/LazyArtifacts-e9a36338d5d0dfa4b222f4e11b446cbb7ea5836c.tar.gz/sha512
  stdlib/.gitignore
  stdlib/LazyArtifacts.version
  stdlib/LazyArtifacts/Project.toml
  stdlib/LazyArtifacts/docs/src/index.md
  stdlib/LazyArtifacts/src/LazyArtifacts.jl
  stdlib/LazyArtifacts/test/Artifacts.toml
  stdlib/LazyArtifacts/test/runtests.jl
  stdlib/Makefile
Labels: stdlib, artifacts

#51571 Revert "Don't mark nonlocal symbols as hidden"
  src/aotcompile.cpp
  src/codegen.cpp
  src/staticdata.c
Labels: merge me

#51569 Improve deepcopy documentation to clarify reference behavior
  base/deepcopy.jl
Labels: doc

#51573 fix annotations on `sym_in`
  base/tuple.jl
  test/namedtuple.jl
  test/tuple.jl
Labels: performance, backport 1.10

#51512 avoid limiting Type{Any} to Type
  base/compiler/typelimits.jl
  test/compiler/inference.jl
Labels: inference, merge me, backport 1.10

#51595 reset `maxprobe` on `empty!`
  base/dict.jl
  test/dict.jl
Labels: bugfix, backport 1.10

#51582 Aggressive constprop in LinearAlgebra.wrap
  stdlib/LinearAlgebra/src/LinearAlgebra.jl
  stdlib/LinearAlgebra/test/matmul.jl
Labels: linear algebra, backport 1.10

#51565 Make REPL not slow-down if we load a valid cachefile
  src/gf.c
  src/jl_exported_funcs.inc
  stdlib/REPL/src/REPL.jl
  stdlib/REPL/src/precompile.jl
Labels: performance, REPL, merge me

#51470 Add native support for BFloat16.
  base/boot.jl
  doc/src/base/reflection.md
  src/abi_x86_64.cpp
  src/aotcompile.cpp
  src/ccall.cpp
  src/cgutils.cpp
  src/codegen.cpp
  src/intrinsics.cpp
  src/jitlayers.cpp
  src/jl_exported_data.inc
  src/jltypes.c
  src/julia.h
  src/julia_internal.h
  src/llvm-demote-float16.cpp
  src/llvm-multiversioning.cpp
  src/processor.h
  src/processor_x86.cpp
  src/runtime_intrinsics.c
  src/staticdata.c
  test/llvmpasses/float16.ll
  test/numbers.jl
Labels: maths, codegen

#51400 Mention allocation of `R` factor from QR
  stdlib/LinearAlgebra/src/qr.jl
Labels: doc, linear algebra

#51554 Fix infinite loop when inputs are `Inf`
  stdlib/LinearAlgebra/src/givens.jl
  stdlib/LinearAlgebra/test/givens.jl
Labels: linear algebra

#51599 optimize: revise inlining costs
  base/compiler/optimize.jl
  base/compiler/tfuncs.jl
  doc/src/devdocs/inference.md
Labels: performance, optimizer

#51489 add an ability to suspend/resume a thread in a GC-safe way
  src/gc.c
  src/jl_exported_funcs.inc
  src/julia.h
  src/julia_internal.h
  src/julia_threads.h
  src/rtutils.c
  src/safepoint.c
  src/signals-mach.c
  src/signals-unix.c
  src/threading.c
Labels: multithreading

#51581 [REPLCompletions] fix #51548, set up a mode to limit the scope of the aggressive inference
  stdlib/REPL/src/REPLCompletions.jl
  stdlib/REPL/test/replcompletions.jl
Labels: REPL

#51606 slightly speed up cartesian indexing
  base/multidimensional.jl
  test/cartesian.jl
Labels: performance, arrays, iteration, merge me

#51550 Add excise stdlib script
  contrib/excise_stdlib.sh
Labels: stdlib

#51613 Highlight manifests from other versions when failing to find packages
  base/loading.jl
Labels: packages, merge me

#51621 Move Distributed out of Base
  deps/checksums/Distributed-fdf56f429cd44da6d5d08cb5208bbf41d5b3d0a5.tar.gz/md5
  deps/checksums/Distributed-fdf56f429cd44da6d5d08cb5208bbf41d5b3d0a5.tar.gz/sha512
  stdlib/.gitignore
  stdlib/Distributed.version
  stdlib/Distributed/Project.toml
  stdlib/Distributed/docs/src/index.md
  stdlib/Distributed/src/Distributed.jl
  stdlib/Distributed/src/cluster.jl
  stdlib/Distributed/src/clusterserialize.jl
  stdlib/Distributed/src/macros.jl
  stdlib/Distributed/src/managers.jl
  stdlib/Distributed/src/messages.jl
  stdlib/Distributed/src/pmap.jl
  stdlib/Distributed/src/precompile.jl
  stdlib/Distributed/src/process_messages.jl
  stdlib/Distributed/src/remotecall.jl
  stdlib/Distributed/src/workerpool.jl
  stdlib/Distributed/test/distributed_exec.jl
  stdlib/Distributed/test/includefile.jl
  stdlib/Distributed/test/managers.jl
  stdlib/Distributed/test/runtests.jl
  stdlib/Distributed/test/splitrange.jl
  stdlib/Distributed/test/topology.jl
  stdlib/Makefile
Labels: stdlib

#51526 Random: better handling of the "global seed" (using TLS)
  stdlib/Random/src/RNGs.jl
  stdlib/Random/test/runtests.jl
  stdlib/Test/src/Test.jl
  stdlib/Test/test/runtests.jl
Labels: RNG

#28705 add rand(::Type{<:Pair})
  NEWS.md
  stdlib/Random/src/Random.jl
  stdlib/Random/src/generation.jl
  stdlib/Random/test/runtests.jl
Labels: RNG

#51630 support random sampling of tuple types: add tests
  NEWS.md
  stdlib/Random/src/generation.jl
  stdlib/Random/test/runtests.jl
Labels: RNG, bugfix

#51600 inference: better align type_more_complex with _limit_type_size for Type
  base/compiler/typelimits.jl
  test/compiler/inference.jl
Labels: needs pkgeval

#51596 Reland "Don't mark nonlocal symbols as hidden""
  src/aotcompile.cpp
  src/codegen.cpp
  src/staticdata.c
Labels: precompile, backport 1.10

#51547 Docs: fix typos and grammar
  doc/src/devdocs/valgrind.md
Labels: doc

#51578 Use `oneto` instead of `OneTo` when constructing `LinearIndices`
  base/indices.jl
  test/abstractarray.jl
Labels: arrays

#51608 Create rand function for Base.KeySet and Base.ValueIterator{Dict}
  stdlib/Random/src/generation.jl
  stdlib/Random/test/runtests.jl
Labels: performance, RNG

#51635 Check that file being precompiled contains a module
  base/loading.jl
  test/loading.jl
  test/precompile.jl
Labels: merge me

#51643 make sure `rand(sampler, dims)` works
  stdlib/Random/src/generation.jl
  stdlib/Random/test/runtests.jl
Labels: RNG, bugfix

#51527 Random: allow string seeds
  NEWS.md
  stdlib/Random/src/RNGs.jl
  stdlib/Random/src/Xoshiro.jl
  stdlib/Random/test/runtests.jl
Labels: RNG

#51579 Use llvm::SmallVector instead of std::vector for bounds checking
  src/aotcompile.cpp
  src/ccall.cpp
  src/cgutils.cpp
  src/codegen.cpp
  src/coverage.cpp
  src/debuginfo.cpp
  src/disasm.cpp
  src/gc-alloc-profiler.cpp
  src/gc-heap-snapshot.cpp
  src/intrinsics.cpp
  src/jitlayers.cpp
  src/jitlayers.h
  src/llvm-alloc-opt.cpp
  src/llvm-codegen-shared.h
  src/llvm-late-gc-lowering.cpp
  src/llvm-lower-handlers.cpp
  src/llvm-multiversioning.cpp
  src/llvm-propagate-addrspaces.cpp
  src/llvm-ptls.cpp
  src/processor.cpp
  src/processor.h
  src/processor_arm.cpp
  src/processor_fallback.cpp
  src/processor_x86.cpp
Labels: codegen

#51660 [OpenBLAS_jll] Upgrade to v0.3.24
  deps/checksums/openblas
  deps/openblas.version
  stdlib/OpenBLAS_jll/Project.toml
Labels: build, external dependencies, stdlib JLLs

#51646 [RFC] Add eachrsplit iterator
  NEWS.md
  base/exports.jl
  base/strings/util.jl
  doc/src/base/strings.md
  test/strings/util.jl
Labels: strings, iteration, feature, merge me

#51622 Allow tab after key name in TOML.parse
  base/toml_parser.jl
  stdlib/TOML/test/parse.jl
Labels: bugfix

#51366 Handle infix operators in REPL completion
  stdlib/REPL/src/REPLCompletions.jl
  stdlib/REPL/test/replcompletions.jl
Labels: REPL, backport 1.10

#51688 irinterp: Allow Expr(:boundscheck) in statement position
  base/compiler/ssair/irinterp.jl
Labels: optimizer, merge me

#51682 loader: Provide memset, and use weak linkage instead of symbol renaming.
  cli/loader.h
  cli/loader_win_utils.c
Labels: build, windows

#51681 mention .= in assignment-vs-mutation docs
  doc/src/manual/variables.md
Labels: doc, broadcast

#51639 clarify docs on for loops for general iterators
  doc/src/manual/control-flow.md
Labels: doc

#51543 add effects for `Cmd` constructor
  base/cmd.jl
  stdlib/REPL/test/replcompletions.jl
  test/compiler/effects.jl
Labels: merge me, cmd, effects

#50897 fix `eigvals,eigvecs,eigen` for `Diagonal{Matrix}`
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/LinearAlgebra/test/diagonal.jl
Labels: linear algebra, bugfix

#50495 AbstractMatrix{T}(::SpecialMat{T}) should make a copy
  stdlib/LinearAlgebra/src/bidiag.jl
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/LinearAlgebra/src/hessenberg.jl
  stdlib/LinearAlgebra/src/symmetric.jl
  stdlib/LinearAlgebra/src/triangular.jl
  stdlib/LinearAlgebra/src/tridiag.jl
Labels: linear algebra, merge me

#51705 [LAPACK] Add a method to provide ipiv for sytrf! and hetrf!
  stdlib/LinearAlgebra/src/lapack.jl
Labels: linear algebra

#51708 Avoid `Style()` during broadcast whenever possible.
  base/broadcast.jl
  test/broadcast.jl
Labels: broadcast

#51674 Optimize away try/catch blocks that are known not to trigger
  base/compiler/abstractinterpretation.jl
  base/compiler/optimize.jl
  base/compiler/ssair/ir.jl
  base/compiler/ssair/slot2ssa.jl
  base/compiler/typelattice.jl
  src/codegen.cpp
  test/compiler/inference.jl
Labels: performance

#51623 Add note about sysimage `__init__`s running before startup.jl
  doc/src/manual/environment-variables.md
Labels: doc, merge me

#51575 support `public` in fallback/legacy parser
  base/exports.jl
  src/ast.scm
  src/jlfrontend.scm
  src/julia-parser.scm
  test/syntax.jl
Labels: parser

#51733 Fix LinearAlgebra/diagonal test
  stdlib/LinearAlgebra/test/diagonal.jl
Labels: test, linear algebra

#51683 docs: `Base.Order.Ordering`: consistency with #48363 and #48387
  base/ordering.jl
Labels: doc

#51723 add `Printf.Format` and `Printf.format` to manual
  stdlib/Printf/docs/src/index.md
Labels: doc

#51734 REPL: remove 'oops.' for non Markdown help strings
  stdlib/REPL/src/docview.jl
Labels: merge me

#51679 Dots in displaying views of sparse/structured arrays
  base/subarray.jl
  test/subarray.jl
Labels: arrays

#51735 inference: use `jl_method_get_table` for `get_nospecializeinfer_sig`
  base/compiler/utilities.jl
Labels: inference

#51744 codegen: fix gc rooting bug
  src/ccall.cpp
  src/cgutils.cpp
  src/codegen.cpp
  test/compiler/codegen.jl
Labels: codegen, merge me, backport 1.10

#51761 ignore mightalias for empty objects
  base/abstractarray.jl
Labels: merge me

#51743 limit TimeType subtraction
  stdlib/Dates/src/arithmetic.jl
  stdlib/Dates/test/arithmetic.jl
Labels: backport 1.10

#51698 [build] Install mingw32 `*.a` files in `private_libdir`
  Make.inc
  Makefile
  base/linking.jl
  deps/checksums/compilersupportlibraries
  deps/csl.mk
  stdlib/CompilerSupportLibraries_jll/Project.toml
Labels: build, windows

#51750 fix `--bug-report=rr`
  base/client.jl
  test/cmdlineargs.jl
Labels: bugfix

#51787 fix return type of `exec_options`
  base/client.jl
Labels: merge me

#49866 Make precompile files relocatable
  base/loading.jl
  base/sysimg.jl
  doc/src/manual/modules.md
  src/precompile.c
  src/staticdata.c
  src/staticdata_utils.c
  test/.gitignore
  test/Makefile
  test/RelocationTestPkg1/Project.toml
  test/RelocationTestPkg1/src/RelocationTestPkg1.jl
  test/RelocationTestPkg1/src/foo.txt
  test/RelocationTestPkg2/Project.toml
  test/RelocationTestPkg2/src/RelocationTestPkg2.jl
  test/RelocationTestPkg2/src/foo.txt
  test/choosetests.jl
  test/precompile.jl
  test/relocatedepot.jl
  test/testenv.jl
Labels: precompile

#51741 Fix reference in manual
  doc/src/manual/multi-threading.md
Labels: doc, multithreading

#51666 Use a single Float16 ABI.
  base/ctypes.jl
  src/APInt-C.cpp
  src/abi_ppc64le.cpp
  src/abi_x86_64.cpp
  src/aotcompile.cpp
  src/codegen.cpp
  src/jitlayers.cpp
  src/julia_internal.h
  src/llvm-version.h
  src/runtime_intrinsics.c
  test/intrinsics.jl
Labels: codegen, float16

#51782 Fix remove-addrspaces pass in the presence of globals with addrspaces
  src/llvm-remove-addrspaces.cpp
  test/llvmpasses/remove-addrspaces.ll
Labels: codegen

#49586 AnnotatedStrings, and a string styling stdlib
  NEWS.md
  base/client.jl
  base/exports.jl
  base/regex.jl
  base/strings/annotated.jl
  base/strings/basic.jl
  base/strings/io.jl
  base/strings/strings.jl
  base/strings/substring.jl
  base/strings/util.jl
  deps/checksums/StyledStrings-61e7b105b157b40807ed0b4840166a25b0948549.tar.gz/md5
  deps/checksums/StyledStrings-61e7b105b157b40807ed0b4840166a25b0948549.tar.gz/sha512
  doc/src/base/strings.md
  doc/src/manual/strings.md
  pkgimage.mk
  stdlib/.gitignore
  stdlib/Makefile
  stdlib/StyledStrings.version
  stdlib/stdlib.mk
  test/choosetests.jl
  test/strings/annotated.jl
Labels: display and printing, feature, don't squash

#51776 add simple smokescreen test for `--bug-report`
  test/cmdlineargs.jl
Labels: test

#51758 fix unicode indexing in parse(Complex, string)
  base/parse.jl
  test/parse.jl
Labels: bugfix, backport 1.6, backport 1.8, backport 1.9, backport 1.10

#51661 Test for reverting back to 1.8 GC heuristics
  src/gc-debug.c
  src/gc-pages.c
  src/gc.c
  src/gc.h
  src/julia_threads.h
Labels: GC

#51085 Throw OverflowError on typemin(Int)//(-1)
  base/rational.jl
  test/rational.jl
Labels: rationals, error handling, maths

#51801 REPLCompletions: only complete kwargs in kwarg position
  stdlib/REPL/src/REPLCompletions.jl
  stdlib/REPL/test/replcompletions.jl
Labels: REPL

#51803 Fix off-by-one error in annotated string concat
  base/strings/annotated.jl
  test/strings/annotated.jl
Labels: strings, embarrassing-bugfix

#51781 Don't make pkgimages global editable
  base/loading.jl
Labels: backport 1.9, backport 1.10

#51773 fix eltype for partition iterators of substrings
  base/strings/util.jl
  test/iterators.jl
Labels: bugfix, backport 1.9, backport 1.10

#51799 support Unicode 15.1 via utf8proc 2.9.0
  NEWS.md
  deps/checksums/utf8proc
  deps/utf8proc.version
Labels: unicode

#51830 Add version string to sysimg triple
  src/aotcompile.cpp
Labels: merge me

#51832 Fix typo in range display
  base/range.jl
  test/ranges.jl
Labels: bugfix, display and printing, backport 1.10

#51825 Revert "clean up identifiers defined in `Main` (#51411)"
  base/client.jl
  base/sysimg.jl
  stdlib/REPL/src/REPL.jl
  stdlib/REPL/test/replcompletions.jl
  test/client.jl
Labels: don't squash

#51797 [Printf] mark format and Format with public keyword
  stdlib/Printf/src/Printf.jl
Labels: strings

#51785 Make local scope for `else` blocks in `try`/`catch`/`else`
  src/julia-syntax.scm
  test/syntax.jl
Labels: lowering, bugfix, backport 1.9, backport 1.10

#51778 delete unused local variable in `@generated`
  base/expr.jl
Labels: macros

#51616 make Meta-M with a empty prompt return the contextual module to Main
  NEWS.md
  stdlib/REPL/docs/src/index.md
  stdlib/REPL/src/LineEdit.jl
Labels: REPL

#51835 test: add test case for uncovered line in accumulate.jl
  test/arrayops.jl
Labels: test, merge me

#51346 Only warn in helpmode on successful nonpublic access
  stdlib/REPL/src/docview.jl
  stdlib/REPL/test/docview.jl
Labels: doc, bugfix

#51704 Run `crate-ci/typos` in CI
  .github/workflows/Typos.yml
  NEWS.md
  typos.toml
Labels: ci

#51764 replace unsafe_convert methods with safe cconvert ones
  base/abstractarray.jl
  base/c.jl
  base/permuteddimsarray.jl
  base/pointer.jl
  base/refpointer.jl
  base/reinterpretarray.jl
  base/reshapedarray.jl
  base/secretbuffer.jl
  base/strings/basic.jl
  base/subarray.jl
  stdlib/InteractiveUtils/src/clipboard.jl
  stdlib/LinearAlgebra/src/adjtrans.jl
  stdlib/LinearAlgebra/test/blas.jl
  stdlib/Random/src/DSFMT.jl
  stdlib/SharedArrays/src/SharedArrays.jl
  test/arrayops.jl
  test/strings/basic.jl
  test/testhelpers/OffsetArrays.jl
Labels: arrays

#51760 add unsetindex support to more copyto methods
  base/abstractarray.jl
Labels: collections

#51843 [release 1.10] trigger a full sweep if beyond max total memory
  src/gc.c
Labels: GC, merge me

#51845 inference: fix infinite recursion of nested Generators
  base/compiler/typelimits.jl
  base/compiler/utilities.jl
  test/compiler/inference.jl
Labels: backport 1.10

#51834 [REPLCompletions] allow symbol completions within incomplete macrocall expression
  stdlib/REPL/src/REPLCompletions.jl
  stdlib/REPL/test/replcompletions.jl
Labels: backport 1.10

#30236 Improve efficiency of minimum/maximum(::Diagonal)
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/LinearAlgebra/test/diagonal.jl
Labels: performance, linear algebra

#51790 Add BFloat16 runtime intrinsics.
  src/runtime_intrinsics.c
Labels: float16

#51840 LLVM: Activate typed pointers through the API instead of a global option.
  src/codegen.cpp
  src/jitlayers.cpp
Labels: codegen, backport 1.10

#51848 allow finalizers to take any locks and yield during exit
  src/gc.c
Labels: backport 1.10

#51847 add missing wait during Timer and AsyncCondition close
  base/asyncevent.jl
  test/channels.jl
Labels: backport 1.10

#51831 improve error message for invoke
  src/builtins.c
  test/core.jl
Labels: merge me, error messages

#51857 Assert that `exit` never returns
  base/initdefs.jl
  test/compiler/inference.jl
Labels: merge me

#51854 replace jl_gc_wb_binding with jl_gc_wb
  src/builtins.c
  src/julia_internal.h
  src/module.c
  src/toplevel.c
Labels: GC, merge me

#51866 Fix field access overlooked by rename
  base/strings/io.jl
  test/strings/annotated.jl
Labels: strings, embarrassing-bugfix

#51836 docs: delete misleading `::Function` annotation in the `ntuple` doc
  base/ntuple.jl
Labels: doc

#51865 Use correct module when printing code_llvm for opaque closures
  src/aotcompile.cpp
  test/opaque_closure.jl
Labels: merge me

#51863 Bump LLVM to 15.0.7-9
  deps/checksums/clang
  deps/checksums/lld
  deps/checksums/llvm
  deps/clang.version
  deps/lld.version
  deps/llvm-tools.version
  deps/llvm.version
  stdlib/LLD_jll/Project.toml
  stdlib/libLLVM_jll/Project.toml
Labels: llvm, backport 1.10

#50435 `reverse(zip(its...))` now checks lengths of constituent iterators for equality
  base/iterators.jl
  test/iterators.jl
Labels: bugfix, triage, iteration

#51882 Backport LLVM 15.0.7-9 to 1.10
  deps/checksums/clang
  deps/checksums/lld
  deps/checksums/llvm
  deps/clang.version
  deps/lld.version
  deps/llvm-tools.version
  deps/llvm.version
  stdlib/LLD_jll/Project.toml
  stdlib/libLLVM_jll/Project.toml
Labels: llvm

#51671 strings: fix performance of nextind
  base/compiler/optimize.jl
  base/strings/string.jl
Labels: performance, strings

#51884 Insert the GC preserve into the expanded docs
  doc/src/manual/calling-c-and-fortran-code.md
Labels: doc, GC, merge me

#51851 [REPL] Fix shell completion error on unreadable symlink
  stdlib/REPL/src/REPLCompletions.jl
  stdlib/REPL/test/replcompletions.jl
Labels: REPL

#51891 REPL: Try to fix intermittent hang during precompile
  stdlib/REPL/src/precompile.jl
Labels: REPL, precompile

#51886 Respect JULIA_CPU_TARGET set in Make.inc when building pkgimgs
  pkgimage.mk
Labels: merge me

#51900 Fix pointer calculation for `SubArray` with none-dense parent.
  base/reshapedarray.jl
  base/subarray.jl
  test/abstractarray.jl
  test/subarray.jl
Labels: arrays, bugfix

#51844 More detail on locks
  doc/src/manual/multi-threading.md
Labels: doc, merge me

#44349 Improve codegen, accuracy of inlining cost for unknown intrinsics
  base/compiler/optimize.jl
  base/compiler/tfuncs.jl
  src/builtins.c
  src/codegen.cpp
  src/julia_internal.h
  src/llvm-codegen-shared.h
  src/llvm-gc-invariant-verifier.cpp
  src/llvm-late-gc-lowering.cpp
  src/llvm-pass-helpers.cpp
  src/llvm-pass-helpers.h
Labels: codegen, merge me

#51501 Base.Cartesian: add `@ncallkw` and allow `else` branch inside `if`
  NEWS.md
  base/cartesian.jl
  doc/src/devdocs/cartesian.md
  test/cartesian.jl
Labels: arrays, merge me

#51883 Backport "Fix Expr(:loopinfo) codegen"
  src/codegen.cpp
  src/jl_exported_funcs.inc
  src/llvm-julia-passes.inc
  src/llvm-simdloop.cpp
  src/passes.h
  src/pipeline.cpp
  test/llvmpasses/julia-simdloop-memoryssa.ll
  test/llvmpasses/julia-simdloop.ll
  test/llvmpasses/loopinfo.jl
  test/llvmpasses/parsing.ll
Labels: codegen, bugfix

#51867 Move the banner function from versions.jl to REPL
  base/client.jl
  base/version.jl
  doc/src/manual/getting-started.md
  stdlib/REPL/docs/src/index.md
  stdlib/REPL/src/REPL.jl
  stdlib/REPL/test/repl.jl
  test/version.jl
Labels: REPL, merge me

#51864 Redo #32205 - PosDef exception is too specific.
  stdlib/LinearAlgebra/src/exceptions.jl
Labels: linear algebra, merge me

#51701 [BLAS] Add the gemmt routine
  stdlib/LinearAlgebra/docs/src/index.md
  stdlib/LinearAlgebra/src/blas.jl
  stdlib/LinearAlgebra/test/blas.jl
Labels: linear algebra

#50862 add 1-arg methods for set comparisons
  base/abstractset.jl
  test/sets.jl
Labels: collections, merge me

#51591 Adapt to LLVM 16
  src/APInt-C.cpp
  src/Makefile
  src/aotcompile.cpp
  src/ccall.cpp
  src/cgutils.cpp
  src/codegen.cpp
  src/intrinsics.cpp
  src/jitlayers.cpp
  src/jitlayers.h
  src/llvm-alloc-opt.cpp
  src/llvm-codegen-shared.h
  src/llvm-cpufeatures.cpp
  src/llvm-julia-licm.cpp
  src/llvm-late-gc-lowering.cpp
  src/llvm-multiversioning.cpp
  src/llvm-pass-helpers.cpp
  src/llvm-ptls.cpp
  src/llvm-remove-addrspaces.cpp
  src/llvm-simdloop.cpp
  src/pipeline.cpp
Labels: llvm

#51919 remove jl_gc_wb_buf
  src/julia_internal.h
Labels: GC

#51497 Fix -1 for BigInt factorial - Update gmp.jl
  base/gmp.jl
  test/gmp.jl
Labels: bugfix, bignums

#47085 Clarify docstring for `exponent`, again
  base/math.jl
Labels: doc, maths

#51890 Small fix to `randn`/`randexp`
  stdlib/Random/src/normal.jl
Labels: RNG

#51888 inference: don't put globally-cached results into inference local cache
  base/compiler/abstractinterpretation.jl
  base/compiler/inferencestate.jl
  base/compiler/typeinfer.jl
  stdlib/REPL/src/REPLCompletions.jl
  test/compiler/AbstractInterpreter.jl
Labels: inference

#48319 manual/workflow-tips: simplify the basic workflow (& explain _why_ we put code in a module)
  doc/src/manual/workflow-tips.md
Labels: doc

#46705 Document the kind of indices returned by `findmin`/`findmax`/`argmin`/`argmax`
  base/reduce.jl
Labels: doc, search & find, merge me

#35261 updated Doc string in Base.Generator
  base/generator.jl
Labels: doc, merge me

#41227 Comment on `include` pattern in Julia vs. Python
  doc/src/manual/noteworthy-differences.md
Labels: doc, merge me

#51920 relocation: a fix for `@depot` tag inserting and extra tests
  base/loading.jl
  test/relocatedepot.jl
Labels: precompile

#45876 doc: rename `sparam_syms` to `slot_syms`
  doc/src/devdocs/ast.md
  src/julia.h
Labels: doc, merge me

#49563 Adds information to redirect_std* inline docs
  doc/src/manual/networking-and-streams.md
Labels: doc, merge me

#51881 fixup to #51743, timetype subtraction
  stdlib/Dates/src/arithmetic.jl
  stdlib/Dates/test/arithmetic.jl
Labels: bugfix

#51885 remove chmodding the pkgimages
  base/loading.jl
Labels: backport 1.9, backport 1.10

#49838 Docs: file: list `read` and `write` again
  doc/src/base/file.md
Labels: doc, merge me

#44340 Some extended documentation for `Core.Compiler.return_type` usage as `promote_op`
  base/promotion.jl
Labels: doc, merge me

#45109 improve `Union` docs as discused in discourse
  base/docs/basedocs.jl
Labels: doc, merge me

#51949 IO: fix API safety issue for Ptr
  base/io.jl
  test/read.jl
Labels: I/O

#49686 Add a doctest for timedwait
  base/asyncevent.jl
Labels: doc, test, merge me

#45998 clarify assert doc entry
  base/error.jl
Labels: doc, merge me
