Repository JuliaLang/julia, pull requests merged in 2023-08, with the labels that each got.

#50678 Respect linkage type in jl_merge_module
  src/codegen.cpp
  src/jitlayers.cpp
Labels: codegen, merge me, llvm

#50598 only limit types in stack traces in the REPL
  base/errorshow.jl
  base/show.jl
  stdlib/REPL/src/REPL.jl
  stdlib/REPL/test/repl.jl
  test/stacktraces.jl
Labels: backport 1.10

#50741 Refactor final-gc-lowering
  src/jl_exported_funcs.inc
  src/llvm-final-gc-lowering.cpp
  src/llvm-julia-passes.inc
  src/passes.h
  src/pipeline.cpp
  test/cmdlineargs.jl
  test/llvmpasses/alloc-opt-gcframe.ll
  test/llvmpasses/gcroots.ll
  test/llvmpasses/parsing.ll
  test/llvmpasses/refinements.ll
  test/llvmpasses/returnstwicegc.ll
  test/llvmpasses/safepoint_stress.jl
Labels: codegen, merge me, llvm

#50738 Add alignment to constant globals
  src/cgutils.cpp
  src/codegen.cpp
  src/llvm-late-gc-lowering.cpp
Labels: codegen, merge me, llvm

#50694 inference: permit recursive type traits
  base/compiler/typelimits.jl
  test/compiler/inference.jl
Labels: inference, merge me

#50756 fix O(n^2) `length` calls in compact-ir lowering step
  src/julia-syntax.scm
Labels: lowering, latency

#50766 Don't partition alwaysinline functions
  src/aotcompile.cpp
Labels: codegen, llvm, backport 1.10

#50765 effects: fix `:nothrow` modeling of `getglobal`
  base/compiler/tfuncs.jl
  test/compiler/effects.jl
Labels: performance, effects, backport 1.10

#50764 irinterp: refine `:nothrow` only when it is not proved yet
  base/compiler/abstractinterpretation.jl
  test/compiler/effects.jl
Labels: performance, effects, backport 1.10

#50726 Add command line option for short banner
  base/client.jl
  base/version.jl
  src/jloptions.c
  test/cmdlineargs.jl
  test/version.jl
Labels: REPL, display and printing

#50768 ssair: `compact!` constant `PiNode`
  base/compiler/ssair/ir.jl
  test/compiler/inline.jl
  test/compiler/irutils.jl
  test/compiler/ssair.jl
Labels: backport 1.10

#45598 Support rounding `Irrational`s
  base/float.jl
  base/floatfuncs.jl
  base/missing.jl
  base/rational.jl
  test/numbers.jl
Labels: maths

#50745 Optimize PLT and jl_load_and_lookup calls
  src/aotcompile.cpp
  src/ccall.cpp
  src/codegen.cpp
  src/jitlayers.cpp
  src/jitlayers.h
Labels: codegen, llvm

#50767 optimizer: move inlineable constants into argument position during `compact!`-ion
  base/compiler/ssair/ir.jl
  test/compiler/EscapeAnalysis/interprocedural.jl
  test/compiler/inline.jl
Labels: performance, effects, backport 1.10

#50771 re-allow non-string values in ENV `get!`
  base/env.jl
  test/env.jl
Labels: bugfix, backport 1.10

#50779 Minor refactor to image generation
  src/aotcompile.cpp
  src/pipeline.cpp
Labels: codegen, llvm, backport 1.10

#50777 Clarify that `trunc`/`ceil`/`floor` are allowed to round without throwing `InexactError`.
  base/int.jl
Labels: doc, maths

#50682 Add fallback if we have make a weird GC decision.
  Make.inc
  src/gc-debug.c
  src/gc.c
  test/cmdlineargs.jl
  test/testenv.jl
Labels: GC, backport 1.10

#50618 inference: continue const-prop' when concrete-eval returns non-inlineable
  base/compiler/abstractinterpretation.jl
  test/compiler/inference.jl
  test/compiler/inline.jl
Labels: backport 1.10

#50781 fix `bit_map!` with aliasing
  base/bitarray.jl
  test/bitarray.jl
Labels: bugfix, backport 1.9, backport 1.10

#50775 Move `round(T::Type, x)` docstring above `round(z::Complex, ...)`
  base/floatfuncs.jl
  base/rounding.jl
Labels: doc

#50497 add warning to `Iterators.filter` about assumptions on predicate
  base/iterators.jl
Labels: doc, iteration

#50172 print feature flags used for matching pkgimage
  base/loading.jl
  src/processor.cpp
  src/processor.h
  src/processor_arm.cpp
  src/processor_fallback.cpp
  src/processor_x86.cpp
Labels: pkgimage, backport 1.10

#50791 Make symbols internal in jl_create_native, and only externalize them when partitioning
  src/aotcompile.cpp
Labels: codegen, llvm, backport 1.10

#50818 Test that we emit names properly in code_llvm
  test/llvmpasses/names.jl
Labels: test, llvm

#50830 Call all-underscore identifiers write-only
  doc/src/manual/variables.md
  src/jlfrontend.scm
  src/julia-syntax.scm
  src/toplevel.c
Labels: doc, error messages

#50844 Bump OpenBLAS binaries to use the new GEMM multithreading threshold
  deps/checksums/openblas
  deps/openblas.mk
  stdlib/OpenBLAS_jll/Project.toml
Labels: performance, linear algebra, backport 1.9, backport 1.10

#50840 Small refactorings, make imaging_mode easier to grep for
  src/aotcompile.cpp
  src/ccall.cpp
  src/cgutils.cpp
  src/codegen.cpp
  src/jitlayers.cpp
  src/jitlayers.h
Labels: codegen, merge me, llvm

#50826 Update dependency builds
  deps/checksums/blastrampoline
  deps/checksums/clang
  deps/checksums/compilersupportlibraries
  deps/checksums/curl
  deps/checksums/dsfmt
  deps/checksums/gmp
  deps/checksums/libgit2
  deps/checksums/libssh2
  deps/checksums/libtracyclient
  deps/checksums/libuv
  deps/checksums/lld
  deps/checksums/llvm
  deps/checksums/mbedtls
  deps/checksums/mpfr
  deps/checksums/nghttp2
  deps/checksums/objconv
  deps/checksums/openlibm
  deps/checksums/p7zip
  deps/checksums/pcre
  deps/checksums/suitesparse
  deps/checksums/unwind
  deps/checksums/zlib
  deps/clang.version
  deps/libgit2.mk
  deps/libgit2.version
  deps/libssh2.version
  deps/libtracyclient.version
  deps/lld.version
  deps/llvm-tools.version
  deps/llvm.version
  deps/objconv.version
  stdlib/CompilerSupportLibraries_jll/Project.toml
  stdlib/GMP_jll/Project.toml
  stdlib/LLD_jll/Project.toml
  stdlib/LibCURL_jll/Project.toml
  stdlib/LibGit2_jll/Project.toml
  stdlib/LibGit2_jll/test/runtests.jl
  stdlib/LibSSH2_jll/Project.toml
  stdlib/LibUV_jll/Project.toml
  stdlib/LibUnwind_jll/Project.toml
  stdlib/MPFR_jll/Project.toml
  stdlib/MbedTLS_jll/Project.toml
  stdlib/OpenLibm_jll/Project.toml
  stdlib/PCRE2_jll/Project.toml
  stdlib/SuiteSparse_jll/Project.toml
  stdlib/Zlib_jll/Project.toml
  stdlib/dSFMT_jll/Project.toml
  stdlib/libLLVM_jll/Project.toml
  stdlib/libblastrampoline_jll/Project.toml
  stdlib/nghttp2_jll/Project.toml
  stdlib/p7zip_jll/Project.toml
Labels: external dependencies, backport 1.10

#50069 Highlight extra required methods for iterators
  doc/src/manual/interfaces.md
Labels: doc, iteration, merge me

#50728 Clarify that you can document something before it is defined
  base/docs/Docs.jl
Labels: doc, docsystem

#50742 fix #48889, bug in capturing variable declared outside `while`
  src/julia-syntax.scm
  test/core.jl
Labels: lowering, bugfix

#50845 fix #50438, use default pool for at-threads
  base/threadingconstructs.jl
Labels: multithreading, backport 1.9, backport 1.10

#50832 Subtype: bug fix for bounds with deeper covariant var
  base/namedtuple.jl
  src/subtype.c
  stdlib/LinearAlgebra/src/bidiag.jl
  test/subtype.jl
Labels: types and dispatch, bugfix

#50860 Add `Base.get_extension` to docs/API
  doc/src/base/base.md
Labels: doc, backport 1.9, backport 1.10

#50594 Disallow non-index Integer types in isassigned
  base/multidimensional.jl
  test/abstractarray.jl
Labels: backport 1.10

#50802 Makes IntrusiveLinkedListSynchronized mutable to avoid allocation on poptask
  base/task.jl
Labels: performance, multithreading

#50838 Initialize gvars with their pointer values in create_native
  src/aotcompile.cpp
Labels: codegen, llvm

#50751 test: remove SparseArrays dependency from hashing test
  test/hashing.jl
Labels: sparse

#50871 macOS: Don't inspect dead threadtls during exception handling.
  src/signals-mach.c
Labels: mac, multithreading, backport 1.9, backport 1.10

#50858 Add a `threadpool` parameter to `Channel` constructor
  base/channels.jl
  test/channel_threadpool.jl
  test/channels.jl
Labels: multithreading, backport 1.9, backport 1.10

#50847 Use imaging mode generated code only
  src/aotcompile.cpp
  src/cgutils.cpp
  src/codegen.cpp
  src/jitlayers.cpp
  src/jitlayers.h
Labels: codegen, llvm

#50874 Restrict COFF to a single thread when symbol count is high
  src/aotcompile.cpp
Labels: codegen, llvm, backport 1.10

#50821 Fix big(1)^big(-1)
  base/gmp.jl
  test/gmp.jl
Labels: bignums

#50822 Add default method for setmodifiers!
  stdlib/REPL/src/REPL.jl
Labels: bugfix

#50049 Docs formatting
  doc/src/manual/functions.md
  doc/src/manual/mathematical-operations.md
Labels: doc, merge me

#50879 various minor changes to the documentation
  base/abstractset.jl
  base/docs/basedocs.jl
  base/essentials.jl
  base/experimental.jl
  base/expr.jl
  base/lock.jl
  base/reflection.jl
  base/strings/basic.jl
  base/task.jl
  doc/src/base/collections.md
  doc/src/manual/functions.md
  doc/src/manual/multi-threading.md
  doc/src/manual/style-guide.md
  doc/src/manual/types.md
Labels: doc

#50730 Fix integer overflow in `isapprox`
  base/floatfuncs.jl
  test/floatfuncs.jl
Labels: maths, merge me

#50674 Base.MPFR: don't `ccall` for special value predicates
  base/mpfr.jl
Labels: bignums

#50426 duck-type some string internals to make StringViews easier
  base/pcre.jl
  base/regex.jl
  base/strings/string.jl
Labels: strings

#50412 Update REPL.fuzzyscore to use string distance
  stdlib/REPL/src/docview.jl
  stdlib/REPL/test/docview.jl
Labels: REPL, merge me

#50133 Changed stacktrace error message to avoid ambiguity
  base/errorshow.jl
  test/errorshow.jl
Labels: error messages

#50852 Add Base prefix to list_deletefirst!
  stdlib/Sockets/src/Sockets.jl
  stdlib/Sockets/src/addrinfo.jl
Labels: Sockets

#49943 small typo in code example in the llvm.md documentation
  doc/src/devdocs/llvm.md
Labels: doc

#50823 Make ranges more robust with unsigned indexes.
  base/range.jl
  base/twiceprecision.jl
  test/ranges.jl
  test/testhelpers/OffsetArrays.jl
Labels: bugfix, ranges, backport 1.9, backport 1.10

#50663 Fix Expr(:loopinfo) codegen
  doc/src/devdocs/llvm-passes.md
  src/codegen.cpp
  src/jl_exported_funcs.inc
  src/llvm-julia-passes.inc
  src/llvm-simdloop.cpp
  src/passes.h
  src/pipeline.cpp
  test/llvmpasses/julia-simdloop-memoryssa.ll
  test/llvmpasses/julia-simdloop.ll
  test/llvmpasses/loopinfo.jl
  test/llvmpasses/parsing.ll
Labels: codegen, bugfix, backport 1.9, backport 1.10

#50696 inference: permit non-direct recursion reducers
  base/compiler/abstractinterpretation.jl
  test/compiler/inference.jl
Labels: inference, merge me

#50916 Remove unnecessary `Symbol` call [NFC]
  stdlib/REPL/src/docview.jl
Labels: REPL

#50899 Skip libraries consisting of the empty string
  src/jitlayers.cpp
  test/ccall.jl
Labels: codegen, bugfix, merge me, llvm

#50922 Change heap-size-hint in test processes to total memory
  test/testenv.jl
Labels: GC, backport 1.10

#50809 Limit type-printing in MethodError
  base/client.jl
  base/errorshow.jl
  base/show.jl
  test/errorshow.jl
Labels: merge me, error messages, backport 1.10

#50926 timing: Check `jl_current_task` is ready before emitting timing events
  src/timing.c
Labels: multithreading, profiler

#50915 Add note the `Task` about sticky bit
  base/docs/basedocs.jl
Labels: doc, multithreading, backport 1.9, backport 1.10

#50935 release-1.10: set VERSON to 1.10.0-beta2
  VERSION
Labels: release

#50929 when widening tuple types in tmerge, only widen the complex parts
  base/compiler/typelimits.jl
  test/compiler/inference.jl
Labels: performance, inference, backport 1.10

#50928 Bump JuliaSyntax to 0.4.6
  deps/JuliaSyntax.version
  deps/checksums/JuliaSyntax-045d156c44dbb87769c7416d049a7c08908539d4.tar.gz/md5
  deps/checksums/JuliaSyntax-045d156c44dbb87769c7416d049a7c08908539d4.tar.gz/sha512
  deps/checksums/JuliaSyntax-8731bab86f14762cca8cf24224d8c7a6a89c21c5.tar.gz/md5
  deps/checksums/JuliaSyntax-8731bab86f14762cca8cf24224d8c7a6a89c21c5.tar.gz/sha512
Labels: parser, backport 1.10

#50507 release-1.9: Backports for 1.9.3
  NEWS.md
  base/abstractarray.jl
  base/bitarray.jl
  base/essentials.jl
  base/parse.jl
  base/range.jl
  base/reflection.jl
  base/threadingconstructs.jl
  doc/src/base/base.md
  doc/src/devdocs/inference.md
  doc/src/manual/multi-threading.md
  src/codegen.cpp
  src/datatype.c
  src/gc.c
  src/intrinsics.cpp
  src/jl_exported_funcs.inc
  src/julia-syntax.scm
  src/julia.h
  src/julia_assert.h
  src/rtutils.c
  src/signals-mach.c
  stdlib/InteractiveUtils/src/InteractiveUtils.jl
  stdlib/LinearAlgebra/src/generic.jl
  stdlib/LinearAlgebra/src/lu.jl
  stdlib/LinearAlgebra/test/dense.jl
  stdlib/LinearAlgebra/test/lu.jl
  stdlib/REPL/src/REPL.jl
  stdlib/REPL/test/repl.jl
  test/bitarray.jl
  test/compiler/codegen.jl
  test/keywordargs.jl
  test/parse.jl
  test/ranges.jl
Labels: release

#50938 Make Broadcast.result_style work on styles with fields.
  base/broadcast.jl
  test/broadcast.jl
Labels: merge me

#50877 Make tuple indexing nice in the IR
  src/cgutils.cpp
  src/codegen.cpp
  test/llvmpasses/names.jl
Labels: codegen, merge me, llvm

#50959 Update libssh2 patches
  deps/libssh2.mk
  deps/patches/libssh2-fix-import-lib-name.patch
  deps/patches/libssh2-mbedtls-size_t.patch
  deps/patches/libssh2-userauth-check.patch
Labels: external dependencies, embarrassing-bugfix, backport 1.10

#50962 fix missing methods in ml_matches results
  src/gf.c
  test/ambiguous.jl
Labels: types and dispatch, bugfix

#50932 types: fix hash values of Vararg
  src/jltypes.c
  test/tuple.jl
Labels: types and dispatch

#50924 Optimizer: Re-use CFG from type inference
  base/compiler/optimize.jl
  base/compiler/ssair/slot2ssa.jl
  base/compiler/ssair/verify.jl
  base/compiler/typeinfer.jl
  test/compiler/interpreter_exec.jl
  test/compiler/irpasses.jl
  test/compiler/irutils.jl
Labels: optimizer

#50908 Add globalDCE and possibly globalsAA to the pipeline
  src/pipeline.cpp
Labels: llvm

#50808 effects: separate `:noub` effect bit from `:consistent`
  base/boot.jl
  base/compiler/abstractinterpretation.jl
  base/compiler/effects.jl
  base/compiler/ssair/show.jl
  base/compiler/tfuncs.jl
  base/compiler/typeinfer.jl
  base/essentials.jl
  base/expr.jl
  base/special/log.jl
  base/special/rem_pio2.jl
  src/julia.h
  src/method.c
  test/compiler/effects.jl
  test/compiler/inference.jl
  test/math.jl
Labels: effects

#50797 Terminfo parser
  NEWS.md
  base/Base.jl
  base/client.jl
  base/terminfo.jl
  base/terminfo_data.jl
  base/ttyhascolor.jl
  test/choosetests.jl
  test/terminfo.jl
Labels: feature, merge me

#50800 docs: warn against `@big_str` not obeying rounding mode or precision
  base/int.jl
  doc/src/manual/integers-and-floating-point-numbers.md
Labels: doc, bignums

#50989 fix incorrect results in `expm1(::Union{Float16, Float32})`
  base/special/exp.jl
  test/math.jl
Labels: priority, bugfix, embarrassing-bugfix, merge me, backport 1.6, backport 1.8, backport 1.9, backport 1.10, correctness bug ⚠

#50691 exact `BigFloat` to IEEE FP conversion in pure Julia
  base/Base.jl
  base/float.jl
  base/mpfr.jl
  base/rawbigints.jl
  base/rounding.jl
  test/mpfr.jl
  test/numbers.jl
  test/rounding.jl
Labels: bugfix, bignums, merge me, float16

#50912 Separate foreign threads into a :foreign threadpool
  base/partr.jl
  base/task.jl
  base/threadingconstructs.jl
  src/partr.c
  src/threading.c
Labels: multithreading, merge me, backport 1.9, backport 1.10

#50991 minor NFC in GC codebase
  src/gc-pages.c
  src/gc.c
  src/gc.h
Labels: GC

#50939 lattice: fix correctness bug in tmerge limiting
  base/compiler/typelimits.jl
  test/compiler/inference.jl
Labels: inference

#50961 Check if dlfind didn't fail when emitting a ccall
  src/jitlayers.cpp
  test/ccall.jl
Labels: bugfix

#44354 🐛 fix bus error on smaller readonly file in unix
  stdlib/Mmap/src/Mmap.jl
Labels: bugfix, merge me, backport 1.10

#50883 Hide message about changed ENV when test is ignored
  test/testdefs.jl
Labels: testsystem, merge me

#50995 Add examples of simple use to `Ref` docs
  base/refpointer.jl
Labels: doc

#50816 Dates: Documentation, tests, and changed arithmetics for `DateTime`
  stdlib/Dates/src/periods.jl
  stdlib/Dates/src/types.jl
  stdlib/Dates/test/arithmetic.jl
  stdlib/Dates/test/periods.jl
  stdlib/Dates/test/types.jl
Labels: dates, deprecation, triage

#50994 Make iterator interface docs clearer
  base/essentials.jl
  doc/src/base/collections.md
  doc/src/manual/interfaces.md
Labels: doc

#51010 Add ORIGIN to SuiteSparse rpath on Linux/FreeBSD
  deps/libsuitesparse.mk
Labels: sparse, bugfix, backport 1.10

#50998 Remove iskind checks in convert_julia_type
  src/codegen.cpp
  test/compiler/codegen.jl
Labels: codegen

#51017 Fix codegen for oc arg mismatch
  base/compiler/optimize.jl
  src/codegen.cpp
  test/opaque_closure.jl
Labels: codegen, bugfix

#51002 define specialized `[in|all|any](x, ::Tuple)` methods with better effects
  base/operators.jl
  base/reduce.jl
  test/operators.jl
  test/reduce.jl
Labels: collections

#51027 Implement realloc accounting correctly
  src/gc.c
Labels: GC, embarrassing-bugfix, merge me, backport 1.10

#51019 fix a case of potentially use of undefined variable when handling error in distributed message processing
  stdlib/Distributed/src/process_messages.jl
Labels: parallel, bugfix, backport 1.9, backport 1.10

#51015 optimizer: fold `ifelse` call with constant condition
  base/compiler/ssair/passes.jl
  test/compiler/irpasses.jl
Labels: performance, optimizer

#51033 release-1.9: set VERSION to 1.9.3
  VERSION
Labels: release

#51022 improve docs for headless tracy usage
  doc/src/devdocs/external_profilers.md
Labels: doc

#51009 fix #50562, regression in `in` of tuple of Symbols
  base/tuple.jl
  test/tuple.jl
Labels: performance, backport 1.10

#50886 Print the stacktrace for wrong error when testing `@test_throws`
  stdlib/Test/src/Test.jl
Labels: testsystem, display and printing

#50943 slot2ssa: remove `TypedSlot`
  base/compiler/inferencestate.jl
  base/compiler/optimize.jl
  base/compiler/ssair/show.jl
  base/compiler/ssair/slot2ssa.jl
  base/compiler/ssair/verify.jl
  base/compiler/typeinfer.jl
  base/compiler/utilities.jl
  base/compiler/validation.jl
  base/show.jl
  doc/src/devdocs/ast.md
  test/compiler/inference.jl
  test/compiler/irpasses.jl
Labels: optimizer

#51039 Revert "Optimize findall(f, ::AbstractArray{Bool}) (#42202)"
  base/array.jl
  test/arrayops.jl
Labels: bugfix, search & find, backport 1.10

#51053 Bump Statistics stdlib
  deps/checksums/Statistics-08562cb8abbe67829e437aa8533994121c350c05.tar.gz/md5
  deps/checksums/Statistics-08562cb8abbe67829e437aa8533994121c350c05.tar.gz/sha512
  deps/checksums/Statistics-a3feba2bb63f06b7f40024185e9fa5f6385e2510.tar.gz/md5
  deps/checksums/Statistics-a3feba2bb63f06b7f40024185e9fa5f6385e2510.tar.gz/sha512
  stdlib/Statistics.version
Labels: backport 1.10

#51038 Update reference to distributing.md in Makefile
  Makefile
Labels: doc

#50987 docs: manual: point to `MutableArithmetics` in the Performance tips
  doc/src/manual/performance-tips.md
Labels: doc

#50491 add @lock doc
  doc/src/base/parallel.md
  doc/src/manual/multi-threading.md
Labels: doc

#49853 Docs: add examples to `istril`/`istriu` docstrings
  stdlib/LinearAlgebra/src/generic.jl
Labels: doc, linear algebra

#51036 add missing invoke edge for nospecialize targets
  base/compiler/ssair/inlining.jl
  src/gf.c
  src/staticdata_utils.c
  test/worlds.jl
Labels: backport 1.10

#51035 refactor GC scanning code to reflect jl_binding_t are now first class
  src/gc.c
  src/gc.h
Labels: GC, backport 1.10

#51055 Fix typo in command-line-interface.md
  doc/src/manual/command-line-interface.md
Labels: doc, merge me

#51042 inference: fix return_type_tfunc modeling of concrete functions
  base/compiler/tfuncs.jl
Labels: performance, inference, backport 1.10

#50934 Fix comment in `load_path_expand()`
  base/initdefs.jl
Labels: doc

#51024 Also print the signature of some called functions in the IR
  src/codegen.cpp
Labels: codegen, llvm

#50514 Forward `axes` to the parent for a `Diagonal`
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/LinearAlgebra/test/diagonal.jl
Labels: linear algebra

#51081 reflection: fix up handling of `Core.Compile.findall`
  base/compiler/methodtable.jl
  base/reflection.jl
Labels: merge me

#51083 Remove size(::StructuredMatrix, d) specializations
  stdlib/LinearAlgebra/src/bidiag.jl
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/LinearAlgebra/src/hessenberg.jl
  stdlib/LinearAlgebra/src/symmetric.jl
  stdlib/LinearAlgebra/src/triangular.jl
  stdlib/LinearAlgebra/src/tridiag.jl
  stdlib/LinearAlgebra/test/bidiag.jl
  stdlib/LinearAlgebra/test/diagonal.jl
  stdlib/LinearAlgebra/test/lq.jl
  stdlib/LinearAlgebra/test/lu.jl
  stdlib/LinearAlgebra/test/tridiag.jl
  stdlib/LinearAlgebra/test/uniformscaling.jl
Labels: linear algebra

#51097 Simplify the docstring for Diagonal
  stdlib/LinearAlgebra/src/diagonal.jl
Labels: doc, linear algebra

#51101 Simplify array creation in `sortslices` docstring
  base/multidimensional.jl
Labels: doc

#51095 Fix edge cases where inexact conversions to UInt don't throw
  base/float.jl
  test/floatfuncs.jl
Labels: maths, bugfix, merge me

#50467 Refactor scalar range getindex
  base/abstractarray.jl
  base/array.jl
  base/range.jl
  base/twiceprecision.jl
Labels: merge me, ranges

#51114 Workaround upstream FreeBSD issue #272992
  src/dlload.c
Labels: freebsd, merge me, backport 1.10

#50805 Refine effects based on optimizer-derived information
  base/compiler/abstractinterpretation.jl
  base/compiler/bootstrap.jl
  base/compiler/effects.jl
  base/compiler/inferencestate.jl
  base/compiler/optimize.jl
  base/compiler/ssair/inlining.jl
  base/compiler/ssair/ir.jl
  base/compiler/ssair/irinterp.jl
  base/compiler/ssair/show.jl
  base/compiler/ssair/slot2ssa.jl
  base/compiler/ssair/verify.jl
  base/compiler/tfuncs.jl
  base/compiler/typeinfer.jl
  base/compiler/validation.jl
  base/reflection.jl
  doc/src/devdocs/inference.md
  src/codegen.cpp
  src/ircode.c
  src/jl_exported_data.inc
  src/jltypes.c
  src/julia-syntax.scm
  src/julia.h
  src/julia_internal.h
  src/method.c
  src/staticdata.c
  stdlib/Serialization/src/Serialization.jl
  test/boundscheck_exec.jl
  test/compiler/AbstractInterpreter.jl
  test/compiler/effects.jl
  test/compiler/inference.jl
  test/compiler/invalidation.jl
  test/compiler/irpasses.jl
  test/compiler/ssair.jl
Labels: effects

#51013 fix #50709, type bound error due to free typevar in sparam env
  base/compiler/abstractinterpretation.jl
  test/compiler/inference.jl
Labels: bugfix, inference, backport 1.10

#50812 Refactor rounding (including bugfixes) and document API
  base/Base.jl
  base/boot.jl
  base/errorshow.jl
  base/float.jl
  base/floatfuncs.jl
  base/gmp.jl
  base/int.jl
  base/missing.jl
  base/mpfr.jl
  base/rounding.jl
  doc/src/base/math.md
  doc/src/manual/interfaces.md
  doc/src/manual/mathematical-operations.md
  test/floatfuncs.jl
  test/rounding.jl
Labels: doc, maths, bugfix

#51094 Add devdocs for how to set up & run the LLVM tests locally
  doc/src/devdocs/llvm.md
Labels: doc
