Repository JuliaLang/julia, pull requests merged in 2023-12, with the labels that each got.

#52359 make custom log macros work
  base/logging.jl
  stdlib/Logging/test/runtests.jl
Labels: bugfix, logging, backport 1.10

#52375 Update VERSION to 1.10.0-rc2
  VERSION
Labels: release

#52342 Add single-term multiplication for `AbstractQ` on v1.10 and above
  stdlib/LinearAlgebra/src/abstractq.jl
  stdlib/LinearAlgebra/test/abstractq.jl
Labels: linear algebra, backport 1.10

#52333 bugfix for dot of Hermitian{noncommutative}
  stdlib/LinearAlgebra/src/symmetric.jl
  stdlib/LinearAlgebra/test/symmetric.jl
  test/testhelpers/Quaternions.jl
Labels: linear algebra, bugfix, merge me, backport 1.6, backport 1.9, backport 1.10

#50661 Implement `cbrt(A::AbstractMatrix{<:Real})`
  NEWS.md
  doc/src/base/math.md
  stdlib/LinearAlgebra/docs/src/index.md
  stdlib/LinearAlgebra/src/LinearAlgebra.jl
  stdlib/LinearAlgebra/src/dense.jl
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/LinearAlgebra/src/symmetric.jl
  stdlib/LinearAlgebra/src/triangular.jl
  stdlib/LinearAlgebra/test/dense.jl
Labels: linear algebra

#52389 Generalize Diagonal * AdjOrTransAbsMat to arbitrary element types
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/LinearAlgebra/test/diagonal.jl
  test/testhelpers/SizedArrays.jl
Labels: linear algebra

#51763 Unalias off-diagonals in Tridiagonal constructor
  stdlib/LinearAlgebra/src/lu.jl
  stdlib/LinearAlgebra/src/tridiag.jl
  stdlib/LinearAlgebra/test/lu.jl
  stdlib/LinearAlgebra/test/tridiag.jl
Labels: linear algebra, merge me

#52401 Remove confusing `::AdjointAbsVec * ::AdjointAbsVec` methods
  stdlib/LinearAlgebra/src/adjtrans.jl
Labels: linear algebra, merge me

#52379 Adjoint for vectors may use trailing axes of the parent
  stdlib/LinearAlgebra/src/adjtrans.jl
  stdlib/LinearAlgebra/test/adjtrans.jl
  test/offsetarray.jl
Labels: linear algebra, merge me

#47105 Update Documenter 0.27.23 => 1.2.1
  doc/Manifest.toml
  doc/make.jl
  stdlib/Dates/docs/src/index.md
Labels: docsystem, merge me

#52388 Declare hermitian/hermitian_type to be public
  stdlib/LinearAlgebra/src/LinearAlgebra.jl
Labels: linear algebra

#52393 Simplify triangular multiplication code slightly
  stdlib/LinearAlgebra/src/triangular.jl
Labels: performance, linear algebra, merge me

#52294 GC scheduler refinements
  src/gc.c
  src/gc.h
Labels: performance, GC

#51930 Add logdet and logabsdet methods for Symmetric/Hermitian matrices
  stdlib/LinearAlgebra/src/symmetric.jl
Labels: linear algebra

#52139 Add Docs.hasdoc
  NEWS.md
  base/docs/Docs.jl
  doc/src/manual/documentation.md
  test/docs.jl
Labels: docsystem

#52406 bugfix: make sure symbol loading from Base.gc_page_utilization_data works on linux
  base/timing.jl
  src/gc.c
Labels: merge me

#52402 Fix completion hint for sub/superscripts
  stdlib/REPL/src/LineEdit.jl
  stdlib/REPL/test/repl.jl
Labels: REPL

#52412 delete unused code from simplevector
  src/builtins.c
  src/ccall.cpp
  src/codegen.cpp
  src/gf.c
  src/jl_exported_funcs.inc
  src/julia_internal.h
  src/module.c
  src/simplevector.c
  src/staticdata.c
  src/toplevel.c
Labels: merge me

#52298 Review annotations and test for allocations in generic matmatmul
  stdlib/LinearAlgebra/src/matmul.jl
  stdlib/LinearAlgebra/test/matmul.jl
Labels: linear algebra

#51961 Aggressive constprop in matvecmul and matmatmul
  stdlib/LinearAlgebra/src/matmul.jl
Labels: linear algebra

#52409 ircode: fix regression (crash) from Memory{T} PR
  src/ircode.c
Labels: embarrassing-bugfix, merge me

#52416 add two-arg `@macroexpand[1]`
  base/expr.jl
  test/errorshow.jl
Labels: merge me

#52422 Return of the `tilebufsize`
  stdlib/LinearAlgebra/src/matmul.jl
Labels: linear algebra

#52419 Sort exported names from LinearAlgebra [nfc]
  stdlib/LinearAlgebra/src/LinearAlgebra.jl
Labels: linear algebra, merge me

#52407 channels: fix memory ordering violation in iterate
  base/channels.jl
Labels: multithreading, bugfix, backport 1.9, backport 1.10

#52374 clarify @views docstring
  base/views.jl
Labels: doc

#51555 Expand geqp3! docs and replace Vectors with Refs
  stdlib/LinearAlgebra/src/lapack.jl
Labels: performance, linear algebra

#52115 Use IndexStyle in `diagind` to optionally return a range of `CartesianIndex`es
  stdlib/LinearAlgebra/src/dense.jl
  stdlib/LinearAlgebra/test/bidiag.jl
  stdlib/LinearAlgebra/test/diagonal.jl
Labels: linear algebra, arrays

#50471 Bunchkaufman- and LU-decomposition based generalized eigenvalues and eigenvectors
  NEWS.md
  base/combinatorics.jl
  stdlib/LinearAlgebra/src/LinearAlgebra.jl
  stdlib/LinearAlgebra/src/bunchkaufman.jl
  stdlib/LinearAlgebra/src/symmetriceigen.jl
  stdlib/LinearAlgebra/test/symmetriceigen.jl
Labels: linear algebra, merge me

#52133 Add `shuffle!` algorithm specialized for `AbstractArray{Bool}`
  stdlib/Random/src/misc.jl
  stdlib/Random/test/runtests.jl
Labels: performance, RNG

#51951 `BLAS.geru!` added
  stdlib/LinearAlgebra/src/blas.jl
  stdlib/LinearAlgebra/test/blas.jl
Labels: linear algebra

#52367 docs: add notes about scratchspaces in depot
  base/initdefs.jl
Labels: doc, merge me

#52428 loading: support extensions for stdlibs (implicit env)
  base/loading.jl
Labels: stdlib, package extensions / weak dependencies (weakdeps)

#52448 [REPLCompletions] support method invalidation
  stdlib/REPL/src/REPLCompletions.jl
  stdlib/REPL/test/replcompletions.jl
Labels: REPL

#46656 make `rationalize` default to use `Int` on `Irrational` (and `Real`)
  base/rational.jl
  test/rational.jl
Labels: rationals, merge me

#52049 add `wrap` function which is the safe counterpart to `unsafe_wrap`.
  NEWS.md
  base/array.jl
  base/exports.jl
  test/arrayops.jl
Labels: arrays, feature, merge me

#52463 use atomics in the write barrier slow path
  src/gc.c
Labels: GC, merge me

#35323 Fix minimum/maximum over dimensions with missing values
  base/reducedim.jl
  test/reducedim.jl
Labels: bugfix

#52424 Use optimised string search methods for substrings, too
  base/strings/search.jl
Labels: performance, strings

#52450 Reduce code duplication in `eigen(::AbstractMatrix)` methods
  stdlib/LinearAlgebra/src/eigen.jl
  stdlib/LinearAlgebra/test/eigen.jl
Labels: linear algebra

#52456 Make `jl_write_coverage_data` dllexported again
  src/coverage.cpp
  src/julia_internal.h
Labels: merge me, backport 1.10

#51948 combine reduce_empty methods for Union{} eltypes
  base/errorshow.jl
  base/reduce.jl
  test/reduce.jl
Labels: merge me

#52468 contrib/check-whitespace: Use / for all platform
  contrib/check-whitespace.jl
Labels: build, windows

#52460 CI: Start the Pkg tests very early on during the test suite
  test/runtests.jl
Labels: ci

#52502 doc/src/manual/arrays.md: fix typo
  doc/src/manual/arrays.md
Labels: doc, merge me

#52309 Make EnterNode save/restore dynamic scope
  base/boot.jl
  base/compiler/abstractinterpretation.jl
  base/compiler/inferencestate.jl
  base/compiler/ssair/ir.jl
  base/compiler/ssair/passes.jl
  base/compiler/ssair/show.jl
  base/compiler/ssair/verify.jl
  base/compiler/tfuncs.jl
  base/compiler/validation.jl
  base/scopedvalues.jl
  base/task.jl
  src/ast.c
  src/builtin_proto.h
  src/builtins.c
  src/codegen.cpp
  src/interpreter.c
  src/jltypes.c
  src/julia-syntax.scm
  src/julia.h
  src/method.c
  src/staticdata.c
  test/core.jl
  test/scopedvalues.jl
Labels: optimizer

#52505 fix alignment of emit_unbox_store copy
  doc/src/devdocs/debuggingtips.md
  src/aotcompile.cpp
  src/cgutils.cpp
  src/intrinsics.cpp
Labels: codegen, bugfix, merge me, backport 1.10

#52461 spawn: permit using IOBuffer as stdout
  NEWS.md
  base/coreio.jl
  base/exports.jl
  base/filesystem.jl
  base/io.jl
  base/iobuffer.jl
  base/iostream.jl
  base/process.jl
  base/stream.jl
  src/support/ios.c
  stdlib/Profile/test/runtests.jl
  test/cmdlineargs.jl
  test/compiler/ssair.jl
  test/spawn.jl
Labels: I/O

#52437 Update crc32c.c register constraints
  src/crc32c.c
Labels: build, bugfix

#52504 Pass mutable copies to inplace LinearAlgebra functions
  stdlib/LinearAlgebra/src/generic.jl
  stdlib/LinearAlgebra/src/triangular.jl
  stdlib/LinearAlgebra/test/generic.jl
  test/testhelpers/FillArrays.jl
Labels: linear algebra

#46604 Expand more Vararg elements during re-intersection if valid.
  src/subtype.c
  test/subtype.jl
Labels: types and dispatch, merge me

#45371 Improve linear indexing performance for FastSubArrays
  base/subarray.jl
  test/subarray.jl
Labels: performance, arrays, merge me

#45794 Reland "gc: avoid cpu stalls when starting"
  src/gc-debug.c
  src/gc.c
  src/julia_internal.h
  src/julia_threads.h
  src/llvm-codegen-shared.h
  src/rtutils.c
  src/safepoint.c
  src/scheduler.c
  src/signals-mach.c
  src/threading.c
Labels: multithreading, GC, merge me, don't squash

#52534 test: fix timeout changed by #52461 accidentally
  stdlib/Profile/test/runtests.jl
Labels: test, embarrassing-bugfix, merge me

#43845 Add preference for version named manifest files
  NEWS.md
  base/loading.jl
  doc/src/manual/code-loading.md
  stdlib/Artifacts/src/Artifacts.jl
  stdlib/Artifacts/test/runtests.jl
  test/loading.jl
Labels: packages, forget me not

#50925 remove unnecessary `\up` (upright) from some latex abbrevs (e.g. \upMu -> \Mu)
  stdlib/REPL/src/latex_symbols.jl
Labels: REPL, merge me

#52261 clarify permutedims docs
  base/permuteddimsarray.jl
Labels: doc, arrays

#52362 Document environment variable JULIA_PKG_PRESERVE_TIERED_INSTALLED
  doc/src/manual/environment-variables.md
Labels: doc, backport 1.9, backport 1.10

#52197 gc: add some guard rails and refinements to MemBalancer
  src/gc-debug.c
  src/gc.c
  src/gc.h
Labels: performance, GC

#52548 fix #52531, fix the effects modeling of `QuoteNode`
  base/compiler/abstractinterpretation.jl
  test/compiler/effects.jl
Labels: effects, backport 1.10

#52554 Log pid of parent process that is running the CI tests
  test/runtests.jl
Labels: test, ci

#52503 Backports release 1.10
  base/channels.jl
  base/compiler/abstractinterpretation.jl
  base/initdefs.jl
  base/logging.jl
  base/reflection.jl
  deps/checksums/clang
  deps/checksums/lld
  deps/checksums/llvm
  deps/clang.version
  deps/lld.version
  deps/llvm-tools.version
  deps/llvm.version
  src/coverage.cpp
  src/gc.c
  src/gc.h
  src/julia_internal.h
  stdlib/LLD_jll/Project.toml
  stdlib/LinearAlgebra/src/abstractq.jl
  stdlib/LinearAlgebra/src/symmetric.jl
  stdlib/LinearAlgebra/test/abstractq.jl
  stdlib/LinearAlgebra/test/symmetric.jl
  stdlib/Logging/test/runtests.jl
  stdlib/SuiteSparse_jll/Project.toml
  stdlib/libLLVM_jll/Project.toml
  test/compiler/effects.jl
  test/testhelpers/Quaternions.jl
Labels: release

#52512 Propagate inbounds in triangular/symmetric/UpperHessenberg get/setindex
  stdlib/LinearAlgebra/src/hessenberg.jl
  stdlib/LinearAlgebra/src/symmetric.jl
  stdlib/LinearAlgebra/src/triangular.jl
  stdlib/LinearAlgebra/test/triangular.jl
Labels: linear algebra, arrays

#52549 Accept IndexStyle in diagind, defaulting to IndexLinear
  stdlib/LinearAlgebra/src/dense.jl
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/LinearAlgebra/src/symmetric.jl
  stdlib/LinearAlgebra/src/uniformscaling.jl
Labels: linear algebra, arrays

#52500 Specialize copy for Diagonal
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/LinearAlgebra/test/diagonal.jl
Labels: linear algebra

#52176 Export method instance lookup functions
  src/gf.c
  src/jl_exported_funcs.inc
  src/julia.h
  src/julia_internal.h
  test/reflection.jl
Labels: merge me

#52568 set VERSION to 1.10.0-rc3
  VERSION
Labels: release

#52494 Fix typo in heuristics of BracketedSort
  base/sort.jl
  test/sorting.jl
Labels: performance, bugfix, sort

#52569 Fix GC rooting during rehashing of iddict
  src/iddict.c
Labels: bugfix, merge me, backport 1.10

#52510 Fix negation for an immutable unit triangular
  stdlib/LinearAlgebra/src/triangular.jl
  stdlib/LinearAlgebra/test/triangular.jl
Labels: linear algebra

#52573 Add --pkgimages=existing.
  NEWS.md
  base/loading.jl
  base/util.jl
  doc/man/julia.1
  doc/src/manual/modules.md
  src/jloptions.c
  src/julia.h
  src/staticdata_utils.c
  test/loading.jl
Labels: packages

#52447 fix isequal_normalized for combining-char reordering
  stdlib/Unicode/src/Unicode.jl
  stdlib/Unicode/test/runtests.jl
Labels: unicode, bugfix, backport 1.8, backport 1.9, backport 1.10

#48536 added promotions for SymTri and Tri
  stdlib/LinearAlgebra/src/tridiag.jl
  stdlib/LinearAlgebra/test/tridiag.jl
Labels: linear algebra

#52570 Specialize `fill!` for `Lower`/`UpperTriangular`
  stdlib/LinearAlgebra/src/triangular.jl
  stdlib/LinearAlgebra/test/triangular.jl
Labels: performance, linear algebra, arrays

#52509 Improve the docstring of `mul!`
  stdlib/LinearAlgebra/src/matmul.jl
Labels: doc, linear algebra

#52565 Expand Nagle DocString
  stdlib/Sockets/src/Sockets.jl
Labels: merge me

#52555 Fix ?(#TAB method search name exploration
  stdlib/REPL/src/REPLCompletions.jl
  stdlib/REPL/test/replcompletions.jl
Labels: REPL, bugfix

#52546 `invperm` for immutable arrays
  base/combinatorics.jl
  test/combinatorics.jl
  test/testhelpers/ImmutableArrays.jl
Labels: arrays

#52587 Additional Phi node semantics details for ssair docs
  doc/src/devdocs/ssair.md
Labels: doc

#52585 inference: fix `istuple` check in `apply_type_tfunc`
  base/compiler/tfuncs.jl
  test/compiler/inference.jl
Labels: inference, backport 1.10

#52559 Document the String constructors for IPv4 and IPv6
  stdlib/Sockets/src/IPAddr.jl
Labels: doc, stdlib, Sockets

#52586 effect: mark `Core.TypeofVararg` as `ismutationfree`
  src/jltypes.c
  test/compiler/effects.jl
Labels: effects

#52597 Don't use `deepcopy_internal(xi, stackdict)` for bits fields
  base/deepcopy.jl
Labels: performance

#52598 remove duplicate increment to freecall in jl_gc_free_memory
  src/gc.c
Labels: merge me

#52340 expand GC developer docs
  doc/src/devdocs/gc.md
  doc/src/devdocs/img/gc-tiered-allocation.jpg
Labels: doc, GC

#52596 Lowering: Insert QuoteNode for captured boxed value
  src/julia-syntax.scm
  test/compiler/effects.jl
Labels: backport 1.10

#51448 When setting `JULIA_DEPOT_PATH` to `/path:`, omit the default user depot
  NEWS.md
  base/initdefs.jl
  doc/src/manual/environment-variables.md
  test/loading.jl
Labels: speculative, packages, minor change

#52616 [release 1.10] backport GC developer docs to 1.10
  doc/src/devdocs/gc.md
  doc/src/devdocs/img/gc-tiered-allocation.jpg
Labels: merge me

#52354 Fix `show` for `MethodList` when methods are from another module
  base/methodshow.jl
  base/reflection.jl
  test/show.jl
Labels: bugfix, display and printing, backport 1.9, backport 1.10, awaiting review

#52594 Remove flakey sorting test
  test/sorting.jl
Labels: test, sort

#52612 [MbedTLS_jll] Update to v2.28.6
  deps/checksums/mbedtls
  deps/mbedtls.version
  stdlib/MbedTLS_jll/Project.toml
  stdlib/MbedTLS_jll/test/runtests.jl
Labels: build, external dependencies, stdlib JLLs

#52567 GC page profiler
  src/Makefile
  src/gc-page-profiler.c
  src/gc-page-profiler.h
  src/gc.c
  stdlib/Profile/src/Profile.jl
  stdlib/Profile/test/runtests.jl
Labels: GC, profiler

#52611 [LibCURL_jll] Update to v8.5.0
  deps/checksums/curl
  deps/curl.version
  stdlib/LibCURL_jll/Project.toml
Labels: build, external dependencies, stdlib JLLs

#44329 Warn if an already loaded package is attempted to be loaded from a different path
  base/loading.jl
Labels: packages, merge me

#52622 Backports for 1.10.0.
  NEWS.md
  base/compiler/tfuncs.jl
  base/methodshow.jl
  base/reflection.jl
  doc/src/manual/environment-variables.md
  src/julia-syntax.scm
  stdlib/REPL/src/REPLCompletions.jl
  stdlib/REPL/test/replcompletions.jl
  stdlib/Unicode/src/Unicode.jl
  stdlib/Unicode/test/runtests.jl
  test/compiler/effects.jl
  test/compiler/inference.jl
  test/show.jl
Labels: release

#52583 Don't access parent of triangular matrix in powm
  stdlib/LinearAlgebra/src/triangular.jl
  stdlib/LinearAlgebra/test/dense.jl
Labels: linear algebra, bugfix, backport 1.9, backport 1.10

#52623 simplification in `permutedims!`
  base/multidimensional.jl
  test/arrayops.jl
Labels: bugfix

#45869 Fix inconsistant logical index behavior
  base/abstractarray.jl
  base/indices.jl
  base/multidimensional.jl
  doc/src/manual/arrays.md
  test/abstractarray.jl
Labels: arrays, bugfix

#52480 Specialize axes for structured matrices
  NEWS.md
  stdlib/LinearAlgebra/src/bidiag.jl
  stdlib/LinearAlgebra/src/hessenberg.jl
  stdlib/LinearAlgebra/src/symmetric.jl
  stdlib/LinearAlgebra/src/triangular.jl
  stdlib/LinearAlgebra/src/tridiag.jl
  stdlib/LinearAlgebra/test/bidiag.jl
  stdlib/LinearAlgebra/test/hessenberg.jl
  stdlib/LinearAlgebra/test/symmetric.jl
  stdlib/LinearAlgebra/test/triangular.jl
  stdlib/LinearAlgebra/test/tridiag.jl
  test/testhelpers/SizedArrays.jl
Labels: linear algebra

#52584 set VERSION to 1.10.0
  VERSION
Labels: release

#52605 Default uplo in symmetric/hermitian
  stdlib/LinearAlgebra/src/symmetric.jl
  stdlib/LinearAlgebra/test/symmetric.jl
Labels: linear algebra, backport 1.10

#52487 Add a fully typed Diagonal constructor from `AbstractMatrix`es
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/LinearAlgebra/test/diagonal.jl
Labels: linear algebra

#52645 update --gcthreads section in command line options
  doc/man/julia.1
  doc/src/manual/command-line-interface.md
Labels: backport 1.10

#52643 Temporarily remove failing sorting tests
  test/sorting.jl
Labels: ci, sort

#52423 update nthreads info in versioninfo
  stdlib/InteractiveUtils/src/InteractiveUtils.jl
Labels: multithreading, backport 1.10

#52652 fix typo in NEWS
  NEWS.md
Labels: doc, merge me

#52665 minor fix in malloc terminology used in docs
  doc/src/manual/performance-tips.md
Labels: doc

#52667 [dSFMT_jll] Upgrade to v2.2.5
  deps/checksums/dsfmt
  deps/dsfmt.version
  stdlib/dSFMT_jll/Project.toml
Labels: build, external dependencies, stdlib JLLs

#51487 Bunch-Kaufman factorization support for generic number types and inertia computations
  NEWS.md
  stdlib/LinearAlgebra/src/bunchkaufman.jl
  stdlib/LinearAlgebra/test/bunchkaufman.jl
Labels: linear algebra

#52618 heap snapshot: add gc roots and gc finalist roots to fix unrooted nodes
  src/gc-heap-snapshot.cpp
  src/gc-heap-snapshot.h
  src/gc.c
  src/gc.h
Labels: merge me, profiler, backport 1.10

#52571 Optimized arithmetic methods for strided triangular matrices
  stdlib/LinearAlgebra/src/triangular.jl
  stdlib/LinearAlgebra/test/triangular.jl
Labels: performance, linear algebra, arrays, merge me

#52413 Add Docs.undocumented_names
  NEWS.md
  base/docs/Docs.jl
  base/docs/utils.jl
  base/reflection.jl
  doc/src/base/base.md
  doc/src/manual/documentation.md
  test/docs.jl
Labels: docsystem
