Repository JuliaLang/julia, pull requests merged in 2023-11, with the labels that each got.

#51947 Fix error when dump() a partial NamedTuple
  base/show.jl
  test/show.jl
Labels: merge me

#48162 update doc references
  base/reflection.jl
  stdlib/InteractiveUtils/src/InteractiveUtils.jl
Labels: doc, merge me

#51952 `AbstractInterpreter`: stash inferred `CodeInfo` even when optimization doesn't happen
  base/compiler/typeinfer.jl
Labels: merge me

#51769 `AbstractInterpreter`: define `add_invalidation_callback!` utility
  base/compiler/utilities.jl
  src/gf.c
  test/compiler/EscapeAnalysis/EAUtils.jl
  test/compiler/invalidation.jl
  test/compiler/newinterp.jl
Labels: compiler plugins

#51935 Implement more missing BFloat16 intrinsics
  src/APInt-C.cpp
  src/APInt-C.h
  src/runtime_intrinsics.c
Labels: float16

#49837 Docs: io-network: list `read(::String)` and `write(::String,::Any)` before `open`
  doc/src/base/io-network.md
Labels: merge me

#27827 Implement copy for SecretBuffer
  base/secretbuffer.jl
  stdlib/LibGit2/src/callbacks.jl
  test/secretbuffer.jl
Labels: merge me

#48119 Clarify documentation of anonymous functions
  doc/src/manual/functions.md
Labels: doc, merge me

#50207 [devdocs] Improve documentation about building external forks of LLVM
  Make.inc
  doc/src/devdocs/build/build.md
Labels: doc, build, external dependencies, merge me

#51938 docs: add some clarifications to methods.md
  doc/src/manual/functions.md
  doc/src/manual/methods.md
Labels: doc, merge me

#51917 When ASAN is enabled, disable DebugObjectManagerPlugin on JITLink+ELF
  src/jitlayers.cpp
Labels: llvm

#51967 further fix to the new promoting method for AbstractDateTime subtraction
  stdlib/Dates/src/arithmetic.jl
  stdlib/Dates/test/arithmetic.jl
Labels: dates, backport 1.10

#48906 Updates documentation for min and max W.R.T missing values
  base/operators.jl
Labels: doc, merge me

#51972 compiler: use `_uncompressed_ir` instead of direct `ccall`
  base/compiler/inferencestate.jl
  base/compiler/ssair/inlining.jl
  base/compiler/utilities.jl
Labels: merge me

#51976 Make Scope immutable
  base/scopedvalues.jl
Labels: merge me

#51978 make NEWS.md link style more consistent
  NEWS.md
Labels: doc

#51974 Stop test printing LLVM IR to stdout
  test/opaque_closure.jl
Labels: test, merge me

#51941 test: eachindex for arbitrary number of arguments
  test/arrayops.jl
Labels: test

#51897 add function `Sys.username()`
  NEWS.md
  base/libc.jl
  base/sysinfo.jl
  doc/src/base/base.md
  test/sysinfo.jl
Labels: merge me

#50274 Update conversion-and-promotion.md with a fuller convert() example
  doc/src/manual/conversion-and-promotion.md
Labels: doc, merge me

#50179 Document the fields of `VersionNumber`
  base/version.jl
  test/version.jl
Labels: doc, merge me

#29919 add more methods and tests for reductions over empty arrays
  base/reduce.jl
  test/reduce.jl
Labels: arrays, maths, forget me not

#51995 [Artifacts] Pass artifacts dictionary to `ensure_artifact_installed` dispatch
  stdlib/Artifacts/src/Artifacts.jl
Labels: merge me, backport 1.9, backport 1.10

#51997 release-1.10: Update VERSION to 1.10-rc1
  VERSION
Labels: release

#36971 Mention export from InteractiveUtils in docs
  doc/src/base/reflection.md
Labels: doc, merge me

#41778 abstractdict: Create separate error type wrong-key insertions
  base/abstractdict.jl
  base/dict.jl
  base/errorshow.jl
  base/iddict.jl
  test/dict.jl
Labels: merge me

#42204 Revise Windows implementation of splitdrive
  base/path.jl
Labels: windows, merge me

#51984 Fixup static analyzer warnings in staticdata.c
  src/Makefile
  src/staticdata.c
  src/staticdata_utils.c
Labels: merge me

#52005 Fix task suspension in GC for JL_TIMING
  src/safepoint.c
Labels: merge me, profiler

#47083 Correcting inconsistencies
  doc/src/manual/variables.md
Labels: doc, merge me

#51991 lowering: Fix accidental clearing of never-undef flag in closure convert
  src/julia-syntax.scm
Labels: lowering

#52008 Fix GC.gc docstring
  base/gcutils.jl
Labels: merge me

#45763 Simplify, 16bit PDP-11 isn't going to be supported
  src/support/dtypes.h
Labels: merge me

#32048 changed broadcast! into bitarray algorithm
  base/broadcast.jl
Labels: performance, broadcast, merge me

#47610 AbstractChannel implementation example
  doc/src/manual/distributed-computing.md
Labels: doc, parallel, merge me

#52015 make pool_live_bytes metric more accurate
  src/gc.c
  src/julia_threads.h
Labels: GC, merge me

#51918 Simplify pivot selection in ScratchQuickSort
  base/sort.jl
Labels: performance, sort

#40764 Fix indexing boolean ranges with empty ranges
  base/range.jl
  test/ranges.jl
Labels: merge me, ranges

#51853 Properly guard UpsilonNode unboxed store
  base/compiler/abstractinterpretation.jl
  base/compiler/optimize.jl
  base/compiler/ssair/slot2ssa.jl
  base/compiler/utilities.jl
  src/cgutils.cpp
  src/codegen.cpp
  stdlib/REPL/src/REPLCompletions.jl
  test/compiler/EscapeAnalysis/EscapeAnalysis.jl
  test/compiler/codegen.jl
  test/compiler/inference.jl
  test/show.jl
Labels: codegen, bugfix, don't squash

#51958 optimize `cfg_simplify!`
  base/compiler/ssair/passes.jl
  test/compiler/irpasses.jl
Labels: performance, optimizer

#52031 Document that `lt` must return a `Bool`
  base/ordering.jl
Labels: doc, sort

#52034 bugfix: load jl_n_threads in jl_gc_pool_live_bytes
  src/gc.c
Labels: GC, bugfix

#51990 interpreter: Fix stacktrace for global incorrectly assumed to be in p…
  src/interpreter.c
  test/stacktraces.jl
Labels: error handling, bugfix, merge me

#52050 update `//` docstring
  base/rational.jl
Labels: doc, maths

#51218 Add attributes to box functions and more attrs to alloc ones
  src/cgutils.cpp
  src/codegen.cpp
  src/llvm-final-gc-lowering.cpp
  src/llvm-late-gc-lowering.cpp
  src/llvm-pass-helpers.cpp
  test/llvmpasses/alloc-opt-gcframe.ll
  test/llvmpasses/final-lower-gc.ll
  test/llvmpasses/late-lower-gc-addrspaces.ll
  test/llvmpasses/late-lower-gc.ll
  test/llvmpasses/names.jl
Labels: codegen, llvm

#52051 bugfix: don't set pool_live_bytes to zero at the end of GC
  src/gc.c
Labels: GC, embarrassing-bugfix, merge me

#52053 Add some spaces for code-readability
  doc/src/manual/arrays.md
Labels: doc, merge me

#52052 Update `complex` docstring with `Missing`
  base/complex.jl
Labels: doc, merge me

#51981 [Profile] add builtin Allocs.print and formatting equivalents to Profile.print
  stdlib/Profile/docs/src/index.md
  stdlib/Profile/src/Allocs.jl
  stdlib/Profile/src/Profile.jl
  stdlib/Profile/test/allocs.jl
  stdlib/Profile/test/runtests.jl
Labels: profiler

#51929 Introduce sizehint!(s, n; shrink = true) to controll shrinkage
  NEWS.md
  base/abstractdict.jl
  base/abstractset.jl
  base/array.jl
  base/dict.jl
  base/set.jl
  base/weakkeydict.jl
  test/dict.jl
  test/sets.jl
  test/smallarrayshrink.jl
Labels: collections

#52017 Make `pop!(::Set{A}, ::B)` return an A, not B
  base/set.jl
  test/sets.jl
Labels: merge me

#51968 Special case memory{T} allocation in ccall handling and allow Array allocation Inlining
  base/boot.jl
  src/ccall.cpp
  src/cgutils.cpp
  src/codegen.cpp
  test/compiler/irpasses.jl
  test/compiler/irutils.jl
  test/llvmpasses/names.jl
Labels: codegen, merge me

#44186 Make `StridedReinterpretArray`'s `get/setindex` pointer based.
  base/reinterpretarray.jl
  test/reinterpretarray.jl
  test/testhelpers/arrayindexingtypes.jl
Labels: performance, arrays

#50457 Permit the construction of a 1D `StepRangeLen` of `CartesianIndex`es
  base/multidimensional.jl
  test/ranges.jl
Labels: triage, ranges

#51979 RFC: make UndefVarError messages more precise and informative
  base/boot.jl
  base/docs/basedocs.jl
  base/errorshow.jl
  base/logging.jl
  doc/src/manual/control-flow.md
  doc/src/manual/distributed-computing.md
  doc/src/manual/faq.md
  doc/src/manual/metaprogramming.md
  doc/src/manual/modules.md
  doc/src/manual/variables-and-scoping.md
  src/ast.c
  src/builtins.c
  src/codegen.cpp
  src/interpreter.c
  src/julia.h
  src/julia_internal.h
  src/module.c
  src/rtutils.c
  stdlib/REPL/src/REPLCompletions.jl
  stdlib/REPL/test/repl.jl
  stdlib/REPL/test/replcompletions.jl
  stdlib/Test/test/runtests.jl
  test/ccall.jl
  test/client.jl
  test/compiler/inference.jl
  test/compiler/inline.jl
  test/core.jl
  test/corelogging.jl
  test/errorshow.jl
  test/subtype.jl
  test/syntax.jl
  test/testdefs.jl
Labels: merge me, error messages

#52086 fix sorting for iterables that define copymutable
  base/sort.jl
  test/sorting.jl
Labels: merge me, sort, backport 1.10

#52082 Mark `GenericMemory` as `IndexLinear`
  base/genericmemory.jl
  test/abstractarray.jl
Labels: merge me

#52083 minor fix on `getfield_nothrow`
  base/compiler/tfuncs.jl
  test/compiler/effects.jl
Labels: bugfix, merge me, effects

#52074 [REPLCompletions] fix `limit_aggressive_inference` code path
  stdlib/REPL/src/REPLCompletions.jl
  stdlib/REPL/test/replcompletions.jl
Labels: REPL, bugfix

#52056 Move profiling manual section to a new tutorials toplevel heading
  doc/make.jl
  doc/src/tutorials/profile.md
Labels: doc, docsystem

#52030 Bump Statistics
  deps/checksums/Statistics-08562cb8abbe67829e437aa8533994121c350c05.tar.gz/md5
  deps/checksums/Statistics-08562cb8abbe67829e437aa8533994121c350c05.tar.gz/sha512
  deps/checksums/Statistics-d147f9253aa0f2f71be9c3fed8d51c2215410408.tar.gz/md5
  deps/checksums/Statistics-d147f9253aa0f2f71be9c3fed8d51c2215410408.tar.gz/sha512
  stdlib/Statistics.version
Labels: backport 1.10

#52098 Fix errors in `sort` docstring
  base/sort.jl
Labels: doc, bugfix, merge me, sort, backport 1.10

#52023 Optimize `pop!(s::Set, x, default)`
  base/set.jl
Labels: performance, collections, merge me

#52081 lowering: avoid calling a generated function to make new IR just for the side-effect of calling diff_names for kwarg error checking
  src/julia-syntax.scm
Labels: lowering

#51903 add sizehint! for first and make append!/prepend! safer
  base/array.jl
  base/bitset.jl
  base/dict.jl
  base/set.jl
  test/abstractarray.jl
  test/arrayops.jl
Labels: merge me

#52110 Add `Dict` test per #52066, tests whether key is updated
  test/dict.jl
Labels: test, merge me

#52104 Add link to external tutorials
  doc/make.jl
  doc/src/tutorials/external.md
Labels: doc, merge me

#52117 Mark the indexing as `@inbounds` in `triu!`
  stdlib/LinearAlgebra/src/dense.jl
Labels: linear algebra, arrays

#51970 Outline potentially undefined globals during lowering
  base/compiler/abstractinterpretation.jl
  base/compiler/utilities.jl
  base/reflection.jl
  doc/src/base/reflection.md
  src/ast.c
  src/jlfrontend.scm
  src/julia-syntax.scm
  src/toplevel.c
  stdlib/Test/src/Test.jl
  test/compiler/inference.jl
  test/core.jl
  test/meta.jl
  test/syntax.jl
Labels: lowering, bugfix, optimizer

#52111 cfg_simplify: Avoid ambiguous magic number
  base/compiler/ssair/passes.jl
  test/compiler/irpasses.jl
Labels: optimizer, merge me, backport 1.10

#52128 Fix typo in devdocs
  doc/src/devdocs/ssair.md
Labels: doc

#52136 Bump JuliaSyntax to 0.4.7
  deps/JuliaSyntax.version
  deps/checksums/JuliaSyntax-4f1731d6ce7c2465fc21ea245110b7a39f34658a.tar.gz/md5
  deps/checksums/JuliaSyntax-4f1731d6ce7c2465fc21ea245110b7a39f34658a.tar.gz/sha512
  deps/checksums/JuliaSyntax-a9110fa8ecbe79943bb9525b4ccd99a3976cfcb7.tar.gz/md5
  deps/checksums/JuliaSyntax-a9110fa8ecbe79943bb9525b4ccd99a3976cfcb7.tar.gz/sha512
Labels: backport 1.10

#51895 Devdocs on fixing precompile hangs, take 2
  doc/make.jl
  doc/src/devdocs/img/precompilation_hang.png
  doc/src/devdocs/precompile_hang.md
  src/jl_uv.c
Labels: doc, precompile, backport 1.10

#52145 release-1.9: bump Pkg to latest v1.9
  deps/checksums/Pkg-397c8bf20ef70a78247d4cbd3d59f28a3116c884.tar.gz/md5
  deps/checksums/Pkg-397c8bf20ef70a78247d4cbd3d59f28a3116c884.tar.gz/sha512
  deps/checksums/Pkg-ffe4615b1e4e39b818a49bb1a06467932d5eaf51.tar.gz/md5
  deps/checksums/Pkg-ffe4615b1e4e39b818a49bb1a06467932d5eaf51.tar.gz/sha512
  stdlib/Pkg.version
Labels: release

#52039 Rewrite sortslices from scratch and add inference tests
  base/multidimensional.jl
  test/arrayops.jl
Labels: performance, sort

#52150 Tweak test LOAD_PATH and fix loading test
  Make.inc
  base/util.jl
  test/Makefile
  test/loading.jl
Labels: test, merge me

#52149 Use libuv thread instead of std::thread to avoid musl issues
  src/aotcompile.cpp
Labels: build, musl

#52153 set VERSION to 1.9.4
  VERSION
Labels: release

#52162 AbsInt: thread lattice throughout `abstract_call_gf_by_type`
  base/compiler/abstractinterpretation.jl
Labels: bugfix, inference

#52116 Transpose elements in `copy_transpose!`
  stdlib/LinearAlgebra/src/transpose.jl
  stdlib/LinearAlgebra/test/adjtrans.jl
Labels: linear algebra, arrays

#52038 Reduce compile time for generic matmatmul
  stdlib/LinearAlgebra/src/adjtrans.jl
  stdlib/LinearAlgebra/src/matmul.jl
  stdlib/LinearAlgebra/test/matmul.jl
  test/testhelpers/Furlongs.jl
Labels: performance, linear algebra

#52172 test: disable bug-report=rr-local on aarch64
  test/cmdlineargs.jl
Labels: test, ci

#52119 make objectid effects total
  base/reflection.jl
  src/builtins.c
  src/ccall.cpp
  src/codegen.cpp
  src/iddict.c
  src/julia_internal.h
  src/staticdata.c
  test/core.jl
  test/precompile.jl
Labels: merge me

#51849 atexit: move hook before precompile output
  NEWS.md
  base/Base.jl
  base/file.jl
  base/initdefs.jl
  contrib/generate_precompile.jl
  src/init.c
  src/jl_uv.c
  src/julia_internal.h
  src/partr.c
  src/signal-handling.c
  src/staticdata_utils.c
  stdlib/Profile/Project.toml
  stdlib/REPL/src/precompile.jl
  test/atexit.jl
Labels: merge me, don't squash

#52140 Make c func `abspath` consistent on Windows. Fix tracking path conversion.
  src/init.c
  test/cmdlineargs.jl
Labels: backport 1.9, backport 1.10

#52009 fix completion that resulted in startpos of 0 for `\\
  base/shell.jl
  stdlib/REPL/src/REPLCompletions.jl
  stdlib/REPL/test/replcompletions.jl
  test/spawn.jl
Labels: REPL, merge me, backport 1.10

#52177 inference: streamline `builtin_effects`
  base/compiler/abstractinterpretation.jl
  base/compiler/optimize.jl
  base/compiler/tfuncs.jl
  base/reflection.jl
  test/compiler/effects.jl
Labels: inference

#52097 Compatible parent index when displaying dots in SubArrays
  base/subarray.jl
  test/subarray.jl
Labels: arrays

#52164 add some instrumentation to measure page utilization per size class
  src/gc.c
  src/gc.h
Labels: GC

#52192 cap the number of GC threads to number of cpu cores
  src/threading.c
Labels: GC, backport 1.10

#52010 Revert "Support sorting iterators (#46104)"
  base/sort.jl
  stdlib/REPL/src/docview.jl
  test/sorting.jl
Labels: backport 1.10

#52182 jitlayers: replace sharedbytes intern pool with one that respects alignment
  src/gc.c
  src/jitlayers.cpp
  src/jitlayers.h
  src/julia_internal.h
Labels: codegen, merge me, backport 1.10

#51611 Move heap_size batching code into pair of functions
  src/gc.c
  src/staticdata.c
Labels: GC, bugfix

#52180 invmod(n::BitInteger): efficient native modular inverses
  NEWS.md
  base/intfuncs.jl
  test/intfuncs.jl
Labels: maths

#52189 codegen: ensure i1 bool is widened to i8 before storing
  src/cgutils.cpp
  src/codegen.cpp
  src/intrinsics.cpp
  test/llvmcall2.jl
Labels: codegen, bugfix, backport 1.10

#52102 Move "Creating Packages" from Pkg.jl docs
  doc/make.jl
  doc/src/manual/style-guide.md
  doc/src/tutorials/creating-packages.md
Labels: doc

#52169 codegen: remove UB from uninitialized bitstypes in new
  src/ccall.cpp
  src/cgutils.cpp
  src/codegen.cpp
  src/intrinsics.cpp
  src/llvm-alloc-helpers.cpp
  src/llvm-alloc-helpers.h
  src/llvm-alloc-opt.cpp
  src/llvm-pass-helpers.cpp
  test/llvmpasses/alloc-opt-pass.ll
Labels: codegen

#52218 [nghttp2_jll] Upgrade to v1.58.0
  deps/checksums/nghttp2
  deps/nghttp2.version
  stdlib/nghttp2_jll/Project.toml
  stdlib/nghttp2_jll/test/runtests.jl
Labels: build, external dependencies, security, stdlib JLLs

#51777 Add `lmul!` and `rmul!` for `Bidiagonal`
  stdlib/LinearAlgebra/src/bidiag.jl
  stdlib/LinearAlgebra/test/bidiag.jl
Labels: linear algebra

#52094 Cartesian indexing for SubArrays with non-integer AbstractRanges
  base/subarray.jl
  test/subarray.jl
Labels: arrays, merge me

#51754 inference: Model type propagation through exceptions
  base/boot.jl
  base/compiler/abstractinterpretation.jl
  base/compiler/effects.jl
  base/compiler/inferencestate.jl
  base/compiler/optimize.jl
  base/compiler/ssair/ir.jl
  base/compiler/ssair/irinterp.jl
  base/compiler/ssair/passes.jl
  base/compiler/ssair/slot2ssa.jl
  base/compiler/ssair/verify.jl
  base/compiler/stmtinfo.jl
  base/compiler/tfuncs.jl
  base/compiler/typeinfer.jl
  base/compiler/types.jl
  base/compiler/utilities.jl
  src/codegen.cpp
  src/gf.c
  src/jltypes.c
  src/julia.h
  src/julia_internal.h
  src/opaque_closure.c
  stdlib/REPL/src/REPLCompletions.jl
  test/compiler/AbstractInterpreter.jl
  test/compiler/inference.jl
  test/core.jl
  test/precompile.jl
Labels: performance, inference

#52210 jitlayers: reduce excess alignment of #52182
  src/jitlayers.h
Labels: merge me

#51755 ASAN fixes.
  src/dlload.c
  src/julia.h
  src/task.c
Labels: bugfix, merge me

#52225 Silence noisy test in `test/cmdlineargs.jl`
  test/cmdlineargs.jl
Labels: test, ci

#51367 tweak the error printed for `PrecompileError` to indicate that it doesn't have to be due to `__precompile__(false)`
  base/loading.jl
Labels: error messages

#52240 inference: add reflection utility for exception type analysis
  base/reflection.jl
  test/reflection.jl
Labels: inference

#52206 Make have_fma consistent between interpreter and compiled
  src/jl_exported_funcs.inc
  src/llvm-cpufeatures.cpp
  src/processor.h
  src/processor_arm.cpp
  src/processor_fallback.cpp
  src/processor_x86.cpp
  src/runtime_intrinsics.c
  test/llvmpasses/cpu-features.ll
  test/sysinfo.jl
Labels: backport 1.10

#52246 Declare `LinearAlgebra.AbstractTriangular` to be public
  stdlib/LinearAlgebra/src/LinearAlgebra.jl
  stdlib/LinearAlgebra/src/triangular.jl
Labels: linear algebra

#52229 add a compile-time option to enable 4k page sizes
  src/gc.h
  src/julia_internal.h
  src/julia_threads.h
  src/options.h
Labels: GC

#52027 fix Unicode.julia_chartransform for Julia 1.10
  base/strings/unicode.jl
  stdlib/Unicode/test/runtests.jl
Labels: unicode, parser, bugfix, backport 1.10

#52072 Add SubArray optimization to sorting
  base/sort.jl
  test/sorting.jl
Labels: performance, sort

#50372 optimize allunique() for sorted collections
  base/set.jl
  test/sets.jl
Labels: performance, arrays, sort

#52228 Widen diagonal var during `Type` unwrapping in `instanceof_tfunc`
  base/compiler/tfuncs.jl
  base/essentials.jl
  src/subtype.c
  test/compiler/inference.jl
  test/core.jl
Labels: inference, merge me

#52006 Add `BracketedSort` a new, faster algorithm for `partialsort` and friends
  base/sort.jl
  test/sorting.jl
Labels: performance, sort

#52194 Fix multiversioning issues caused by the parallel llvm work
  src/llvm-multiversioning.cpp
  src/processor.cpp
  test/compiler/codegen.jl
  test/llvmpasses/multiversioning-x86.ll
Labels: merge me, backport 1.10

#52214 Turn Method Overwritten Error into a PrecompileError -- turning off caching
  base/boot.jl
  base/loading.jl
  src/gf.c
  src/jl_exported_data.inc
  src/jltypes.c
  src/julia.h
  src/staticdata.c
  test/precompile.jl
Labels: backport 1.10

#52252 simpler example for randn
  stdlib/Random/src/normal.jl
Labels: doc, RNG, merge me

#51636 Document and export `Base.in!`
  NEWS.md
  base/exports.jl
  base/set.jl
  doc/src/base/collections.md
  test/sets.jl
Labels: collections, feature, awaiting review

#52274 Add assertion to `_sqrt_quasitriu_diag_block`
  stdlib/LinearAlgebra/src/triangular.jl
Labels: linear algebra

#52290 Improve type-inference in complex eigen
  stdlib/LinearAlgebra/src/eigen.jl
  stdlib/LinearAlgebra/test/eigen.jl
Labels: linear algebra

#52114 optimized (and ordered) IdSet code
  base/idset.jl
  src/Makefile
  src/builtins.c
  src/gc.c
  src/gf.c
  src/iddict.c
  src/idset.c
  src/init.c
  src/jl_exported_data.inc
  src/jltypes.c
  src/julia.h
  src/julia_internal.h
  src/method.c
  src/module.c
  src/smallintset.c
  src/staticdata.c
  sysimage.mk
Labels: performance, merge me

#52311 codegen: fix ssa order regression from initializing structs
  src/cgutils.cpp
Labels: codegen

#52217 More helpful error message for empty `cpu_target` in `Base.julia_cmd`
  base/util.jl
  test/cmdlineargs.jl
Labels: bugfix, backport 1.10

#51371 Memoize `cwstring` when used for env lookup / modification on Windows
  base/env.jl
Labels: performance, windows, merge me, backport 1.6, backport 1.9, backport 1.10

#50177 Document Base.StatStruct's fields as public
  base/stat.jl
  test/file.jl
Labels: doc, merge me

#51993 Compiler support for optimizing PersistentDict
  base/boot.jl
  base/compiler/ssair/passes.jl
  base/dict.jl
  base/hamt.jl
  base/optimized_generics.jl
  test/compiler/irpasses.jl
Labels: optimizer

#52323 cfg_simplify: Handle various corner cases with try/catch blocks
  base/compiler/ssair/passes.jl
  test/compiler/irpasses.jl
Labels: merge me

#52170 fix invalidations related to `ismutable`
  base/reflection.jl
Labels: inference, latency, backport 1.9, backport 1.10

#52328 Remove no-op specializations of `only` [NFC]
  base/iterators.jl
Labels: excision, merge me

#52337 cfg_simplify: Fix bug in my bugfix
  base/compiler/ssair/passes.jl
  test/compiler/irpasses.jl
Labels: bugfix, optimizer

#52336 Fix oracle count violation in sroa_pass!
  base/compiler/ssair/ir.jl
  base/compiler/ssair/passes.jl
  test/compiler/irpasses.jl
Labels: bugfix, optimizer, merge me
