Repository JuliaLang/julia, pull requests merged in 2023-06, with the labels that each got.

#49901 Allocate timing counts on-the-fly + support dynamic events
  src/julia.expmap
  src/julia.h
  src/task.c
  src/timing.c
  src/timing.h
Labels: merge me, profiler

#49684 mention `Cmd(::Vector{String})` in `Cmd` docstring
  base/cmd.jl
Labels: doc

#49893 add Compiler diagram
  doc/src/devdocs/eval.md
  doc/src/devdocs/img/compiler_diagram.png
  doc/src/devdocs/img/compiler_diagram.svg
Labels: doc

#49996 Optimize top_set_bit(::BigInt) and hash(::Real)
  base/float.jl
  base/gmp.jl
Labels: performance, hashing, re-land

#50043 Rename LLVM passes to be suffixed with `Pass`
  src/llvm-cpufeatures.cpp
  src/llvm-demote-float16.cpp
  src/llvm-julia-passes.inc
  src/llvm-late-gc-lowering.cpp
  src/llvm-lower-handlers.cpp
  src/llvm-muladd.cpp
  src/llvm-multiversioning.cpp
  src/llvm-remove-ni.cpp
  src/llvm-simdloop.cpp
  src/passes.h
  src/pipeline.cpp
Labels: merge me, llvm

#50011 fix empty string error in Printf
  stdlib/Printf/src/Printf.jl
  stdlib/Printf/test/runtests.jl
Labels: display and printing

#50047 add docs on task migration
  base/threadingconstructs.jl
  doc/src/manual/multi-threading.md
Labels: doc, multithreading, backport 1.9

#50048 inlining: allow callsite inlining with cached results
  base/compiler/typeinfer.jl
  test/compiler/inline.jl
Labels: optimizer, backport 1.9

#45147 Use xchg to swap boxed values
  src/cgutils.cpp
Labels: multithreading, merge me

#50042 Add LLVMExtra stubs for newpm
  src/codegen-stubs.c
  src/jl_exported_funcs.inc
  src/llvm-julia-passes.inc
  src/llvm_api.cpp
  src/pipeline.cpp
Labels: llvm

#49811 Atomic pointer operations
  base/array.jl
  base/docs/basedocs.jl
  base/exports.jl
  base/pointer.jl
  doc/src/base/base.md
  doc/src/base/c.md
  doc/src/base/multi-threading.md
  test/intrinsics.jl
Labels: merge me

#50067 Fixup `hash(::Real)` broken by #49996
  base/float.jl
  test/hashing.jl
Labels: bugfix, hashing

#50076 fix `hash(::BigInt)` on 32 bit systems
  base/gmp.jl
  test/hashing.jl
Labels: bugfix, bignums, hashing, backport 1.6, backport 1.9

#50080 missing: improve effects for some missing operations
  base/missing.jl
  test/missing.jl
Labels: performance, effects

#50086 add default order for atomics to docstring
  base/expr.jl
Labels: backport 1.9

#50079 array: make `DimensionMismatch` lazy-string friendly
  base/array.jl
  test/ranges.jl
Labels: performance

#49747 Update newpm pass pipeline
  src/pipeline.cpp
Labels: llvm

#50089 release-1.9: Set VERSION to 1.9.1
  VERSION
Labels: release

#50071 Skip flakey tests in CI
  stdlib/LinearAlgebra/test/addmul.jl
  test/cmdlineargs.jl
  test/threads.jl
Labels: ci

#50095 Invoke the passbuilder's extension point callbacks when possible
  src/pipeline.cpp
Labels: llvm

#50104 Fix typo in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: doc

#50056 Update return type in `collect(::Dict)` docs
  base/array.jl
Labels: doc

#50021 Don't use exchange in the hot path of the GC
  src/gc.c
Labels: performance, GC

#50014 mkpidlock: clarify that stale_age is given in seconds
  stdlib/FileWatching/src/pidfile.jl
Labels: doc

#49368 Fail gracefully when attempting pair destructuring
  src/module.c
  test/syntax.jl
Labels: bugfix, minor change, merge me

#50087 Update Unicode.jl
  stdlib/Unicode/src/Unicode.jl
Labels: doc

#50106 effects: audit `EFFECTS_UNKNOWN` usages
  base/compiler/abstractinterpretation.jl
  base/compiler/effects.jl
  base/compiler/tfuncs.jl
Labels: effects

#50008 Fill zeros only if necessary in `Matrix(::Diagonal)` and friends
  stdlib/LinearAlgebra/src/bidiag.jl
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/LinearAlgebra/src/tridiag.jl
  stdlib/LinearAlgebra/test/bidiag.jl
  stdlib/LinearAlgebra/test/diagonal.jl
  stdlib/LinearAlgebra/test/tridiag.jl
Labels: linear algebra, arrays

#49979 Structured display for adjoint/transpose
  stdlib/LinearAlgebra/src/adjtrans.jl
  stdlib/LinearAlgebra/src/symmetric.jl
  stdlib/LinearAlgebra/test/adjtrans.jl
  stdlib/LinearAlgebra/test/symmetric.jl
Labels: linear algebra, arrays, display and printing

#50096 print the skipping bytes notification when skipping printing parts of a string in color
  base/strings/io.jl
Labels: strings

#49525 use a fixed world for code loading
  base/Base.jl
  base/loading.jl
Labels: packages

#50135 [CompilerSupportLibraries_jll] Upgrade to v1.0.5
  deps/checksums/compilersupportlibraries
  stdlib/CompilerSupportLibraries_jll/Project.toml
Labels: windows, external dependencies, stdlib JLLs, backport 1.9

#50077 speed up expansion and lowering of ccall macro
  base/c.jl
  src/julia-syntax.scm
  test/ccall.jl
Labels: lowering, latency

#50134 Add check call to getrf!
  stdlib/LinearAlgebra/src/lapack.jl
  stdlib/LinearAlgebra/src/lu.jl
Labels: linear algebra

#49745 Enable JITLink in aarch64 linux.
  NEWS.md
  doc/src/devdocs/build/arm.md
  src/jitlayers.cpp
  src/jitlayers.h
Labels: arm, rr trace included, llvm

#50151 Test: support multiple assignments for `@testset let`
  stdlib/Test/src/Test.jl
Labels: testsystem

#49963 lowering: try to ignore special metadata nodes in tail position
  src/julia-syntax.scm
  test/syntax.jl
Labels: lowering, merge me

#50083 Prevent registering static FASTTLS with multiple libjulias
  cli/loader_lib.c
  src/julia_fasttls.h
Labels: merge me

#49644 Promote objects more eagerly
  src/gc-debug.c
  src/gc-pages.c
  src/gc.c
  src/gc.h
  src/julia_internal.h
Labels: GC

#43427 Add method to rationalize `Rational`
  base/rational.jl
  test/rational.jl
Labels: rationals

#50139 FAQ: Clarify use of PROGRAM_FILE for importable scripts
  doc/src/manual/faq.md
Labels: doc

#50099 Compile JITLink for every platform
  src/codegen.cpp
  src/jitlayers.cpp
  src/jitlayers.h
Labels: llvm

#50111 Add marker passes to various pipeline stages
  doc/src/devdocs/llvm.md
  src/llvm-demote-float16.cpp
  src/passes.h
  src/pipeline.cpp
  test/llvmpasses/pipeline-prints.ll
Labels: llvm

#50182 Allow unquoted symbols for threadpool in `Threads.@spawn`
  base/threadingconstructs.jl
  test/threadpool_use.jl
Labels: multithreading, backport 1.9

#50186 Remove xsaves from Zen cpuspec
  src/processor_x86.cpp
Labels: Kernel Bug 🤯, backport 1.6, backport 1.8, backport 1.9, pkgimage

#49236 Export jl_method_set_source.
  src/method.c
Labels: gpu

#49052 pidlock cache file precompilation
  base/loading.jl
  stdlib/FileWatching/docs/src/index.md
  stdlib/FileWatching/src/FileWatching.jl
  stdlib/FileWatching/src/pidfile.jl
  stdlib/FileWatching/test/pidfile.jl
Labels: precompile

#50171 Fix sorting bugs (esp `MissingOptimization`) that come up when using SortingAlgorithms.TimSort
  base/sort.jl
  test/sorting.jl
Labels: bugfix, missing data, sort, backport 1.9

#50199 Improve effects for Base.fieldindex
  base/reflection.jl
  test/compiler/effects.jl
Labels: performance, effects

#50168 Add some JIT docs
  doc/src/devdocs/jit.md
Labels: doc, llvm

#50211 Emphasize the default base of multiversioning in the documentation, a…
  doc/src/devdocs/sysimg.md
Labels: codegen, llvm, backport 1.9

#50210 Expose the newpm pipeline to a C api
  src/codegen-stubs.c
  src/jl_exported_funcs.inc
  src/pipeline.cpp
Labels: llvm

#46372 Enable JuliaSyntax.jl as an alternative Julia parser
  Makefile
  NEWS.md
  base/.gitignore
  base/Base.jl
  base/boot.jl
  base/client.jl
  base/compiler/compiler.jl
  base/errorshow.jl
  base/meta.jl
  contrib/generate_precompile.jl
  deps/JuliaSyntax.mk
  deps/JuliaSyntax.version
  deps/Makefile
  deps/checksums/JuliaSyntax-ec51994833d78f8c5525bc1647f448dfadc370c1.tar.gz/md5
  deps/checksums/JuliaSyntax-ec51994833d78f8c5525bc1647f448dfadc370c1.tar.gz/sha512
  src/ast.c
  src/toplevel.c
  stdlib/REPL/src/REPLCompletions.jl
  stdlib/REPL/test/replcompletions.jl
  test/backtrace.jl
  test/cmdlineargs.jl
  test/show.jl
  test/strings/basic.jl
  test/syntax.jl
Labels: parser

#46410 Add mutating `stat!` function for non-allocating filesystem `stat`
  base/stat.jl
Labels: performance, filesystem, forget me not

#50094 Name LLVM variables from codegen
  src/aotcompile.cpp
  src/ccall.cpp
  src/cgutils.cpp
  src/codegen.cpp
  src/intrinsics.cpp
  src/jitlayers.cpp
  src/jitlayers.h
  test/cmdlineargs.jl
  test/llvmpasses/llvmcall.jl
Labels: codegen, llvm

#50235 Avoid creating invalid PhiNodes in IR passes
  base/compiler/ssair/irinterp.jl
  base/compiler/ssair/passes.jl
Labels: bugfix, optimizer

#50238 Clear specsigflags correctly for copied code instance
  src/gf.c
Labels: codegen, bugfix

#50208 [build] Allow automatically applying Julia's patches to LLVM source
  deps/llvm.mk
  deps/llvm.version
Labels: build, external dependencies, llvm

#50247 [LibGit2] fix wrong definition of ConfigStruct
  stdlib/LibGit2/src/types.jl
Labels: libgit2, merge me, backport 1.9

#50252 Fixes for the `1.9.1-full` tarball
  deps/llvm.mk
  deps/patches/llvm-ittapi-cmake.patch
  deps/tools/common.mk
Labels: build, bugfix, backport 1.9

#50233 Add note to load_path docstring stating that it is not safe to mutate its return value
  base/initdefs.jl
Labels: doc

#50209 typeintersect: fix `constraintkind` for non-covariant var
  src/subtype.c
  test/subtype.jl
Labels: types and dispatch, merge me

#50263 Check that we don't name constants accidentally
  src/codegen.cpp
Labels: codegen, bugfix, merge me, llvm

#50264 Fix `-full` tarball
  deps/llvm.mk
  deps/patches/llvm-ittapi-cmake.patch
  deps/tools/common.mk
Labels: merge me

#50220 Small fix to running-external-programs.md
  doc/src/manual/running-external-programs.md
Labels: doc

#50147 Document JULIA_CPU_TARGET in environment-variables.md
  doc/src/devdocs/pkgimg.md
  doc/src/manual/command-line-interface.md
  doc/src/manual/environment-variables.md
  doc/src/manual/getting-started.md
Labels: doc

#50272 Limit memory use during 32bit build
  Make.inc
  contrib/generate_precompile.jl
  sysimage.mk
Labels: build, 32-bit, merge me

#50267 `SuiteSparse_jll`: only`dlopen` the libraries if `Base.USE_GPL_LIBS` is true
  stdlib/SuiteSparse_jll/src/SuiteSparse_jll.jl
Labels: sparse, bugfix, merge me, backport 1.6, backport 1.9

#50270 add handling of `sqrt()` function for empty matrices
  stdlib/LinearAlgebra/src/dense.jl
  stdlib/LinearAlgebra/test/dense.jl
Labels: linear algebra

#50137 More scalable pool allocator
  src/gc-debug.c
  src/gc-pages.c
  src/gc.c
  src/gc.h
  src/julia_threads.h
  src/partr.c
  src/support/dtypes.h
Labels: performance, GC

#49714 Mild `AbstractQ` review and refactoring
  stdlib/LinearAlgebra/src/LinearAlgebra.jl
  stdlib/LinearAlgebra/src/abstractq.jl
  stdlib/LinearAlgebra/src/hessenberg.jl
  stdlib/LinearAlgebra/src/lq.jl
  stdlib/LinearAlgebra/src/qr.jl
  stdlib/LinearAlgebra/test/abstractq.jl
  stdlib/LinearAlgebra/test/hessenberg.jl
  stdlib/LinearAlgebra/test/lq.jl
  stdlib/LinearAlgebra/test/qr.jl
Labels: linear algebra

#50282 Add type assertion to inner HermOrSym constructor
  stdlib/LinearAlgebra/src/symmetric.jl
  stdlib/LinearAlgebra/test/symmetric.jl
Labels: linear algebra

#50294 SROA (mutable): re-compute the type for inserted phi nodes
  base/compiler/ssair/passes.jl
  test/compiler/irpasses.jl
Labels: optimizer

#50237 Try to reduce memory usage during sysimg build
  src/aotcompile.cpp
  src/codegen-stubs.c
  src/julia_internal.h
  src/precompile.c
Labels: priority

#50258 Remove unnecessary methods for `CartesianIndices`
  base/multidimensional.jl
  test/abstractarray.jl
Labels: arrays, merge me

#50138 Docs: Bang has other meaning for IO and RNG functions
  doc/src/manual/style-guide.md
Labels: doc, merge me

#50277 AllocOpt: Handle objref with no preserve_end in a single block.
  src/llvm-alloc-opt.cpp
  test/llvmpasses/alloc-opt-pass.ll
Labels: codegen, llvm

#50124 Add section about multithreaded linear algebra to performance tips
  doc/src/manual/performance-tips.md
Labels: doc, linear algebra

#50313 Align meaning for effects and IR flags
  base/boot.jl
  base/compiler/abstractinterpretation.jl
  base/compiler/ssair/inlining.jl
  base/compiler/ssair/ir.jl
  base/compiler/ssair/irinterp.jl
  base/compiler/ssair/passes.jl
  test/compiler/effects.jl
Labels: optimizer

#49673 Rework symmetric generalized `eigen`/`eigvals`
  NEWS.md
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/LinearAlgebra/src/eigen.jl
  stdlib/LinearAlgebra/src/symmetriceigen.jl
  stdlib/LinearAlgebra/test/symmetriceigen.jl
Labels: linear algebra, merge me

#50315 Fix MemorySSA preservation in julia-licm
  src/llvm-julia-licm.cpp
  test/llvmpasses/julia-licm-memoryssa.ll
  test/llvmpasses/julia-licm.ll
Labels: llvm

#50103 Replace `julia` with Julia in faq when referring to the language.
  doc/src/manual/faq.md
Labels: doc

#50324 Reword "how does Julia define its public API" [NFC]
  doc/src/manual/faq.md
Labels: doc, merge me

#50146 [deps] Deal with `USECCACHE=1` in common CMake options
  deps/tools/common.mk
Labels: build, external dependencies

#50323 Revert "Add mutating `stat!` function for non-allocating filesystem `stat`"
  base/stat.jl
Labels: revert

#50332 initialize jl_n_markthreads and jl_n_sweepthreads to be consistent with no parallel GC on bootstrap
  src/init.c
  src/julia.h
Labels: GC, bugfix, merge me

#50331 fix `compatible_vatuple`
  base/compiler/typeutils.jl
  test/compiler/inference.jl
Labels: bugfix

#49405 Change SIMD Loop from Fast to only reassoc/contract
  NEWS.md
  base/simdloop.jl
  src/llvm-muladd.cpp
  src/llvm-simdloop.cpp
  test/llvmpasses/loopinfo.jl
  test/llvmpasses/simdloop.ll
Labels: simd, merge me, llvm

#47116 Round-trip reintrepretation of all bits types
  base/reinterpretarray.jl
  test/core.jl
  test/numbers.jl
  test/reinterpretarray.jl
Labels: types and dispatch

#50341 invokelatest docs should say not exported before 1.9
  base/essentials.jl
  base/reflection.jl
Labels: doc, backport 1.9

#50342 doc fix for @invokelatest
  base/reflection.jl
Labels: doc

#50017 macOS: Add additional flags to OSLIBS
  src/Makefile
  src/mach_dyld_atfork.tbd
Labels: build, mac

#50312 optimizer: Handle path-excluded `Core.ifelse` arguments
  base/compiler/ssair/passes.jl
  test/compiler/irpasses.jl
Labels: merge me

#50218 add `Base.isprecompiled(pkg::PkgId)`
  NEWS.md
  base/loading.jl
  doc/src/base/base.md
  test/precompile.jl
Labels: merge me

#50347 Remove broken conversion of `@fastmath x[i] += 1`
  base/fastmath.jl
  test/fastmath.jl
Labels: maths, bugfix

#48542 Add docs on task-specific buffering using multithreading
  base/threadingconstructs.jl
  doc/src/manual/multi-threading.md
Labels: doc, multithreading, merge me, backport 1.9, backport 1.10

#50090 Backports for 1.9.2
  base/Enums.jl
  base/compiler/abstractinterpretation.jl
  base/compiler/ssair/inlining.jl
  base/compiler/tfuncs.jl
  base/compiler/typeinfer.jl
  base/expr.jl
  base/gmp.jl
  base/initdefs.jl
  base/loading.jl
  base/options.jl
  base/sort.jl
  base/threadingconstructs.jl
  deps/checksums/Pkg-3fa06b9f96fc8a180f9285447584c84e4d8d8278.tar.gz/md5
  deps/checksums/Pkg-3fa06b9f96fc8a180f9285447584c84e4d8d8278.tar.gz/sha512
  deps/checksums/Pkg-cc71837381da2569b0d8e9d2c6130a13f3f5b8f4.tar.gz/md5
  deps/checksums/Pkg-cc71837381da2569b0d8e9d2c6130a13f3f5b8f4.tar.gz/sha512
  deps/checksums/compilersupportlibraries
  deps/llvm.mk
  deps/patches/llvm-ittapi-cmake.patch
  deps/tools/common.mk
  doc/src/devdocs/sysimg.md
  doc/src/manual/multi-threading.md
  doc/src/manual/running-external-programs.md
  src/gc.c
  src/intrinsics.cpp
  src/jloptions.c
  src/jloptions.h
  src/jltypes.c
  src/julia_internal.h
  src/processor_x86.cpp
  src/runtime_intrinsics.c
  src/safepoint.c
  src/staticdata.c
  src/threading.c
  stdlib/CompilerSupportLibraries_jll/Project.toml
  stdlib/Distributed/src/cluster.jl
  stdlib/LibGit2/src/types.jl
  stdlib/LinearAlgebra/src/lapack.jl
  stdlib/LinearAlgebra/src/lu.jl
  stdlib/Pkg.version
  stdlib/SuiteSparse_jll/src/SuiteSparse_jll.jl
  test/atexit.jl
  test/compiler/inference.jl
  test/compiler/inline.jl
  test/compiler/irutils.jl
  test/enums.jl
  test/hashing.jl
  test/intrinsics.jl
  test/precompile.jl
  test/sorting.jl
  test/threadpool_use.jl
Labels: release

#50362 Fix typos in 2x2 matmatmul
  stdlib/LinearAlgebra/src/matmul.jl
  stdlib/LinearAlgebra/test/matmul.jl
Labels: linear algebra, embarrassing-bugfix, merge me, backport 1.10

#50343 Add escape hatch to avoid demoting float16 operations for unknown arc…
  src/llvm-demote-float16.cpp
Labels: float16, llvm

#50357 ensure objects beyond bump allocated region are inserted into the object pool freelist
  src/gc.c
Labels: merge me

#50366 Fix typos in symmetric eigendecomposition code
  stdlib/LinearAlgebra/src/symmetriceigen.jl
  stdlib/LinearAlgebra/test/symmetriceigen.jl
  stdlib/LinearAlgebra/test/testgroups
Labels: linear algebra, bugfix, merge me

#50340 Forward transpose(realQ) to Q' on 1.9
  stdlib/LinearAlgebra/src/qr.jl
  stdlib/LinearAlgebra/test/special.jl
Labels: linear algebra, merge me

#50373 sroa: Mark dead setfields as EFFECT_FREE
  base/compiler/ssair/passes.jl
Labels: performance, optimizer, merge me
