Repository JuliaLang/julia, pull requests merged in 2023-09, with the labels that each got.

#51134 reflection: make error message clearer when using methods wrong
  base/reflection.jl
Labels: merge me

#51092 inference: fix bad effects for recursion
  base/boot.jl
  base/compiler/abstractinterpretation.jl
  base/compiler/tfuncs.jl
  base/compiler/typeinfer.jl
  base/essentials.jl
  base/promotion.jl
  base/reflection.jl
  base/tuple.jl
  test/compiler/AbstractInterpreter.jl
  test/compiler/effects.jl
  test/compiler/inference.jl
Labels: bugfix, inference, backport 1.10

#50892 Add `JL_DLLIMPORT` to `small_typeof` declaration
  cli/jl_exports.h
  src/Makefile
  src/aotcompile.cpp
  src/builtins.c
  src/cgutils.cpp
  src/codegen.cpp
  src/gc.c
  src/jltypes.c
  src/julia.expmap.in
  src/julia.h
  src/processor.cpp
  src/processor.h
  src/staticdata.c
  test/embedding/embedding.c
Labels: windows, embedding, merge me, backport 1.10

#51135 simplify call to promote_eltype with repeated elements
  base/abstractarray.jl
Labels: performance, bugfix

#50447 Make OffsetArray maximum! not as type unstable
  test/offsetarray.jl
  test/testhelpers/OffsetArrays.jl
Labels: performance, merge me

#51122 fix rawbigints
  base/mpfr.jl
  base/rawbigints.jl
  test/precompile.jl
Labels: bignums, merge me

#51140 Document and clean up CodegenParams
  base/reflection.jl
  src/cgutils.cpp
  src/codegen.cpp
  src/julia.h
Labels: doc, codegen, merge me

#51154 broadcast: use recursion rather than ntuple to map over a tuple
  base/broadcast.jl
  test/broadcast.jl
Labels: broadcast, inference, merge me, backport 1.10

#51153 fix debug typo in "add missing invoke edge for nospecialize targets (#51036)"
  src/staticdata_utils.c
Labels: embarrassing-bugfix, merge me, backport 1.10

#51151 Metric for number of live bytes in the pool allocator
  src/gc.c
  src/jl_exported_funcs.inc
Labels: merge me

#50974 Standardize the entry-point for Julia execution
  NEWS.md
  base/client.jl
  doc/src/manual/command-line-interface.md
  src/jlapi.c
  stdlib/REPL/src/REPL.jl
  test/cmdlineargs.jl
Labels: minor change

#51143 optimizer: Do not run if we know the function is ConstABI eligible
  base/compiler/typeinfer.jl
  test/compiler/AbstractInterpreter.jl
  test/compiler/EscapeAnalysis/interprocedural.jl
  test/compiler/EscapeAnalysis/local.jl
  test/compiler/codegen.jl
  test/compiler/irpasses.jl
Labels: optimizer

#51160 Put back `@inline` on unsafe_getindex
  base/abstractarray.jl
Labels: performance

#51172 build: don't default to m(arch|cpu|tune)=native when cross-compiling
  Make.inc
Labels: merge me

#51161 Allow SparseArrays to catch `lu(::WrappedSparseMatrix)`
  stdlib/LinearAlgebra/src/lu.jl
Labels: linear algebra, merge me

#51196 Revert "Standardize the entry-point for Julia execution (#50974)"
  NEWS.md
  base/client.jl
  doc/src/manual/command-line-interface.md
  src/jlapi.c
  stdlib/REPL/src/REPL.jl
  test/cmdlineargs.jl
Labels: revert

#51195 Bugfix: Convert numbers to Int in extendedterminfo
  base/terminfo.jl
Labels: merge me

#51210 Fix typos in JuliaSyntax.mk
  deps/JuliaSyntax.mk
Labels: merge me

#51214 [FileWatching] clarify mkpidlock docstring
  stdlib/FileWatching/src/pidfile.jl
Labels: doc, stdlib

#51213 Wait for other threads to finish compiling before exiting
  src/codegen.cpp
Labels: merge me

#51193 Fix extended help hint to give full line to enter
  stdlib/REPL/src/docview.jl
Labels: REPL, merge me

#51188 optimizer: skip post-opt IPO analysis when effects are precise already
  base/compiler/optimize.jl
Labels: optimizer, merge me

#51199 slot2ssa: Fix spurious φᶜ edges
  base/compiler/inferencestate.jl
  base/compiler/ssair/slot2ssa.jl
  test/compiler/irpasses.jl
Labels: merge me

#51220 Introduce cholesky and qr hooks for wrapped sparse matrices
  stdlib/LinearAlgebra/src/cholesky.jl
  stdlib/LinearAlgebra/src/qr.jl
Labels: linear algebra, merge me

#51164 add PersistentDict based on a HAMT
  base/dict.jl
  base/hamt.jl
  doc/src/base/collections.md
  test/dict.jl
Labels: collections

#51234 Fix getfield codegen for tuple inputs and unknown symbol fields.
  src/codegen.cpp
  test/compiler/codegen.jl
Labels: codegen, bugfix, merge me

#51231 Include JuliaSyntax.jl from the build directory.
  base/Base.jl
  deps/JuliaSyntax.mk
Labels: build

#51222 Check again if the tty is open inside the IO lock
  base/stream.jl
Labels: merge me

#51171 Warn about mutating keys in Dict docstring.
  base/dict.jl
Labels: doc, collections

#51247 Check if malloc has succeeded before incrementing gc stats
  src/gc.c
Labels: GC, bugfix, backport 1.10

#51155 Update man page with internet resources and licensing
  doc/man/julia.1
Labels: doc

#51236 Add lock around uv_unref during init
  base/libuv.jl
Labels: I/O, multithreading, backport 1.9, backport 1.10

#51014 SROA: remove dead lifting cache mechanism
  base/compiler/ssair/passes.jl
Labels: performance

#51243 GMP: Gracefully handle more overflows.
  deps/checksums/gmp
  deps/gmp.mk
  deps/patches/gmp-more_alloc_overflow.patch
  stdlib/GMP_jll/Project.toml
  test/gmp.jl
Labels: bugfix, backport 1.10

#51254 Ryu: make sure adding zeros does not overwrite trailing dot
  base/ryu/exp.jl
  base/ryu/fixed.jl
  test/ryu.jl
Labels: bugfix, backport 1.6, backport 1.8, backport 1.9, backport 1.10

#51175 shorten stale_age for cachefile lock
  base/loading.jl
Labels: merge me, backport 1.10

#51229 Add repl tab complete hints while typing
  NEWS.md
  stdlib/REPL/docs/src/index.md
  stdlib/REPL/src/LineEdit.jl
  stdlib/REPL/src/options.jl
  stdlib/REPL/test/repl.jl
Labels: REPL

#51298 cross-reference pathof and pkgdir in docstrings
  base/loading.jl
Labels: doc, merge me

#51294 use LibGit2_jll for LibGit2 library
  pkgimage.mk
  stdlib/LibGit2/Project.toml
  stdlib/LibGit2/src/LibGit2.jl
  stdlib/LibGit2/src/blame.jl
  stdlib/LibGit2/src/blob.jl
  stdlib/LibGit2/src/callbacks.jl
  stdlib/LibGit2/src/commit.jl
  stdlib/LibGit2/src/config.jl
  stdlib/LibGit2/src/diff.jl
  stdlib/LibGit2/src/error.jl
  stdlib/LibGit2/src/index.jl
  stdlib/LibGit2/src/merge.jl
  stdlib/LibGit2/src/oid.jl
  stdlib/LibGit2/src/rebase.jl
  stdlib/LibGit2/src/reference.jl
  stdlib/LibGit2/src/remote.jl
  stdlib/LibGit2/src/repository.jl
  stdlib/LibGit2/src/signature.jl
  stdlib/LibGit2/src/status.jl
  stdlib/LibGit2/src/tag.jl
  stdlib/LibGit2/src/tree.jl
  stdlib/LibGit2/src/types.jl
  stdlib/LibGit2/src/utils.jl
  stdlib/LibGit2/src/walker.jl
  stdlib/LibGit2/test/libgit2-tests.jl
  test/precompile.jl
Labels: backport 1.10

#51273 make "dec" and ryu functions faster and simpler
  base/intfuncs.jl
  base/ryu/exp.jl
  base/ryu/fixed.jl
  base/ryu/shortest.jl
  base/ryu/utils.jl
Labels: performance

#51300 fix method definition error for bad vararg
  src/method.c
  test/syntax.jl
Labels: error handling, bugfix, merge me, backport 1.10

#51275 remove wasted allocation space for JL_ARRAY_IMPL_NUL
  base/c.jl
  src/array.c
  src/jl_exported_funcs.inc
  src/julia_internal.h
  test/core.jl
Labels: merge me

#51305 reduce test time for rounding and floatfuncs
  test/floatfuncs.jl
  test/rounding.jl
Labels: test, merge me, backport 1.10

#50105 Add public keyword
  base/docs/basedocs.jl
  base/exports.jl
  base/reflection.jl
  base/show.jl
  deps/JuliaSyntax.version
  deps/checksums/JuliaSyntax-045d156c44dbb87769c7416d049a7c08908539d4.tar.gz/md5
  deps/checksums/JuliaSyntax-045d156c44dbb87769c7416d049a7c08908539d4.tar.gz/sha512
  deps/checksums/JuliaSyntax-a9110fa8ecbe79943bb9525b4ccd99a3976cfcb7.tar.gz/md5
  deps/checksums/JuliaSyntax-a9110fa8ecbe79943bb9525b4ccd99a3976cfcb7.tar.gz/sha512
  doc/src/base/base.md
  doc/src/base/reflection.md
  doc/src/manual/faq.md
  doc/src/manual/modules.md
  doc/src/manual/noteworthy-differences.md
  src/ast.c
  src/builtins.c
  src/jl_exported_funcs.inc
  src/julia-syntax.scm
  src/julia.h
  src/julia_internal.h
  src/module.c
  src/toplevel.c
  stdlib/InteractiveUtils/src/InteractiveUtils.jl
  stdlib/REPL/src/docview.jl
  stdlib/REPL/test/docview.jl
  stdlib/REPL/test/repl.jl
  test/docs.jl
  test/precompile.jl
  test/reflection.jl
  test/show.jl
Labels: doc

#51284 Avoid infinite loop when doing SIGTRAP in arm64-apple
  src/signals-unix.c
Labels: apple silicon

#51321 Tweaks to repl tab complete hints
  stdlib/REPL/docs/src/index.md
  stdlib/REPL/src/LineEdit.jl
  stdlib/REPL/test/repl.jl
Labels: REPL, merge me

#49228 [docs] add performance tip concerning overly-fused broadcast loops
  doc/src/manual/functions.md
  doc/src/manual/performance-tips.md
Labels: doc, broadcast

#51328 doc: correct unicode-input table generation
  doc/src/manual/unicode-input.md
Labels: doc

#51326 complete false & true more generally as vals
  stdlib/REPL/src/REPLCompletions.jl
  stdlib/REPL/test/replcompletions.jl
Labels: REPL, backport 1.9, backport 1.10

#51334 Fix typo in basedocs.jl
  base/docs/basedocs.jl
Labels: doc, bugfix, merge me

#51336 Make the persistent dict API less strict.
  base/dict.jl
  base/hamt.jl
  test/dict.jl
Labels: collections

#51332 Add s4 field to Xoshiro
  stdlib/Random/src/Xoshiro.jl
Labels: RNG

#50927 inference: apply tmerge limit elementwise to the Union
  base/compiler/abstractinterpretation.jl
  base/compiler/inferencestate.jl
  base/compiler/typelimits.jl
  base/compiler/typeutils.jl
  test/compiler/inference.jl
Labels: inference

#51337 Deprecate `permute!!` and `invpermute!!`
  base/combinatorics.jl
  base/deprecated.jl
Labels: excision, merge me

#51178 Improve help grammar for field hints
  stdlib/REPL/src/docview.jl
  stdlib/REPL/test/docview.jl
Labels: doc

#51318 EA: perform analysis once for post-optimization IR, and remove `IPO EA`
  base/compiler/bootstrap.jl
  base/compiler/optimize.jl
  base/compiler/ssair/EscapeAnalysis/EscapeAnalysis.jl
  base/compiler/ssair/EscapeAnalysis/interprocedural.jl
  test/choosetests.jl
  test/compiler/EscapeAnalysis/EAUtils.jl
  test/compiler/EscapeAnalysis/EscapeAnalysis.jl
  test/compiler/EscapeAnalysis/interprocedural.jl
  test/compiler/EscapeAnalysis/setup.jl
Labels: optimizer

#50958 Scoped values
  NEWS.md
  base/Base.jl
  base/boot.jl
  base/exports.jl
  base/logging.jl
  base/scopedvalues.jl
  doc/make.jl
  doc/src/base/scopedvalues.md
  src/jltypes.c
  src/julia.h
  src/task.c
  test/choosetests.jl
  test/scopedvalues.jl
Labels: multithreading, feature

#46501 Upgradeable Statistics stdlib
  NEWS.md
  deps/checksums/Pkg-0b9334a944fbc1ba3c230138ba339bd22d58064f.tar.gz/md5
  deps/checksums/Pkg-0b9334a944fbc1ba3c230138ba339bd22d58064f.tar.gz/sha512
  deps/checksums/Pkg-ff6d645cd8bd18f4d22f6b5a24ff0234cf193fa5.tar.gz/md5
  deps/checksums/Pkg-ff6d645cd8bd18f4d22f6b5a24ff0234cf193fa5.tar.gz/sha512
  deps/checksums/Statistics-04e5d8916fae616f5ad328cf6a0b94cf883b8ba6.tar.gz/md5
  deps/checksums/Statistics-04e5d8916fae616f5ad328cf6a0b94cf883b8ba6.tar.gz/sha512
  deps/checksums/Statistics-a3feba2bb63f06b7f40024185e9fa5f6385e2510.tar.gz/md5
  deps/checksums/Statistics-a3feba2bb63f06b7f40024185e9fa5f6385e2510.tar.gz/sha512
  doc/src/manual/modules.md
  pkgimage.mk
  stdlib/Pkg.version
  stdlib/Random/Project.toml
  stdlib/Statistics.version
  test/loading.jl
Labels: statistics

#51345 Don't give public but unexported symbols as repl completions in an unqualified context
  stdlib/REPL/src/REPLCompletions.jl
  stdlib/REPL/test/replcompletions.jl
Labels: REPL, bugfix, merge me

#51339 Tweaks to repl tab complete hints - pt. 2
  stdlib/REPL/src/LineEdit.jl
Labels: REPL

#50385 Precompile pidlocks: add to NEWS and docs
  HISTORY.md
  doc/src/manual/faq.md
Labels: backport 1.10

#47099 mention `getindex()` shouldn't return a "view"
  base/abstractarray.jl
  doc/src/manual/interfaces.md
Labels: doc

#51355 TaskLocalRNG: test that `copy` handles the splitmix state
  stdlib/Random/test/runtests.jl
Labels: test, RNG

#51349 Add cross-references between codeview functions/macros
  stdlib/InteractiveUtils/src/codeview.jl
  stdlib/InteractiveUtils/src/macros.jl
Labels: doc

#51029 testdefs: make sure that if a test set changes the active project, they change it back when they're done
  test/testdefs.jl
Labels: testsystem, backport 1.10

#51351 Remove boxing in pinv
  stdlib/LinearAlgebra/src/dense.jl
Labels: performance, linear algebra

#51259 A few libgit2 improvements/fixes
  deps/checksums/libgit2
  deps/libgit2.version
  stdlib/LibGit2/src/LibGit2.jl
  stdlib/LibGit2/src/commit.jl
  stdlib/LibGit2/src/consts.jl
  stdlib/LibGit2/src/error.jl
  stdlib/LibGit2/src/remote.jl
  stdlib/LibGit2/src/types.jl
  stdlib/LibGit2/test/libgit2-tests.jl
  stdlib/LibGit2/test/online-tests.jl
  stdlib/LibGit2_jll/Project.toml
  stdlib/LibGit2_jll/src/LibGit2_jll.jl
  stdlib/LibGit2_jll/test/runtests.jl
Labels: build, libgit2, stdlib, stdlib JLLs

#50901 Test that replace throws Method error for Pair arguments
  test/sets.jl
Labels: test

#50688 Update Condition() docs to highlight return value and error
  base/condition.jl
Labels: doc

#51338 Fix debug level check and add types to allocations in the IR
  src/cgutils.cpp
  src/codegen.cpp
  test/llvmpasses/names.jl
Labels: codegen, merge me

#51353 Move thread name after ptls field to avoid changing offsets
  src/julia.h
Labels: build

#51370 Add environment variable to force the use of the fallback repl
  base/client.jl
  doc/src/manual/environment-variables.md
Labels: REPL

#51379 Fix typo: " is is "
  stdlib/Random/src/RNGs.jl
  stdlib/Unicode/src/Unicode.jl
  test/subtype.jl
Labels: doc, merge me

#50535 Add alloc-free in-place `Tridiagonal` solves and `lu!`
  stdlib/LinearAlgebra/src/lu.jl
  stdlib/LinearAlgebra/src/tridiag.jl
  stdlib/LinearAlgebra/test/tridiag.jl
Labels: linear algebra

#51382 Make `cache_file_entry` more type stable
  base/loading.jl
Labels: merge me

#51384 Make Ctrl-D not hang in the fallback repl
  base/client.jl
Labels: REPL

#51380 Change 'nonnegative' to 'non-negative'
  base/abstractarray.jl
  base/array.jl
  base/bitarray.jl
  base/compiler/optimize.jl
  base/intfuncs.jl
  base/iterators.jl
  base/multinverses.jl
  base/range.jl
  base/rawbigints.jl
  doc/src/manual/control-flow.md
  test/show.jl
Labels: merge me

#51241 update docs for `package_callbacks`
  doc/src/devdocs/require.md
Labels: doc, merge me

#51232 Inline `_log` to avoid passing symbol argument.
  base/special/log.jl
Labels: performance, merge me

#51397 call Pkg precompile hook in latest world
  base/loading.jl
Labels: backport 1.10

#51363 Docs: Make all env var mentions link to entry
  doc/src/devdocs/aot.md
  doc/src/devdocs/build/distributing.md
  doc/src/devdocs/build/linux.md
  doc/src/devdocs/external_profilers.md
  doc/src/devdocs/llvm-passes.md
  doc/src/devdocs/llvm.md
  doc/src/devdocs/pkgimg.md
  doc/src/devdocs/sysimg.md
  doc/src/manual/command-line-interface.md
  doc/src/manual/environment-variables.md
  doc/src/manual/faq.md
  doc/src/manual/multi-threading.md
  doc/src/manual/profile.md
  stdlib/Logging/docs/src/index.md
  stdlib/Profile/docs/src/index.md
Labels: doc, merge me

#51301 Export num_stack_mappings to track the number of in-flight stack mappings and tasks in application
  src/gc-stacks.c
  src/gc.h
  test/threads.jl
Labels: merge me

#50680 [NFC] rng_split: some elaboration and clarification
  src/task.c
Labels: doc, merge me

#50941 Clarify `searchsortedfirst`/`searchsortedlast` docstrings
  base/sort.jl
Labels: doc, search & find

#51189 move Pkg out of the sysimage (take 2)
  base/sysimg.jl
  contrib/generate_precompile.jl
  deps/checksums/Pkg-cf0019fbbaf3ab1e606d4e973c1908bbd899a9d5.tar.gz/md5
  deps/checksums/Pkg-cf0019fbbaf3ab1e606d4e973c1908bbd899a9d5.tar.gz/sha512
  deps/checksums/Pkg-ff6d645cd8bd18f4d22f6b5a24ff0234cf193fa5.tar.gz/md5
  deps/checksums/Pkg-ff6d645cd8bd18f4d22f6b5a24ff0234cf193fa5.tar.gz/sha512
  pkgimage.mk
  stdlib/Pkg.version
  stdlib/REPL/src/REPL.jl
Labels: packages

#51403 inference: follow up the `Vararg` fix in `abstract_call_unionall`
  base/compiler/abstractinterpretation.jl
  test/compiler/inference.jl
Labels: inference

#51368 Make sysimg only recompile when stdlibs that are contained within change
  pkgimage.mk
  stdlib/stdlib.mk
  sysimage.mk
Labels: build

#51413 don't print task backtrace for GC threads
  src/stackwalk.c
Labels: GC

#51376 make `hash(::Xoshiro)` compatible with `==`
  stdlib/Random/src/Xoshiro.jl
  stdlib/Random/test/runtests.jl
Labels: RNG, bugfix, backport 1.10

#51427 add note to `Experimental.@sync` explaining difference to `@sync`
  base/experimental.jl
Labels: multithreading

#51282 parallelize sweeping of object pools
  src/gc-debug.c
  src/gc-pages.c
  src/gc.c
  src/gc.h
  src/julia_threads.h
  src/partr.c
  src/threading.c
  src/threading.h
Labels: performance, GC

#51399 Excise REPL and its dependencies from sysimg
  Makefile
  base/client.jl
  base/docs/Docs.jl
  base/loading.jl
  base/sysimg.jl
  base/terminfo.jl
  base/util.jl
  contrib/generate_precompile.jl
  doc/Manifest.toml
  pkgimage.mk
  stdlib/REPL/Project.toml
  stdlib/REPL/src/REPL.jl
  stdlib/REPL/src/precompile.jl
  stdlib/REPL/test/repl.jl
  stdlib/stdlib.mk
  test/cmdlineargs.jl
  test/loading.jl
  test/precompile.jl
Labels: REPL, excision

#51424 Update libunwind to v1.7.2.
  deps/checksums/unwind
  deps/patches/libunwind-cfa-rsp.patch
  deps/patches/libunwind-dwarf-table.patch
  deps/patches/libunwind-non-empty-structs.patch
  deps/patches/libunwind-prefer-extbl.patch
  deps/patches/libunwind-static-arm.patch
  deps/unwind.mk
  deps/unwind.version
  stdlib/LibUnwind_jll/Project.toml
Labels: build, external dependencies, stdlib JLLs

#51422 Fixes and improvements for source builds
  Make.inc
  deps/gmp.mk
  deps/llvm.mk
  deps/patches/gmp-more_alloc_overflow.patch
Labels: build

#51426 Make LBT verbose when LBT_VERBOSE is set.
  stdlib/LinearAlgebra/src/LinearAlgebra.jl
Labels: linear algebra

#51333 Public keyword documentation fixups (mostly adding compat entries)
  base/docs/basedocs.jl
  base/reflection.jl
  doc/src/manual/modules.md
Labels: doc

#51322 Add public keyword to NEWS.md
  NEWS.md
Labels: doc

#51181 Fix error in comment [NFC]
  stdlib/REPL/src/docview.jl
Labels: doc, REPL

#51430 add support for async backtraces of Tasks on any thread
  src/Makefile
  src/gc-stacks.c
  src/gc.c
  src/interpreter.c
  src/julia.h
  src/julia_internal.h
  src/julia_threads.h
  src/mtarraylist.c
  src/signals-mach.c
  src/signals-unix.c
  src/signals-win.c
  src/stackwalk.c
  src/threading.c
Labels: multithreading, feature

#51244 improve NTuple show and cleanup code for Vararg and NTuple type parameter construction
  base/show.jl
  src/codegen.cpp
  src/gf.c
  src/jltypes.c
  src/julia.h
  src/method.c
  src/precompile_utils.c
  src/subtype.c
  test/docs.jl
  test/show.jl
Labels: types and dispatch

#51317 inference: avoid inferring unreachable code methods
  base/compiler/abstractinterpretation.jl
  base/compiler/abstractlattice.jl
  base/compiler/optimize.jl
  base/compiler/ssair/inlining.jl
  base/compiler/ssair/passes.jl
  base/compiler/tfuncs.jl
  base/compiler/typelattice.jl
  base/compiler/typeutils.jl
  test/compiler/inference.jl
Labels: inference, merge me

#51477 Bump libunwind JLL to include revert.
  deps/checksums/unwind
  stdlib/LibUnwind_jll/Project.toml
Labels: freebsd

#51152 Add src alignment arg to emit_memcpy
  src/ccall.cpp
  src/cgutils.cpp
  src/codegen.cpp
  src/intrinsics.cpp
Labels: llvm

#51132 Handle `AbstractQ` in concatenation
  base/abstractarray.jl
  stdlib/LinearAlgebra/src/abstractq.jl
  stdlib/LinearAlgebra/src/special.jl
  stdlib/LinearAlgebra/src/uniformscaling.jl
  stdlib/LinearAlgebra/test/special.jl
Labels: linear algebra, backport 1.10

#51385 Random.default_rng: clarify and expand documentation
  stdlib/Random/src/RNGs.jl
Labels: doc, RNG

#51405 Remove fallback that assigns a module to inlined frames.
  base/stacktraces.jl
Labels: backport 1.10

#47743 Add jump functions (`jump`, `long_jump`) for `Xoshiro`
  stdlib/Random/src/Xoshiro.jl
  stdlib/Random/test/runtests.jl
Labels: RNG

#51491 Throw clearer ArgumentError for strip with two string args
  base/strings/util.jl
  test/strings/util.jl
Labels: backport 1.9, backport 1.10

#51496 Update public keyword compat note
  base/docs/basedocs.jl
Labels: doc

#50902 More tests for replace with AbstractDict
  stdlib/Test/src/Test.jl
  test/sets.jl
Labels: test

#51480 Random: reorganize some tests
  stdlib/Random/test/runtests.jl
Labels: test, RNG

#51388 define `Random.GLOBAL_RNG = TaskLocalRNG()`
  stdlib/Random/src/RNGs.jl
  stdlib/Random/src/Random.jl
  stdlib/Random/test/runtests.jl
  stdlib/Test/src/Test.jl
  stdlib/UUIDs/src/UUIDs.jl
  stdlib/UUIDs/test/runtests.jl
Labels: RNG

#51416 Random: allow negative seeds
  NEWS.md
  stdlib/Random/src/RNGs.jl
  stdlib/Random/src/Random.jl
  stdlib/Random/src/Xoshiro.jl
  stdlib/Random/test/runtests.jl
Labels: RNG

#51436 MersenneTwister: hash seeds like for `Xoshiro`
  stdlib/Random/docs/src/index.md
  stdlib/Random/src/DSFMT.jl
  stdlib/Random/src/RNGs.jl
  stdlib/Random/src/Random.jl
  stdlib/Random/src/Xoshiro.jl
  stdlib/Random/src/misc.jl
  stdlib/Random/src/normal.jl
  stdlib/Random/test/runtests.jl
  stdlib/UUIDs/src/UUIDs.jl
Labels: RNG

#50365 improve performance of searchsorted(range, lt=<)
  base/ordering.jl
  base/sort.jl
  test/ordering.jl
  test/sorting.jl
Labels: performance, search & find, sort

#51517 Check addresspace before doing a bitcast for small tags
  src/cgutils.cpp
Labels: codegen, gpu

#51531 fix `_tryonce_download_from_cache` (busybox.exe download error)
  test/spawn.jl
Labels: test, ci, merge me, backport 1.9, backport 1.10
