Repository JuliaLang/julia, pull requests merged in 2024-08, with the labels that each got.

#55256 WIP/NFC: create GC interface for third-party GCs
  base/timing.jl
  doc/src/devdocs/object.md
  src/Makefile
  src/gc-alloc-profiler.cpp
  src/gc-common.c
  src/gc-common.h
  src/gc-debug.c
  src/gc-heap-snapshot.cpp
  src/gc-heap-snapshot.h
  src/gc-interface.h
  src/gc-page-profiler.c
  src/gc-page-profiler.h
  src/gc-pages.c
  src/gc-stacks.c
  src/gc-stock.c
  src/gc-stock.h
  src/julia.h
  src/julia_internal.h
  src/llvm-final-gc-lowering.cpp
  src/llvm-gc-interface-passes.h
  src/llvm-late-gc-lowering.cpp
  src/scheduler.c
  src/signals-unix.c
  src/stackwalk.c
  src/threading.c
Labels: GC

#55327 Profile: Fix stdlib paths
  src/signals-mach.c
  src/signals-unix.c
  src/signals-win.c
  stdlib/Profile/src/Profile.jl
Labels: profiler, backport 1.10, backport 1.11

#55330 [libblastrampoline] Bump to v5.11.0
  deps/blastrampoline.version
  deps/checksums/blastrampoline
  stdlib/libblastrampoline_jll/Project.toml
Labels: backport 1.10, backport 1.11

#55099 ascii=true and fullhex=true flags for escape_string
  NEWS.md
  base/strings/io.jl
  test/strings/io.jl
Labels: domain:unicode, domain:strings

#55259 document the return types of `fieldname` and `fieldnames`
  base/reflection.jl
Labels: domain:docs

#55271 inference: Remove special casing for `!`
  base/compiler/abstractinterpretation.jl
  base/compiler/inferencestate.jl
  base/compiler/tfuncs.jl
  test/compiler/inference.jl
Labels: compiler:inference

#55310 Preserve structure in scaling triangular matrices by NaN
  stdlib/LinearAlgebra/src/triangular.jl
  stdlib/LinearAlgebra/test/triangular.jl
Labels: domain:linear algebra, backport 1.11

#55331 Avoid duplicate stat calls during startup/loading
  base/client.jl
  base/loading.jl
  base/stat.jl
Labels: domain:packages

#45793 Add insertdims method which is inverse to dropdims
  NEWS.md
  base/abstractarraymath.jl
  base/exports.jl
  doc/src/base/arrays.md
  test/arrayops.jl
Labels: domain:arrays, kind:feature

#55289 Move `typename` and `<:` to Core and have inference check by value
  base/boot.jl
  base/compiler/abstractinterpretation.jl
  base/compiler/ssair/inlining.jl
  base/compiler/utilities.jl
  base/errorshow.jl
  base/essentials.jl
  base/operators.jl
  test/reflection.jl
Labels: compiler:inference

#55345 LinearAlgebra: remove internal function _makevector
  stdlib/LinearAlgebra/src/LinearAlgebra.jl
  stdlib/LinearAlgebra/src/bidiag.jl
  stdlib/LinearAlgebra/src/diagonal.jl
Labels: domain:linear algebra

#55329 mapreduce: don't inbounds unknown functions
  base/reduce.jl
  base/reducedim.jl
  test/reducedim.jl
Labels: kind:bugfix, domain:fold

#55356 Profile: close files when assembling heap snapshot
  stdlib/Profile/src/heapsnapshot_reassemble.jl
Labels: status:merge me, backport 1.11

#55343 Condense branches in Bidiagonal indexing
  stdlib/LinearAlgebra/src/bidiag.jl
Labels: domain:linear algebra

#55349 Check only for Hermitian and not Symmetric in matrix exponentiation
  stdlib/LinearAlgebra/src/dense.jl
Labels: domain:linear algebra, domain:arrays

#54653 Create `Base.Fix` as general `Fix1`/`Fix2` for partially-applied functions
  NEWS.md
  base/operators.jl
  base/public.jl
  doc/src/base/base.md
  stdlib/REPL/test/repl.jl
  test/functional.jl
Labels: design, status:triage, kind:feature

#55342 Ensure bidiagonal setindex! does not read indices in error message
  stdlib/LinearAlgebra/src/bidiag.jl
  stdlib/LinearAlgebra/test/bidiag.jl
Labels: domain:linear algebra, domain:arrays, backport 1.10, backport 1.11

#54848 Bump LLVM to v18
  deps/checksums/clang
  deps/checksums/lld
  deps/checksums/llvm
  deps/clang.version
  deps/lld.version
  deps/llvm-tools.version
  deps/llvm.version
  src/aotcompile.cpp
  src/ccall.cpp
  src/clangsa/GCChecker.cpp
  src/codegen.cpp
  src/coverage.cpp
  src/datatype.c
  src/disasm.cpp
  src/jitlayers.cpp
  src/jitlayers.h
  src/julia.h
  src/julia_internal.h
  src/llvm-cpufeatures.cpp
  src/llvm-multiversioning.cpp
  src/llvm-simdloop.cpp
  src/llvm_api.cpp
  src/pipeline.cpp
  src/processor_arm.cpp
  stdlib/LLD_jll/Project.toml
  stdlib/libLLVM_jll/Project.toml
  test/llvmcall.jl
  test/llvmpasses/pipeline-prints.ll
Labels: domain:building, external dependencies, status:merge me, stdlib:JLLs, compiler:llvm

#55366 REPL: enable import completion when in a macro
  stdlib/REPL/src/REPLCompletions.jl
  stdlib/REPL/test/replcompletions.jl
Labels: stdlib:REPL

#55348 Materialize complex Symmetric matrices in eigen
  stdlib/LinearAlgebra/src/bunchkaufman.jl
  stdlib/LinearAlgebra/src/symmetriceigen.jl
  stdlib/LinearAlgebra/test/hessenberg.jl
  stdlib/LinearAlgebra/test/symmetriceigen.jl
Labels: domain:linear algebra

#55369 Document `Threads.threadid(::Task)`
  base/threadingconstructs.jl
Labels: domain:docs, domain:multithreading

#55347 Round-trippable show for `Bidiagonal`
  stdlib/LinearAlgebra/src/bidiag.jl
  stdlib/LinearAlgebra/test/bidiag.jl
Labels: domain:linear algebra, domain:display and printing

#55315 Replace `@async` mentions in manual with `Threads.@spawn`
  doc/src/base/parallel.md
  doc/src/devdocs/probes.md
  doc/src/manual/asynchronous-programming.md
  doc/src/manual/distributed-computing.md
  doc/src/manual/faq.md
  doc/src/manual/methods.md
  doc/src/manual/networking-and-streams.md
  doc/src/manual/performance-tips.md
  doc/src/manual/running-external-programs.md
Labels: domain:docs

#55182 Adjust const docs to be clearer
  doc/src/manual/variables-and-scoping.md
Labels: domain:docs

#55362 inference: fix missing LimitedAccuracy markers
  base/compiler/abstractinterpretation.jl
Labels: compiler:inference, backport 1.11

#40722 Compact printing for `Adjoint` vectors, and `Diagonal`
  base/abstractarray.jl
  stdlib/LinearAlgebra/src/adjtrans.jl
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/LinearAlgebra/test/adjtrans.jl
  stdlib/LinearAlgebra/test/diagonal.jl
Labels: domain:linear algebra, domain:display and printing

#55354 [build] Some improvements to the LLVM build system
  deps/BOLT.mk
  deps/llvm.mk
Labels: domain:building, backport 1.10, backport 1.11

#55306 AllocOpt: Fix stack lowering where alloca continas boxed and unboxed data
  src/llvm-alloc-helpers.cpp
  src/llvm-alloc-helpers.h
  src/llvm-alloc-opt.cpp
  test/llvmpasses/alloc-opt-bits.ll
Labels: compiler:codegen, compiler:optimizer, status:merge me, compiler:llvm, backport 1.10, backport 1.11

#55375 Revert "better type inference for several functions taking `NTuple` args"
  base/essentials.jl
  base/ntuple.jl
  base/tuple.jl
  test/tuple.jl
Labels: performance, domain:collections, kind:revert

#55391 Fuse complex conversion with function application for symmetric
  stdlib/LinearAlgebra/src/symmetric.jl
Labels: domain:linear algebra

#55387 Disable printing of message about including GPL libs in libsuitesparse.mk
  deps/libsuitesparse.mk
Labels: domain:building

#55353 LAPACK: return union of tuples in gees and trsen
  stdlib/LinearAlgebra/src/lapack.jl
Labels: domain:linear algebra

#55395 fix #55389: type-unstable `join`
  base/strings/io.jl
  test/strings/io.jl
Labels: domain:strings, backport 1.11

#55322 Don't read destination indices when copying structured matrices
  stdlib/LinearAlgebra/src/bidiag.jl
  stdlib/LinearAlgebra/src/special.jl
  stdlib/LinearAlgebra/src/tridiag.jl
  stdlib/LinearAlgebra/test/special.jl
  stdlib/LinearAlgebra/test/tridiag.jl
Labels: domain:linear algebra, backport 1.11

#55174 Deprecate conflicting @testset arguments
  stdlib/Test/src/Test.jl
  stdlib/Test/test/runtests.jl
Labels: testsystem

#55368 Restore cmdlineargs tests on non-Windows platforms
  test/cmdlineargs.jl
Labels: domain:multithreading, domain:ci

#55398 optimized textwidth(::Char) for ASCII
  base/strings/unicode.jl
  test/strings/util.jl
Labels: performance, domain:unicode, status:merge me

#55403 Accept axes in Base.checkdims_perm
  base/multidimensional.jl
  base/permuteddimsarray.jl
  stdlib/LinearAlgebra/src/bidiag.jl
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/LinearAlgebra/src/tridiag.jl
Labels: domain:arrays, compiler:latency

#55336 codegen: take gc roots (and alloca alignment) more seriously
  src/abi_aarch64.cpp
  src/abi_arm.cpp
  src/abi_ppc64le.cpp
  src/ccall.cpp
  src/cgutils.cpp
  src/codegen.cpp
  src/datatype.c
  src/intrinsics.cpp
  test/atomics.jl
Labels: compiler:codegen, kind:don't squash, backport 1.11

#55175 Improve performance in `Bidiagonal` times `Diagonal`
  stdlib/LinearAlgebra/src/bidiag.jl
  stdlib/LinearAlgebra/test/bidiag.jl
  test/testhelpers/SizedArrays.jl
Labels: domain:linear algebra

#55410 Fix unterminated strings in bolt makefiles
  contrib/bolt/Makefile
  contrib/pgo-lto-bolt/Makefile
Labels: domain:building, status:merge me

#55351 add `rtruncate`, `ltruncate`, `ctruncate` for truncating strings
  NEWS.md
  base/exports.jl
  base/strings/util.jl
  doc/src/base/strings.md
  test/strings/util.jl
Labels: domain:strings, kind:feature

#55226 re-add `unsafe_convert` for Reinterpret and Reshaped array
  base/reinterpretarray.jl
  base/reshapedarray.jl
  test/ccall.jl
Labels: domain:arrays, status:merge me, backport 1.11

#55352 improve docs for `collect` and square brackets
  base/abstractarray.jl
  base/array.jl
  base/broadcast.jl
  base/docs/basedocs.jl
Labels: domain:docs

#55408 REPL: disable flaky win32 stacktrace tests
  stdlib/REPL/test/repl.jl
Labels: system:windows, test, stdlib:REPL, system:32-bit

#55405 handle unbound vars in NTuple fields
  src/builtins.c
  src/jltypes.c
  test/core.jl
Labels: kind:embarrassing-bugfix, backport 1.11

#55365 ml-matches: ensure all methods are included
  src/gf.c
  test/ambiguous.jl
  test/core.jl
Labels: kind:embarrassing-bugfix, status:merge me, backport 1.11

#55384 Make `mv` more atomic by trying rename before deleting `dst`
  base/file.jl
  base/loading.jl
  test/file.jl
  test/filesystem.jl
Labels: domain:filesystem

#55411 Vendor the terminfo database for use with base/terminfo.jl
  Makefile
  NEWS.md
  base/terminfo.jl
  deps/Makefile
  deps/checksums/terminfo
  deps/terminfo.mk
  deps/terminfo.version
  stdlib/REPL/test/precompilation.jl
Labels: backport 1.11

#55428 codegen: move undef freeze before promotion point
  src/cgutils.cpp
  test/compiler/codegen.jl
Labels: compiler:codegen, kind:bugfix, status:merge me, backport 1.11

#55424 add missing clamp function for IOBuffer
  base/intfuncs.jl
  base/io.jl
  base/math.jl
  base/missing.jl
Labels: performance, kind:don't squash, backport 1.11

#55407 Remove deprecated non string API for LLVM pass pipeline and parse all options
  src/codegen-stubs.c
  src/jl_exported_funcs.inc
  src/pipeline.cpp
  test/llvmpasses/parsing.ll
Labels: compiler:llvm, backport 1.11

#55419 `stale_cachefile`: handle if the expected cache file is missing
  base/loading.jl
  test/precompile.jl
Labels: domain:packages, backport 1.10, backport 1.11

#55415 LinearAlgebra: round-trippable 2-argument show for `Tridiagonal`/`SymTridiagonal`
  stdlib/LinearAlgebra/src/tridiag.jl
  stdlib/LinearAlgebra/test/tridiag.jl
Labels: domain:linear algebra, domain:display and printing

#55338 compiler: apply more accurate effects to return_type_tfunc
  base/boot.jl
  base/cmd.jl
  base/compiler/abstractinterpretation.jl
  base/compiler/compiler.jl
  base/compiler/effects.jl
  base/compiler/optimize.jl
  base/compiler/ssair/show.jl
  base/compiler/tfuncs.jl
  base/compiler/typeinfer.jl
  base/essentials.jl
  base/expr.jl
  src/julia.h
  src/method.c
Labels: compiler:inference, status:merge me, backport 1.11

#54974 Update asyncmap docs to clarify order of outputs
  base/asyncmap.jl
Labels: domain:docs

#55462 [OpenBLAS_jll] Upgrade to v0.3.28
  deps/checksums/openblas
  deps/openblas.version
  stdlib/OpenBLAS_jll/Project.toml
Labels: domain:building, external dependencies, stdlib:JLLs

#55470 Add push! implementation for AbstractArray depending only on resize!
  base/abstractarray.jl
  test/abstractarray.jl
Labels: domain:arrays, status:merge me, backport 1.11

#55268 simplify complex atanh and remove singularity perturbation
  base/complex.jl
  test/complex.jl
Labels: performance, domain:maths, domain:complex, kind:bugfix, backport 1.10, backport 1.11

#55441 fix Event to use normal Condition variable
  base/lock.jl
Labels: domain:multithreading, backport 1.11

#55433 Backport https://github.com/JuliaLang/julia/pull/55407 to 1.11
  src/codegen-stubs.c
  src/jl_exported_funcs.inc
  src/pipeline.cpp
  test/llvmpasses/parsing.ll
Labels: backport 1.11

#55413 subtyping: fast path for lhs union and rhs typevar
  src/subtype.c
  test/subtype.jl
Labels: performance, domain:types and dispatch, backport 1.11

#55452 Do not load `ScopedValues` with `using`
  base/Base.jl
  base/logging/logging.jl
  base/mpfr.jl
Labels: backport 1.11

#55492 build: add missing dependencies for expmap
  cli/Makefile
  src/Makefile
Labels: domain:building, status:merge me, backport 1.11

#55440 handle async termination better
  base/Base.jl
  base/condition.jl
  base/initdefs.jl
  base/stream.jl
  base/task.jl
  src/scheduler.c
  src/signal-handling.c
  stdlib/Sockets/src/Sockets.jl
  stdlib/Sockets/src/addrinfo.jl
Labels: status:merge me

#55496 [OpenBLAS_jll] Upgrade to new build to fix bug in threads buffers
  deps/checksums/openblas
  deps/openblas.mk
  deps/patches/openblas-memory-buffer-multi-threading.patch
  stdlib/OpenBLAS_jll/Project.toml
Labels: domain:building, external dependencies, stdlib:JLLs

#55460 Use same toolchain throughout pgo+bolt build
  contrib/pgo-lto-bolt/Makefile
Labels: domain:building

#55480 Fix push! for OffsetVectors, add tests for push! and append! on AbstractVector
  base/abstractarray.jl
  test/abstractarray.jl
  test/offsetarray.jl
Labels: domain:arrays

#55504 Update symmetric docstring to reflect the type of uplo
  stdlib/LinearAlgebra/src/symmetric.jl
Labels: domain:docs, domain:linear algebra, backport 1.10, backport 1.11

#55486 Demote(B)Float16 pass: only keep enabled for PPC.
  src/llvm-demote-float16.cpp
  test/llvmpasses/fastmath.jl
  test/llvmpasses/float16.ll
Labels: compiler:codegen, domain:float16

#55436 Some small tests for transcode
  test/strings/basic.jl
Labels: test

#55519 Avoid using zero for the eltype in `tr(::Matrix)`
  stdlib/LinearAlgebra/src/dense.jl
  stdlib/LinearAlgebra/test/dense.jl
Labels: performance, domain:linear algebra, domain:arrays

#55494 remove redundant `print` method for `Splat`
  base/operators.jl
Labels: domain:display and printing

#55359 Backport "Fix (l/r)mul! with Diagonal/Bidiagonal #55052" to v1.11
  stdlib/LinearAlgebra/src/bidiag.jl
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/LinearAlgebra/test/bidiag.jl
  stdlib/LinearAlgebra/test/diagonal.jl
  stdlib/LinearAlgebra/test/tridiag.jl
  test/testhelpers/SizedArrays.jl
Labels: domain:linear algebra, backport 1.11

#55522 Fix tr for Symmetric/Hermitian block matrices
  stdlib/LinearAlgebra/src/symmetric.jl
  stdlib/LinearAlgebra/test/symmetric.jl
Labels: domain:linear algebra, kind:bugfix, backport 1.10, backport 1.11

#55523 Faster trace for `StridedMatrix`es
  stdlib/LinearAlgebra/src/dense.jl
  stdlib/LinearAlgebra/test/dense.jl
Labels: domain:linear algebra, domain:arrays

#51583 Add JULIA_PKG_GC_AUTO to docs
  doc/src/manual/environment-variables.md
Labels: domain:packages

#55443 Add test for upper/lower/titlecase and fix call
  base/strings/annotated.jl
  base/strings/unicode.jl
  test/strings/annotated.jl
Labels: test, kind:bugfix, backport 1.11

#55524 Set `.jl` sources as read-only during installation
  Makefile
Labels: domain:building

#55530 atomics: fix setonce runtime intrinsic
  src/datatype.c
  test/atomics.jl
Labels: domain:multithreading, status:merge me

#55531 Add behavior for even values to docs for new invmod(n, T) functions
  base/intfuncs.jl
Labels: domain:docs, domain:maths

#55476 Improve `walkdir` docstring
  base/file.jl
Labels: domain:docs, domain:filesystem

#55500 make jl_thread_suspend_and_get_state safe
  src/signals-unix.c
Labels: domain:multithreading, backport 1.11

#55541 Explain `walkdir` docstring second example.
  base/file.jl
Labels: domain:docs, domain:filesystem, status:merge me

#55502 Mark the _state field as atomic and move to proper atomics instead of llvmcall
  base/task.jl
  src/jltypes.c
  stdlib/Serialization/src/Serialization.jl
  test/channels.jl
  test/core.jl
Labels: domain:multithreading, status:merge me

#55364 inference: represent callers_in_cycle with view slices of a stack instead of separate lists
  base/compiler/abstractinterpretation.jl
  base/compiler/inferencestate.jl
  base/compiler/ssair/irinterp.jl
  base/compiler/typeinfer.jl
  stdlib/InteractiveUtils/test/runtests.jl
  stdlib/REPL/src/REPLCompletions.jl
Labels: compiler:inference, status:merge me

#55539 Update display style of `n` in `invmod(n)` dosctring.
  base/intfuncs.jl
Labels: domain:docs, domain:maths

#55535 Backport "Fix tr for Symmetric/Hermitian block matrices #55522" to v1.11
  stdlib/LinearAlgebra/src/symmetric.jl
  stdlib/LinearAlgebra/test/symmetric.jl
Labels: domain:linear algebra

#55538 Remove specialized vector-matrix multiplication methods
  stdlib/LinearAlgebra/src/matmul.jl
  stdlib/LinearAlgebra/test/matmul.jl
Labels: domain:linear algebra

#55536 effects: minor fixes for the effects system correctness
  base/compiler/abstractinterpretation.jl
  base/compiler/effects.jl
  base/compiler/optimize.jl
  base/compiler/ssair/ir.jl
  base/compiler/ssair/irinterp.jl
  base/compiler/tfuncs.jl
  base/compiler/validation.jl
  base/strings/string.jl
  test/compiler/effects.jl
  test/strings/basic.jl
Labels: compiler:effects

#55533 inference: propagate partially initialized mutable structs more
  base/compiler/abstractinterpretation.jl
  base/compiler/typeutils.jl
  test/compiler/inference.jl
Labels: compiler:inference

#55563 Use `===` to compare with `nothing` in tests
  stdlib/OpenBLAS_jll/test/runtests.jl
  test/arrayops.jl
  test/bitarray.jl
  test/channels.jl
  test/char.jl
  test/compiler/codegen.jl
  test/compiler/inference.jl
  test/compiler/ssair.jl
  test/copy.jl
  test/core.jl
  test/corelogging.jl
  test/dict.jl
  test/generic_map_tests.jl
  test/intrinsics.jl
  test/iobuffer.jl
  test/iterators.jl
  test/loading.jl
  test/ranges.jl
  test/regex.jl
  test/some.jl
  test/spawn.jl
  test/strings/search.jl
  test/strings/types.jl
  test/testdefs.jl
Labels: test

#55544 LinearAlgebra: return destination in `setindex!`
  stdlib/LinearAlgebra/src/bidiag.jl
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/LinearAlgebra/src/symmetric.jl
  stdlib/LinearAlgebra/src/tridiag.jl
  stdlib/LinearAlgebra/test/bidiag.jl
  stdlib/LinearAlgebra/test/diagonal.jl
  stdlib/LinearAlgebra/test/symmetric.jl
  stdlib/LinearAlgebra/test/tridiag.jl
Labels: domain:linear algebra, domain:arrays

#55506 Fix indexing in _mapreducedim for OffsetArrays
  base/reducedim.jl
  test/offsetarray.jl
Labels: domain:arrays, kind:bugfix, domain:fold, backport 1.10, backport 1.11

#55566 [Profile] Replace `SIGTERM` with `SIGQUIT`
  stdlib/Profile/test/runtests.jl
Labels: test, domain:ci, profiler

#55560 document `fourthroot`
  doc/src/base/math.md
  doc/src/manual/mathematical-operations.md
Labels: domain:docs, domain:maths, status:merge me

#55565 Add tests for alignment of `Int128`/`UInt128`
  test/compiler/codegen.jl
Labels: test, status:merge me

#55559 added cholesky of cholesky
  stdlib/LinearAlgebra/src/cholesky.jl
  stdlib/LinearAlgebra/test/cholesky.jl
Labels: domain:linear algebra

#55547 Fix self-recursion in generic triangular (l/r)mul!
  stdlib/LinearAlgebra/src/triangular.jl
  stdlib/LinearAlgebra/test/triangular.jl
Labels: domain:linear algebra, kind:bugfix

#55414 Quick return for empty arrays in bidiagonal matrix multiplications
  stdlib/LinearAlgebra/src/bidiag.jl
  stdlib/LinearAlgebra/test/bidiag.jl
  stdlib/LinearAlgebra/test/tridiag.jl
Labels: performance, domain:linear algebra, domain:arrays

#55400 include the `[]` doc string into the docs
  doc/src/base/base.md
Labels: domain:docs, status:merge me

#55564 Empty out loaded_precompiles dict instead of asserting it's empty.
  base/Base.jl
Labels: status:merge me, backport 1.11

#55585 release-1.11: set VERSION to 1.11.0-rc3
  VERSION
Labels: kind:release

#55509 Fix cong implementation to be properly random and not just cycling.
  src/gc-stock.h
  src/julia_internal.h
  src/scheduler.c
  src/signal-handling.c
Labels: status:merge me

#55567 Initialize threadpools correctly during sysimg build
  src/init.c
Labels: kind:embarrassing-bugfix, status:merge me, backport 1.10, backport 1.11

#55553 re-enable profiling stack switch test
  src/task.c
  test/threads.jl
Labels: test, profiler

#55602 Downgrade patchelf to v0.17.2
  deps/checksums/patchelf
  deps/patchelf.version
Labels: external dependencies

#55609 Convert triangular inv test comparison to isapprox
  stdlib/LinearAlgebra/test/triangular.jl
Labels: test, domain:linear algebra

#55576 Use native tls model in macos for better performance
  cli/loader_lib.c
  src/gc-stacks.c
  src/julia_fasttls.h
  src/julia_internal.h
  src/scheduler.c
  src/threading.c
Labels: system:mac, domain:multithreading, status:merge me

#55596 Fast bounds-check for CartesianIndex ranges
  base/multidimensional.jl
  stdlib/LinearAlgebra/test/diagonal.jl
Labels: performance, domain:arrays, backport 1.11

#55619 Synchronize arg name with description and --help
  doc/man/julia.1
Labels: status:merge me

#55610 Indexing in diag for structured matrices
  stdlib/LinearAlgebra/src/bidiag.jl
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/LinearAlgebra/src/tridiag.jl
  stdlib/LinearAlgebra/test/bidiag.jl
  stdlib/LinearAlgebra/test/diagonal.jl
Labels: domain:linear algebra, domain:arrays

#55383 Fix algebra for block SymTridiagonal matrices
  stdlib/LinearAlgebra/src/special.jl
  stdlib/LinearAlgebra/test/special.jl
  test/testhelpers/SizedArrays.jl
Labels: domain:linear algebra, domain:arrays

#55555 Revert "Don't expose guard pages to malloc_stack API consumers"
  src/gc-stacks.c
Labels: kind:revert, backport 1.11

#55622 add pending state back to jl_thread_suspend_and_get_state-machine
  src/signals-unix.c
Labels: regression 1.12

#55626 Specialize newindex for StructuredMatrix broadcasting
  stdlib/LinearAlgebra/src/structuredbroadcast.jl
Labels: performance, domain:linear algebra, domain:arrays

#55425 Document how to set the threadpool sizes with `JULIA_NUM_THREADS`
  doc/src/manual/environment-variables.md
Labels: domain:docs, domain:multithreading

#55239 add `show` methods for `ReentrantLock`, `Condition`, and `GenericCondition`
  base/condition.jl
  base/lock.jl
  test/channels.jl
  test/copy.jl
  test/misc.jl
Labels: domain:display and printing

#55594 Call `pthread_attr_init` in `jl_init_stack_limits`
  src/init.c
Labels: kind:bugfix

#55636 Fix an assertion in new binding code
  src/module.c
Labels: status:merge me

#55503 Document and test `Base.rename`
  base/file.jl
  test/file.jl
Labels: domain:docs, test, domain:filesystem

#55647 [LibUV_jll] Update to new build
  deps/checksums/libuv
  deps/libuv.version
  stdlib/LibUV_jll/Project.toml
Labels: domain:building, external dependencies, stdlib:JLLs

#55649 Even MORE tests for transcode
  test/strings/basic.jl
Labels: test, domain:strings
