Repository JuliaLang/julia, pull requests merged in 2024-02, with the labels that each got.

#49179 Define valtype(::Tuple) and keytype(::Tuple)
  base/tuple.jl
  test/tuple.jl
Labels: collections

#22647 Better libuv error message for ENOENT ~
  base/libuv.jl
  test/errorshow.jl
Labels: error handling, filesystem, merge me

#49830 forward `repeat(A, cts..)` to `repeat(A; kw..)`
  base/abstractarraymath.jl
  test/abstractarray.jl
  test/testhelpers/FillArrays.jl
Labels: arrays

#50894 `typemin`, `typemax` for irrationals
  base/irrationals.jl
  test/numbers.jl
Labels: bugfix

#52545 Clarify error when arrays are too big for the system bit width
  src/array.c
  src/genericmemory.c
Labels: merge me, error messages

#52854 Change to streaming out the heap snapshot data
  src/gc-heap-snapshot.cpp
  src/gc-heap-snapshot.h
  stdlib/Profile/docs/src/index.md
  stdlib/Profile/src/Profile.jl
  stdlib/Profile/src/heapsnapshot_reassemble.jl
  stdlib/Profile/test/heapsnapshot_reassemble.jl
  stdlib/Profile/test/runtests.jl
Labels: stdlib, profiler

#51807 Introduce AnnotatedIOBuffer
  NEWS.md
  base/strings/annotated.jl
  test/strings/annotated.jl
Labels: I/O, strings, feature, don't squash

#51869 Update and load styledstrings
  deps/checksums/StyledStrings-302a0d023a58d38cddf0a1b82c618621613c8d2a.tar.gz/md5
  deps/checksums/StyledStrings-302a0d023a58d38cddf0a1b82c618621613c8d2a.tar.gz/sha512
  deps/checksums/StyledStrings-a1b2ae2434cd7d8199fa8647339422fe0e1d0324.tar.gz/md5
  deps/checksums/StyledStrings-a1b2ae2434cd7d8199fa8647339422fe0e1d0324.tar.gz/sha512
  doc/Manifest.toml
  pkgimage.mk
  stdlib/REPL/Project.toml
  stdlib/REPL/src/REPL.jl
  stdlib/REPL/src/precompile.jl
  stdlib/StyledStrings.version
Labels: REPL, stdlib, don't squash

#53150 deps/libsuitesparse: fix source build
  deps/libsuitesparse.mk
  deps/patches/suitesparse-blas-suffix.patch
Labels: build, external dependencies, merge me

#53149 Hoist boundscheck in vector setindex for arrays
  base/array.jl
Labels: performance, arrays

#50795 Add filter(f, ::NamedTuple)
  NEWS.md
  base/namedtuple.jl
  test/namedtuple.jl
Labels: feature, merge me

#53161 Fix `size` on `GenericMemory` with non-`Int` `Integer` argument
  base/genericmemory.jl
  test/arrayops.jl
Labels: arrays, embarrassing-bugfix, merge me

#52883 Add count of lock conflicts to `@time` etc. Add `@lock_conflicts`
  NEWS.md
  base/atomics.jl
  base/exports.jl
  base/lock.jl
  base/timing.jl
  doc/src/base/base.md
  test/misc.jl
Labels: merge me, profiler

#52318 stdlib: make dot product of Hermitian matrices real
  stdlib/LinearAlgebra/src/symmetric.jl
Labels: linear algebra, merge me

#47369 Improve error message for `which(fn, types)`
  base/errorshow.jl
  base/experimental.jl
  base/namedtuple.jl
  base/reflection.jl
  doc/src/manual/constructors.md
  doc/src/manual/faq.md
  doc/src/manual/functions.md
  doc/src/manual/methods.md
  doc/src/manual/types.md
  stdlib/Test/docs/src/index.md
  test/ambiguous.jl
  test/embedding/embedding-test.jl
  test/error.jl
  test/errorshow.jl
  test/missing.jl
Labels: merge me, error messages

#53145 Collect test results into BuildKit-compatible JSON
  .gitignore
  test/buildkitetestjson.jl
  test/runtests.jl
Labels: testsystem, ci

#53168 Fix typo in BuildKite test data generation CI code
  test/buildkitetestjson.jl
Labels: testsystem, ci, embarrassing-bugfix

#41311 Normalize indices in promote_shape error messages (take 2)
  base/indices.jl
  stdlib/LinearAlgebra/src/matmul.jl
  stdlib/LinearAlgebra/src/structuredbroadcast.jl
  stdlib/LinearAlgebra/test/structuredbroadcast.jl
Labels: linear algebra, error messages

#53173 Write test result data to static location, and log
  test/runtests.jl
Labels: testsystem, ci

#53146 Improve printing for length and size method error
  base/errorshow.jl
  test/errorshow.jl
Labels: merge me, error messages

#52868 add atomic operators for globals, memory, and setonce
  base/Base.jl
  base/boot.jl
  base/compiler/abstractinterpretation.jl
  base/compiler/ssair/inlining.jl
  base/compiler/stmtinfo.jl
  base/compiler/tfuncs.jl
  base/deepcopy.jl
  base/docs/basedocs.jl
  base/docs/intrinsicsdocs.jl
  base/essentials.jl
  base/exports.jl
  base/expr.jl
  base/genericmemory.jl
  doc/src/base/base.md
  doc/src/base/multi-threading.md
  doc/src/devdocs/builtins.md
  doc/src/manual/multi-threading.md
  src/builtin_proto.h
  src/builtins.c
  src/ccall.cpp
  src/cgutils.cpp
  src/codegen.cpp
  src/datatype.c
  src/genericmemory.c
  src/intrinsics.cpp
  src/jl_exported_funcs.inc
  src/julia.h
  src/julia_atomics.h
  src/julia_internal.h
  src/julia_locks.h
  src/llvm-late-gc-lowering.cpp
  src/module.c
  src/runtime_intrinsics.c
  src/staticdata.c
  test/atomics.jl
  test/compiler/effects.jl
  test/compiler/inference.jl
  test/compiler/inline.jl
Labels: multithreading, merge me

#53164 further improve clarity of MethodError printing
  base/errorshow.jl
  test/errorshow.jl
Labels: error messages

#53166 try improving check_top_bit error message
  base/boot.jl
  src/common_symbols2.inc
Labels: error messages

#45922 improve error when broadcast failed due to axistype
  base/broadcast.jl
Labels: merge me, error messages

#53137 Implement empty! for Channel
  base/channels.jl
Labels: multithreading, merge me

#53167 Remove Matrix constructor for AbstractTriangular
  stdlib/LinearAlgebra/src/triangular.jl
Labels: linear algebra, arrays

#53180 Bump SparseArrays to use SuiteSparse 7.6.0
  deps/checksums/SparseArrays-c9f7293c10e6bea775feceabd4554ab55c34e3a8.tar.gz/md5
  deps/checksums/SparseArrays-c9f7293c10e6bea775feceabd4554ab55c34e3a8.tar.gz/sha512
  deps/checksums/SparseArrays-f37477bc4881e9c540573aecb9e5809bbc306c79.tar.gz/md5
  deps/checksums/SparseArrays-f37477bc4881e9c540573aecb9e5809bbc306c79.tar.gz/sha512
  deps/checksums/SuiteSparse-e8285dd13a6d5b5cf52d8124793fc4d622d07554.tar.gz/md5
  deps/checksums/SuiteSparse-e8285dd13a6d5b5cf52d8124793fc4d622d07554.tar.gz/sha512
  deps/checksums/suitesparse
  deps/libsuitesparse.version
  stdlib/SparseArrays.version
  stdlib/SuiteSparse_jll/Project.toml
Labels: sparse

#53189 Add link to PR in NEWS
  NEWS.md
Labels: doc, merge me

#53155 Quickfix: prevent despecialisation of annotations list
  base/strings/annotated.jl
  test/strings/annotated.jl
Labels: strings, bugfix

#53201 Backports release 1.10
  base/abstractarray.jl
  base/threadingconstructs.jl
  stdlib/LinearAlgebra/src/triangular.jl
  stdlib/LinearAlgebra/test/triangular.jl
  stdlib/Mmap/src/Mmap.jl
  stdlib/REPL/src/REPLCompletions.jl
  stdlib/REPL/test/replcompletions.jl
  test/abstractarray.jl
Labels: release

#51198 Improved terminfo parser
  base/terminfo.jl
  test/terminfo.jl
Labels: display and printing, merge me

#53204 fix typo in AnnotatedChar constructor
  base/strings/annotated.jl
Labels: bugfix, merge me

#53205 Profile: add notes to `print()` docs
  stdlib/Profile/src/Profile.jl
Labels: stdlib, merge me, profiler, backport 1.10

#50113 add specialized `reverse` implementation for `NTuple`
  base/ntuple.jl
Labels: performance

#52976 add docstring and test for `Base.format_bytes`
  base/timing.jl
Labels: doc

#52442 Clarify the docs of @__DIR__
  base/loading.jl
Labels: doc

#52698 Add missing artifact docs
  stdlib/Artifacts/docs/src/index.md
Labels: doc, stdlib

#52927 Add InteractiveUtils in doc refs to define_editor
  stdlib/InteractiveUtils/src/editless.jl
Labels: doc

#52970 Add explicit mention of branch cuts to `log`, `sqrt`, `angle` docstrings
  base/complex.jl
  base/math.jl
Labels: doc, complex

#53225 Fix escaping of docstring in `@__DIR__`
  base/loading.jl
Labels: priority, merge me

#52607 Added documentation for the Markdown Macro
  stdlib/Markdown/docs/src/index.md
Labels: doc, merge me

#52395 fix spurious overflow for Float16(::Rational)
  base/rational.jl
  test/float16.jl
Labels: rationals, bugfix, merge me, float16

#53170 Remove outdated discussion about externally changing module bindings
  doc/src/manual/variables-and-scoping.md
Labels: doc

#51944 Fix Int8(-128) // Int8(-128)
  base/rational.jl
  test/rational.jl
Labels: maths

#53088 Disambiguate get_world_counter and get_inference_world
  base/boot.jl
  base/compiler/abstractinterpretation.jl
  base/compiler/inferencestate.jl
  base/compiler/optimize.jl
  base/compiler/ssair/irinterp.jl
  base/compiler/typeinfer.jl
  base/compiler/types.jl
  base/reflection.jl
  src/gf.c
  stdlib/REPL/src/REPLCompletions.jl
  test/compiler/AbstractInterpreter.jl
  test/compiler/EscapeAnalysis/EAUtils.jl
  test/compiler/invalidation.jl
  test/compiler/newinterp.jl
  test/worlds.jl
Labels: inference

#53232 Fix potential instability/invalidation in dlpath
  base/libdl.jl
Labels: merge me

#52520 add docs and jldoctests for `Base.shell_split` and `Base.rstrip_shell`
  base/shell.jl
Labels: doc, merge me

#53231 Avoid allocations in views of views
  base/subarray.jl
  test/subarray.jl
Labels: performance, arrays

#53228 SubArray: avoid invalid elimination of singleton indices
  base/subarray.jl
  test/subarray.jl
Labels: arrays, backport 1.10

#51361 code_warntype docs: more neutral reference to @code_warntype
  stdlib/InteractiveUtils/src/codeview.jl
Labels: doc, merge me, backport 1.10

#53222 [LibCURL_jll] Upgrade to v8.6.0
  deps/checksums/curl
  deps/curl.mk
  deps/curl.version
  deps/patches/curl-memdup.patch
  stdlib/LibCURL_jll/Project.toml
Labels: build, external dependencies, stdlib JLLs

#52495 Clarify `==` docs for collections
  base/operators.jl
Labels: doc, merge me, equality

#50480 Document --heap-size-hint in Command-line Interface
  doc/src/manual/command-line-interface.md
Labels: doc, merge me, backport 1.10

#52913 Added docstring for Artifacts.jl
  stdlib/Artifacts/src/Artifacts.jl
  stdlib/Artifacts/test/runtests.jl
Labels: doc, merge me, backport 1.10

#51798 Add `track_content` option to allow hashing of `include_dependency`s
  base/loading.jl
  test/Makefile
  test/RelocationTestPkg1/Project.toml
  test/RelocationTestPkg2/Project.toml
  test/RelocationTestPkg2/src/RelocationTestPkg2.jl
  test/RelocationTestPkg3/Project.toml
  test/RelocationTestPkg3/src/RelocationTestPkg3.jl
  test/RelocationTestPkg3/src/bar.txt
  test/loading.jl
  test/relocatedepot.jl
Labels: packages, precompile, modules

#53202 Add `Pipe` to the documentation
  base/exports.jl
  base/expr.jl
  base/stream.jl
  doc/src/base/io-network.md
Labels: doc

#53220 🤖 [master] Bump the Pkg stdlib from f3b81f1aa to 6dd0e7c9e (take 2)
  deps/checksums/Pkg-6dd0e7c9e99d578aa5477e2c78c91a161ce4c357.tar.gz/md5
  deps/checksums/Pkg-6dd0e7c9e99d578aa5477e2c78c91a161ce4c357.tar.gz/sha512
  deps/checksums/Pkg-f3b81f1aac77acf08f5d847ead29ad0a228dec67.tar.gz/md5
  deps/checksums/Pkg-f3b81f1aac77acf08f5d847ead29ad0a228dec67.tar.gz/sha512
  pkgimage.mk
  stdlib/Pkg.version
  stdlib/REPL/src/REPL.jl
  stdlib/stdlib.mk
Labels: stdlib, merge me

#52825 Added documentation to libdl module
  stdlib/Libdl/docs/src/index.md
  stdlib/Libdl/src/Libdl.jl
  stdlib/Libdl/test/runtests.jl
Labels: doc

#53212 Allow using an unexported custom `AbstractTestSet` in `@testset`
  stdlib/Test/src/Test.jl
  stdlib/Test/test/runtests.jl
Labels: testsystem

#52524 Qualify public, unexported bindings in REPL help
  stdlib/REPL/src/docview.jl
  stdlib/REPL/test/docview.jl
  stdlib/REPL/test/replcompletions.jl
  test/docs.jl
Labels: REPL, bugfix, merge me

#52687 deps/csl: Use platform-dependent path separator
  deps/csl.mk
Labels: build, windows, external dependencies, merge me

#53235 Improve truecolor terminal capability detection
  base/terminfo.jl
Labels: display and printing

#53230 Support escape expressions in @kwdef
  base/docs/Docs.jl
  base/meta.jl
  base/util.jl
  test/misc.jl
Labels: merge me

#53111 Add nested precomp highlight debug
  base/loading.jl
  pkgimage.mk
Labels: packages, merge me

#52942 Reroute algebraic functions for `Symmetric`/`Hermitian` through triangular
  stdlib/LinearAlgebra/src/symmetric.jl
  stdlib/LinearAlgebra/test/symmetric.jl
Labels: linear algebra, arrays, merge me

#45641 Add PGO+LTO Makefile
  contrib/pgo-lto/.gitignore
  contrib/pgo-lto/Makefile
Labels: performance, build

#53244 doc: Rephrase some text referring to `DArray`
  doc/src/manual/distributed-computing.md
Labels: doc, merge me

#49879 implement convert from NamedTuple to Tuple
  base/namedtuple.jl
  test/namedtuple.jl
Labels: collections, merge me

#53215 Document & expose printing of custom `AbstractTestSet`
  stdlib/Test/docs/src/index.md
  stdlib/Test/src/Test.jl
  stdlib/Test/test/runtests.jl
  test/testdefs.jl
Labels: testsystem, merge me

#53250 less jl_get_global reflection
  base/filesystem.jl
  src/jl_exported_funcs.inc
  src/jl_uv.c
  src/jlapi.c
  src/jsvm-emscripten/asyncify_setup.js
  src/jsvm-emscripten/task.js
  src/julia.h
  src/julia_threads.h
  src/rtutils.c
  src/stackwalk.c
  src/staticdata_utils.c
  src/task.c
Labels: merge me

#53165 Updated MethodError to show closest candidates more reliably
  base/errorshow.jl
  doc/src/manual/constructors.md
  doc/src/manual/methods.md
  test/errorshow.jl
Labels: error messages

#53151 Fix duplicate error when using generator in Dict
  base/abstractdict.jl
  base/dict.jl
  base/iddict.jl
  base/weakkeydict.jl
  test/dict.jl
Labels: error handling, merge me, error messages

#49531 Add `Vector{<:AbstractString}` method for `Cmd()`
  base/cmd.jl
  test/spawn.jl
Labels: merge me

#51829 Use StyledStrings for Logging
  doc/Manifest.toml
  pkgimage.mk
  stdlib/Logging/Project.toml
  stdlib/Logging/src/ConsoleLogger.jl
  stdlib/Logging/src/Logging.jl
  stdlib/Logging/test/runtests.jl
  test/precompile.jl
Labels: display and printing, logging, merge me

#52957 LU factorization: add allowsingular keyword argument
  NEWS.md
  stdlib/LinearAlgebra/src/factorization.jl
  stdlib/LinearAlgebra/src/lu.jl
  stdlib/LinearAlgebra/src/tridiag.jl
  stdlib/LinearAlgebra/test/lu.jl
Labels: linear algebra, merge me

#53257 Truecolor terminal capability detection for Windows
  base/terminfo.jl
Labels: windows, REPL, merge me

#53267 Tests for isassigned for a SubArray
  test/subarray.jl
Labels: test, arrays, merge me

#53208 Fix sortperm(::OffsetRange)
  base/range.jl
  test/ranges.jl
Labels: bugfix, merge me, ranges, sort

#52315 additional clarification on cfunction embedding
  doc/src/manual/embedding.md
Labels: doc, embedding, merge me

#52159 Update `unique` and `unique!` docstrings to mention `hash` function
  base/set.jl
Labels: doc

#52174 add --compiled-modules=strict option
  base/loading.jl
  base/util.jl
  doc/man/julia.1
  doc/src/manual/command-line-interface.md
  src/jloptions.c
  src/julia.h
Labels: merge me

#52741 document Base.Chars arguments of startswith/endswith
  base/strings/util.jl
Labels: doc, strings, merge me

#53218 Fix interpreter_exec.jl test
  base/compiler/abstractinterpretation.jl
  base/compiler/optimize.jl
  base/compiler/utilities.jl
  test/compiler/interpreter_exec.jl
  test/compiler/irpasses.jl
  test/compiler/ssair.jl
Labels: inference, backport 1.10

#52745 `names` docstring: qualify non-exported cross-refs
  base/reflection.jl
Labels: doc, merge me

#50679 Add documentation for some documentation forms.
  doc/src/manual/documentation.md
Labels: doc, docsystem

#53194 doc: float: add note for NaN compare
  base/float.jl
Labels: doc

#53270 [GMP_jll] Upgrade to v6.3.0
  deps/checksums/gmp
  deps/gmp.mk
  deps/gmp.version
  deps/patches/gmp-CVE-2021-43618.patch
  deps/patches/gmp-HG-changeset.patch
  deps/patches/gmp-alloc_overflow.patch
  deps/patches/gmp-more_alloc_overflow.patch
  stdlib/GMP_jll/Project.toml
  stdlib/GMP_jll/test/runtests.jl
Labels: build, external dependencies, bignums, stdlib JLLs

#52046 bypass assignments in edit, code_warntype and friends
  stdlib/InteractiveUtils/src/macros.jl
  stdlib/InteractiveUtils/test/runtests.jl
Labels: forget me not

#53247 Add docstring to constants in `Base.Filesystem`
  base/filesystem.jl
  test/filesystem.jl
Labels: doc

#49937 update libuv to v2-1.48.0
  Make.inc
  NEWS.md
  base/cmd.jl
  base/process.jl
  deps/checksums/libuv
  deps/libuv.version
  src/jl_uv.c
  stdlib/FileWatching/test/runtests.jl
  stdlib/LibUV_jll/Project.toml
  stdlib/REPL/src/precompile.jl
  test/spawn.jl
Labels: merge me

#52233 Use tagged CodeInstances for AbstractInterpreter caching
  base/boot.jl
  base/compiler/cicache.jl
  base/compiler/typeinfer.jl
  base/compiler/types.jl
  base/compiler/utilities.jl
  base/reflection.jl
  doc/src/devdocs/ast.md
  doc/src/devdocs/locks.md
  src/builtins.c
  src/gf.c
  src/jltypes.c
  src/julia.h
  src/julia_internal.h
  src/method.c
  src/opaque_closure.c
  src/staticdata.c
  src/staticdata_utils.c
  stdlib/REPL/src/REPLCompletions.jl
  test/compiler/AbstractInterpreter.jl
  test/compiler/EscapeAnalysis/EAUtils.jl
  test/compiler/invalidation.jl
  test/compiler/newinterp.jl
  test/core.jl
  test/precompile.jl
  test/reflection.jl
Labels: inference, caching

#53262 export `IdSet` and document it
  NEWS.md
  base/exports.jl
  base/iddict.jl
  base/idset.jl
  doc/src/base/collections.md
  stdlib/TOML/src/TOML.jl
  stdlib/TOML/src/print.jl
  stdlib/TOML/test/print.jl
  test/sets.jl
Labels: collections, merge me

#53273 [REPL] Fix typo in using/import completion
  stdlib/REPL/src/REPLCompletions.jl
  stdlib/REPL/test/replcompletions.jl
Labels: REPL, merge me

#49438 Add unary negation in table of operator precedence and associativity
  doc/src/manual/mathematical-operations.md
Labels: doc, merge me

#53275 Mark codeinstance.specsigflags as atomic
  src/jltypes.c
  test/core.jl
Labels: bugfix, merge me

#50843 Clarify that command-line switches need to be manually set in `addprocs`
  doc/src/manual/arrays.md
  doc/src/manual/distributed-computing.md
Labels: doc, merge me

#53283 document exactness for `typeintersect(T, S)` when `T <: S`
  base/reflection.jl
Labels: doc, types and dispatch

#53276 Prefer `# Examples` in docstrings
  base/abstractdict.jl
  base/cartesian.jl
  base/complex.jl
  base/essentials.jl
  base/experimental.jl
  base/expr.jl
  base/gcutils.jl
  base/indices.jl
  base/libdl.jl
  base/loading.jl
  base/logging.jl
  base/math.jl
  base/operators.jl
  base/path.jl
  base/reflection.jl
  base/secretbuffer.jl
  base/shell.jl
  base/show.jl
  base/slicearray.jl
  base/strings/annotated.jl
  base/threadingconstructs.jl
  base/util.jl
  stdlib/Dates/src/conversions.jl
  stdlib/Dates/src/io.jl
  stdlib/InteractiveUtils/src/editless.jl
  stdlib/LinearAlgebra/src/eigen.jl
  stdlib/Markdown/src/render/html.jl
  stdlib/Markdown/src/render/latex.jl
  stdlib/Sockets/src/addrinfo.jl
  stdlib/Test/src/logging.jl
Labels: merge me

#52232 Docs: add `Logging.BelowMinLevel` and `Logging.AboveMaxLevel` to the manual page for the Logging stdlib
  stdlib/Logging/docs/src/index.md
  stdlib/Logging/src/Logging.jl
  stdlib/Logging/test/runtests.jl
Labels: doc, logging, merge me

#34938 Missing tests for TwicePrecision
  test/ranges.jl
Labels: test, merge me

#47679 Predicate versions of `allequal` & `allunique`
  NEWS.md
  base/set.jl
  test/sets.jl
Labels: iteration, feature

#51914 Improve the annotated join method and dispatch
  base/strings/io.jl
  test/strings/annotated.jl
Labels: strings

#53289 Tests: rename Foo test pkg
  test/loading.jl
Labels: merge me

#53281 More consistent return value for annotations
  base/strings/annotated.jl
  deps/checksums/StyledStrings-a1b2ae2434cd7d8199fa8647339422fe0e1d0324.tar.gz/md5
  deps/checksums/StyledStrings-a1b2ae2434cd7d8199fa8647339422fe0e1d0324.tar.gz/sha512
  deps/checksums/StyledStrings-e0ca0f85412ea5cafabfeaaec4d62ca26c3959d2.tar.gz/md5
  deps/checksums/StyledStrings-e0ca0f85412ea5cafabfeaaec4d62ca26c3959d2.tar.gz/sha512
  stdlib/StyledStrings.version
Labels: strings

#53282 Fix seekend method of AnnotatedIOBuffer
  base/strings/annotated.jl
  test/strings/annotated.jl
Labels: I/O, strings, embarrassing-bugfix

#53288 Add 3-arg `*` to the manual
  stdlib/LinearAlgebra/docs/src/index.md
Labels: doc

#52898 Add `Lockable` to Base, to bundle a lock with its resource
  NEWS.md
  base/env.jl
  base/lock.jl
  doc/src/base/parallel.md
  test/misc.jl
Labels: multithreading, merge me

#51458 Make zero on array of arrays etc apply recursively
  NEWS.md
  base/abstractarray.jl
  test/abstractarray.jl
Labels: merge me

#47409 Add more examples for `cat`
  base/abstractarray.jl
Labels: doc, merge me

#53160 Update probes.md to remove workaround
  doc/src/devdocs/probes.md
Labels: doc, merge me

#53051 doc: manual: constructors: note the correspondence with callable objs
  doc/src/manual/constructors.md
Labels: doc, types and dispatch

#53249 Restrict vector indexing of views to 1-based ranges
  base/subarray.jl
  test/offsetarray.jl
Labels: arrays

#53294 follow up #52868 and fix up doc/src/base/base.md
  doc/src/base/base.md
Labels: doc, embarrassing-bugfix, merge me

#45221 Improve docstrings for `Int`, `Float64`, `^`, and friends
  base/docs/basedocs.jl
  base/math.jl
  base/promotion.jl
  doc/src/base/numbers.md
Labels: doc, merge me

#52934 Documentation update for LinearAlgebra functions
  stdlib/LinearAlgebra/docs/src/index.md
  stdlib/LinearAlgebra/src/LinearAlgebra.jl
  stdlib/LinearAlgebra/src/exceptions.jl
  stdlib/LinearAlgebra/src/matmul.jl
  stdlib/LinearAlgebra/src/transpose.jl
  stdlib/LinearAlgebra/test/matmul.jl
  stdlib/LinearAlgebra/test/runtests.jl
Labels: doc, linear algebra, merge me

#53301 Fix typo in `Sys.total_memory` docstring.
  base/sysinfo.jl
Labels: doc, merge me, backport 1.10

#33593 tempdir: error on non-directory result
  base/file.jl
Labels: merge me

#47354 Add `Iterators.cycle(iter, n)`
  NEWS.md
  base/iterators.jl
  test/iterators.jl
Labels: iteration, merge me

#52157 Strengthen docs for `reinterpret`
  base/essentials.jl
  base/reinterpretarray.jl
Labels: doc, merge me

#52410 Add more @showarg examples
  doc/src/manual/metaprogramming.md
Labels: doc, merge me

#52809 eliminate the dead `iterate` branch in `_unsafe_(get)setindex!`.
  base/multidimensional.jl
  test/abstractarray.jl
Labels: performance, arrays, merge me

#53296 Trim hash map size when pruning type caches
  src/jltypes.c
  src/staticdata.c
Labels: precompile, merge me

#53304 llvmunwind: use LLVM_PATH instead of LLVM_CONFIG_PATH variable
  deps/unwind.mk
Labels: build, external dependencies, merge me

#53299 Update logging.jl to add docstrings for exported symbols
  base/logging.jl
Labels: doc, merge me

#53128 Set LLVM issue tracker URL to Julia's issue tracker
  deps/llvm.mk
Labels: build, llvm

#53307 Fix FileWatching tests on FreeBSD
  stdlib/FileWatching/test/runtests.jl
Labels: freebsd, bugfix, stdlib

#53192 change IOBuffer to use Memory internally
  base/array.jl
  base/iobuffer.jl
  base/iostream.jl
  base/stream.jl
  base/strings/annotated.jl
  base/strings/string.jl
  base/subarray.jl
  src/array.c
  src/genericmemory.c
  src/jl_exported_funcs.inc
  stdlib/REPL/src/LineEdit.jl
  stdlib/REPL/test/precompilation.jl
  test/iobuffer.jl
  test/show.jl
Labels: merge me

#53303 Add `conj!` for arrays of arrays
  base/abstractarraymath.jl
  test/arrayops.jl
Labels: merge me

#53306 release-1.10: set VERSION to 1.10.1
  VERSION
Labels: release

#50477 Add Juliaup docs
  doc/make.jl
  doc/src/manual/installation.md
Labels: doc

#53323 split results.json into 5000 result partitions
  test/buildkitetestjson.jl
  test/runtests.jl
Labels: ci

#53316 allow passing command line flags to `compilecache`.
  base/loading.jl
  test/precompile.jl
Labels: merge me

#50619 Clarify the difference between collect and bracket notation for generators
  base/array.jl
  doc/src/manual/arrays.md
Labels: doc, merge me

#53311 Move isassigned within inbounds in copyto_unaliased
  base/abstractarray.jl
  test/abstractarray.jl
Labels: performance, arrays, merge me

#53314 make dependencies of extensions be found in implicit environments
  base/loading.jl
  test/loading.jl
  test/project/Extensions/ImplicitEnv/A/Project.toml
  test/project/Extensions/ImplicitEnv/A/ext/BExt.jl
  test/project/Extensions/ImplicitEnv/A/src/A.jl
  test/project/Extensions/ImplicitEnv/B/Project.toml
  test/project/Extensions/ImplicitEnv/B/src/B.jl
Labels: packages, bugfix

#26931 Cleaning up some regex expressions
  doc/src/manual/strings.md
Labels: doc, merge me

#53334 Merge duplicate entries in results.json
  test/buildkitetestjson.jl
Labels: testsystem, ci

#53335 Fix results.json generation after chunk-splitting
  test/buildkitetestjson.jl
Labels: testsystem, bugfix, ci

#53336 Cleanups for tagged code instance
  src/gf.c
  src/precompile_utils.c
Labels: merge me

#52165 Random: make statistical uniform tests fail less often
  stdlib/Random/test/runtests.jl
Labels: test, RNG, bugfix, merge me

#53280 More cautious legacy_color conversion in Logging
  stdlib/Logging/src/ConsoleLogger.jl
Labels: display and printing, logging

#51567 Add CartesianIndex to getindex docstring
  base/abstractarray.jl
Labels: doc

#51073 Support `signbit(::Dates.Period)`
  stdlib/Dates/src/periods.jl
  stdlib/Dates/test/periods.jl
Labels: dates, stdlib, merge me

#53343 update `--pkgimages=existing` option in CLI section of manual
  doc/src/manual/command-line-interface.md
Labels: merge me

#53305 Propagate inbounds in isassigned with CartesianIndex indices
  base/multidimensional.jl
  test/abstractarray.jl
Labels: performance, arrays, merge me

#53346 set VERSION to 1.12.0-DEV
  VERSION
Labels: release

#53344 use a separate depot for `--pkgimages` loading test
  test/loading.jl
Labels: test, merge me

#53300 allow external absint to hold custom data in `codeinst.inferred`
  base/compiler/types.jl
  src/gf.c
  test/compiler/AbstractInterpreter.jl
  test/precompile.jl
Labels: backport 1.11

#51802 Allow AnnotatedStrings in log messages
  stdlib/Logging/src/ConsoleLogger.jl
  stdlib/Logging/test/runtests.jl
Labels: display and printing, logging, merge me, backport 1.11

#53342 Add `Base.wrap` to docs
  doc/src/base/arrays.md
Labels: doc, merge me, backport 1.11
