Repository JuliaLang/julia, pull requests merged in 2024-05, with the labels that each got.

#54309 correctly track freed bytes in array_to_string
  src/array.c
  src/gc.c
  src/gc.h
  src/julia_internal.h
Labels: arrays, GC

#54284 mpfr_overflow_typo
  base/mpfr.jl
  test/mpfr.jl
Labels: bignums, embarrassing-bugfix

#54067 LinearAlgebra: Type-stability in broadcasting numbers over Bidiagonal
  stdlib/LinearAlgebra/src/structuredbroadcast.jl
  stdlib/LinearAlgebra/test/structuredbroadcast.jl
Labels: linear algebra, arrays, merge me, backport 1.11

#54302 Specialised substring equality for annotated strs
  base/strings/annotated.jl
  test/strings/annotated.jl
Labels: strings, backport 1.11

#53715 Add read/write specialisation for IOContext{AnnIO}
  base/strings/annotated.jl
  test/strings/annotated.jl
Labels: I/O, strings, backport 1.11

#54243 prevent `package_callbacks` to run multiple time for a single package
  base/loading.jl
  test/precompile.jl
Labels: backport 1.11

#54350 add a precompile signature to Artifacts code that is used by JLLs
  stdlib/Artifacts/src/Artifacts.jl
Labels: latency, backport 1.11

#54331 correctly track freed bytes in jl_genericmemory_to_string
  src/gc.c
  src/gc.h
  src/genericmemory.c
  src/julia.h
  src/julia_internal.h
Labels: arrays, GC, backport 1.11

#54371 add test case to check live_bytes doesn't grow arbitrarily on String(::Array{UInt8}))
  test/gc.jl
Labels: test, GC

#54311 REPL: fix hinting without expanding user
  stdlib/REPL/src/LineEdit.jl
  stdlib/REPL/src/REPL.jl
  stdlib/REPL/src/REPLCompletions.jl
Labels: REPL, backport 1.11

#54379 clarify tip about untyped globals: const globals need no annotation
  doc/src/manual/performance-tips.md
Labels: doc

#54363 typeintersect: fix another stack overflow caused by circular constraints
  src/subtype.c
  test/subtype.jl
Labels: types and dispatch, backport 1.10, backport 1.11

#51928 Styled markdown, with a few tweaks
  deps/checksums/StyledStrings-ac472083359dde956aed8c61d43b8158ac84d9ce.tar.gz/md5
  deps/checksums/StyledStrings-ac472083359dde956aed8c61d43b8158ac84d9ce.tar.gz/sha512
  deps/checksums/StyledStrings-d7496d24d3f05536bce6a7eb4cd8ca05a75c02aa.tar.gz/md5
  deps/checksums/StyledStrings-d7496d24d3f05536bce6a7eb4cd8ca05a75c02aa.tar.gz/sha512
  doc/Manifest.toml
  stdlib/Manifest.toml
  stdlib/Markdown/Project.toml
  stdlib/Markdown/src/Common/Common.jl
  stdlib/Markdown/src/Common/block.jl
  stdlib/Markdown/src/Common/inline.jl
  stdlib/Markdown/src/GitHub/table.jl
  stdlib/Markdown/src/Markdown.jl
  stdlib/Markdown/src/render/html.jl
  stdlib/Markdown/src/render/latex.jl
  stdlib/Markdown/src/render/rst.jl
  stdlib/Markdown/src/render/terminal/formatting.jl
  stdlib/Markdown/src/render/terminal/render.jl
  stdlib/Markdown/test/runtests.jl
  stdlib/StyledStrings.version
  test/precompile.jl
Labels: display and printing, markdown, don't squash, backport 1.11

#54374 Revert "Move profiling manual section to a new tutorials toplevel heading (#52056)"
  doc/make.jl
  doc/src/manual/profile.md
  doc/src/tutorials/external.md
Labels: doc, revert, backport 1.11

#54303 LinearAlgebra: improve type-inference in Symmetric/Hermitian matmul
  stdlib/LinearAlgebra/src/LinearAlgebra.jl
  stdlib/LinearAlgebra/src/matmul.jl
  stdlib/LinearAlgebra/test/matmul.jl
Labels: linear algebra, backport 1.10, backport 1.11

#54392 Document copy! for vector types (#54142)
  base/abstractarray.jl
Labels: doc

#54394 Unicode: assume foldable ccall in category_code
  base/strings/unicode.jl
  test/char.jl
Labels: merge me, effects

#52439 Stabilize `MulAddMul` strategically
  stdlib/LinearAlgebra/src/bidiag.jl
  stdlib/LinearAlgebra/src/generic.jl
  stdlib/LinearAlgebra/src/matmul.jl
  stdlib/LinearAlgebra/src/special.jl
  stdlib/LinearAlgebra/src/triangular.jl
  stdlib/LinearAlgebra/test/matmul.jl
Labels: performance, linear algebra

#53972 account for extensions indirectly depending on each other in parallel package precompilation
  base/precompilation.jl
Labels: precompile

#54220 Optimize issorted for rev=true
  base/sort.jl
Labels: performance, domain:sorting

#54415 optimize cases when there are no handles in the method body
  base/compiler/abstractinterpretation.jl
  base/compiler/inferencestate.jl
  base/compiler/ssair/slot2ssa.jl
  base/compiler/tfuncs.jl
  base/compiler/utilities.jl
  test/compiler/inference.jl
Labels: status:merge me

#54305 Make `repr(::Ptr)` parsable Julia code.
  base/show.jl
  test/show.jl
Labels: domain:display and printing

#54425 Fix typo in test/filesystem.jl
  test/filesystem.jl
Labels: status:merge me

#54426 Artfifacts: track Artifacts.toml by hash instead of mtime
  stdlib/Artifacts/src/Artifacts.jl
Labels: backport 1.11

#54423 Highlight julia-repl code in Markdown specially
  stdlib/Markdown/src/Markdown.jl
  stdlib/Markdown/src/render/terminal/render.jl
Labels: domain:display and printing, stdlib:markdown

#53748 Make Memory{T} respect the max alignment of the heap
  src/codegen.cpp
  test/vecelement.jl
Labels: status:merge me

#54420 compiler: minor inference adjustments
  base/compiler/optimize.jl
  base/compiler/ssair/inlining.jl
  base/compiler/tfuncs.jl
  test/compiler/effects.jl
Labels: compiler:inference, status:merge me

#54419 Document supertype(T::UnionAll) (#54286)
  base/operators.jl
Labels: domain:docs

#52421 Define `==` for `Some` by forwarding to the wrapped value
  base/some.jl
  test/some.jl
Labels: kind:minor change

#54437 Aggressive constprop in istriu/istril for structured matrices
  stdlib/LinearAlgebra/src/bidiag.jl
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/LinearAlgebra/src/hessenberg.jl
  stdlib/LinearAlgebra/src/triangular.jl
  stdlib/LinearAlgebra/src/tridiag.jl
Labels: domain:linear algebra

#54421 Reduce matmul latency by splitting small matmul
  stdlib/LinearAlgebra/src/matmul.jl
Labels: domain:linear algebra, compiler:latency

#54428 Move ConsoleLogging.jl into Base
  base/Base.jl
  base/logging/ConsoleLogger.jl
  base/logging/logging.jl
  base/meta.jl
  doc/Manifest.toml
  stdlib/Logging/Project.toml
  stdlib/Logging/src/Logging.jl
  stdlib/Logging/test/runtests.jl
  stdlib/Manifest.toml
  test/precompile.jl
Labels: logging, backport 1.11

#54408 comment out an assertion that fires when loading Parquet2
  src/staticdata_utils.c
Labels: backport 1.11

#54261 fixes to colonful `reshape`
  base/reshapedarray.jl
  test/abstractarray.jl
Labels: domain:arrays, kind:bugfix

#54332 Revert "add unsetindex support to more copyto methods (#51760)"
  base/abstractarray.jl
  base/array.jl
  base/multidimensional.jl
  base/subarray.jl
  stdlib/LinearAlgebra/src/bidiag.jl
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/LinearAlgebra/src/structuredbroadcast.jl
  stdlib/LinearAlgebra/src/tridiag.jl
  stdlib/LinearAlgebra/test/bidiag.jl
  stdlib/LinearAlgebra/test/diagonal.jl
  stdlib/LinearAlgebra/test/special.jl
  stdlib/LinearAlgebra/test/structuredbroadcast.jl
  stdlib/LinearAlgebra/test/tridiag.jl
  test/abstractarray.jl
  test/subarray.jl
Labels: kind:revert, backport 1.11

#54449 LinearAlgebra: compile-time stride check in `gemv!` to reduce latency
  stdlib/LinearAlgebra/src/LinearAlgebra.jl
  stdlib/LinearAlgebra/src/matmul.jl
  stdlib/LinearAlgebra/test/matmul.jl
Labels: domain:linear algebra, compiler:latency

#54403 Cast back `svd`/`eigen` of symmetric `Float16` matrices to `Float16`
  stdlib/LinearAlgebra/src/symmetric.jl
  stdlib/LinearAlgebra/src/symmetriceigen.jl
  stdlib/LinearAlgebra/test/svd.jl
  stdlib/LinearAlgebra/test/symmetriceigen.jl
Labels: domain:linear algebra

#54461 Compile-time stride checks in matmul functions
  stdlib/LinearAlgebra/src/matmul.jl
Labels: domain:linear algebra, compiler:latency

#54470 Targeted `stable_muladdmul` branches in small matmul
  stdlib/LinearAlgebra/src/matmul.jl
Labels: domain:linear algebra, compiler:latency

#54472 LinearAlgebra: aggressive constprop in opnorm
  stdlib/LinearAlgebra/src/generic.jl
Labels: domain:linear algebra, compiler:latency

#54459 Reland " Use copyto! in converting Diagonal/Bidiagonal/Tridiagonal to Matrix #53912 "
  stdlib/LinearAlgebra/src/bidiag.jl
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/LinearAlgebra/src/tridiag.jl
  stdlib/LinearAlgebra/test/bidiag.jl
  stdlib/LinearAlgebra/test/diagonal.jl
  stdlib/LinearAlgebra/test/special.jl
Labels: domain:linear algebra, kind:re-land

#54413 Fix `kron` ambiguity for triangular/hermitian matrices
  stdlib/LinearAlgebra/src/symmetric.jl
  stdlib/LinearAlgebra/src/triangular.jl
  stdlib/LinearAlgebra/test/symmetric.jl
  stdlib/LinearAlgebra/test/triangular.jl
Labels: domain:linear algebra

#54474 Unalias source from dest in copytrito
  stdlib/LinearAlgebra/src/generic.jl
  stdlib/LinearAlgebra/test/generic.jl
Labels: domain:linear algebra, domain:arrays

#54466 Add docstring for internal `fzeropreserving` function
  stdlib/LinearAlgebra/src/structuredbroadcast.jl
Labels: domain:docs, domain:linear algebra, domain:broadcast

#54476 Speed up `copyto!(::HermOrSym, ::HermOrSym)`
  stdlib/LinearAlgebra/src/symmetric.jl
Labels: performance, domain:linear algebra

#54465 typeintersect: conservative typevar subtitution during `finish_unionall`
  src/builtins.c
  src/gf.c
  src/jltypes.c
  src/julia_internal.h
  src/subtype.c
  test/subtype.jl
Labels: domain:types and dispatch, backport 1.10, backport 1.11

#54314 Fix bug when rounding large numbers to floating point types
  base/essentials.jl
  base/float.jl
  base/rounding.jl
  test/rounding.jl
Labels: kind:bugfix, backport 1.11

#54475 Disallow `Bool` indices in structured matrix indexing
  stdlib/LinearAlgebra/src/bidiag.jl
  stdlib/LinearAlgebra/src/hessenberg.jl
  stdlib/LinearAlgebra/src/symmetric.jl
  stdlib/LinearAlgebra/src/triangular.jl
  stdlib/LinearAlgebra/src/tridiag.jl
  stdlib/LinearAlgebra/test/bidiag.jl
  stdlib/LinearAlgebra/test/hessenberg.jl
  stdlib/LinearAlgebra/test/symmetric.jl
  stdlib/LinearAlgebra/test/triangular.jl
  stdlib/LinearAlgebra/test/tridiag.jl
Labels: domain:linear algebra, domain:arrays

#54487 Use lacpy! in copytrito! for strided matrices
  stdlib/LinearAlgebra/src/LinearAlgebra.jl
  stdlib/LinearAlgebra/src/generic.jl
  stdlib/LinearAlgebra/src/matmul.jl
  stdlib/LinearAlgebra/test/generic.jl
Labels: performance, domain:linear algebra

#54491 Transpose triangular wrapper in Cholesky getproperty
  stdlib/LinearAlgebra/src/cholesky.jl
  stdlib/LinearAlgebra/test/cholesky.jl
Labels: performance, domain:linear algebra

#52730 Specialize `copyto!` for triangular matrices
  stdlib/LinearAlgebra/src/triangular.jl
  stdlib/LinearAlgebra/test/triangular.jl
Labels: domain:linear algebra, domain:arrays

#54492 clarify isdigit docs - ASCII digits only
  base/strings/unicode.jl
Labels: domain:docs, domain:unicode, status:merge me

#54469 Use Some/Nothing instead of a sentinel for `fzero`
  stdlib/LinearAlgebra/src/structuredbroadcast.jl
  stdlib/LinearAlgebra/test/structuredbroadcast.jl
Labels: domain:linear algebra, domain:arrays:sparse, kind:bugfix

#54500 Add Scoping Beginner Summary to Manual
  doc/src/manual/variables-and-scoping.md
Labels: domain:docs

#54460 Reland "Support broadcasting over structured block matrices #53909"
  stdlib/LinearAlgebra/src/structuredbroadcast.jl
  stdlib/LinearAlgebra/test/special.jl
  stdlib/LinearAlgebra/test/structuredbroadcast.jl
Labels: domain:linear algebra, domain:broadcast, kind:re-land

#54505 Fix admonitions in my PR #54500
  doc/src/manual/variables-and-scoping.md
Labels: status:merge me

#54507 Transpose triangular wrapper in CholeskyPivoted getproperty
  stdlib/LinearAlgebra/src/cholesky.jl
  stdlib/LinearAlgebra/test/cholesky.jl
Labels: domain:linear algebra

#54493 Replace mul! by broadcasting in exp!
  stdlib/LinearAlgebra/src/dense.jl
Labels: domain:linear algebra, compiler:latency

#54443 Fix an off-by-one error in interpreter's `do_invoke`
  src/interpreter.c
Labels: compiler:interpreter, status:merge me, backport 1.10, backport 1.11

#54506 Make `deepcopy_internal` infer for locks and conditions
  base/deepcopy.jl
  test/copy.jl
Labels: performance

#54094 Make ASAN build not be debug, following clangs recommendation
  contrib/asan/Make.user.asan
  sysimage.mk
Labels: domain:building, status:merge me

#54496 Make `deepcopy_internal` inferrable for BigInt and BigFloat
  base/gmp.jl
  base/mpfr.jl
  test/copy.jl
Labels: performance, status:merge me

#54509 Compare Cholesky and BunchKaufman by properties
  stdlib/LinearAlgebra/src/bunchkaufman.jl
  stdlib/LinearAlgebra/src/cholesky.jl
  stdlib/LinearAlgebra/src/eigen.jl
  stdlib/LinearAlgebra/test/cholesky.jl
  stdlib/LinearAlgebra/test/eigen.jl
  stdlib/LinearAlgebra/test/factorization.jl
Labels: domain:linear algebra

#54514 typeintersect: followup cleanup for the nothrow path of type instantiation
  src/jltypes.c
  src/julia_internal.h
  src/subtype.c
  test/subtype.jl
Labels: domain:types and dispatch, backport 1.10, backport 1.11

#54518 Ignore non-uplo half in `LAPACK.hetrd!` in `isfinite` check
  stdlib/LinearAlgebra/src/lapack.jl
  stdlib/LinearAlgebra/test/lapack.jl
Labels: domain:linear algebra

#54473 Copy parent in copy_similar for Symmetric/Hermitian
  stdlib/LinearAlgebra/src/symmetriceigen.jl
Labels: domain:linear algebra, compiler:latency

#54520 Replace broadcast by loop in LinearAlgebra.exp! for `StridedMatrix`es
  stdlib/LinearAlgebra/src/dense.jl
Labels: domain:linear algebra

#54523 Aggressive constprop in norm
  stdlib/LinearAlgebra/src/generic.jl
Labels: domain:linear algebra, compiler:latency

#53767 Add a fast method for `diag` of `Cholesky` matrices
  stdlib/LinearAlgebra/src/cholesky.jl
  stdlib/LinearAlgebra/src/generic.jl
  stdlib/LinearAlgebra/test/cholesky.jl
Labels: domain:linear algebra

#53981 Fix Date parsing crash when parsing a negative year
  stdlib/Dates/src/parse.jl
  stdlib/Dates/test/io.jl
Labels: domain:dates

#54531 Define matrix solves for `AbstractQ`
  stdlib/LinearAlgebra/src/abstractq.jl
  stdlib/LinearAlgebra/test/abstractq.jl
Labels: domain:linear algebra

#54535 Fix fixed-length negative year parsing
  stdlib/Dates/src/io.jl
  stdlib/Dates/src/parse.jl
  stdlib/Dates/test/io.jl
Labels: domain:dates

#54231 Implement reverse for more Matrix variants
  stdlib/LinearAlgebra/src/bidiag.jl
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/LinearAlgebra/src/hessenberg.jl
  stdlib/LinearAlgebra/src/symmetric.jl
  stdlib/LinearAlgebra/src/triangular.jl
  stdlib/LinearAlgebra/src/tridiag.jl
  stdlib/LinearAlgebra/test/bidiag.jl
  stdlib/LinearAlgebra/test/diagonal.jl
  stdlib/LinearAlgebra/test/hessenberg.jl
  stdlib/LinearAlgebra/test/symmetric.jl
  stdlib/LinearAlgebra/test/triangular.jl
  stdlib/LinearAlgebra/test/tridiag.jl
Labels: domain:linear algebra, status:merge me

#54529 Copy parent to dest in general in copyto! for triangular
  stdlib/LinearAlgebra/src/triangular.jl
  stdlib/LinearAlgebra/test/special.jl
Labels: domain:linear algebra, domain:arrays, kind:bugfix

#52694 Reinstate similar for AbstractQ for backward compatibility
  stdlib/LinearAlgebra/src/LinearAlgebra.jl
  stdlib/LinearAlgebra/src/abstractq.jl
  stdlib/LinearAlgebra/test/abstractq.jl
Labels: domain:linear algebra, status:merge me, backport 1.10, backport 1.11

#54122 Avoid StackOverflowError of generic `norm` on `AbstractChar`
  stdlib/LinearAlgebra/src/generic.jl
  stdlib/LinearAlgebra/test/generic.jl
Labels: domain:linear algebra, status:merge me

#54497 Make TestLogger thread-safe (introduce a lock)
  stdlib/Test/src/logging.jl
Labels: domain:multithreading, testsystem, backport 1.6, backport 1.10, backport 1.11

#54548 Fixes for bitcast bugs with LLVM 17 / opaque pointers
  src/intrinsics.cpp
  test/intrinsics.jl
Labels: compiler:codegen, kind:bugfix, status:merge me, backport 1.11

#54191 make `AbstractPipe` public
  base/public.jl
Labels: backport 1.11

#54367 Build mbedTLS, libssh2, nghttp2 and curl disregarding `USE_SYSTEM_LIBGIT2=1`
  deps/Makefile
Labels: domain:building

#54562 Make some more deepcopy_internal methods type stable
  base/deepcopy.jl
  test/copy.jl
Labels: status:merge me, backport 1.11

#54359 Pkg REPL: cache `pkg_mode` lookup
  stdlib/REPL/src/REPL.jl
Labels: backport 1.11

#53926 mention REPL IOContext in pretty-printing docs
  doc/src/manual/types.md
  stdlib/REPL/docs/src/index.md
Labels: domain:docs, domain:display and printing

#54204 in `copyto_impl!`, shadow a name as intended to ensure type stability
  base/array.jl
Labels: domain:arrays

#54269 document `finally` in `try/catch`
  base/docs/basedocs.jl
Labels: domain:docs, domain:error handling

#54484 Fix checked_pow() perf: BigInts can never overflow, so don't need checked math.
  base/gmp.jl
  test/checked.jl
Labels: performance, domain:maths, domain:bignums, status:merge me

#54571 Use Base.require() to load Distributed internally
  base/client.jl
  stdlib/LinearAlgebra/src/LinearAlgebra.jl
Labels: backport 1.11

#54079 Rename the internal union `OneBasedRanges` to `_OneBasedRanges`
  base/subarray.jl
Labels: status:merge me

#54552 Split generic_matmul for strided matrices into two halves
  stdlib/LinearAlgebra/src/LinearAlgebra.jl
  stdlib/LinearAlgebra/src/matmul.jl
Labels: domain:linear algebra, compiler:latency

#53402 Add `jl_getaffinity` and `jl_setaffinity`
  src/jl_exported_funcs.inc
  src/julia_threads.h
  src/threading.c
  test/threads.jl
Labels: domain:multithreading, status:merge me, backport 1.11

#54429 document module docstring scope
  doc/src/manual/documentation.md
  test/docs.jl
Labels: domain:docs, modules, status:merge me

#54075 LinearAlgebra: use band index in structured broadcast
  stdlib/LinearAlgebra/src/LinearAlgebra.jl
  stdlib/LinearAlgebra/src/bidiag.jl
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/LinearAlgebra/src/structuredbroadcast.jl
  stdlib/LinearAlgebra/src/tridiag.jl
  stdlib/LinearAlgebra/test/special.jl
Labels: domain:linear algebra, domain:arrays

#54499 make `@doc x` work without REPL loaded
  base/docs/Docs.jl
  test/docs.jl
Labels: docsystem, backport 1.11

#54210 attach finalizer in `mmap` to the correct object
  stdlib/Mmap/src/Mmap.jl
  stdlib/Mmap/test/runtests.jl
Labels: backport 1.11

#54582 Fix typo in unsafe_wrap method
  base/pointer.jl
  test/core.jl
Labels: kind:bugfix, status:merge me

#53356 Rename at-scriptdir project argument to at-script and search upwards for Project.toml
  HISTORY.md
  base/initdefs.jl
Labels: backport 1.11

#53742 Enable support for `NO_COLOR` and `FORCE_COLOR` environment variables
  NEWS.md
  base/client.jl
  base/libuv.jl
  base/options.jl
  doc/src/manual/environment-variables.md
  test/cmdlineargs.jl
Labels: status:merge me

#54545 typeintersect: fix incorrect innervar handling under circular env
  src/subtype.c
  test/subtype.jl
Labels: domain:types and dispatch, backport 1.11

#54586 Set storage class of julia globals to dllimport on windows to avoid auto-import weirdness. Forward port of #54572
  Make.inc
  base/linking.jl
  cli/Makefile
  src/aotcompile.cpp
  src/codegen.cpp
  src/staticdata.c
  sysimage.mk
  test/compileall.jl
Labels: backport 1.11

#54598 release-1.11: Update VERSION to 1.11.0-beta2
  VERSION
Labels: kind:release

#54405 Fix llvm highlighting of variables with `:` in name
  stdlib/InteractiveUtils/src/codeview.jl
  stdlib/InteractiveUtils/test/highlighting.jl
Labels: domain:display and printing

#54547 add summary of x::T output functions
  doc/src/manual/types.md
Labels: domain:docs, domain:display and printing

#54587 Accomodate for rectangular matrices in `copytrito!`
  stdlib/LinearAlgebra/src/generic.jl
  stdlib/LinearAlgebra/src/lapack.jl
  stdlib/LinearAlgebra/test/generic.jl
  stdlib/LinearAlgebra/test/lapack.jl
Labels: domain:linear algebra, backport 1.11

#54614 Add double forward slash to punctuation doc
  doc/src/base/punctuation.md
Labels: domain:docs

#54617 CLI: Use `GetModuleHandleExW` to locate libjulia.dll
  cli/loader_lib.c
Labels: system:windows, backport 1.11

#54605 Allow libquadmath to also fail as it is not available on all systems
  base/Makefile
Labels: domain:building, system:linux, system:arm, backport 1.10, backport 1.11

#53872 Avoid runtime dispatch in `similar` in broadcast
  base/broadcast.jl
Labels: status:merge me

#53652 Docs for reading external command from custom buffer
  doc/src/manual/running-external-programs.md
Labels: domain:docs, status:merge me

#54634 Fix trampoline assembly for build on clang 18 on apple silicon
  cli/trampolines/trampolines_aarch64.S
Labels: status:merge me, system:apple silicon

#54610 REPLCompletions: allow completions for explicitly `using`-ed names
  NEWS.md
  stdlib/REPL/src/REPLCompletions.jl
  stdlib/REPL/test/replcompletions.jl
Labels: stdlib:REPL

#54631 Avoid concatenating LazyString in setindex! for triangular matrices
  stdlib/LinearAlgebra/src/triangular.jl
Labels: domain:linear algebra, backport 1.11

#54635 Aggressive constprop in trevc! to stabilize triangular eigvec
  stdlib/LinearAlgebra/src/lapack.jl
  stdlib/LinearAlgebra/test/triangular.jl
Labels: domain:linear algebra, backport 1.10, backport 1.11

#54629 remove obsolete & unused code in linalg code
  stdlib/LinearAlgebra/src/LinearAlgebra.jl
Labels: domain:linear algebra

#54618 REPLCompletions: refactoring to use more in-place operations
  stdlib/REPL/src/REPLCompletions.jl
Labels: stdlib:REPL

#54645 ensure we set the right value to gc_first_tid
  src/threading.c
  test/gc.jl
Labels: GC, kind:embarrassing-bugfix, backport 1.10, backport 1.11

#54554 make elsize public
  base/public.jl
Labels: backport 1.11
