Repository JuliaLang/julia, pull requests merged in 2024-04, with the labels that each got.

#53906 Add `Base.isrelocatable(pkg)`
  base/loading.jl
  test/relocatedepot.jl
Labels: precompile, backport 1.11

#53913 More emoji completions! 🫠
  stdlib/REPL/src/emoji_symbols.jl
Labels: 😃🍕 and other emoji

#53905 Avoid repeated precompilation when loading from non-relocatable cachefiles
  base/loading.jl
  test/.gitignore
  test/Makefile
  test/RelocationTestPkg4/Project.toml
  test/RelocationTestPkg4/src/RelocationTestPkg4.jl
  test/relocatedepot.jl
Labels: precompile, merge me, backport 1.11

#53626 Explicitly call out reverse ranges in `:` and `range` docstring
  base/range.jl
Labels: doc, merge me

#53930 note that REPL doesn't show "nothing" values
  base/docs/basedocs.jl
Labels: doc, REPL, display and printing, merge me

#53578 “Fix” #53451 -- allow zero-row QR factorization bypassing LAPACK
  stdlib/LinearAlgebra/src/lapack.jl
  stdlib/LinearAlgebra/test/qr.jl
Labels: linear algebra

#53912 Use `copyto!` in converting `Diagonal`/`Bidiagonal`/`Tridiagonal` to `Matrix`
  stdlib/LinearAlgebra/src/bidiag.jl
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/LinearAlgebra/src/tridiag.jl
  stdlib/LinearAlgebra/test/bidiag.jl
  stdlib/LinearAlgebra/test/diagonal.jl
  stdlib/LinearAlgebra/test/special.jl
  stdlib/LinearAlgebra/test/tridiag.jl
Labels: linear algebra, arrays

#53787 Add `zero` for `Base.TwicePrecision`
  base/twiceprecision.jl
  test/ranges.jl
Labels: ranges

#53918 Fix negative tolerance documentation issue in cholesky.jl
  stdlib/LinearAlgebra/src/cholesky.jl
Labels: linear algebra

#53706 Buildkite Test Analytics: fix `failure_expanded`
  test/buildkitetestjson.jl
  test/runtests.jl
Labels: testsystem, ci

#53826 Make all command-line options documented in all related files
  doc/man/julia.1
  doc/src/manual/command-line-interface.md
  src/jloptions.c
Labels: doc

#53949 Add missing methods for UniformScaling
  stdlib/LinearAlgebra/src/uniformscaling.jl
  stdlib/LinearAlgebra/test/uniformscaling.jl
Labels: linear algebra

#53833 Profile: make heap snapshots viewable in vscode viewer
  src/gc-heap-snapshot.cpp
  stdlib/Manifest.toml
  stdlib/Profile/Project.toml
  stdlib/Profile/src/Profile.jl
  stdlib/Profile/src/heapsnapshot_reassemble.jl
Labels: merge me, backport 1.10, backport 1.11

#53961 `LazyString` in `LinearAlgebra.checksquare` error message
  stdlib/LinearAlgebra/src/LinearAlgebra.jl
Labels: linear algebra, backport 1.10, backport 1.11

#53962 Use StringMemory instead of StringVector where possible
  base/gmp.jl
  base/intfuncs.jl
  base/strings/util.jl
  base/uuid.jl
  stdlib/FileWatching/src/pidfile.jl
Labels: performance, strings, backport 1.11

#53825 profile: doc: update the `Allocs.@profile` doc string
  stdlib/Profile/src/Allocs.jl
Labels: doc, profiler

#53968 Explicit namespaces in sort-related docstrings
  base/sort.jl
Labels: doc, sort

#53896 Make reshape and view on Memory produce Arrays and delete wrap
  HISTORY.md
  base/array.jl
  base/exports.jl
  base/genericmemory.jl
  base/iobuffer.jl
  base/strings/string.jl
  doc/src/base/arrays.md
  test/arrayops.jl
Labels: backport 1.11

#53909 Support broadcasting over structured block matrices
  stdlib/LinearAlgebra/src/structuredbroadcast.jl
  stdlib/LinearAlgebra/test/special.jl
  stdlib/LinearAlgebra/test/structuredbroadcast.jl
Labels: linear algebra, arrays

#53991 Test and fix non-int-length bug in `view(::Memory, ::Union{UnitRange, Base.OneTo})`
  base/genericmemory.jl
  test/arrayops.jl
  test/core.jl
Labels: bugfix, merge me, backport 1.11

#53976 LinearAlgebra: LazyString in interpolated error messages
  stdlib/LinearAlgebra/src/abstractq.jl
  stdlib/LinearAlgebra/src/adjtrans.jl
  stdlib/LinearAlgebra/src/bidiag.jl
  stdlib/LinearAlgebra/src/dense.jl
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/LinearAlgebra/src/generic.jl
  stdlib/LinearAlgebra/src/hessenberg.jl
  stdlib/LinearAlgebra/src/lapack.jl
  stdlib/LinearAlgebra/src/lbt.jl
  stdlib/LinearAlgebra/src/ldlt.jl
  stdlib/LinearAlgebra/src/lu.jl
  stdlib/LinearAlgebra/src/qr.jl
  stdlib/LinearAlgebra/src/special.jl
  stdlib/LinearAlgebra/src/structuredbroadcast.jl
  stdlib/LinearAlgebra/src/symmetric.jl
  stdlib/LinearAlgebra/src/triangular.jl
  stdlib/LinearAlgebra/src/tridiag.jl
Labels: linear algebra, backport 1.11

#54001 Improve performance of `ncodeunits(::Char)`
  base/char.jl
Labels: performance, strings

#54004 release-1.11: Update VERSION to 1.11.0-beta1
  VERSION
Labels: release

#54009 allow extensions to trigger from packages in [deps]
  base/loading.jl
  base/precompilation.jl
  doc/src/manual/code-loading.md
  test/loading.jl
  test/project/Extensions/EnvWithHasExtensions/Manifest.toml
  test/project/Extensions/ExtDep3.jl/Project.toml
  test/project/Extensions/ExtDep3.jl/src/ExtDep3.jl
  test/project/Extensions/HasDepWithExtensions.jl/Manifest.toml
  test/project/Extensions/HasDepWithExtensions.jl/Project.toml
  test/project/Extensions/HasExtensions.jl/Manifest.toml
  test/project/Extensions/HasExtensions.jl/Project.toml
  test/project/Extensions/HasExtensions.jl/ext/ExtensionDep.jl
  test/project/Extensions/HasExtensions.jl/src/HasExtensions.jl
Labels: packages, package extensions

#53509 revert moving "creating packages" from Pkg.jl
  doc/make.jl
  doc/src/tutorials/creating-packages.md
  stdlib/Test/docs/src/index.md
Labels: backport 1.11

#53601 inlining: remove unused `allow_abstract::Bool` keyword argument
  base/compiler/ssair/inlining.jl
Labels: optimizer

#54035 ir: Add version of compute_trycatch for IRCode
  base/compiler/inferencestate.jl
Labels: merge me

#54034 Allow mutable-for-identity-only types to be inlined into IR
  base/compiler/utilities.jl
  test/scopedvalues.jl
Labels: merge me

#54024 LinearAlgebra: Remove unnecessary adjoint/transpose for bidiag/tridiag
  stdlib/LinearAlgebra/src/bidiag.jl
  stdlib/LinearAlgebra/src/tridiag.jl
Labels: linear algebra

#53943 Allow for querying of build_id from objects
  base/loading.jl
  src/init.c
  src/julia.h
  src/julia_internal.h
  src/staticdata.c
  test/precompile.jl
  test/precompile_absint1.jl
  test/precompile_absint2.jl
Labels: backport 1.11

#54038 clamp: Turn `ifelse` into ternary
  base/math.jl
  test/math.jl
Labels: bugfix

#54010 Overload `Base.literal_pow` for `AbstractQ`
  stdlib/LinearAlgebra/src/abstractq.jl
  stdlib/LinearAlgebra/test/abstractq.jl
Labels: linear algebra, backport 1.10, backport 1.11

#53965 `zeros`/`ones`/`fill` may accept arbitrary axes that are supported by `similar`
  base/array.jl
  base/bitarray.jl
  test/abstractarray.jl
  test/bitarray.jl
  test/testhelpers/SizedArrays.jl
Labels: arrays, merge me

#52999 optimizer: do not delete statements that may not `:terminate`
  base/compiler/optimize.jl
  base/dict.jl
  test/compiler/irpasses.jl
Labels: optimizer, merge me

#53927 document that print(x) and repr(x) call 2-arg show
  base/strings/io.jl
Labels: doc, display and printing, merge me

#53461 fix cumsum ignoring first element returned in call to promote_op
  base/accumulate.jl
  test/arrayops.jl
Labels: bugfix, merge me, fold

#54069 Allow PrecompileTools to see MI's inferred by foreign abstract interpreters
  base/compiler/typeinfer.jl
Labels: gpu, backport 1.11

#54044 LinearAlgebra: fix copyto! with aliased arrays
  stdlib/LinearAlgebra/src/hessenberg.jl
  stdlib/LinearAlgebra/src/symmetric.jl
  stdlib/LinearAlgebra/src/triangular.jl
  stdlib/LinearAlgebra/test/hessenberg.jl
  stdlib/LinearAlgebra/test/symmetric.jl
  stdlib/LinearAlgebra/test/triangular.jl
Labels: linear algebra, arrays

#54071 LinearAlgebra: replace internal broadcast indexing method by getindex
  stdlib/LinearAlgebra/src/structuredbroadcast.jl
Labels: linear algebra

#53867 remove hand-coded methods for (U)Int128 on 32 bit systems
  base/int.jl
Labels: 32-bit, maths

#53750 inference correctness: fields and globals can revert to undef
  base/compiler/abstractinterpretation.jl
  base/compiler/optimize.jl
  base/compiler/tfuncs.jl
  src/codegen.cpp
  test/compiler/effects.jl
Labels: bugfix, optimizer, backport 1.11

#53722 Clarify `wait(::Task)` documentation
  base/condition.jl
  base/task.jl
  test/misc.jl
Labels: doc, multithreading

#53974 Throw `ConcurrencyViolationError` on `yield` with `current_task`
  base/task.jl
  test/misc.jl
Labels: multithreading, error messages

#53984 Profile: fix heap snapshot is valid char check
  stdlib/Manifest.toml
  stdlib/Profile/Project.toml
  stdlib/Profile/src/heapsnapshot_reassemble.jl
Labels: merge me, backport 1.10, backport 1.11

#54102 Explicitly compute stride in unaliascopy for SubArray
  base/subarray.jl
  test/subarray.jl
Labels: arrays, bugfix, backport 1.11

#54070 Fix integer overflow in `skip(s::IOBuffer, typemax(Int64))`
  base/iobuffer.jl
  test/iobuffer.jl
Labels: I/O, merge me, backport 1.11

#54104 Fix libasan runpath behaviour.
  cli/Makefile
  contrib/asan/Make.user.asan
  contrib/asan/build.sh
  deps/sanitizers.mk
Labels: build, external dependencies

#53186 stdlib: faster kronecker product between hermitian and symmetric matrices
  stdlib/LinearAlgebra/src/dense.jl
  stdlib/LinearAlgebra/src/symmetric.jl
  stdlib/LinearAlgebra/src/triangular.jl
  stdlib/LinearAlgebra/test/symmetric.jl
  stdlib/LinearAlgebra/test/triangular.jl
Labels: performance, linear algebra

#54013 Support case-changes to Annotated{String,Char}s
  base/strings/annotated.jl
  base/strings/unicode.jl
  test/strings/annotated.jl
Labels: strings, backport 1.11

#53941 Fix writing of AnnotatedChars to AnnotatedIOBuffer
  base/strings/annotated.jl
Labels: strings, bugfix, backport 1.11

#54137 Fix typo in docs for `partialsortperm`
  base/sort.jl
Labels: doc, merge me

#54130 inference: handle `LimitedAccuracy` in `handle_global_assignment!`
  base/compiler/abstractinterpretation.jl
Labels: merge me, backport 1.11

#54152 Force specialization on number of args passed to anonymous function constructed by `oror` and `andand`
  base/broadcast.jl
Labels: performance, broadcast, merge me

#54113 Use getPointerAddressSpace instead of cast<PointerType>.getAddressSpace.
  src/cgutils.cpp
  src/llvm-alloc-opt.cpp
  src/llvm-gc-invariant-verifier.cpp
  src/llvm-propagate-addrspaces.cpp
  test/llvmpasses/gc-invariant-verifier.ll
Labels: llvm

#54159 Revert "split internal dates methods into separate functions"
  stdlib/Dates/src/accessors.jl
Labels: revert

#54129 use correct size when creating output data from an IOBuffer
  base/iobuffer.jl
  test/iobuffer.jl
Labels: bugfix, merge me, backport 1.11

#54091 note infix syntax for "in" and "∈"
  base/operators.jl
Labels: doc

#54153 Fixup IdSet docstring
  base/idset.jl
Labels: doc, merge me, backport 1.11

#54165 require one based indexing for `isone(::AbstractArray)`
  stdlib/LinearAlgebra/src/dense.jl
Labels: bugfix

#54162 make `one(::AbstractMatrix)` use `similar` instead of `zeros`
  base/abstractarray.jl
  base/array.jl
  test/abstractarray.jl
Labels: arrays, maths

#54168 Forward aliasing check for `ReshapedArray`s to the parent
  base/reshapedarray.jl
  test/subarray.jl
Labels: performance, arrays

#54172 More tests for irrationals
  test/numbers.jl
Labels: test, maths, merge me

#53967 power uses Float64 exponents for integers
  base/math.jl
  base/special/exp.jl
  test/compiler/codegen.jl
  test/math.jl
Labels: maths

#54176 Some basic tests for untested task getproperty paths
  test/channels.jl
Labels: test, merge me

#54143 Fix `make install` from tarballs
  Makefile
Labels: backport 1.11

#54174 Add tests for CompositeException
  test/error.jl
Labels: test, merge me

#54171 Add some hyperbolic function tests for Float16
  test/math.jl
Labels: test, maths, merge me, float16

#53714 Backports for 1.10.3
  Makefile
  base/boot.jl
  base/compiler/abstractinterpretation.jl
  base/namedtuple.jl
  base/reshapedarray.jl
  deps/JuliaSyntax.version
  deps/checksums/NetworkOptions-0bd33455cf3c77f2f87bf64167b64611dc5ff128.tar.gz/md5
  deps/checksums/NetworkOptions-0bd33455cf3c77f2f87bf64167b64611dc5ff128.tar.gz/sha512
  deps/checksums/NetworkOptions-8eec5cb0acec4591e6db3c017f7499426cd8e352.tar.gz/md5
  deps/checksums/NetworkOptions-8eec5cb0acec4591e6db3c017f7499426cd8e352.tar.gz/sha512
  deps/checksums/Pkg-70525539d3157891445abe806962f780f64143cd.tar.gz/md5
  deps/checksums/Pkg-70525539d3157891445abe806962f780f64143cd.tar.gz/sha512
  deps/checksums/Pkg-f487626b090b91493828cbcde30eed96fb9f8e8f.tar.gz/md5
  deps/checksums/Pkg-f487626b090b91493828cbcde30eed96fb9f8e8f.tar.gz/sha512
  deps/checksums/SHA-2d1f84e6f8417a1a368de48318640d948b023e7a.tar.gz/md5
  deps/checksums/SHA-2d1f84e6f8417a1a368de48318640d948b023e7a.tar.gz/sha512
  deps/checksums/SHA-e1af7dd0863dee14a83550faf4b6e08971993ce8.tar.gz/md5
  deps/checksums/SHA-e1af7dd0863dee14a83550faf4b6e08971993ce8.tar.gz/sha512
  deps/checksums/compilersupportlibraries
  deps/checksums/openblas
  src/aotcompile.cpp
  src/builtins.c
  src/codegen-stubs.c
  src/codegen.cpp
  src/gc.c
  src/gf.c
  src/jitlayers.cpp
  src/jltypes.c
  src/julia.h
  src/julia_internal.h
  src/subtype.c
  src/work-stealing-queue.h
  stdlib/ArgTools.version
  stdlib/Artifacts/src/Artifacts.jl
  stdlib/CompilerSupportLibraries_jll/Project.toml
  stdlib/NetworkOptions.version
  stdlib/Pkg.version
  stdlib/REPL/src/REPLCompletions.jl
  stdlib/REPL/test/replcompletions.jl
  stdlib/SHA.version
  stdlib/SparseArrays.version
  stdlib/Statistics.version
  stdlib/Tar.version
  stdlib/Test/src/logging.jl
  test/abstractarray.jl
  test/namedtuple.jl
  test/subtype.jl
Labels: release

#54151 LinearAlgebra: Correct zero element in `_generic_matvecmul!` for block adj/trans
  stdlib/LinearAlgebra/src/matmul.jl
  stdlib/LinearAlgebra/test/matmul.jl
Labels: linear algebra, bugfix, backport 1.10, backport 1.11

#54041 LinearAlgebra: copyto! between banded matrix types
  stdlib/LinearAlgebra/src/bidiag.jl
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/LinearAlgebra/src/special.jl
  stdlib/LinearAlgebra/src/tridiag.jl
  stdlib/LinearAlgebra/test/bidiag.jl
  stdlib/LinearAlgebra/test/special.jl
  stdlib/LinearAlgebra/test/tridiag.jl
Labels: linear algebra, arrays

#54184 update the syntax in the docstring for `@doc` to align with current uses
  base/docs/Docs.jl
Labels: doc

#54201 Fix generic triangular solves with empty matrices
  stdlib/LinearAlgebra/src/triangular.jl
  stdlib/LinearAlgebra/test/lu.jl
Labels: linear algebra

#54105 inlining: Use `tmeet` on inserted `PiNode` types for extended lattices
  base/compiler/ssair/inlining.jl
Labels: merge me

#54221 Remove some UB from examples in performance tips
  doc/src/manual/performance-tips.md
Labels: doc, bugfix, merge me

#53792 clarify bitstring docstring to note bigendian
  base/intfuncs.jl
Labels: doc, merge me

#54180 Better error message for task.scope
  base/task.jl
  test/channels.jl
Labels: merge me, error messages

#54206 Expand `@static` docstring
  base/osutils.jl
Labels: doc, merge me

#54223 effects: annotate `nameof(::Module)` + `parentmodule(::Module)` for constant folding
  base/essentials.jl
  base/reflection.jl
Labels: merge me, effects

#54219 post-opt: taint :consistent when statement may raise inconsistently
  base/compiler/optimize.jl
  test/compiler/effects.jl
Labels: backport 1.11

#54216 cfg_simplify: Correctly handle must-throw blocks
  base/compiler/ssair/passes.jl
  test/compiler/irpasses.jl
Labels: merge me

#54239 Make sure `fieldcount` constant-folds for `Tuple{...}`
  base/reflection.jl
  test/compiler/inference.jl
Labels: performance, inference, backport 1.11

#54227 Fix typos in `@static` docstring
  base/osutils.jl
Labels: doc

#54222 Utilize correct tbaa when emitting stores of unions.
  src/cgutils.cpp
  src/codegen.cpp
  test/compiler/codegen.jl
Labels: backport 1.11

#54233 set MAX_OS_WRITE on unix
  base/stream.jl
Labels: I/O, backport 1.10, backport 1.11

#53256 print types more verbosely in page profiler
  src/Makefile
  src/gc-page-profiler.c
  src/gc-page-profiler.h
  src/gc.c
  src/julia_internal.h
Labels: GC, merge me

#40989 Make gcdx(0, 0) return (0, 0, 0)
  NEWS.md
  base/gmp.jl
  base/intfuncs.jl
  base/rational.jl
  test/intfuncs.jl
  test/rational.jl
Labels: maths, minor change

#54237 [OpenBLAS_jll] Update to v0.3.27
  deps/checksums/openblas
  deps/openblas.mk
  deps/openblas.version
  deps/patches/openblas-avx512bf-kernels.patch
  deps/patches/openblas-darwin-sve.patch
  deps/patches/openblas-gemv-multithreading.patch
  stdlib/OpenBLAS_jll/Project.toml
Labels: build, external dependencies, stdlib JLLs

#54121 Make emitted egal code more loopy
  base/reflection.jl
  src/builtins.c
  src/cgutils.cpp
  src/codegen.cpp
  src/datatype.c
  src/julia.h
  test/compiler/codegen.jl
  test/core.jl
Labels: performance, codegen

#54256 `Type` as a type name should be capitalized
  base/number.jl
Labels: doc

#54255 fix `_checked_mul_dims` in the presence of 0s and overflow.
  base/boot.jl
  test/core.jl
Labels: arrays, bugfix, backport 1.11

#54228 define `clamp(x, ::Type{BigInt})`
  base/gmp.jl
  test/math.jl
Labels: bignums, merge me

#54267 Update functions.md example hypot
  doc/src/manual/functions.md
Labels: doc, bugfix

#54259 Fix typo in `readuntil`
  base/iostream.jl
  test/read.jl
Labels: bugfix, backport 1.11

#54251 fix typo in gc_mark_memory8 when chunking a large array
  src/gc.c
Labels: GC, bugfix, merge me, backport 1.10, backport 1.11

#54088 remove `mapreduce` methods that don't take an iterator argument
  base/reduce.jl
  base/reducedim.jl
  test/iterators.jl
Labels: minor change

#54276 Fix solve for complex `Hermitian` with non-vanishing imaginary part on diagonal
  stdlib/LinearAlgebra/src/lu.jl
  stdlib/LinearAlgebra/test/symmetric.jl
Labels: linear algebra, bugfix, backport 1.10, backport 1.11

#54288 define entry point as `main(args)` instead of `main(ARGS)`
  HISTORY.md
  base/client.jl
  doc/src/manual/command-line-interface.md
  test/cmdlineargs.jl
  test/project/Rot13/src/Rot13.jl
Labels: merge me

#54299 Backport GC typo fix to 1.10
  src/gc.c
Labels: GC, release

#53573 Add upper/lowertriangular functions and use in applytri
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/LinearAlgebra/src/symmetric.jl
  stdlib/LinearAlgebra/src/triangular.jl
  stdlib/LinearAlgebra/test/diagonal.jl
  stdlib/LinearAlgebra/test/symmetric.jl
  stdlib/LinearAlgebra/test/triangular.jl
Labels: linear algebra, arrays

#53795 Add `promote_rule` for `OneTo` and `AbstractUnitRange`
  base/range.jl
  test/ranges.jl
Labels: ranges

#54011 Support riscv64 as binary platform
  base/binaryplatforms.jl
  base/cpuid.jl
Labels: merge me, riscv

#54307 Use standard `binomial` for Integer arguments
  base/intfuncs.jl
  test/intfuncs.jl
Labels: maths, bugfix, merge me

#54246 set VERSION to 1.10.3
  VERSION
Labels: release

#54308 Implement eval-able AnnotatedString 2-arg show
  base/strings/annotated.jl
  test/strings/annotated.jl
Labels: strings, merge me, backport 1.11

#54283 Allow rank computation for QRPivoted matrices
  NEWS.md
  stdlib/LinearAlgebra/src/qr.jl
  stdlib/LinearAlgebra/test/qr.jl
Labels: linear algebra, merge me
