Repository JuliaLang/julia, pull requests merged in 2024-09, with the labels that each got.

#55546 Fix errant lmul! for tridiagonal and triangular
  stdlib/LinearAlgebra/src/triangular.jl
  stdlib/LinearAlgebra/test/triangular.jl
Labels: domain:linear algebra, kind:bugfix

#55646 Improve type-stability in SymTridiagonal triu!/tril!
  stdlib/LinearAlgebra/src/tridiag.jl
  stdlib/LinearAlgebra/test/tridiag.jl
Labels: domain:linear algebra, domain:arrays

#55664 Reuse size-check function from `lacpy!` in `copytrito!`
  stdlib/LinearAlgebra/src/generic.jl
Labels: domain:linear algebra

#55380 Allow exact redefinition for types with recursive supertype reference
  src/builtins.c
  src/jltypes.c
  src/julia_internal.h
  test/core.jl
Labels: domain:types and dispatch, kind:bugfix

#55605 Reroute Symmetric/Hermitian + Diagonal through triangular
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/LinearAlgebra/src/special.jl
  stdlib/LinearAlgebra/test/special.jl
Labels: domain:linear algebra, domain:arrays, backport 1.11

#55663 Forward istriu/istril for triangular to parent
  stdlib/LinearAlgebra/src/special.jl
  stdlib/LinearAlgebra/src/triangular.jl
  stdlib/LinearAlgebra/test/triangular.jl
Labels: performance, domain:linear algebra, domain:arrays

#55603 Check if ct is not null before doing is_addr_on_stack in the macos signal handler.
  src/signals-mach.c
Labels: system:mac, kind:bugfix

#55335 Profile.print: color Base/Core & packages. Make paths clickable
  NEWS.md
  stdlib/Manifest.toml
  stdlib/Profile/Project.toml
  stdlib/Profile/src/Allocs.jl
  stdlib/Profile/src/Profile.jl
Labels: status:merge me, profiler

#55683 Profile.print: Shorten C paths too
  base/sysinfo.jl
  stdlib/Profile/src/Profile.jl
Labels: profiler

#48140 [LLVMLibUnwindJLL] Update llvmlibunwind to 14.0.6
  deps/checksums/llvmunwind
  deps/llvmunwind.version
  deps/patches/llvm-libunwind-revert-monorepo-requirement.patch
  deps/unwind.mk
  stdlib/LLVMLibUnwind_jll/Project.toml
Labels: domain:building, external dependencies, stdlib:JLLs

#55592 Use `uv_available_parallelism` inside `jl_effective_threads`
  deps/checksums/libuv
  deps/libuv.version
  src/sys.c
  stdlib/LibUV_jll/Project.toml
Labels: domain:multithreading

#55574 [LinearAlgebra] Initialise number of BLAS threads with `jl_effective_threads`
  NEWS.md
  stdlib/LinearAlgebra/src/LinearAlgebra.jl
  test/threads.jl
Labels: domain:linear algebra, domain:multithreading

#55707 Artifacts: Improve type-stability
  base/loading.jl
  base/toml_parser.jl
  stdlib/Artifacts/src/Artifacts.jl
  stdlib/TOML/test/values.jl
Labels: domain:artifacts, domain:trimming

#55695 Remove redundant conversion in structured matrix broadcasting
  stdlib/LinearAlgebra/src/structuredbroadcast.jl
Labels: performance, domain:linear algebra, domain:broadcast

#55712 delete flaky ranges/`TwicePrecision` test
  test/ranges.jl
Labels: test, kind:embarrassing-bugfix, domain:ranges

#55497 Avoid stack overflow in triangular eigvecs
  stdlib/LinearAlgebra/src/triangular.jl
  stdlib/LinearAlgebra/test/triangular.jl
Labels: domain:linear algebra

#55705 builtins: add `Core.throw_methoderror`
  base/compiler/abstractinterpretation.jl
  base/compiler/ssair/EscapeAnalysis/EscapeAnalysis.jl
  base/compiler/tfuncs.jl
  src/builtin_proto.h
  src/builtins.c
  src/gf.c
  src/julia_internal.h
  src/staticdata.c
Labels: domain:trimming

#55501 Implement faster thread local rng for scheduler
  base/partr.jl
  src/ccall.cpp
  src/jl_exported_funcs.inc
  src/julia_threads.h
  src/scheduler.c
  src/threading.c
Labels: domain:randomness

#55715 Add precompile signatures to Markdown to reduce latency.
  stdlib/Markdown/src/Markdown.jl
Labels: status:merge me, backport 1.11

#55593 Fix invalidations for FileIO
  base/strings/io.jl
Labels: backport 1.11

#55581 Fix various issues with PGO+LTO makefile
  contrib/pgo-lto/Makefile
Labels: domain:building

#55720 Fix `pkgdir` for extensions
  base/loading.jl
  test/loading.jl
Labels: backport 1.10, backport 1.11

#55450 Avoid materializing arrays in bidiag matmul
  stdlib/LinearAlgebra/src/LinearAlgebra.jl
  stdlib/LinearAlgebra/src/bidiag.jl
  stdlib/LinearAlgebra/test/bidiag.jl
  stdlib/LinearAlgebra/test/tridiag.jl
Labels: performance, domain:linear algebra, domain:arrays

#55718 Fix `@time_imports` extension recognition
  base/loading.jl
Labels: status:merge me, backport 1.11

#55708 drop typed GEP calls
  src/ccall.cpp
  src/cgutils.cpp
  src/codegen.cpp
  src/intrinsics.cpp
  src/llvm-alloc-opt.cpp
  src/llvm-codegen-shared.h
  src/llvm-late-gc-lowering.cpp
  src/llvm-ptls.cpp
  test/llvmpasses/alloc-opt-gcframe.ll
  test/llvmpasses/late-lower-gc-addrspaces.ll
  test/llvmpasses/late-lower-gc.ll
  test/llvmpasses/names.jl
Labels: status:merge me

#55685 [REPL] prevent silent hang if precompile script async blocks fail
  stdlib/REPL/src/Terminals.jl
  stdlib/REPL/src/precompile.jl
Labels: stdlib:REPL, compiler:precompilation, status:merge me

#54579 Various fixes to byte / bytearray search
  base/char.jl
  base/strings/search.jl
  test/strings/search.jl
  test/testhelpers/OffsetDenseArrays.jl
Labels: domain:strings, kind:bugfix, domain:search & find, status:merge me

#55728 codegen: deduplicate code for calling a specsig
  src/codegen.cpp
Labels: compiler:codegen, status:merge me

#55734 Fix "Various fixes to byte / bytearray search"
  base/strings/search.jl
Labels: status:merge me

#55729 Avoid confounding compilation side effects of `@time_imports`
  base/loading.jl
  contrib/generate_precompile.jl
Labels: backport 1.10, backport 1.11

#55730 codegen: some cleanup of layout computations
  src/ccall.cpp
  src/cgutils.cpp
  src/codegen.cpp
  src/intrinsics.cpp
Labels: compiler:codegen, status:merge me

#55689 [release-1.10] dont reset maxsize in jl_array_to_string
  src/array.c
  src/gc.c
  src/julia_internal.h
Labels: GC

#55749 Don't show string concatenation error hint with zero arg `+`
  base/errorshow.jl
  test/errorshow.jl
Labels: status:merge me

#55654 Move lets to testsets and add codeunits tests
  test/strings/types.jl
Labels: test, domain:strings

#55655 Few more missing AnnotatedStrings tests
  test/strings/annotated.jl
Labels: test, domain:strings

#55738 Don't leave trailing whitespace when printing do-block expr
  base/show.jl
  test/show.jl
Labels: domain:display and printing

#55722 Don't pass lSystem to the linker since macos always links it
  cli/Makefile
Labels: domain:building

#55694 define `numerator` and `denominator` for `Complex`
  base/rational.jl
  test/rational.jl
Labels: domain:rationals, kind:feature

#55656 More testsets for SubString and a few missing tests
  test/strings/types.jl
Labels: test, domain:strings, status:merge me

#55658 Reorganize search tests into testsets
  test/strings/search.jl
Labels: test, status:merge me

#55744 fix #45494, error in ssa conversion with complex type decl
  src/julia-syntax.scm
  test/syntax.jl
Labels: compiler:lowering, kind:bugfix, backport 1.10, backport 1.11

#55737 Revert "Avoid materializing arrays in bidiag matmul"
  stdlib/LinearAlgebra/src/LinearAlgebra.jl
  stdlib/LinearAlgebra/src/bidiag.jl
  stdlib/LinearAlgebra/test/bidiag.jl
  stdlib/LinearAlgebra/test/tridiag.jl
Labels: kind:revert

#55569 Add a docs section about loading/precomp/ttfx time tuning
  doc/src/manual/performance-tips.md
Labels: domain:docs, domain:packages, profiler, backport 1.11

#55773 Add compat entry for `Base.donotdelete`
  base/docs/basedocs.jl
Labels: domain:docs, backport 1.10, backport 1.11

#55759 REPL: precompile in its own module because Main is closed. Add check for unexpected errors.
  stdlib/REPL/src/REPL.jl
  stdlib/REPL/src/precompile.jl
Labels: stdlib:REPL

#55775 Try to put back previously flakey addmul tests
  stdlib/LinearAlgebra/test/addmul.jl
Labels: test, domain:linear algebra, domain:ci

#55780 Print results of `runtests` with `printstyled`
  test/runtests.jl
Labels: testsystem, kind:bugfix, status:merge me

#55757 Fix hang in tmerge_types_slow
  base/compiler/typelimits.jl
  test/compiler/inference.jl
Labels: kind:bugfix, compiler:inference, backport 1.11

#55783 use `inferencebarrier` instead of `invokelatest` for 1-arg `@assert`
  base/error.jl
Labels: backport 1.11

#54972 Inline statically known method errors.
  base/compiler/abstractinterpretation.jl
  base/compiler/ssair/inlining.jl
  base/compiler/stmtinfo.jl
  base/compiler/tfuncs.jl
  base/compiler/types.jl
  test/compiler/AbstractInterpreter.jl
  test/compiler/EscapeAnalysis/EscapeAnalysis.jl
  test/compiler/inline.jl
  test/threads_exec.jl
Labels: compiler:optimizer, domain:trimming

#41244 Fix shell `cd` error when working dir has been deleted
  base/client.jl
  test/file.jl
Labels: status:merge me, backport 1.10, backport 1.11

#55770 codegen: fix bits compare for UnionAll
  src/codegen.cpp
  test/compiler/codegen.jl
Labels: compiler:codegen

#55806 use libuv to measure maxrss
  src/sys.c
Labels: status:merge me

#55796 a minor improvement for EA-based `:effect_free`-ness refinement
  base/compiler/optimize.jl
  base/compiler/types.jl
  test/compiler/effects.jl
Labels: compiler:optimizer

#55795 fix #52986, regression in `@doc` of macro without REPL loaded
  base/docs/Docs.jl
  test/docs.jl
Labels: backport 1.11

#55465 Assume that docstring code with no lang is julia
  stdlib/Markdown/src/render/terminal/render.jl
  stdlib/REPL/src/docview.jl
  test/docs.jl
Labels: stdlib:REPL, status:merge me, stdlib:markdown

#55798 Broadcast binary ops involving strided triangular
  stdlib/LinearAlgebra/src/symmetric.jl
  stdlib/LinearAlgebra/src/triangular.jl
  stdlib/LinearAlgebra/test/symmetric.jl
Labels: performance, domain:linear algebra, domain:arrays, kind:bugfix

#55819 [Random] Avoid conversion to `Float32` in `Float16` sampler
  stdlib/Random/src/Xoshiro.jl
Labels: domain:randomness, domain:float16

#55165 add errorhint for nonexisting fields and properties
  base/docs/basedocs.jl
  base/errorshow.jl
  base/reflection.jl
  test/errorshow.jl
Labels: status:merge me, domain:error messages

#55754 Improve printing of several arguments
  base/strings/io.jl
Labels: performance, domain:display and printing

#55797 better error for esc outside of macro expansion
  src/julia-syntax.scm
  test/syntax.jl
Labels: compiler:lowering, domain:error messages

#55829 [Dates] Make test more robust against non-UTC timezones
  stdlib/Dates/test/types.jl
Labels: test, domain:dates, backport 1.10, backport 1.11

#55823 lmul!/rmul! for banded matrices
  stdlib/LinearAlgebra/src/bidiag.jl
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/LinearAlgebra/src/tridiag.jl
  stdlib/LinearAlgebra/test/bidiag.jl
  stdlib/LinearAlgebra/test/diagonal.jl
  stdlib/LinearAlgebra/test/tridiag.jl
Labels: performance, domain:linear algebra

#55644 Specialize indexing triangular matrices with BandIndex
  stdlib/LinearAlgebra/src/bidiag.jl
  stdlib/LinearAlgebra/src/dense.jl
  stdlib/LinearAlgebra/src/triangular.jl
  stdlib/LinearAlgebra/test/triangular.jl
Labels: performance, domain:linear algebra, domain:arrays

#55641 fall back to slower stat filesize if optimized filesize fails
  base/iostream.jl
Labels: status:merge me, backport 1.10, backport 1.11

#55846 Use "index" instead of "subscript" to refer to indexing in performance tips
  doc/src/manual/performance-tips.md
Labels: domain:docs

#55845 privatize annotated string API, take two
  base/public.jl
  base/strings/annotated.jl
  doc/src/base/strings.md
  doc/src/manual/strings.md
Labels: backport 1.11

#55852 docs: Small edits to noteworthy differences
  doc/src/manual/noteworthy-differences.md
Labels: domain:docs

#55454 Add filesystem func to transform a path to a URI
  base/path.jl
  test/path.jl
Labels: domain:filesystem

#55858 NEWS entry for deletion of `length(::Stateful)`
  NEWS.md
Labels: domain:docs

#55466 constrain the path argument of `include` functions to `AbstractString`
  base/loading.jl
  src/jlfrontend.scm
  test/loading.jl
  test/testhelpers/just_module.jl
Labels: modules

#55767 codegen: split gc roots from other bits on stack
  src/ccall.cpp
  src/cgutils.cpp
  src/codegen.cpp
  src/intrinsics.cpp
  src/llvm-codegen-shared.h
  src/llvm-final-gc-lowering.cpp
  src/llvm-gc-interface-passes.h
  src/llvm-late-gc-lowering.cpp
  test/compiler/codegen.jl
Labels: compiler:codegen, status:merge me

#55855 Backports release 1.11
  NEWS.md
  base/client.jl
  base/docs/Docs.jl
  base/docs/basedocs.jl
  base/error.jl
  base/exports.jl
  base/iostream.jl
  base/strings/annotated.jl
  deps/checksums/Downloads-1061ecc377a053fce0df94e1a19e5260f7c030f5.tar.gz/md5
  deps/checksums/Downloads-1061ecc377a053fce0df94e1a19e5260f7c030f5.tar.gz/sha512
  deps/checksums/Downloads-89d3c7dded535a77551e763a437a6d31e4d9bf84.tar.gz/md5
  deps/checksums/Downloads-89d3c7dded535a77551e763a437a6d31e4d9bf84.tar.gz/sha512
  doc/src/base/strings.md
  doc/src/manual/strings.md
  stdlib/Dates/test/types.jl
  stdlib/Downloads.version
  test/docs.jl
  test/file.jl
Labels: kind:release

#55791 set VERSION to 1.11.0-rc4
  VERSION
Labels: kind:release

#54433 Root globals in toplevel exprs
  src/codegen.cpp
  test/gc.jl
Labels: compiler:codegen, backport 1.10, backport 1.11

#55880 codegen: fix alignment typos
  src/cgutils.cpp
  src/codegen.cpp
Labels: compiler:codegen, kind:embarrassing-bugfix, status:merge me

#55828 Fix some corner cases of `isapprox` with unsigned integers
  base/floatfuncs.jl
  test/floatfuncs.jl
Labels: domain:maths, kind:bugfix, backport 1.10, backport 1.11

#55890 Profile: fix order of fields in heapsnapshot & improve formatting
  src/gc-heap-snapshot.cpp
  stdlib/Profile/src/heapsnapshot_reassemble.jl
Labels: kind:bugfix, profiler, backport 1.10, backport 1.11

#55857 Profile: Improve generation of clickable terminal links
  base/path.jl
  stdlib/Profile/src/Profile.jl
Labels: profiler

#55884 inference: add missing `TypeVar` handling for `instanceof_tfunc`
  base/compiler/tfuncs.jl
  test/compiler/inference.jl
Labels: compiler:inference, status:merge me, backport 1.10, backport 1.11

#55826 expose metric to report reasons why full GCs were triggered
  base/timing.jl
  src/gc-stock.c
  src/gc-stock.h
  test/gc.jl
Labels: GC

#55869 Do not trigger deprecation warnings in `Test.detect_ambiguities` and `Test.detect_unbound_args`
  stdlib/Test/src/Test.jl
  test/ambiguous.jl
Labels: testsystem, status:merge me

#55909 do not intentionally suppress errors in precompile script from being reported or failing the result
  contrib/generate_precompile.jl
Labels: compiler:precompilation, backport 1.11

#55903 Remove eigvecs method for SymTridiagonal
  stdlib/LinearAlgebra/src/tridiag.jl
Labels: domain:linear algebra

#55047 add --trim option for generating smaller binaries
  Makefile
  NEWS.md
  base/experimental.jl
  base/libuv.jl
  base/options.jl
  base/reflection.jl
  base/strings/io.jl
  contrib/julia-config.jl
  contrib/juliac-buildscript.jl
  contrib/juliac.jl
  doc/src/devdocs/sysimg.md
  doc/src/manual/command-line-interface.md
  src/aotcompile.cpp
  src/cgutils.cpp
  src/codegen-stubs.c
  src/codegen.cpp
  src/gf.c
  src/init.c
  src/jitlayers.h
  src/jl_exported_funcs.inc
  src/jloptions.c
  src/jloptions.h
  src/julia.expmap.in
  src/julia.h
  src/julia_internal.h
  src/module.c
  src/precompile.c
  src/precompile_utils.c
  src/staticdata.c
  src/support/arraylist.h
  stdlib/LinearAlgebra/src/blas.jl
  stdlib/LinearAlgebra/src/lbt.jl
  test/Makefile
  test/trimming/Makefile
  test/trimming/hello.jl
  test/trimming/init.c
  test/trimming/trimming.jl
Labels: kind:feature, domain:trimming

#55917 fix rawbigints OOB issues
  base/rawbigints.jl
  test/mpfr.jl
Labels: kind:bugfix, domain:bignums, kind:embarrassing-bugfix, backport 1.11

#55589 prevent loading other extensions when precompiling an extension
  base/loading.jl
  base/precompilation.jl
  test/loading.jl
  test/project/Extensions/CyclicExtensions/Manifest.toml
  test/project/Extensions/CyclicExtensions/Project.toml
  test/project/Extensions/CyclicExtensions/ext/ExtA.jl
  test/project/Extensions/CyclicExtensions/ext/ExtB.jl
  test/project/Extensions/CyclicExtensions/src/CyclicExtensions.jl
Labels: backport 1.10, backport 1.11

#55892 TOML: Avoid type-pirating `Base.TOML.Parser`
  stdlib/TOML/src/TOML.jl
Labels: status:merge me, stdlib:TOML, backport 1.11

#55355 relocation: account for trailing path separator in depot paths
  base/loading.jl
  src/precompile.c
  src/staticdata_utils.c
  test/relocatedepot.jl
Labels: compiler:precompilation, kind:bugfix, backport 1.11
