Repository JuliaLang/julia, pull requests merged in 2024-03, with the labels that each got.

#53525 fix InteractiveUtils call in Base.runtests on failure
  base/util.jl
Labels: testsystem, embarrassing-bugfix, backport 1.11

#53535 Allow GlobalRef and module qualified names in macro definitions
  src/julia-parser.scm
  src/julia-syntax.scm
  test/syntax.jl
Labels: lowering, feature

#53358 set VERSION to 1.11.0-alpha1
  VERSION
Labels: release

#53489 set VERSION to 1.10.2
  VERSION
Labels: release

#53541 Fix `hypot` promotion bug
  base/math.jl
  test/math.jl
Labels: maths

#53514 Update package naming guidelines to encourage consideration of the global namespace
  doc/src/tutorials/creating-packages.md
Labels: doc, packages

#53540 use more efficient `_readdirx` for tab completion
  stdlib/REPL/src/REPLCompletions.jl
  stdlib/REPL/src/docview.jl
Labels: REPL, backport 1.11

#53545 use `_readdirx` for `walkdir`
  base/file.jl
Labels: filesystem, backport 1.11

#53551 revert "Add @create_log_macro for making custom styled logging macros (#52196)"
  HISTORY.md
  base/logging.jl
  stdlib/Logging/docs/src/index.md
  stdlib/Logging/src/ConsoleLogger.jl
  stdlib/Logging/src/Logging.jl
  stdlib/Logging/test/runtests.jl
Labels: logging, backport 1.11

#53413 fix number of chunks
  doc/src/manual/multi-threading.md
Labels: doc, multithreading

#53492 Make dump print `const` before const fields
  base/show.jl
  doc/src/devdocs/types.md
  test/show.jl
Labels: display and printing, merge me

#52107 Clarify docstring for `zero`, `one`, and `oneunit`.
  base/number.jl
Labels: doc, maths, merge me

#44062 Add a GitHub Actions workflow for automatic validation of the citation metadata file (`CITATION.CFF`)
  .github/workflows/cffconvert.yml
  CITATION.cff
Labels: merge me

#53469 Provide better error hint when `UndefVarError` results from name clashes
  stdlib/REPL/src/REPL.jl
  stdlib/REPL/test/repl.jl
Labels: merge me, error messages

#53554 Always return a value in 1-d circshift! of abstractarray.jl
  base/abstractarray.jl
  test/arrayops.jl
Labels: arrays, merge me, backport 1.11

#50988 allow convert from RegexMatch to Dict/NamedTuple
  NEWS.md
  base/regex.jl
  test/regex.jl
Labels: strings, feature, merge me

#53424 yet more atomics & cache-line fixes on work-stealing queue
  src/work-stealing-queue.h
Labels: performance, GC, backport 1.10, backport 1.11

#53571 Update Documenter to v1.3 for inventory writing
  doc/Manifest.toml
  doc/make.jl
Labels: docsystem

#53592 remove repetitive code
  base/broadcast.jl
  stdlib/Profile/src/Allocs.jl
  stdlib/REPL/src/REPL.jl
Labels: merge me

#53500 make MethodError for unhandled kwarg more accurate
  base/error.jl
  base/errorshow.jl
  test/errorshow.jl
Labels: error messages

#53403 Move parallel precompilation to Base
  base/Base.jl
  base/loading.jl
  base/precompilation.jl
  doc/make.jl
Labels: packages, merge me, backport 1.11

#53566 Docs: change "Package naming guidelines" to "Package naming rules"
  doc/src/tutorials/creating-packages.md
Labels: doc, packages

#53589 add back `unsafe_convert` to pointer for arrays
  base/pointer.jl
  test/core.jl
Labels: merge me, backport 1.11

#53484 codegen: optimize const fields of mutable objects
  src/cgutils.cpp
  src/codegen.cpp
Labels: codegen, don't squash

#53606 fix error path in `precompilepkgs`
  base/precompilation.jl
Labels: backport 1.11

#53004 Unexport with, at_with, and ScopedValue from Base
  base/exports.jl
  base/logging.jl
  base/mpfr.jl
  base/scopedvalues.jl
  doc/src/base/scopedvalues.md
  test/scopedvalues.jl
Labels: merge me, backport 1.11

#53553 typeintersect: fix `UnionAll` unaliasing bug caused by innervars.
  src/subtype.c
  test/subtype.jl
Labels: types and dispatch, needs pkgeval, don't squash, backport 1.10, backport 1.11

#53629 typo fix in scoped values docs
  doc/src/base/scopedvalues.md
Labels: backport 1.11

#53600 inlining: use method match signature for union-spliting
  base/compiler/ssair/inlining.jl
  test/compiler/inference.jl
Labels: backport 1.11

#53512 Fix condition for `unreachable` code in IRCode conversion
  base/compiler/optimize.jl
  test/compiler/inference.jl
Labels: merge me

#53630 sroa: Fix incorrect scope counting
  base/compiler/ssair/passes.jl
  test/compiler/irpasses.jl
Labels: bugfix, optimizer, backport 1.11

#53598 Use Base parallel precompilation to build stdlibs
  Makefile
  base/loading.jl
  base/precompilation.jl
  base/util.jl
  pkgimage.mk
  stdlib/Manifest.toml
  stdlib/Project.toml
  stdlib/stdlib.mk
  sysimage.mk
Labels: build, packages, backport 1.11

#53649 precompilepkgs: package in boths deps and weakdeps are in fact only weak
  base/precompilation.jl
Labels: backport 1.11

#52476 optimize remset marking
  src/gc.c
  src/gc.h
Labels: GC, merge me

#53634 Linalg: Reduce allocations in triangular tests
  stdlib/LinearAlgebra/test/triangular.jl
Labels: test, linear algebra

#53579 document exact BigInt determinants
  stdlib/LinearAlgebra/src/generic.jl
Labels: doc, linear algebra

#53602 Handle zero on arrays of unions of number types and missings
  base/abstractarray.jl
  test/abstractarray.jl
Labels: merge me, backport 1.11

#53516 permit NamedTuple{<:Any, Union{}} to be created
  base/boot.jl
  base/compiler/abstractinterpretation.jl
  base/namedtuple.jl
  src/builtins.c
  src/jltypes.c
  test/namedtuple.jl
Labels: types and dispatch, feature, merge me, backport 1.10, backport 1.11

#42268 increase max atomic size to 16 on 64-bit platforms
  src/Makefile
  src/datatype.c
  src/julia.h
  test/intrinsics.jl
Labels: merge me, atomics

#53643 Bump CSL to 1.1.1 to fix libgomp bug
  deps/checksums/compilersupportlibraries
  stdlib/CompilerSupportLibraries_jll/Project.toml
Labels: build, stdlib JLLs, backport 1.10, backport 1.11

#53664 add error for inconsistent public/export declarations
  base/docs/basedocs.jl
  src/module.c
  stdlib/Profile/src/Profile.jl
  test/reflection.jl
Labels: merge me

#53686 Noteworthy differences: `exp.(A)` vs `exp(A)`
  doc/src/manual/noteworthy-differences.md
Labels: doc, merge me

#53648 LinAlg: fzeropreserving unit triangular broadcast preserves structure
  stdlib/LinearAlgebra/src/structuredbroadcast.jl
  stdlib/LinearAlgebra/test/structuredbroadcast.jl
Labels: linear algebra, arrays

#53663 add isassigned methods for reinterpretarray
  base/reinterpretarray.jl
  test/reinterpretarray.jl
Labels: arrays, backport 1.11

#53662 [REPL] fix incorrectly cleared line after completions accepted
  stdlib/REPL/src/LineEdit.jl
Labels: REPL

#53611 Linalg: matprod_dest for Diagonal and adjvec
  stdlib/LinearAlgebra/src/LinearAlgebra.jl
  stdlib/LinearAlgebra/test/diagonal.jl
Labels: linear algebra, arrays, backport 1.11

#53341 Add waitany and waitall functions to wait multiple tasks at once
  NEWS.md
  base/exports.jl
  base/task.jl
  doc/src/base/parallel.md
  test/threads_exec.jl
Labels: multithreading

#53659 fix #52025, re-allow all implicit pointer casts in cconvert for Array
  base/refpointer.jl
  test/ccall.jl
Labels: backport 1.11

#53513 add check for invalid state in `_growend!` slow-path
  base/array.jl
Labels: arrays, multithreading

#53685 Add throw option in wait(::Task)
  base/condition.jl
  base/task.jl
  test/threads.jl
Labels: merge me

#53631 LAPACK: validate input parameters to throw informative errors
  stdlib/LinearAlgebra/src/blas.jl
  stdlib/LinearAlgebra/src/lapack.jl
  stdlib/LinearAlgebra/test/lapack.jl
Labels: linear algebra, error messages, backport 1.11

#53620 Linalg: remove unnecessary matprod_dest specializations
  stdlib/LinearAlgebra/src/LinearAlgebra.jl
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/LinearAlgebra/test/diagonal.jl
Labels: linear algebra, arrays

#53665 use afoldl instead of tail recursion for tuples
  base/abstractarray.jl
  base/promotion.jl
  test/compiler/inference.jl
Labels: latency, merge me

#53628 Make some improvements to the Scoped Values documentation.
  base/scopedvalues.jl
  doc/src/base/scopedvalues.md
  test/scopedvalues.jl
Labels: doc, backport 1.11

#53674 Implement proper macro scope resolution for generator/for
  src/macroexpand.scm
  test/syntax.jl
Labels: lowering, macros

#53699 Move `isexecutable, isreadable, iswritable` to `filesystem.jl`
  base/exports.jl
  base/filesystem.jl
  base/io.jl
  base/sysinfo.jl
  doc/src/base/base.md
  doc/src/base/io-network.md
  test/file.jl
Labels: filesystem, merge me, backport 1.11

#53661 gc scheduler synchronization fixes to 1.10
  src/gc.c
Labels: GC

#53608 bump number of GC threads to the number of compute threads (as opposed to half of it)
  src/threading.c
  test/cmdlineargs.jl
Labels: performance, GC, merge me

#53725 Remove specialized view method for `OneTo` arguments
  base/subarray.jl
Labels: ranges

#53726 Remove specialized IndexStyle method for SubArray
  base/subarray.jl
  test/subarray.jl
Labels: arrays

#53655 Change tbaa of ptr_phi to tbaa_value
  src/codegen.cpp
Labels: codegen, backport 1.10, backport 1.11

#53391 Default to the medium code model in x86 linux
  src/aotcompile.cpp
Labels: codegen, precompile, merge me, backport 1.10, backport 1.11

#53720 inlining: bail out unless `match.spec_types <: match.method.sig`
  base/compiler/ssair/inlining.jl
  test/compiler/inline.jl
Labels: backport 1.11

#53478 enhance the effectiveness of the test cases introduced in #53300
  test/precompile.jl
  test/precompile_absint1.jl
  test/precompile_absint2.jl
  test/precompile_utils.jl
Labels: precompile

#53527 Enable analyzegc checks for try catch and fix found issues
  Make.inc
  base/stream.jl
  doc/src/devdocs/ast.md
  src/ast.c
  src/ccall.cpp
  src/codegen.cpp
  src/gc.c
  src/gf.c
  src/init.c
  src/interpreter.c
  src/jl_exported_funcs.inc
  src/jlapi.c
  src/jloptions.c
  src/jltypes.c
  src/julia.h
  src/julia_internal.h
  src/llvm-codegen-shared.h
  src/llvm-late-gc-lowering.cpp
  src/llvm-lower-handlers.cpp
  src/llvm-pass-helpers.cpp
  src/llvm-pass-helpers.h
  src/method.c
  src/rtutils.c
  src/scheduler.c
  src/signals-mach.c
  src/task.c
  src/toplevel.c
  test/Makefile
  test/llvmpasses/Makefile
  test/llvmpasses/lower-handlers-addrspaces.ll
  test/llvmpasses/lower-handlers.ll
Labels: merge me, backport 1.11

#53757 Add an IndexStyle example to the diagind docstring
  stdlib/LinearAlgebra/src/dense.jl
Labels: doc, linear algebra, backport 1.11

#53765 remove dllexport `jl_arraylen` which no longer exists
  src/julia_internal.h
Labels: backport 1.11

#53772 precompilepkgs: fix error path & adjust messaging
  base/precompilation.jl
Labels: packages, backport 1.11

#53773 release-1.11: Backport precompile fixes
  base/precompilation.jl
Labels: release

#53739 Fix handling of virtual exit node in `PostDomTree`
  base/compiler/ssair/domtree.jl
Labels: optimizer, merge me

#53770 compileall: Print error on failure
  test/compileall.jl
Labels: test

#53782 Add two missing whitespaces to error messages
  base/intfuncs.jl
Labels: error messages

#53771 compiler: Refactor `concrete_eval_invoke`
  base/compiler/ssair/irinterp.jl
Labels: merge me

#53687 Switch LLVM codegen of Ptr{T} to an actual pointer type.
  NEWS.md
  base/atomics.jl
  base/compiler/tfuncs.jl
  base/pointer.jl
  base/task.jl
  src/ccall.cpp
  src/cgutils.cpp
  src/codegen.cpp
  src/intrinsics.cpp
  src/intrinsics.h
  src/llvm-remove-addrspaces.cpp
  src/runtime_intrinsics.c
Labels: codegen, minor change, merge me

#53789 also check that UUID of project is non-null when treating it as a package
  base/precompilation.jl
Labels: backport 1.11

#53805 precompilepkgs: simplify custom config printing if only one
  base/precompilation.jl
Labels: backport 1.11

#53822 Bump libuv
  deps/checksums/libuv
  deps/libuv.version
  stdlib/LibUV_jll/Project.toml
Labels: backport 1.11

#53807 add docstring for SMALL_ALGORITHM
  base/sort.jl
  test/sorting.jl
Labels: doc, merge me, sort

#53828 Retry downloads in toml tests
  stdlib/TOML/test/utils/utils.jl
Labels: test, TOML

#53653 add code loading support for workspaces
  base/loading.jl
  base/precompilation.jl
  doc/src/manual/code-loading.md
  test/loading.jl
  test/project/SubProject/Devved/Project.toml
  test/project/SubProject/Devved/src/Devved.jl
  test/project/SubProject/Devved2/Project.toml
  test/project/SubProject/Devved2/src/Devved2.jl
  test/project/SubProject/Manifest.toml
  test/project/SubProject/PackageThatIsSub/Project.toml
  test/project/SubProject/PackageThatIsSub/src/PackageThatIsSub.jl
  test/project/SubProject/PackageThatIsSub/test/Project.toml
  test/project/SubProject/Project.toml
  test/project/SubProject/src/MyPkg.jl
  test/project/SubProject/sub/Project.toml
  test/project/SubProject/test/Project.toml
Labels: packages

#53784 Add Xoshiro reference to Random module docstring
  stdlib/Random/src/Random.jl
Labels: doc, RNG

#53837 update MPFR to 4.2.1
  deps/checksums/mpfr
  deps/mpfr.version
  stdlib/MPFR_jll/Project.toml
  stdlib/MPFR_jll/test/runtests.jl
  stdlib/Manifest.toml
Labels: build

#53842 Update nghttp2 to 1.60.0
  deps/checksums/nghttp2
  deps/nghttp2.version
  stdlib/Manifest.toml
  stdlib/nghttp2_jll/Project.toml
  stdlib/nghttp2_jll/test/runtests.jl
Labels: build, external dependencies, stdlib JLLs

#53838 update PCRE2 to 10.43.0
  deps/checksums/pcre
  deps/pcre.version
  stdlib/Manifest.toml
  stdlib/PCRE2_jll/Project.toml
  stdlib/PCRE2_jll/test/runtests.jl
Labels: build, external dependencies, stdlib JLLs

#53841 Update zlib to 1.3.1
  deps/checksums/zlib
  deps/zlib.version
  stdlib/Manifest.toml
  stdlib/Zlib_jll/Project.toml
  stdlib/Zlib_jll/test/runtests.jl
Labels: build, external dependencies, stdlib JLLs

#53865 precompilepkgs: don't confuse single package in project with requesting single package
  base/precompilation.jl
Labels: merge me

#53862 precompilepkgs: fix error reporting
  base/precompilation.jl
Labels: merge me, backport 1.11

#53864 Update SuiteSparse to 7.6.1
  deps/checksums/suitesparse
  deps/libsuitesparse.version
  stdlib/Manifest.toml
  stdlib/SuiteSparse_jll/Project.toml
Labels: merge me

#53818 Harmonize and add docs for `--math-mode`
  doc/man/julia.1
  doc/src/manual/command-line-interface.md
  src/jloptions.c
Labels: doc, merge me

#53696 add invokelatest to on_done callback in bracketed paste
  stdlib/REPL/src/REPL.jl
Labels: backport 1.11

#53876 inference: Fix correctness and ensure termination in the presence of PhiNodes
  base/compiler/abstractinterpretation.jl
  base/compiler/inferencestate.jl
  test/compiler/inference.jl
Labels: inference

#53879 RNG reproducibility discussion - rm confusing ref to MenneTwister
  stdlib/Random/docs/src/index.md
Labels: doc, RNG

#53873 Consistently format Julia in the docstring for Base.DEPOT_PATH
  base/initdefs.jl
Labels: doc

#53860 use flisp cprimitives for lowering large longs
  src/ast.c
  src/flisp/cvalues.c
  src/flisp/flisp.h
  test/numbers.jl
Labels: lowering

#53888 fix typos in codegen.cpp
  src/codegen.cpp
Labels: merge me, backport 1.11

#53870 Revert change to checksum for llvm-julia
  deps/checksums/llvm
Labels: build, backport 1.11

#53633 add initial support for OpenBSD
  Make.inc
  base/binaryplatforms.jl
  base/sysinfo.jl
  cli/Makefile
  cli/loader_lib.c
  contrib/normalize_triplet.py
  deps/Makefile
  deps/libgit2.mk
  deps/libssh2.mk
  deps/libsuitesparse.mk
  deps/mbedtls.mk
  deps/patchelf.mk
  deps/pcre.mk
  src/Makefile
  src/aotcompile.cpp
  src/cgmemmgr.cpp
  src/codegen.cpp
  src/gc-stacks.c
  src/jitlayers.cpp
  src/julia.expmap.in
  src/julia_threads.h
  src/signals-unix.c
  src/support/dtypes.h
  src/support/platform.h
  src/support/strtod.c
  src/support/utf8.c
  src/sys.c
Labels: build, merge me

#53899 no need to check whether mq_master is nil in the GC work-stealing loop
  src/gc.c
Labels: GC

#53892 curl: remove patch
  deps/curl.mk
  deps/patches/curl-memdup.patch
Labels: build

#53901 Copy for `CartesianIndices`/`LinearIndices` need not materialize
  base/indices.jl
  base/multidimensional.jl
  test/abstractarray.jl
Labels: arrays
