Repository JuliaLang/julia, pull requests merged in 2024-10, with the labels that each got.

#55575 change compiler to be stackless
  base/compiler/abstractinterpretation.jl
  base/compiler/inferencestate.jl
  base/compiler/ssair/ir.jl
  base/compiler/ssair/irinterp.jl
  base/compiler/ssair/verify.jl
  base/compiler/tfuncs.jl
  base/compiler/typeinfer.jl
  base/compiler/types.jl
  base/reflection.jl
  test/compiler/AbstractInterpreter.jl
  test/compiler/inference.jl
Labels: performance, compiler:inference, compiler:optimizer, status:merge me

#55919 Limit `@inbounds` to indexing in the dual-iterator branch in `copyto_unaliased!`
  base/abstractarray.jl
Labels: performance, domain:arrays, backport 1.11

#55936 Backports release 1.11
  Makefile
  base/abstractarray.jl
  base/compiler/tfuncs.jl
  base/floatfuncs.jl
  base/loading.jl
  base/rawbigints.jl
  base/terminfo.jl
  contrib/generate_precompile.jl
  deps/checksums/Pkg-69938284d6804dd30a24577397f52dfdedbd37e1.tar.gz/md5
  deps/checksums/Pkg-69938284d6804dd30a24577397f52dfdedbd37e1.tar.gz/sha512
  deps/checksums/Pkg-6ceafca8e2adab1b248b19e468d432c167dd7b7e.tar.gz/md5
  deps/checksums/Pkg-6ceafca8e2adab1b248b19e468d432c167dd7b7e.tar.gz/sha512
  deps/terminfo.mk
  src/codegen.cpp
  src/gc-heap-snapshot.cpp
  src/precompile.c
  src/staticdata_utils.c
  stdlib/LinearAlgebra/src/symmetric.jl
  stdlib/LinearAlgebra/src/triangular.jl
  stdlib/LinearAlgebra/test/symmetric.jl
  stdlib/Mmap/src/Mmap.jl
  stdlib/Pkg.version
  stdlib/Profile/src/heapsnapshot_reassemble.jl
  stdlib/Random/src/Xoshiro.jl
  stdlib/TOML/src/TOML.jl
  test/compiler/inference.jl
  test/floatfuncs.jl
  test/gc.jl
  test/mpfr.jl
  test/relocatedepot.jl
Labels: kind:release

#55927 Strong zero in Diagonal triple multiplication
  stdlib/LinearAlgebra/src/special.jl
  stdlib/LinearAlgebra/test/diagonal.jl
Labels: performance, domain:linear algebra, domain:arrays

#55928 Fix dispatch on `alg` in Float16 Hermitian eigen
  stdlib/LinearAlgebra/src/symmetriceigen.jl
  stdlib/LinearAlgebra/test/symmetriceigen.jl
Labels: domain:linear algebra, domain:float16

#55948 Remove specialized `ishermitian` method for `Diagonal{<:Real}`
  stdlib/LinearAlgebra/src/diagonal.jl
Labels: domain:linear algebra, domain:arrays

#55945 Fix logic in `?` docstring example
  base/docs/basedocs.jl
Labels: domain:docs, backport 1.10, backport 1.11

#55877 fix FileWatching designs and add workaround for a stat bug on Apple
  base/libuv.jl
  base/reflection.jl
  base/stat.jl
  src/sys.c
  stdlib/FileWatching/docs/src/index.md
  stdlib/FileWatching/src/FileWatching.jl
  stdlib/FileWatching/src/pidfile.jl
  stdlib/FileWatching/test/runtests.jl
  test/file.jl
Labels: domain:parallelism, domain:io, status:merge me, kind:don't squash

#55906 make faster BigFloats
  base/Base.jl
  base/mpfr.jl
  base/rawbigfloats.jl
  stdlib/Random/src/generation.jl
  test/dict.jl
  test/mpfr.jl
Labels: performance, domain:bignums, status:merge me

#55902 Add propagate_inbounds_meta to atomic genericmemory ops
  base/genericmemory.jl
Labels: domain:arrays, domain:atomics

#55955 [release-1.11] Backport: precompilepkgs report direct dep ext errors
  base/precompilation.jl
Labels: status:merge me

#55911 fix rounding mode in construction of `BigFloat` from pi
  base/irrationals.jl
  test/rounding.jl
Labels: kind:bugfix, domain:bignums

#55932 REPL: make UndefVarError aware of imported modules
  base/experimental.jl
  stdlib/REPL/src/REPL.jl
Labels: stdlib:REPL, domain:error messages, backport 1.11

#55963 Explicitly store a module's location
  base/reflection.jl
  src/jl_exported_funcs.inc
  src/julia.h
  src/module.c
  src/staticdata.c
  src/toplevel.c
Labels: modules

#55964 mergewith: add edge case example to docstring
  base/abstractdict.jl
Labels: domain:docs, domain:collections, status:merge me

#55968 [build] avoid libedit linkage and align libccalllazy* SONAMEs
  deps/llvm.mk
  src/Makefile
Labels: domain:building, status:merge me

#55970 Add missing `copy!(::AbstractMatrix, ::UniformScaling)` method
  stdlib/LinearAlgebra/src/uniformscaling.jl
  stdlib/LinearAlgebra/test/uniformscaling.jl
Labels: domain:linear algebra, status:merge me

#54089 Add forward progress update to NEWS.md
  NEWS.md
Labels: status:merge me

#55977 fix comma logic in time_print
  base/timing.jl
Labels: merge me, backport 1.11

#55976 optimizer: fix up the inlining algorithm to use correct `nargs`/`isva`
  base/compiler/abstractinterpretation.jl
  base/compiler/inferencestate.jl
  base/compiler/optimize.jl
  base/compiler/ssair/inlining.jl
  base/compiler/ssair/passes.jl
  base/compiler/stmtinfo.jl
  base/compiler/typeinfer.jl
  base/compiler/types.jl
  test/compiler/EscapeAnalysis/EAUtils.jl
  test/staged.jl
Labels: bugfix, compiler:inference

#55859 Apple: fix bus error on smaller readonly file in unix
  stdlib/Mmap/src/Mmap.jl
Labels: system:mac, filesystem, merge me

#55980 Avoid `stat`-ing stdlib path if it's unreadable
  base/loading.jl
Labels: packages

#55929 Add `Float16` to `Base.HWReal`
  base/intfuncs.jl
  test/intfuncs.jl
Labels: maths, float16

#55988 docs: make mod an operator
  base/range.jl
Labels: docs, merge me

#54745 typeintersect: allocation tuning for large `UnionAll`
  src/subtype.c
Labels: performance, types and dispatch

#55915 InteractiveUtils: add `@trace_compile` and `@trace_dispatch`
  NEWS.md
  doc/src/manual/performance-tips.md
  src/gf.c
  src/julia_internal.h
  stdlib/InteractiveUtils/docs/src/index.md
  stdlib/InteractiveUtils/src/InteractiveUtils.jl
  stdlib/InteractiveUtils/src/macros.jl
  stdlib/InteractiveUtils/test/runtests.jl
Labels: merge me

#55743 doc: heap snapshot viewing
  stdlib/Profile/docs/src/index.md
Labels: docs, profiler, backport 1.10, backport 1.11

#55851 [REPL] Fix #55850 by using `safe_realpath` instead of `abspath` in `projname`
  stdlib/REPL/src/Pkg_beforeload.jl
  stdlib/REPL/test/repl.jl
Labels: merge me, backport 1.11

#55992 Avoid `stat`-ing stdlib path if it's unreadable
  base/loading.jl
Labels: packages, backport 1.11

#55979 doc: manual: cmd: fix Markdown in table entry for `--trim`
  doc/src/manual/command-line-interface.md
Labels: docs, bugfix, trimming

#54841 Improvements to JITLink, to ease transition
  src/cgmemmgr.cpp
  src/codegen.cpp
  src/debug-registry.h
  src/debuginfo.cpp
  src/jitlayers.cpp
  src/jitlayers.h
Labels: compiler:llvm

#55994 Avoid conversions to `Float64` in non-literal powers of `Float16`
  base/math.jl
Labels: performance, maths, float16

#55985 Remove unreachable error branch in memset calls (and in repeat)
  base/array.jl
  base/genericmemory.jl
  base/iddict.jl
  base/strings/string.jl
  base/strings/substring.jl
Labels: merge me

#56000 fixup: for #55988
  base/range.jl
Labels: docs, merge me

#56008 fix typos
  doc/src/devdocs/build/distributing.md
  doc/src/devdocs/gc.md
  doc/src/devdocs/llvm.md
  doc/src/manual/environment-variables.md
Labels: docs, merge me

#55997 Vectorise random vectors of `Float16`
  stdlib/Random/src/XoshiroSimd.jl
Labels: performance, randomness, float16

#55918 Clarify `div` docstring for floating-point input
  base/div.jl
Labels: docs, maths

#55989 improve getproperty(Pairs) warnings
  base/deprecated.jl
Labels: deprecation, merge me, error messages

#56005 Document type-piracy / type-leakage restrictions for `require_stdlib`
  base/loading.jl
Labels: docs, packages, stdlib

#56011 [LinearAlgebra] Remove unreliable doctests
  stdlib/LinearAlgebra/src/LinearAlgebra.jl
  stdlib/LinearAlgebra/src/hessenberg.jl
Labels: docs, linear algebra, ci

#55951 cleanup functions of Hermitian matrices
  stdlib/LinearAlgebra/src/symmetric.jl
Labels: linear algebra

#56019 Fix no-arg `ScopedValues.@with` within a scope
  base/scopedvalues.jl
  test/scopedvalues.jl
Labels: bugfix, merge me, backport 1.11

#55953 set VERSION to 1.11.0
  VERSION
Labels: release

#55537 LinearAlgebra: make matprod_dest public
  stdlib/LinearAlgebra/src/LinearAlgebra.jl
  stdlib/LinearAlgebra/src/matmul.jl
Labels: performance, linear algebra, arrays

#56023 Sockets: Warn when local network access not granted.
  stdlib/Sockets/test/runtests.jl
Labels: system:mac, test, sockets

#55993 Update test due to switch to intel syntax by default in #48103
  stdlib/InteractiveUtils/test/runtests.jl
Labels: test, stdlib

#55634 fix `power_by_squaring`: use `promote` instead of type inference
  base/intfuncs.jl
  test/math.jl
Labels: maths, bugfix

#56041 Don't show keymap `@error` for hints
  stdlib/REPL/src/LineEdit.jl
Labels: backport 1.11, completions

#56038 Fix typo in sockets tests.
  stdlib/Sockets/test/runtests.jl
Labels: test, merge me

#56061 effects: fix `Base.@_noub_meta`
  base/essentials.jl
  src/method.c
  test/compiler/effects.jl
Labels: compiler:effects

#56060 effects: improve `:noub_if_noinbounds` documentation
  base/compiler/effects.jl
Labels: docs, compiler:effects

#56068 Disallow assigning asymmetric values to SymTridiagonal
  stdlib/LinearAlgebra/src/tridiag.jl
  stdlib/LinearAlgebra/test/tridiag.jl
Labels: linear algebra, arrays

#56048 Remove unused matrix type params in diag methods
  stdlib/LinearAlgebra/src/bidiag.jl
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/LinearAlgebra/src/tridiag.jl
Labels: linear algebra, arrays

#55252 LinearAlgebra: diagzero for non-OneTo axes
  NEWS.md
  stdlib/LinearAlgebra/src/LinearAlgebra.jl
  stdlib/LinearAlgebra/src/bidiag.jl
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/LinearAlgebra/test/bidiag.jl
  stdlib/LinearAlgebra/test/diagonal.jl
  test/testhelpers/SizedArrays.jl
Labels: linear algebra

#55935 Multi-argument `gcdx(a, b, c...)`
  base/intfuncs.jl
  test/rational.jl
Labels: maths, feature

#56029 fix `_growbeg!` unncessary resizing
  base/array.jl
  test/arrayops.jl
Labels: arrays, backport 1.11

#55959 REPL: hide any prints to stdio during `complete_line`
  stdlib/REPL/src/LineEdit.jl
Labels: merge me, backport 1.10, backport 1.11

#56049 mpfr: prevent changing precision
  base/mpfr.jl
Labels: bignums

#56047 stackwalk: fix jl_thread_suspend_and_get_state race
  src/stackwalk.c
Labels: bugfix

#55867 update `hash` doc string: `widen` not required any more
  base/hashing.jl
Labels: docs, hashing, backport 1.10, backport 1.11

#56086 Merge `diag` methods for triangular matrices
  stdlib/LinearAlgebra/src/triangular.jl
Labels: linear algebra, arrays

#56084 slightly improve inference in precompilation code
  base/precompilation.jl
Labels: compiler:latency, backport 1.11

#56090 backport 1.11: fix `_growbeg!` unncessary resizing (#56029)
  base/array.jl
  test/arrayops.jl
Labels: merge me

#56034 array: inline `convert` where possible
  base/array.jl
  base/namedtuple.jl
  test/abstractarray.jl
  test/compiler/effects.jl
Labels: arrays, merge me

#56083 Remove some unnecessary `real` specializations for structured matrices
  stdlib/LinearAlgebra/src/hessenberg.jl
  stdlib/LinearAlgebra/src/triangular.jl
Labels: linear algebra, arrays

#56014 Combine `diag` methods for `SymTridiagonal`
  stdlib/LinearAlgebra/src/tridiag.jl
  stdlib/LinearAlgebra/test/tridiag.jl
Labels: performance, linear algebra, arrays

#56081 fix `Vararg{T,T} where T` crashing `code_typed`
  base/compiler/abstractinterpretation.jl
  test/compiler/inference.jl
Labels: bugfix, compiler:inference

#56094 [libblastrampoline_jll] Upgrade to v5.11.1
  deps/blastrampoline.version
  deps/checksums/blastrampoline
  stdlib/libblastrampoline_jll/Project.toml
Labels: external dependencies, JLLs, system:riscv

#56102 Revert "REPL: hide any prints to stdio during `complete_line`"
  stdlib/REPL/src/LineEdit.jl
Labels: merge me, revert

#56103 Remove warning from c when binding is ambiguous
  doc/src/manual/modules.md
  src/module.c
Labels: backport 1.11

#56088 make `Base.ANSIIterator` have a concrete field
  base/show.jl
Labels: backport 1.11

#56007 Subtype: some performance tuning.
  src/subtype.c
Labels: performance, types and dispatch

#56097 rearrange jl_delete_thread to be thread-safe
  src/threading.c
Labels: multithreading, merge me, backport 1.11

#56107 OpenBLAS: Use dynamic architecture support on AArch64.
  Make.inc
  deps/openblas.mk
Labels: building, external dependencies, merge me

#56036 IRShow: label builtin / intrinsic / dynamic calls in `code_typed`
  base/compiler/abstractinterpretation.jl
  base/compiler/optimize.jl
  base/compiler/ssair/ir.jl
  base/compiler/ssair/show.jl
  base/compiler/types.jl
  base/deprecated.jl
  doc/src/base/reflection.md
  doc/src/devdocs/inference.md
  stdlib/InteractiveUtils/src/codeview.jl
  stdlib/InteractiveUtils/test/highlighting.jl
  test/compiler/EscapeAnalysis/EAUtils.jl
Labels: display and printing

#40985 Fix type instability of closures capturing types (2)
  base/boot.jl
  base/reflection.jl
  src/julia-syntax.scm
  test/compiler/inline.jl
  test/core.jl
Labels: performance, compiler:lowering

#56127 Remove debug error statement from Makefile.
  deps/openblas.mk
Labels: building, external dependencies, embarrassing-bugfix, merge me

#56024 Improve IOBuffer docs
  base/iobuffer.jl
Labels: docs, merge me

#56131 Comment out url and fix typo in stackwalk.c
  src/stackwalk.c
Labels: merge me

#56129 libgit2: Always use the bundled PCRE library.
  deps/libgit2.mk
Labels: building, external dependencies

#56133 Update JLL build versions
  contrib/refresh_checksums.mk
  deps/checksums/blastrampoline
  deps/checksums/clang
  deps/checksums/compilersupportlibraries
  deps/checksums/dsfmt
  deps/checksums/gmp
  deps/checksums/libuv
  deps/checksums/lld
  deps/checksums/llvm
  deps/checksums/llvmunwind
  deps/checksums/mbedtls
  deps/checksums/mpfr
  deps/checksums/nghttp2
  deps/checksums/openblas
  deps/checksums/openlibm
  deps/checksums/p7zip
  deps/checksums/pcre
  deps/checksums/suitesparse
  deps/checksums/unwind
  deps/checksums/zlib
  deps/clang.version
  deps/lld.version
  deps/llvm-tools.version
  deps/llvm.version
  deps/nghttp2.version
  stdlib/CompilerSupportLibraries_jll/Project.toml
  stdlib/GMP_jll/Project.toml
  stdlib/LLD_jll/Project.toml
  stdlib/LibUV_jll/Project.toml
  stdlib/LibUnwind_jll/Project.toml
  stdlib/MPFR_jll/Project.toml
  stdlib/Manifest.toml
  stdlib/MbedTLS_jll/Project.toml
  stdlib/OpenBLAS_jll/Project.toml
  stdlib/OpenLibm_jll/Project.toml
  stdlib/PCRE2_jll/Project.toml
  stdlib/SuiteSparse_jll/Project.toml
  stdlib/Zlib_jll/Project.toml
  stdlib/dSFMT_jll/Project.toml
  stdlib/libLLVM_jll/Project.toml
  stdlib/nghttp2_jll/Project.toml
  stdlib/nghttp2_jll/test/runtests.jl
  stdlib/p7zip_jll/Project.toml
Labels: external dependencies, JLLs

#56140 typo in `Compiler.Effects` doc string: `checkbounds` -> `boundscheck`
  base/compiler/effects.jl
Labels: docs, compiler:effects

#56137 HISTORY: fix missing links
  HISTORY.md
Labels: docs

#56139 OpenBLAS: Fix cross-compilation detection for source build.
  deps/openblas.mk
Labels: building, external dependencies

#56065 `diag` for `BandedMatrix`es for off-limit bands
  stdlib/LinearAlgebra/src/bidiag.jl
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/LinearAlgebra/src/tridiag.jl
  stdlib/LinearAlgebra/test/bidiag.jl
  stdlib/LinearAlgebra/test/diagonal.jl
  stdlib/LinearAlgebra/test/tridiag.jl
Labels: linear algebra, arrays

#55650 Add support for LLVM 19
  deps/llvm.mk
  src/clangsa/GCChecker.cpp
  src/debuginfo.cpp
  src/disasm.cpp
  src/features_x86.h
  src/jitlayers.cpp
  src/llvm-multiversioning.cpp
  src/llvm-simdloop.cpp
  src/llvmcalltest.cpp
  src/processor.cpp
  src/processor_x86.cpp
  test/llvmpasses/multiversioning-x86.ll
Labels: external dependencies, compiler:llvm

#55861 HISTORY entry for deletion of `length(::Stateful)`
  HISTORY.md
Labels: docs, merge me

#55901 ntuple: ensure eltype is always `Int`
  base/ntuple.jl
  test/tuple.jl
Labels: collections, triage

#55995 Improve remarks of the alloc opt pass slightly.
  src/llvm-alloc-helpers.cpp
  src/llvm-alloc-opt.cpp
Labels: compiler:llvm

#54093 Fix `JULIA_CPU_TARGET` being propagated to workers precompiling stdlib pkgimages
  pkgimage.mk
Labels: building, merge me

#56152 Reduce duplication in triangular indexing methods
  stdlib/LinearAlgebra/src/triangular.jl
Labels: linear algebra, arrays

#56162 update LLVM docs
  doc/src/devdocs/llvm.md
Labels: docs, merge me

#55941 Fix zero elements for block-matrix kron involving Diagonal
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/LinearAlgebra/test/diagonal.jl
Labels: linear algebra, backport 1.10, backport 1.11

#56089 Call `MulAddMul` instead of multiplication in _generic_matmatmul!
  stdlib/LinearAlgebra/src/matmul.jl
  stdlib/LinearAlgebra/test/matmul.jl
Labels: linear algebra, backport 1.11

#56161 improve `allunique`'s type stability
  base/set.jl
  test/sets.jl
Labels: backport 1.11

#56159 Add invalidation barriers for `displaysize` and `implicit_typeinfo`
  base/arrayshow.jl
  base/logging/ConsoleLogger.jl
  base/precompilation.jl
  base/show.jl
  base/stream.jl
Labels: backport 1.11

#56144 [Random] Add more comments and a helper function in Xoshiro code
  stdlib/Random/src/Xoshiro.jl
  stdlib/Random/src/XoshiroSimd.jl
Labels: randomness

#56025 Backports for 1.11.1
  base/Enums.jl
  base/array.jl
  base/docs/basedocs.jl
  base/essentials.jl
  base/experimental.jl
  base/loading.jl
  base/precompilation.jl
  base/scopedvalues.jl
  base/set.jl
  base/show.jl
  base/timing.jl
  contrib/generate_precompile.jl
  deps/checksums/Pkg-6ceafca8e2adab1b248b19e468d432c167dd7b7e.tar.gz/md5
  deps/checksums/Pkg-6ceafca8e2adab1b248b19e468d432c167dd7b7e.tar.gz/sha512
  deps/checksums/Pkg-aba90d22b42a993b118276caa8df5146776d3844.tar.gz/md5
  deps/checksums/Pkg-aba90d22b42a993b118276caa8df5146776d3844.tar.gz/sha512
  deps/llvm.mk
  doc/src/manual/code-loading.md
  doc/src/manual/modules.md
  doc/src/manual/performance-tips.md
  src/Makefile
  src/method.c
  src/module.c
  stdlib/LinearAlgebra/src/LinearAlgebra.jl
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/LinearAlgebra/src/hessenberg.jl
  stdlib/LinearAlgebra/test/diagonal.jl
  stdlib/Pkg.version
  stdlib/Profile/docs/src/index.md
  stdlib/REPL/src/LineEdit.jl
  stdlib/REPL/src/Pkg_beforeload.jl
  stdlib/REPL/src/REPL.jl
  stdlib/REPL/test/repl.jl
  stdlib/Sockets/test/runtests.jl
  test/arrayops.jl
  test/compiler/effects.jl
  test/loading.jl
  test/misc.jl
  test/mpfr.jl
  test/precompile.jl
  test/project/Extensions/CyclicExtensions/Manifest.toml
  test/project/Extensions/CyclicExtensions/Project.toml
  test/project/Extensions/CyclicExtensions/ext/ExtA.jl
  test/project/Extensions/CyclicExtensions/ext/ExtB.jl
  test/project/Extensions/CyclicExtensions/src/CyclicExtensions.jl
  test/project/Extensions/EnvWithHasExtensions/Manifest.toml
  test/project/Extensions/ExtDep3.jl/Project.toml
  test/project/Extensions/ExtDep3.jl/src/ExtDep3.jl
  test/project/Extensions/HasDepWithExtensions.jl/Manifest.toml
  test/project/Extensions/HasDepWithExtensions.jl/Project.toml
  test/project/Extensions/HasExtensions.jl/Manifest.toml
  test/project/Extensions/HasExtensions.jl/Project.toml
  test/project/Extensions/HasExtensions.jl/ext/ExtensionDep.jl
  test/project/Extensions/HasExtensions.jl/src/HasExtensions.jl
  test/scopedvalues.jl
  test/sets.jl
Labels: release

#56148 Make loading work when stdlib deps are missing in the manifest
  base/loading.jl
  test/loading.jl
  test/project/deps/BadStdlibDeps/Manifest.toml
  test/project/deps/BadStdlibDeps/Project.toml
Labels: packages, backport 1.10, backport 1.11

#55802 Remove llvm-muladd pass and move it's functionality to to llvm-simdloop
  doc/src/devdocs/llvm-passes.md
  doc/src/devdocs/llvm.md
  src/Makefile
  src/jl_exported_funcs.inc
  src/llvm-julia-passes.inc
  src/llvm-muladd.cpp
  src/llvm-simdloop.cpp
  src/passes.h
  src/pipeline.cpp
  test/llvmpasses/julia-simdloop.ll
  test/llvmpasses/muladd.ll
  test/llvmpasses/parsing.ll
Labels: compiler:llvm, backport 1.10, backport 1.11

#56174 Fix implicit `convert(String, ...)` in several places
  base/precompilation.jl
  base/regex.jl
  stdlib/REPL/src/LineEdit.jl
Labels: backport 1.11

#55741 Change annotations to use a NamedTuple
  base/strings/annotated.jl
  base/strings/io.jl
  deps/checksums/JuliaSyntaxHighlighting-19bd57b89c648592155156049addf67e0638eab1.tar.gz/md5
  deps/checksums/JuliaSyntaxHighlighting-19bd57b89c648592155156049addf67e0638eab1.tar.gz/sha512
  deps/checksums/JuliaSyntaxHighlighting-b89dd99db56700c47434df6106b6c6afd1c9ed01.tar.gz/md5
  deps/checksums/JuliaSyntaxHighlighting-b89dd99db56700c47434df6106b6c6afd1c9ed01.tar.gz/sha512
  deps/checksums/StyledStrings-056e843b2d428bb9735b03af0cff97e738ac7e14.tar.gz/md5
  deps/checksums/StyledStrings-056e843b2d428bb9735b03af0cff97e738ac7e14.tar.gz/sha512
  deps/checksums/StyledStrings-f6035eb97b516862b16e36cab2ecc6ea8adc3d7c.tar.gz/md5
  deps/checksums/StyledStrings-f6035eb97b516862b16e36cab2ecc6ea8adc3d7c.tar.gz/sha512
  doc/src/manual/strings.md
  stdlib/JuliaSyntaxHighlighting.version
  stdlib/Markdown/src/render/terminal/formatting.jl
  stdlib/StyledStrings.version
  test/strings/annotated.jl
Labels: strings, don't squash, backport 1.11

#56178 Remove redundant `convert` in `_setindex!`
  base/array.jl
  base/genericmemory.jl
Labels: arrays

#56105 Initial support for RISC-V
  Make.inc
  base/binaryplatforms.jl
  base/cpuid.jl
  cli/trampolines/trampolines_riscv64.S
  contrib/generate_precompile.jl
  contrib/normalize_triplet.py
  doc/src/devdocs/build/build.md
  doc/src/devdocs/build/riscv.md
  src/abi_riscv.cpp
  src/aotcompile.cpp
  src/ccall.cpp
  src/codegen.cpp
  src/disasm.cpp
  src/jitlayers.cpp
  src/jitlayers.h
  src/julia_internal.h
  src/julia_threads.h
  src/llvm-ptls.cpp
  src/llvm-version.h
  src/runtime_intrinsics.c
  src/signal-handling.c
  src/signals-unix.c
  src/stackwalk.c
  src/support/platform.h
  src/task.c
  src/threading.c
Labels: system:riscv

#56180 release-1.11: set VERSION to 1.11.1
  VERSION
Labels: release

#55643 Implement parallel sweeping of stack pools
  base/timing.jl
  src/Makefile
  src/gc-interface.h
  src/gc-stacks.c
  src/gc-stock.c
  src/gc-stock.h
  src/gc-tls.h
Labels: performance, GC, merge me

#51288 add fenv cache to task struct
  src/julia.h
  src/task.c
Labels: maths, multithreading

#56197 Fix some grammatical errors on docstring of `GenericMemory`
  base/genericmemory.jl
Labels: docs, merge me

#56138 Read views of destination in adjoint * adjoint
  stdlib/LinearAlgebra/src/matmul.jl
Labels: linear algebra

#56195 Include default user depot when JULIA_DEPOT_PATH has leading empty entry
  base/initdefs.jl
  doc/src/manual/environment-variables.md
  test/loading.jl
Labels: packages, backport 1.11

#56160 Add news entry for `matprod_dest`
  NEWS.md
Labels: docs, linear algebra

#56120 Improve type inference of nonmissingtype, nonnothingtype and of Ryu
  base/missing.jl
  base/ryu/Ryu.jl
  base/some.jl
Labels: trimming

#53959 Limit implicit `show` in REPL to printing 20 KiB by default
  NEWS.md
  stdlib/REPL/src/REPL.jl
  stdlib/REPL/test/repl.jl
Labels: io, REPL, merge me

#52946 Add inferFunctionAttrsPass to the pipeline so that libfuncs get attributes
  src/pipeline.cpp
Labels: merge me, compiler:llvm

#56009 Fix printing of `AbstractDict`s with unknown length
  base/show.jl
  stdlib/REPL/src/REPLCompletions.jl
  stdlib/REPL/test/replcompletions.jl
  test/show.jl
Labels: REPL, bugfix, display and printing

#55793 Add a convenience object for expressing once-like / per-runtime patterns
  NEWS.md
  base/docs/basedocs.jl
  base/exports.jl
  base/lock.jl
  base/task.jl
  doc/src/base/base.md
  src/builtins.c
  src/gc-stock.c
  src/julia_internal.h
  src/staticdata.c
  test/precompile.jl
  test/threads.jl
Labels: parallelism, merge me, don't squash

#56215 [REPL] fix lock ordering mistake in load_pkg
  base/loading.jl
  stdlib/REPL/src/Pkg_beforeload.jl
Labels: REPL, backport 1.11

#55312 Fix triu/tril for partly initialized matrices
  stdlib/LinearAlgebra/src/generic.jl
  stdlib/LinearAlgebra/test/generic.jl
Labels: linear algebra, arrays, merge me

#56149 Specialize adding/subtracting mixed Upper/LowerTriangular
  stdlib/LinearAlgebra/src/triangular.jl
  stdlib/LinearAlgebra/test/triangular.jl
Labels: linear algebra, arrays, bugfix, backport 1.11

#56189 Fix `goto` insertion when dom-sorting IR in `slot2ssa` pass
  base/compiler/ssair/slot2ssa.jl
  test/compiler/irpasses.jl
Labels: bugfix, compiler:optimizer

#55870 fix infinite recursion in `promote_type` for `Irrational`
  base/irrationals.jl
  test/numbers.jl
Labels: bugfix, backport 1.10, backport 1.11

#55879 Replace store of freeze in allocop and in emit new struct with memset since aggregate stores are bad
  src/cgutils.cpp
  src/llvm-alloc-opt.cpp
  test/llvmpasses/alloc-opt-pass.ll
Labels: performance

#56232 fix reporting of precompile configs on CI
  base/precompilation.jl
Labels: packages, merge me

#56092 stream: fix reading LibuvStream into array
  base/array.jl
  base/stream.jl
  test/read.jl
Labels: io, merge me, backport 1.11

#56214 fix precompile process flags
  base/Base.jl
  base/loading.jl
  base/precompilation.jl
  base/show.jl
  base/util.jl
  base/uuid.jl
  pkgimage.mk
  src/staticdata_utils.c
  test/loading.jl
Labels: compiler:precompilation, backport 1.11

#56227 Do not call `rand` during sysimage precompilation
  contrib/generate_precompile.jl
Labels: compiler:precompilation, bugfix, merge me, backport 1.11

#56179 Split up the one big codegen lock into per-function locks and dependency edge tracking
  src/aotcompile.cpp
  src/cgmemmgr.cpp
  src/clangsa/GCChecker.cpp
  src/codegen.cpp
  src/debug-registry.h
  src/debuginfo.cpp
  src/engine.cpp
  src/gf.c
  src/jitlayers.cpp
  src/jitlayers.h
  src/julia.h
  src/julia_atomics.h
  src/julia_internal.h
  src/julia_locks.h
  src/opaque_closure.c
  src/pipeline.cpp
  src/stackwalk.c
Labels: compiler:codegen

#56240 rename: invalid -> incompatible cache header
  base/loading.jl
  stdlib/Logging/docs/src/index.md
Labels: packages, merge me, backport 1.11

#56231 Restore support for checking for UndefVarError variable name in at-test_throws
  stdlib/Test/src/Test.jl
  stdlib/Test/test/runtests.jl
Labels: testsystem, merge me, backport 1.11

#55608 Refactoring to be considered before adding MMTk
  src/Makefile
  src/gc-common.c
  src/gc-common.h
  src/gc-debug.c
  src/gc-interface.h
  src/gc-stacks.c
  src/gc-stock.c
  src/gc-stock.h
  src/gc-tls-common.h
  src/gc-tls.h
  src/julia_internal.h
  src/julia_threads.h
  src/scheduler.c
  src/stackwalk.c
Labels: GC

#56249 Few more tests for AbstractChar
  test/char.jl
Labels: test

#56251 REPL: run repl hint generation for modeswitch chars when not switching
  stdlib/REPL/src/REPL.jl
Labels: REPL, backport 1.11, completions

#56237 Make isbitstypes use memmove instead of the runtime function in copyto!
  base/genericmemory.jl
Labels: arrays, backport 1.11

#56229 Fix kron indexing for types without a unique zero
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/LinearAlgebra/test/diagonal.jl
Labels: linear algebra, arrays, bugfix, backport 1.11

#55984 Reroute` (Upper/Lower)Triangular * Diagonal` through `__muldiag`
  stdlib/LinearAlgebra/src/LinearAlgebra.jl
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/LinearAlgebra/test/diagonal.jl
Labels: performance, linear algebra, arrays

#56252 REPL: fix brace detection when ' is used for transpose
  stdlib/REPL/src/REPLCompletions.jl
  stdlib/REPL/test/replcompletions.jl
Labels: REPL, backport 1.10, backport 1.11, completions

#56169 Specialize `haszero` for `Union{Missing,<:Number}`
  stdlib/LinearAlgebra/src/dense.jl
  stdlib/LinearAlgebra/test/triangular.jl
Labels: linear algebra, missing data

#56119 Add small tweaks to juliac script and misc fixes to juliac
  contrib/juliac-buildscript.jl
  contrib/juliac.jl
  src/codegen.cpp
Labels: merge me, trimming

#56262 Warn about negative size in array construction
  src/genericmemory.c
Labels: arrays, merge me

#56267 Revert "Reroute` (Upper/Lower)Triangular * Diagonal` through `__muldiag`"
  stdlib/LinearAlgebra/src/LinearAlgebra.jl
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/LinearAlgebra/test/diagonal.jl
Labels: linear algebra, revert

#56271 trimming: don't abort where we used to resolve dynamic calls
  src/codegen.cpp
Labels: trimming

#56277 add Pkg 1.11 news to HISTORY.md
  HISTORY.md
Labels: docs, merge me

#56269 Remove NewPM pass exports.
  src/codegen-stubs.c
  src/jl_exported_funcs.inc
  src/llvm-julia-passes.inc
  src/llvm_api.cpp
  src/pipeline.cpp
Labels: merge me, compiler:llvm

#56287 jitlayers: use std::make_tuple instead of tuple constructor
  src/jitlayers.cpp
Labels: merge me

#56276 move time_imports and trace_* macros to Base but remain owned by InteractiveUtils
  base/timing.jl
  stdlib/InteractiveUtils/src/macros.jl
Labels: packages, tooling, backport 1.10, backport 1.11

#55876 lowering: split `finally` blocks for exceptional control-flow
  src/julia-syntax.scm
  test/exceptions.jl
Labels: compiler:lowering

#56275 add recompile comment in --trace-compile in terminal color mode too
  src/gf.c
Labels: merge me, backport 1.11

#56278 REPL: Don't search for ?( completions when hinting
  stdlib/REPL/src/REPLCompletions.jl
Labels: merge me, backport 1.11, completions

#55949 Use a curried helper for module-local eval/include
  base/Base.jl
  base/boot.jl
  base/docs/basedocs.jl
  base/errorshow.jl
  base/loading.jl
  base/show.jl
  base/sysimg.jl
  src/jlfrontend.scm
  src/toplevel.c
  test/docs.jl
  test/reflection.jl
Labels: modules

#56286 Fix fetching parent in symmetric algebra
  stdlib/LinearAlgebra/src/symmetric.jl
  stdlib/LinearAlgebra/test/symmetric.jl
Labels: linear algebra, arrays, backport 1.11
