Repository JuliaLang/julia, pull requests merged in 2024-06, with the labels that each got.

#51631 Implement StringPairs for efficient pairs(::AbstractString)
  base/iterators.jl
  base/strings/string.jl
  test/iterators.jl
Labels: performance, domain:strings, status:merge me

#53178 Use Memory in some more fast methods
  base/filesystem.jl
  base/iobuffer.jl
  base/iostream.jl
  base/strings/search.jl
  base/strings/string.jl
  base/subarray.jl
  base/util.jl
  stdlib/CRC32c/src/CRC32c.jl
Labels: performance, status:merge me

#53428 Add guidance for using qualified names in packages
  doc/src/manual/modules.md
Labels: domain:docs

#54648 Construct LazyString in error paths for tridiag
  stdlib/LinearAlgebra/src/tridiag.jl
Labels: domain:linear algebra, backport 1.11

#54658 fix missing uuid check on extension when finding the location of an extension
  base/loading.jl
  test/loading.jl
  test/project/Extensions/ExtNameCollision_A/Project.toml
  test/project/Extensions/ExtNameCollision_A/ext/REPLExt.jl
  test/project/Extensions/ExtNameCollision_A/src/ExtNameCollision_A.jl
  test/project/Extensions/ExtNameCollision_B/Project.toml
  test/project/Extensions/ExtNameCollision_B/ext/REPLExt.jl
  test/project/Extensions/ExtNameCollision_B/src/ExtNameCollision_B.jl
Labels: domain:packages, backport 1.10, package extensions, backport 1.11

#54649 Less restrictive copyto! signature for triangular matrices
  stdlib/LinearAlgebra/src/triangular.jl
  stdlib/LinearAlgebra/test/triangular.jl
Labels: domain:linear algebra, backport 1.11

#54647 cleanup `MemoryRef`
  base/array.jl
  base/boot.jl
  base/compiler/optimize.jl
  base/compiler/tfuncs.jl
  base/deepcopy.jl
  base/docs/basedocs.jl
  base/docs/intrinsicsdocs.jl
  base/essentials.jl
  base/exports.jl
  base/genericmemory.jl
  base/reshapedarray.jl
  base/strings/string.jl
  doc/src/base/arrays.md
  doc/src/devdocs/builtins.md
  src/builtins.c
  test/core.jl
Labels: backport 1.11

#54669 Improve error message in inplace transpose
  stdlib/LinearAlgebra/src/transpose.jl
  stdlib/LinearAlgebra/test/adjtrans.jl
Labels: domain:linear algebra, domain:error messages, backport 1.10, backport 1.11

#54675 fix docstring for memoryref
  base/docs/basedocs.jl
Labels: domain:docs, kind:embarrassing-bugfix

#54671 Add boundscheck in bindingkey_eq to avoid OOB access due to data race
  src/module.c
Labels: status:merge me, backport 1.10, backport 1.11

#54673 REPLInterpreter: discard sources aggressively
  stdlib/REPL/src/REPLCompletions.jl
Labels: status:merge me

#51149 Set temporary env whenever Julia is started with `--project=@temp`
  NEWS.md
  base/initdefs.jl
  doc/src/manual/command-line-interface.md
  src/jloptions.c
  test/cmdlineargs.jl
Labels: domain:packages, status:merge me

#54323 inference: fix too conservative effects for recursive cycles
  base/compiler/typeinfer.jl
  test/compiler/AbstractInterpreter.jl
  test/compiler/effects.jl
  test/math.jl
Labels: backport 1.11

#54672 make: Fix `sed` command for LLVM libraries with no symbol versioning
  src/Makefile
Labels: domain:building, status:merge me, backport 1.10, backport 1.11

#52069 codegen: implement isdefined_tfunc check more similarly to inference
  src/cgutils.cpp
  src/codegen.cpp
Labels: compiler:codegen, status:merge me

#54680 Revert "cleanup `MemoryRef` (#54647)"
  base/array.jl
  base/boot.jl
  base/compiler/optimize.jl
  base/compiler/tfuncs.jl
  base/deepcopy.jl
  base/docs/basedocs.jl
  base/docs/intrinsicsdocs.jl
  base/essentials.jl
  base/exports.jl
  base/genericmemory.jl
  base/reshapedarray.jl
  base/strings/string.jl
  doc/src/base/arrays.md
  doc/src/devdocs/builtins.md
  src/builtins.c
  test/core.jl
Labels: kind:revert

#54624 more precise aliasing checks for SubArray
  base/multidimensional.jl
  test/subarray.jl
Labels: backport 1.10, backport 1.11

#54619 Implement generic pivoted Cholesky
  NEWS.md
  stdlib/LinearAlgebra/src/cholesky.jl
  stdlib/LinearAlgebra/test/cholesky.jl
Labels: domain:linear algebra

#54585 Add pivoted Cholesky decomposition for `Diagonal`
  stdlib/LinearAlgebra/src/cholesky.jl
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/LinearAlgebra/test/cholesky.jl
Labels: performance, domain:linear algebra, status:merge me

#54604 Fix tbaa annotation on union selector bytes inside of structs
  src/cgutils.cpp
  test/compiler/codegen.jl
Labels: backport 1.11

#54622 add unconditional warning before handling StackOverflow
  src/codegen.cpp
  src/interpreter.c
  src/julia.h
  src/llvm-lower-handlers.cpp
  src/rtutils.c
  src/signal-handling.c
  src/signals-mach.c
  src/signals-unix.c
  src/signals-win.c
  test/llvmpasses/lower-handlers-addrspaces.ll
  test/llvmpasses/lower-handlers.ll
Labels: domain:error handling, domain:error messages

#54690 Fix assertion/crash when optimizing function with dead basic block
  src/llvm-alloc-opt.cpp
  test/compiler/codegen.jl
  test/llvmpasses/alloc-opt-pass.ll
Labels: status:merge me, backport 1.10, backport 1.11

#54655 codegen: start to remove the ability to call back into inference
  base/compiler/typeinfer.jl
  base/opaque_closure.jl
  base/reflection.jl
  doc/src/devdocs/ast.md
  doc/src/devdocs/compiler.md
  src/aotcompile.cpp
  src/codegen-stubs.c
  src/codegen.cpp
  src/disasm.cpp
  src/gf.c
  src/ircode.c
  src/jitlayers.cpp
  src/jitlayers.h
  src/jltypes.c
  src/julia.h
  src/julia_internal.h
  src/method.c
  stdlib/InteractiveUtils/src/codeview.jl
  stdlib/InteractiveUtils/test/runtests.jl
  stdlib/Serialization/src/Serialization.jl
  test/compiler/AbstractInterpreter.jl
Labels: compiler:codegen, status:merge me

#54710 Remove redundant `similar` methods for adj/trans triangular matrices
  stdlib/LinearAlgebra/src/triangular.jl
Labels: domain:linear algebra, domain:arrays

#54689 inference: follow up #54323, override ssaflags with new cycle effects
  base/compiler/typeinfer.jl
  test/compiler/inference.jl
Labels: compiler:inference, status:merge me, backport 1.11

#54676 remove Method.roots with --strip-ir
  src/codegen.cpp
  src/staticdata.c
Labels: status:merge me

#54704 LazyString in reinterpretarray error messages
  base/reinterpretarray.jl
  test/reinterpretarray.jl
Labels: backport 1.10, backport 1.11

#54696 Fix off-by-100 error in time_ns() docstring
  base/Base.jl
Labels: domain:docs, kind:bugfix

#54718 fix prepend StackOverflow issue
  base/array.jl
Labels: domain:arrays, backport 1.11

#54721 add try/catch around scheduler to reset sleep state
  src/julia.h
  src/scheduler.c
Labels: kind:bugfix, status:merge me, backport 1.11

#54702 lowering: Recognize argument destructuring inside macro hygiene
  src/macroexpand.scm
  test/syntax.jl
Labels: status:merge me, backport 1.11

#54678 Don't let setglobal! implicitly create bindings
  base/docs/basedocs.jl
  doc/src/manual/embedding.md
  src/builtins.c
  src/codegen.cpp
  src/interpreter.c
  src/julia-syntax.scm
  src/julia.h
  src/module.c
  src/toplevel.c
  test/core.jl
  test/precompile.jl
  test/syntax.jl
Labels: status:merge me, backport 1.11

#54295 fix `circshift(::Tuple{}, ::Int)`
  base/tuple.jl
  test/tuple.jl
Labels: performance, kind:bugfix, domain:collections

#54685 Fix missing test dependency in package Unicode
  stdlib/Unicode/Project.toml
Labels: test

#54240 build: Remove GPL libs when set `USE_GPL_LIBS=0`
  Makefile
  THIRDPARTY.md
  deps/Makefile
  deps/libsuitesparse.mk
  stdlib/SuiteSparse_jll/src/SuiteSparse_jll.jl
Labels: domain:building, external dependencies

#54730 Fix uuidkey of exts in fast path of `require_stdlib`
  base/loading.jl
Labels: domain:packages, status:merge me, backport 1.11

#54674 Reimplement dummy pkg prompt as standard prompt
  stdlib/REPL/src/LineEdit.jl
  stdlib/REPL/src/REPL.jl
  stdlib/REPL/test/repl.jl
Labels: stdlib:REPL, status:merge me, backport 1.11

#54743 fix stale docstring in gc_sweep_page
  src/gc.c
Labels: GC

#54591 Don't expose guard pages to malloc_stack API consumers
  src/gc-stacks.c
Labels: backport 1.11

#54744 use atomic-fetch-and in write barrier slow-path
  src/gc.c
Labels: GC, status:merge me

#54726 update docstring for `time_ns`
  base/Base.jl
Labels: domain:docs

#54741 precompilepkgs: report direct dep ext errors
  base/precompilation.jl
Labels: compiler:precompilation, kind:bugfix, domain:error messages, package extensions

#54737 LazyString in interpolated error messages involving types
  base/Enums.jl
  base/abstractarray.jl
  base/c.jl
  base/indices.jl
  base/intfuncs.jl
  base/io.jl
  base/iterators.jl
  base/multidimensional.jl
  base/parse.jl
  base/rational.jl
  base/sort.jl
  base/subarray.jl
  base/tuple.jl
Labels: performance, domain:error handling, backport 1.10, backport 1.11

#53733 Add docstring to `ConcurrencyViolationError`
  base/docs/basedocs.jl
  doc/src/base/parallel.md
  doc/src/manual/multi-threading.md
Labels: domain:docs, domain:multithreading

#54642 Document GenericMemory and AtomicMemory
  base/genericmemory.jl
  doc/src/base/arrays.md
Labels: domain:docs, backport 1.11

#54756 update man & doc pages to reflect ngcthreads == nthreads now
  doc/man/julia.1
  doc/src/manual/command-line-interface.md
  doc/src/manual/environment-variables.md
  src/jloptions.c
Labels: domain:docs, GC

#54713 make: use `readelf` for LLVM symbol version detection
  src/Makefile
Labels: backport 1.10, backport 1.11

#54760 REPL: improve prompt! async function handler
  stdlib/REPL/src/LineEdit.jl
  stdlib/REPL/src/REPL.jl
  stdlib/REPL/src/precompile.jl
Labels: stdlib:REPL, status:merge me, backport 1.11

#54758 Specialize `copyto!` to strided for `Symmetric`/`Hermitian` matrices
  stdlib/LinearAlgebra/src/symmetric.jl
  stdlib/LinearAlgebra/test/symmetric.jl
Labels: domain:linear algebra, domain:arrays

#54761 LazyString in OverflowError string interpolation for rational
  base/rational.jl
Labels: performance, domain:error messages

#54606 fix double-counting and non-deterministic results in `summarysize`
  base/reflection.jl
  base/summarysize.jl
  src/datatype.c
  test/misc.jl
Labels: kind:bugfix, backport 1.11

#54759 REPL: Fully populate the dummy Pkg prompt
  stdlib/REPL/src/Pkg_beforeload.jl
  stdlib/REPL/src/REPL.jl
Labels: stdlib:REPL, backport 1.11

#54504 error hint for getproperty(::Dict, ::Symbol)
  base/boot.jl
  base/errorshow.jl
  base/reflection.jl
  src/codegen.cpp
  src/datatype.c
  src/jl_exported_data.inc
  src/jltypes.c
  src/julia.h
  src/rtutils.c
  src/staticdata.c
  stdlib/LinearAlgebra/test/bunchkaufman.jl
  stdlib/LinearAlgebra/test/cholesky.jl
  stdlib/LinearAlgebra/test/eigen.jl
  stdlib/LinearAlgebra/test/hessenberg.jl
  stdlib/LinearAlgebra/test/lq.jl
  stdlib/LinearAlgebra/test/lu.jl
  stdlib/LinearAlgebra/test/qr.jl
  stdlib/LinearAlgebra/test/schur.jl
  stdlib/LinearAlgebra/test/svd.jl
  test/compiler/codegen.jl
  test/compiler/inference.jl
  test/core.jl
  test/errorshow.jl
  test/namedtuple.jl
  test/syntax.jl
Labels: status:merge me, domain:error messages

#54769 add missing compat entry to edit
  stdlib/InteractiveUtils/src/editless.jl
Labels: status:merge me

#54537 Optimize jl_tls_world_age ccall
  src/ccall.cpp
  src/codegen.cpp
  src/julia.h
Labels: status:merge me

#54639 Use correct thread stack limits in jl_init_stack_limits
  src/init.c
Labels: status:merge me

#54765 Handle no-postdominator case in finalizer pass
  base/compiler/ssair/domtree.jl
  base/compiler/ssair/passes.jl
  test/compiler/irpasses.jl
Labels: backport 1.11

#54784 boot.jl: Remove duplicated definition
  base/boot.jl
Labels: status:merge me

#54755 [TOML] remove Dates hack, replace with explicit usage
  base/toml_parser.jl
  stdlib/Dates/src/types.jl
  stdlib/TOML/Project.toml
  stdlib/TOML/src/TOML.jl
  stdlib/TOML/src/print.jl
Labels: backport 1.11

#54763 Fix missing `copyto!` methods for triangular matrix types
  stdlib/LinearAlgebra/src/triangular.jl
  stdlib/LinearAlgebra/test/triangular.jl
Labels: domain:linear algebra, domain:arrays

#54775 Don't try `cholesky` for `Hermitian` in `factorize`
  stdlib/LinearAlgebra/src/dense.jl
  stdlib/LinearAlgebra/test/cholesky.jl
Labels: domain:linear algebra

#53528 Enable full RELRO on linux
  Make.inc
Labels: domain:building, system:linux, status:merge me

#54779 make recommendation clearer on manifest version mismatch
  base/loading.jl
Labels: domain:error messages, backport 1.10, backport 1.11

#54791 Bump libblastrampoline to v5.10.1
  deps/blastrampoline.version
  deps/checksums/blastrampoline
  stdlib/libblastrampoline_jll/Project.toml
Labels: domain:building, external dependencies, stdlib:JLLs

#54735 Handle generic numbers in generic pivoted cholesky correctly
  stdlib/LinearAlgebra/src/cholesky.jl
  stdlib/LinearAlgebra/src/special.jl
  stdlib/LinearAlgebra/src/symmetric.jl
  stdlib/LinearAlgebra/src/tridiag.jl
  stdlib/LinearAlgebra/test/cholesky.jl
  test/testhelpers/Quaternions.jl
Labels: domain:linear algebra, status:merge me

#54798 minor follow up on #54681
  base/docs/basedocs.jl
Labels: domain:docs

#54709 inference: allocate CodeInstance with inference results ASAP
  base/boot.jl
  base/compiler/compiler.jl
  base/compiler/typeinfer.jl
  src/codegen.cpp
  src/gf.c
  src/jltypes.c
  src/julia.h
  src/julia_internal.h
  src/opaque_closure.c
  src/toplevel.c
  test/compiler/EscapeAnalysis/EAUtils.jl
  test/core.jl
  test/precompile.jl
Labels: compiler:inference, kind:don't squash

#54796 Update libunwind to 1.8.1
  deps/checksums/unwind
  deps/patches/libunwind-aarch64-inline-asm.patch
  deps/patches/libunwind-configure-static-lzma.patch
  deps/patches/libunwind-revert_prelink_unwind.patch
  deps/unwind.mk
  deps/unwind.version
  stdlib/LibUnwind_jll/Project.toml
  stdlib/Manifest.toml
Labels: domain:building, external dependencies, stdlib:JLLs

#54795 REPL: fix projname when project_file is missing
  stdlib/REPL/src/Pkg_beforeload.jl
  stdlib/REPL/test/repl.jl
Labels: backport 1.11

#54662 add `--trace-compile-timing` arg to add compile timing comments
  NEWS.md
  base/options.jl
  doc/man/julia.1
  doc/src/manual/command-line-interface.md
  src/gf.c
  src/jloptions.c
  src/jloptions.h
  test/cmdlineargs.jl
Labels: status:merge me, profiler, domain:tooling

#54809 FieldError shim to avoid breaks in tests
  stdlib/Test/src/Test.jl
  stdlib/Test/test/runtests.jl
Labels: testsystem, needs pkgeval

#54804 MinGW: Use correct `format` specifier
  src/julia.h
  src/signals-win.c
  src/support/utf8.c
Labels: domain:building, system:windows

#53672 Add openlibm to sysimg link line on windows
  sysimage.mk
Labels: domain:building, system:windows

#54837 Do not add type tag size to the `alloc_typed` lowering for GC allocations
  src/julia_internal.h
  src/llvm-final-gc-lowering.cpp
  test/llvmpasses/final-lower-gc.ll
Labels: backport 1.10, backport 1.11

#54322 effects: add new `@consistent_overlay` macro
  base/boot.jl
  base/compiler/abstractinterpretation.jl
  base/compiler/compiler.jl
  base/compiler/effects.jl
  base/compiler/inferencestate.jl
  base/compiler/ssair/show.jl
  base/compiler/typeinfer.jl
  base/essentials.jl
  base/experimental.jl
  base/expr.jl
  src/julia.h
  src/method.c
  test/compiler/AbstractInterpreter.jl
  test/namedtuple.jl
Labels: backport 1.11

#54815 add sticky task warning to `@task` and `schedule`
  base/docs/basedocs.jl
  base/task.jl
Labels: domain:docs, domain:multithreading, backport 1.10, backport 1.11

#54834 Add UUID version 7
  NEWS.md
  stdlib/UUIDs/src/UUIDs.jl
  stdlib/UUIDs/test/runtests.jl
Labels: stdlib, kind:feature

#54785 REPL: spawn prompt! to avoid blocking typing, fix pkg repl transition sequencing
  stdlib/REPL/src/LineEdit.jl
Labels: stdlib:REPL, backport 1.11

#54073 Artifacts: Change Dict{AbstractPlatform} to Dict{Platform} to reduce Pkg invalidations
  stdlib/Artifacts/src/Artifacts.jl
Labels: backport 1.11

#54852 Reformulate/extend `PivotingStrategy`s docstrings
  stdlib/LinearAlgebra/src/LinearAlgebra.jl
Labels: domain:docs, domain:linear algebra

#54858 REPLCompletions: limit binding completions for explicitly specified modules
  stdlib/REPL/src/REPLCompletions.jl
  stdlib/REPL/test/replcompletions.jl
Labels: stdlib:REPL

#54865 REPL.prompt!: don't use Char peek
  stdlib/REPL/src/LineEdit.jl
Labels: stdlib:REPL

#54853 Remove references to non opaque pointers in codegen and LLVM passes
  src/ccall.cpp
  src/cgutils.cpp
  src/codegen.cpp
  src/intrinsics.cpp
  src/jitlayers.cpp
  src/llvm-alloc-opt.cpp
  src/llvm-codegen-shared.h
  src/llvm-final-gc-lowering.cpp
  src/llvm-julia-licm.cpp
  src/llvm-late-gc-lowering.cpp
  src/llvm-lower-handlers.cpp
  src/llvm-pass-helpers.cpp
  src/llvm-ptls.cpp
  src/llvm-remove-addrspaces.cpp
Labels: compiler:llvm

#54864 Revert "Move GC to its own directory and library"
  Makefile
  src/Makefile
  src/gc-debug.c
  src/gc-page-profiler.c
  src/gc-page-profiler.h
  src/gc-pages.c
  src/gc-stacks.c
  src/gc.c
  src/gc.h
  src/gc/.gitignore
  src/gc/Makefile
  src/julia_gcext.h
Labels: status:merge me

#53286 Raise an error when using `include_dependency` with non-existent file or directory
  base/loading.jl
  test/loading.jl
  test/precompile.jl
Labels: compiler:precompilation, status:merge me, backport 1.11

#54659 reflection: refine and accurately define the options for `names`
  base/docs/Docs.jl
  base/reflection.jl
  base/summarysize.jl
  src/module.c
  stdlib/InteractiveUtils/src/InteractiveUtils.jl
  stdlib/REPL/src/REPLCompletions.jl
  stdlib/REPL/src/docview.jl
  stdlib/Test/src/Test.jl
  test/reflection.jl
Labels: modules

#54739 finish implementation of upgradable stdlibs
  base/Base.jl
  base/loading.jl
  test/precompile.jl
Labels: status:merge me, backport 1.11

#54844 Add docstring for inference barrier.
  base/essentials.jl
Labels: domain:docs, status:merge me

#54876 `nextind`, `prevind` doc strings: correct the Markdown
  base/tuple.jl
Labels: domain:docs, backport 1.11

#54738 serialization: fix relocatability bug
  src/staticdata.c
  src/staticdata_utils.c
  test/precompile.jl
Labels: status:merge me, backport 1.10, backport 1.11

#54816 implement "engine" for managing inference/codegen
  base/compiler/typeinfer.jl
  base/compiler/types.jl
  doc/src/devdocs/locks.md
  src/Makefile
  src/aotcompile.cpp
  src/codegen.cpp
  src/engine.cpp
  src/gc-stacks.c
  src/gc.c
  src/gc.h
  src/gf.c
  src/jl_exported_funcs.inc
  src/jltypes.c
  src/julia.h
  src/julia_gcext.h
  src/julia_internal.h
  src/julia_threads.h
  src/method.c
  src/toplevel.c
Labels: compiler:codegen, kind:bugfix, compiler:inference, status:merge me

#54896 mark failing double counting test as broken on i686-linux
  test/misc.jl
Labels: system:linux, system:32-bit, status:merge me, backport 1.11

#54897 skip compileall test on all 32-bit
  test/compileall.jl
Labels: system:32-bit, status:merge me, backport 1.11

#54773 lowering: Refactor lowering for const and typed globals
  base/docs/basedocs.jl
  doc/src/devdocs/builtins.md
  src/ast.c
  src/builtin_proto.h
  src/builtins.c
  src/codegen.cpp
  src/interpreter.c
  src/julia-syntax.scm
  src/julia.h
  src/julia_internal.h
  src/staticdata.c
  src/toplevel.c
  test/core.jl
  test/precompile.jl
  test/syntax.jl
Labels: compiler:lowering

#54856 Follow up #54772 - don't accidentally put `Module` into method name slot
  src/julia-syntax.scm
  test/syntax.jl
Labels: status:merge me

#54891 #54739-related fixes for loading stdlibs
  base/loading.jl
Labels: domain:packages, kind:don't squash, backport 1.11

#54901 Print binary sizes of more libraries in `build-stats` target
  Makefile
Labels: domain:building

#54924 set VERSION to 1.11.0-rc1
  VERSION
Labels: kind:release

#54928 Aggressive constprop in mapslices
  base/abstractarray.jl
  test/arrayops.jl
Labels: performance, domain:arrays, compiler:inference

#54926 Aggressive constprop in the PermutedDimsArray constructor
  base/permuteddimsarray.jl
  test/abstractarray.jl
Labels: domain:arrays, compiler:inference

#54934 fix effects for Float64^Int on 32 bit
  base/math.jl
  test/math.jl
Labels: system:32-bit, compiler:effects

#54939 Update noteworthy-differences.md
  doc/src/manual/noteworthy-differences.md
Labels: domain:docs

#54387 add mechanism for configuring system image builds
  base/Base.jl
  base/compiler/compiler.jl
  base/compiler/types.jl
  base/cpuid.jl
  base/filesystem.jl
  base/libc.jl
  base/libuv.jl
  base/pcre.jl
  base/sysimg.jl
Labels: domain:building

#54949 remove stale realloc_string function since we no longer use it
  src/gc.c
  src/julia_internal.h
Labels: domain:arrays, GC

#54946 remove a bunch of bit unnecessary bit clearing in bigval's sz field
  src/gc.c
Labels: GC, status:merge me

#54882 Fixed diagonal matrix eigen decomposition to return eigenvectors as diagonal matrix
  stdlib/LinearAlgebra/src/diagonal.jl
Labels: domain:linear algebra, status:merge me

#54950 SuiteSparse: Bump version
  deps/checksums/SuiteSparse-e8285dd13a6d5b5cf52d8124793fc4d622d07554.tar.gz/md5
  deps/checksums/SuiteSparse-e8285dd13a6d5b5cf52d8124793fc4d622d07554.tar.gz/sha512
  deps/checksums/suitesparse
  deps/libsuitesparse.version
  stdlib/Manifest.toml
  stdlib/SuiteSparse_jll/Project.toml
Labels: stdlib, backport 1.11

#54593 Add optimised findall(isequal(::Char), ::String)
  base/strings/search.jl
  test/strings/search.jl
Labels: performance, domain:strings, domain:search & find, status:awaiting review

#54959 Revert "reflection: refine and accurately define the options for `names`"
  base/docs/Docs.jl
  base/reflection.jl
  base/summarysize.jl
  src/module.c
  stdlib/InteractiveUtils/src/InteractiveUtils.jl
  stdlib/REPL/src/REPLCompletions.jl
  stdlib/REPL/src/docview.jl
  stdlib/Test/src/Test.jl
  test/reflection.jl
Labels: kind:revert

#54951 Reduce branches in 2x2 and 3x3 stable_muladdmul for standard cases
  stdlib/LinearAlgebra/src/generic.jl
  stdlib/LinearAlgebra/src/matmul.jl
Labels: domain:linear algebra, compiler:latency

#54952 LAPACK: Avoid repr call in `chkvalidparam`
  stdlib/LinearAlgebra/src/lapack.jl
Labels: domain:linear algebra, compiler:inference, backport 1.11

#54961 simplify handling of buffered pages
  src/gc.c
  src/gc.h
  src/julia_threads.h
Labels: GC

#54967 [release-1.10] fix a race condition in jl_gc_realloc_string
  src/gc.c
Labels: GC, kind:bugfix

#54976 address a TODO in gc_sweep_page (i.e. save an unnecessary fetch-add)
  src/gc.c
Labels: GC
