Repository JuliaLang/julia, pull requests merged in 2024-01, with the labels that each got.

#52196 Add `@create_log_macro` for making custom styled logging macros
  NEWS.md
  base/logging.jl
  stdlib/Logging/docs/src/index.md
  stdlib/Logging/src/ConsoleLogger.jl
  stdlib/Logging/src/Logging.jl
  stdlib/Logging/test/runtests.jl
Labels: logging, feature, merge me

#52678 Profile: Improve module docstring
  stdlib/Profile/src/Profile.jl
Labels: profiler

#52538 Fix docs for Sockets.getaddrinfo()
  stdlib/Sockets/src/addrinfo.jl
Labels: doc

#52497 syntax: properly linearize type-for-closure code
  src/julia-syntax.scm
Labels: lowering

#52357 Mention `@lock` in `lock(f, l)` docstring
  base/lock.jl
Labels: doc

#52692 THIRDPARTY: Consider `base/` and `stdlib/` as standard libraries
  THIRDPARTY.md
  julia.spdx.json
Labels: doc

#52691 README: minor polish
  Makefile
  README.md
  contrib/write_base_cache.jl
Labels: doc

#52653 Test BracketedSort on fully pathological inputs
  test/sorting.jl
Labels: test, sort

#52714 Fix whitespace in README.md
  README.md
Labels: ci, merge me

#52566 Replace most occurances of http with https when the https url is valid
  CONTRIBUTING.md
  HISTORY.md
  Make.inc
  Makefile
  base/compiler/sort.jl
  base/fastmath.jl
  base/math.jl
  base/sort.jl
  base/special/cbrt.jl
  deps/patches/llvm-libunwind-freebsd-libgcc-api-compat.patch
  doc/src/assets/cover.tex
  doc/src/assets/custom.sty
  src/crc32c.c
  src/debuginfo.cpp
  src/disasm.cpp
  src/flisp/compiler.lsp
  src/mach_excServer.c
  src/signals-mach.c
  src/support/platform.h
  src/support/strptime.c
  stdlib/Dates/docs/src/index.md
  stdlib/Dates/test/accessors.jl
  stdlib/Dates/test/io.jl
  stdlib/LinearAlgebra/docs/src/index.md
  stdlib/LinearAlgebra/src/bitarray.jl
  stdlib/LinearAlgebra/src/blas.jl
  stdlib/LinearAlgebra/src/bunchkaufman.jl
  stdlib/LinearAlgebra/src/svd.jl
  stdlib/Markdown/docs/src/index.md
  stdlib/REPL/src/latex_symbols.jl
  stdlib/Random/src/Xoshiro.jl
  stdlib/Random/src/generation.jl
  stdlib/Random/src/normal.jl
  stdlib/Sockets/src/IPAddr.jl
  stdlib/Unicode/test/runtests.jl
  test/euler.jl
  test/file.jl
  test/mod2pi.jl
Labels: security

#52695 Print type signature for what was inferring whenever an error is thrown
  src/gf.c
Labels: merge me

#52721 inference: Guard TypeVar special case against vararg
  base/compiler/abstractinterpretation.jl
  test/compiler/inference.jl
Labels: merge me, backport 1.10

#52324 add doxygen for exported functions in jlapi.c
  src/jl_uv.c
  src/jlapi.c
Labels: doc

#52722 remove method file names with `--strip-metadata`
  src/staticdata.c
Labels: merge me

#52743 expand Docs.undocumented_names to include all public symbols
  NEWS.md
  base/docs/Docs.jl
  test/docs.jl
Labels: docsystem, merge me

#52720 Properly rename EnterNode scope after code coverage insertion
  base/compiler/optimize.jl
  src/codegen.cpp
Labels: merge me

#52736 Generalize `broadcast!(f, ::BitVector)` optimization to `BitArray`.
  base/broadcast.jl
  test/broadcast.jl
Labels: performance, broadcast

#52718 Fix quotes in the docstring of `copytrito!`
  stdlib/LinearAlgebra/src/generic.jl
Labels: doc, linear algebra

#52737 remove very old error hint from using `.data` field on a String
  base/errorshow.jl
Labels: merge me, error messages

#52733 Docstring for Markdown.html and Markdown.latex
  stdlib/Markdown/src/render/html.jl
  stdlib/Markdown/src/render/latex.jl
Labels: doc, merge me, markdown

#52491 Fix printing of `InexactError` for `Inf16` arg and similar
  base/errorshow.jl
  test/errorshow.jl
Labels: merge me

#52637 fix finding bundled stdlibs even if they are e.g. devved in an environment higher in the load path
  base/loading.jl
Labels: packages, backport 1.10

#52752 staticdata: handle cycles in datatypes
  src/staticdata.c
  src/staticdata_utils.c
  test/precompile.jl
Labels: precompile, bugfix, backport 1.10

#52748 Use `jl_types_egal` in `equiv_field_types`
  src/builtins.c
  test/core.jl
Labels: merge me, backport 1.10

#52762 [OpenBLAS] Ugrade to v0.3.26
  deps/checksums/openblas
  deps/openblas.version
  stdlib/OpenBLAS_jll/Project.toml
Labels: build, external dependencies, stdlib JLLs

#52770 [doc] Fix format string of `printf` in `@ccall` example
  doc/src/manual/calling-c-and-fortran-code.md
Labels: doc

#52775 Revert "Generalize `broadcast!(f, ::BitVector)` optimization to `BitArray`."
  base/broadcast.jl
  test/broadcast.jl
Labels: revert

#52577 [SuiteSparse_jll] Update to v7.4.0
  Makefile
  base/Makefile
  deps/checksums/SparseArrays-f890a1e13fc04c295cec48a9b08b76c6e1a7039a.tar.gz/md5
  deps/checksums/SparseArrays-f890a1e13fc04c295cec48a9b08b76c6e1a7039a.tar.gz/sha512
  deps/checksums/SparseArrays-feb54ee5e49008bd157227099cafe604a67c36fb.tar.gz/md5
  deps/checksums/SparseArrays-feb54ee5e49008bd157227099cafe604a67c36fb.tar.gz/sha512
  deps/checksums/suitesparse
  deps/libsuitesparse.mk
  deps/libsuitesparse.version
  deps/patches/suitesparse-blas-suffix.patch
  stdlib/SparseArrays.version
  stdlib/SuiteSparse_jll/Project.toml
  stdlib/SuiteSparse_jll/src/SuiteSparse_jll.jl
Labels: build, sparse, external dependencies, stdlib JLLs

#52606 [Markdown] added doc string for @md_str string literal
  stdlib/Markdown/docs/src/index.md
  stdlib/Markdown/src/Markdown.jl
  stdlib/Markdown/src/parse/parse.jl
Labels: doc, merge me, markdown

#49546 RFC: Methods for `eigen` on complex hermitian tridiagonal matrices
  NEWS.md
  stdlib/LinearAlgebra/src/symmetriceigen.jl
  stdlib/LinearAlgebra/test/eigen.jl
Labels: performance, linear algebra

#52778 Fix variable naming confusion in `warn_if_already_loaded_different()`
  base/loading.jl
Labels: merge me

#52782 Fix `MethodError` when warning about a toplevel module
  base/loading.jl
Labels: merge me

#52464 Disambiguate structured and abstract matrix multiplication
  stdlib/LinearAlgebra/src/LinearAlgebra.jl
  stdlib/LinearAlgebra/src/bidiag.jl
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/LinearAlgebra/src/hessenberg.jl
  stdlib/LinearAlgebra/src/matmul.jl
  stdlib/LinearAlgebra/src/triangular.jl
  stdlib/LinearAlgebra/test/diagonal.jl
  stdlib/LinearAlgebra/test/triangular.jl
  test/testhelpers/SizedArrays.jl
Labels: linear algebra, arrays, merge me

#52776 Reland "Generalize broadcast!(f, ::BitVector) optimization to `BitArray`." (#52736)
  base/broadcast.jl
  test/broadcast.jl
Labels: re-land

#52786 Update performance-tips.md with JET.jl instead of Traceur.jl
  doc/src/manual/performance-tips.md
Labels: doc, merge me

#52670 REPL: make alt-m on an empty prompt go to previous module
  NEWS.md
  stdlib/REPL/docs/src/index.md
  stdlib/REPL/src/LineEdit.jl
Labels: merge me

#44407 Use `ismissing(x)` instead of `x === missing`
  base/missing.jl
  test/missing.jl
Labels: missing data

#52768 improve AbstractPipe docs and IOContext handling as an AbstractPipe
  base/errorshow.jl
  base/io.jl
  base/show.jl
  base/stream.jl
Labels: I/O, merge me

#52738 Preserve eltype in converting `Symmetric` to `Matrix`
  stdlib/LinearAlgebra/src/symmetric.jl
  stdlib/LinearAlgebra/test/symmetric.jl
Labels: linear algebra, arrays

#52750 Allow `include()` and `include_dependency()` files to resolve to different depots
  base/loading.jl
  test/Makefile
  test/precompile.jl
  test/relocatedepot.jl
Labels: precompile

#52758 use a Dict instead of an IdDict for caching of the `cwstring` for Windows env variables
  base/env.jl
Labels: backport 1.10

#52759 Improve type stability in Artifacts code
  base/parse.jl
  stdlib/Artifacts/src/Artifacts.jl
Labels: latency

#52781 fix type-stability bugs in Ryu code
  base/ryu/exp.jl
  stdlib/Printf/test/runtests.jl
Labels: bugfix, display and printing, merge me, backport 1.10

#52814 Do not let `public` unexport names
  src/module.c
  test/reflection.jl
Labels: bugfix, merge me

#52802 Widen eltype in complex hermitian tridiagonal eigen
  stdlib/LinearAlgebra/src/symmetriceigen.jl
  stdlib/LinearAlgebra/test/symmetriceigen.jl
Labels: linear algebra, merge me

#52716 add an error hint for min/max on an iterable
  base/errorshow.jl
  test/errorshow.jl
Labels: error messages

#52761 [RFC:] Docstring for Unicode module
  stdlib/Unicode/docs/src/index.md
  stdlib/Unicode/src/Unicode.jl
Labels: doc, merge me

#51720 Bump Julia to LLVM 16
  Make.inc
  deps/checksums/clang
  deps/checksums/lld
  deps/checksums/llvm
  deps/clang.version
  deps/lld.version
  deps/llvm-tools.version
  deps/llvm.mk
  deps/llvm.version
  src/Makefile
  src/aotcompile.cpp
  src/cgutils.cpp
  src/clangsa/GCChecker.cpp
  src/codegen.cpp
  src/jitlayers.cpp
  src/jitlayers.h
  src/julia.h
  src/llvm-pass-helpers.cpp
  src/llvm-version.h
  src/pipeline.cpp
  src/processor.h
  src/processor_fallback.cpp
  src/processor_x86.cpp
  src/runtime_intrinsics.c
  src/support/win32-clang-ABI-bug/optional
  stdlib/LLD_jll/Project.toml
  stdlib/libLLVM_jll/Project.toml
  test/clangsa/MissingRoots.c
  test/compiler/codegen.jl
  test/llvmpasses/julia-simdloop-memoryssa.ll
  test/llvmpasses/names.jl
  test/llvmpasses/safepoint_stress.jl
Labels: build, external dependencies, merge me, stdlib JLLs, llvm

#52826 Remove 3-term mul! methods involving AbstractTriangular
  stdlib/LinearAlgebra/src/triangular.jl
Labels: linear algebra

#52840 Add indirection to inplace matrix scaling
  stdlib/LinearAlgebra/src/generic.jl
  stdlib/LinearAlgebra/src/triangular.jl
Labels: linear algebra

#52837 Disambiguate mul! for matvec and matmat through indirection
  NEWS.md
  stdlib/LinearAlgebra/src/bidiag.jl
  stdlib/LinearAlgebra/src/matmul.jl
  stdlib/LinearAlgebra/src/special.jl
  stdlib/LinearAlgebra/src/triangular.jl
  stdlib/LinearAlgebra/test/bidiag.jl
  stdlib/LinearAlgebra/test/diagonal.jl
  stdlib/LinearAlgebra/test/triangular.jl
  test/testhelpers/SizedArrays.jl
Labels: linear algebra, arrays, merge me

#52855 Fix variable name in scaling an `AbstractTriangular` with zero alpha
  stdlib/LinearAlgebra/src/triangular.jl
  stdlib/LinearAlgebra/test/triangular.jl
Labels: linear algebra, embarrassing-bugfix, backport 1.10

#52744 Precision of language in `names` docstring
  base/reflection.jl
Labels: doc

#52853 Fix inconsistency between exct and nothrow effect
  base/compiler/abstractinterpretation.jl
Labels: bugfix, effects

#52863 ir: Don't accidentally consider pending statements from previous block
  base/compiler/ssair/ir.jl
  test/compiler/irpasses.jl
Labels: bugfix

#52783 REPL: Fix precompilation and add tests
  base/loading.jl
  contrib/generate_precompile.jl
  src/gf.c
  src/jl_exported_funcs.inc
  stdlib/REPL/src/REPL.jl
  stdlib/REPL/src/precompile.jl
  stdlib/REPL/test/precompilation.jl
  stdlib/REPL/test/runtests.jl
Labels: merge me

#52881 show UUID as Base.UUID(...) when not imported
  base/uuid.jl
  test/misc.jl
Labels: display and printing

#52845 fix typo in cis docs
  base/complex.jl
Labels: doc, maths

#52820 Do not hide libssp.dll.a (Windows import library) in private library dir
  deps/csl.mk
Labels: build, windows

#49958 Use `similar` in `empty`
  base/abstractarray.jl
  test/abstractarray.jl
  test/testhelpers/StructArrays.jl
Labels: arrays

#52893 REPLCompletions: PATH caching tweaks
  stdlib/REPL/src/REPLCompletions.jl
  stdlib/REPL/test/replcompletions.jl
Labels: merge me

#52723 add tests for undocumented symbols
  base/docs/Docs.jl
  base/libc.jl
  stdlib/Artifacts/test/runtests.jl
  stdlib/Base64/test/runtests.jl
  stdlib/CRC32c/test/runtests.jl
  stdlib/Dates/test/runtests.jl
  stdlib/FileWatching/test/runtests.jl
  stdlib/Future/test/runtests.jl
  stdlib/InteractiveUtils/test/runtests.jl
  stdlib/LibGit2/test/runtests.jl
  stdlib/Libdl/test/runtests.jl
  stdlib/LinearAlgebra/test/runtests.jl
  stdlib/Logging/test/runtests.jl
  stdlib/Markdown/test/runtests.jl
  stdlib/Mmap/test/runtests.jl
  stdlib/Printf/test/runtests.jl
  stdlib/Profile/test/runtests.jl
  stdlib/REPL/src/docview.jl
  stdlib/REPL/test/repl.jl
  stdlib/Random/test/runtests.jl
  stdlib/Serialization/test/runtests.jl
  stdlib/SharedArrays/test/runtests.jl
  stdlib/Sockets/test/runtests.jl
  stdlib/TOML/test/runtests.jl
  stdlib/Test/test/runtests.jl
  stdlib/UUIDs/test/runtests.jl
  stdlib/Unicode/test/runtests.jl
  test/broadcast.jl
  test/checked.jl
  test/docs.jl
  test/filesystem.jl
  test/gc.jl
  test/iterators.jl
  test/math.jl
  test/meta.jl
  test/misc.jl
  test/ordering.jl
  test/sorting.jl
  test/stacktraces.jl
  test/sysinfo.jl
  test/threads.jl
Labels: doc, test, merge me

#52834 Add docstring for TOML stdlib module
  base/docs/temp.cpp
  base/toml_parser.jl
  stdlib/TOML/src/TOML.jl
  stdlib/TOML/test/runtests.jl
Labels: doc, stdlib, merge me

#52836 inference: always bail out const-prop' with non-const result limited
  base/compiler/abstractinterpretation.jl
  test/compiler/inference.jl
Labels: REPL, bugfix, inference

#51375 Insert hardcoded backlinks to stdlib doc pages
  stdlib/Artifacts/docs/src/index.md
  stdlib/Base64/docs/src/index.md
  stdlib/CRC32c/docs/src/index.md
  stdlib/FileWatching/docs/src/index.md
  stdlib/Future/docs/src/index.md
  stdlib/InteractiveUtils/docs/src/index.md
  stdlib/LibGit2/docs/src/index.md
  stdlib/Libdl/docs/src/index.md
  stdlib/LinearAlgebra/docs/src/index.md
  stdlib/Logging/docs/src/index.md
  stdlib/Markdown/docs/src/index.md
  stdlib/Mmap/docs/src/index.md
  stdlib/Printf/docs/src/index.md
  stdlib/Profile/docs/src/index.md
  stdlib/REPL/docs/src/index.md
  stdlib/Random/docs/src/index.md
  stdlib/Serialization/docs/src/index.md
  stdlib/SharedArrays/docs/src/index.md
  stdlib/Sockets/docs/src/index.md
  stdlib/TOML/docs/src/index.md
  stdlib/Test/docs/src/index.md
  stdlib/UUIDs/docs/src/index.md
  stdlib/Unicode/docs/src/index.md
Labels: doc, stdlib, backport 1.10

#52928 [OpenBLAS_jll] Use new build compiled with GCC 11
  deps/checksums/openblas
  stdlib/OpenBLAS_jll/Project.toml
Labels: build, external dependencies, stdlib JLLs

#52924 Fix `widen_diagonal` bug for nested `UnionAll`
  src/subtype.c
  test/core.jl
Labels: embarrassing-bugfix, backport 1.10

#52939 doc: fix typos, Markdown, language in the Manual section on `Main.main`
  doc/src/manual/command-line-interface.md
Labels: doc

#52708 Make `hasdoc` public
  base/docs/Docs.jl
Labels: docsystem, merge me

#52631 remove single-argument methods for `map`, `foreach`, `Iterators.map`
  NEWS.md
  base/abstractarray.jl
  base/iterators.jl
  base/tuple.jl
  stdlib/LinearAlgebra/src/adjtrans.jl
  test/abstractarray.jl
  test/functional.jl
  test/iterators.jl
Labels: minor change, merge me

#52959 fixup! #52953, follow up the refactor on REPLCompletions.jl
  stdlib/REPL/src/REPLCompletions.jl
  stdlib/REPL/test/repl.jl
Labels: embarrassing-bugfix

#52952 [REPLCompletions] enable completions for `using Module.Inner|`
  stdlib/REPL/src/REPLCompletions.jl
  stdlib/REPL/test/replcompletions.jl
Labels: backport 1.10

#52791 Documentation for "Printf" Module
  stdlib/Printf/docs/src/index.md
  stdlib/Printf/src/Printf.jl
  stdlib/Printf/test/runtests.jl
Labels: doc, merge me

#52936 Sys.SC_CLK_TCK value on windows
  src/sys.c
Labels: windows, merge me

#52777 add missing docstrings for Base.Sys
  base/sysinfo.jl
  test/sysinfo.jl
Labels: doc, merge me

#52962 NFC: move memory pressure callback declaration to julia_gcext.h
  src/gc.c
  src/julia_gcext.h
Labels: GC

#52396 Add detection for apple m2 and m3 cpus, and cleanup code
  src/processor_arm.cpp
Labels: merge me, apple silicon

#52984 check for ptls == NULL in a few places in the GC codebase
  src/gc.c
Labels: GC

#51593 Add note to `names` docstring about not implying isdefined
  base/reflection.jl
Labels: doc

#52955 Add general fallback for rem2pi
  base/math.jl
  test/numbers.jl
Labels: maths, merge me

#52943 reduce contention on page metadata lists during the sweeping phase
  src/gc.c
  src/gc.h
  src/scheduler.c
Labels: GC

#52995 Explicitly document how to add docstrings for inner constructors
  doc/src/manual/documentation.md
Labels: doc

#52994 place work-stealing queue indices on different cache lines to avoid false-sharing
  src/work-stealing-queue.h
Labels: GC, backport 1.10

#52910 Base: prevent `precision` infinite recursion
  base/float.jl
  base/mpfr.jl
  test/numbers.jl
Labels: bugfix

#52912 Make empty `Dict` only have space for 0 rather than 16 elements (and the minimum size for non-empty `Dict` down to 4).
  base/dict.jl
Labels: performance

#53010 [nghttp2_jll] Update to v1.59.0
  deps/checksums/nghttp2
  deps/nghttp2.version
  stdlib/nghttp2_jll/Project.toml
  stdlib/nghttp2_jll/test/runtests.jl
Labels: build, external dependencies, stdlib JLLs

#53032 Fix a list in GC devdocs
  doc/src/devdocs/gc.md
Labels: backport 1.10

#52996 Apple silicon has 128 byte alignment so fix our defines to match
  src/julia_internal.h
Labels: backport 1.10

#52078 Replace `&hArr;` by `&harr;` in documentation
  doc/src/manual/noteworthy-differences.md
Labels: doc, backport 1.10

#51810 Introduce new syntax highlighting stdlib
  NEWS.md
  deps/checksums/JuliaSyntaxHighlighting-4110caaf4fcdf0c614fd3ecd7c5bf589ca82ac63.tar.gz/md5
  deps/checksums/JuliaSyntaxHighlighting-4110caaf4fcdf0c614fd3ecd7c5bf589ca82ac63.tar.gz/sha512
  pkgimage.mk
  stdlib/.gitignore
  stdlib/JuliaSyntaxHighlighting.version
  stdlib/Makefile
  stdlib/stdlib.mk
Labels: display and printing, stdlib, feature, awaiting review

#53035 use proper cache-line size variable in work-stealing queue
  src/julia_atomics.h
  src/julia_internal.h
  src/work-stealing-queue.h
Labels: backport 1.10

#51647 Add GC.logging_enabled()
  NEWS.md
  base/gcutils.jl
  doc/src/base/base.md
  src/gc-debug.c
  src/gc.h
  test/misc.jl
Labels: GC

#51806 Make concatenation of SubString{AnnotatedString} preserve annotations
  base/strings/basic.jl
  base/strings/io.jl
  base/strings/substring.jl
  base/strings/util.jl
  test/strings/annotated.jl
Labels: strings

#52528 Don't access uninitialized indices in `tril!`/`triu!` for numeric arrays
  stdlib/LinearAlgebra/src/dense.jl
  stdlib/LinearAlgebra/test/triangular.jl
Labels: linear algebra, arrays

#53044 fix cache line size of PPC7+
  src/julia_atomics.h
Labels: merge me

#53030 Avoid `StackOverflowError` in generic recursive `dot`
  stdlib/LinearAlgebra/src/generic.jl
  stdlib/LinearAlgebra/test/generic.jl
Labels: linear algebra

#53050 Symlink lld and dsymutil in correct build_depsbindir when `USE_SYSTEM_LLD=1`
  base/Makefile
Labels: build

#53055 Profile: use full terminal cols to show function name
  stdlib/Profile/src/Profile.jl
Labels: merge me, profiler, backport 1.10

#52530 Fix indexing triangular matrices with `undef` elements in the parent
  stdlib/LinearAlgebra/src/triangular.jl
  stdlib/LinearAlgebra/test/triangular.jl
Labels: linear algebra, arrays

#53034 Subtype: Fix some diagonal rule related false alarm
  src/jltypes.c
  src/julia.h
  src/subtype.c
  test/core.jl
  test/subtype.jl
Labels: types and dispatch

#53059 [OpenBLAS_jll] Update to new build with BFloat16 kernels
  deps/checksums/openblas
  deps/openblas.mk
  deps/patches/neoverse-generic-kernels.patch
  deps/patches/openblas-avx512bf-kernels.patch
  deps/patches/openblas-darwin-sve.patch
  deps/patches/openblas-gemv-multithreading.patch
  deps/patches/openblas-ofast-power.patch
  stdlib/LinearAlgebra/test/blas.jl
  stdlib/OpenBLAS_jll/Project.toml
Labels: build, linear algebra, external dependencies, stdlib JLLs

#52381 Improve type inference for `@something`
  base/some.jl
Labels: inference

#53047 doc: fix some missing xrefs in collections.md
  doc/src/base/collections.md
Labels: doc, merge me

#52807 clarify documentation of do-block syntax
  doc/src/manual/functions.md
Labels: doc, merge me

#53078 Subtype: fix mis-usage of `simple_subtype(2)`
  src/jltypes.c
Labels: embarrassing-bugfix

#52914 Add docstring for Dates.adjust
  stdlib/Dates/src/adjusters.jl
  stdlib/Dates/test/runtests.jl
Labels: dates, merge me

#53027 Don't export Dates.adjust
  NEWS.md
  stdlib/Dates/src/Dates.jl
Labels: dates, merge me

#52997 methods: add a lock around method table changes
  src/aotcompile.cpp
  src/clangsa/GCChecker.cpp
  src/codegen.cpp
  src/gc.c
  src/gf.c
  src/ircode.c
  src/jitlayers.cpp
  src/jltypes.c
  src/julia.h
  src/julia_internal.h
  src/method.c
  src/module.c
  src/opaque_closure.c
  src/options.h
  src/staticdata.c
  src/staticdata_utils.c
  src/toplevel.c
  src/typemap.c
  stdlib/Serialization/src/Serialization.jl
  test/core.jl
  test/precompile.jl
Labels: multithreading, merge me

#52838 Added reference to UnionAll manual for UnionAll docstrings.
  base/docs/basedocs.jl
Labels: doc, merge me

#52625 Document that findnext(f,x,i) and findprev(f,x,i) work for strings.
  base/array.jl
Labels: doc, strings, search & find

#52658 Document the generic functions nextind() and prevind()
  base/tuple.jl
  doc/src/base/arrays.md
  doc/src/base/strings.md
Labels: doc, arrays, merge me

#53089 Revert "Don't export Dates.adjust"
  NEWS.md
  stdlib/Dates/src/Dates.jl
Labels: merge me, revert, semantic conflict

#53066 doc: replace harr HTML entity by unicode
  doc/src/manual/noteworthy-differences.md
Labels: doc, backport 1.10

#53076 1.10: inlining: fix `joint_effects` calculation
  base/compiler/ssair/inlining.jl
  test/compiler/inline.jl
Labels: bugfix

#53094 Drop support for LLVM 14
  src/cgutils.cpp
  src/codegen.cpp
  src/disasm.cpp
  src/jitlayers.cpp
  src/jitlayers.h
  src/pipeline.cpp
Labels: llvm

#52841 Extensions: make loading of extensions independent of what packages are in the sysimage
  base/Base.jl
  base/loading.jl
  test/loading.jl
  test/project/Extensions/HasDepWithExtensions.jl/Manifest.toml
  test/project/Extensions/HasExtensions.jl/Project.toml
  test/project/Extensions/HasExtensions.jl/ext/LinearAlgebraExt.jl
Labels: backport 1.10, package extensions

#53106 extend `divrem(x, y)` for `BigInt` to `divrem(x, y, rm)`
  base/gmp.jl
Labels: performance, bignums

#52451 Docs: cross-reference `username` and `homedir`
  base/path.jl
  base/sysinfo.jl
Labels: doc

#53091 Ensure elision of `require_one_based_indexing` with high-dim array views
  base/abstractarray.jl
  test/abstractarray.jl
Labels: arrays, backport 1.10

#53083 [NFC] some minor code cleanup of getHostCPUName handling
  src/Makefile
  src/processor.cpp
  src/processor.h
  src/processor_arm.cpp
  src/processor_fallback.cpp
  src/processor_x86.cpp
  src/runtime_ccall.cpp
Labels: merge me, llvm

#52779 fix fd_in_limits test on Windows
  stdlib/FileWatching/test/runtests.jl
Labels: bugfix, ci

#53092 Reland "Don't export Dates.adjust"
  NEWS.md
  stdlib/Dates/src/Dates.jl
  stdlib/Dates/src/adjusters.jl
Labels: dates, re-land

#51747 remove length from Stateful
  base/iterators.jl
  test/iterators.jl
Labels: bugfix, minor change, forget me not, merge me

#53084 Improve inferrability of large unions, as seen in `LinearAlgebra.wrap`
  base/compiler/typelimits.jl
  stdlib/LinearAlgebra/src/LinearAlgebra.jl
  test/compiler/inference.jl
Labels: linear algebra, merge me, don't squash

#53116 make `keytype` and `valtype` work for `UnionAll` `AbstractDict`s
  base/abstractdict.jl
  test/dict.jl
Labels: bugfix, collections

#53108 Fix invalid let syntax from LHS views
  src/julia-syntax.scm
  test/subarray.jl
  test/syntax.jl
Labels: lowering

#53127 put a try catch around calls to `propertynames` in tab completion.
  stdlib/REPL/src/REPLCompletions.jl
  stdlib/REPL/test/replcompletions.jl
Labels: REPL, bugfix, merge me

#53121 inference: avoid adding duplicate edges as invoke targets
  base/compiler/ssair/inlining.jl
Labels: merge me, backport 1.10

#53134 follow up #53127, fix the broken test case
  stdlib/REPL/test/replcompletions.jl
Labels: merge me

#53101 Inplace transpose for unit Triangular may skip diagonal
  stdlib/LinearAlgebra/src/triangular.jl
  stdlib/LinearAlgebra/test/triangular.jl
Labels: linear algebra, arrays, backport 1.10

#53133 fix pkgimage.mk tree
  pkgimage.mk
  stdlib/stdlib.mk
Labels: merge me

#53117 Try to fix incorrect documentation of `nthreads`
  base/threadingconstructs.jl
Labels: doc, multithreading, backport 1.9, backport 1.10

#52950 get_bool_env: add method with a lazy default option. Add kwarg to throw
  base/env.jl
  test/env.jl
Labels: merge me

#52902 Make FDWatcher check for file descriptors equal to -1
  base/libc.jl
  stdlib/FileWatching/src/FileWatching.jl
  stdlib/FileWatching/test/runtests.jl
Labels: filesystem, stdlib, merge me

#52907 Access only stored inds in `copy` for strided `AbstractTriangular`
  stdlib/LinearAlgebra/src/triangular.jl
  stdlib/LinearAlgebra/test/triangular.jl
Labels: linear algebra, arrays, merge me
