Repository JuliaLang/julia, pull requests merged in 2024-07, with the labels that each got.

#54990 remove reference to a few stale GC environment variables
  doc/src/manual/environment-variables.md
Labels: domain:docs, GC

#54984 NFC: create an actual set of functions to manipulate GC thread ids
  src/gc.c
  src/gc.h
  src/julia_threads.h
  src/scheduler.c
Labels: GC

#54965 RFC: Make `include_dependency(path; track_content=true)` the default
  base/loading.jl
  test/RelocationTestPkg2/src/RelocationTestPkg2.jl
Labels: compiler:precompilation, backport 1.11

#54996 inference: add missing `MustAlias` widening in `_getfield_tfunc`
  base/compiler/tfuncs.jl
  test/compiler/inference.jl
Labels: backport 1.11

#54991 remove stale objprofile
  src/gc-debug.c
  src/gc.c
  src/gc.h
  src/options.h
Labels: GC

#54270 Don't require that `@inbounds` depends only on local information
  base/essentials.jl
Labels: domain:docs

#54574 Make ScopedValues public
  base/public.jl
  test/misc.jl
Labels: design, status:merge me, backport 1.11

#55015 delete possibly stale reset_gc_stats
  base/timing.jl
  src/gc.c
Labels: GC

#55030 mark a flaky Sockets test as broken
  stdlib/Sockets/test/runtests.jl
Labels: status:merge me

#55026 remove unused jl_gc_alloc_*w
  src/gc.c
  src/jl_exported_funcs.inc
  src/julia.h
  src/runtime_intrinsics.c
Labels: GC

#55029 LAPACK: annotate size check in `lacpy!` with `@noinline` for reduced latency
  stdlib/LinearAlgebra/src/lapack.jl
Labels: domain:linear algebra, compiler:latency

#55021 cleanup remset logic a bit
  src/gc.c
  src/julia_threads.h
Labels: GC

#55039 Matmul: `matprod_dest` for `Diagonal` * `SymTridiagonal`
  stdlib/LinearAlgebra/src/LinearAlgebra.jl
  stdlib/LinearAlgebra/src/bidiag.jl
Labels: domain:linear algebra, domain:arrays

#55050 remove unused managed realloc
  src/gc.c
  src/jl_exported_funcs.inc
  src/julia.h
Labels: GC

#54898 fix concurrent module loading return value
  base/loading.jl
  test/loading.jl
  test/threads_exec.jl
Labels: backport 1.11

#54707 add support for indexing in `@atomic` macro
  NEWS.md
  base/expr.jl
  base/genericmemory.jl
  base/multidimensional.jl
  test/atomics.jl
Labels: domain:arrays, kind:feature, domain:atomics

#55059 Bidiagonal to Tridiagonal with immutable bands
  stdlib/LinearAlgebra/src/bidiag.jl
  stdlib/LinearAlgebra/src/special.jl
  stdlib/LinearAlgebra/test/bidiag.jl
  test/testhelpers/FillArrays.jl
Labels: domain:linear algebra, domain:arrays

#54872 REPL: warn on non-owning qualified accesses
  NEWS.md
  stdlib/REPL/Project.toml
  stdlib/REPL/src/REPL.jl
  stdlib/REPL/src/precompile.jl
  stdlib/REPL/test/repl.jl
Labels: stdlib:REPL, status:merge me

#55081 add missing setting of inferred field when setting inference result
  base/compiler/optimize.jl
  base/compiler/typeinfer.jl
  src/gf.c
Labels: compiler:inference

#55084 Use triple quotes in TOML.print when string contains newline
  stdlib/TOML/src/print.jl
  stdlib/TOML/test/print.jl
Labels: kind:bugfix, stdlib:TOML, backport 1.10, backport 1.11

#55085 drop jl_gc_pool_alloc in favor of instrumented version
  src/gc.c
  src/jl_exported_funcs.inc
  src/llvm-pass-helpers.cpp
  test/llvmpasses/alloc-opt-gcframe.ll
  test/llvmpasses/final-lower-gc.ll
  test/llvmpasses/julia-licm-fail.ll
  test/llvmpasses/julia-licm-missed.ll
  test/llvmpasses/julia-licm.ll
Labels: GC

#55070 LinearAlgebra: LazyString in error messages for Diagonal/Bidiagonal
  stdlib/LinearAlgebra/src/bidiag.jl
  stdlib/LinearAlgebra/src/diagonal.jl
Labels: domain:linear algebra, domain:error handling

#55077 Remove IndexStyle specialization for AdjOrTransAbsMat
  stdlib/LinearAlgebra/src/adjtrans.jl
Labels: domain:linear algebra

#55091 Fix some dependency build issues with `USE_BINARYBUILDER=0`
  deps/unwind.mk
  deps/zlib.mk
Labels: domain:building, kind:bugfix, external dependencies

#55086 create GC TLS
  src/Makefile
  src/array.c
  src/gc-debug.c
  src/gc-stacks.c
  src/gc-tls.h
  src/gc.c
  src/julia_internal.h
  src/julia_threads.h
  src/scheduler.c
  src/stackwalk.c
Labels: GC

#55052 Fix `(l/r)mul!` with `Diagonal`/`Bidiagonal`
  stdlib/LinearAlgebra/src/bidiag.jl
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/LinearAlgebra/test/bidiag.jl
  stdlib/LinearAlgebra/test/diagonal.jl
  stdlib/LinearAlgebra/test/tridiag.jl
  test/testhelpers/SizedArrays.jl
Labels: domain:linear algebra, kind:bugfix, backport 1.10, backport 1.11

#54471 Actually setup jit targets when compiling packageimages instead of targeting only one
  src/codegen.cpp
  src/llvm-multiversioning.cpp
  src/processor_arm.cpp
  src/processor_fallback.cpp
  src/processor_x86.cpp
  test/precompile.jl
Labels: compiler:precompilation, status:merge me, pkgimage

#55097 Add alternative compat for public other than Compat.jl
  doc/src/manual/modules.md
Labels: domain:docs, status:merge me

#55037 remove USAGE part of error message when using main macro
  base/client.jl
Labels: domain:error messages

#55110 NFC: clenaup jl_gc_set_max_memory a bit
  src/gc.c
Labels: GC

#55105 make threaded exit and cache file loading safer by pausing other threads
  src/init.c
  src/julia.h
  src/julia_internal.h
  src/safepoint.c
  src/signals-mach.c
  src/staticdata.c
  src/threading.c
  test/atexit.jl
Labels: domain:multithreading, status:merge me

#54995 Fix type instability in convs using CompoundPeriod
  stdlib/Dates/src/periods.jl
Labels: domain:dates, compiler:inference

#55106 make codegen threadsafe, sinking the necessary lock now into JuliaOJIT
  doc/src/devdocs/jit.md
  src/aotcompile.cpp
  src/cgutils.cpp
  src/codegen.cpp
  src/gf.c
  src/init.c
  src/jitlayers.cpp
  src/jitlayers.h
  src/julia.h
  src/julia_internal.h
  src/threading.c
Labels: status:merge me

#54857 `mkpath` always returns the original path
  base/file.jl
  test/file.jl
Labels: status:merge me

#55098 use jl_gc_alloc inside jl_alloc_string
  src/array.c
Labels: domain:arrays, GC

#54936 Simplify sweeping of big values
  src/gc-debug.c
  src/gc-tls.h
  src/gc.c
  src/gc.h
Labels: GC

#55138 delete some unused fields of jl_gc_mark_cache_t
  src/gc-tls.h
Labels: GC

#55109 REPL: Remove hard-coded prompt strings in favour of pre-existing constants
  stdlib/REPL/docs/src/index.md
  stdlib/REPL/src/Pkg_beforeload.jl
  stdlib/REPL/src/REPL.jl
Labels: stdlib:REPL

#55137 replace some occurrences of iteration over 1:length with more idiomatic structures (mostly eachindex)
  base/abstractarray.jl
  base/errorshow.jl
  base/expr.jl
  base/intfuncs.jl
  base/loading.jl
  base/multidimensional.jl
  base/reflection.jl
  base/show.jl
  base/tuple.jl
Labels: kind:bugfix, domain:iteration, backport 1.10, backport 1.11

#55108 create separate function to spawn GC threads
  src/gc.c
  src/gc.h
  src/init.c
  src/julia_internal.h
  src/threading.c
  src/threading.h
Labels: GC

#54955 don't throw EOFError from sleep
  base/asyncevent.jl
Labels: status:merge me, backport 1.11

#55143 LinearAlgebra: use `≈` instead of `==` for `tr` tests in symmetric.jl
  stdlib/LinearAlgebra/test/symmetric.jl
Labels: domain:linear algebra, backport 1.10, backport 1.11

#55149 Improve static compilabilaty of Printf
  stdlib/Printf/src/Printf.jl
Labels: compiler:inference

#55156 NFC: encapsulate write barrier fast path emission into a single function
  src/llvm-late-gc-lowering.cpp
Labels: GC

#54871 Make warn missed transformations pass optional
  src/jitlayers.h
  src/pipeline.cpp
  test/misc.jl
Labels: backport 1.10, backport 1.11

#54820 Add `Base.Broadcast.BroadcastFunction` Documentation
  doc/src/base/arrays.md
Labels: domain:docs, domain:broadcast

#55123 merge unions of vararg tuples
  src/jltypes.c
  test/core.jl
Labels: domain:types and dispatch

#55139 Clean up some docs issues
  base/docs/basedocs.jl
  base/strings/basic.jl
Labels: domain:docs, status:merge me

#55167 Profile: make profile listener init a separate function
  base/Base.jl
Labels: profiler

#55178 Compat for `Base.@nospecializeinfer`
  base/expr.jl
Labels: domain:docs, backport 1.10, backport 1.11

#55197 compat notice for a[begin] indexing
  base/docs/basedocs.jl
Labels: domain:docs

#55195 Remove assumption in gc that MAX_ALIGN can only be as high as 8
  src/julia_internal.h
Labels: GC

#55142 Preserve Git objects from being garbage collected
  stdlib/LibGit2/src/blame.jl
  stdlib/LibGit2/src/blob.jl
  stdlib/LibGit2/src/commit.jl
  stdlib/LibGit2/src/config.jl
  stdlib/LibGit2/src/diff.jl
  stdlib/LibGit2/src/index.jl
  stdlib/LibGit2/src/merge.jl
  stdlib/LibGit2/src/oid.jl
  stdlib/LibGit2/src/rebase.jl
  stdlib/LibGit2/src/reference.jl
  stdlib/LibGit2/src/remote.jl
  stdlib/LibGit2/src/repository.jl
  stdlib/LibGit2/src/signature.jl
  stdlib/LibGit2/src/status.jl
  stdlib/LibGit2/src/tag.jl
  stdlib/LibGit2/src/tree.jl
  stdlib/LibGit2/src/types.jl
  stdlib/LibGit2/src/walker.jl
Labels: status:merge me

#54917 Fix potential underrun with annotation merging
  base/strings/annotated.jl
  test/strings/annotated.jl
Labels: domain:strings, kind:bugfix, backport 1.11

#53614 Allowing disabling the default prompt suffix in `Base.getpass()`
  base/util.jl
  contrib/generate_precompile.jl
  stdlib/LibGit2/test/libgit2-tests.jl
  test/secretbuffer.jl
  test/testhelpers/ChallengePrompts.jl
  test/testhelpers/FakePTYs.jl
Labels: status:merge me

#55209 correction to compat notice for a[begin]
  base/docs/basedocs.jl
Labels: domain:docs, kind:bugfix, backport 1.10, backport 1.11

#55211 macOS: print stackoverflow warning if the overflow happened inside GC
  src/signals-mach.c
Labels: GC, status:merge me, domain:error messages

#55203 document mutable struct const fields
  base/docs/basedocs.jl
Labels: domain:docs, backport 1.10, backport 1.11

#54994 Profile: add threadpool names to `Profile.print`
  base/threadingconstructs.jl
  stdlib/Profile/src/Profile.jl
Labels: GC, status:merge me, profiler

#55207 NFC: rename pool_alloc to make the naming a bit more compatible with other GC impls
  src/gc.c
  src/jl_exported_funcs.inc
  src/julia_internal.h
  src/llvm-final-gc-lowering.cpp
  src/llvm-pass-helpers.cpp
  src/llvm-pass-helpers.h
  test/compiler/codegen.jl
  test/llvmpasses/alloc-opt-gcframe.ll
  test/llvmpasses/alloc-opt-pipeline.jl
  test/llvmpasses/final-lower-gc.ll
  test/llvmpasses/julia-licm-fail.ll
  test/llvmpasses/julia-licm-missed.ll
  test/llvmpasses/julia-licm.ll
  test/llvmpasses/pipeline-o0.jl
Labels: GC

#55225 [1.11 backport] trace-compile: don't generate `precompile` statements for OpaqueClosure methods (#55072)
  src/gf.c
Labels: backport 1.11

#55218 Artifacts: use a different way of getting the UUID of a module
  stdlib/Artifacts/src/Artifacts.jl
Labels: status:merge me, backport 1.11

#55160 remove a bunch of 'skip GC threads' checks since they now have tasks
  src/gc-stacks.c
  src/gc.h
  src/stackwalk.c
Labels: GC, status:merge me

#55216 inference: refine branched `Conditional` types
  base/compiler/abstractinterpretation.jl
  base/compiler/typelattice.jl
  test/compiler/inference.jl
Labels: performance, compiler:inference

#55215 Fix racecondition in UUIDs tests
  stdlib/UUIDs/src/UUIDs.jl
  stdlib/UUIDs/test/runtests.jl
Labels: kind:bugfix, stdlib

#55088 Better error message in _check_mutable
  base/gcutils.jl
Labels: domain:docs

#54446 Apply syntax highlighting to Exprs in REPL
  doc/Manifest.toml
  stdlib/Manifest.toml
  stdlib/REPL/Project.toml
  stdlib/REPL/src/REPL.jl
Labels: stdlib:REPL, domain:display and printing

#54983 Right arrow autocompletes at line end
  stdlib/REPL/src/LineEdit.jl
Labels: stdlib:REPL

#54919 Fix annotated join with non-concrete eltype iters
  base/strings/io.jl
  test/strings/annotated.jl
Labels: domain:strings, kind:bugfix, backport 1.11

#55046 include the doc strings of `.=`, `.`, `->`, `::` into the docs
  doc/src/base/base.md
Labels: domain:docs

#53897 Fix spurious unused function warning when compiling crc32 with clang and ifunc support
  src/crc32c.c
Labels: domain:building

#54873 Add NVTX instrumentation
  Make.inc
  deps/Makefile
  deps/checksums/nvtx-733fb419540bc1d152bc682d2ca066c7bb79da29.tar.gz/md5
  deps/checksums/nvtx-733fb419540bc1d152bc682d2ca066c7bb79da29.tar.gz/sha512
  deps/nvtx.mk
  deps/nvtx.version
  src/timing.c
  src/timing.h
Labels: domain:building, profiler

#55234 NFC: remove unused gc_get_stack_ptr function
  src/gc.c
  src/gc.h
Labels: GC

#55233 add an assertion to ensure we're not cleaning-up GC state for GC threads
  src/gc.c
Labels: GC

#55013 [docs] change docstring to match code
  stdlib/LinearAlgebra/src/generic.jl
Labels: domain:docs, domain:linear algebra, status:merge me, backport 1.10, backport 1.11

#55017 TOML: Make `Dates` a type parameter
  base/loading.jl
  base/toml_parser.jl
  stdlib/REPL/src/Pkg_beforeload.jl
  stdlib/TOML/src/TOML.jl
  stdlib/TOML/test/values.jl
Labels: backport 1.11

#54033 Fix a bug in `stack`'s DimensionMismatch error message
  base/abstractarray.jl
  test/abstractarray.jl
Labels: domain:arrays, status:merge me, domain:error messages, backport 1.10, backport 1.11

#55210 [REPL] improve quality of precompile script
  base/Base.jl
  base/client.jl
  base/docs/Docs.jl
  base/loading.jl
  base/show.jl
  base/task.jl
  stdlib/REPL/src/LineEdit.jl
  stdlib/REPL/src/REPL.jl
  stdlib/REPL/src/REPLCompletions.jl
  stdlib/REPL/src/TerminalMenus/TerminalMenus.jl
  stdlib/REPL/src/Terminals.jl
  stdlib/REPL/src/docview.jl
  stdlib/REPL/src/precompile.jl
  stdlib/REPL/test/repl.jl
  test/ambiguous.jl
  test/testhelpers/FakePTYs.jl
Labels: stdlib:REPL, compiler:precompilation, status:merge me

#55121 Bump the JuliaSyntaxHighlighting stdlib
  deps/checksums/JuliaSyntaxHighlighting-4110caaf4fcdf0c614fd3ecd7c5bf589ca82ac63.tar.gz/md5
  deps/checksums/JuliaSyntaxHighlighting-4110caaf4fcdf0c614fd3ecd7c5bf589ca82ac63.tar.gz/sha512
  deps/checksums/JuliaSyntaxHighlighting-a463611e715c9ec546ac8463c38b6890d892e0c8.tar.gz/md5
  deps/checksums/JuliaSyntaxHighlighting-a463611e715c9ec546ac8463c38b6890d892e0c8.tar.gz/sha512
  stdlib/JuliaSyntaxHighlighting.version
Labels: stdlib

#55229 inference: backward constraint propagation from call signatures
  base/compiler/abstractinterpretation.jl
  base/compiler/abstractlattice.jl
  base/compiler/stmtinfo.jl
  base/compiler/typelattice.jl
  test/compiler/inference.jl
Labels: compiler:inference

#55212 Make `Base.depwarn()` public
  base/deprecated.jl
  base/public.jl
  doc/src/base/base.md
Labels: backport 1.11

#55184 Document `Task(f, n)` API
  base/docs/basedocs.jl
Labels: domain:docs

#55176 LinearAlgebra: Do not specialize arguments in check_A_mul_B!_sizes
  stdlib/LinearAlgebra/src/bidiag.jl
Labels: domain:linear algebra

#55242 fix at-main docstring to not code quote a compat box
  base/client.jl
Labels: domain:docs, backport 1.11

#53546 Add -Wformat-security to build
  Make.inc
Labels: domain:building, status:merge me

#49938 [CYGWIN] [BUILD] deps/blastrampoline: Fix build with USE_BINARYBUILDER_BLASTRAMPOLINE=0
  deps/blastrampoline.mk
Labels: domain:building, system:windows

#55237 refactor mallocarray_t to reflect it should carry jl_genericmemory_t
  src/gc-debug.c
  src/gc-tls.h
  src/gc.c
  src/gc.h
Labels: GC

#55089 Initial support for FreeBSD AArch64
  Make.inc
  deps/llvm.mk
  src/processor_arm.cpp
  src/signal-handling.c
  src/signals-unix.c
  src/stackwalk.c
Labels: system:freebsd, system:arm

#55250 Deprecate buggy `stat(::Integer)` method
  base/deprecated.jl
  base/stat.jl
  test/file.jl
Labels: kind:deprecation, status:merge me

#55236 Fix MEMPROFILE
  src/gc-debug.c
  src/options.h
Labels: GC

#54107 Add BOLT Makefile
  Make.inc
  contrib/bolt/.gitignore
  contrib/bolt/Makefile
  contrib/bolt/README.md
  contrib/pgo-lto-bolt/.gitignore
  contrib/pgo-lto-bolt/Makefile
  contrib/pgo-lto-bolt/README.md
  deps/BOLT.mk
  deps/BOLT.version
  deps/Makefile
  deps/checksums/BOLT.v18.1.4+0.x86_64-linux-gnu-cxx11.tar.gz/md5
  deps/checksums/BOLT.v18.1.4+0.x86_64-linux-gnu-cxx11.tar.gz/sha512
  deps/llvm.mk
  src/Makefile
Labels: performance, domain:building, status:merge me

#55135 == docs: strengthen link between hashing and equality
  base/operators.jl
Labels: domain:docs, domain:hashing, domain:equality

#55261 Make `jl_*affinity` tests more portable
  test/threads.jl
Labels: test, domain:multithreading, kind:bugfix, status:merge me, backport 1.11

#55275 Update download_cmake.sh to cmake 3.30.1
  contrib/download_cmake.sh
Labels: domain:building

#55251 Restrict binary ops for Diagonal and Symmetric to Number eltypes
  stdlib/LinearAlgebra/src/diagonal.jl
  stdlib/LinearAlgebra/test/diagonal.jl
Labels: domain:linear algebra, kind:bugfix, backport 1.10, backport 1.11

#55281 [CI] Run whitespace check on GitHub Actions and annotate source code
  .github/workflows/Whitespace.yml
  contrib/check-whitespace.jl
Labels: domain:ci, status:merge me

#55283 CI: Use Dependabot to update GitHub Actions in this repo, and pin all external GitHub Actions to full-length commit hashes
  .github/dependabot.yml
  .github/workflows/LabelCheck.yml
  .github/workflows/Typos.yml
  .github/workflows/cffconvert.yml
Labels: domain:ci, status:merge me

#55276 use iszero in isinteger(::AbstractFloat)
  base/floatfuncs.jl
Labels: domain:maths

#55260 adjust the name and remarks of const prop heuristics
  base/compiler/abstractinterpretation.jl
  test/compiler/inference.jl
Labels: status:merge me

#55264 set VERSION to 1.11.0-rc2
  VERSION
Labels: kind:release

#55285 Revert "Deps: after configuring CMake project, use `cmake --build`, not `make` (#54538)"
  deps/ittapi.mk
  deps/libgit2.mk
  deps/libssh2.mk
  deps/libsuitesparse.mk
  deps/libtracyclient.mk
  deps/llvm.mk
  deps/mbedtls.mk
  deps/unwind.mk
  deps/zlib.mk
Labels: domain:building, kind:bugfix, external dependencies, kind:revert

#54736 specificity: ensure fast-path in `sub/eq_msp` handle missing `UnionAll` wrapper correctly.
  src/subtype.c
  test/specificity.jl
Labels: domain:types and dispatch, kind:bugfix, status:merge me, backport 1.11

#55290 Patch curl so that it builds without BinaryBuilder
  deps/curl.mk
  deps/patches/curl-8.6.0-build.patch
Labels: domain:building, external dependencies

#55299 typeintersect: fix bounds merging during inner `intersect_all`.
  src/subtype.c
  test/subtype.jl
Labels: domain:types and dispatch, kind:bugfix, backport 1.10, backport 1.11

#55291 expand the doc string of `Union{}`
  base/docs/basedocs.jl
Labels: domain:docs, domain:types and dispatch

#55295 LAPACK: Aggressive constprop to concretely infer syev!/syevd!
  stdlib/LinearAlgebra/src/lapack.jl
  stdlib/LinearAlgebra/test/lapack.jl
Labels: domain:linear algebra, backport 1.10, backport 1.11

#55148 Random: Mark unexported public symbols as public
  stdlib/Random/src/Random.jl
Labels: status:merge me, backport 1.11

#55303 avoid overflowing show for OffsetArrays around typemax
  base/show.jl
  test/offsetarray.jl
Labels: domain:arrays, domain:display and printing, backport 1.10, backport 1.11

#55317 Restrict argument to `isleapyear(::Integer)`
  stdlib/Dates/src/types.jl
  stdlib/Dates/test/types.jl
Labels: backport 1.11

#55270 add `delete` for NamedTuple
  base/namedtuple.jl
  test/namedtuple.jl
Labels: domain:collections, kind:feature
