Repository JuliaLang/julia, pull requests merged in 2025-04, with the labels that each got.

#56902 Add `AbstractOneTo` and have `OneTo` be its subtype
  NEWS.md
  base/abstractarray.jl
  base/range.jl
  base/reshapedarray.jl
  test/abstractarray.jl
  test/testhelpers/SizedArrays.jl
Labels: arrays, design, ranges

#57950 `append_c_digits`: typeassert `Int` to improve inference
  base/intfuncs.jl
Labels: display and printing, backport 1.10, backport 1.11, invalidations, backport 1.12

#57955 Backports release 1.12
  Compiler/extras/CompilerDevTools/src/CompilerDevTools.jl
  Compiler/src/abstractinterpretation.jl
  Compiler/src/bootstrap.jl
  Compiler/src/ssair/irinterp.jl
  Compiler/src/ssair/passes.jl
  Compiler/src/typeinfer.jl
  Compiler/src/types.jl
  Compiler/src/verifytrim.jl
  Compiler/test/AbstractInterpreter.jl
  Compiler/test/inference.jl
  Compiler/test/verifytrim.jl
  base/boot.jl
  base/iobuffer.jl
  base/precompilation.jl
  base/shell.jl
  base/stream.jl
  base/strings/annotated.jl
  base/strings/annotated_io.jl
  base/strings/strings.jl
  src/aotcompile.cpp
  src/gc-stock.c
  src/gf.c
  src/jitlayers.cpp
  src/julia-syntax.scm
  src/julia_internal.h
  src/llvm-alloc-helpers.cpp
  src/llvm-alloc-opt.cpp
  src/precompile_utils.c
  src/staticdata.c
  src/staticdata_utils.c
  stdlib/REPL/docs/src/index.md
  stdlib/Random/src/RNGs.jl
  test/atomics.jl
  test/iobuffer.jl
  test/llvmpasses/alloc-opt-pass.ll
  test/opaque_closure.jl
  test/precompile.jl
  test/strings/annotated.jl
  test/trimming/trimming.jl
Labels: release

#57966 CI: add results.json tags back
  test/buildkitetestjson.jl
Labels: ci

#57934 Be more careful about iterator invalidation during recursive invalida…
  Compiler/test/invalidation.jl
  src/gf.c
  src/julia.h
  src/julia_internal.h
  src/method.c
  src/staticdata_utils.c
Labels: bugfix, backport 1.12

#57765 batch some binding changes
  base/Base_compiler.jl
  base/sysimg.jl
  doc/src/devdocs/init.md
  src/builtins.c
  src/gf.c
  src/jl_exported_funcs.inc
  src/jltypes.c
  src/julia.h
  src/julia_internal.h
  src/module.c
  src/toplevel.c
Labels: merge me, don't squash, backport 1.12

#57916 Documentation: `public` needs global scope
  doc/src/devdocs/ast.md
  doc/src/manual/modules.md
Labels: docs

#57971 Declare `AbstractOneTo` public
  base/public.jl
Labels: ranges

#57973 inference: model `Core._svec_ref`
  Compiler/src/tfuncs.jl
  Compiler/test/effects.jl
  src/jltypes.c
  test/reflection.jl
Labels: backport 1.12

#57535 set VERSION to 1.12.0-beta1
  VERSION
Labels: release

#57978 Use juliaup name and id to avoid msstore bug
  doc/src/manual/installation.md
Labels: docs, system:windows

#57984 `Base.incomplete_tag`: deduplicate code and typeassert
  base/client.jl
Labels: merge me, invalidations

#57985 Index a `CartesianIndex` with `begin`/`end`
  base/multidimensional.jl
  test/cartesian.jl
Labels: arrays

#57925 fix generated_body_to_codeinfo to avoid `string` (which is not always defined)
  base/Base_compiler.jl
  base/essentials.jl
  base/expr.jl
  base/pointer.jl
  test/staged.jl
Labels: merge me, backport 1.12

#49669 fix `nextpow`, `prevpow` for types without `typemax`
  base/intfuncs.jl
  test/intfuncs.jl
Labels: maths, bugfix, bignums, forget me not, merge me, backport 1.10, backport 1.11, backport 1.12

#57999 Add matches for invoke invalidations
  base/staticdata.jl
Labels: merge me

#58002 Profile: make `@Compiler` test robust
  stdlib/Profile/test/runtests.jl
Labels: test, ci, profiler

#57591 Logging: Improve threadsafety
  base/logging/ConsoleLogger.jl
  base/logging/logging.jl
  stdlib/Logging/test/runtests.jl
  stdlib/Logging/test/threads_exec.jl
  stdlib/Test/src/logging.jl
Labels: multithreading, logging, backport 1.10, backport 1.11, backport 1.12

#58004 Backport #57423 to v1.12
  NEWS.md
  stdlib/UUIDs/src/UUIDs.jl
Labels: docs

#58017 Documentation: Add notes about subtypes of concrete types
  doc/src/manual/types.md
Labels: docs, types and dispatch

#57986 Avoid most boxes in precompilation code
  base/precompilation.jl
Labels: invalidations, backport 1.12

#58018 typeintersect: fix triangular vars handling outside constructor.
  src/subtype.c
  test/subtype.jl
Labels: types and dispatch, backport 1.10, backport 1.11, backport 1.12

#58003 `Base`: delete unnecessary `hastypemax` methods
  base/gmp.jl
  base/intfuncs.jl
  test/intfuncs.jl
Labels: bignums, merge me

#58042 Random: get rid of `random_seed()`
  stdlib/Random/src/RNGs.jl
Labels: randomness

#58027 inference: re-enable inference overload for basic statements
  Compiler/src/abstractinterpretation.jl
Labels: backport 1.12

#58026 inference: simplify `abstract_eval_globalref`
  Compiler/src/abstractinterpretation.jl
  Compiler/test/inference.jl
  base/invalidation.jl
Labels: backport 1.12

#58039 deps: Update MPFR to v4.2.2
  deps/checksums/mpfr
  deps/mpfr.version
  stdlib/MPFR_jll/Project.toml
  stdlib/MPFR_jll/test/runtests.jl
  stdlib/Manifest.toml
Labels: external dependencies, JLLs, backport 1.12

#58011 Remove try-finally scope from `@time_imports` `@trace_compile` `@trace_dispatch`
  base/timing.jl
Labels: backport 1.10, observability, backport 1.11, backport 1.12

#58056 fix #58013, error for too few arguments in `invokelatest`
  src/builtins.c
  test/worlds.jl
Labels: bugfix, backport 1.12

#58054 Eagerly evaluate indices in `eachindex` check
  base/abstractarray.jl
  base/multidimensional.jl
  base/reinterpretarray.jl
Labels: arrays, latency

#58033 verify that `optimize_until` is a valid pass
  Compiler/src/optimize.jl
  Compiler/test/irpasses.jl
  Compiler/test/ssair.jl
  test/show.jl
Labels: compiler:optimizer

#58086 fix zero-dimensional `reverse!`
  base/arraymath.jl
  test/arrayops.jl
Labels: arrays, bugfix, collections, backport 1.10, backport 1.11, backport 1.12

#57990 Forward `to_shape` for `AbstractOneTo` to `Integer` method
  base/abstractarray.jl
  test/abstractarray.jl
  test/testhelpers/InfiniteArrays.jl
Labels: arrays

#58066 set VERSION to 1.11.5
  VERSION
Labels: release

#58062 remove unnecessary edge from `exp_impl` to `pow`
  base/special/exp.jl
Labels: maths

#57793 Adapt some more code for LLVM 20
  src/codegen.cpp
  src/jitlayers.cpp
  src/llvm-julia-licm.cpp
  src/llvm-late-gc-lowering.cpp
  src/llvm-propagate-addrspaces.cpp
  src/llvm-ptls.cpp
  test/llvmpasses/gcroots.ll
Labels: upstream, external dependencies, compiler:llvm

#58064 prevent allocation of Memory (layout and object) when not concrete
  src/datatype.c
  src/julia.h
  test/core.jl
Labels: backport 1.12

#57988 much faster code-coverage for packages
  Compiler/src/inferencestate.jl
  Compiler/src/utilities.jl
  base/loading.jl
  base/staticdata.jl
Labels: merge me, code coverage, backport 1.12

#57963 Fix `IOBuffer` `skip` regression
  base/iobuffer.jl
  test/iobuffer.jl
Labels: io, bugfix, backport 1.12

#58127 [DOC] Update installation docs: /downloads/ => /install/
  README.md
  doc/man/julia.1
  doc/src/devdocs/build/windows.md
  doc/src/index.md
  doc/src/manual/faq.md
  doc/src/manual/getting-started.md
Labels: docs, backport 1.10, backport 1.11, backport 1.12

#58126 Where to put startup.jl if JULIA_DEPOT_PATH is set
  doc/src/manual/command-line-interface.md
Labels: docs

#58130 [release-1.10] Backport version script fixes
  src/julia.expmap.in
Labels: merge me, don't squash

#58137 Ensure completion of invalidation log
  src/gf.c
  test/worlds.jl
Labels: merge me, backport 1.12

#58128 fix static show in some edge cases
  src/rtutils.c
Labels: merge me, backport 1.12

#58078 remove some more serialized junk from the sysimg
  Compiler/src/typeinfer.jl
  src/aotcompile.cpp
  src/gf.c
  src/julia_internal.h
  src/staticdata.c
Labels: don't squash, backport 1.12

#58141 Make trimmed binaries initialize on first call
  contrib/juliac.jl
  src/jlapi.c
  src/julia_internal.h
  src/threading.c
Labels: merge me, trimming, backport 1.12

#49675 transition `@timeit` in `Core.Compiler` to use tracy instead
  Compiler/src/Compiler.jl
  Compiler/src/inferencestate.jl
  Compiler/src/optimize.jl
  Compiler/src/profiling.jl
  Compiler/src/profiling/ittapi.jl
  Compiler/src/profiling/tracy.jl
  Compiler/src/ssair/inlining.jl
  Compiler/src/ssair/slot2ssa.jl
  Compiler/src/utilities.jl
  Compiler/test/inline.jl
  Compiler/test/irpasses.jl
  Compiler/test/ssair.jl
  src/timing.c
  src/timing.h
  stdlib/InteractiveUtils/test/runtests.jl
Labels: profiler

#58155 Fix `jl_set_precompile_field_replace` for 0-size fields
  src/staticdata.c
  test/precompile.jl
Labels: bugfix, merge me, backport 1.12

#57949 Fix use of `pointer` in `write(to::IO, from::GenericIOBuffer)`
  base/iobuffer.jl
  test/iobuffer.jl
Labels: io, bugfix, merge me

#56673 fix map! undefined value exposure
  base/abstractarray.jl
  test/abstractarray.jl
Labels: bugfix

#58166 staticdata: fix many mistakes in staticdata stripping
  contrib/generate_precompile.jl
  src/jltypes.c
  src/staticdata.c
  test/core.jl
  test/trimming/Makefile
Labels: backport 1.12

#58156 staticdata: prune backedges table during serialization
  src/staticdata.c
Labels: merge me, re-land

#58159 subtype: save some union stack space for ∃ free cases.
  src/subtype.c
  test/subtype.jl
Labels: types and dispatch, backport 1.10, backport 1.11, backport 1.12

#58165 inference: allow specialization of `scan_specified_partitions`
  Compiler/src/abstractinterpretation.jl
Labels: backport 1.12

#58167 gf: make dispatch heuristic representation explicit
  src/datatype.c
  src/gf.c
  src/jltypes.c
  src/julia.h
  test/core.jl
Labels: backport 1.12

#58184 fix performance regression introduced by #58027
  Compiler/src/abstractinterpretation.jl
Labels: backport 1.12

#58157 add showing a string to REPL precompile workload
  stdlib/REPL/src/precompile.jl
Labels: backport 1.10, backport 1.11, backport 1.12

#58182 Revert #57979 (and following #58083 #58082)
  Compiler/extras/CompilerDevTools/src/CompilerDevTools.jl
  Compiler/src/optimize.jl
  Compiler/src/ssair/inlining.jl
  Compiler/src/typeinfer.jl
  Compiler/test/codegen.jl
  Compiler/test/inline.jl
Labels: compiler:inference, revert

#58172 staticdata: stop compressing and storing large IR
  src/aotcompile.cpp
  src/gf.c
  src/julia_internal.h
  src/staticdata.c
Labels: merge me, re-land

#57767 JuliaSyntax parser-based REPL completions overhaul
  stdlib/REPL/src/LineEdit.jl
  stdlib/REPL/src/REPL.jl
  stdlib/REPL/src/REPLCompletions.jl
  stdlib/REPL/src/SyntaxUtil.jl
  stdlib/REPL/test/replcompletions.jl
Labels: REPL, bugfix, completions, backport 1.12

#58112 Minimal annot invalidation workaround
  base/strings/annotated_io.jl
  deps/checksums/StyledStrings-3fe829fcf611b5fefaefb64df7e61f2ae82db117.tar.gz/md5
  deps/checksums/StyledStrings-3fe829fcf611b5fefaefb64df7e61f2ae82db117.tar.gz/sha512
  deps/checksums/StyledStrings-8985a37ac054c37d084a03ad2837208244824877.tar.gz/md5
  deps/checksums/StyledStrings-8985a37ac054c37d084a03ad2837208244824877.tar.gz/sha512
  stdlib/StyledStrings.version
Labels: stdlib, invalidations, backport 1.12

#58089 faster `rand(1:n)` by outlining unlikely branch
  stdlib/Random/src/generation.jl
  test/testhelpers/coverage_file.info
Labels: performance, randomness

#58205 reduce places where Builtins are listed
  src/builtin_proto.h
  src/builtins.c
  src/cgutils.cpp
  src/codegen.cpp
  src/common_symbols2.inc
  src/gf.c
  src/init.c
  src/julia_internal.h
  src/llvm-codegen-shared.h
  src/llvm-pass-helpers.cpp
  src/method.c
  src/signals-mach.c
  src/staticdata.c
  src/toplevel.c
Labels: backport 1.12

#58200 Narrow `@inbounds` annotations in `accumulate.jl` to only indexing calls
  base/accumulate.jl
  test/boundscheck_exec.jl
Labels: arrays, bugfix

#58213 transition @zone in Core.Compiler to directly use jl_timing
  Compiler/src/Compiler.jl
  Compiler/src/profiling.jl
  Compiler/src/profiling/ittapi.jl
  Compiler/src/profiling/tracy.jl
  Compiler/src/timing.jl
  src/timing.c
  src/timing.h
Labels: merge me, profiler

#58212 improve type stability of `stat`
  base/filesystem.jl
  base/libuv.jl
  base/stat.jl
  stdlib/FileWatching/src/FileWatching.jl
  test/file.jl
Labels: backport 1.12

#58208 TaskLocalRNG: delete confusing warning in docstring
  stdlib/Random/src/Xoshiro.jl
Labels: docs, randomness

#45450 move writing to REPL history file to behind a PID lock
  stdlib/REPL/Project.toml
  stdlib/REPL/src/REPL.jl
Labels: REPL

#58209 Specialize `one` for the `SizedArray` test helper
  test/abstractarray.jl
  test/testhelpers/SizedArrays.jl
Labels: test, backport 1.12

#58120 Random.DSFMT: thread-safe access to globals
  stdlib/Random/src/DSFMT.jl
Labels: randomness, multithreading, bugfix

#58196 Subtype: enable more Tuple related fast path.
  src/subtype.c
  test/subtype.jl
Labels: performance, types and dispatch, backport 1.10, backport 1.11, backport 1.12

#58100 Support field name in `fieldoffset`
  NEWS.md
  base/runtime_internals.jl
  test/reflection.jl
Labels: feature

#58198 Test: Move the visual space in result prints to help grouping
  base/errorshow.jl
  stdlib/Test/docs/src/index.md
  stdlib/Test/src/Test.jl
  stdlib/Test/test/runtests.jl
  test/buildkitetestjson.jl
Labels: testsystem

#58218 [REPLCompletions] use better version of listing module imports for completions
  stdlib/REPL/src/REPLCompletions.jl
  stdlib/REPL/test/replcompletions.jl
Labels: REPL, backport 1.12

#58053 follow up to: "relax some doctests to better match non-requirement of ordering of Dict and Set"
  base/abstractdict.jl
  base/dict.jl
  base/set.jl
Labels: docs, test, merge me

#58202 [release-1.11] malloc: use jl_get_current_task to fix null check
  src/gc.c
Labels: merge me, backport 1.11

#58248 Update MozillaCACerts_jll to 2025-02-25
  deps/checksums/cacert-2024-12-31.pem/md5
  deps/checksums/cacert-2024-12-31.pem/sha512
  deps/checksums/cacert-2025-02-25.pem/md5
  deps/checksums/cacert-2025-02-25.pem/sha512
  deps/libgit2.version
  stdlib/MozillaCACerts_jll/Project.toml
Labels: building, external dependencies, JLLs

#58247 Update deps to OpenSSL 3.5.0
  deps/checksums/openssl
  deps/openssl.version
  stdlib/Manifest.toml
  stdlib/OpenSSL_jll/Project.toml
  stdlib/OpenSSL_jll/test/runtests.jl
Labels: building, external dependencies, JLLs

#47102 Change `mod(x, Inf)` semantics to align with C when `x` is finite
  NEWS.md
  base/float.jl
  base/int.jl
  test/numbers.jl
Labels: maths, bugfix, minor change, forget me not, merge me

#58263 add a note to devdocs about `Compiler.@zone`
  doc/src/devdocs/external_profilers.md
Labels: docs, profiler

#57129 clarify that time_ns is monotonic
  base/Base_compiler.jl
Labels: docs, dates, merge me, backport 1.10, backport 1.11

#58008 BigFloat: Print exponent without leading '+' and zeros
  base/mpfr.jl
  doc/src/manual/integers-and-floating-point-numbers.md
  test/mpfr.jl
Labels: display and printing, bignums

#58238 Rename `_aligned_msize` to prevent conflict with mingw64 defintion
  src/gc-common.c
Labels: building, system:windows

#58134 Note annotated string API is experimental in Julia 1.11 in HISTORY.md
  HISTORY.md
Labels: docs, merge me

#58274 Core._eval_import: don't throw away "from" path
  base/module.jl
  test/loading.jl
Labels: embarrassing-bugfix, merge me

#58219 Tracy: annotate timings in `JIT_Total` zone with function names
  src/jitlayers.cpp
Labels: merge me

#58206 Define `isdebugbuild` before it is imported
  base/Base.jl
Labels: merge me

#58265 OncePerX: Improve initializer type for DataType constructors
  base/lock.jl
  test/threads.jl
Labels: merge me, backport 1.12

#58271 bpart: Fix a hang in a particular corner case
  Compiler/test/inference.jl
  src/module.c
Labels: backport 1.12

#58254 Strengthen language around `@assume_effects` :consistent
  Compiler/src/abstractinterpretation.jl
  Compiler/src/typeinfer.jl
  base/expr.jl
Labels: docs, backport 1.12

#58253 Add manual chapter on world age and binding partition
  base/Base_compiler.jl
  doc/src/manual/methods.md
  doc/src/manual/modules.md
  doc/src/manual/worldage.md
Labels: docs, backport 1.12

#58290 Add/improve docs for memorynew, pointerref, pointerset, getfield
  base/docs/basedocs.jl
  base/docs/intrinsicsdocs.jl
  doc/src/base/arrays.md
  doc/src/devdocs/builtins.md
Labels: docs
