Repository JuliaLang/julia, pull requests merged in 2025-05, with the labels that each got.

#58231 Refactor julia initialization by finding and loading the sysimage earlier
  doc/src/manual/embedding.md
  src/init.c
  src/jl_exported_funcs.inc
  src/jlapi.c
  src/julia.h
  src/julia_internal.h
  src/threading.c
  test/trimming/init.c
Labels: backport 1.12

#58014 trimming: Support finalizers
  Compiler/src/typeinfer.jl
  Compiler/src/verifytrim.jl
  Compiler/test/verifytrim.jl
  base/idset.jl
  base/runtime_internals.jl
  src/gf.c
Labels: merge me, trimming, backport 1.12

#58197 trimming: Remove `init.c` from test
  test/trimming/Makefile
  test/trimming/init.c
Labels: trimming, backport 1.12

#58280 Speed up extrema 3-50x
  base/reduce.jl
  test/numbers.jl
Labels: performance, fold

#58121 fix: give access to displaysize when displaying at REPL
  stdlib/REPL/src/REPL.jl
  stdlib/REPL/test/repl.jl
Labels: bugfix, display and printing, backport 1.12

#58220 improve isdefined precision for 0 field types
  Compiler/src/tfuncs.jl
  Compiler/test/inference.jl
  base/runtime_internals.jl
Labels: performance, compiler:inference, merge me, backport 1.12

#58307 Fix lowering failure with type parameter in opaque closure
  src/julia-syntax.scm
  test/opaque_closure.jl
Labels: compiler:lowering, merge me, backport 1.12

#58258 Make build_id.lo more random
  src/module.c
  src/staticdata.c
  src/staticdata_utils.c
Labels: merge me, backport 1.10, backport 1.11, backport 1.12

#58266 add backdate_admonition to depwarn=error
  src/module.c
Labels: deprecation, merge me, error messages, backport 1.12

#58288 faster rand(::RandomDevice, NTuple{N, UInt})
  stdlib/Random/src/RNGs.jl
  stdlib/Random/src/Xoshiro.jl
  stdlib/Random/test/runtests.jl
Labels: performance, randomness

#58314 docs: some minor follow-up to JuliaLang/julia#58253
  doc/make.jl
  doc/src/manual/worldage.md
Labels: docs, backport 1.12

#58297 Add 1.12 NEWS entry on binding partition
  HISTORY.md
Labels: docs, backport 1.12

#57787 RFC: fix Base.GMP.MPZ.export! on uninitialized vectors
  base/gmp.jl
  test/gmp.jl
Labels: bignums, merge me

#58298 Fix completing positional arguments if a semicolon exists beyond the cursor
  stdlib/REPL/src/REPLCompletions.jl
  stdlib/REPL/test/replcompletions.jl
Labels: bugfix, merge me, completions

#58311 trimming: follow-ups to finalizer support
  Compiler/src/typeinfer.jl
  Compiler/src/verifytrim.jl
  Compiler/test/verifytrim.jl
  HISTORY.md
Labels: merge me, trimming, backport 1.12

#58325 improve robustness of `Vararg` checks in newly added `abstract_eval_xxx`
  Compiler/src/abstractinterpretation.jl
  Compiler/test/inference.jl
Labels: compiler:inference, backport 1.12

#58322 Fix removal of globals with addrspaces in removeAddrspaces
  src/llvm-remove-addrspaces.cpp
  test/llvmpasses/remove-addrspaces.ll
Labels: merge me, backport 1.10, backport 1.11, backport 1.12

#51533 Random: allow seeding from an RNG
  stdlib/Random/src/RNGs.jl
  stdlib/Random/src/Random.jl
  stdlib/Random/src/Xoshiro.jl
  stdlib/Random/test/runtests.jl
Labels: randomness, don't squash

#58291 replace incorrect Method.deleted_world with more useful Method.dispatch_status enum
  Compiler/src/typeinfer.jl
  base/errorshow.jl
  base/staticdata.jl
  src/gf.c
  src/jltypes.c
  src/julia.h
  src/julia_internal.h
  src/method.c
  src/opaque_closure.c
  src/precompile_utils.c
  src/staticdata.c
  src/staticdata_utils.c
  src/typemap.c
  test/core.jl
  test/worlds.jl
Labels: latency, backport 1.12

#58299 reduce data size in threads test
  test/threads_exec.jl
Labels: test

#53677 Add `ispositive`, etc.
  NEWS.md
  base/bool.jl
  base/exports.jl
  base/gmp.jl
  base/int.jl
  base/missing.jl
  base/mpfr.jl
  base/number.jl
  doc/src/base/base.md
  test/numbers.jl
Labels: maths, merge me

#58269 Expose scratch kwarg via `partialsort`
  base/sort.jl
  test/sorting.jl
Labels: merge me, sorting

#58267 Remove bugged and typically slower `minimum`/`maximum` method
  base/reduce.jl
  test/reduce.jl
Labels: performance, bugfix, fold

#58285 deprecate --sysimage-native-code=no option
  NEWS.md
  src/jloptions.c
  test/cmdlineargs.jl
Labels: deprecation

#58332 Random: move MersenneTwister in its own file
  stdlib/Random/src/MersenneTwister.jl
  stdlib/Random/src/RNGs.jl
  stdlib/Random/src/Random.jl
Labels: randomness

#58335 extend Method.dispatch_status optimization to ml_matches_visitor also
  src/gf.c
Labels: performance, backport 1.12

#58207 Lowering API: Allow for switching to JuliaLowering
  base/Base_compiler.jl
  base/boot.jl
  base/expr.jl
  base/flfrontend.jl
  base/loading.jl
  base/meta.jl
  doc/src/devdocs/eval.md
  src/ast.c
  src/jl_exported_funcs.inc
  src/julia.h
  src/toplevel.c
  stdlib/InteractiveUtils/src/macros.jl
  stdlib/REPL/src/REPL.jl
  test/meta.jl
Labels: compiler:lowering

#58192 More efficient chomp for String
  base/strings/util.jl
Labels: performance, strings, merge me

#57898 treat empty `AbstractVector` like empty `Vector` in `print_array`
  base/arrayshow.jl
Labels: arrays, display and printing

#58050 delete redundant `IteratorSize` method for `Slices`
  base/slicearray.jl
Labels: arrays, iteration

#58108 Base.get_extension & Dates.format made public
  base/public.jl
  stdlib/Dates/src/Dates.jl
Labels: backport 1.11, backport 1.12

#57683 improve docs of replace(::String) with multiple replacements
  base/strings/util.jl
Labels: docs, strings, merge me

#58010 Fix incorrect result for Base.invmod(<:Signed, <:Unsigned)
  base/intfuncs.jl
  test/intfuncs.jl
Labels: maths, bugfix, merge me

#58315 CODEOWNERS: Set `@JuliaLang/committers-available-to-review` as the global (default) codeowners for the `JuliaLang/julia` repo
  .github/CODEOWNERS
Labels: triage

#58151 Link against libstdc++ from CSL on windows
  deps/csl.mk
Labels: building, system:windows, merge me

#55864 Fix late gc lowering pass for vector intrinsics
  src/llvm-late-gc-lowering.cpp
  test/llvmpasses/image-codegen.jl
  test/llvmpasses/late-lower-gc.ll
Labels: merge me, backport 1.12

#58364 [REPL] Fix ends_with_semicolon on adjoint operator with comment
  stdlib/REPL/src/REPL.jl
  stdlib/REPL/test/repl.jl
Labels: REPL, bugfix

#58306 faster `rand(TaskLocalRNG(), 1:n)` by outlining `throw`
  stdlib/Random/src/Random.jl
  stdlib/Random/src/Xoshiro.jl
  stdlib/Random/src/generation.jl
  stdlib/Random/src/misc.jl
Labels: performance, randomness

#58343 Defer global caching of `CodeInstance` to post-optimization step
  Compiler/src/optimize.jl
  Compiler/src/typeinfer.jl
Labels: compiler:inference, merge me, backport 1.12

#57792 Fix some issues with llvm source build
  deps/llvm.mk
Labels: building

#58356 codegen: remove readonly from abstract type calling convention
  Compiler/test/codegen.jl
  src/cgutils.cpp
  src/codegen.cpp
  src/julia.h
Labels: compiler:codegen, existential crisis, backport 1.10, backport 1.11, backport 1.12

#57509 use rapidhash
  NEWS.md
  base/abstractarray.jl
  base/binaryplatforms.jl
  base/char.jl
  base/gmp.jl
  base/hashing.jl
  base/multidimensional.jl
  base/pkgid.jl
  base/regex.jl
  base/stacktraces.jl
  base/strings/substring.jl
  base/tuple.jl
  base/version.jl
  stdlib/TOML/test/print.jl
  test/arrayops.jl
  test/hashing.jl
  test/show.jl
  test/tuple.jl
Labels: performance, hashing, merge me

#58336 bpart: failed "edge" invalidation
  test/precompile.jl
Labels: bug, merge me

#58357 CODEOWNERS: Add some specific people to files
  .github/CODEOWNERS
Labels: merge me

#57877 make `WeakKeyDict` more type stable and add `const` to some fields
  base/weakkeydict.jl
Labels: performance, merge me

#57961 Add set to temporary roots to avoid O(N) check
  src/aotcompile.cpp
  src/codegen.cpp
  src/jitlayers.cpp
  src/jitlayers.h
Labels: latency, merge me, backport 1.12

#58070 fix called-argument analysis for calls with splat
  src/julia-syntax.scm
  test/syntax.jl
Labels: bugfix, merge me, backport 1.12

#58340 Make trimming tests work in an out-of-tree build.
  test/Makefile
  test/trimming/Makefile
  test/trimming/trimming.jl
Labels: building, merge me

#58377 fix Big hashing
  base/gmp.jl
  test/gmp.jl
Labels: bignums, hashing, embarrassing-bugfix, merge me

#58250 Fix error hint for `missing(1)`
  base/errorshow.jl
  test/errorshow.jl
Labels: missing data, merge me, error messages

#58284 deps: explicitely ask for make generator where needed
  deps/ittapi.mk
  deps/libgit2.mk
  deps/libssh2.mk
  deps/libsuitesparse.mk
  deps/zlib.mk
Labels: building, external dependencies

#58368 release-1.12: set VERSION to 1.12.0-beta3
  VERSION
Labels: release

#43414 Some fix for `broadcast` with offset axes.
  base/broadcast.jl
  test/broadcast.jl
Labels: bugfix, broadcast, status: waiting for PR reviewer

#58399 Use a nonzero initial size with llvm::SmallSet.
  src/jitlayers.h
Labels: bugfix, merge me, backport 1.12

#58390 Fix signedness typo in world range update
  Compiler/src/abstractinterpretation.jl
  Compiler/src/typeinfer.jl
Labels: embarrassing-bugfix, backport 1.12

#58262 Documentation: Remove warning that nonstandard primitive type sizes may reveal LLVM bugs
  doc/src/manual/types.md
Labels: docs, types and dispatch

#58401 check that hashing of types does not foreigncall (`jl_type_hash` is concrete evaluated)
  base/hashing.jl
  test/hashing.jl
Labels: backport 1.11, backport 1.12

#58398 [release-1.12] Bump LLVM 18 to include ORC patch.
  deps/checksums/llvm
  deps/llvm.version
  stdlib/libLLVM_jll/Project.toml
Labels: external dependencies, merge me

#58142 Bump LLVM to v20
  contrib/refresh_checksums.mk
  deps/checksums/clang
  deps/checksums/lld
  deps/checksums/llvm
  deps/clang.version
  deps/lld.version
  deps/llvm-tools.version
  deps/llvm.version
  src/Makefile
  src/genericmemory.c
  src/jitlayers.cpp
  src/julia.h
  src/llvm-expand-atomic-modify.cpp
  src/stackwalk.c
  src/subtype.c
  src/typemap.c
  stdlib/LLD_jll/Project.toml
  stdlib/libLLVM_jll/Project.toml
  test/clangsa/GCPushPop.cpp
Labels: building, external dependencies, merge me, JLLs, compiler:llvm

#57143 Add JuliaLang/JuliaSyntax.jl#525 to NEWS.md, flisp parser, and REPL
  NEWS.md
  src/flisp/julia_extensions.c
  src/julia-parser.scm
  stdlib/REPL/src/latex_symbols.jl
  test/syntax.jl
Labels: parser, feature, backport 1.12

#58384 CI: `AssignCommitter.yml`: Use the `on: pull_request_target` event (not the `on: pull_request` event)
  .github/CODEOWNERS
  .github/workflows/AssignCommitter.yml
Labels: ci

#58410 fix `hasmethod` with kwargs to exclude positional arg names
  base/reflection.jl
  test/reflection.jl
Labels: bugfix, embarrassing-bugfix, backport 1.10, backport 1.11, backport 1.12

#58421 Bump Documenter to v1.11.3
  doc/Manifest.toml
  doc/make.jl
Labels: docsystem, bugfix

#58415 [REPL] more reliable extension loading
  base/loading.jl
  stdlib/REPL/src/Pkg_beforeload.jl
Labels: backport 1.11, backport 1.12

#58416 add a warning to the docstring for `deepcopy`
  base/deepcopy.jl
Labels: docs

#58426 Don't create a type parameter in the closure for captured @nospecialize arguments
  src/ast.scm
  src/julia-syntax.scm
  test/syntax.jl
Labels: compiler:lowering

#58411 reflection: Label "dynamic invoke" in `code_typed`
  Compiler/src/abstractinterpretation.jl
  Compiler/src/ssair/show.jl
Labels: merge me, backport 1.12

#58425 Fix MethodError in IR validator
  Compiler/src/validation.jl
Labels: merge me

#58429 codegen: Unify printing of and add some more internal IR validity errors
  src/codegen.cpp
Labels: compiler:codegen

#58436 Add some precompiles to help loading time
  contrib/generate_precompile.jl
Labels: latency, backport 1.12

#58437 [Compiler] Add more tests for non-power-of-two primitive types
  Compiler/test/codegen.jl
Labels: test, compiler:codegen

#58457 improve the `unsafe_takestring` doc string
  base/strings/string.jl
Labels: docs, arrays, strings

#58452 avoid deadlock if crashing inside profile_wr_lock
  src/debuginfo.cpp
  src/julia_internal.h
  src/signal-handling.c
  src/threading.c
Labels: error handling, merge me, backport 1.12

#52065 Add notes that doc lookup requires REPL
  base/docs/Docs.jl
  doc/src/manual/documentation.md
Labels: docs, merge me

#58473 Add some loading precompiles
  contrib/generate_precompile.jl
Labels: packages

#58181 REPL: Show input alias (e.g., \\:cat:) for Char display
  NEWS.md
  stdlib/REPL/src/REPL.jl
  stdlib/REPL/test/repl.jl
Labels: REPL, unicode, feature, merge me

#58423 Expose native_code's jl_sysimg_gvars.
  src/aotcompile.cpp
  src/codegen-stubs.c
  src/jl_exported_funcs.inc
  src/julia_internal.h
  src/staticdata.c
Labels: compiler:codegen, gpu

#58483 Fix tbaa usage when storing into heap allocated immutable structs
  Compiler/test/codegen.jl
  src/cgutils.cpp
Labels: merge me, backport 1.11, backport 1.12

#58371 Allow constant propagation of mutables with const fields
  Compiler/src/abstractlattice.jl
  Compiler/test/irpasses.jl
Labels: performance, compiler:inference

#58464 Update init.c for error on --handle-signals=no with multiple threads
  src/init.c
Labels: multithreading, merge me

#58496 MozillaCACerts: Update to 2025-05-20
  deps/checksums/cacert-2025-02-25.pem/md5
  deps/checksums/cacert-2025-02-25.pem/sha512
  deps/checksums/cacert-2025-05-20.pem/md5
  deps/checksums/cacert-2025-05-20.pem/sha512
  deps/libgit2.version
  stdlib/MozillaCACerts_jll/Project.toml
Labels: building, external dependencies, stdlib, merge me, JLLs, backport 1.12

#58374 counting and summing Bools with a small integer `init` promote to `Int`
  base/reduce.jl
  test/reduce.jl
  test/reducedim.jl
Labels: fold

#58490 reduce: unalias arrays for hcat/vcat (map)reduce
  base/reduce.jl
  test/reduce.jl
Labels: fold

#58494 fix: Make `showarg` a public function
  base/public.jl
Labels: triage

#57588 use `@main` for juliac executable entry point
  contrib/juliac-buildscript.jl
  src/gf.c
  src/jlapi.c
  src/julia.h
  test/trimming/basic_jll.jl
  test/trimming/hello.jl
  test/trimming/trimming.jl
Labels: backport 1.12, juliac

#58412 don't strip keyword argument names with --strip-metadata
  src/staticdata.c
  test/cmdlineargs.jl
Labels: bugfix, backport 1.12

#58504 Add a new `make -C doc alldeps` target to install Documenter
  doc/Makefile
  doc/make.jl
Labels: codex

#54372 Add takestring!(x) to create a string from the content of x, emptying it
  Compiler/src/ssair/show.jl
  NEWS.md
  base/errorshow.jl
  base/exports.jl
  base/filesystem.jl
  base/indices.jl
  base/int.jl
  base/io.jl
  base/iobuffer.jl
  base/iostream.jl
  base/logging/ConsoleLogger.jl
  base/pkgid.jl
  base/show.jl
  base/stat.jl
  base/strings/annotated.jl
  base/strings/basic.jl
  base/strings/io.jl
  base/strings/string.jl
  base/strings/unicode.jl
  base/strings/util.jl
  base/task.jl
  base/toml_parser.jl
  base/util.jl
  doc/src/base/strings.md
  doc/src/devdocs/functions.md
  doc/src/manual/getting-started.md
  src/genericmemory.c
  stdlib/Base64/src/encode.jl
  stdlib/FileWatching/src/pidfile.jl
  stdlib/InteractiveUtils/src/InteractiveUtils.jl
  stdlib/LibGit2/src/utils.jl
  stdlib/Markdown/src/Common/block.jl
  stdlib/Markdown/src/GitHub/GitHub.jl
  stdlib/Markdown/src/parse/parse.jl
  stdlib/Markdown/src/parse/util.jl
  stdlib/REPL/src/LineEdit.jl
  stdlib/REPL/src/REPL.jl
  test/iobuffer.jl
  test/strings/basic.jl
Labels: arrays, strings, feature, don't squash

#58529 Fix out-of-tree docs build
  doc/Makefile
  doc/make.jl
Labels: docsystem

#58542 docs: Add missing compat annotation for `isdefinedglobal`
  base/docs/basedocs.jl
Labels: backport 1.12, codex

#58131 make just one MethodTable
  Compiler/src/Compiler.jl
  Compiler/src/abstractinterpretation.jl
  Compiler/src/stmtinfo.jl
  Compiler/src/tfuncs.jl
  Compiler/src/typeinfer.jl
  Compiler/src/utilities.jl
  base/Base_compiler.jl
  base/deprecated.jl
  base/docs/bindings.jl
  base/errorshow.jl
  base/invalidation.jl
  base/methodshow.jl
  base/operators.jl
  base/reflection.jl
  base/runtime_internals.jl
  base/show.jl
  base/strings/io.jl
  base/summarysize.jl
  base/sysimg.jl
  doc/src/devdocs/functions.md
  doc/src/devdocs/types.md
  src/builtins.c
  src/clangsa/GCChecker.cpp
  src/codegen.cpp
  src/datatype.c
  src/gc-stock.c
  src/gf.c
  src/interpreter.c
  src/ircode.c
  src/jl_exported_data.inc
  src/jltypes.c
  src/julia.h
  src/julia_internal.h
  src/method.c
  src/module.c
  src/precompile_utils.c
  src/rtutils.c
  src/staticdata.c
  src/staticdata_utils.c
  stdlib/Serialization/src/Serialization.jl
  stdlib/Test/src/Test.jl
  test/clangsa/MissingRoots.c
  test/core.jl
  test/misc.jl
  test/precompile.jl
  test/reflection.jl
  test/show.jl
  test/stacktraces.jl
  test/syntax.jl
  test/worlds.jl
Labels: backport 1.12

#58533 Restrict arg of sizehint!(::Dict, n) to Integer
  base/dict.jl
  test/dict.jl
Labels: merge me

#58559 test: Automatically install Revise for `revise-` targets
  doc/Makefile
  test/Makefile
  test/choosetests.jl
  test/runtests.jl
Labels: testsystem

#58565 MethodTable/Cache PR updates
  base/methodshow.jl
  doc/src/devdocs/functions.md
  doc/src/devdocs/types.md
  stdlib/Serialization/src/Serialization.jl
Labels: bugfix, backport 1.12

#58549 fix Module for Base.jl for Revise.jl
  base/Base.jl
  base/Base_compiler.jl
  base/sysimg.jl
Labels: backport 1.12

#58540 fix breakage with `jl_get_global`
  base/loading.jl
  src/ast.c
  src/gf.c
  src/init.c
  src/interpreter.c
  src/jl_uv.c
  src/jlapi.c
  src/julia.h
  src/module.c
  src/precompile.c
  src/rtutils.c
  src/scheduler.c
  src/staticdata_utils.c
  src/task.c
  src/threading.c
  src/toplevel.c
  sysimage.mk
Labels: backport 1.12

#58555 CI: `PrAssignee.yml`: Don't retry on 403
  .github/workflows/PrAssignee.yml
Labels: merge me

#58226 Add binding invalidations to log
  base/invalidation.jl
  src/gf.c
  test/precompile.jl
  test/worlds.jl
Labels: merge me

#58578 make typejoin nothrow
  base/promotion.jl
  test/core.jl
Labels: merge me, backport 1.12

#58590 make _jl_gc_collect jl_notsafepoint
  src/gc-stock.c
Labels: GC

#58572 Add world age hint for UndefVarError
  base/errorshow.jl
  test/errorshow.jl
Labels: error messages, backport 1.12

#58585 REPLCompletions: remove `builtin_tfunction(::REPLInterpreter)` overload
  stdlib/REPL/src/REPLCompletions.jl
Labels: backport 1.12

#58577 ensure Type{T} gets inserted with the right key when T is a TypeVar
  src/typemap.c
  test/reflection.jl
Labels: backport 1.12

#58110 relax dispatch for the `IteratorSize` method for `Generator`
  base/generator.jl
  test/iterators.jl
Labels: bugfix, iteration, merge me, backport 1.10, backport 1.11, backport 1.12

#58524 expand the `IteratorSize(::Type{Char})` method to cover `AbstractChar`
  base/char.jl
  test/char.jl
Labels: strings, design, iteration, merge me

#58487 Introduce a few GC controls to limit the heap size when running benchmarks
  base/options.jl
  src/gc-mmtk.c
  src/gc-stock.c
  src/jloptions.c
  src/jloptions.h
  src/julia.h
  test/cmdlineargs.jl
Labels: GC, merge me, GC: MMTK
