Repository JuliaLang/julia, pull requests merged in 2025-06, with the labels that each got.

#58599 Revert "Introduce a few GC controls to limit the heap size when running benchmarks"
  base/options.jl
  src/gc-mmtk.c
  src/gc-stock.c
  src/jloptions.c
  src/jloptions.h
  src/julia.h
  test/cmdlineargs.jl
Labels: merge me

#58582 fix `@invokelatest` performance regression
  base/reflection.jl
  src/ast.c
  src/builtins.c
  src/gf.c
  src/init.c
  src/interpreter.c
  src/jl_uv.c
  src/jlapi.c
  src/jltypes.c
  src/julia.h
  src/julia_internal.h
  src/module.c
  src/precompile.c
  src/rtutils.c
  src/scheduler.c
  src/staticdata_utils.c
  src/task.c
  src/threading.c
  src/toplevel.c
Labels: merge me, backport 1.12

#58606 Don't add status label to prs automatically
  .github/workflows/PrAssignee.yml
Labels: ci, merge me, github-actions

#58626 CI: `PrAssignee.yml`: Add note about public membership in the bot comment
  .github/workflows/PrAssignee.yml
Labels: merge me

#58633 set VERSION to 1.12.0-beta4
  VERSION
Labels: release

#58649 Fix whitespace in new libunwind patch
  deps/patches/libunwind-missing-parameter-names.patch
Labels: building, external dependencies

#58507 Use type wrapper directly rather than typename in `FieldError`
  base/errorshow.jl
  test/errorshow.jl
Labels: merge me, error messages, backport 1.12

#58651 module: Tweak backdate-warning-turned error
  src/module.c
Labels: backport 1.12

#58659 Make pool allocator stats from gc_page_fragmentation_stats more visible for Julia user code
  src/gc-stock.c
Labels: GC, merge me

#58560 Fix and test stdlib JLL deps on Windows
  base/binaryplatforms.jl
  stdlib/CompilerSupportLibraries_jll/src/CompilerSupportLibraries_jll.jl
  stdlib/GMP_jll/src/GMP_jll.jl
  stdlib/LLVMLibUnwind_jll/src/LLVMLibUnwind_jll.jl
  stdlib/LibCURL_jll/Project.toml
  stdlib/LibCURL_jll/src/LibCURL_jll.jl
  stdlib/LibGit2_jll/Project.toml
  stdlib/LibGit2_jll/src/LibGit2_jll.jl
  stdlib/LibSSH2_jll/Project.toml
  stdlib/LibSSH2_jll/src/LibSSH2_jll.jl
  stdlib/LibUnwind_jll/src/LibUnwind_jll.jl
  stdlib/MPFR_jll/Project.toml
  stdlib/MPFR_jll/src/MPFR_jll.jl
  stdlib/Manifest.toml
  stdlib/OpenBLAS_jll/src/OpenBLAS_jll.jl
  stdlib/OpenLibm_jll/Project.toml
  stdlib/OpenLibm_jll/src/OpenLibm_jll.jl
  stdlib/OpenSSL_jll/src/OpenSSL_jll.jl
  stdlib/PCRE2_jll/src/PCRE2_jll.jl
  stdlib/SuiteSparse_jll/src/SuiteSparse_jll.jl
  stdlib/Zlib_jll/src/Zlib_jll.jl
  stdlib/Zstd_jll/Project.toml
  stdlib/Zstd_jll/src/Zstd_jll.jl
  stdlib/dSFMT_jll/src/dSFMT_jll.jl
  stdlib/libLLVM_jll/src/libLLVM_jll.jl
  stdlib/libblastrampoline_jll/src/libblastrampoline_jll.jl
  stdlib/nghttp2_jll/Project.toml
  stdlib/nghttp2_jll/src/nghttp2_jll.jl
  test/stdlib_dependencies.jl
Labels: system:windows, test, stdlib, JLLs

#58668 Try workaround for macOS launcher issue
  contrib/mac/app/startup.applescript
Labels: system:mac

#58672 improve inferred effects for `reshape` for `Array`
  base/reshapedarray.jl
  test/arrayops.jl
Labels: arrays, merge me, compiler:effects, backport 1.12

#58674 Unicode: Force-inline isgraphemebreak!
  base/strings/unicode.jl
  stdlib/Unicode/test/runtests.jl
Labels: performance, unicode, parser, backport 1.10, backport 1.11, backport 1.12

#58596 `Random`: make `randperm!` and `randcycle!` accept `AbstractArray`
  NEWS.md
  stdlib/Random/src/misc.jl
  stdlib/Random/test/runtests.jl
Labels: arrays, randomness, stdlib, feature, status: waiting for PR reviewer

#58635 Specialize iterate for `IndexLinear` arrays
  base/abstractarray.jl
  test/abstractarray.jl
  test/stacktraces.jl
Labels: performance, arrays

#58695 Test: Fix failfast for for loops
  stdlib/Test/src/Test.jl
  stdlib/Test/test/runtests.jl
Labels: testsystem, bugfix, backport 1.10, backport 1.11, backport 1.12

#58714 follow-up to hashing BigInts; expand testing
  base/gmp.jl
  base/hashing.jl
  test/gmp.jl
Labels: bugfix, bignums, hashing

#58716 Add compat note for OncePer types
  base/lock.jl
Labels: docs, backport 1.12

#58713 GC Always Full Flag
  base/options.jl
  doc/src/manual/environment-variables.md
  src/gc-debug.c
  src/gc-stock.c
  src/gc-stock.h
  src/jloptions.c
  src/jloptions.h
  test/gc.jl
Labels: GC, merge me

#58710 UnicodeData: Update to version 16
  deps/checksums/UnicodeData-13.0.0.txt/md5
  deps/checksums/UnicodeData-13.0.0.txt/sha512
  deps/checksums/UnicodeData-16.0.0.txt/md5
  deps/checksums/UnicodeData-16.0.0.txt/sha512
  doc/Makefile
Labels: unicode, merge me, dependencies, backport 1.12

#58708 curl: Update to 8.14.1
  deps/checksums/curl
  deps/curl.version
  deps/jlutilities/documenter/Manifest.toml
  stdlib/LibCURL_jll/Project.toml
  stdlib/Manifest.toml
Labels: building, external dependencies, merge me, JLLs

#58728 Add test for eltype(::Type{<:AbstractString})
  test/strings/basic.jl
Labels: test

#58616 Define `in` for `CartesianIndex` ranges
  base/multidimensional.jl
  test/cartesian.jl
Labels: backport 1.12

#58743 inference: improve `isdefined_tfunc` accuracy for `MustAlias`
  Compiler/src/tfuncs.jl
  Compiler/test/inference.jl
Labels: backport 1.12

#58742 Increment state conditionally in `CartesianIndices` iteration
  base/multidimensional.jl
Labels: performance, arrays, backport 1.10, backport 1.11, backport 1.12

#58610 Bump llvm to 18.1.7+5 to fix memcpyopt issue
  deps/checksums/clang
  deps/checksums/lld
  deps/checksums/llvm
  deps/clang.version
  deps/lld.version
  deps/llvm-tools.version
  deps/llvm.version
  stdlib/LLD_jll/Project.toml
  stdlib/Manifest.toml
  stdlib/libLLVM_jll/Project.toml
Labels: backport 1.12

#58579 Work around LLVM JITLink stack overflow issue.
  src/jitlayers.cpp
  test/cmdlineargs.jl
Labels: backport 1.12

#58762 fix fallback code path in `take!(::IOBuffer)` method
  base/iobuffer.jl
Labels: io, backport 1.12

#58770 Fix multi-threading docs typo
  doc/src/manual/multi-threading.md
Labels: merge me

#58771 Fix markdown bullet list in variables-and-scoping.md
  doc/src/manual/variables-and-scoping.md
Labels: docs

#56580 adds the `nth` function for iterables
  NEWS.md
  base/iterators.jl
  test/iterators.jl
Labels: iteration, feature, merge me

#58773 fix showing types after removing using Core
  base/show.jl
  test/show.jl
Labels: backport 1.12

#58778 inform compiler about local variable definedness
  base/logging/logging.jl
  base/partr.jl
  base/ryu/shortest.jl
Labels: backport 1.12

#58755 better effects for `iterate` for `Memory` and `Array`
  base/array.jl
  base/genericmemory.jl
  test/abstractarray.jl
Labels: arrays, iteration, merge me, compiler:effects

#58732 Test: Hide REPL internals in backtraces
  stdlib/Test/src/Test.jl
Labels: testsystem, backport 1.10, backport 1.11, backport 1.12

#58774 Update docs for various type predicates
  base/runtime_internals.jl
  doc/src/base/base.md
Labels: docs

#58727 Test: show context when a let testset errors
  stdlib/Test/src/Test.jl
  stdlib/Test/test/runtests.jl
  test/runtests.jl
Labels: testsystem

#58720 prevent unnecessary repeated squaring calculation
  base/intfuncs.jl
Labels: performance, maths, merge me, backport 1.12

#58731 LibGit2: Update to 1.9.1
  base/binaryplatforms.jl
  deps/checksums/libgit2
  deps/jlutilities/documenter/Manifest.toml
  deps/jlutilities/revise/Manifest.toml
  deps/libgit2.mk
  deps/libgit2.version
  stdlib/LibGit2_jll/Project.toml
  stdlib/LibGit2_jll/src/LibGit2_jll.jl
  stdlib/LibGit2_jll/test/runtests.jl
  stdlib/Manifest.toml
  test/stdlib_dependencies.jl
Labels: building, libgit2, external dependencies, JLLs

#58785 Unify `_checkbounds_array` into `checkbounds` and use it in more places
  base/array.jl
  base/essentials.jl
  base/genericmemory.jl
  base/strings/basic.jl
Labels: arrays

#48125 Require all tuples in eachindex to have the same length.
  base/tuple.jl
  test/tuple.jl
Labels: bugfix, collections, forget me not

#58791 trailing dimensions in eachslice
  base/slicearray.jl
  test/arrayops.jl
Labels: arrays

#58794 codegen: slightly optimize gc-frame allocation
  src/cgutils.cpp
  src/codegen.cpp
  src/llvm-gc-interface-passes.h
  src/llvm-late-gc-lowering.cpp
Labels: compiler:optimizer

#58804 codegen: ensure safepoint functions can read the pgcstack
  src/codegen.cpp
Labels: compiler:codegen, GC, backport 1.12

#58795 build: Error when attempting to set USECLANG/USEGCC
  Make.inc
  contrib/asan/Make.user.asan
  contrib/pgo-lto/Makefile
  contrib/tsan/Make.user.tsan
  doc/src/devdocs/sanitizers.md
Labels: building

#58821 release-1.10: fix typo in spawn test file
  test/spawn.jl
Labels: embarrassing-bugfix

#58792 codegen: gc wb for atomic FCA stores
  Compiler/test/codegen.jl
  src/cgutils.cpp
Labels: compiler:codegen, bugfix, merge me, backport 1.12

#58828 codegen: relaxed jl_tls_states_t.safepoint load
  src/llvm-codegen-shared.h
Labels: compiler:codegen

#58825 add METHOD_SIG_LATEST_ONLY optimization to MethodInstance too
  base/essentials.jl
  base/staticdata.jl
  doc/src/devdocs/locks.md
  src/gf.c
  src/jltypes.c
  src/julia.h
  src/method.c
  src/staticdata.c
  test/core.jl
Labels: merge me, backport 1.12
