Repository JuliaLang/julia, pull requests merged in 2025-03, with the labels that each got.

#57562 Make no-body `function` declaration implicitly `global`
  src/julia-syntax.scm
  test/syntax.jl
Labels: backport 1.12

#57579 avoid overflow on functionality to print backtrace of safepoint straggler
  src/safepoint.c
  test/threads_exec.jl
Labels: embarrassing-bugfix, merge me

#57599 `Base.Precompilation.ExplicitEnv`: handle type instability better in constructor
  base/precompilation.jl
Labels: compiler:precompilation, merge me, invalidations

#57532 cleanup old builtins
  Compiler/src/abstractinterpretation.jl
  Compiler/src/ssair/show.jl
  Compiler/src/verifytrim.jl
  base/Base_compiler.jl
  base/boot.jl
  base/essentials.jl
  base/reflection.jl
  contrib/generate_precompile.jl
  contrib/juliac-buildscript.jl
  src/builtin_proto.h
  src/builtins.c
  src/codegen.cpp
  src/staticdata.c
  stdlib/REPL/test/precompilation.jl
  stdlib/REPL/test/repl.jl
Labels: merge me, backport 1.12

#49949 Doc float complex
  base/complex.jl
  base/essentials.jl
  base/float.jl
Labels: docs, arrays, merge me

#57548 Use memchr for membership of byte in bytearray
  base/strings/search.jl
  test/operators.jl
Labels: performance, arrays, merge me

#57541 inference: allow `PartialStruct` to represent strict undef field
  Compiler/src/Compiler.jl
  Compiler/src/abstractinterpretation.jl
  Compiler/src/tfuncs.jl
  Compiler/src/typeinfer.jl
  Compiler/src/typelattice.jl
  Compiler/src/typelimits.jl
  Compiler/test/inference.jl
  base/coreir.jl
  base/runtime_internals.jl
  src/jltypes.c
Labels: compiler:inference, merge me

#57091 performance improvements for `any` and `all`
  base/anyall.jl
  base/tuple.jl
Labels: performance, collections

#57614 bpart: Rename partition flags, turn binding flags atomic
  Compiler/src/Compiler.jl
  Compiler/src/abstractinterpretation.jl
  base/invalidation.jl
  base/runtime_internals.jl
  base/show.jl
  src/ast.c
  src/codegen.cpp
  src/gf.c
  src/julia.h
  src/julia_internal.h
  src/method.c
  src/module.c
  src/staticdata.c
  src/toplevel.c
  stdlib/REPL/src/REPL.jl
  stdlib/REPL/src/REPLCompletions.jl
  stdlib/REPL/src/docview.jl
  test/rebinding.jl
Labels: backport 1.12

#57608 strings: type assert in the generic `nextind`, `prevind` methods
  base/strings/basic.jl
  test/strings/basic.jl
Labels: strings, invalidations

#57607 `AnnotatedString`: add concrete type asserts to `isvalid`, `ncodeunits`
  base/strings/annotated.jl
  test/strings/annotated.jl
Labels: strings, invalidations

#57182 Backports for 1.10.9
  base/compiler/abstractinterpretation.jl
  base/compiler/abstractlattice.jl
  base/compiler/optimize.jl
  base/compiler/ssair/inlining.jl
  base/compiler/ssair/passes.jl
  base/compiler/tfuncs.jl
  base/compiler/typelattice.jl
  base/compiler/typeutils.jl
  base/docs/basedocs.jl
  base/expr.jl
  base/io.jl
  base/meta.jl
  deps/checksums/Pkg-0b3af4592d7158d4cba1132a9cc9df15e8e51706.tar.gz/md5
  deps/checksums/Pkg-0b3af4592d7158d4cba1132a9cc9df15e8e51706.tar.gz/sha512
  deps/checksums/Pkg-6390ea92bf585e182c96cb5db7529c067874e5f5.tar.gz/md5
  deps/checksums/Pkg-6390ea92bf585e182c96cb5db7529c067874e5f5.tar.gz/sha512
  deps/checksums/openlibm
  deps/openlibm.mk
  deps/patches/openlibm-stack-markings.patch
  src/builtins.c
  src/jltypes.c
  src/subtype.c
  src/threading.c
  stdlib/LinearAlgebra/test/triangular.jl
  stdlib/OpenLibm_jll/Project.toml
  stdlib/Pkg.version
  stdlib/REPL/src/REPLCompletions.jl
  stdlib/Test/src/Test.jl
  test/compiler/inference.jl
  test/compiler/inline.jl
  test/core.jl
  test/iobuffer.jl
  test/misc.jl
Labels: release

#57590 `Base`: `power_by_squaring`: don't require `one`
  base/intfuncs.jl
  test/math.jl
  test/testhelpers/EvenIntegers.jl
Labels: maths, bugfix, backport 1.12

#57581 Fix numbering on bulleted list in documentation.md
  doc/src/manual/documentation.md
Labels: docs

#57575 Add table of contents to contributing.md and re-arrange sligthly.
  CONTRIBUTING.md
Labels: docs

#57625 Align module base between invalidation and edge tracking
  Compiler/src/abstractinterpretation.jl
  Compiler/src/utilities.jl
  base/expr.jl
  base/invalidation.jl
  base/runtime_internals.jl
  src/gc-stock.c
  src/gf.c
  src/jltypes.c
  src/julia.h
  src/julia_internal.h
  src/method.c
  src/module.c
  src/staticdata.c
  test/rebinding.jl
Labels: don't squash, backport 1.12

#55752 Precompile Markdown parsing AND printing
  stdlib/Markdown/src/Markdown.jl
Labels: merge me, backport 1.12

#57564 Fix C compiler warning when using pre-C11 compiler
  src/julia.h
Labels: merge me

#57584 Add missing arg in TOML `printvalue`
  stdlib/TOML/src/print.jl
  stdlib/TOML/test/print.jl
Labels: merge me, TOML, backport 1.10, backport 1.11, backport 1.12

#57628 unify `prod(::Tuple{Vararg{Int}})` with a single method
  base/tuple.jl
Labels: merge me, fold

#57650 Compiler: Fix pre-compilation as separate package
  Compiler/src/Compiler.jl
  Compiler/src/typeinfer.jl
  Compiler/src/verifytrim.jl
Labels: merge me

#57652 Updating mmtk binding version and fixing CI
  deps/checksums/mmtk_julia
  deps/mmtk_julia.version
Labels: merge me, GC: MMTK

#54667 Refactor char/string and byte search
  base/char.jl
  base/strings/search.jl
  base/util.jl
  stdlib/CRC32c/src/CRC32c.jl
  test/strings/search.jl
Labels: performance, strings, search & find, status: waiting for PR reviewer

#57632 CI: improve the content of results.json
  test/buildkitetestjson.jl
Labels: testsystem, ci, merge me

#57654 Fix julia.h for use in MSVC
  src/julia.h
Labels: building, system:windows, merge me

#57659 trimming: Avoid `--strip-ir` when compiling with `--trim=no`
  contrib/juliac.jl
Labels: trimming, backport 1.12

#57660 lock: Specialize `OncePerX` more aggressively
  base/lock.jl
  test/trimming/hello.jl
Labels: trimming, backport 1.12

#57664 feat(markdown): support both en dash and em dash in Markdown parsing
  stdlib/Markdown/src/Common/inline.jl
  stdlib/Markdown/src/GitHub/GitHub.jl
  stdlib/Markdown/src/Julia/Julia.jl
  stdlib/Markdown/test/runtests.jl
Labels: display and printing, stdlib, markdown

#57657 trimming: improve output on failure
  Compiler/src/verifytrim.jl
  base/boot.jl
  src/jl_exported_data.inc
  src/jltypes.c
  src/julia.h
  src/precompile_utils.c
  src/staticdata.c
Labels: trimming, backport 1.12

#57653 typeinfer: Add `force_enable_inference` to override Module-level inference settings
  Compiler/src/typeinfer.jl
  Compiler/src/types.jl
Labels: trimming, backport 1.12

#57672 trimming: Locate package modules by PkgId
  contrib/juliac-buildscript.jl
Labels: merge me, trimming, backport 1.12

#57681 Fix unused variable warnings
  src/gc-interface.h
Labels: merge me

#57679 Change NEWS to 1.13 and move gcsafe note to HISTORY.
  HISTORY.md
  NEWS.md
Labels: merge me

#57682 [1.12] Add PR number to `gc_safe` NEWS entry
  NEWS.md
Labels: merge me

#57662 Clarify objectid doc
  base/runtime_internals.jl
Labels: docs, merge me

#57684 Compiler: `abstract_apply`: declare type of two closure captures
  Compiler/src/abstractinterpretation.jl
Labels: compiler:inference, merge me, invalidations, backport 1.12

#57663 Document that try/finally expressions take the value of the try block
  base/docs/basedocs.jl
  doc/src/manual/control-flow.md
Labels: docs, merge me

#57587 trimming: Restore JLL support
  base/error.jl
  base/experimental.jl
  contrib/juliac-buildscript.jl
  test/trimming/Makefile
  test/trimming/Project.toml
  test/trimming/basic_jll.jl
  test/trimming/trimming.jl
Labels: merge me, trimming, backport 1.12

#57680 platform.h: Always compile in MSVC mode if _MSC_VER is set
  src/support/platform.h
Labels: system:windows

#57633 Compiler/ssair/passes: `_lift_svec_ref`: improve type stability
  Compiler/src/ssair/passes.jl
Labels: invalidations, backport 1.12

#57721 Libdl: Improve inference for `string(::LazyLibraryPath)`
  base/libdl.jl
Labels: stdlib, backport 1.11, trimming, invalidations, backport 1.12

#57722 fix alignment computation for nested objects
  doc/src/manual/calling-c-and-fortran-code.md
  src/cgutils.cpp
  src/datatype.c
  test/core.jl
Labels: merge me, backport 1.10, backport 1.11, backport 1.12

#57724 nghttp2 1.65.0
  deps/checksums/nghttp2
  deps/nghttp2.version
  doc/Manifest.toml
  stdlib/Manifest.toml
  stdlib/nghttp2_jll/Project.toml
  stdlib/nghttp2_jll/test/runtests.jl
Labels: building, external dependencies, JLLs

#57734 Libdl: Store path contents as `Tuple` instead of `Vector`
  base/libdl.jl
Labels: trimming, backport 1.12

#57631 type assert `Core.SimpleVector` in `typejoin_union_tuple`
  base/promotion.jl
Labels: invalidations, backport 1.12

#57691 errorshow: typeassert `::SimpleVector` in `_collapse_repeated_frames`
  base/errorshow.jl
Labels: error messages, invalidations, backport 1.12

#57726 curl 8.12.1
  deps/checksums/curl
  deps/curl.version
  doc/Manifest.toml
  stdlib/LibCURL_jll/Project.toml
  stdlib/Manifest.toml
Labels: building, external dependencies, merge me, JLLs

#57576 Avoid requiring the REPL to be loaded to show error hints for undefined variables
  base/errorshow.jl
  stdlib/REPL/src/REPL.jl
  stdlib/REPL/test/repl.jl
  test/errorshow.jl
Labels: backport 1.12

#57582 Compiler: abstract calls: type assert to help stability
  Compiler/src/abstractinterpretation.jl
Labels: compiler:inference, invalidations

#57741 [LateLowerGC] Fix typo sret handling so we properly handle selects in the worklist
  src/llvm-gc-interface-passes.h
  src/llvm-late-gc-lowering.cpp
  test/llvmpasses/late-lower-gc-sret.ll
Labels: embarrassing-bugfix, compiler:llvm

#57735 Update suitesparse to 7.10.1
  deps/checksums/suitesparse
  deps/libsuitesparse.version
  stdlib/Manifest.toml
  stdlib/SuiteSparse_jll/Project.toml
Labels: building, sparse, external dependencies, JLLs

#57718 `StepRange` constructor with an `OrdinalRange` argument
  base/range.jl
  test/ranges.jl
Labels: ranges

#57743 inference: exclude uncached frames from callstack
  Compiler/src/inferencestate.jl
Labels: bugfix, backport 1.12

#57766 avoid some unnecessary sysimage compilation meant for Pkg.jl
  contrib/generate_precompile.jl
Labels: invalidations

#57760 remove old cruft from jl_set_typeinf_func
  src/gf.c
Labels: backport 1.12

#57770 Readding mmtk_julia's binary checksum
  deps/checksums/mmtk_julia
Labels: GC: MMTK

#57758 improve sysimage.mk more completely
  Makefile
  sysimage.mk
Labels: building, merge me

#57727 better behaved loading errors
  HISTORY.md
  Makefile
  base/loading.jl
  doc/src/manual/modules.md
  test/loading.jl
  test/precompile.jl
Labels: packages, don't squash, backport 1.12

#56987 staticdata: remove `reinit_ccallable`
  src/aotcompile.cpp
  src/codegen-stubs.c
  src/gf.c
  src/jitlayers.cpp
  src/jitlayers.h
  src/jl_exported_funcs.inc
  src/julia.h
  src/julia_internal.h
  src/staticdata.c
  test/llvmcall.jl
  test/precompile.jl
Labels: merge me, backport 1.12

#57725 [docs] Clarify that Float16 is supported natively when possible
  doc/src/manual/integers-and-floating-point-numbers.md
Labels: docs, float16, backport 1.10, backport 1.11, backport 1.12

#57709 Skip trailing comma in displaying a 1D `CartesianIndex`
  base/multidimensional.jl
  test/cartesian.jl
Labels: display and printing

#57778 fix missing `!` in a strip-metadata case
  src/staticdata.c
Labels: merge me, backport 1.12

#57747 prevent unnecessary compilation while defining `Base.TOML.ValidSigs`
  base/toml_parser.jl
Labels: TOML, invalidations

#57775 print admonition for auto-import only once per module
  src/module.c
Labels: merge me, backport 1.12

#57777 enable JuliaSyntax parser for user code in juliac
  contrib/juliac-buildscript.jl
Labels: backport 1.12

#57776 loading: fix ccall signature in _include_from_serialized
  base/loading.jl
Labels: merge me

#57461 Minor change to an example for clarity.
  doc/src/manual/methods.md
Labels: docs

#57757 Fix documentation of `jl_gc_collect`
  doc/src/manual/embedding.md
  src/gc-interface.h
Labels: docs

#57719 Initial implementation of lazy JLLs for LinearAlgebra
  base/Base.jl
  base/binaryplatforms.jl
  base/libdl.jl
  deps/checksums/LinearAlgebra-1ce842652c07b33289046236b09bc59bad43dbeb.tar.gz/md5
  deps/checksums/LinearAlgebra-1ce842652c07b33289046236b09bc59bad43dbeb.tar.gz/sha512
  deps/checksums/LinearAlgebra-f781708fffbd7e74ff17686c334ddd4f22d75a2c.tar.gz/md5
  deps/checksums/LinearAlgebra-f781708fffbd7e74ff17686c334ddd4f22d75a2c.tar.gz/sha512
  stdlib/CompilerSupportLibraries_jll/src/CompilerSupportLibraries_jll.jl
  stdlib/LinearAlgebra.version
  stdlib/OpenBLAS_jll/src/OpenBLAS_jll.jl
  stdlib/OpenBLAS_jll/test/runtests.jl
  stdlib/SuiteSparse_jll/src/SuiteSparse_jll.jl
  stdlib/libblastrampoline_jll/src/libblastrampoline_jll.jl
  stdlib/libblastrampoline_jll/test/runtests.jl
  test/trimming/Makefile
Labels: merge me, backport 1.12

#57621 Bugfix: String indexing in big_str macro
  base/int.jl
  test/int.jl
Labels: bugfix, bignums, macros, merge me, backport 1.12

#57074 [internals] add time metrics for every CodeInstance
  Compiler/src/abstractinterpretation.jl
  Compiler/src/inferencestate.jl
  Compiler/src/typeinfer.jl
  Compiler/src/utilities.jl
  base/Base.jl
  base/Base_compiler.jl
  base/essentials.jl
  base/float.jl
  base/hashing.jl
  base/rounding.jl
  doc/src/devdocs/ast.md
  src/gf.c
  src/jitlayers.cpp
  src/jltypes.c
  src/julia.h
  src/julia_internal.h
  src/staticdata.c
  test/core.jl
Labels: compiler:codegen, compiler:inference, merge me, observability, backport 1.12

#57790 fix special function `::Real` fallback stack overflow
  base/math.jl
  test/math.jl
Labels: maths, bugfix, backport 1.10, backport 1.11, backport 1.12

#57798 libunwind: Link against Julia zlib
  deps/unwind.mk
Labels: building, external dependencies

#57801 stackwalk: fix heuristic termination
  src/stackwalk.c
Labels: error handling, backport 1.10, backport 1.11, backport 1.12

#57809 Fix fptrunc Float64 -> Float16 rounding through Float32
  src/runtime_intrinsics.c
  test/intrinsics.jl
Labels: bugfix, float16, backport 1.10, backport 1.11, backport 1.12

#57811 CSL_jll: Fix `libatomic` path for FreeBSD
  stdlib/CompilerSupportLibraries_jll/src/CompilerSupportLibraries_jll.jl
Labels: bugfix, merge me, backport 1.12

#57819 Restore `PATH_list` for CSL_jll, etc.
  stdlib/CompilerSupportLibraries_jll/src/CompilerSupportLibraries_jll.jl
  stdlib/OpenBLAS_jll/src/OpenBLAS_jll.jl
  stdlib/libblastrampoline_jll/src/libblastrampoline_jll.jl
Labels: merge me, JLLs, backport 1.12

#57815 Make callable-related MethodError messages more descriptive
  base/errorshow.jl
  test/errorshow.jl
Labels: error messages

#57804 add missing wb in jl_maybe_reresolve_implicit
  src/julia_internal.h
  src/module.c
Labels: backport 1.12

#56978 Support `sort(keys(::Dict))` and `sort(values(::Dict))`
  NEWS.md
  base/sort.jl
  test/sorting.jl
Labels: collections, iteration, sorting

#57697 display "(empty range)" in case of empty ranges
  base/show.jl
  base/sort.jl
Labels: display and printing, ranges

#57823 Perf improvement for 2 arg show for `UnitRange` type
  base/range.jl
Labels: performance, display and printing, merge me, ranges

#57686 CI: Store Passes in results.json + various improvements.
  .gitignore
  stdlib/Mmap/test/runtests.jl
  stdlib/Test/src/Test.jl
  test/buildkitetestjson.jl
  test/core.jl
  test/runtests.jl
  test/testdefs.jl
Labels: testsystem, ci

#57470 Fix error message when using `const` inside a function, require the LHS to be global, and prohibit "const x[] = 1"
  src/julia-syntax.scm
  test/syntax.jl
Labels: compiler:lowering, bugfix, error messages, don't squash

#57835 Add Base.Sys.which to docs
  doc/src/base/base.md
Labels: docs

#57656 Fix OncePerThread issue when building a sysimage using the current sysimage
  base/lock.jl
  test/compileall.jl
Labels: backport 1.12

#57828 Fix package precompilation (PrecompileTools)
  src/julia_internal.h
  src/staticdata_utils.c
  test/precompile.jl
Labels: merge me, backport 1.12

#57781 restrict dispatch of some custrom string macros to `String`
  base/int.jl
  stdlib/Dates/src/io.jl
  stdlib/Sockets/src/IPAddr.jl
Labels: merge me, backport 1.10, backport 1.11, invalidations, backport 1.12

#57847 remove duplicate doc for optional IOContext arguments
  base/strings/io.jl
Labels: docs, merge me

#57849 Fix `fargs` handling for `form_partially_defined_struct`
  Compiler/src/abstractinterpretation.jl
  Compiler/test/inference.jl
Labels: merge me

#57802 Fix #55820 : missing _convert_rounding methods for RoundFromZero
  base/rounding.jl
  test/rounding.jl
Labels: merge me

#57848 iobuffer: copyline: type assert `Int` to prevent invalidation
  base/iobuffer.jl
Labels: io, merge me, backport 1.11, invalidations, backport 1.12

#57825 Show evaluated test arguments for most functions
  stdlib/Test/docs/src/index.md
  stdlib/Test/src/Test.jl
  stdlib/Test/test/runtests.jl
Labels: testsystem

#57398 Make remaining float intrinsics require float arguments
  Compiler/src/tfuncs.jl
  Compiler/test/effects.jl
  src/APInt-C.cpp
  src/intrinsics.cpp
  src/runtime_intrinsics.c
  test/intrinsics.jl
Labels: merge me, backport 1.10, backport 1.11, backport 1.12

#57837 restore method count after redefinition to hide old definition
  Compiler/test/invalidation.jl
  base/runtime_internals.jl
  test/core.jl
  test/reflection.jl
Labels: backport 1.12

#57845 codegen: fix alignment of source in typed_load from a unsafe_load
  src/ccall.cpp
  src/cgutils.cpp
  src/codegen.cpp
  src/intrinsics.cpp
Labels: compiler:codegen, backport 1.12

#57854 jlchecksum: Use first matching checksum instead of concatenating
  deps/checksums/suitesparse
  deps/tools/jlchecksum
Labels: building

#57755 bpart: Redesign representation of implicit imports
  Compiler/src/Compiler.jl
  Compiler/src/abstractinterpretation.jl
  Compiler/src/ssair/EscapeAnalysis.jl
  Compiler/test/codegen.jl
  base/Base_compiler.jl
  base/errorshow.jl
  base/invalidation.jl
  base/iterators.jl
  base/runtime_internals.jl
  base/show.jl
  base/sysimg.jl
  src/jl_exported_funcs.inc
  src/julia.h
  src/julia_internal.h
  src/method.c
  src/module.c
  src/staticdata.c
  src/toplevel.c
  test/core.jl
  test/reflection.jl
Labels: backport 1.12

#57806 effects: fix effects of atomic pointer operations
  Compiler/src/tfuncs.jl
  Compiler/test/effects.jl
  stdlib/REPL/test/replcompletions.jl
Labels: backport 1.12

#57853 fix `mod` for mixes of `Signed` and `Unsigned`
  base/int.jl
  test/int.jl
Labels: maths, bugfix, backport 1.10, correctness bug ⚠, backport 1.11, backport 1.12

#57773 REPL: call display on the backend
  stdlib/REPL/src/REPL.jl
  stdlib/REPL/test/repl.jl
Labels: REPL, merge me, backport 1.11, backport 1.12

#57583 Document how return types and return values should be used in docstrign signature lines
  doc/src/manual/documentation.md
Labels: docs, merge me

#57824 Add option to force emission of const return function
  base/reflection.jl
  src/aotcompile.cpp
  src/cgutils.cpp
  src/init.c
  src/julia.h
Labels: compiler:codegen, gpu

#57832 [Linux] Prevent GC from running during process teardown
  src/signals-unix.c
Labels: system:linux, GC, merge me

#57862 `Base`: `macro cmd`: restrict argument to `String`
  base/cmd.jl
Labels: macros, backport 1.10, backport 1.11, invalidations, backport 1.12

#57858 Profile: remove scope from profile macros
  stdlib/Profile/src/Allocs.jl
  stdlib/Profile/src/Profile.jl
  stdlib/Profile/test/runtests.jl
Labels: profiler, backport 1.10, backport 1.11, backport 1.12

#56924 Don't error when initializing LibGit2 with CA roots path
  stdlib/LibGit2/src/LibGit2.jl
  stdlib/LibGit2/test/bad_ca_roots.jl
Labels: libgit2, security, stdlib

#57693 relax some doctests to better match non-requirement of ordering of `Dict` and `Set`
  base/abstractdict.jl
  base/abstractset.jl
  base/array.jl
  base/dict.jl
  base/essentials.jl
  base/float.jl
  base/hashing.jl
  base/regex.jl
  base/set.jl
  stdlib/TOML/docs/src/index.md
Labels: docs, test

#57705 Improve documentation of run(Cmd)
  base/process.jl
Labels: docs

#57626 Disallow non-lhs all-underscore variable names
  src/julia-syntax.scm
  src/method.c
  test/syntax.jl
Labels: compiler:lowering, backport 1.12

#57829 fix Float32/Float16 power for giant integer exponents
  base/math.jl
  test/math.jl
Labels: maths

#57894 Revert "unify `prod(::Tuple{Vararg{Int}})` with a single method (#57628)"
  base/tuple.jl
Labels: fold, revert

#57887 Print var"string" as raw string
  base/show.jl
  test/show.jl
Labels: bugfix, display and printing

#57892 Fix corner case of double module import
  src/toplevel.c
  test/syntax.jl
Labels: bugfix, backport 1.12

#57889 Fix typo in codegen for `isdefinedglobal`
  Compiler/test/codegen.jl
  src/codegen.cpp
Labels: bugfix, backport 1.12

#57897 overload lattice ops within `abstract_eval_isdefinedglobal`
  Compiler/src/abstractinterpretation.jl
Labels: backport 1.12

#57833 precompile_utils: Don't auto-enqueue `macro` methods for pre-compilation
  src/precompile_utils.c
  test/precompile.jl
Labels: bugfix, backport 1.10, backport 1.11, invalidations, backport 1.12

#57896 inference: fix exct modeling of `setglobal!`
  Compiler/src/abstractinterpretation.jl
  Compiler/test/inference.jl
Labels: backport 1.12

#57860 `Compiler`: `abstract_eval_invoke_inst`: type assert `Expr`
  Compiler/src/ssair/irinterp.jl
Labels: invalidations, backport 1.12

#57859 `Compiler`: `walk_to_defs`, `collect_leaves`: specialize for `predecessors`
  Compiler/src/ssair/passes.jl
Labels: merge me, invalidations, backport 1.12

#57907 only update fragmentation data for pages that are not lazily freed
  src/gc-stock.c
Labels: GC, backport 1.11, backport 1.12

#57913 `Random`: `show` method for `MersenneTwister`: invalidation resistance
  stdlib/Random/src/RNGs.jl
Labels: randomness, display and printing, invalidations

#57570 Refactor IOBuffer code
  base/iobuffer.jl
  base/stream.jl
  test/iobuffer.jl
Labels: io, merge me

#57648 lowering: Fix captured vars shadowed by an inner global declaration
  doc/src/manual/variables-and-scoping.md
  src/julia-syntax.scm
  test/syntax.jl
Labels: breaking, compiler:lowering, bugfix

#57912 Move `eachregion(::AnnotatedString)` implementation to `Base`
  base/strings/annotated.jl
  base/strings/annotated_io.jl
  base/strings/strings.jl
  test/strings/annotated.jl
Labels: invalidations, backport 1.12

#57919 `REPL`: typeassert `displaysize` return value
  stdlib/REPL/src/Terminals.jl
  stdlib/REPL/test/repl.jl
Labels: REPL

#57915 `Base`: shell escaping: inference improvement to prevent invalidation
  base/shell.jl
Labels: merge me, backport 1.10, backport 1.11, invalidations, backport 1.12

#57938 Fixed documentation for Test
  stdlib/Test/docs/src/index.md
Labels: docs, testsystem, merge me

#57926 fix trimming for scheduler task
  base/task.jl
  contrib/juliac-buildscript.jl
Labels: trimming, backport 1.12

#57932 `_precompilepkgs`: interactive progress display: fix unintended capture
  base/precompilation.jl
Labels: compiler:precompilation, backport 1.11, invalidations, backport 1.12

#57927 fix trimming size regression due to handling binding backedges in the wrong place
  src/staticdata.c
  test/trimming/trimming.jl
Labels: trimming, backport 1.12

#57917 staticdata: Memoize `type_in_worklist` query
  src/staticdata.c
  src/staticdata_utils.c
Labels: compiler:precompilation, latency, backport 1.10, backport 1.11, backport 1.12

#57928 fix opaque_closure sparam capture
  src/julia-syntax.scm
  test/opaque_closure.jl
Labels: compiler:lowering, backport 1.12

#57920 `Base`: typeassert `displaysize` return value
  base/show.jl
  test/show.jl
Labels: io, display and printing

#57940 [backports-release-1.11] REPL: only load stdlibs during precompilation script
  stdlib/REPL/src/precompile.jl
Labels: REPL

#57954 CI: Record one result with duration
  test/buildkitetestjson.jl
  test/runtests.jl
Labels: ci
